<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div id="body-container-details">
		<h2>Best Deals</h2>
		<p style="font-size: 13px; line-height: 19px; padding: 10px;">
		FutureBazaar.com is the online retail store of Future Group.
		We leverage relationships with manufacturers to source best deals and genuine products.
		The products come along with Manufacturer's Warranty and all requisite guarantees.
		You can now make your online shopping experience completely stress free and rely on us for all your shopping needs.		
		</p>

</div>
</body>
</html>
