<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div id="body-container-details">
<h2>Delivery Guarantee</h2>
<a id="7DaysDeliveryGuarantee" name="7DaysDeliveryGuarantee"></a>
<h3>7 Days Delivery Guarantee!</h3>
<p>We offer a <b>'7 Days Delivery Guarantee’</b> on most products bought on the site. The products ordered will be at your doorstep within 7 business days (Monday to Friday), of your payment having been cleared. Deliveries to Uttar Pradesh, Jammu &amp; Kashmir,
 East and North East may need an additional 4 days to fulfill the statutory requirements by these states.
</p>
<br>
<h3>How does the guarantee work?</h3>
<p>We are able to provide guaranteed delivery for our products because we manage our complete supply chain from sourcing to warehousing to dispatch. We are confident of our capability and therefore, we would offer an Online Discount Coupon worth 50% of the
 product value or Rs.500/- per Order (whichever is lower) if we fail to deliver in time. The Discount Coupon will be sent to all the eligible customers within 2 weeks post the Order is delivered.</p>
<h3>Future Money EMI Payment Option</h3>
<p>For orders which are placed using Future Money EMI Payment Option, delivery guarantee is applicable only after all the required documents are submitted with Future Money. The details of the documents required and the location of the nearest drop-point will
 be conveyed by the Future Money team once the downpayment has been made with Future Bazaar.</p>
<h3>What is not covered</h3>
<ul>
<li>Products under Saree, Jewellery &amp; Gift Voucher category. </li><li>Delivery delays due to customer unavailability. (If the courier has come to the shipping address within seven business days and not been able to deliver. The courier may or may not contact you before coming - that is something we have no control over).
</li><li>Cheque/DD orders - Delays in depositing the Cheque/DD from customers end could result in products going out-of-stock in which case we will refund the amount and cancel the order.
</li><li>Cash Payment orders - Delays in depositing cash from customers end could result in products going out-of-stock in which case we will refund the amount and cancel the order.
</li><li>Delivery guarantee is not valid for special promotional offers (e.g. Sabse Saste Teen Din, Maha Bachat Sale etc).
</li><li>Delivery guarantee is not applicable for products on backordered status </li></ul>
</div>
</body>
</html>
