{% extends 'web/base.html' %}
{%block extra_css%}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/product.css" type="text/css" media="screen, projection">
{%endblock%}

{% load cc_tags%}
{% load web_tags%}
{% block search_menu %}
<div> Refine your Search</div>
{% endblock %}
{% block content %}    
<div class="category_bar" id="category_bar">
    <form action="/bd/{{brand.slug}}/{{brand.id}}/" method="get" id="filter_form"> 
    <div id="price-filter" style="padding-bottom:10px;">
        <p>
            <label for="amount" style="text-align:left">Price range</label>
            <br />
            <span id="amount" style="border:0; color:#f6931f; font-weight:bold;"></span>
            {{filter_form.min}}
            {{filter_form.max}}
        </p>
        <div id="slider-range"></div>
    </div>
    {% for field in filter_form %}
        {% if field.html_name == "min" or field.html_name == "max"  or field.html_name == "gmin" or field.html_name == "gmax" %}
        {% else %}
        <div class="filters">
        {{field.label_tag}} 
        <br />
        Select&nbsp;<a style="cursor:pointer" t="show" field="{{field.name}}" id="{{field.name}}_showall">All</a>&nbsp;|&nbsp;<a field="{{field.name}}" t="hide" id="{{field.name}}_hideall" style="cursor:pointer">None</a>
        {{field}}
        </div>
        {% endif %}
    {% endfor %}
    </form>
</div>
<div class= "span-18 last">
    <div class="cat_path"><a href="/">home</a>&raquo;<a href="{{filter_form.category.url}}">{{filter_form.category.slug}}</a></div>
    <div class="sort_bar">Sort By: 
    {%for k,v in filters.items%}
        <a href="{%filter_href request "sort" v.opposite%}" class="{%filter_class request  "sort" v.original%}">{{k}}</a>
    {%endfor%}
    </div>
    <div class="cat_grid">
         
            {%for product in products %}
                <div class="product_thumb">
                    <a href="{{product.product.url}}">
                    <div style="height:100px"><img src="{{MEDIA_URL}}{{product.image}}"/><br/></div>
                    <span class="adTitle">{{product.product.title|truncate:40}}</span><br/>
                    <span class="mrp">MRP {%ifequal product.product.currency 'inr'%}Rs. {%else%}$ {%endifequal%}{{product.rateChart.list_price|money}}</span><br/>
                    <span class="offerPrice">{%ifequal product.product.currency 'inr'%}Rs. {%else%}$ {%endifequal%}{{product.rateChart.offer_price|money}}</span>               </a>
                </div>
            {%endfor%} 
    </div>
    <div style="clear:both"></div>
    {% if pagination %}
    <div class="pagination" style="clear:both">
    {% if pagination.enable_prev %}
    <a href="{{pagination.base_url}}page={{pagination.prev_page}}">Prev</a>
    {% endif %}
    {% for page in pagination.first_set %}
    <a href="{{pagination.base_url}}page={{page}}">{{page}}</a>
    {% endfor %}
    {% if pagination.show_sep1 %}
    ...
    {% endif %}
    {% for page in pagination.prev_set %}
    <a href="{{pagination.base_url}}page={{page}}">{{page}}</a>
    {% endfor %}
    <div>{{pagination.cur_page}}</div>
    {% for page in pagination.next_set %}
    <a href="{{pagination.base_url}}page={{page}}">{{page}}</a>
    {% endfor %}
    {% if pagination.show_sep2 %}
    ...
    {% endif %}
    {% for page in pagination.last_set %}
    <a href="{{pagination.base_url}}page={{page}}">{{page}}</a>
    {% endfor %}
    {% if pagination.enable_next %}
    <a href="{{pagination.base_url}}page={{pagination.next_page}}">Next</a>
    {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script_footer %}
{{block.super}}

<script type="text/javascript">


$(document).ready(function(){


    $(".filters a").click(function() {
        if ($(this).attr("t") == 'hide'){
            elems = $('input[name=' + $(this).attr("field") + ']');
            for(var i=0; i<elems.length; i++){
                elems[i].checked = false;
            }
        }
        if($(this).attr("t") == 'show'){
            elems = $("input[name="+ $(this).attr("field") + "]");
            for(var i=0; i<elems.length; i++){
                elems[i].checked = true;
            }
            $('#filter_form').submit();
        }
    });

    $(".filters input[type=checkbox]").click(function() {
        var any_id = 'id_' + this.name + '_0';
        if(this.id == any_id){
            if($('#' + any_id).attr('checked')){
                elems = $('input[name=' + this.name + ']');
                for(var i=0; i<elems.length ; i++){
                    if(elems[i].id != any_id)
                    {
                        elems[i].checked=false;
                    }
                }
            }
        }
        else{
            if(this.checked){
                $('#' + any_id).attr('checked', false);
            }
        }
        $('#filter_form').submit();
    });


});

</script>


{% endblock %}
