<div class="prod_info_popup">
  <div class="top_10"> <span class="top_txt">&nbsp;</span> <span class="top_prod">Products for your Travel Kit by Vibhash Tiwari,</span> <span class="fash">Fashion Photographer</span> </div>
  <div class="add_info">
    <div class="add_info1">Additional information required:</div>
    <div class="add_info2">In order to proceed with your purchase, we need some additional information for some of the products that you have selected</div>
  </div>
  <div class="local_pro">
    <div class="local_pro_container">
      <div class="local_one"><img src="{{MEDIA_URL}}images/one.gif"/><span class="local_cont">Local Delivery Products</span></div>
      <div class="local_content_a">Delivery of products listed below is available only at specific locations because these cannot be shipped<br />
        nationally. Please enter your shipping address pin code to check availability of the same</div>
    </div>
    <div class="stock">
      <div class="sto_img"><img src="media/images/laptop.gif"/></div>
      <div class="sto_content"> <span class="sto_content_a">Lenovo 59045422/59051886 Laptop<br />
        </span> <span class="sto_content_b">Rs. 2,500<br />
        </span> <span>&nbsp;<br />
        </span> <span class="sto_content_c">Availability : &nbsp;</span> <span class="sto_content_d">In Stock</span> </div>
    </div>
    <div style="clear:both">&nbsp;</div>
    <div class="stock">
      <div class="sto_img"><img src="{{MEDIA_URL}}images/laptop.gif"/></div>
      <div class="sto_content"> <span class="sto_content_a">Lenovo 59045422/59051886 Laptop<br />
        </span> <span class="sto_content_b">Rs. 2,500<br />
        </span> <span>&nbsp;<br />
        </span> <span class="sto_content_c">Availability : &nbsp;</span> <span class="sto_content_e">Sold Out</span> </div>
    </div>
    <div class="pin_code"> <span>Enter Pin-Code:</span> <span>
      <input type="text" />
      </span> <a href="#">Check  Availability</a> </div>
  </div>
  <div style="clear:both">&nbsp;</div>
  <div class="local_pro">
    <div class="local_pro_container">
      <div class="local_one"><img src="{{MEDIA_URL}}images/two.gif"/><span class="local_cont">Color and Size selection</span></div>
      <div class="local_content_a">Please select the color and size of your preference for the following products.</div>
    </div>
    <div class="color_image">
      <input type="checkbox" />
      <img src="{{MEDIA_URL}}images/top.gif" /> </div>
    <div class="color_content"> <span style="color:#000; font-size:16px; font-weight:bold;">DJ&C Plain V-Neck<br />
      T Shirt, Fuschia<br />
      </span> <span style="clear:both">&nbsp;<br />
      </span> <span style="color:#eb9255; font-size:24px">Rs 99</span> </div>
    <div style="margin-left:10px; width:245px;float:left">
      <table cellpadding="0" cellspacing="10"  style="border-left:1px dotted #666; ">
        <tr>
          <td>Color :&nbsp;</td>
          <td style="background-color:#fee67a;"></td>
          <td style="background-color:#db6700; padding-right:20px"></td>
          <td style="background-color:#bc1356;padding-right:20px"></td>
          <td style="background-color:#1391ba;padding-right:20px"></td>
          <td style="background-color:#457c07;padding-right:20px"></td>
        </tr>
        <tr>
          <td>Size:</td>
          <td style="background-color:#dedede;color:#717171;">XS</td>
          <td style="background-color:#dedede;color:#717171;">S</td>
          <td style="background-color:#dedede;color:#717171;">M</td>
          <td style="background-color:#dedede;color:#717171;">L</td>
          <td style="background-color:#dedede;color:#717171;">XL</td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top:10px; border-top:1px dotted #999"><span>Availability:</span> <span class="sto_content_d">In Stock</span> </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="clear:both">&nbsp;</div>
  <div class="local_pro">
    <div class="color_image">
      <input type="checkbox" />
      <img src="{{MEDIA_URL}}images/bag.gif" /> </div>
    <div class="color_content"> <span style="color:#000; font-size:16px; font-weight:bold;">Nike Sports Shoe,<br />
      White-Navy<br />
      </span> <span style="clear:both">&nbsp;<br />
      </span> <span style="color:#eb9255; font-size:24px">Rs 1,499</span> </div>
    <div style="margin-left:10px; width:245px;float:left">
      <table cellpadding="0" cellspacing="10"  style="border-left:1px dotted #666; ">
        <tr>
          <td>Color :&nbsp;</td>
          <td style="background-color:#fee67a;"></td>
          <td style="background-color:#db6700; padding-right:20px"></td>
          <td style="background-color:#bc1356;padding-right:20px"></td>
          <td style="background-color:#1391ba;padding-right:20px"></td>
          <td style="background-color:#457c07;padding-right:20px"></td>
        </tr>
        <tr>
          <td>Size:</td>
          <td style="background-color:#dedede;color:#717171;">XS</td>
          <td style="background-color:#dedede;color:#717171;">S</td>
          <td style="background-color:#dedede;color:#717171;">M</td>
          <td style="background-color:#dedede;color:#717171;">L</td>
          <td style="background-color:#dedede;color:#717171;">XL</td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top:10px; border-top:1px dotted #999"><span>Availability:</span> <span class="sto_content_d">In Stock</span> </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="clear:both">&nbsp;</div>
  <div class="local_pro">
    <div class="color_image">
      <input type="checkbox" />
      <img src="{{MEDIA_URL}}images/shoe.gif" /> </div>
    <div class="color_content"> <span style="color:#000; font-size:16px; font-weight:bold;">Sensei SLB154 - <br />
      E807 Laptop Bag<br />
      </span> <span style="clear:both">&nbsp;<br />
      </span> <span style="color:#eb9255; font-size:24px">Rs 2,990</span> </div>
    <div style="margin-left:10px; width:245px;float:left; padding-bottom:10px">
      <table cellpadding="0" cellspacing="10"  style="border-left:1px dotted #666; ">
        <tr>
          <td>Color :&nbsp;</td>
          <td style="background-color:#fee67a;"></td>
          <td style="background-color:#db6700; padding-right:20px"></td>
          <td style="background-color:#bc1356;padding-right:20px"></td>
          <td style="background-color:#1391ba;padding-right:20px"></td>
          <td style="background-color:#457c07;padding-right:20px"></td>
        </tr>
        <tr>
          <td>Size:</td>
          <td style="background-color:#dedede;color:#717171;">XS</td>
          <td style="background-color:#dedede;color:#717171;">S</td>
          <td style="background-color:#dedede;color:#717171;">M</td>
          <td style="background-color:#dedede;color:#717171;">L</td>
          <td style="background-color:#dedede;color:#717171;">XL</td>
        </tr>
        <tr>
          <td colspan="6" style="padding-top:10px; border-top:1px dotted #999"><span>Availability:</span> <span class="sto_content_e">Sold Out</span> </td>
        </tr>
      </table>
    </div>
    <div style="border-top:1px dotted #666;padding-top:10px;margin-left:10px;font-family:Arial, Helvetica, sans-serif;float:left;"> <span style="font-size:14px; font-weight:bold">Please Note:</span>
      <ul style="font-size:12px;">
        <li>Only available products will be added to your shopping sack.</li>
        <li>Discounts that are based on purchase of multiple products from the above list may change accordingly.</li>
      </ul>
      <div style="padding-left:225px"><img src="{{MEDIA_URL}}images/buy.gif" /></div>
      <div style="padding-left:265px; color:#0435b3; font-size:12px; padding-top:8px"><a href="#">Cancel</a></div>
    </div>
  </div>
</div>
