{%extends "web/base.html"%}
{%load cc_tags%}
{%load web_tags%}
{% block page_title %}{% render_product_page_title product request%}{% endblock %}
{% block page_desc %}{% render_product_page_desc product request%}{% endblock %}
{% block page_tags %}{% render_product_page_tags product request%}{% endblock %}
{% block extra_header %}
{% if product.meta_description %}
<meta content="{{product.meta_description}}" name="Description"/>
{% endif %}
<link rel="canonical" href="http://{{request.client.domain}}{{request.path}}"/>
{% endblock %}
{% block content %}
<div id="breadcrumb" class="fdgray"><a href="/">Home</a> &raquo; <a href="{%cc_url request product.category.url%}">{{product.category.name}}</a> &raquo;&nbsp;{{product.title}} </div>

<div id="product">
  <div class="pdp_top_section">
    <div class="product_details">
      <h1>{{product.title}}</h1>
      <div class="img_wrapper">
        <div class="prod_img"> <img src="{{product_images.0.get_display_url}}"  id="display_img" width="300" height="370" alt="{{product.title}}" title="{{product.title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_p.jpg" %}';}return false;" onerror_cnt="0" />
          <div class="product_img_thumb filmstrip ca"> {%for image in product_images%}      
            {% if product_images|length > 1 %} <img src="{{image.get_filmstrip_url}}" class="steal_thumb_img" width="36" height="46" alt="" title="{{product.title}}" display="{{image.get_display_url}}" /> {% endif %}      
            {%endfor%} </div>
        </div>
        {% if product_images.0.type == 'scene7' %}
        <div class="zoom_in_wrapper">
          <div class="zoom_in flink f11" title="Zoom in">View larger image</div>
        </div>
        {% endif %}
        <div class="clear"></div>
        <table class="like_buttons mart10" style="width:auto;">
          <tr>
            <td class="like_g">
              <g:plusone width="75" size="medium" href="http://{{request.client.domain}}/{{product.url}}"></g:plusone>
            </td>
            <td class="like_tw">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://{{request.client.domain}}{% cc_url request product.url %}" data-text="Would love to buy this!" data-count="horizontal" data-via="futurebazaar">Tweet</a> 
            </td>
            <td class="like_fb">
            <fb:like href="http://{{request.client.domain}}/{{product.url}}" send="false" layout="button_count" width="226" show_faces="false" font=""></fb:like>
            </td>
          </tr>
        </table>
      </div>
      <div class="product_desc">     
        <table class="mart5 marb10 brand_table">
          <tr>
            <td><div class="left padr10"><span class="fblack">Brand: </span> <span class="fb"><a href="{%cc_url request product.brand.url%}" title="{{product.brand}}">{{product.brand}}</a></span></div>
              <div id="avg_stars" class="hide left padl10 padr10" style="border-left:1px solid #8fcbef; border-right:1px solid #8fcbef;">
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 0.25 %} checked="checked" {% endifequal %} title="Poor"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 0.50 %} checked="checked" {% endifequal %} title="Poor"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 0.75 %} checked="checked" {% endifequal %} title="Poor"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.00 %} checked="checked" {% endifequal %} title="Poor"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.25 %} checked="checked" {% endifequal %} title="Average"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.50 %} checked="checked" {% endifequal %} title="Average"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.75 %} checked="checked" {% endifequal %} title="Average"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.00 %} checked="checked" {% endifequal %} title="Average"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.25 %} checked="checked" {% endifequal %} title="Good"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.50 %} checked="checked" {% endifequal %} title="Good"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.75 %} checked="checked" {% endifequal %} title="Good"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.00 %} checked="checked" {% endifequal %} title="Good"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.25 %} checked="checked" {% endifequal %} title="Great"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.50 %} checked="checked" {% endifequal %} title="Great"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.75 %} checked="checked" {% endifequal %} title="Great"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.00 %} checked="checked" {% endifequal %} title="Great"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.25 %} checked="checked" {% endifequal %} title="Excellent"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.50 %} checked="checked" {% endifequal %} title="Excellent"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.75 %} checked="checked" {% endifequal %} title="Excellent"/>
                <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 5.00 %} checked="checked" {% endifequal %} title="Excellent"/>
                <script type="text/javascript">
                $('input.prating_avg').rating({readOnly:true});
            </script>
              </div>
              <div class="left padl10"> <a href="#read_review" class="top_read">{%if total_reviews%} {{total_reviews}} reviews</a> | <a href="#write_review" class="top_write">Write a review</a>{%else%} <a href="#write_review" class="top_write">Be the first to write a review</a>{%endif%}</div>
              <div class="clear"></div></td>
          </tr>
        </table>
        <!--<table class="price_tbl">
          <tr>
            <td width="35%" class="f40 fb forange offer_price"><span class="WebRupee f32">Rs. </span>88,888</td>
            <td class="ra f16 fb"><span class="emi_box">EMI</span> <span class="WebRupee">Rs. </span> 7,833 PM <span class="f12 fb marr10">@ 6 EMI at no extra cost</span></td>
          </tr>
        </table>-->
        
          <div class="price_tbl"  style=" line-height:40px; ">
          <div class="f40 fb forange offer_price left padr10"><span class="WebRupee f32">Rs. </span>888</div>
            <div class="ra f16 fb left">
        	    <span class="emi_box">EMI</span> <span class="WebRupee">Rs. </span> 7,833 PM <span class="f12 fb">@ 6 EMI at no extra cost</span>
            </div>
            <div class="clear"></div>
          </div>
      
        
        <ul class="pdp_price mart5">
          <li class="mrp">
            <div>MRP: <span class="fs"><span class="WebRupee">Rs. </span>88,888</span></div>
          </li>
          <li class="save">
            <div>You Save: <span class="color_three"><span class="WebRupee">Rs. </span>88,888</span></div>
          </li>
          <li class="discounts">
            <div>Discounts: <span class="color_three">(80%)</span></div>
          </li>
        </ul>
      
        <div class="offer mart10"> <span>Free Dell Branded Backpack, 1 Year Complete Cover Accidental&nbsp;&nbsp; Damage Protection & 15 months McAfee Security Center 
          subscription</span> </div>      
        <div class="mart10 padl10 buy_now_outer">
          <div class="buy_now_wrapper">
            <div class="qty_size">
              <div class="left qty">
                <label class="f14"><span class="fb">Quantity:</span> </label>
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>13</option>
                </select>
              </div>
              <div class="left marl20">
                <label class="f14 left padr5"><span class="fb">Size:</span> S</label>
                <div class="size_chart left"> <span class="sel">S</span> <span>M</span> <span>M</span> <span>XL</span> <span>XXL</span> </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
          <div class="marl10 marb10">
                <label class="f14 left padr5"><span class="fb">Color:</span> Red</label>
                <div class="color_chart left"> <span class="sel red"></span> <span class="green"></span> <span class="blue"></span> <span class="orange"></span>  </div>
                <div class="clear"></div>
              </div>
            <button type="submit" title="Buy this product now" class="prod_btn_buynow"></button>
            <div class="left prod_cod"> Also available with<br />
              <span class="f18 fb text_shd_two">CASH ON DELIVERY</span> </div>
            <div class="clear"></div>
            <div class="call_us_at">You may also call us at <span class="fb">0922-222-1947</span> to Buy</div>
          </div>
        </div>       
        <ul class="pdp_features mart20 marl10">
          <li>Free Home Delivery</li>
          <li>Secure online Payment</li>
          <li>Multiple Payment Options</li>
          <li>Manufacturer Warranty</li>
          <li>Easy Returns</li>
          <li>Authorized Resllers</li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="pdp_rightpanel">
      <div class="seven_days marb10" style="position:relative;">
       <span class="color_one text_shd_two ca"> <span class="f19 fb">7 DAYS DELIVERY </span> <span class="fb" style="letter-spacing:1px; font-size:26px;">GUARANTEE</span> </span> 		       <span class="color_two">Enter pincode of your shipping location to check delivery time</span>
        <div class="mart5">
          <input value="Enter Pincode" placeholder="Enter Pincode" />
          <button class="f11" id="submit">SUBMIT</button>
        </div>
        <div class="msg msg_no hide fb rc3">
        This pincode is covered under 7 Day Delivery Guarantee.
        <div class="msg_ra"></div>
        </div>
      </div>
      <div class="pdp_emi marb10"> <span class="color_one text_shd_two fb"> <span class="f23">3 MONTHS EMI</span> <span class="f14">@ NO ADDITIONAL COST</span> </span>
        <div class="ra f11"><a href="#">Learn More &rsaquo;</a></div>
      </div>
      <div class="need_help color_one text_shd_two fb marb10"> <span class="color_one f16">NEED HELP TO BUY?</span>
        <div class="need_help_inner"> <span class="f24">CALL US ON</span> <span class="f22">0922-222-1947</span> </div>
        <div class="color_one f11" style="padding-left:26px;">SHOP 24x7</div>
      </div>
    </div>
    <div class="clear"></div>
  </div> 
</div>


{% endblock %}
{% block script_footer %}
{{block.super}}
<script>
    function ajaxws(aType, srcId) {
        if (srcId == "") {srcId = 0}
        var url = "/as/write-stream/"+aType+"/"+srcId+"/";        
        $.ajax({
            type: "GET",
            url: url,
            data: "",
            success: function(msg){              
            }
        });
    };
</script>
<script>
    FB.Event.subscribe('edge.create', function(href) {      
        var ufid = "{{facebookid}}";
        var attch_fb = '';
        FB.api('/me', function(response) {
            if (ufid != response.id){             
              //  $("#pop").dialog();
                auth_check();
            };     
        ajaxws("Like", "{{product.primary_rate_chart.id}}");
        });
    });
    function auth_check() {
        FB.Event.subscribe('auth.login', function(response) {
            FB.getLoginStatus(function(res) {
                if(res.session.uid) {
                    FB.api('/me', function(response1) {                      
                    }); 
                };
            });
        });
    };
</script>
<script language="javascript" type="text/javascript">
    	$('.tab_read_review').click(function(){			
		$(this).addClass('sel_tab');
		$('.tab_write_review').removeClass('sel_tab');			
			$('.tab1').removeClass('hide');
			$('.tab1').addClass('show');
			$('.tab2').addClass('hide');						
			$('.tab2').removeClass('show');			
	});
	
	$('.tab_write_review').click(function(){		
		$(this).addClass('sel_tab');	
		$('.tab_read_review').removeClass('sel_tab');		
			$('.tab2').removeClass('hide');
			$('.tab2').addClass('show');
			$('.tab1').addClass('hide');
			$('.tab1').removeClass('show');			
		
	});	
    
$(document).ready(function(){
    $('div.filmstrip img').bind('mouseover', function() {
            var display_url = $(this).attr('display');
            var current_url = $('#display_img')[0].src;
            if(display_url) {
                if (display_url != current_url) {
                    $('#display_img')[0].src = display_url;
                    }
            }
        });

    $('div.zoom_in').bind('click', function() {
            var url = $('#display_img')[0].src;
            var re = new RegExp(".*scene7.*Futurebazaar/([^?]+)")
            var m = url.match(re);
            if(m) {
                 var zoom_url = "http://futurebazaar.scene7.com/s7ondemand/zoom/flasht_zoom.jsp?company=Futurebazaar&sku=noimage&config=ImageSetConfigDefaults&zoomwidth=650&zoomheight=500&vc=image%3dFuturebazaar/" + m[1];
                 window.open(zoom_url, 'zoom_window', 'location=no, height=550, width=650, toolbar=no, menubar=no, top=100, left=200' );
            }
        });
    });		
</script>
<script>
$('.top_write').click(function(){
    $(this).addClass('sel_tab');
    $('.tab_read_review').removeClass('sel_tab'); 	
    $('.tab_write_review').addClass('sel_tab');		
    $('.tab2').removeClass('hide');
	 $('.tab2').addClass('show');  
    $('.tab1').addClass('hide');
    $('.tab1').removeClass('show'); 	
})
$('.top_read').click(function(){
    $(this).addClass('sel_tab');
    $('.tab_write_review').removeClass('sel_tab'); 
    $('.tab_read_review').addClass('sel_tab');            
    $('.tab1').removeClass('hide');
    $('.tab1').addClass('show');
    $('.tab2').addClass('hide');   	
    $('.tab2').removeClass('show');  
})
$(document).ready(function() {
    $('.prating').rating({
        callback: function(value, link) {
           $('.star-rating-applied').each(function(){
               $(this).removeAttr('checked');    
           });
	   $('input#id_rating_' + (value-1)).attr('checked', "checked");
        }
    });
    $("#avg_stars").removeClass("hide");
    $("#write_review_stars").removeClass("hide");
});
</script>
   <script>
$("#submit").click(function () {
          $(".msg").fadeIn(100, function () {
		  $(document).click( function(){
          			  $(".msg").fadeOut(100);
					  })
          });
          return false;
        }); 		
    </script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{%endblock%} 