{%load web_tags%}
{%if show_tag%}
<div class="prod_info_tag">
{%if mid_day_logo%}
    <img src="{% media_url request "images/middaylogo.jpg"%}" />
{%else%}
    {%for tag in tags%}
        {%if tag.tag.tag == 'free_shipping'%}<img src="{%media_url request "images/free-shipping.gif" %}" /> {%endif%}
        {%if tag.tag.tag == 'steal'%} <img src="{% media_url request "images/todays-deal.gif"%}" /> {%endif%}
        {%if tag.tag.tag == 'battle'%}<img src="{% media_url request "images/battle-icon.gif"%}" /> {%endif%}
        {%if tag.tag.tag == 'top_10'%}<img src="{% media_url request "images/top10-icon.gif"%}" /> {%endif%}
    {%endfor%}
{%endif%}
</div>
{%endif%}
