{%extends 'web/base.html' %}
{%block header%}
{%load cc_tags%}
{%load web_tags%}
            <div id="header" style="border-bottom: 1px solid #FCED67">
                <div id="logo">
                    <div><a href="{% cc_url request "" %}" title="Home"><img src="{{MEDIA_URL}}images/ppd-logo.gif" alt="Logo" width="300" height="58" /></a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
{%endblock%}
{%block content %}

{% daterange "Calls Volume Report" search_trend from_date to_date request "cc_report"%}

{% if errors %}
<div>
  <div class="error">
<ul style="list-style-type:disc; padding-left:10px;">
   <li>{{errors}}</li>
</ul>
</div>
</div>
{% endif %}
<form method='GET' action=''>
  <div  class="select_range">
    <table class="tbl_select_range">
      <tr>
        <td  width="50" style="text-align:right" class="f11">&nbsp;DID Number&nbsp; </td>
        <td width="180"><input type="textbox" id="id_did" Name= "did_no" value="{{did_no}}"class=''/></td>
        <td width="180">
            <select id="id_agent" name="agent">
            <option {%if selected_agent == 'All'%} selected = "selected" {%endif%} value = 'All'> All</option>
            {%for agent in agents %}
                <option {% if selected_agent == agent.name%}selected="selected"{%endif%} value="{{agent.name}}">{{agent.name}}</option>
            {%endfor%}
            </select>
        </td>
      </tr>
    </table>
  </div>
</form>

<br/>
<div>
<table class="tbl_graph">
<tr>
    <td>
        <div id="daily_calls" style="border:1px solid #ccc;"></div>
    </td>
</tr>
{%if not show_table%}
<tr>
    <td>
     <input type="button" VALUE="View More" id="id_view">
    </td>
</tr>
{%endif%}
</table>
{%if not show_table%}
<table class="tbl_graph">
<tr>
    <td>  
        <img style="border:1px solid #ccc;" src="http://chart.apis.google.com/chart?chxt=y,r,y,r&chbh=a&chxl=2:|No.|3:|%&chxp=2,50|3,50&chs=450x325&cht=bvg&chco=670767,FF1B11E2,224499&chd=t1:{{chart_data.chart_incalls|join:','}}|{{chart_data.chart_inabnd|join:','}}&chm=D,0033FF,1,0,3,1|N,000000,0,-1,11|h,000000,0,0:0,1&chtt=Abandoned+Calls+(Inbound)&chds=0,{{chart_data.max_incall}}&chxr=0,0,{{chart_data.max_incall}}|1,0,100&chxs=0,000000,11.5,0,lt,000000|2,000000,11.5,0,l,000000|1,000000,11.5,0,l,000000|3,000000,11.5,0,l,000000" width="450" height="325"/>
    </td>
    <td>  
        <img style="border:1px solid #ccc;" src="http://chart.apis.google.com/chart?chxt=y,r,y,r&chbh=a&chxl=2:|No.|3:|%&chxp=2,50|3,50&chs=450x325&cht=bvg&chco=004411,FF1B11E2,224499&chd=t1:{{chart_data.chart_outcalls|join:','}}|{{chart_data.chart_outabnd|join:','}}&chm=D,0033FF,1,0,3,1|N,000000,0,-1,11|h,000000,0,0:0,1&chtt=Abandoned+Calls+(Outbound)&chds=0,{{chart_data.max_outcall}}&chxr=0,0,{{chart_data.max_outcall}}|1,0,100&chxs=0,000000,11.5,0,lt,000000|2,000000,11.5,0,l,000000|1,000000,11.5,0,l,000000|3,000000,11.5,0,l,000000" width="450" height="325"/>
    </td>
</tr>
</table>
{%endif%}
</div>
<table class="tbl_report">
{%if show_table %}
<tr>
<th>Date</th>
<th colspan='2'>Incoming</th>
<th colspan='2'>Outgoing</th>
</tr>
<tr>
<th></th>
<th> Answered </th>
<th> Abandoned </th>
<th> Answered </th>
<th> Abandoned </th>
</tr>
<!--{%if sort == '1' or sort not in "-11" %}<a href="{{base_url}}&sort=-1">Date</a>{%endif%}{%if sort == '1'%}&#9650{%endif%}{%if sort == '-1'%}<a id="sortasc" href="{{base_url}}&sort=1">Date</a>{%endif%}{%if sort == '-1'%}&#9660{%endif%}
</th>
<th colspan='2'>
{%if sort == '2' or sort not in "-22" %}<a href="{{base_url}}&sort=-2">Incoming</a>{%endif%}{%if sort == '2'%}&#9650{%endif%}{%if sort == '-2'%}<a href="{{base_url}}&sort=2">Incoming</a>{%endif%}{%if sort == '-2'%}&#9660{%endif%}
</th>
<th colspan='2'>
{%if sort == '3' or sort not in "-33" %}<a href="{{base_url}}&sort=-3">Outgoing</a>{%endif%}{% if sort == '3' %}&#9650{%endif%}{%if sort == '-3'%}<a href="{{base_url}}&sort=3">Outgoing</a>{%endif%}{%if sort == '-3' %}&#9660{%endif%}
</th>-->

</tr>
{% for calls in total_calls %}
<tr>
<td>{{calls.0|date:'d M, Y'}}</td>
<td>{{calls.1}}</td>
<td>{{calls.2}}</td>
<td>{{calls.3}}</td>
<td>{{calls.4}}</td>
</tr>
{% endfor %}
{%endif%}
</table>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart(){
         {{jscode|safe}}
         var chart = new google.visualization.ColumnChart(document.getElementById('daily_calls'));
         chart.draw(jscode_data, {width: 900, height: 325, title: 'Inbound/Outbound Calls',lineWidth: 3,pointSize: 5,colors:['#670767','#004411']});
    }
</script>

<script type="text/javascript" language="javascript">   
    $('#id_view').click(function(){
        var url = $(location).attr('href');
        var splitted = url.split("?");
        url = splitted[0] + "?view=table";
        if(splitted.length > 1){
            url += "&";
            for(var i=1;i<splitted.length;i++){
                url += splitted[i];
            }
        }
        location.href = url; 
    });
</script>
{%endblock%}
