{%if user %}
{%load cc_tags%}
<div class="p10" id="crm_snippet">
<form onsubmit="return false;" action="javascript:void();" name="frmCC">
    <input type="hidden" id="callid" name="callid" value="{{callid}}"/>
    {%if profile%}
        <div class="marb10">
            <div class="fll f11 fdgray">Mobile</div>
            <div class="flr">
                <a title="Change User" id="changeBtn" class="f11 link">Change User</a>
            </div>
            <div class="clear"></div>
            <input type="text" name="custMobile" id="custMobile" autocomplete="off" readonly="readonly" value="{{profile.get_primary_phones.0.phone}}"/>
        </div>
        <div class="marb10">
            <div class="f11 fdgray change" style="display:none">Mobile2</div>
            <input type="text" name="changeMobile"  class="change" style="display:none" id="changeMobile" autocomplete="off"/>
        </div>
    {%else%}
        <div class="marb10">
            <div class="f11 fdgray">Mobile</div>
            <input type="text" name="custMobile" id="custMobile" autocomplete="off" value="{{profile.get_primary_phones.0.phone}}"/>
        </div>
    {%endif%}
       
        <div class="marb10">
            <div class="f11 fdgray">Email</div>
            <input type="text" name="user_email" id="user_email" value="{{profile.get_primary_emails.0.email}}"/>
        </div>
         <div class="marb10">
            <div class="f11 fdgray">Name</div>
            <input type="text" name="custName" id="custName" value="{{profile.full_name}}"/>
        </div>
      <!--  <div class="block">
         <input type="submit" class="left_nave_btn" value="Save" style="width:auto; padding:2px; font-size:12px; margin:0px;"/>
         </div>-->
    </form>		
</div>
    {% if profile %}
    <div class="bglgray close_call bottomroundcorner5 ca">
        {% if request.call.attempt_id %}
            <a id="closeAttempt" class="link">Close this call</a>
            <input id="stop_close_call" name="stop_close_call" type="hidden" value="yes"/>
        {% endif %}

        {% if not request.call.attempt_id%}
        <a id="logoutUser" class="link">Close this call</a>
        <input type="hidden" id="logoutPhoneNumber" value={{phone}} />
        <input id="stop_close_call" name="stop_close_call" type="hidden" value="yes"/>
        {% endif %}
    </div>
    {% endif %}
 
{%endif%}
<script type="text/javascript">
document.frmCC.custMobile.focus();

        $('#logoutUser').click(function() {
            var next_call_calendar = '';
            var next_call_calendar_is_visible = false;
            var onSuccess = function(response) {
                $('response_dialog').width(500);
                if (response == 'Not attached to a call'){
                    document.location.href = "{%cc_url request 'user/signout'%}";
                }
                $('#response_dialog').html(response);
                var dialog = $('#response_dialog').dialog({modal:true,title:'Close Call',width:500,resizable:false});
                var today = new Date();
                var minDate = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();
                $('#next_call').datepicker({minDate:minDate,maxDate:'+1M +10D'});
                next_call_calendar_is_visible = false;
            };
            var onError = function() {
            };
            var action = "{% cc_url request 'user/close_call'%}";
            var data = "callId=" + {{request.call.id}}
            $.ajax({ url :action,
            data : data,
            success : onSuccess,
            error : onError,
            type : 'POST'
            });
            return false;
    });

    $('#custMobiletemp').blur(function() {
        onSuccess = function(data){
            $('#left_nav').html(data);
        };
        onError = function(){
        };
        var action = "{% cc_url request 'user/get_user_context'%}";
        var data = "mobile=" + $('#custMobile').val();
        $.ajax({ url :action,
        data : data,
        success : onSuccess,
        error : onError,

        type : 'POST'
        });
        return false;
    });
    

    $('#custMobile').blur(function() {
        readOnly = $('#custMobile').attr('readonly');
        if(! readOnly){
        if ($('#changeMobile').val())
            return;
        var cli = $('#custMobile').val();
        if (cli.length < 10){
            return;
        }
        var dni = '{% default_dni request%}';
        var type = '9';
        var id = $('#callid').val();
        var url = "/cc/" + cli + '-' + dni + '-' + type + '-' + id + '/';
        if(cli){
            window.location.href = url;
        }
        }
    });

    $('#custName').blur(function() {
        $('#custName').attr('disabled','disabled');
        onSuccess = function(data){
            $('#custName').removeAttr('disabled');
        };
        onError = function(){
        };
        var action = "{% cc_url request 'user/update_user_profile'%}";
        var data = "full_name=" + $('#custName').val();
        $.ajax({ url :action,
        data : data,
        success : onSuccess,
        error : onError,
        type : 'POST'
        });
        return false;
    });
    
    $('#user_email').blur(function() {
        $('#user_email').attr('disabled','disabled');
        onSuccess = function(data){
            $('#user_email').removeAttr('disabled');
        };
        onError = function(){
        };
        var action = "{% cc_url request 'user/update_user_profile'%}";
        var data = "email=" + $('#user_email').val();
        $.ajax({ url :action,
        data : data,
        success : onSuccess,
        error : onError,
        type : 'POST'
        });
        return false;
    });

    $('#closeAttempt').click(function(){
        var onSuccess = function(responseText) {
            var response =  responseText
            $('response_dialog').width(500);
            $('#response_dialog').html(response);
            var dialog = $('#response_dialog').dialog({modal:true, title:'Close Call',width:500});
            var today = new Date();
            var minDate = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();
            $('#next_call').datepicker({mindate:minDate});
        };
        var onError = function(response) {
        };
        var action = "{% cc_url request 'user/close_attempt'%}";
        var data = 'callid=' + {{request.call.id}};
        $.ajax({ url :action,
        data : null,
        success : onSuccess,
        error : onError,
        type : 'POST'
        });
        return false;
    });

    $('#changeBtn').click(function(){
        //$('.change').css('display','block');
        $('#changeMobile')[0].value = $('#custMobile')[0].value;
        $('#custMobile')[0].value = '';
        $('#changeMobile').attr('disabled',true);
        $('#custName').attr('disabled',true);
        $('#user_email').attr('disabled',true);
        $('#custName')[0].value = '';
        $('#user_email')[0].value = '';
        $('#custMobile').removeAttr('disabled');
        $('#custMobile').blur(function() {
            if ($('#changeMobile').val() == '' || $('#custMobile').val() == '')
                return;
            $('#custMobile').attr('disabled',true);
            onSuccess = function(url){
                $('#custMobile').removeAttr('disabled');
                if(url){
                    window.location.href = url;
                }
            };
            onError = function(){
                $('#custMobile').removeAttr('disabled');
            };
            var action = "{% cc_url request 'user/change_user'%}";
            var data = "changemobile=" + $('#custMobile').val();
            $.ajax({ url :action,
            data : data,
            success : onSuccess,
            error : onError,
            type : 'POST'
            });
            return false;
        });
    });
    
</script>
