{% extends 'web/base.html' %}
{%load cc_tags%}
{% block content %}
   
  <div>
  <div style="text-align:left" class="breadcrumb"><a href="/" title="Go to Chaupaati Home">Home</a>&nbsp;&raquo;&nbsp;{%ifequal logged_user.buyer_or_seller "Seller"%}
  <a href="{%cc_url request 'seller/orders/'%}">My Sales</a>{%else%}<a href="{%cc_url request 'user/orders/'%}" >My Orders</a>{%endifequal%}{% if order.id %}&nbsp;&raquo;&nbsp;{{order.id}}{%endif%}</div>
	 <div class="user_account_tabs">
        <div class="order_tab {% ifequal acc.section 'orders'%} order_tab_sel {%endifequal%}"><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/orders/'%}"{%endifequal%}>My Orders</a></div>
        
          <div class="order_tab {% ifequal acc.section 'profile'%} order_tab_sel {%endifequal%}"><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/profile/'%}"{%endifequal%}>My Profile</a></div>
          
          <div class="order_tab {% ifequal acc.section 'address'%} order_tab_sel {%endifequal%}"><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/address/'%}"{%endifequal%}>Address Book</a></div>
          <div class="order_tab {% ifequal acc.section 'wishlist'%} order_tab_sel {%endifequal%}"><a href="{%cc_url request 'user/wishlist/'%}">Wishlist</a></div>
          <div class="order_tab {% ifequal acc.section 'notifications'%} order_tab_sel {%endifequal%}"><a href="{%cc_url request 'user/notification/'%}">Notifications</a></div>
          
    <!--
            <div class="order_tab {% ifequal acc.section 'password'%} order_tab_sel {%endifequal%}"><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/change_password/'%}"{%endifequal%}>Password</a></div>
            
             <div class="order_tab {% ifequal acc.section 'password'%} order_tab_sel {%endifequal%}"><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'payout/payouts/'%}"{%else%}"{%cc_url request 'user/change_password/'%}"{%endifequal%}>Payout</a></div>
  -->        
    </div>
    <div class="user_account" style="border-top:none; border-color:#eee;">
     
        <div class="user_account_content">
            {% block user_content %}
            {% endblock %}
            {% block user_script %}
                <script type="text/javascript">
                    
                </script>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
