{% extends 'web/base.html' %}
{% block content %}
<div class="breadcrumb">&nbsp;        
</div>
{% load cc_tags %}
{% load web_tags %}

<div class="forgot_pw" style="padding:20px 50px;">
<h1>Check your Email and Phone</h1>
<div class="inner">
<h2 class="f16 fdgray">Ok, we've sent the instructions to your email and mobile.<br /> Go check it!</h2>
<p>You can keep this page open while you check your email and mobile. If you don't receive the instructions within 15 minutes. </p>
<form action='/password_info_sent/' method='POST'>
<button class='submitLink f11' type='submit' name='info' value="{{profile.user.username}}" >Re-send the Instructions.</button>
</form>
</div>
<form action='/user/resetpassword/' method='POST'>
<dd><input style="display:none" type="text" id="thru_mobile" name="thru_mobile" value="1" /></dd><br/>
<dd><input style="display:none" type="text" id="id" name="id" value="{{profile.id}}" /></dd>
<dl>
{%if errors%}
<div><span style="color:#8A1F11;">{{errors}}</span></div>
{%endif%}
<div id="tr_error" class="hide_div error"><span id="errors" style="color:#8A1F11;">{{error}}</span></div>
<div class="fdgray f11">Enter Password Reset Code</div>
<div><input type="text" id="code" name="code" value="{{code}}" /></div>
<div><button type="submit" id="submit">Submit</button></div>
</dl>
</form>
</div>
<script type="text/javascript" language="javascript">   
    $('#submit').click(function(){

        var url = "/user/checkcode/";
        var data = 'profile_id=' + {{profile.id}} + '&code=' + $('#code').val();
        var onSuccess = function(response) {
            var response = $.parseJSON(response); 
            if(response.status == 'ok'){
                $('#tr_error').removeClass('show_div');
                $('#tr_error').addClass('hide_div');
            }
            else{
                $('#tr_error').addClass('show_div');
                $('#tr_error').removeClass('hide_div');
                $('#errors').html(response.error);
                alert('FASLE');
                return False;
            }
        };
        var onError = function() {
        };

        $.ajax({ url:url,
               data : data,
               success : onSuccess,
               error : onError,
               type : 'POST'
               });
        //return false;
    });
</script>
{%endblock%}
