{% extends 'web/base.html' %}
{% block content %}
<div class="breadcrumb">&nbsp;        
</div>
{% load cc_tags %}
{% load web_tags %}
<div class="forgot_pw">
<h1>Change your password</h1>
<div class="rc5">
<form action="" method='POST'>
{%if warn_it%}<p><strong>{{error}}</strong></p>{%endif%}
<p>Please change your password for <strong>{{profile.user.username}}</strong>.</p><br/>
<dl>
<div><label for="set_pw">Set Password:</label></div>
<div><input type="password" id="password" name="password" value="{{password}}" /></div>
<div><label for="con_pw">Confirm Password:</label></div>
<div><input type="password" id="cpassword" name="cpassword" value="{{cpassword}}" /></div>
<div><input style="display:none;" type="password" id="profile" name="profile" value="{{profile.id}}" /></div>

<div><button type='submit' class="button white f18">Change</button></div>
<div><input style="display:none" type="text" id="code" name="code" value="{{profile.verify_code}}" /></div>
<div><input style="display:none" type="text" id="id" name="id" value="{{profile.id}}" /></div>

</form>
</div> 
    
</div>
{%endblock%}
