{% extends 'web/base.html' %}
{% block content %}
<div class="breadcrumb">&nbsp; </div>
{% load cc_tags %}
{% load web_tags %}

<div class="forgot_pw">
<h1><span id="sigin_text">{%if type == "signin"%}Sign in to{%else%}Sign up for{%endif%}</span> Chaupaati Bazaar</h1>
<div class="rc5 mart10"> 
  <form method="post" action="{{request.path}}" id="form_signin" name="form_signin">
    <input type="hidden" name="next" value="{{next}}"/>
    <div id="tr_error" class="hide_div error marb5" style=""><span id="errors" class="f11" style="color:#8A1F11;">{{error}}</span></div>
    <div class="marb5">
     <span class="f11 fdgray" style="margin-left:1px;">Email or Mobile</span><br />
      <input type="text" id="username" name="username" value="{{username}}" style="width:33%;"/>
    </div>
    <div class="marb5">
    <span id="lpassword" class="f11 fdgray" style="margin-left:1px;">{%ifequal type "signin"%}Password {%else%}Set Password{%endifequal%}</span><br />
      <input type="password" id="password" name="password" style="width:33%;"/>&nbsp;
      <a href="/forgotpassword/" >Forgot password?</a>
    </div>
    <div id="lcpassword" class="marb5 {%if type == "signin"%}hide_div{%endif%}" >
    <span  class="f11 fdgray" style="margin-left:1px">Confirm Password</span><br />
      <input type="password" style="width:33%" id="cpassword" name="cpassword"/>
    </div>
      
    <div class="mart5">
      <input type="submit" value="{%if type == "signin"%}Sign in{%else%}Sign up{%endif%}" id="login" style="width:11%;"/>
    </div>
  </form>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var error = "{{error}}";
    if(error){
            $('#tr_error').removeClass('hide_div');
            $('#tr_error').addClass('show_div');
            $('#errors').html(error);
    }
    $('#forgot').click(function(){
            $('#dialog').dialog('close');
            var url = $(location).attr('protocol');
            url += "//" + $(location).attr('host');
            url += "/forgotpassword/";
            location.href = url;
            return false;
        });
});




    $.fn.isMobileValid = function(){
        var data  = $(this).val();
        var mobilePattern = /^[0-9]{10}$/;
        if(data) {
            return mobilePattern.test(data);
        }
    }

    $.fn.isEmailValid = function(){
        var data  = $(this).val();
        if(data){
            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return emailPattern.test(data);
        }
    }

    $('#username').blur(function() {
		var mobile = $('#username').val();
		if($('#username').isMobileValid() || $('#username').isEmailValid() ){
            $('#tr_error').removeClass('show_div');
            $('#tr_error').addClass('hide_div');
            var data = 'username=' + $('#username').val();
            var action = '/user/checkuser';
            var onSuccess = function(response) {
                var data = $.parseJSON(response);
                var is_new_user = data.is_new_user;
                var full_name = data.full_name;
                var has_password = data.has_password;
                if(is_new_user){
                    //$('#dialog').dialog({title:'Sign up'});
                    $('#lpassword').html('Set Password');
                    $('#lcpassword').addClass('show_div');
                    $('#lcpassword').removeClass('hide_div');
                    $('#login').val('Sign up');
                    $('#sigin_text').html('Sign up for');
                }
                else if(!has_password){
                    //$('#dialog').dialog({title:'Sign up'});
                    $('#lpassword').html('Set Password');
                    $('#lcpassword').addClass('show_div');
                    $('#lcpassword').removeClass('hide_div');
                    $('#login').val('Sign up');
                    $('#sigin_text').html('Sign up for');
                }
                else{
                    //$('#dialog').dialog({title:'Sign in'});
                    $('#lpassword').html('Password');
                    $('#lcpassword').addClass('hide_div');
                    $('#lcpassword').removeClass('show_div');
                    $('#login').val('Sign in');
                    $('#sigin_text').html('Sign in to');
                }
            };
            var onError = function() {
            };
            $.ajax({ url:action,
                data : data,
                success : onSuccess,
                error : onError,
                type : 'POST'
                });
        }
        else{
			if(mobile){
            $('#tr_error').addClass('show_div');
            $('#tr_error').removeClass('hide_div');
            $('#errors').html('Please enter a valid 10 digit mobile or email');
			}
		} 
    });
	$('#login').click(function(){
		var mobile = $('#username').val();
		if(!($('#username').isMobileValid() || $('#username').isEmailValid())){
			$('#tr_error').addClass('show_div');
            $('#tr_error').removeClass('hide_div');
            $('#errors').html('Please enter a valid 10 digit mobile or email');
            return false;
		}
	});
	 $('#cancel').click(function(){
        $('#dialog').dialog('close');
        return false;
    });

     $('#forgotpassword').click(function(){
        $('#dialog').dialog('close');
        var url = $(location).attr('protocol');
        url += "//" + $(location).attr('host');
        url += "/forgotpassword/";
        location.href = url;
        return false;
    });

</script>
{%endblock%}
