<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Chaupaati Bazaar</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="google-site-verification" content="qEeX_hSW6GR8wGwaKqj5QUzWV2i-rscwefvklX59oQc">
<meta name="description" content="India's phone bazaar. Find best deals on books, magazines, computers, mobiles, home electronics, home appliances. Call 922 222 1947 to buy directly from brands.">
<meta name="keywords" content="Chaupaati Bazaar, Online Shopping, Store Online, Buy Books, Subscribe Magazines, Buy Computer, Mobile, Electronics, Toys, Gifts, Low Price, Purchase On Web, Cheap product, india">
<link rel="stylesheet" href="{{MEDIA_URL}}css/bp/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{MEDIA_URL}}css/bp/print.css" type="text/css" media="print">
<link rel="stylesheet" href="{{MEDIA_URL}}css/ch.css" type="text/css">
<link rel="shortcut icon" href="{{MEDIA_URL}}images/favicon.ico">
<script src="{{MEDIA_URL}}js/ga.js" async="" type="text/javascript"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/ch.js"></script>
<style>
h1{font-weight:bold; padding:5px 0px; font-size:18px;}
h4{font-weight:bold; font-size:14px; }
p{text-align:center; font-size:14px;}
#fourofour{ border-top:4px solid #eee; padding-top:10px;}
.fourofour > li{float:left; width:160px; list-style:none;}
.fourofour ul{float:left;  margin:0px; padding:0px 0 0 0px; list-style:none;} 
.fourofour ul li{
background-image: url("bullet.gif");
    background-position: 0px 10px;
    background-repeat: no-repeat;
    float: left;
    font-weight: normal;
    padding: 2px 0 2px 10px;  
    width: 150px;
}
.cat_heading{background-image:none !important;   padding: 2px 0 2px 0px !important;}
.not_found_msg{padding:20px; margin-bottom:20px; text-align:center;}

</style>
</head>
<body onmouseup="hideFollow()">

<div class="container  shadow_one f12">  
 <div id="header" style="border-bottom:1px solid #fcce00;">
                <div id="logo">
                    <div><a href="http://chaupaati.in/" title="Go to Chaupaati Home"><img src="{{MEDIA_URL}}images/logo.gif" alt="Logo"></a>
                    </div>
                </div>
                <div class="clear"></div>
  </div>
  
  <div id="wrapper">
    <div id="content">
      <div class="not_found_msg">
      <p><h1>Page Not Found</h1></p>
      <p>The page you are attempting to access is not responding.</p>
      <p>Go to <b><a href="#">Chaupaati homepage</a></b></p>
       </div>

        <div id="fourofour">
          <ul class="fourofour">
            <li>
              <h4><a href="#">Books</a></h4>
              <ul>
                <li> <a href="http://chaupaati.in/books/ch/19/">Books</a></li>
                <li> <a href="http://chaupaati.in/books-comics/ch/31/">Books &amp; Comics</a></li>
                <li> <a href="http://chaupaati.in/school/ch/32/">School</a></li>               
                <li> <a href="http://chaupaati.in/amar-chitra-katha/bd/19/">Amar Chitra Katha</a></li>
                <li> <a href="http://chaupaati.in/karadi-tales/bd/29/">Karadi Tales</a></li>
                <li> <a href="http://chaupaati.in/penguin/bd/25/">Penguin</a></li>
                <li> <a href="http://chaupaati.in/american-comic-book/bd/317/">American Comic Book</a></li>
                <li> <a href="http://chaupaati.in/macmillan/bd/24/">Macmillan</a></li>
                <li> <a href="http://chaupaati.in/tinkle/bd/28/">Tinkle</a></li>
                <li> <a href="http://chaupaati.in/iken/bd/325/">Iken</a></li>
                <li> <a href="http://chaupaati.in/newday/bd/326/">Newday</a></li>
              </ul>
            </li>
            <li>
             <h4><a href="#">Magazines</a></h4>
              <ul>                
                <li> <a href="http://chaupaati.in/books/ch/19/">Books</a></li>
                <li> <a href="http://chaupaati.in/books-comics/ch/31/">Books &amp; Comics</a></li>
                <li> <a href="http://chaupaati.in/school/ch/32/">School</a></li>                
                <li> <a href="http://chaupaati.in/amar-chitra-katha/bd/19/">Amar Chitra Katha</a></li>
                <li> <a href="http://chaupaati.in/karadi-tales/bd/29/">Karadi Tales</a></li>
                <li> <a href="http://chaupaati.in/penguin/bd/25/">Penguin</a></li>
                <li> <a href="http://chaupaati.in/american-comic-book/bd/317/">American Comic Book</a></li>
                <li> <a href="http://chaupaati.in/macmillan/bd/24/">Macmillan</a></li>
                <li> <a href="http://chaupaati.in/tinkle/bd/28/">Tinkle</a></li>
                <li> <a href="http://chaupaati.in/iken/bd/325/">Iken</a></li>
                <li> <a href="http://chaupaati.in/newday/bd/326/">Newday</a></li>
              </ul>
              </li>
            <li>
             <h4><a href="#">Computer</a></h4>
              <ul>                
                <li> <a href="http://chaupaati.in/books/ch/19/">Books</a></li>
                <li> <a href="http://chaupaati.in/books-comics/ch/31/">Books &amp; Comics</a></li>
                <li> <a href="http://chaupaati.in/school/ch/32/">School</a></li>
                
                <li> <a href="http://chaupaati.in/amar-chitra-katha/bd/19/">Amar Chitra Katha</a></li>
                <li> <a href="http://chaupaati.in/karadi-tales/bd/29/">Karadi Tales</a></li>
                <li> <a href="http://chaupaati.in/penguin/bd/25/">Penguin</a></li>
                <li> <a href="http://chaupaati.in/american-comic-book/bd/317/">American Comic Book</a></li>
                <li> <a href="http://chaupaati.in/macmillan/bd/24/">Macmillan</a></li>
                <li> <a href="http://chaupaati.in/tinkle/bd/28/">Tinkle</a></li>
                <li> <a href="http://chaupaati.in/iken/bd/325/">Iken</a></li>
                <li> <a href="http://chaupaati.in/newday/bd/326/">Newday</a></li>
              </ul>
            </li>
            <li>
             <h4><a href="#">Mobile</a></h4>
              <ul>
                
                <li> <a href="http://chaupaati.in/books/ch/19/">Books</a></li>
                <li> <a href="http://chaupaati.in/books-comics/ch/31/">Books &amp; Comics</a></li>
                <li> <a href="http://chaupaati.in/school/ch/32/">School</a></li>
                
                <li> <a href="http://chaupaati.in/amar-chitra-katha/bd/19/">Amar Chitra Katha</a></li>
                <li> <a href="http://chaupaati.in/karadi-tales/bd/29/">Karadi Tales</a></li>
                <li> <a href="http://chaupaati.in/penguin/bd/25/">Penguin</a></li>
                <li> <a href="http://chaupaati.in/american-comic-book/bd/317/">American Comic Book</a></li>
                <li> <a href="http://chaupaati.in/macmillan/bd/24/">Macmillan</a></li>
                <li> <a href="http://chaupaati.in/tinkle/bd/28/">Tinkle</a></li>
                <li> <a href="http://chaupaati.in/iken/bd/325/">Iken</a></li>
                <li> <a href="http://chaupaati.in/newday/bd/326/">Newday</a></li>
              </ul>
            </li>
            <li>
             <h4><a href="#">Electronics</a></h4>
              <ul>
                
                <li> <a href="http://chaupaati.in/books/ch/19/">Books</a></li>
                <li> <a href="http://chaupaati.in/books-comics/ch/31/">Books &amp; Comics</a></li>
                <li> <a href="http://chaupaati.in/school/ch/32/">School</a></li>
                
                <li> <a href="http://chaupaati.in/amar-chitra-katha/bd/19/">Amar Chitra Katha</a></li>
                <li> <a href="http://chaupaati.in/karadi-tales/bd/29/">Karadi Tales</a></li>
                <li> <a href="http://chaupaati.in/penguin/bd/25/">Penguin</a></li>
                <li> <a href="http://chaupaati.in/american-comic-book/bd/317/">American Comic Book</a></li>
                <li> <a href="http://chaupaati.in/macmillan/bd/24/">Macmillan</a></li>
                <li> <a href="http://chaupaati.in/tinkle/bd/28/">Tinkle</a></li>
                <li> <a href="http://chaupaati.in/iken/bd/325/">Iken</a></li>
                <li> <a href="http://chaupaati.in/newday/bd/326/">Newday</a></li>
              </ul>
            </li>
          </ul>
         <div class="clear"></div>
         <br />
<br />
<br />

        <!--  <ul>
            <li class="item"> <a class="" href="http://chaupaati.in/books/st/4/">
              <h4 class="sel_item">Books</h4>
              </a>
              <ul id="Books" class="wide_block bottom">
                
                <li> <a href="http://chaupaati.in/books/ch/19/">Books</a></li>
                <li> <a href="http://chaupaati.in/books-comics/ch/31/">Books &amp; Comics</a></li>
                <li> <a href="http://chaupaati.in/school/ch/32/">School</a></li>
                
                <li> <a href="http://chaupaati.in/amar-chitra-katha/bd/19/">Amar Chitra Katha</a></li>
                <li> <a href="http://chaupaati.in/karadi-tales/bd/29/">Karadi Tales</a></li>
                <li> <a href="http://chaupaati.in/penguin/bd/25/">Penguin</a></li>
                <li> <a href="http://chaupaati.in/american-comic-book/bd/317/">American Comic Book</a></li>
                <li> <a href="http://chaupaati.in/macmillan/bd/24/">Macmillan</a></li>
                <li> <a href="http://chaupaati.in/tinkle/bd/28/">Tinkle</a></li>
                <li> <a href="http://chaupaati.in/iken/bd/325/">Iken</a></li>
                <li> <a href="http://chaupaati.in/newday/bd/326/">Newday</a></li>
              </ul>
            </li>
            <li class="item"> <a class="" href="http://chaupaati.in/magazines/st/5/">
              <h4 class="sel_item">Magazines</h4>
              </a>
              <ul id="Magazines" class="wide_block bottom">
                
                <li> <a href="http://chaupaati.in/auto/ch/96/">Automobiles</a></li>
                <li> <a href="http://chaupaati.in/fashion/ch/92/">Fashion</a></li>
                <li> <a href="http://chaupaati.in/special-interest/ch/100/">Special Interest</a></li>
                <li> <a href="http://chaupaati.in/business/ch/98/">Business</a></li>
                <li> <a href="http://chaupaati.in/health/ch/99/">Health &amp; Fitness</a></li>
                <li> <a href="http://chaupaati.in/sports/ch/95/">Sports</a></li>
                <li> <a href="http://chaupaati.in/children/ch/117/">Children</a></li>
                <li> <a href="http://chaupaati.in/lifestyle/ch/93/">Lifestyle</a></li>
                <li> <a href="http://chaupaati.in/technology/ch/94/">Technology</a></li>
                <li> <a href="http://chaupaati.in/comics/ch/125/">Comics</a></li>
                <li> <a href="http://chaupaati.in/photography/ch/97/">Photography</a></li>
                <li> <a href="http://chaupaati.in/travel/ch/121/">Travel</a></li>
                
                <li> <a href="http://chaupaati.in/architecture-design/bd/477/">Architecture + Design</a></li>
                <li> <a href="http://chaupaati.in/child/bd/478/">Child</a></li>
                <li> <a href="http://chaupaati.in/forbes/bd/331/">Forbes</a></li>
                <li> <a href="http://chaupaati.in/better-homes-gardens/bd/479/">Better Homes &amp; Gardens</a></li>
                <li> <a href="http://chaupaati.in/digit/bd/337/">Digit</a></li>
                <li> <a href="http://chaupaati.in/golf-style/bd/481/">Golf Style</a></li>
                <li> <a href="http://chaupaati.in/business-traveller/bd/333/">Business Traveller</a></li>
                <li> <a href="http://chaupaati.in/discover-india/bd/480/">Discover India</a></li>
                <li> <a href="http://chaupaati.in/ibd/bd/316/">IBD</a></li>
                <li> <a href="http://chaupaati.in/casaviva/bd/474/">Casaviva</a></li>
                <li> <a href="http://chaupaati.in/economist/bd/340/">Economist</a></li>
                <li> <a href="http://chaupaati.in/india-today/bd/103/">India Today</a></li>
                <li> <a href="http://chaupaati.in/chandamama/bd/20/">Chandamama</a></li>
                <li> <a href="http://chaupaati.in/financial-times/bd/332/">Financial Times</a></li>
                <li> <a href="http://chaupaati.in/infomedia18/bd/105/">Infomedia18</a></li>
              </ul>
            </li>
            <li class="item"> <a class="" href="http://chaupaati.in/computers/st/7/">
              <h4 class="sel_item">Computers</h4>
              </a>
              <ul id="Computers" class="wide_block bottom">
                
                <li> <a href="http://chaupaati.in/computer-accessories/ch/23/">Computer Accessories</a></li>
                <li> <a href="http://chaupaati.in/laptop-bags/ch/55/">Laptop Bags</a></li>
                <li> <a href="http://chaupaati.in/softwares/ch/68/">Softwares</a></li>
                <li> <a href="http://chaupaati.in/desktop-pcs/ch/91/">Desktop PC's</a></li>
                <li> <a href="http://chaupaati.in/laptop-batteries/ch/56/">Laptop Batteries</a></li>
                <li> <a href="http://chaupaati.in/speakers/ch/58/">Speakers</a></li>
                <li> <a href="http://chaupaati.in/headphones-earphones/ch/47/">Headphones &amp; Earphones</a></li>
                <li> <a href="http://chaupaati.in/laptops/ch/52/">Laptops</a></li>
                <li> <a href="http://chaupaati.in/usb-modem/ch/67/">USB Modem</a></li>
                <li> <a href="http://chaupaati.in/ink-tanks/ch/62/">Ink Tanks</a></li>
                <li> <a href="http://chaupaati.in/monitors/ch/59/">Monitors</a></li>
                <li> <a href="http://chaupaati.in/webcams/ch/64/">Webcams</a></li>
                <li> <a href="http://chaupaati.in/keyboard/ch/66/">Keyboard</a></li>
                <li> <a href="http://chaupaati.in/mouse/ch/61/">Mouse</a></li>
                <li> <a href="http://chaupaati.in/laptop-adapters/ch/54/">Laptop Adapters</a></li>
                <li> <a href="http://chaupaati.in/routers/ch/65/">Routers</a></li>
                
                <li> <a href="http://chaupaati.in/acer/bd/75/">Acer</a></li>
                <li> <a href="http://chaupaati.in/aoc/bd/272/">AOC</a></li>
                <li> <a href="http://chaupaati.in/benq/bd/264/">BenQ</a></li>
                <li> <a href="http://chaupaati.in/airtel/bd/279/">Airtel</a></li>
                <li> <a href="http://chaupaati.in/apc/bd/506/">APC</a></li>
                <li> <a href="http://chaupaati.in/bitdefender/bd/410/">Bitdefender</a></li>
                <li> <a href="http://chaupaati.in/altec-lansing/bd/129/">Altec Lansing</a></li>
                <li> <a href="http://chaupaati.in/apple/bd/76/">Apple</a></li>
                <li> <a href="http://chaupaati.in/blackberry/bd/93/">Blackberry</a></li>
                <li> <a href="http://chaupaati.in/amkette/bd/269/">Amkette</a></li>
                <li> <a href="http://chaupaati.in/arkon-resources/bd/120/">Arkon Resources</a></li>
                <li> <a href="http://chaupaati.in/bytech/bd/131/">Bytech</a></li>
                <li> <a href="http://chaupaati.in/amzer/bd/119/">Amzer</a></li>
                <li> <a href="http://chaupaati.in/belkin/bd/149/">Belkin</a></li>
                <li> <a href="http://chaupaati.in/canon/bd/71/">Canon</a></li>
              </ul>
            </li>
            <li class="item"> <a class="" href="http://chaupaati.in/mobiles/st/6/">
              <h4 class="sel_item">Mobiles</h4>
              </a>
              <ul id="Mobiles" class="wide_block bottom">
                
                <li> <a href="http://chaupaati.in/bluetooth-accessories/ch/42/">Bluetooth Accessories</a></li>
                <li> <a href="http://chaupaati.in/mobile-cases/ch/48/">Mobile Cases</a></li>
                <li> <a href="http://chaupaati.in/mobile-stands/ch/45/">Mobile Stands</a></li>
                <li> <a href="http://chaupaati.in/handsets/ch/25/">Handsets</a></li>
                <li> <a href="http://chaupaati.in/mobile-chargers/ch/44/">Mobile Chargers</a></li>
                <li> <a href="http://chaupaati.in/mobile-stylus/ch/43/">Mobile Stylus</a></li>
                <li> <a href="http://chaupaati.in/memory-cards/ch/51/">Memory Cards</a></li>
                <li> <a href="http://chaupaati.in/mobile-data-cables/ch/50/">Mobile Data Cables</a></li>
                <li> <a href="http://chaupaati.in/screen-guard/ch/46/">Screen Guard</a></li>
                <li> <a href="http://chaupaati.in/mobile-accessories/ch/26/">Mobile Accessories</a></li>
                <li> <a href="http://chaupaati.in/mobile-headsets/ch/49/">Mobile Headsets</a></li>
                <li> <a href="http://chaupaati.in/mobile-batteries/ch/41/">Mobile Batteries</a></li>
                <li> <a href="http://chaupaati.in/mobile-maps/ch/71/">Mobile Maps</a></li>
                
                <li> <a href="http://chaupaati.in/4c/bd/158/">4C</a></li>
                <li> <a href="http://chaupaati.in/amkette/bd/269/">Amkette</a></li>
                <li> <a href="http://chaupaati.in/axiom/bd/353/">Axiom</a></li>
                <li> <a href="http://chaupaati.in/4u/bd/255/">4U</a></li>
                <li> <a href="http://chaupaati.in/amzer/bd/119/">Amzer</a></li>
                <li> <a href="http://chaupaati.in/bb/bd/263/">B&amp;B</a></li>
                <li> <a href="http://chaupaati.in/a-data/bd/350/">A-DATA</a></li>
                <li> <a href="http://chaupaati.in/apple/bd/76/">Apple</a></li>
                <li> <a href="http://chaupaati.in/ballistic/bd/490/">Ballistic</a></li>
                <li> <a href="http://chaupaati.in/aliph/bd/178/">Aliph</a></li>
                <li> <a href="http://chaupaati.in/arkon-resources/bd/120/">Arkon Resources</a></li>
                <li> <a href="http://chaupaati.in/bc/bd/187/">BC</a></li>
                <li> <a href="http://chaupaati.in/altec-lansing/bd/129/">Altec Lansing</a></li>
                <li> <a href="http://chaupaati.in/ascend/bd/235/">Ascend</a></li>
                <li> <a href="http://chaupaati.in/belkin/bd/149/">Belkin</a></li>
              </ul>
            </li>
            <li class="item"> <a class="" href="http://chaupaati.in/electronics/st/8/">
              <h4 class="sel_item">Electronics</h4>
              </a>
              <ul id="Electronics" class="wide_block bottom">
                
                <li> <a href="http://chaupaati.in/air-conditioners/ch/83/">Air Conditioners</a></li>
                <li> <a href="http://chaupaati.in/gas-stove/ch/3/">Gas Stove</a></li>
                <li> <a href="http://chaupaati.in/plasmas/ch/132/">Plasmas</a></li>
                <li> <a href="http://chaupaati.in/air-coolers/ch/134/">Air Coolers</a></li>
                <li> <a href="http://chaupaati.in/geysers/ch/78/">Geysers</a></li>
                <li> <a href="http://chaupaati.in/printers/ch/70/">Printers</a></li>
                <li> <a href="http://chaupaati.in/batteries/ch/150/">Batteries</a></li>
                <li> <a href="http://chaupaati.in/gps-navigators/ch/72/">GPS Navigators</a></li>
                <li> <a href="http://chaupaati.in/printers-scanners/ch/69/">Printers &amp; Scanners</a></li>
                <li> <a href="http://chaupaati.in/blenders/ch/137/">Blenders</a></li>
                <li> <a href="http://chaupaati.in/home-appliances/ch/136/">Home Appliances</a></li>
                <li> <a href="http://chaupaati.in/refrigerators/ch/80/">Refrigerators</a></li>
                <li> <a href="http://chaupaati.in/body-care-devices/ch/139/">Body Care Devices</a></li>
                <li> <a href="http://chaupaati.in/home-theaters/ch/73/">Home Theaters</a></li>
                <li> <a href="http://chaupaati.in/sandwich-makers/ch/138/">Sandwich Makers</a></li>
                <li> <a href="http://chaupaati.in/camcorders/ch/84/">Camcorders</a></li>
                <li> <a href="http://chaupaati.in/inverters/ch/9/">Inverters</a></li>
                <li> <a href="http://chaupaati.in/scanners/ch/63/">Scanners</a></li>
                <li> <a href="http://chaupaati.in/camera-accessories/ch/149/">Camera Accessories</a></li>
                <li> <a href="http://chaupaati.in/ipod-3rd-gen/ch/101/">iPod 3rd Gen</a></li>
                <li> <a href="http://chaupaati.in/set-top-box/ch/75/">Set Top Box</a></li>
                <li> <a href="http://chaupaati.in/cameras/ch/85/">Cameras</a></li>
                <li> <a href="http://chaupaati.in/irons/ch/76/">Irons</a></li>
                <li> <a href="http://chaupaati.in/spare-parts/ch/90/">Spare Parts</a></li>
                <li> <a href="http://chaupaati.in/chimneys/ch/140/">Chimneys</a></li>
                <li> <a href="http://chaupaati.in/juicer-mixer-grinders/ch/82/">Juicer, Mixer, Grinders</a></li>
                <li> <a href="http://chaupaati.in/telephones/ch/40/">Telephones</a></li>
                <li> <a href="http://chaupaati.in/cooking-range/ch/2/">Cooking Range</a></li>
                <li> <a href="http://chaupaati.in/lcd-televisions/ch/74/">LCD Televisions</a></li>
                <li> <a href="http://chaupaati.in/toaster-grill/ch/15/">Toaster, Grill</a></li>
                <li> <a href="http://chaupaati.in/cooktops/ch/141/">Cooktops</a></li>
                <li> <a href="http://chaupaati.in/leds/ch/129/">LEDs</a></li>
                <li> <a href="http://chaupaati.in/ultra-slim-televisions/ch/122/">Ultra Slim Televisions</a></li>
                <li> <a href="http://chaupaati.in/digital-photo-frames/ch/86/">Digital Photo Frames</a></li>
                <li> <a href="http://chaupaati.in/media-players/ch/38/">Media Players</a></li>
                <li> <a href="http://chaupaati.in/uncategorized/ch/89/">Uncategorized</a></li>
                <li> <a href="http://chaupaati.in/dish-washers/ch/79/">Dish Washers</a></li>
                <li> <a href="http://chaupaati.in/microwave-ovens/ch/81/">Microwave Ovens</a></li>
                <li> <a href="http://chaupaati.in/vacuum-cleaners/ch/16/">Vacuum Cleaners</a></li>
                <li> <a href="http://chaupaati.in/dvd-players/ch/39/">DVD Players</a></li>
                <li> <a href="http://chaupaati.in/music-players/ch/27/">Music Players</a></li>
                <li> <a href="http://chaupaati.in/washing-machines/ch/77/">Washing Machines</a></li>
                <li> <a href="http://chaupaati.in/ediary/ch/88/">eDiary</a></li>
                <li> <a href="http://chaupaati.in/navigation-aids/ch/145/">Navigation Aids</a></li>
                <li> <a href="http://chaupaati.in/water-purifiers/ch/18/">Water Purifiers</a></li>
                <li> <a href="http://chaupaati.in/fans/ch/135/">Fans</a></li>
                <li> <a href="http://chaupaati.in/otgs/ch/133/">OTGs</a></li>
                <li> <a href="http://chaupaati.in/food-processors/ch/6/">Food Processors</a></li>
                <li> <a href="http://chaupaati.in/pendrives/ch/57/">Pendrives</a></li>
                
                <li> <a href="http://chaupaati.in/4c/bd/158/">4C</a></li>
                <li> <a href="http://chaupaati.in/apple/bd/76/">Apple</a></li>
                <li> <a href="http://chaupaati.in/blackberry/bd/93/">Blackberry</a></li>
                <li> <a href="http://chaupaati.in/aiptek/bd/358/">Aiptek</a></li>
                <li> <a href="http://chaupaati.in/argosy/bd/404/">Argosy</a></li>
                <li> <a href="http://chaupaati.in/bpl/bd/516/">BPL</a></li>
                <li> <a href="http://chaupaati.in/airtel/bd/279/">Airtel</a></li>
                <li> <a href="http://chaupaati.in/bajaj/bd/405/">Bajaj</a></li>
                <li> <a href="http://chaupaati.in/call-capture/bd/164/">Call Capture</a></li>
                <li> <a href="http://chaupaati.in/amkette/bd/269/">Amkette</a></li>
                <li> <a href="http://chaupaati.in/belkin/bd/149/">Belkin</a></li>
                <li> <a href="http://chaupaati.in/canon/bd/71/">Canon</a></li>
                <li> <a href="http://chaupaati.in/amzer/bd/119/">Amzer</a></li>
                <li> <a href="http://chaupaati.in/black-and-decker/bd/501/">Black and Decker</a></li>
                <li> <a href="http://chaupaati.in/cell-ranger/bd/161/">Cell Ranger</a></li>
              </ul>
            </li>
            <li class="item"> <a class="" href="http://chaupaati.in/toys/st/9/">
              <h4 class="sel_item">Toys</h4>
              </a>
              <ul id="Toys" class="wide_block bottom">
                
                <li> <a href="http://chaupaati.in/games/ch/37/">Games</a></li>
                <li> <a href="http://chaupaati.in/gaming-consoles/ch/35/">Gaming Consoles</a></li>
                <li> <a href="http://chaupaati.in/gaming-accessories/ch/36/">Gaming Accessories</a></li>
                <li> <a href="http://chaupaati.in/toys-games/ch/34/">Toys &amp; Games</a></li>
                
                <li> <a href="http://chaupaati.in/baby-einstein/bd/3/">Baby Einstein</a></li>
                <li> <a href="http://chaupaati.in/disney/bd/21/">Disney</a></li>
                <li> <a href="http://chaupaati.in/fisher-price/bd/32/">Fisher Price</a></li>
                <li> <a href="http://chaupaati.in/barbie/bd/30/">Barbie</a></li>
                <li> <a href="http://chaupaati.in/disney-fairies/bd/308/">Disney Fairies</a></li>
                <li> <a href="http://chaupaati.in/funskool/bd/33/">Funskool</a></li>
                <li> <a href="http://chaupaati.in/barbie-dough/bd/309/">Barbie Dough</a></li>
                <li> <a href="http://chaupaati.in/disney-soft-toys/bd/307/">Disney Soft Toys</a></li>
                <li> <a href="http://chaupaati.in/gamzee/bd/311/">Gamzee</a></li>
                <li> <a href="http://chaupaati.in/capcom/bd/322/">Capcom</a></li>
                <li> <a href="http://chaupaati.in/dora/bd/31/">Dora</a></li>
                <li> <a href="http://chaupaati.in/hotwheels/bd/296/">Hotwheels</a></li>
                <li> <a href="http://chaupaati.in/cars/bd/303/">Cars</a></li>
                <li> <a href="http://chaupaati.in/electronics-arts/bd/281/">Electronics Arts</a></li>
                <li> <a href="http://chaupaati.in/kerplunk/bd/299/">Kerplunk</a></li>
              </ul>
            </li>
            <li class="item"> <a class="" href="http://chaupaati.in/gifts/st/10/">
              <h4 class="sel_item">Gifts</h4>
              </a>
              <ul id="Gifts" class="wide_block bottom">
                
                <li> <a href="http://chaupaati.in/healthcare/ch/123/">Healthcare</a></li>
                <li> <a href="http://chaupaati.in/sweets/ch/118/">Sweets</a></li>
                <li> <a href="http://chaupaati.in/watches/ch/29/">Watches</a></li>
                <li> <a href="http://chaupaati.in/personal/ch/120/">Personal</a></li>
                <li> <a href="http://chaupaati.in/t-shirts/ch/28/">T-Shirts</a></li>
                
                <li> <a href="http://chaupaati.in/adya-international/bd/68/">Adya International</a></li>
                <li> <a href="http://chaupaati.in/casio/bd/90/">Casio</a></li>
                <li> <a href="http://chaupaati.in/mithaimate/bd/328/">Mithaimate</a></li>
                <li> <a href="http://chaupaati.in/bikanervala/bd/69/">Bikanervala</a></li>
                <li> <a href="http://chaupaati.in/deccan-healthcare/bd/342/">Deccan Healthcare</a></li>
                <li> <a href="http://chaupaati.in/toube-bas/bd/89/">Toube Bas</a></li>
              </ul>
            </li>
          </ul>-->
        </div>
     
    </div>
  </div>

  <div id="shipping_dialog" title="Shipping info"></div>
  <div id="response_dialog"></div>
  <div class="hidden"> </div>
</div>
<!--cc box -->
<script>
//					$(function() {
//					
//				
//				$("#cc_show_hide").toggle(function()
//				{ 			
//					$( ".user_box" ).hide( "slide", 500 );			
//					$("#cc_show_hide").html("Show &raquo;");	
//					return false;	 		
//				},
//				
//				function()
//				{ 					
//						$( ".user_box" ).show( "slide", 500 );				
//						$("#cc_show_hide").html("Hide &laquo;");						
//						return false;
//				});
//				
//			
//				});
//	
</script>
<!--end cc box-->
<script type="text/javascript" language="javascript">
			function showFollow()
			{
 				document.getElementById("follow_us_mn").style.display ="block";
			}
		    	
			    document.onclick=hideFollow();
            
			
			function hideFollow()
			{
			document.getElementById("follow_us_mn").style.display ="none";		
			}
		</script>
<script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4726951-1']);
        _gaq.push(['_trackPageview']);
        
        

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
     </script>
<script type="text/javascript" charset="utf-8"> 		
	
        $('a.help_popup').click(function() {
            Ch.Utils.helpPopup(this.href);
            return false;
            });
        //<![CDATA[
        $(document).ready(function() {
            function addMega() {
                $(this).addClass("hovering");
            }

            function removeMega() {
                $(this).removeClass("hovering");
            }

            var megaConfig = {
                interval: 100,
                sensitivity: 4,
                over: addMega,
                timeout: 100,
                out: removeMega
            };
            
            function hideGreetings()
            {
                $('#greeting').css('display', 'none');
            };
            
            function showGreetings()
            {
                    $('#greeting').css('display','block');
                    setTimeout(function(){$('#greeting').css('display','none');},2000);
            };
			

            $("li.mega").hoverIntent(megaConfig)
            showGreetings();
        });
        //]]>
    </script>
<script type="text/javascript">
		
        $('.signin').click(function() {
            var title_string = this.title;
            var width = 300;
            var url = this.href;
            $.get(this.href, function(data) {
                $('dialog').width(width);
                $('#dialog').html(data);
				
                var dialog = $('#dialog').dialog({modal:true,
                    title:title_string, 
                    width:width,
                    open:function(){
                        $('#username').focus();
                        }
                    });
                    var onSubmitAlias = null;
                    var onSuccess = function(responseTxt) {
                        var response = $.parseJSON(responseTxt);
                        if (response.status == 'ok'){
                            $('#tr_error').addClass('hide_div');
                            $('#tr_error').removeClass('show_div');
                            if(response.msg == 'loggedin'){
                                $('#dialog').dialog('close');
                                location.reload();
                            }
                        }
                        else{
                            $('#tr_error').addClass('show_div');
                            $('#tr_error').removeClass('hide_div');
                            $('#errors').html(response.error);
                        }
                    };
                    var onError = function() {
                        $('#form_signin').submit(onSubmitAlias);
                    };
                    var onSubmit = function() {
                        var form = this;
                        var action = form.action;
                        var data = $('#form_signin').serialize();
                        $.ajax({ url:action,
                            data : data,
                            success : onSuccess,
                            error : onError,
                            type : 'POST'
                            });
                        return false;
                    };
                    onSubmitAlias = onSubmit;
                    $('#form_signin').submit(onSubmit);
            });
			
            return false;
        });

     </script>
<div aria-labelledby="ui-dialog-title-dialog" role="dialog" tabindex="-1" class="ui-dialog ui-widget ui-widget-content ui-corner-all  ui-draggable ui-resizable" style="display: none; z-index: 1002; outline: 0px none; position: absolute; height: auto; width: 300px; top: 164px; left: 481px;">
  <div style="-moz-user-select: none;" unselectable="on" class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span style="-moz-user-select: none;" unselectable="on" id="ui-dialog-title-dialog" class="ui-dialog-title">Sign In</span><a style="-moz-user-select: none;" unselectable="on" role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#"><span style="-moz-user-select: none;" unselectable="on" class="ui-icon ui-icon-closethick">close</span></a></div>
  <div style="width: auto; min-height: 114px; height: auto;" class="ui-dialog-content ui-widget-content" id="dialog">
    <div class="dialog">
      <form method="post" action="/auth/signin/" id="form_signin" name="form_signin">
        <!--<div class="f12 login" style="">-->
        <div id="tr_error" class="hide_div" style=""><span id="errors" style="color: rgb(138, 31, 17);"></span></div>
        <!--<div id="tr_error" class="hide_div" style="margin-bottom:20px!important;"><span id="errors" style="color:#8A1F11"></span></div>

-->
        <div> <span class="f11 fdgray" style="margin-left: 1px;">Mobile</span>
          <input maxlength="10" size="44" id="username" name="username" type="text">
        </div>
        <div>
          <!--<div class="f11 fdgray">-->
          <span id="lpassword" class="f11 fdgray" style="margin-left: 1px;">Password </span>
          <!--</div>-->
          <input size="44" id="password" name="password" type="password">
          <!--  <div class="f11 fdgray" style="margin-bottom:10px; margin-top:0px; margin-left:1px;">

      

       <a href="#" style="color:blue;">Forgot Password?</a>

        </div>-->
        </div>
        <div id="lcpassword" class="hide_div">
          <div class="f11 fdgray" style="margin-left: 1px;">Confirm Password</div>
          <input size="44" id="cpassword" name="cpassword" type="password">
        </div>
        <div class="margin-t5">
          <input value="Sign in" id="login" type="submit">
          &nbsp;
          <button class="linkButton" id="cancel">Cancel</button>
        </div>
        <!--</div>-->
      </form>
    </div>
  </div>
  <div style="-moz-user-select: none;" unselectable="on" class="ui-resizable-handle ui-resizable-n"></div>
  <div style="-moz-user-select: none;" unselectable="on" class="ui-resizable-handle ui-resizable-e"></div>
  <div style="-moz-user-select: none;" unselectable="on" class="ui-resizable-handle ui-resizable-s"></div>
  <div style="-moz-user-select: none;" unselectable="on" class="ui-resizable-handle ui-resizable-w"></div>
  <div unselectable="on" style="z-index: 1001; -moz-user-select: none;" class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se ui-icon-grip-diagonal-se"></div>
  <div unselectable="on" style="z-index: 1002; -moz-user-select: none;" class="ui-resizable-handle ui-resizable-sw"></div>
  <div unselectable="on" style="z-index: 1003; -moz-user-select: none;" class="ui-resizable-handle ui-resizable-ne"></div>
  <div unselectable="on" style="z-index: 1004; -moz-user-select: none;" class="ui-resizable-handle ui-resizable-nw"></div>
</div>
</body>
</html>
