/* base.css */*{margin:0px;line-height:1.5em}
p{margin:10px 0px 0px;text-align:justify}
textarea{font-family:'lucida grande', arial, verdana,sans-serif;}
body{font-family:'lucida grande', arial, verdana,sans-serif;background-color:#f4f4f4;color:#333}
ol{padding-left:20px}
a img{border:0}
a:link,a:visited{color:#00f;text-decoration:none}
a:active,a:hover{color:#00f;text-decoration:underline}
.content{font-size:12px;padding:10px;text-align:left;min-height:300px}
.topr5{-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px}
.botr5{-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px}
.topr10{-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-top-left-radius:10px;border-top-right-radius:10px}
.botr10{-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px}
.container {width:980px;margin:0 auto; background-color: #fff; font-size:12px;}
/*.cc_container {width:1260px;margin:0 auto; background-color: #fff;}
*/
.cc_container {width:980px; margin:0 auto 0 18px; background-color: #fff; float:left; font-size:12px;}
.blue{color:#00f}
.header_links{display:block;padding-left:400px}
.nav_item_small{float:left;padding-left:2px;padding-right:2px}
.first_small{border-left:0}
.header_logo{float:left;display:block}
.header_bar{display:block;border-bottom:solid 2px #ffce00}
#wrapper{padding:0;margin:0px auto; width:1260px;}
#main{}
.mrp{font-size:105%;color:#333;text-decoration:line-through}
.rightbar{width:180px;float:left;margin:25px 20px 0 0;padding:0;border:solid 1px #555}
.rightbar .head{margin:0;padding:5px;background-color:#eee;text-align:center}
.rightbar .cont{padding:10px}
.rightbar .cont ul{padding-left:15px;margin:0}
.grayLabel{font-size:11px;color:#666;padding-right:8px}
.offerPrice{padding-top:3px;font-size:14px;font-weight:bold;color:#900}
.pagination div{background-color:#22f;border:1px solid #22f;padding:3px 6px 3px 6px;font-size:11px;color:#fff;display:inline}
.pagination span{color:#333;border:1px solid #e5e5e5;padding:3px 6px 3px 6px;font-size:11px}
.pagination a{color:#22f;border:1px solid #88f;padding:3px 6px 3px 6px;font-size:11px}
.pagination a.gray_link{color:#666;border:1px solid #666;text-decoration:none}
.pagination a:hover{background-color:#bbf;color:#fff;text-decoration:none}
.pagination a.gray_link:hover{color:#666;border:1px solid #666;text-decoration:none;background-color:#eee}
.sort_bar .selected_link{color:black;font-weight:bold}
.user_account_link{display:inline;font-size:14px;font-weight:bold;padding:8px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px}
.selected_account_link{background-color:#FCCE00;color:black}
.black_link a{color:#000}
.black_link a:hover{text-decoration:none}
.user_links{padding:0 10px;text-align:left}

.dialog{background-color:#fff;border-left:4px solid #ffce00;border-right:4px solid #ffce00;border-bottom:4px solid #ffce00;padding:20px 25px 25px;font-size:12px}

.content2{font-size:12px;padding:10px 0 10px 20px;text-align:left}
/*end base.css*/
