/*cart.css*/#cart th,#cart td{vertical-align:top}
#cart th{background-color:#fcfccb;border-bottom:1px dotted #999}
.cart_left{width:700px;margin-right:20px;float:left}
.cart_right{width:240px;float:left}
.cart_summary{border:1px solid #FFCE00}
div.cart_summary td,div.cart_summary th,div.cart_summary caption{padding:0 10px}
div.cart_summary input{margin-left:30px}
#cart input[type="text"]{margin:0;padding:0 5px 0 5px;width:15px;text-align:center}
a.action{cursor:pointer;text-decoration:none;color:blue}
a.action:hover{text-decoration:underline}
.linkButton{color:blue;font-size:11px;border:0;padding:0;background-color:#fff}
.linkButton:hover{text-decoration:underline;cursor:pointer}
.payment_options{float:right; width:188px; margin:0px; font-size:11px; line-height:11px}
.payment_options ul{list-style-type:none;margin:0px;padding:0px; border-top:1px solid #ccc}
.payment_options ul li{cursor:pointer;padding:6px 6px; margin:0px; line-height:17px;border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-right:0px solid #ccc; background-color:#f4f4f4}
.payment_options ul li:hover{background-color:#eeeeee}
.payment_options ul li.header{background-color:#fced67;text-align:center;border:1px solid #fced67;font-weight:bold}
.payment_options ul li.selected{background-color:#fff; font-weight:bold; border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-right:none; border-top:none;margin-right:-1px;border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;border-top-right-radius:0px;-moz-border-radius-topright:0px}
.bt{border-top:1px dotted #999999}
.payment_actions{float:right; background-color:#ffffff;
	/*height:270px;*//*for ie6*/
	min-height:270px;
	
	/* margin-top:10px; margin-right:10px;	*/
	 width:480px;
	 margin:0px; border-bottom:1px solid #ccc; border-top:1px solid #ccc;  border-right:1px solid #ccc; 
	
	}
	
	.gbor{ background-image:url("/media/images/gdot.gif"); background-repeat:repeat-y; background-position:-1px;}
	
.payment_cont{margin:10px;/* border-right:1px solid #ccc; */ border-top:none; border-bottom:none; border-left:none;}

#book_inner{}
.book_inner{margin:20px; font-size:11px;}
.book_inner textarea{margin:0px;padding:2px; width:430px; font-size:12px;height:80px}
/*.book_inner input[type="text"],select{margin:0px;padding:2px;width:200px}*/
.book_inner input[type="text"]{margin:0px;padding:2px;width:200px}
.book_inner select{margin:0px;width:200px; font-size:12px;}

.pay_action_bot{clear:both; margin:0px 10px 10px;}
/*.addToCartBtn{width:90px;height:25px;font-size:0;display:block;background:url("/media/images/addtocart-90x25.png") no-repeat top left;background-position:0 0}
*/
#checkout_tabs ul{margin:0;padding:0}
#checkout_tabs ul li{list-style:none;margin:0;margin-right:10px;padding:0;float:left;border:2px solid #eee;border-bottom:none;font-size:11px;width:135px}
#checkout_tabs ul li.selected{background-color:#eee}
#checkout_tabs ul li:hover{background-color:#f4f4f4}
#checkout_tabs ul li.selected:hover{background-color:#eee}
#checkout_tabs div.step1{padding-top:10px;width:95px;float:left}
#checkout_tabs div.step2{padding-top:10px;width:95px;float:left}
#checkout_tabs div.step3{padding-top:10px;width:95px;float:left}
#checkout_tabs div.step4{padding-top:10px;width:95px;float:left}
#checkout_tabs div.step_no{padding:3px;font-size:30px;margin-right:10px;float:left}
.checkout_div{border:4px solid #eee}
.checkout_table{border:4px solid #eee;padding:10px}
.checkout_table td,.checkout_table th,.tbl_bookorder td,.tbl_bookorder th{vertical-align:top}
div.cart_summary{margin-bottom:20px}
.cart_summary table{margin:0}
table.checkout_table td.label,.tbl_bookorder td.label{text-align:right;font-weight:bold}
table.checkout_table td input,.tbl_bookorder td input{margin:0}
input.checkout_mobile{width:300px;padding:3px}
input.checkout_password{width:300px;padding:3px}
table.checkout_table textarea,.tbl_bookorder textarea{width:300px;height:80px;margin:0}
table.checkout_table select,.tbl_bookorder select{margin:0;/*padding:3px;*/border:1px solid #ccc;width:150px}
#tbl_book_order select{/*width:340px*/}
div.order_snippet{padding:10px}
/*cart.css end */
