/*footer.css*/
.footer_space
{
width:963px;
height:90px;
background-color:#f5f3f4;
float:left
}

.footer
{
width:888px;
height:48px;
background-color:#000000;
margin-top:23px;
margin-left:39px;
float:left
}       

.bottom_space
{
width:963px;
height:18px;
float:left
}
/*end footer*/
