
/* CSS Document */
#user_links{margin-bottom:23px !important;}
.shadow_one{filter:progid:DXImageTransform.Microsoft.dropShadow(color=#dcdcdc,offX=1,offY=1,positive=true); border:1px solid #ccc}
#search_bar{ padding:1px !important; }

.tbl_searchbar{border-collapse:collapse !important;  margin:2px 0px 2px 250px !important;  border-collapse:collapse;}
.tbl_searchbar td{padding:0px !important; margin:0px !important}
.tbl_searchbar input[type="text"]{padding:5px; height:20px; font-size:13px;}
.tbl_searchbar td select{}

.tbl_searchbar td button[type="submit"]{padding:2px 10px !important; background:url('/media/images/searchbg.jpg') repeat 0px 0px;  height:25px;}
.cart_button{ background:url('/media/images/cartbg.jpg') repeat -20px 0px;}

