/*stores.css*/.substores{width:700px;padding:5px 20px 5px 20px;float:left}
.sub_store{padding:10px;float:left;text-align:center;width:154px}
.sub_store ul a img{margin:0 auto;padding:2px;text-decoration:underline}
.sub_store ul .name{color:#679E02;font-size:110%;text-decoration:none}
#sub_store ul{position:relative;padding-left:0;margin:0}
#sub_store ul li{position:absolute;top:137px;left:30px;width:696px;background-color:#f0f0f0;height:320px;float:left;display:none}
#sub_store:hover{background-color:#f0f0f0}
#sub_store:hover ul li{display:block}
.ss_brands{width:180px;height:320px;padding-top:20px;float:left;text-align:center;color:#900;font-weight:bold;font-size:130%}
.store_links{padding:20px}
.store_links div{width:200px;margin:10px;float:left;border:solid 1px #FC6B00}
.store_links div ul{padding:5px 0 0 0;margin:0;color:#fff;list-style-type:none;background-color:#FC6B00;width:200px;text-align:center}
.store_links div ul li{padding-left:10px;background-color:#fff;color:#000}
.store_links div ul li a{text-decoration:none}
. .catgrid{width:700px;padding:20px}
.cat{border:solid 1px #ddd;margin:5px;padding:20px;width:120px;float:left;text-align:center;height:210px}
.cat span{color:gray;font-size:95%}
span.cat_name{color:black;font-size:110%}
span.cat_brands{color:#900}
/* ------------*/#store_nav{float:left;width:190px}
.store_nav_heading{padding:5px 5px 5px 20px;background-color:#CDCDCD;color:#000;font-weight:bold;text-transform:capitalize;margin-bottom:1px}
.store_nav_title{padding:5px 5px 5px 20px;background-color:#DEDEDE;color:#000;cursor:pointer;border-right:1px solid #CDCDCD;border-left:1px solid #CDCDCD;background:#dedede url('/media/images/arr_right.gif') no-repeat 5px}
.store_nav_title span{font-size:12px; font-weight:bold}
.store_nav{border:1px solid #fced67}
.store_nav_items{border:1px solid #cdcdcd;background-color:#F4F4F4;border-top:none;padding:5px;margin-bottom:1px;font-size:11px;
/*max-height:250px;
overflow-y:scroll;*/}
.store_nav_items ul{margin:0px; padding:5px; list-style:none}
.store_nav_items ul li{background-image:url('/media/images/bullet.gif'); background-repeat:no-repeat; background-position:left; padding-left:10px; margin-left:10px}
.store_header{margin:0 0;padding:5px;border:1px solid #dcdcdc;background:#fff;
/* for non-css3 browsers */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea');
/* for IE */background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eaeaea));
/* for webkit browsers */background:-moz-linear-gradient(top,#ffffff,#eaeaea);
/* for firefox 3.6+ */}
.store_header h1{margin:0px; padding:0px 0px 0px 5px; color:#000; font-size:15px; line-height:15px}
.store_grid{padding:10px 0px; clear:both}
.store_grid_left{border-right:1px dotted #999;float:left;height:150px;padding:5px;text-align:center;width:65px}
.store_grid_left img{margin-top:55px; cursor:pointer;}
/*.store_grid_left img:hover{border:1px solid #fced67}*/
.store_grid_right{border-right:none;float:left;height:150px;padding:5px;text-align:center;width:65px}
.store_grid_right img{margin-top:55px; cursor:pointer;}
/*.store_grid_right img:hover{border:1px solid #fced67}*/
.store_grid_item{border-right:1px dotted #999999;float:left;height:150px;padding:5px;text-align:center;width:140px}
.store_see_all{margin:5px 0px 10px; text-align:right;padding-right:5px;font-size:11px}
/*div.refine_heading {
padding: 5px;
}
.filter {
border-top: 1px solid #fff;
border-left: 1px solid #CDCDCD;
border-right: 1px solid #CDCDCD;
background-color: #DEDEDE;
padding: 5px;
}
div.filter label {
font-weight: bold;
}
.filter_options {
background-color: #F4F4F4;
padding: 5px;
border-bottom: 1px solid #CDCDCD;
border-left: 1px solid #CDCDCD;
border-right: 1px solid #CDCDCD;
}
div.filter_options label {
font-weight: normal;
}*/
/*end*/
/*stores.css end*/