/*product.css*/.mrp{color:#666}
.offerPrice{font-size:150%;color:#900}
.prod_path{color:black;padding:2px;margin:0 0 5px 5px}
.prod{width:370px;float:left;padding:0 20px;display:block-inline;}
.prod div h1{color:black;font-size:18px;font-weight:bold;margin-bottom:0;margin-top:10px;line-height:20px}
.seller_name{font-size:105%;color:#555;text-decoration:underline}
.prodUSP{margin:20px;font-weight:bold}
.combo{margin:5px;padding:5px;border:solid 1px #ddd}
.combo img{width:40px}
.prodImg{width:300px;text-align:center;float:left;margin-top:10px;overflow:hidden}
.prodImg img{}
.cart,.related{margin:2px 10px 10px 2px;padding:0 3px 5px 3px;border:solid 1px #fcce00;width:200px;float:right;text-align:center}
.related div img{width:40px;float:left}
.relprod{width:150px;float:left;padding:10px 0}
.relprodlast{border:0}
.prod_details{width:680px;float:left;padding:0 0 0 10px}
div.product_head{border-bottom:1px dotted #999;margin-bottom:10px}
div.product_head div.share{margin-top:5px;margin-bottom:5px}
.prod_price_tbl td{vertical-align:top}
div.prod th,div.prod td,div.prod caption{padding:0}
div.filmstrip{text-align:center;margin-top:10px}
div.filmstrip img{border:1px solid #ccc;width:40px;height:40px;padding:4px}
div.product_summary{margin-bottom:5px;padding-bottom:15px}
.similar_thumb{height:100px}
div.featuregroup{margin:10px 0}
div.group{padding:5px 2px}
div.feature{border:1px dotted #ccc}
div.featurelabel{float:left;width:150px;padding:3px 2px}
div.featurevalue{float:left}
div.featuregroup div.collapse{border-bottom:none}
div.product_left_col{float:left; /*float:right;*/width:250px; }

div.product_actions{text-align:center;border:1px solid #fcce00;margin-bottom:20px}
div.product_actions input{margin-top:15px;margin-bottom:15px}
div.payment_help{border-top:1px dotted #999;padding:8px}
div.order_on_phone{border:1px solid #ccc;margin-top:0px}
.phone_no{height:62px;padding-left:40px;margin-top:5px;background-image:url(../images/0922-222-1947-150.png); background-repeat:no-repeat; background-position:40px 0px;text-align:center; display:block;}
div.order_on_phone img{margin-top:5px}
div.prod_details h2{font-size:16px;font-weight:bold;margin-bottom:10px}
.selected_variant{background-color:#FFC;font-weight:bold}
.selected_variant td{font-weight:bold}
.selected_variant a{color:#000}
div.product_details div.right{width:250px;float:right;text-align:center}
div.product_description{padding-top:5px;border-top:1px dotted #999}
div.product_features{margin-top:10px;border-top:1px dotted #999}
div.relprod a:hover{text-decoration:none}
div.related_products{margin-top:10px;padding-top:5px;border-top:1px dotted #999}
div.discount_bg{display:inline;padding:14px 12px 12px 10px;text-align:center;background:url('/media/images/discount_bg_yellow.jpg') no-repeat;color:#000;}
.key_features{border-top:1px dotted #999}
table.variants{width:350px; border:1px solid #ccc; padding:5px 8px}
table.variants tbody{padding:2px 8px}
table.variants td{padding:2px 2px 2px 0px}
div.product_list_item{padding:5px 0;border-bottom:1px dotted #999;margin:5px 0}
div.product_grid_item{float:left;padding:5px;/* width:140px;*/ height:170px;/*border-right:1px dotted #999;*/border-bottom:1px dotted #999;text-align:center}
.summary{/*height:80px*/}
.buy{text-align:center; padding-left:25px}
div.product_grid_item div.thumb,div.product_list_item div.thumb{/*height:80px*/}
div.product_list_item div.thumb{/*width:100px;*/float:left;text-align:center}
div.product_list_item div.summary{float:left;/*width:400px}*/
div.product_grid_item h3,div.product_list_item h3{/*font-size:12px;*//*font-weight:bold;*/margin-bottom:0}
div.product_list_item h3{/*font-size:14px*/}
div.norb{border-right:none}
div.nobb{border-bottom:none}
div.filmstrip img{cursor:pointer}
/*product.css end*/