{%extends "web/base.html"%}
{%load cc_tags%}
{%load web_tags%}
{% block page_title %}{% render_product_page_title product request%}{% endblock %}
{% block page_desc %}{% render_product_page_desc product request%}{% endblock %}
{% block page_tags %}{% render_product_page_tags product request%}{% endblock %}
{% block extra_header %}
{% if product.meta_description %}
<meta content="{{product.meta_description}}" name="Description"/>
{% endif %}
<link rel="canonical" href="http://{{request.client.domain}}{{request.path}}"/>
{% endblock %}
{% block content %}
<div id="breadcrumb" class="fdgray"><a href="/">Home</a><span></span><a href="{%cc_url request product.category.url%}">{{product.category.name}}</a><span></span>
  <div>{{product.title}}</div>
</div>


<div id="product">
  <div class="pdp_top_section">
    <div class="product_details">
      <div class="img_wrapper">
        <div class="prod_img">
         <a href="{% media_url request "images/13.jpg" %}" class="fb-zoom" id="zoom1" rel="adjustX: 10, adjustY:-4">         
         <img src="{{product_images.0.get_display_url}}"  id="display_img" width="370" height="370" alt="{{product.title}}" title="{{product.title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_p.jpg" %}';}return false;" onerror_cnt="0" />
         </a>
          {% if product_images|length > 1 %}
          <div class="product_img_thumb filmstrip ca"> {%for image in product_images%}      
            {% if product_images|length > 1 %} <img src="{{image.get_filmstrip_url}}" class="steal_thumb_img" width="36" height="46" alt="" title="{{product.title}}" display="{{image.get_display_url}}" /> {% endif %}      
            {%endfor%} </div>
          {% endif %} </div>
        {% if product_images.0.type == 'scene7' %}
        <div class="zoom_in_wrapper">
          <div class="zoom_in flink f11" title="Zoom in">View larger image</div>        
        </div>          
        {% endif %}  
        
        <table class="like_buttons mart10">
          <tr>
            <td class="like_g"><g:plusone width="75" size="medium" href="http://{{request.client.domain}}/{{product.url}}"></g:plusone>
            </td>
            <td class="like_tw"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://{{request.client.domain}}{% cc_url request product.url %}" data-text="Would love to buy this!" data-count="horizontal" data-via="futurebazaar">Tweet</a> </td>
            <td class="like_fb"><fb:like href="http://{{request.client.domain}}/{{product.url}}" send="false" layout="button_count" width="226" show_faces="false" font=""></fb:like>
            </td>
          </tr>
        </table>
      </div>
      <div class="product_desc posr">
      <h1>{{product.title}}</h1>
      <!--<div class="pdp_prev_next">
<a href="#"><div class="tri_left"></div><div class="prev">PREV</div></a><a href="#"><div class="next">PREV</div><div class="tri_right"></div></a>
<div class="clear"></div>
</div>-->
      <div class="marb10 brand_row">
        <div class="left padr10"> <span class="fblack">Brand: </span> <span class="fb"><a href="{%cc_url request product.brand.url%}" title="{{product.brand}}">{{product.brand}}</a></span> </div>
        {% comment%}
        <div id="avg_stars" class="hide left padl10 padr10 avg_stars">
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 0.25 %} checked="checked" {% endifequal %} title="Poor"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 0.50 %} checked="checked" {% endifequal %} title="Poor"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 0.75 %} checked="checked" {% endifequal %} title="Poor"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.00 %} checked="checked" {% endifequal %} title="Poor"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.25 %} checked="checked" {% endifequal %} title="Average"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.50 %} checked="checked" {% endifequal %} title="Average"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 1.75 %} checked="checked" {% endifequal %} title="Average"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.00 %} checked="checked" {% endifequal %} title="Average"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.25 %} checked="checked" {% endifequal %} title="Good"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.50 %} checked="checked" {% endifequal %} title="Good"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 2.75 %} checked="checked" {% endifequal %} title="Good"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.00 %} checked="checked" {% endifequal %} title="Good"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.25 %} checked="checked" {% endifequal %} title="Great"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.50 %} checked="checked" {% endifequal %} title="Great"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 3.75 %} checked="checked" {% endifequal %} title="Great"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.00 %} checked="checked" {% endifequal %} title="Great"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.25 %} checked="checked" {% endifequal %} title="Excellent"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.50 %} checked="checked" {% endifequal %} title="Excellent"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 4.75 %} checked="checked" {% endifequal %} title="Excellent"/>
          <input type="radio" class="prating_avg {split:4}" {% ifequal avg_rating 5.00 %} checked="checked" {% endifequal %} title="Excellent"/>
        </div>
        <div class="left padl10"> <a href="#read_review" class="top_read">{%if total_reviews%} {{total_reviews}} reviews</a> | <a href="#write_review" class="top_write">Write a review</a>{%else%} <a href="#write_review" class="top_write">Be the first to write a review</a>{%endif%}</div>
         {% endcomment%}
        <div class="clear"></div>
      </div>
      <table class="pdp_price mart5">
        <tr>
          <td class="price_lable"><span class="f18">Offer Price</span>:</td>
          <td class="price_value f18 forange fb"><span class="WebRupee">Rs.</span>  {% get_price_info request product.primary_rate_chart 'offer_price' %}</td>
        </tr>
        {%if request|isAnySaving:product.primary_rate_chart %}
            <tr>
              <td class="price_lable">MRP:</td>
              <td class="price_value"><span class="WebRupee">Rs.</span>  {% get_price_info request product.primary_rate_chart 'list_price' %}</td>
            </tr>
            <tr>
              <td class="price_lable">Discounts:</td>
              <td class="price_value"><span class="WebRupee">Rs.</span> {%getSavings request product.primary_rate_chart%}({% getDiscount request product.primary_rate_chart %}%)</td>
            </tr>
        {% endif %}
        {% product_variants product request %}
        {%comment%}
         <tr>
          <td class="price_lable">Color: <span class="f12 fn">Orange</span></td>
          <td class="price_value"><ul class="color_box"><li class="sel"></li><li></li><li></li><li></li></ul></td>
        </tr>
        {%endcomment%}
      </table>
       {%add_to_cart request product product.primary_rate_chart%}
     
      <ul class="pdp_features mart10">
        <li class="free_home_del"><a href="/trust/shipping_details.html" class="popup">Free Home Delivery</a></li>
        <li class="secure_payment"><a href="/trust/secure_online_payment.html" class="popup">Secure online Payment</a></li>
        <li class="resellers">Authorized Resllers</li>
        <li class="multiple_options"><a href="/trust/payment-options.html" class="popup">Multiple Payment Options</a></li>
        <li class="easy_returns"><a href="/trust/return_policy.html" class="popup">15 Days Easy Returns</a></li>
        <li class="warranty"><a href="/trust/manufacturer-warranty.html" class="popup">Manufacturer's Warranty</a></li>
      </ul>
    
    </div>
    <div class="clear"></div>
    {% if similarProducts %}
    <div class="similar_prod">
      <h4>SIMILAR PRODUCTS</h4>
          {%for sp in similarProducts%}
              <div class="similar_prod_item ">
               <a href="{%cc_url request sp.product.url%}">
                 <img src="{{sp.product_images.0.get_thumbnail_url}}" alt="{{sp.product.title}}" title="{{sp.product.title}}" width="150" height="150"/>
               </a>
                <div class="similar_prod_desc">
                  <div><a href="{%cc_url request sp.product.url%}" title="{{sp.product.title}}">{{sp.product.title|truncate:52}}</a></div>
                  <div><span class="WebRupee">Rs.</span><span class="fs"> {{sp.price_info.list_price|money}} </span>&nbsp;&nbsp;
                  <span class="f18 forange fb"> <span class="WebRupee">Rs.</span> {{sp.price_info.offer_price|money}}</span></div>
                </div>
                <div class="clear"></div>
              </div>
          {%endfor%}
      <div class="clear"></div>
    </div>
    {% endif %}
  </div>
  
   </div>
</div>
<div class="clear"></div>
</div>
</div>
<div>
  <div class="product_desc_details mart20">
    <ul class="prod_tabs">
      {%if product.description != '--'%}
      <li>Product Description</li>
      {%endif%}
      {% if product.primary_rate_chart.key_feature %}
      <li><a href="#key_features">Key Features</a></li>
      {%endif%}
      {% if product|is_specifications_avail %}
      <li><a href="#specifications">Specifications</a></li>
      {%endif%}
      {% if product.video_embed %}
      <li><a href="#video">Video</a></li>
      {%endif%}
    </ul>
    <div class="clear"></div>
    {%if product.description != '--'%}
    <div class="prod_pad marb10">{{product.description|safe}}</div>
    {%endif%}
    {% if product.primary_rate_chart.key_feature %}
    <div>
      <div class="pdp_subtitle">
        <h2>Key Features</h2>
        <a href="#" id="key_features">back to top</a>
        <div class="clear"></div>
      </div>
      <div class="prod_pad bgcolor_one"> {{product.primary_rate_chart.key_feature|safe }} </div>
    </div>
    {% endif %}
    {%feature_tag product%}
    {% if product.video_embed %}
    <div>
      <div class="pdp_subtitle">
        <h2>Product Video</h2>
        <a href="#" id="video">back to top</a>
        <div class="clear"></div>
      </div>
      <div class="prod_pad bgcolor_one">
        <object width="500" height="250">
          <param name="movie" value="{{product.video_embed}}">
          <param name="allowFullScreen" value="true">
          <param name="allowscriptaccess" value="always">
          <embed src="{{product.video_embed}}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="250"> </embed>
        </object>
      </div>
    </div>
    {% endif %}  
    <div class="prod_pad ra"><b>FBID: </b>{{product.primary_rate_chart.sku}} </div>
  {% comment%}
    <div class="review_tabs">
      <div class="tabs_wrapper">
        <ul class="tabs">
          <li class="tab_read_review sel_tab">Read reviews</li>
          <li class="tab_write_review">Write a review</li>
        </ul>
        {%if total_reviews and 0%}
        <div class="right all_reviews"><a href="#">View all {{total_reviews}} reviews</a></div>
        {%endif%}
        <div class="clear"></div>
      </div>
      <div class="tab tab1"> <a id="read_reviews"></a> {%if total_reviews%}
        <div id="product_reviews">{#read_product_reviews product_reviews#}</div>
        {%else%}
        <table>
          <tr>
            <td><a href="#write_review" class="top_write">Be the first to write a review</a></td>
          </tr>
        </table>
        {%endif%} </div>
      <form method="POST" action="">
        <div class="tab tab2 "> <a id="write_review"></a>
          <table>
            {%if not request.user.is_authenticated%}
            <tr>
              <td><div>Please login to write a reivew. To login <a href="/auth/signin/?next={{request.path}}">click here.</a></div></td>
            </tr>
            {%else%}
            <tr> {%if form.title.errors%}
              <td><div class="error">Subject: {{form.title.errors}}</div></td>
              {%endif%}
              <td>Subject</td>
              <td>{{form.title}}</td>
            </tr>
            <tr> {%if form.review.errors%}
              <td><div class="error">Review: {{form.review.errors}}</div></td>
              {%endif%}
              <td>Review</td>
              <td>{{form.review}}</td>
            </tr>
            <tr> {%if form.rating.errors%}
              <td><div class="error">Rating: {{form.rating.errors}}</div></td>
              {%endif%}
              <td>Rate this product</td>
              <td id="write_review_stars" class="hide"><input type="radio" class="prating" id="id_rating_0" value="1" title="Poor" name="rating" checked="checked">
                <input type="radio" class="prating" id="id_rating_1" value="2" title="Average" name="rating">
                <input type="radio" class="prating" id="id_rating_2" value="3" title="Good" name="rating">
                <input type="radio" class="prating" id="id_rating_3" value="4" title="Great" name="rating">
                <input type="radio" class="prating" id="id_rating_4" value="5" title="Excellent" name="rating">
              </td>
            </tr>
            <tr>
              <td></td>
              <td><button type="submit" class="btn btn_post"></button></td>
            </tr>
            {%endif%}
          </table>
        </div>
      </form>
    </div>
      {% endcomment%}
  </div>
  <div class="clear"></div>
</div>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
{"parsetags": "explicit"}
</script>
<script type="text/javascript">
$(document).ready(function(){
gapi.plusone.render("plusone-div",{"size": "medium", "count": "true"});
});
</script>
{% if not request|is_cc%}
<script type="text/javascript">
$(document).ready(function(){
    function ajaxws(aType, srcId) {
        if (srcId == "") {srcId = 0}
        var url = "/as/write-stream/"+aType+"/"+srcId+"/";        
        $.ajax({
            type: "GET",
            url: url,
            data: "",
            success: function(msg){              
            }
        });
    };
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    FB.Event.subscribe('edge.create', function(href) {      
        var ufid = "{{facebookid}}";
        var attch_fb = '';
        FB.api('/me', function(response) {
            if (ufid != response.id){             
              //  $("#pop").dialog();
                auth_check();
            };     
        ajaxws("Like", "{{product.primary_rate_chart.id}}");
        });
    });
    function auth_check() {
        FB.Event.subscribe('auth.login', function(response) {
            FB.getLoginStatus(function(res) {
                if(res.session.uid) {
                    FB.api('/me', function(response1) {                      
                    }); 
                };
            });
        });
    };
});
</script>
{% endif %}
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    $('.tab_read_review').click(function(){			
    $(this).addClass('sel_tab');
    $('.tab_write_review').removeClass('sel_tab');			
        $('.tab1').removeClass('hide');
        $('.tab1').addClass('show');
        $('.tab2').addClass('hide');						
        $('.tab2').removeClass('show');			
	});
	
	$('.tab_write_review').click(function(){		
		$(this).addClass('sel_tab');	
		$('.tab_read_review').removeClass('sel_tab');		
			$('.tab2').removeClass('hide');
			$('.tab2').addClass('show');
			$('.tab1').addClass('hide');
			$('.tab1').removeClass('show');			
		
	});	
    
    $('div.filmstrip img').bind('mouseover', function() {
        var display_url = $(this).attr('display');
        var current_url = $('#display_img')[0].src;
        if(display_url) {
            if (display_url != current_url) {
                $('#display_img')[0].src = display_url;
                }
        }
    });

    $('div.zoom_in').bind('click', function() {
        var url = $('#display_img')[0].src;
        var re = new RegExp(".*scene7.*Futurebazaar/([^?]+)")
        var m = url.match(re);
        if(m) {
             var zoom_url = "http://futurebazaar.scene7.com/s7ondemand/zoom/flasht_zoom.jsp?company=Futurebazaar&sku=noimage&config=ImageSetConfigDefaults&zoomwidth=650&zoomheight=500&vc=image%3dFuturebazaar/" + m[1];
             window.open(zoom_url, 'zoom_window', 'location=no, height=550, width=650, toolbar=no, menubar=no, top=100, left=200' );
        }
    });
	
});	

 $("ul.prod_tabs li:first-child").addClass("sel"); 	
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.top_write').click(function(){
        $(this).addClass('sel_tab');
        $('.tab_read_review').removeClass('sel_tab'); 	
        $('.tab_write_review').addClass('sel_tab');		
        $('.tab2').removeClass('hide');
         $('.tab2').addClass('show');  
        $('.tab1').addClass('hide');
        $('.tab1').removeClass('show'); 	
    })
    $('.top_read').click(function(){
        $(this).addClass('sel_tab');
        $('.tab_write_review').removeClass('sel_tab'); 
        $('.tab_read_review').addClass('sel_tab');            
        $('.tab1').removeClass('hide');
        $('.tab1').addClass('show');
        $('.tab2').addClass('hide');   	
        $('.tab2').removeClass('show');  
    })
    $('input.prating_avg').rating({readOnly:true});
    $('.prating').rating({
        callback: function(value, link) {
           $('.star-rating-applied').each(function(){
               $(this).removeAttr('checked');    
           });
	   $('input#id_rating_' + (value-1)).attr('checked', "checked");
        }
    });
    $("#avg_stars").removeClass("hide");
    $("#write_review_stars").removeClass("hide");
});
</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
// get product reviews first time
$(document).ready(function(){
{%if total_reviews%}
    var onsuccess = function(response){
        $('#product_reviews').html(response)
    }
    var onerror = function(){
    }
    var data = "page=1&product_id="+"{{product.id}}";
    $.ajax({
        type: "GET",
        url: "/product/read-reviews/",
        data: data,
        success:onsuccess,
        error:onerror
    })
    
{% endif %}
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("select[name=size]").change(function() {
        var url = this.options[this.selectedIndex].value;
        location.href = url;
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#write_review_submit").click(function(){
        var flag = false;
        $(".prating:checked").each(function(){
                flag = true;
        })
        if(!flag){
            $("#id_rating_error").removeClass("hide");
            return false;
        }
        else{
            $("#id_rating_error").addClass("hide");
        };
    })
});
</script>
<!-- Remarketing Code -->
{%comment%}
{% get_remarketing_code product.category %}
{%endcomment%}
{%comment%}
<script type="text/javascript">
$(document).ready(function() {
    $("#check_availability").click(function(){
        var pincode = $("#pincode_text").val();
        pincode = pincode.trim();
        if(pincode){
            var data = "rc={{product.primary_rate_chart.id}}&pincode=" + pincode;
            var url = "/product/check_availability/";
            var onSuccess = function(responseText) {
                var response = $.parseJSON(responseText);
                var msg = response.msg;
                if(response.status == "available"){
                      $("#available_yes").html(msg);
                      $("#available_msg").fadeIn(100, function ()
					  	 {
                     		 $(document).click( function(){
                                  $("#available_msg").fadeOut(100);
                         	 })
                     	 });
                }
                else{
                      $("#available_no").html(msg);
					 // $("#unavailable_msg").removeClass("hide");
                      $("#unavailable_msg").fadeIn(100, function ()
					   {
                   			   $(document).click( function(
							   {
                                  $("#unavailable_msg").fadeOut(100);
                         		 })
                      });
                }
            };
            var onError = function() {
			    alert("ERROR")
            };
    
            $.ajax({ 
                   url:url,
                   data : data,
                   success : onSuccess,
                   error : onError,
                   type : "POST"
                   });
        }
        else{
            var msg = "Please Enter Pincode.";
            $("#available_no").html(msg);
			//$("#unavailable_msg").removeClass("hide");
			
            $("#unavailable_msg").fadeIn(100, function () {
            $(document).click( function(){
                        $("#unavailable_msg").fadeOut(100);
                })
            });
        };
        return false;
    });
});
</script>
{%endcomment%}
<script type="text/javascript">
$(document).ready(function(){
    $("#btn_notify_me").click(function(){
        var email = $("#email_notify_me").val();
        var data = "rate_chart={{product.primary_rate_chart.id}}&email=" + email;
        var url = "/product/instock_notification/";
        $("#loader_notify_me").removeClass("hide");
        var onSuccess = function(responseText) {
            $("#loader_notify_me").addClass("hide");
            var response = $.parseJSON(responseText);
            var msg = response.msg;
            $("#msg_notify_me").html(msg);
            if(response.status == "ok"){
                  $("#notify_type").removeClass("msg_no");
                  $("#notify_type").addClass("msg_yes");
            }
            else{
                  $("#notify_type").removeClass("msg_yes");
                  $("#notify_type").addClass("msg_no");
            }
            $("#notify_type").fadeIn(100, function () {
                $(document).click( function(){
                    $("#notify_type").fadeOut(100);
                })
            });
        };
        var onError = function() {
        };

        $.ajax({ 
               url:url,
               data : data,
               success : onSuccess,
               error : onError,
               type : "POST"
               });
        return false;
    });
});
</script>
{%endblock%} 
