{% load web_tags %}
{% load cc_tags %}
<div class="con " id="pop_header" style="width1:841px;">
    <div class="cart_page con_inner" id="cart_popup" style="width:800px; height1:475px;">
    <div class="product_quick_view pad10">
      <div class="image_wrapper">
        <div class="prod_image"> 
        <img id="display_img" src="{{product_images.0.get_display_url}}"  width="300" height="300" alt="{{product.title}}" title="{{product.title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_p.jpg" %}';}return false;" onerror_cnt="0"/>
        {% if product_images|length > 1 %}    
            <div class="qv_product_img_thumb filmstrip ca">                        
                {%for image in product_images%}
                    <img src="{{image.get_filmstrip_url}}" class="steal_thumb_img" width="36" height="46" alt="{{product.title}}" title="{{product.title}}" display="{{image.get_display_url}}"/>
                {% endfor %}
            </div>    
        {% endif %}
        </div>
      </div>
      <div class="prod_details">
       <h3><a href="{% cc_url request product.url %}">{{product.title}}</a></h3>
        <div class="marb10 brand_row">
            <div class="left padr10">
             <span class="fblack">Brand:&nbsp;</span> <span class="fb"><a href="{%cc_url request product.brand.url%}" title="{{product.brand}}">{{product.brand}}</a></span> 
             </div>
            <div id="avg_stars" class="hide left padl10 padr10 avg_stars">          
            </div>        
        <div class="clear"></div>
      </div>
    <div>
    {%if product.description != '--'%}
        {{product.description|truncate:245|safe}}<br/>
    {%endif%}
    <div class="mart5 f11"><a href="{% cc_url request product.url %}">Read Full Product Details &raquo;</a></div>
    </div>
    <table class="pdp_price mart20">
        <tr>
          <td class="price_lable">Offer Price:</td>
          <td class="price_value f18 forange fb"><span class="WebRupee">Rs.</span> {{price_info.offer_price|money}} </td>
        </tr>       
        {% if price_info.savings %}
            <tr>
              <td class="price_lable">MRP:</td>
              <td class="price_value"><span class="WebRupee">Rs.</span> {{price_info.list_price|money}}</td>
            </tr>
            <tr>
              <td class="price_lable">Discounts:</td>
              <td class="price_value"><span class="WebRupee">Rs.</span> {{price_info.savings|money}} ({{price_info.discount}}%)</td>
            </tr>
        {% endif %}
        {% product_variants product request %}
    </table>
    
    <div class="qv_buy_now_box marb5">
        <div class="qv_buy_now_box_left">
            <div>Availability - <span class="fb">
            {%ifequal product.primary_rate_chart.stock_status "instock"%}
                <span class="fgreen">In Stock</span>
            {% else %}     
                <span class="fb fred">Out of Stock<span> 
            {% endifequal %}
            </span></div>        
            <!--<div>Delivered in <span class="fb">2-3 business days</span>.</div>-->
            {% if product.primary_rate_chart.is_cod_available %}
                <div>Also available on <span class="fb">CASH ON DELIVERY</span></div>
            {% endif %}
            <div>Buy using <span class="fred">{{price_info.payback_points|money}}</span> PayBack points. <br />
 <a href="/payback.html" class="f11" target="_blanck">Whats this?</a></div>
        </div>
        <div class="qv_buy_now_box_right">
        <form action="{% cc_url request "orders/mycart" %}" id="quick_add_to_cart_form" method="post">
            <input type="hidden" name="rate_chart_id" value="{{rate_chart.id}}"/>
            <input type="hidden" name="product_id" value="{{product.id}}"/>
            <input type="hidden" name="action" value="add_to_cart"/>
            <a class="qv_buy_now marb5" id="quick_add_to_cart" value="{{product.id}}" title="Buy this product now" type="submit">Buy Now <span></span></a>
        </form> 
        {% if request.user.is_authenticated %}
        <form method="post" action="/user/wishlist/">
            <input type="hidden" name="action" value="add_to_wishlist"/>
            <input type="hidden" name="src_id" value="{{rate_chart.id}}"/>
            <input type="hidden" name="next" value="{{request.path}}"/>
            <input type="hidden" name="qty" value="1"/>
            <input style="background-color:#F9F7E5;" class="linkButton" type="submit" title="Move this item to your wishlist and buy later" value="Add to Wishlist"/>
        </form>
        {% endif %}
         <div class="phone_no">0922-222-1947 </div>
         <div class="shop_on">Shop on Phone (24x7)</div>
        </div>
        <div class="clear"></div>
      </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
$("#quick_add_to_cart").click(function(e){
    $("#lightbox").css('display','block');
    e.preventDefault();
    var href = "/orders/mycart";
    var form = $("#quick_add_to_cart_form");
    var form_data = form.serialize();
    show_overlay();
    var onSuccess = function(mycart_html){
        get_cart_popup(mycart_html);
    };
    var onError = function(){
    };
    $.ajax({
        url: href,
        cache: false,
        data:form_data,
        type:"POST",
        success:onSuccess,
        error:onError
   });
});
$('div.filmstrip img').bind('mouseover', function() {
    var display_url = $(this).attr('display');
    var current_url = $('#display_img')[0].src;
    if(display_url) {
        if (display_url != current_url) {
            $('#display_img')[0].src = display_url;
        }
    }
});
</script>
