.Scroller-Container {
  position: static !important;
  top: 0px; left: 0px;
}
#content h3.subhead {
    margin: 0 !important;
    padding: 0;
}
#content h3 {
    color: #87642F;
}
h3 {
    font-size: 110%;
    margin: 0 0 2px;
}
h3 {
    font-size: 1em;
    font-weight: bold;
}
dl.product-details {
    border-bottom: 1px solid #DBDADA;
    float: left;
    margin-bottom: 20px;
    width: 939px;
}
dl {
    margin: 0 0;
}
dl.product-details dt {
    border-top: 1px solid #DBDADA;
    float: left;
    font-weight: bold;
    padding: 3px 0;
    width: 250px;
}
dl.product-details dd {
    border-top: 1px solid #DBDADA;
    float: none;
    margin: 0 0 0 250px !important;
    padding: 3px 0;
}
dd {
    margin-left: 15px;
}
