/*footer.css*/#footer{padding:10px; margin-top:50px; font-size:11px; border-top: 1px solid #CCC; overflow:hidden; width:960px}
.col{float:left;margin-right:20px;width:160px}
#footer ul{margin:0;padding:0}
#footer ul li{list-style:none; float:left;}
#copy a{color:#666}
.col2{float:left;width:240px;}
.footerbgcolor{background-color: #E3EDF4 !important;}
.follow_us{padding:0px}
.follow_us li{margin:0px}
.sprite-twitter{background:url(/media/images/sprite-img.gif) no-repeat 0px -156px;width:16px;height:16px;padding:2px 10px 2px 20px}
.sprite-facebook{background:url(/media/images/sprite-img.gif) no-repeat 0px -189px;width:16px;height:16px;padding:2px 10px 2px 20px}
.sprite-feed{background:url(/media/images/sprite-img.gif) no-repeat 0px -221px;width:16px;height:16px;padding:2px 10px 2px 20px}
.visa{width:42px; margin-right:10px;height:29px;display:block;float:left;background:url(/media/images/sprite-img.gif) no-repeat 0px -106px}
.master{width:45px;height:29px;display:block;float:left;background:url(/media/images/sprite-img.gif) no-repeat -52px -106px}
.icici{width:106px;height:25px;display:block;float:left;background:url(/media/images/sprite-img.gif) no-repeat -96px -106px}
.payment {
    background: url("/media/images/payment.gif") no-repeat scroll 0 0 transparent;
    height: 54px;
    width: 106px;
}


/*end footer*/
