/* ie6 css */
#content{height:500px;}

#search_bar{padding:0px !important; position:relative; height:30px;}
.tbl_searchbar{background-color:#fff;  position:absolute; left:0px; padding-left:4px; border:1px solid #fcce00; border-collapse:collapse;}
.tbl_searchbar td{padding:0px !important; }



.tbl_searchbar input {
border:1px solid #fff;
    width: 300px !important;
}
.tbl_searchbar select{border:1px solid #ff0000 !important;}
.tbl_searchbar button{height:25px; vertical-align:middle; padding:0px !important; background:url('/media/images/searchbg.jpg') repeat;background-position:0px 0px; border:none !important; font-weight:bold; cursor:pointer !important;}

#search{height:20px;padding-top:3px;}
.cart_button{display:inline; background:url('/media/images/cartbg.jpg') repeat -20px 0px;}
/*Small menu -follow*/
.follow_us_mn li{display:block;clear:both}
.shadow_one{filter:progid:DXImageTransform.Microsoft.dropShadow(color=#dcdcdc,offX=1,offY=1,positive=true);border:1px solid #ccc;}

/*menu*/

#menu ul {display:inline;}
#menu ul li.item {	
		margin:0px 0px 0px 6px !important;
		display:inline;
	}


.item h4{float:left; border-bottom:1px solid #fcce00 !important;}

div#menu ul li.hovering h4 {float:left; border-bottom:1px solid #fff !important;}

ul.wide_block{zoom:1;z-index:500;  border-top:0px solid #fff !important;}

#item1{position:absolute;left:0px;top:28px}
#item2{position:absolute;left:0px;top:28px}
#item3{position:absolute;left:0px;top:28px}
#item4{position:absolute;right:0px;top:28px}
#item5{position:absolute;right:0px;top:28px}
#item6{position:absolute;right:0px;top:28px}
#item7{position:absolute;right:0px;top:28px}


/*ie6 css end*/
