.cartHolder{float:left;width:650px;padding:5px 10px 5px 20px}
.mycart{float:left;padding:0;margin-bottom:30px;width:100%}
.mycart .total{background-color:#efefef}
.mycart .name{font-size:120%}
.mycart table{margin:3px;border-left:solid 1px #999;border-right:solid 1px #999}
.mycart table th{border-bottom:solid 1px #fcce00;background-color:#efefef;height:37px}
.mycart table tr td{border-bottom:dotted 1px #555}
.mycart img{width:250px;float:left}
.proceed{float:right;padding:10px}
.buynowBtn{width:90px;height:25px;display:block;background-position:0 0}
.sideboxTitle{background-color:#fced67;border:solid 1px #fcce00;border-bottom:0;padding:5px;margin:60px 20px 0 0}
.sidebox{border:solid 1px #fcce00;border-top:0;text-align:center;padding:20px 10px;margin:0 20px 0 0}
.sidebox h4{margin-bottom:.1em}
.phoneboxTitle{background-color:#f4f4f4;border-color:#cdcdcd #cdcdcd -moz-use-text-color;border-style:solid solid none;border-width:1px 1px medium;padding:5px;margin:10px 20px 0 0}
.phonebox{border-color:-moz-use-text-color #cdcdcd #cdcdcd;border-style:none solid solid;border-width:medium 1px 1px;line-height:1.5em;margin-bottom:10px;padding:10px;text-align:center;margin:0 20px 10px 0}
.relatedBox{width:100%;float:left;border-bottom:solid 1px #ccc;margin-bottom:30px}
.relatedBox div{padding:5px;float:left}
.relatedBox div img{float:left}
.no_left_border{border-left:none}
.filter_selected{font-weight:bold}
.black_link a{color:#000}
.black_link a:hover{text-decoration:none}