{%extends 'web/base.html' %}
{%block header%}
{%load cc_tags%}
{%load web_tags%}
            <div id="header" style="border-bottom: 1px solid #FCED67">
                <div id="logo">
                    <div><a href="{% cc_url request "" %}" title="Home"><img src="{{MEDIA_URL}}images/ppd-logo.gif" alt="Logo" width="300" height="58" /></a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
{%endblock%}
{%block content %}



{% if errors %}
<div>
  <div class="error">
<ul style="list-style-type:disc; padding-left:10px;">
   <li>{{errors}}</li>
</ul>
</div>
</div>
{% endif %}

{%daterange "Calls Volume Report" search_trend from_date to_date request "call_data"%}

<form method='GET' action=''>
  <div  class="select_range">
    <table class="tbl_select_range">
      <tr>
        <td  width="50" style="text-align:right" class="f11">&nbsp;DID Number&nbsp; </td>
        <td width="180"><input type="textbox" id="id_did" Name= "did_no" value="{{did_no}}"class=''/></td>
        <td width="180">
            <select name="agent" id="id_agent">
            <option {%if selected_agent == 'All'%} selected = "selected" {%endif%} value = 'All'> All</option>
            {%for agent in agents %}
                <option {% if selected_agent == agent.name%}selected="selected"{%endif%} value={{agent.name}}>{{agent.name}}</option>
            {%endfor%}
            </select>
        </td>
      </tr>
    </table>
  </div>
</form>

{%if from_date and to_date %}
<table>
<tr>
    <td>
    <div id="daily_calls" style="width: 600px; height: 400px;float:left;margin-right:10px;"></div>
    </td>
</tr>
</table>
<table class="tbl_report">
<tr>
<th>Date</th>
<th colspan='2'>Incoming</th>
<th colspan='2'>Outgoing</th>
</tr>
<tr>
<th></th>
<th> Answered </th>
<th> Abandoned </th>
<th> Answered </th>
<th> Abandoned </th>
</tr>
<!--{%if sort == '1' or sort not in "-11" %}<a href="{{base_url}}&sort=-1">Date</a>{%endif%}{%if sort == '1'%}&#9650{%endif%}{%if sort == '-1'%}<a id="sortasc" href="{{base_url}}&sort=1">Date</a>{%endif%}{%if sort == '-1'%}&#9660{%endif%}
</th>
<th colspan='2'>
{%if sort == '2' or sort not in "-22" %}<a href="{{base_url}}&sort=-2">Incoming</a>{%endif%}{%if sort == '2'%}&#9650{%endif%}{%if sort == '-2'%}<a href="{{base_url}}&sort=2">Incoming</a>{%endif%}{%if sort == '-2'%}&#9660{%endif%}
</th>
<th colspan='2'>
{%if sort == '3' or sort not in "-33" %}<a href="{{base_url}}&sort=-3">Outgoing</a>{%endif%}{% if sort == '3' %}&#9650{%endif%}{%if sort == '-3'%}<a href="{{base_url}}&sort=3">Outgoing</a>{%endif%}{%if sort == '-3' %}&#9660{%endif%}
</th>-->

</tr>
{% for calls in total_calls %}
<tr>
<td>{{calls.0|date:'d M, Y'}}</td>
<td>{{calls.1}}</td>
<td>{{calls.2}}</td>
<td>{{calls.3}}</td>
<td>{{calls.4}}</td>
</tr>
{% endfor %}
{%endif%}
</table>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart(){
         {{jscode|safe}}
         var chart = new google.visualization.ColumnChart(document.getElementById('daily_calls'));
         chart.draw(jscode_data, {width: 900, height: 325, title: 'Daily Calls',lineWidth: 3,pointSize: 5});
    }
</script>

{%endblock%}

