<a class="subscribe">Subscribe</a>
<div class="subscribe_form hide">
    <form method="POST" action="/fb/register-deals/" id="form_subscribe" name="form_subscribe">
        <label>SUBSCRIBE TO DEALS</label>
         <div id="header_subscribe_error" class="error hide marb10"></div>
         
        <input type="text"  class="txt" id="subscribe_name" name="name" value="Name" onfocus="if(this.value=='Name') { this.value='';}"  onblur="if(this.value=='') {this.value='Name'; }" />
        <input type="text" class="txt" id="subscribe_email" name="email" value="Email" onfocus="if(this.value=='Email') { this.value='';}"  onblur="if(this.value=='') {this.value='Email'; }" />
        <input type="text" class="txt" id="subscribe_mobile" maxLength="10" name="mobile" value="Mobile" onfocus="if(this.value=='Mobile') { this.value='';}"  onblur="if(this.value=='') {this.value='Mobile'; }" />
       
        <div class="ra subscribe_submit">
            <a value="SUBSCRIBE NOW" id="subscribe_submit" name="subscribe" title="Subscribe now">SUBSCRIBE NOW</a>
        </div>
    </form>
</div>
<script type="text/javascript">
function refresh_subscribe_submit(){
    $("#subscribe_submit").click(function(){
        var user_action = $(this).attr("name");
        header_user_actions(user_action)
    });
}
</script>
