<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%load web_tags%}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<title>{% block page_title %}{% page_title request %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--
<meta name="description" content="{%block page_desc%}India's phone bazaar. Find best deals on books, magazines, computers, mobiles, home electronics, home appliances. Call 922 222 1947 to buy directly from brands.{%endblock%}"/>
<meta name="keywords" content="{%block page_tags%}Chaupaati Bazaar, Online Shopping, Store Online, Buy Books, Subscribe Magazines, Buy Computer, Mobile, Electronics, Toys, Gifts, Low Price, Purchase On Web, Cheap product, india{%endblock%}"/>
-->
{% block extra_header %}
{% endblock %}
{% block canonical %}
{% endblock %}

{% block blueprint_css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/bp/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/bp/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/pop_up.css" type="text/css" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/ch.v16.css" type="text/css" />
        <link rel="stylesheet" href="{{MEDIA_URL}}js/jquery-suggestion/css/styles.css" type="text/css" /> 
{% endblock %}
		
{% block core_css %}

<!--<link rel="stylesheet" href="{{MEDIA_URL}}css/ch.v19.css" type="text/css" />-->

<link rel="stylesheet" href="{{MEDIA_URL}}js/jsonSuggest/jsonSuggest.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/rupee/font.css">

<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie7.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie8.css" /><![endif]-->

<link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/common.css" type="text/css" media="screen, projection" />
<!--
<link rel="stylesheet" href="{{MEDIA_URL}}css/menu.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/buttons.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/header.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/footer.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/cart.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/search.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/page.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/home.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/category.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/stores.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/product.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/order.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/my_account.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/cc_panel.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/delivery.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/reports.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/pop_up.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.rating.css" type="text/css" media="screen, projection" />

<link rel="stylesheet" href="{{MEDIA_URL}}css/forgot_password.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/jq/jquery-ui-1.8.2.custom.css" type="text/css" media="screen, projection" />
-->

<link rel="shortcut icon" href="{%render_favicon request%}"/>
{% endblock %}

{% block extra_css %}{% endblock %}

{% block jquery %}
<script type="text/javascript" src="{{MEDIA_URL}}js/ch.v3.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jsonSuggest/jquery.jsonSuggest-dev.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jsonSuggest/json2.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.rating.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-timepicker-addon.js"></script>
{% endblock %}

</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan=2 align="center" valign="middle" class="top_banner"><div align="center"> <img src="{{MEDIA_URL}}images/logo.gif" width="140" height="100" /></div></td>
    </tr>
    <tr>
        <td style="width:20%; vertical-align:top;">
            <div class="menu">
            <table style="width:100%">
                <tr>
                    <td>
                        <a class="hupt" href="/categories/view/">Categories</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="hupt" href="YOUR-URL">Upload Document</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="hupt" href="YOUR-URL">Build Document</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="hupt" href="YOUR-URL">Newsletter</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="hupt" href="YOUR-URL">Blog</a>
                    </td>
                </tr>
            </table>
            </div>
        </td>
        <td style="width:80%; vertical-align:top;">
            {% block content %}
            {% endblock %}     
        </td>
    </tr>
</table>
{%block footer%}
{% render_footer request %}
{%endblock%}

{% block script_footer %}
{% endblock %}
</body>
</html>
