{% extends "web/base.html" %}
{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block script_footer %}
{% endblock %}
{% block content %}
<div>
    {% if messages %}
        <div class="orders_msg rc5 padt5">
            <div class="rc5 error">       
                    {% for message in messages %}
                        {{message|safe}}<br/>
                    {% endfor %}   
            </div>
        </div>   
    {% endif %}
    {% if memcache_content %}
        <div class="orders_msg rc5 padt5">
            <div class="rc5 error">       
                    {% for key, content in memcache_content.items %}
                        <b>{{key}}:</b><br/> {{content}}<br/>
                    {% endfor %}   
            </div>
        </div>   
    {% endif %}
    <div style="padding:20px; margin:auto; margin:20px; text-align:center">
        <table>
            <form method="post" action="">
                <tr>
                    <td>
                        Enter the key to be cleared from memcached: 
                        <input type="text" name="key" />
                        <input type="submit" value="Clear from memcache"/>
                    </td>
                </tr>
            </form>
            <form method="post" action="">
                <tr>
                    <td>
                        Enter the keys to see the content in memcached(enter space separated key names): 
                        <input type="text" name="key" />
                        <input type="hidden" name="key_content" value="key_content" />
                        <input type="submit" value="Show cached content"/>
                    </td>
                </tr>
            </form>
            <form method="post" action="">
                <tr>
                    <td>
                        Click Here to: 
                        <input type="hidden" name="key" value="clear_all"/>
                        <input type="submit" value="Flush memcache memory"/>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>
{% endblock %}
