{%load cc_tags%}
<div id="fourofour">
          <ul class="fourofour">
          {% for item in menuitems%}
          <li>
            <h4>{{item.item.name}}</h4>
            <ul>
            {%for group in item.submenu.groups%}
            {%for row  in group.rows%}
            {%for column in row.columns%}
            {% if column.name %}
                <li><a href="{%cc_url request column.url%}">{{column.name}}</a></li>
            {%endif%}
            {%endfor%}
            {%endfor%}
            {%endfor%}
            </ul>
          </li>
          {%endfor%}
          </ul>
         <div class="clear"></div>
        </div>

