{% extends 'popups/dialog.html' %}
{% block content %}
<form method="post" {%if phonepedeal%}action="/auth/signin/phonepedeal" {%else%} action="/auth/signin/"{%endif%} id="form_signin" name="form_signin">

<div id="tr_error" class="hide_div error" style=""><span id="errors" style="color:#8A1F11;">{{error}}</span></div>

<div>
<span class="f11 fdgray" style="margin-left:1px;">Email / Mobile</span>
        <input type="text" size="44"  id="username" name="username" value="{{username}}" />
        </div>
        
<div>
<span id="lpassword" class="f11 fdgray" style="margin-left:1px;">{%ifequal type "signin"%}Password {%else%}Set Password{%endifequal%}</span>
        <input type="password" size="44" id="password" name="password"/>      
        </div>        
<div id="lcpassword" {%ifequal type "signin"%} class="hide_div" {%endifequal%}>
<div class="f11 fdgray" style="margin-left:1px;">Confirm Password</div>
        <input type="password" size="44" id="cpassword" name="cpassword"/>        
</div>
<div class="f11 margin-t5">
	<input type="submit" value="{%ifequal type "signin"%}Sign in{%else%}Sign up{%endifequal%}" id="login" class="f11" /> &nbsp;
    <button class="linkButton" id="cancel">Cancel</button>
</div>
<div class="margin_t10">
    <button class="linkButton f11" id="forgot">Forgot Password?</button>
    <input type="hidden" id="isphonepedeal" value="{{phonepedeal}}">
</div>
</form>
<script type="text/javascript">


    $.fn.isMobileValid = function(){
        var mobile  = $(this).val();
        if(mobile){
            return true;
            if(mobile.trim().length > 10) return false;
            if(mobile.trim().length < 10) return false;
            for ( var i=0; i < mobile.length; i++ ){
                if ( "0123456789".indexOf(mobile.charAt(i)) == -1 )
                    return false;
            }
        }
    }
    $('#username').blur(function() {
		var mobile = $('#username').val();
		if($('#username').isMobileValid()){
        $('#tr_error').removeClass('show_div');
        $('#tr_error').addClass('hide_div');
        var data = 'username=' + $('#username').val();
        var phonepedeal = $('#isphonepedeal').val();
        var action = '/user/checkuser';
        var onSuccess = function(response) {
            var data = $.parseJSON(response);
            var is_new_user = data.is_new_user;
            var full_name = data.full_name;
            var has_password = data.has_password;
            if(is_new_user && !(phonepedeal== 'True')){
                $('#dialog').dialog({title:'Sign up'});
                $('#lpassword').html('Set Password');
                $('#lcpassword').addClass('show_div');
                $('#lcpassword').removeClass('hide_div');
                $('#login').val('Sign up');
            }
            else if(!has_password && !(phonepedeal=='True')){
                $('#dialog').dialog({title:'Sign up'});
                $('#lpassword').html('Set Password');
                $('#lcpassword').addClass('show_div');
                $('#lcpassword').removeClass('hide_div');
                $('#login').val('Sign up');
            }
            else{
                $('#dialog').dialog({title:'Sign in'});
                $('#lpassword').html('Password');
                $('#lcpassword').addClass('hide_div');
                $('#lcpassword').removeClass('show_div');
                $('#login').val('Sign in');
            }
        };
        var onError = function() {
        };
        $.ajax({ url:action,
            data : data,
            success : onSuccess,
            error : onError,
            type : 'POST'
            });
        return false;
        }
        else{
			if(mobile){
            $('#tr_error').addClass('show_div');
            $('#tr_error').removeClass('hide_div');
            $('#errors').html('Please enter a valid username');
			}
		} 
    });
	$('#login').click(function(){
		var mobile = $('#username').val();
		if(!mobile){
			$('#tr_error').addClass('show_div');
            $('#tr_error').removeClass('hide_div');
            $('#errors').html('Please enter a valid username');
		}
	});
	 $('#cancel').click(function(){
        $('#dialog').dialog('close');
        return false;
    });
	 $('#forgot').click(function(){
        $('#dialog').dialog('close');
        var url = $(location).attr('protocol');
        url += "//" + $(location).attr('host');
        url += "/forgotpassword/";
        location.href = url;
        return false;
    });
	
</script>
{% endblock %}
