
<p class="f16 marb5">You can make a Cheque/DD payment for any order placed.</p>
<p>Please mention your order ID behind the Cheque/DD. <a class="popup" href="/orders/payment/paymentinstructions.html">Click here</a> to learn complete Payment Instructions.</p>

<div class="notice">
    <b>Note:</b>
    <ul>
    <li>Payments through Cheque /DD must be made within the next 2 days and informed to us in order to avoid cancellation of the order. 
    </li>
    <li>Please contact us via email or Phone after submitting the Payment so that we can track your payment.</li>
    <li>We will begin processing your order after receipt and clearance of Cheque.</li>
    <li>Alternately, You may opt for Credit Card or Netbanking as payment modes which are instant payments.</li>
    </ul>
</div>
<script type="text/javascript" src="/media/js/popup.js"></script>
