                    <tr><td class="ra fb"><span class="label">Issuing Bank</span></td>
                        <td>
                            {{card_form.issuing_bank}}
                        </td>
                    </tr>
                    <tr><td class="ra fb"><span class="label">Last 4 Digits of Credit Card</span></td><td>{{card_form.last_4_digits}} </td></tr>
                     <tr><td class="ra fb"> <span class="label">Issuing Date</span></td><td>                  
                        {{card_form.issue_month}}
                        {{card_form.issue_year}}
                    </td></tr>
                     <tr><td class="ra fb"> <span class="label">Expiration Date</span></td><td>                  
                        {{card_form.exp_month}}
                        {{card_form.exp_year}}
                    </td></tr>
                       <tr><td class="ra fb"><span class="label">Name on Credit Card </span></td><td>{{card_form.name_on_card}} </td></tr>
