<form>
  <label>
    <input id="payback_id" name='payback_id' type='radio' checked="checked" style="display:none;" /> <span class="f16">Redeem your PAYBACK points.</span><br /> <strong> {{ points }} </strong> points required to complete the transaction.
  </label>
</form>
<div class="notice">
	<b>Note</b>
	<ul>
		<li>FutureBazaar is a partner of PAYBACK loyalty program.</li>
		<li>The value of the product in PAYBACK points is mentioned on the product page.</li>
		<li>You can also earn PAYBACK points every time you shop on FutureBazaar.</li>
		<li>To know more about PAYBACK, please <u><a href="/payback" target="_blank"> click here</a></u></li>
		<li>For T&amp;C, please <u><a href="/info/terms_and_conditions.html#Payback" target="_blank">click here</a></u></li>
	</ul>
</div>
