{% extends 'support/base.html' %}
{% block content %}
    {% load pagination_tags %}
    {% autopaginate refunds items_per_page %}
    {% load support_tags %}
    {% load cc_tags %}
<style type='text/css'>
.action_input select{width:120px;height:21px;font-size:11px;}
.action_input input{height:21px;margin-left:5px;font-size:11px;padding:0 3px;}
</style>
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; Refunds</div>
  <div class="content_head" style="margin:0px !important;">
    <div class="header rc5 left">
      <h1>Refunds</h1>
    </div>
	<div id="filter_link_wrapper" class="header right">
		<a class="toggle-up-arrow" id="filter_link" title="Click here to filter your search" href="#">Filter your search</a>
	</div>
    <div class="clear bordergray"></div>
  </div>
  <div class="main clear">
    <div id="filter_form" class='marb10 clear'>
		{% if filter_form %}
		{% if filter_form.errors %}
		<div class='error'>{{filter_form.errors}}</div>
		{% endif %}
        <form name='filter_form' method='get'>
            <input type='hidden' name='download' value='' />
            <div class='row clear'>
                <div class='col1 f11 flgray left'>{{filter_form.name.label}}</div>
			    <div class='col2 left'>{{filter_form.name}}</div>
                <div class='col1 f11 flgray left marl38'>{{filter_form.phone.label}}</div>
			    <div class='col2 left'>{{filter_form.phone}}</div>
                <div class='col1 f11 flgray left marl38'>{{filter_form.email.label}}</div>
                <div class='col2 left'>{{filter_form.email}}</div>
            </div>
			<div class='row clear'>
                <div class='col1 f11 flgray left'>{{filter_form.order_id.label}}</div>
			    <div class='col2 left'>{{filter_form.order_id}}</div>
                <div class='col1 f11 flgray left marl38'>{{filter_form.payment_mode.label}}</div>
			    <div class='col2 left'>{{filter_form.payment_mode}}</div>
                <div class='col1 f11 flgray left marl38'>{{filter_form.state.label}}</div>
                <div class='col2 left'>{{filter_form.state}}</div>
            </div>
			<div class='row clear'>
                <div class='col1 f11 flgray left'>Date Range</div>
                <div class='col2 left'>{% support_daterange request 0 1%}</div>
            </div>
            <div class='right'>
                <input type="submit" value="Search" class="btn_c btn_c_s fb" title="Search Refunds">
            </div>
			<div class='clear'></div>
        </form>
    </div>
    {% endif %}
    
    {% if refunds %}
    <div class='right mart5 marl10'>
        <a href='#' id='download' class='excel_download'></a>
    </div>
    <table class="tbl_response tablesorter f11" id='refund_list'>
		<thead>
		<tr>
            {% comment %}<th class="w20"><input type='checkbox' name='payments_select_all'/></th>{% endcomment %}
			<th class="w110 header">Order ID</th>
			<th class="w100 header">Payment Mode</th>
            <th class="w75 header">Amount</th>
            <th class="w110 header">Opened On</th>
            <th class="w120 header">Closed On</th>
            <th class="w125 header">State</th>
            <th class="w100 header">Order State</th>
            {% comment %}<th class="w175">Action</th>{% endcomment %}
		</tr>
		</thead>
		<tbody>
		{% for refund in refunds %}
        <tr>
            {% comment %}<td class="txtalgnc"><input type='checkbox' name='payments' value='{{payment.id}}'/></td>{% endcomment %}
            <td class="txtalgnc"><a href="{% cc_url request "order/" %}{{refund.order.id}}">{{refund.order.reference_order_id|default:refund.order.id}}</a></td>
            <td class="txtalgnc">{{refund.order.payment_mode}}</td>
            <td class="txtalgnc"><span class="WebRupee">Rs. </span>{{refund.amount|floatformat:0}}</td>
            <td class="txtalgnc">{{refund.created_on|date:'d M Y'}}</td>
            <td class="txtalgnc">{%if refund.status == 'closed'%}{{refund.modified_on|date:'d M Y'}}{%endif%}</td>
            <td class="txtalgnc">{{refund.status|title}}</td>
            <td class="txtalgnc">{{refund.order.support_state|title}}</td>
            {% comment %}<td class="txtalgnc action_input">{% choicefield 'payment' payment action_flows 'action_id'%}</td>{% endcomment %}
        </tr>
		{% endfor %}
		</tbody>
	</table><br />
    {% paginate %}
    {% else %}
        {% if errors %}
            <ul>
            {% for error in errors %}
                <li>{{error}} </li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="mart10">No refunds present</div>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script_footer %}
{{block.super}}
$('#download').click(function(){
    $('input[name="download"]').val('1');
    $('form[name="filter_form"]').trigger('submit');
    $('input[name="download"]').val('');
    return false;
});

$('#filter_link').toggle(
    function(){
        $('#filter_form').hide();
		$(this).removeClass('toggle-up-arrow');
		$(this).addClass('toggle-down-arrow');
    },
    function(){
        $('#filter_form').show();
		$(this).removeClass('toggle-down-arrow');
		$(this).addClass('toggle-up-arrow');
    }
);
{% endblock %}
