<!--Pop Up-->
<script type="text/javascript">
$(document).keyup(function(e) {
    if (e.keyCode == 27)
    { $('.closeit').click(); }   // esc
});
$(".closeit").click(function(){
             $("#bg, #address_container").fadeOut(100);
});
</script>

<div  class="padding10" id="delivery_table">
<form method="POST" action="/feedback_popup/" id="feedback_form" name="feedback_form">
<div id="post_errors"></div>
<div id="error_msg" class="error hidden"></div>
 {% if form.errors %}
          <p style="color: red;">
                      Please correct the error{{ form.errors|pluralize }} below.
          </p>
  {% endif %}
   
                    <div class="f11" id="delivery_address_block">
                        <div class="padding_bot5">
                            {{form.name.errors}}
                            <div> {{form.name.label}} <span class="mand">*</span><div id="name_error"></div></div>
                            {{form.name}}
                        </div>
                        {{form.feedback.errors}}
                        <div class="padding_bot5">
                            <div>{{form.feedback.label}} <span class="mand">*</span><div id="feedback_error"></div></div>
                            {{form.feedback}}
                        </div>
                        <div class="padding_bot5">
                            <div class="fll">
                                {{form.phone.errors}}
                                <div class="f11">{{form.phone.label}} <span class="mand">*</span><div id="phone_error"></div></div>
                                <div id="phone_entry">
                                {{form.phone}}
                                &nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="fll">
                                {{form.email.errors}}
                                <div class="f11" id="email_image">{{form.email.label}} <span class="mand">*</span><div id="email_error"></div></div>
                                {{form.email}}
                            </div>
                        </div>
                    <br/>
                    <br/>
                    <div class="clear"></div>
  <INPUT TYPE="submit" class="submit_feedback" value="Save" />
  <INPUT TYPE="reset" VALUE="Reset">
                    </div>
</form>
  <div class="closeit"  style="">Close</div>   
</div>
