<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <!-- <meta http-equiv="imagetoolbar" content="no" />-->
    <title>FancyBox 1.3.4 | Demonstration</title>
<!--fancybox-->


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script>
      <!--  !window.jQuery && document.write('<script src="\/media\/js\/jquery-1.4.3.min.js"><\/script>');-->
    </script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/cookie.js"></script>
   


 
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<!--    <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" />-->
    <script type="text/javascript">
        $(document).ready(function() {
        var is_hide_cookie_set = ($.cookie('subpopdd') == "yes");
        if (is_hide_cookie_set == false)
        {
            $.cookie("subpopdd","yes")
            var set_hide_cookie = $.cookie('subpopdd');
        };
        if (is_hide_cookie_set == false)
        {
            $('#form1').trigger('click');
            $("#form1").fancybox();
        };
            $('#form1').trigger('click');
        
        });

        function doUnload()
        {
         if (window.event.clientX < 0 && window.event.clientY < 0)
          {
            $.cookie("subpopdd",null);
              }
              }
    </script>
</head>
<body onunload="doUnload()">
<!--facebook    -->
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

    <script>
         FB.init({ 
            appId:{{app_settings.facebook_app_id}}, cookie:true, 
            status:true, xfbml:true 
         });
      </script>

    <script>
   var  div    = document.getElementById('fb-root'),
  showMe = function(response) {
    if (!response.session) {
      div.innerHTML = '<em>Not Connected</em>';
    } else {
      FB.api('/me', function(response) {
        var html = '<table>';
        alert(response)
        var action = "/fb/facebook/"
        var data=response
        for (var key in response) {
        alert(typeof(response[key]));
          html += (
            '<tr>' +
              '<th>' + key + '</th>' +
              '<td>' + response[key] + '</td>' +
            '</tr>'
          );
        
        }
        div.innerHTML = html;
        var onSuccess = function(response) {
            };
            var onError = function() {
            };
        var dJSONObjects = jQuery.parseJSON(response);
        alert("dJSONObjects: " + dJSONObjects);
        $.ajax({ url:action,
                   data : data,
                   success :onSuccess ,
                   error : onError,
                   type : 'POST'
                   });


      });
    }
  };
FB.getLoginStatus(function(response) {
  showMe(response);
  FB.Event.subscribe('auth.sessionChange', showMe);
});    
    </script>
<!--facebook-->

<div id="content">
    <p>
    <a id="example1" href="{{MEDIA_URL}}images/ppd-logo.gif"><img alt="Logo" src="{{MEDIA_URL}}images/ppd-logo.gif" /></a>
    <a style="display: none;" id = "form1" href = "#form"> Form </a>
    </p>
   <div style="display: none;"> 
        <div id="form" >
            {% for field in form.fields %}
                {%for error in field.errors%}
                <div class="error">{{error}}</div>
                {%endfor%}
            {% endfor %}
            <form method="post" action="">
            {% for field in form %}
            <div>
            
                {{field.label_tag}}*
                {{field}}
            </div>
            {% endfor %}
            <input type="submit" id = "submit"/>
            </form>
<a href="#" onclick="FB.login();return false;"><img src="{{MEDIA_URL}}images/btn_connect.gif"></a>

<!--            <fb:login-button perms="email">Login with Facebook</fb:login-button> -->
        </div>
        </div>
</div>
