{% extends 'analytics/base.html' %}
{% block content %}
{% block breadcrumb %}
{%endblock%}
<div class="padding_10">
    <div class="content_head">
        <div class="header rc5 left">
            <h1>Permission Denied</h1>
        </div>
    </div>
</div>
<div class="main clear">
    <p style="margin-left:30px;font-size:13px;">You do not have the required permissions to access this page!</p>
    <br />
</div>

<a href="/" style="font-size:16px;margin-left:10px;">Return to the home page</a>

{%endblock%}
