{% extends "analytics/base.html" %}
{% load order_tags %}
{% block content %}
<div class="content_head">
  <div class="header rc5">   
    <h3 class="left">Dashboards</h3>    
    <div class="clear"></div>
  </div>
  </div>
 <div class="dashboard">
<div class="dashboard_block dashboard_row1 rc5">
        <h3 class="toprc5">Reports</h3>
        <ul>           
            <li><a href="/reports/mid_day_dashboard/">Mid Day Orders Dashboard</a></li>
                 
        </ul>
   <div class="clear"></div>   
</div>   
<div class="clear"></div>
</div>   
{% endblock %}
