{% extends "analytics/base.html" %}
{% load order_tags %}
{% block content %}
<div class="content_head">
  <div class="header rc5">   
    <h3 class="left">Ezone Reports Dashboard</h3>    
    <div class="clear"></div>
  </div>
  </div>

<div class="rc5" style="border:1px solid #ccc; width:360px; margin-top:20px;">
<div class="toprc5 fb" style="background-color:#EDEDED; padding:5px 10px; font-size:16px;">Ezone Reports</div>
        <ul style="padding:10px 20px 20px; list-style:disc;">           
           <li><a href="/reports/summary_report/1000028_1000020_1000024/?aggregate=count">Sales (Order Count) - Phone vs Web vs Store</a></li>
            <li><a href="/reports/summary_report/1000028_1000020_1000024/?aggregate=sum">Sales (Order Value) - Phone vs Web vs Store</a></li>
            <li><a href="/reports/LOB_report/1000028_1000020_1000024">Sales by LOB</a></li>
            <li><a href="/reports/sku_report/1000028_1000020_1000024">Sales by sku</a></li>
            <li><a href="/reports/cancellation_report/1000028_1000020_1000024">Cancellation Report</a></li>
            <li><a  href="/reports/category_report/1000028_1000020_1000024">Sales by Category</a></li>
            <li><a href="/reports/formatwise_report/">Sales by Format </a></li>
            <li><a href="/reports/citywise_report/1000028_1000020_1000024">Sales by City </a></li>
	        <li><a href="/reports/payment_report/1000028_1000020_1000024">Sales by Payment Mode</a></li>

            <li><a href="/reports/scm_dashboard_report/booked_to_paid/1000028_1000020_1000024">Order booked to Payment</a></li>
            <li><a href="/reports/scm_dashboard_report/paid_to_delivered/1000028_1000020_1000024">Order Payment to Delivery Creation</a></li>
            <li><a href="/reports/scm_dashboard_report/del_created_to_invoiced/1000028_1000020_1000024">Delivery Creation to Invoiced</a></li>
            <li><a href="/reports/scm_dashboard_report/paid_to_invoiced/1000028_1000020_1000024">Payment to Invoiced</a></li>
                 
            <li><a href="/reports/scm_dashboard_report/cancelled_orders/1000028_1000020_1000024">Cancellation Reason Report</a></li>
            <li><a href="/reports/scm_dashboard_report/returned_orders/1000028_1000020_1000024">Returned Orders Report</a></li>
            <li><a href="/reports/open_orders_report/1000028_1000020_1000024">Open Orders Report</a></li>
            <li><a href="/reports/deal_reports/1000028_1000020_1000024">Deal Reports</a><span class="fb fi fblack"> (Updated)</span></li>
        </ul>
   <div class="clear"></div>   
</div>   
<div class="clear"></div>
</div>   
{% endblock %}
