{%load order_tags%}
<style type="text/css">
	.content_head {margin:0;}
</style>
<div>
	<div class="content_head">
		<div class="header rc5 left">
		  <h1>{{title}}</h1>
		</div>
		<div class="right content_head">
			<div id="dr_container">
				<ul class="date_range">
					<li class= {% if search_trend == "day" %} "sel_dr" {%else%} "white" {%endif%} id="id_day" title="Today">Day</span>
					<li class= {% if search_trend == "week" %} "sel_dr" {%else%} "white" {%endif%} id="id_week" title="Last 7 days">Week</span>
					<li class= {% if search_trend == "month" %} "sel_dr" {%else%} "white" {%endif%} id="id_month" title="Last 30 days">Month</span>
					<li class= {% if search_trend == "mtd" %} "sel_dr" {%else%} "white" {%endif%} id="id_mtd" title="This month">MTD</span>
					<li id="li_dr">
						<input readonly=True type="text" id="dr" value="{{form.start_date.value}} - {{form.end_date.value}}" /> 
					</li>
				</ul>
				<div class="clear"></div>
				<div id="sr" style="display:none;float:left">
					<table class="tbl_sr">
					  <tr>       
						<td>From </td>
						<td><input type="text" name="start_date" id="id_start_date" value="{%form_field_value form 'start_date'%}" Autocomplete=OFF /></td>
						<td class="ra" width="80">To</td>
						<td><input type="text" name="end_date" id="id_end_date" value="{%form_field_value form 'end_date'%}" Autocomplete=OFF /></td>
						<td>
					  <button type="button" id="id_apply" disabled=True class="uiButton" >Apply</button>
						  </td>
					  </tr>
					</table>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="main padding_bot5">
		<div class="f11"> {{form.start_date.value}} - {{form.end_date.value}} </div>
	</div>
</div>
<div class="hide" id="wait" ><div style="margin:-50px auto 0;width:75px; "><img src="/media/images/ajax-loader.gif" /></div></div>
    <div class="clear"></div>

{% if form.errors %}
    <div class="orders_msg rc5">
          <div class="rc5 error">
        <ul style="list-style-type:disc; padding-left:10px;">		
            {{form.errors}}
        </ul>
        </div>
    </div>
{% endif %}

{% block form_script_footer %}
<script type="text/javascript" language="javascript">
$(document).ready(function() {   
	$(function() {          
		$('#dr').toggle(
		function(){           
			$( '#sr' ).show("fast", 0);                     
			return false;           
		},
		
		function(){                   
				$( '#sr' ).hide("fast", 0);                                         
				return false;
		}
		);     
	}); 
});
</script>
<script type="text/javascript" language="javascript">  
$(document).ready(function() { 
    $('#id_start_date').datepicker({dateFormat: 'dd M, yy', maxDate:'0',
        onSelect: function(){
            $('#id_end_date').val("");
            $('#id_end_date').datepicker('enable');
        }
    });
    $('#id_end_date').datepicker({dateFormat: 'dd M, yy', minDate:$('#id_start_date').val(),maxDate:'0',
        beforeShow: function(){
            var newDate = $('#id_start_date').datepicker('getDate');
            if(newDate){
                $('#id_end_date').datepicker('option','minDate', newDate);                   
            }
            else{
                $('#id_end_date').datepicker('disable'),True;
            }
        },
        onSelect: function(){
            document.getElementById('id_apply').disabled = false;
        }
    });
});
</script>
<script type="text/javascript" language="javascript">   
$(document).ready(function(){

    $('.main_submit').click(function(){
        {%if null_form_entries%}
            var form=$('#report_form');
            {%for null_entry in null_form_entries%}
                $('{{null_entry}}').val('');
            {%endfor%}
            form.submit()
        {%endif%}
    });

    $('#id_apply').click(function(){
        var form = $('#report_form');
        form.submit();
    });

    $('#id_day').click(function(){
        var form = $('#report_form');
        var datetime = "{%input_date_diff 0%}"
        $("#id_start_date").val(datetime);
        $("#id_end_date").val(datetime);
        form.submit();
    });

    $('#id_week').click(function(){
        var form = $('#report_form');
        var datetime = "{%input_date_diff 6%}"
        $("#id_start_date").val(datetime);
        var datetime = "{%input_date_diff 0%}"
        $("#id_end_date").val(datetime);
        form.submit();
    });

    $('#id_month').click(function(){
        var form = $('#report_form');
        var datetime = "{%input_date_diff 29%}"
        $("#id_start_date").val(datetime);
        var datetime = "{%input_date_diff 0%}"
        $("#id_end_date").val(datetime);
        form.submit();
    });

    $('#id_mtd').click(function(){
        var form = $('#report_form');
        var datetime = "{%get_month_dates 'from'%}"
        $("#id_start_date").val(datetime);
        var datetime = "{%get_month_dates 'to'%}"
        $("#id_end_date").val(datetime);
        form.submit();
    });
});
</script>
{%endblock%}
