<style type="text/css">
	.selected_link {
    font-weight: normal;
}
</style>
{%if user_list%}
	<div class="f11 fdgray mart10">
		<span class="left padt3">Recently accessed by:</span>
			{%for user in user_list%}
			<span class="left">
		        <form method="POST" action="/report_dashboard/report_access_details/">
                <input type="hidden" name="usernames" value="{{user.django_username}}" />
				&nbsp; &nbsp;<span class="selected_link user_access"><input type="submit" class="submitButtonlinkBlue" value="{{user.user}}" /></span>
                </form>
			</span>
			{%endfor%}
	</div>
{%endif%}

