<div class="popup_con">
	<div class="popup_inner">
		<h1 class="h1">Your Cart</h1>
		<div class="popup_inner_con">
			
			<!-- Cart page Content -->
			<div>
				<div>
					<table class="checkout_table" id="cart">
						<tr>
							<th width="*" class="padl20" colspan="2">Item</th>
							<th width="110">Price</th>
							<th width="40" class="ca">Qty</th>
							<th width="80" class="ra">Amount</th>  
						</tr>
			
						<tr> 
							<td width="60">
								<img width="48" height="48" title="Canon EOS 1000D (Kit) 10.1 MP DSLR Camera" alt="" src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/Cameras/600330994/T1.jpg">
							</td>
							<td>
								<span class="f12">Canon EOS 1000D (Kit) 10.1 MP DSLR Camera</span><br>
								<div class="marb5 f11 fdgray">FBID: 1141713</div>
								<div class="wishlist_remove">
									<form action="" method="post">
										<input type="hidden" value="remove_cart_item" name="action">
										<input type="hidden" value="261756" name="itemid">         
										<button title="Remove this item from your cart" type="submit" class="linkButton">Remove item x</button>
									</form>
								</div> 
							</td>
							<td>
								<div class="f15 forange fb"><span class="WebRupee">Rs.</span> 19490.00</div>
								<span class="f11 fdgray fs"><span class="WebRupee">Rs.</span> 25295.00</span>
							</td>
							<td>
								<form name="261756_update" id="261756_update" action="" method="post">
									<input type="hidden" name="action" value="update_cart_item">
									<input type="hidden" name="itemid" value="261756">
									<select onchange="ChangeItemQuantity('261756');" style="width:50px; padding:0px;" name="261756_qty" id="261756_qty">
										<option value="1">1</option>
										<option value="2">2</option>
										<option selected="" value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</form>
							</td>
							<td valign="top" class="ra"><span class="fb f15 forange"><span class="WebRupee">Rs.</span> 58,470</span></td>
						</tr>
						<tr> 
							<td width="60">
								<img width="48" height="48" title="Nokia E7 GSM Handset" alt="" src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/Mobiles/600377293/T1.jpg">
							</td>
							<td>
								<span class="f12">Nokia E7 GSM Handset</span><br>
								<div class="marb5 f11 fdgray">FBID: 2579291</div>
								<div class="wishlist_remove">
									<form action="" method="post">
										<input type="hidden" value="remove_cart_item" name="action">
										<input type="hidden" value="261758" name="itemid">         
										<button title="Remove this item from your cart" type="submit" class="linkButton">Remove item x</button>
									</form>
								</div> 
							</td>
							<td>
								<div class="f15 forange fb"><span class="WebRupee">Rs.</span> 25480.00</div>
								<span class="f11 fdgray fs"><span class="WebRupee">Rs.</span> 28019.00</span>
							</td>
							<td>
								<form name="261758_update" id="261758_update" action="" method="post">
									<input type="hidden" name="action" value="update_cart_item">
									<input type="hidden" name="itemid" value="261758">
									<select onchange="ChangeItemQuantity('261758');" style="width:50px; padding:0px;" name="261758_qty" id="261758_qty">
										<option selected="" value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</form>
							</td>
							<td valign="top" class="ra"><span class="fb f15 forange"><span class="WebRupee">Rs.</span> 25,480</span></td>
						</tr>
						<tr> 
							<td width="60">
								<img width="48" height="48" title="Canon EOS 1000D (Kit) 10.1 MP DSLR Camera" alt="" src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/Cameras/600330994/T1.jpg">
							</td>
							<td>
								<span class="f12">Canon EOS 1000D (Kit) 10.1 MP DSLR Camera</span><br>
								<div class="marb5 f11 fdgray">FBID: 1141713</div>
								<div class="wishlist_remove">
									<form action="" method="post">
										<input type="hidden" value="remove_cart_item" name="action">
										<input type="hidden" value="261756" name="itemid">         
										<button title="Remove this item from your cart" type="submit" class="linkButton">Remove item x</button>
									</form>
								</div> 
							</td>
							<td>
								<div class="f15 forange fb"><span class="WebRupee">Rs.</span> 19490.00</div>
								<span class="f11 fdgray fs"><span class="WebRupee">Rs.</span> 25295.00</span>
							</td>
							<td>
								<form name="261756_update" id="261756_update" action="" method="post">
									<input type="hidden" name="action" value="update_cart_item">
									<input type="hidden" name="itemid" value="261756">
									<select onchange="ChangeItemQuantity('261756');" style="width:50px; padding:0px;" name="261756_qty" id="261756_qty">
										<option value="1">1</option>
										<option value="2">2</option>
										<option selected="" value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</form>
							</td>
							<td valign="top" class="ra"><span class="fb f15 forange"><span class="WebRupee">Rs.</span> 58,470</span></td>
						</tr>
					</table>
				</div>
				
				<!-- i-mint -->
				<div class="pad5 mart10 dbox">
					<label style="line-height:22px;" class="left fblack">Use your Payback / iMint card number and earn points (<a target="_blanck" class="f11 popup" href="/info/payback_whats_this.html">What's this?</a>)</label>
					<form class="left marl10" action="/orders/mycart/" method="post">
						<span>
							<input type="text" value="16 digit card number" onfocus="if (value == '16 digit card number') {value=''}" onblur="if (value== '') {value='16 digit card number'}" style="width:155px; font-size:12px; padding:3px; margin-right:5px; color:#666;" size="10" name="payback_id" maxlength="16" id="payback_id">
							<input type="hidden" value="/orders/mycart" name="redirect_to" id="redirect_to">
							<input type="hidden" value="apply_payback" name="action">
							<button id="apply_payback" class="btn_c btn_c_s" title="Apply and Earn Points" type="submit">Apply</button>
						</span>
					</form>
					<div class="clear"></div>
				</div>
				<!-- /i-mint -->
				
				<!-- Total and Button -->
				<div style="position: relative;" class="padt10">
					<div style="width:188px;" class="left carttotal">
						<table style="width:100%;">
							<tr>
								<td style="width:100px;" class="ra f13 bbnone fb">Total:</td>
								<td style="width:80px;" class="ra f15"><span id="oPayableAmount" class="fb"><span class="WebRupee">Rs.</span> 83,950</span></td>
							</tr>
						</table>	
					</div>
					
					<div style="position: absolute; right: 0px; bottom: -2px;" class="right cart_checkout_btn">
						<form id="next_action" action="/orders/shipping" method="post">
							<input type="submit" class="btn_c btn_c_m btn_orange" value="Checkout" name="Proceed">
						</form>
					</div>
					<div class="clear"></div>	
				</div><!-- /Total and Button -->
				
				<div class="f14 fb padt10 mart10" style="border-top:1px solid #EEEEEE;">
					<img alt="+" src="/media/images/plus12x12.gif"> <a title="Continue shopping, add more items to your cart" href="/">Add more items</a> to your cart
				</div>
			</div><!-- /Cart page Content -->
		</div>
	</div>
</div>