<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div id="body-container-details">
		<h1>Free Shipping</h1>
		
		<a id="FreeShipping" name="FreeShipping"></a>
		<ul>	
		<li>We offer <strong>FREE SHIPPING on most products</strong> and the same will be specified on the Product Description Page.</li>
		<li>For Category of products where Shipping Cost, the total shipping charge for your Order will be displayed once you proceed to check out.</li> 
		<li>Octroi charges wherever applicable is prepaid and not to be borne by the customer.</li>
		<li>It is our endeavour to ship all items in your Order together; however this may not always be possible due to product characteristics, or availability. Also there may be restrictions on accepting Orders for certain pin codes as cannot be shipped to those destinations. In such scenarios, order will not be accepted online and message will be displayed requesting to provide an alternate pin code.</li>
		<li>Currently, each order may be shipped only to a single shipping address. If you wish to ship products to different addresses, you need to place multiple orders.</li>
		</ul>

		<p><strong>Please call us on 022-67840400 or e-mail us at customerservice@futurebazaar.com if you have any questions.</strong></p>

  </div>
</body>
</html>
