<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div id="body-container-details">
		<h2>Convenient Payment Options</h2>
		
		<ul>	
			<li>Pay by Credit/ Debit* Card</li>
			<li>EMI through ICICI Bank Credit Card</li>
			<li>Pay by cash via Suvidhaa, EasyBill, and cash deposit at ICICI Bank branches.</li>
			<li>Pay by Net-Banking</li>
			<li>Pay by Mobile through M-Chek</li>
			<li>Pay by Cheque/DD</li>
			<li>Pay by FutureMoney EMI</li>
		</ul>
  </div>
  <div id="body-container-details">
		<h2>Payment Partners</h2>
			<div class="bank-list">
                  	<img border="0" src="../images/logo-bank-rajasthan.gif" alt="The Bank of Rajasthan Ltd." title="The Bank of Rajasthan Ltd.">
                    <img border="0" src="../images/logo-city-bank.gif" alt="Citibank" title="Citibank">
                    <img border="0" src="../images/logo-federal-bank.gif" alt="Federal Bank" title="Federal Bank">
                    <img border="0" src="../images/logo-punjab-bank.gif" alt="Punjab National Bank" title="Punjab National Bank">
                    <img border="0" src="../images/logo-yes-bank.gif" alt="Yes Bank" title="Yes Bank">
                    <img border="0" src="../images/logo-induslnd-bank.gif" alt="Induslnd Bank" title="Induslnd Bank">
                    <img border="0" src="../images/logo-kotak-bank.gif" alt="Kotak Mahindra Bank" title="Kotak Mahindra Bank">
                    <img border="0" src="../images/logo-idbi-bank.gif" alt="IDBI Bank" title="IDBI Bank">
                    <img border="0" src="../images/logo-hdfc-bank.gif" alt="HDFC Bank" title="HDFC Bank">
					
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/abn-amro.gif" alt="ABN-AMRO" title="ABN-AMRO">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/axis-bank.gif" alt="Axis Bank" title="Axis Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/bank-of-baroda.gif" alt="Bank of Baroda" title="Bank of Baroda">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/state-bankof-travi.gif" alt="State Bank of Travancore" title="State Bank of Travancore">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/city-union-bank.gif" alt="City Union Bank Ltd" title="City Union Bank Ltd">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/deutsceh-bank.gif" alt="Deutsche Bank" title="Deutsche Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/laxmi-vilas-bank.gif" alt="Lakshmi Vilas Bank" title="Lakshmi Vilas Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/bank-of-maharashtra.gif" alt="Bank of Maharashtra" title="Bank of Maharashtra">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/corporate-bank.gif" alt="Corporation Bank" title="Corporation Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/icici-bank.gif" alt="ICICI Bank" title="ICICI Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/j-k-bank.gif" alt="J &amp; K Bank" title="J &amp; K Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/karnatka-bank.gif" alt="Karnataka Bank" title="Karnataka Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/karur-vysya-bank.gif" alt="Karur Vysya Bank" title="Karur Vysya Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/oriental-bank-of-commerce.gif" alt="Oriental Bank of Commerce" title="Oriental Bank of Commerce">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/sbi.gif" alt="State Bank of India" title="State Bank of India">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/south-indian.gif" alt="South Indian Bank" title="South Indian Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/syndicate-bank.gif" alt="Syndicate Bank" title="Syndicate Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/union-bank.gif" alt="Union Bank of India" title="Union Bank of India">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/vijaya-bank.gif" alt="Vijaya Bank" title="Vijaya Bank">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/bank-of-india.gif" alt="Bank of India" title="Bank of India">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/suvidhaa-logo.gif" alt="Suvidhaa" title="Suvidhaa">
					<img border="0" src="http://images.futurebazaar.com/catalog/fb_new/easybill-Logo.gif" alt="EasyBill" title="EasyBill">
                    <img border="0" src="http://images.futurebazaar.com/catalog/fb_new/amex_logo.gif" alt="American Express" title="American Express">

                  </div>
		</div>
</body>
</html>
