<table width="900px" align="center" cellspacing="0" class="campaign_summary">
    <tr>
        <td class="heading brt"><h4>Pipeline Summary</h4></td>
        <td class="spacer">&nbsp;</td>
        <td class="heading c_attempted"><h4>Attempted</h4></td>
        <td class="heading c_connected"><h4>Connected</h4></td>
        <td class="heading c_pending_order"><h4>Pending Order</h4></td>
        <td class="heading c_order"><h4>Order</h4></td>
    </tr>
    <tr>
        <td valign="top" class="pipeline_summary">
            <table width="100%" cellspacing="0">
                <tr><td>Total</td><td>{{total_responses}}</td></tr>
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?state=New&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">New</a></td><td>{{new}}</td></tr>
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?state=Attempted&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">Attempted</a></td><td>{{attempted}}</td></tr>
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?state=Connected&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">Connected</a></td><td>{{connected}}</td></tr>
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?state=Pending+Order&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">Pending Order</a></td><td>{{pending_order}}</td></tr>
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?state=Order&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">Order</a></td><td>{{order}}</td></tr>
                <tr><td>Conversion</td><td>{{conv}}</td></tr>
            </table>
        </td>
        <td class="spacer">&nbsp;</td>
        <td valign="top" class="bb bl c_attempted">
            <table width="100%" cellspacing="0">
                {% for status in status_groups.attempted.statuses %}
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?status={{status.status.id}}&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">{{status.status.name}}</a></td><td>{{status.count}}</td></tr>
                {% endfor %}
                <tr class="c_connected"><td>Connected</td><td>{{connected}}</td></tr>
            </table>
        </td>
        <td valign="top" class="bb c_connected">
            <table width="100%" cellspacing="0">
                {% for status in status_groups.connected.statuses %}
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?status={{status.status.id}}&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">{{status.status.name}}</a></td><td>{{status.count}}</td></tr>
                {% endfor %}
                <tr class="c_pending_order"><td>Pending Order</td><td>{{pending_order}}</td></tr>
            </table>
        </td>
        <td valign="top" class="bb c_pending_order">
            <table width="100%" cellspacing="0">
                {% for status in status_groups.pending_order.statuses %}
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?status={{status.status.id}}&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">{{status.status.name}}</a></td><td>{{status.count}}</td></tr>
                {% endfor %}
                <tr class="c_order"><td>Order</td><td>{{order}}</td></tr>
            </table>
        </td>
        <td valign="top" class="br bb c_order">
            <table width="100%" cellspacing="0">
                {% for status in status_groups.order.statuses %}
                <tr><td><a href="/rms/ui/campaigns/{{campaign.id}}/responses?status={{status.status.id}}&created_on__year={{year}}&created_on__month={{month}}&created_on__day={{day}}">{{status.status.name}}</a></td><td>{{status.count}}</td></tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
