{% extends 'rms/base.html' %}
{% block content %}
        <form method="post">
        {% for field in addform %}
        <div class="span-24 last">
            <div class="span-6">
                <div class="padh">{{field.label}}{% if field.required %}<span class="required">*</span>{% endif %}</div>
            </div>
            <div class="span-6">
                <div class="padh">
                    {{field}}
                </div>
            </div>
            <div class="span-10">
                <div class="padh {%if field.errors %}error{%endif%}">{{field.errors}}</div>
            </div>
            <div class="span-2">&nbsp;
            </div>
        </div>
        {% endfor %}
        <div class="prepend-6 span-18 last">
            <div class="padh"><input type="submit" value="Submit"/></div>
        </div>
        <hr class="space"/>
        </form>
{% endblock %}
