{% extends "web/base.html" %}
{% block content %}
<div class="page">
<h1>15 Days Easy Return</h1>
  <p class="mart20">We are committed to ensuring your satisfaction with any product you have ordered from us. If you are not satisfied with any product, we will accept returns within 15 days as follows: </p>
  <h3>Damaged / Defective:</h3>
  <p>In the unlikely event that any product you have ordered from us is not received in good condition, is damaged or defective, or if product delivered is different from what you had ordered, you may return the product unused, and in the same condition as you received it, in its original packaging along with original tags, for a refund or an exchange, within 15 days from the date on which these goods are delivered.</p>
  <ul>
    <li>Please do not accept delivery of any item whose outer packaging is damaged or tampered with in any manner. Please contact customer care if you open the packaging and discover that the item is damaged.</li>
    <li>Products damaged while being used do not qualify for a refund or replacement.</li>
    <li>In case we are unable to replace the damaged / defective product, we will refund your amount.</li>
    <li>In the event you return any product which is delivered to you in damaged/defective condition, we will also refund the shipping charges applicable to that item.</li>
  </ul>
  <p><strong>Note:</strong> <i>Products that have been assembled and/or installed cannot be returned in this manner. These include furniture and consumer durables such as TVs, fridges, washing machines or air conditioners. Please contact your local authorised service centre of the manufacturer for such products, and follow their instructions.</i></p>
  <h3>Product not to your liking:</h3>
  <p>We will accept returns of only Apparel if the product is not to your liking. You can return any product that fails to meet your expectation, no questions asked, as long as it is in its original packaging and is accompanied with its invoice.</p>
  <p><strong>Note:</strong> <i>Personal items including Lingerie is excluded due to hygiene reasons.</i></p>
  <h3>You may return the product to us in the following ways:-</h3>
  <h3>Returns at a nearby Future Group Store: </h3>
  <ul>
    <li>You may contact our Customer Care within 15 days of having received the product and request a return/exchange. The products can be returned at any of the Future Group stores.</li>
    <li>Once you have approval from Customer Care about which store the product can be returned at, you may visit the store and return the products in unused condition, along with the original invoice.</li>
    <li>We will not be able to accept returns which are not accompanied by the relevant original invoice.</li>
  </ul>
  <h3>Returns through Courier Collection:</h3>
  <ul>
    <li>You may contact our Customer Care within 15 days of having received the product and request a return/exchange. We will arrange for the products to be collected from the delivery address through courier and shall process the return/exchange subject to receipt of the products at our location in unused condition and in its original packaging along with the invoice, failing which return/ exchange may not be possible.</li>
    <li>If you request a return through courier collection, at the time of collecting the products, you will be given a courier Airway Bill, which is to be retained for future reference.</li>
  </ul>
  <h3>Refunds:</h3>
  <p>We will refund the money the way the payment was made. If the payment was by Credit Card or Net-Banking, we will refund the Credit Card or Net-Banking account. If the payment mode was Cheque or DD, we will send you a cheque (not a DD). Cheques will be sent only to the billing address of the customer.</p>
  <p>The refund process will be initiated once we have received the product(s). Typically refunds are processed in less than 10 working days but in case of payments by Cheque or DD, it may take a few extra days for the cheque to be delivered to your billing address, and for the funds to be credited to your account, once you deposit the cheque. In case of EMI transactions, the refund shall happen within 15 working days from the date of refund request.
</p>
  <p>Please note that we shall not be responsible for any delays in credit to the Cardholder's credit card account as that is managed by the Cardholder's issuing bank.</p>
  <p><strong>Please call us on 0922-222-1947 or mail us at customerservice@futurebazaar.com if you have any questions.</strong></p>
</div>
{%endblock%} 