{% extends "web/base.html" %}
{% block content %}
<div>
  <div id="content_area" class="padt10 promo_wrapper">
    <img src="/media/images/ss5d-banner.jpg" width="980" height="174"  />
    
    <div class="fdgray" id="breadcrumb"><a href="/">Home</a><span></span>           
      
       <div>Sabse Saste 5 Din</div>                
    </div>
    
    <div>
    <div>
      <h1>sabse sasta <span class="fn">Home & living Deals</span></h1>
      <div class="right f11 marr20"><a href="#">See More Home & Living Deals &raquo;</a></div>
      <div class="clear"></div>
    </div>
    <ul class="promo_greed mart10">
      <li>
              <div class="greed_inner">
                <div class="item_img ca"> 
                  <a href="/acer-4820/pd/46550/"> 
                      <img src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/ComputerAndOffice/600362795/M1.jpg" title="Acer 4820" alt="Acer 4820" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='/media/images/noimage_p.jpg';}return false;" onerror_cnt="0" height="290" width="230">
                  </a>            
                   <a href="/acer-4820/quick-look/46550/" class="lightbox lightbox_overlay product_quick_look" style="position:static !important;">
                      <span style="display: none;" class="btn_qv">Quick View</span>
                   </a>
                  
                  <div class="save ca fb fwhite">
                      <span>35% off</span>   <br>
                      <span> SAVE</span>
                      <span><span class="WebRupee">Rs. </span>14,215</span>                         
                  </div>
                  <div class="ss5d_icon">                    
                  </div>
                   <div class="menu_icons">
                   </div>                
                </div>         
               <h3> 
                    <a href="/acer-4820/pd/46550/" title="Acer 4820">Acer 4820</a>
               </h3>
                <div style="padding:3px 10px 7px;">
                  <div class="price left">               
                        <span class="offer_price f15 fb">
                              <span class="WebRupee">Rs.</span> <span>25,990</span>
                        </span>
                       
                        <span class="mrp f11">
                              <span class="WebRupee">Rs.</span> <span class="fs">40,205</span>
                        </span>
                      
                  </div>             
                      <form action="/orders/mycart" id="add_product_to_cart_form_46550" method="post">
                          <input name="rate_chart_id" value="47906" type="hidden">
                          <input name="product_id" value="46550" type="hidden">
                          <input name="action" value="add_to_cart" type="hidden">
                          <button type="submit" class="add_product_to_cart button orange right f11 fn" style="padding:3px 2px;" value="46550" title="Add To Cart">Add To Cart</button>
                          <!--<input type="submit" class="add_product_to_cart button orange right mart8 f11" title="Add To Cart" value="Add To Cart" />-->
                      </form>
                     
                  <div class="clear"></div>
                </div>
              </div>        
      </li>
     </ul>  
  <div class="clear"></div>
  </div>
  
  <div>
    <div>
      <h1>sabse sasta <span class="fn">Fashion</span> </h1>
      <div class="right f11 marr20"><a href="#">See More Home & Living Deals &raquo;</a></div>
      <div class="clear"></div>
    </div>
    <ul class="promo_greed mart10">
      <li>
              <div class="greed_inner">
                <div class="item_img ca"> 
                  <a href="/acer-4820/pd/46550/"> 
                      <img src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/ComputerAndOffice/600362795/M1.jpg" title="Acer 4820" alt="Acer 4820" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='/media/images/noimage_p.jpg';}return false;" onerror_cnt="0" height="290" width="230">
                  </a>            
                   <a href="/acer-4820/quick-look/46550/" class="lightbox lightbox_overlay product_quick_look" style="position:static !important;">
                      <span style="display: none;" class="btn_qv">Quick View</span>
                   </a>
                  
                  <div class="save ca fb fwhite">
                      <span>35% off</span>   <br>
                      <span> SAVE</span>
                      <span><span class="WebRupee">Rs. </span>14,215</span>                         
                  </div>
                  <div class="ss5d_icon">                    
                  </div>
                   <div class="menu_icons">
                   </div>                
                </div>         
               <h3> 
                    <a href="/acer-4820/pd/46550/" title="Acer 4820">Acer 4820</a>
               </h3>
                <div style="padding:3px 10px 7px;">
                  <div class="price left">               
                        <span class="offer_price f15 fb">
                              <span class="WebRupee">Rs.</span> <span>25,990</span>
                        </span>
                       
                        <span class="mrp f11">
                              <span class="WebRupee">Rs.</span> <span class="fs">40,205</span>
                        </span>
                      
                  </div>             
                      <form action="/orders/mycart" id="add_product_to_cart_form_46550" method="post">
                          <input name="rate_chart_id" value="47906" type="hidden">
                          <input name="product_id" value="46550" type="hidden">
                          <input name="action" value="add_to_cart" type="hidden">
                          <button type="submit" class="add_product_to_cart button orange right f11 fn" style="padding:3px 2px;" value="46550" title="Add To Cart">Add To Cart</button>
                          <!--<input type="submit" class="add_product_to_cart button orange right mart8 f11" title="Add To Cart" value="Add To Cart" />-->
                      </form>
                     
                  <div class="clear"></div>
                </div>
              </div>        
      </li>
     </ul>  
  <div class="clear"></div>
  </div>
  
  <div>
    <div>
      <h1>sabse sasta <span class="fn">Electronics</span></h1>
      <div class="right f11 marr20"><a href="#">See More Home & Living Deals &raquo;</a></div>
      <div class="clear"></div>
    </div>
    <ul class="promo_greed mart10">
      <li>
              <div class="greed_inner">
                <div class="item_img ca"> 
                  <a href="/acer-4820/pd/46550/"> 
                      <img src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/ComputerAndOffice/600362795/M1.jpg" title="Acer 4820" alt="Acer 4820" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='/media/images/noimage_p.jpg';}return false;" onerror_cnt="0" height="290" width="230">
                  </a>            
                   <a href="/acer-4820/quick-look/46550/" class="lightbox lightbox_overlay product_quick_look" style="position:static !important;">
                      <span style="display: none;" class="btn_qv">Quick View</span>
                   </a>
                  
                  <div class="save ca fb fwhite">
                      <span>35% off</span>   <br>
                      <span> SAVE</span>
                      <span><span class="WebRupee">Rs. </span>14,215</span>                         
                  </div>
                  <div class="ss5d_icon">                    
                  </div>
                   <div class="menu_icons">
                   </div>                
                </div>         
               <h3> 
                    <a href="/acer-4820/pd/46550/" title="Acer 4820">Acer 4820</a>
               </h3>
                <div style="padding:3px 10px 7px;">
                  <div class="price left">               
                        <span class="offer_price f15 fb">
                              <span class="WebRupee">Rs.</span> <span>25,990</span>
                        </span>
                       
                        <span class="mrp f11">
                              <span class="WebRupee">Rs.</span> <span class="fs">40,205</span>
                        </span>
                      
                  </div>             
                      <form action="/orders/mycart" id="add_product_to_cart_form_46550" method="post">
                          <input name="rate_chart_id" value="47906" type="hidden">
                          <input name="product_id" value="46550" type="hidden">
                          <input name="action" value="add_to_cart" type="hidden">
                          <button type="submit" class="add_product_to_cart button orange right f11 fn" style="padding:3px 2px;" value="46550" title="Add To Cart">Add To Cart</button>
                          <!--<input type="submit" class="add_product_to_cart button orange right mart8 f11" title="Add To Cart" value="Add To Cart" />-->
                      </form>
                     
                  <div class="clear"></div>
                </div>
              </div>        
      </li>
     </ul>  
  <div class="clear"></div>
  </div>
  
 
 <div>
    <div>
      <h1>sabse sasta <span class="fn">essentials</span></h1>
      <div class="right f11 marr20"><a href="#">See More Home & Living Deals &raquo;</a></div>
      <div class="clear"></div>
    </div>
    <ul class="promo_greed mart10">
      <li>
              <div class="greed_inner">
                <div class="item_img ca"> 
                  <a href="/acer-4820/pd/46550/"> 
                      <img src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/ComputerAndOffice/600362795/M1.jpg" title="Acer 4820" alt="Acer 4820" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='/media/images/noimage_p.jpg';}return false;" onerror_cnt="0" height="290" width="230">
                  </a>            
                   <a href="/acer-4820/quick-look/46550/" class="lightbox lightbox_overlay product_quick_look" style="position:static !important;">
                      <span style="display: none;" class="btn_qv">Quick View</span>
                   </a>
                  
                  <div class="save ca fb fwhite">
                      <span>35% off</span>   <br>
                      <span> SAVE</span>
                      <span><span class="WebRupee">Rs. </span>14,215</span>                         
                  </div>
                  <div class="ss5d_icon">                    
                  </div>
                   <div class="menu_icons">
                   </div>                
                </div>         
               <h3> 
                    <a href="/acer-4820/pd/46550/" title="Acer 4820">Acer 4820</a>
               </h3>
                <div style="padding:3px 10px 7px;">
                  <div class="price left">               
                        <span class="offer_price f15 fb">
                              <span class="WebRupee">Rs.</span> <span>25,990</span>
                        </span>
                       
                        <span class="mrp f11">
                              <span class="WebRupee">Rs.</span> <span class="fs">40,205</span>
                        </span>
                      
                  </div>             
                      <form action="/orders/mycart" id="add_product_to_cart_form_46550" method="post">
                          <input name="rate_chart_id" value="47906" type="hidden">
                          <input name="product_id" value="46550" type="hidden">
                          <input name="action" value="add_to_cart" type="hidden">
                          <button type="submit" class="add_product_to_cart button orange right f11 fn" style="padding:3px 2px;" value="46550" title="Add To Cart">Add To Cart</button>
                          <!--<input type="submit" class="add_product_to_cart button orange right mart8 f11" title="Add To Cart" value="Add To Cart" />-->
                      </form>
                     
                  <div class="clear"></div>
                </div>
              </div>        
      </li>
     </ul>  
  <div class="clear"></div>
  </div>
  
 
 <div>
    <div>
      <h1>sabse sasta <span class="fn">Gifts & Ideas</span></h1>
      <div class="right f11 marr20"><a href="#">See More Home & Living Deals &raquo;</a></div>
      <div class="clear"></div>
    </div>
    <ul class="promo_greed mart10">
      <li>
              <div class="greed_inner">
                <div class="item_img ca"> 
                  <a href="/acer-4820/pd/46550/"> 
                      <img src="http://fbcdn.mediafb.com/media/u/fb/catalog/FBIL/ComputerAndOffice/600362795/M1.jpg" title="Acer 4820" alt="Acer 4820" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='/media/images/noimage_p.jpg';}return false;" onerror_cnt="0" height="290" width="230">
                  </a>            
                   <a href="/acer-4820/quick-look/46550/" class="lightbox lightbox_overlay product_quick_look" style="position:static !important;">
                      <span style="display: none;" class="btn_qv">Quick View</span>
                   </a>
                  
                  <div class="save ca fb fwhite">
                      <span>35% off</span>   <br>
                      <span> SAVE</span>
                      <span><span class="WebRupee">Rs. </span>14,215</span>                         
                  </div>
                  <div class="ss5d_icon">                    
                  </div>
                   <div class="menu_icons">
                   </div>                
                </div>         
               <h3> 
                    <a href="/acer-4820/pd/46550/" title="Acer 4820">Acer 4820</a>
               </h3>
                <div style="padding:3px 10px 7px;">
                  <div class="price left">               
                        <span class="offer_price f15 fb">
                              <span class="WebRupee">Rs.</span> <span>25,990</span>
                        </span>
                       
                        <span class="mrp f11">
                              <span class="WebRupee">Rs.</span> <span class="fs">40,205</span>
                        </span>
                      
                  </div>             
                      <form action="/orders/mycart" id="add_product_to_cart_form_46550" method="post">
                          <input name="rate_chart_id" value="47906" type="hidden">
                          <input name="product_id" value="46550" type="hidden">
                          <input name="action" value="add_to_cart" type="hidden">
                          <button type="submit" class="add_product_to_cart button orange right f11 fn" style="padding:3px 2px;" value="46550" title="Add To Cart">Add To Cart</button>
                          <!--<input type="submit" class="add_product_to_cart button orange right mart8 f11" title="Add To Cart" value="Add To Cart" />-->
                      </form>
                     
                  <div class="clear"></div>
                </div>
              </div>        
      </li>
     </ul>  
  <div class="clear"></div>
  </div>
  
 
  
  
  
  </div>  
  <div class="clear"></div>
</div>

<script>
  $(".promo_greed li:nth-child(4n)").css("margin-right", "0"); 
  
</script>
{%endblock%} 