{%extends "web/base.html"%}
{%load cc_tags%}
{%load web_tags%}
{%block content%}
<div class="midday mart10">
  <div> <img src="/media/images/midday-banner.jpg" width="988" height="52" /> </div>
  <div class="mart20">
    {%for product in products%}
    <div class="midday_item">
      <div class="midday_item_image rc10"> 
        <img src="{{product.product_images.0.get_display_url}}" width="270" height="340" alt="{{product.product.title}}" title="{{product.product.title}}"  /> 
      </div>
      <div class="midday_item_desc">
        <h2><a href="{% cc_url request product.product.url %}" title="{{product.product.title}}">{{product.product.title}}</a></h2>
        <div>
              <ul class="midday_features left">
              {%for feature in product.key_features%}
                  <li>{{feature}}</li>
              {%endfor%}       
              </ul>
          {% if product.rateChart.is_cod_available %}
              <div style="color:#808749; width:150px;" class="right"> <img src="/media/images/miday-cod.png" />
                <div class="fb">CASH ON<br />
                  DELIVERY</div>
              </div>
          {%endif%}
          <div class="clear"></div>
        </div>
        <div class="midday_mrp"> MRP <span class="WebRupee">Rs. </span><span class="fs"> {{product.rateChart.list_price|money}}</span> </div>

        <table class="mart10">
          <tr>
            <td class="midday_price" width="10%"><div class="f18">{% get_price_info request product.rateChart 'offer_price_label' %}</div>
              <div> <span class="WebRupee">Rs. </span> {% get_price_info request product.rateChart 'offer_price' %} </div></td>
            {%if product.rateChart.getSavings > 0 %}
                <td class="midday_save"> YOU SAVE
                  <div>
                        <span class="WebRupee">Rs. </span> {%getSavings request product.rateChart%}
                  </div>
                </td>
            {%endif%}
          </tr>
        </table>
        <div class="mart10">

          <a href="{% cc_url request  product.product.url %}" title="Buy Now" class="btn_midday_buynow" ></a>
        </div>
         <div class="midday_deal_tag"></div>
      </div>
      <div class="clear"></div>
    </div>

    {%endfor%}
  </div>
 
</div>
{%endblock%} 
