/* base.css */* {
	margin:0px;
	line-height:1.5em
}
body {
	font-family:arial, verdana, sans-serif;
	background-color:#f4f4f4;
	color:#333;
	font-size:small
}
p {
	margin:10px 0px 0px;
	text-align:justify
}
h1 {
	font-size:medium;
	text-shadow:0 1px 1px #bbb
}
h2 {
	font-size:small
}
h3 {
	font-size:small;
	font-weight:normal
}
/*h2{font-size:medium;}
h3{font-size:small;}*/
/*.f90{font-size:90%;}
.f85{font-size:85%;}
.f80{font-size:80%;}
.f75{font-size:75%;}*/.text {
	font-size:small
}
.f100 {
	font-size:100%
}
ol {
	padding-left:20px
}
a img {
	border:0
}
a:link, a:visited {
	color:#00f;
	/*color:#004F96;*/
	text-decoration:none
}
a:active, a:hover {
	color:#00f;
	/*color:#004F96;*/
	text-decoration:underline
}
.container {
	width:100%;
	margin:0 auto;
	background-color:#fff
}
.content {
	padding:10px;
	text-align:left;
	min-height:300px
}
/*#content {
padding:0;
}*/
/*.header_links {
display:block;
}
.nav_item_small {
float:left;
padding-left:2px;
padding-right:2px
}*/
/*
.first_small {
border-left:0
}
.header_logo {
float:left;
display:block
}
.header_bar {
display:block;
border-bottom:solid 2px #ffce00
}*/#wrapper {
	padding:0;
	margin:0px auto
}
/*header.css*/#header {
	padding:0 10px;
	background-color:#fff
}
#logo {
	float:left;
	width:50px
}
#logo img {
	padding:4px 5px 1px
}
#header_right {
	float:right
}
#user_links {
	padding:5px;
	float:right;
	margin-right:8px;
}
#user_links ul {
	margin:0
}
#user_links ul li {
	float:left;
	list-style:none
}
/*search.css*/#search_bar {
	text-align:left;
	vertical-align:middle;
	padding:4px 10px;
	/*background-color:#F8930A;*/
	background: #F47F11;
background: -moz-linear-gradient(top, #F47F11 0%, #FDA403 99%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F47F11), color-stop(99%,#FDA403));	
}
#search {
}
#search input, #search input[type="text"], #search button, #search button[type="submit"] {
	padding:0px;
	margin:0px
}
#search input {
	width:68%
}
#search input[type="text"] {
	padding:2px;
	width:68%;
	font-size:90%;
	vertical-align:middle
}
#search button {
	padding:2px 2px;
	vertical-align:middle
}
#search button[type="submit"] {
	padding:0px 2px
}
.signin_box {
	padding:10px;
	margin:0 auto
}
input, input[type="text"], button {
	padding:0px;
	margin:0px 0px 5px
}
input[type="text"], input[type="tel"], input[type="number"], input[type="zip"], input[type="email"], input[type="password"], textarea {
	padding:2px;
	width:90%;
	font-size:90%;
	vertical-align:middle
}
input[type="submit"], button {
	font-size:100%
}
textarea {
	height:50px
}
/*end search.css*/
/*#main {
}
.mrp {
color:#333;
text-decoration:line-through
}
.rightbar {
float:left;
margin:25px 20px 0 0;
padding:0;
border:solid 1px #555
}
.rightbar .head {
margin:0;
padding:5px;
background-color:#eee;
text-align:center
}
.rightbar .cont {
padding:10px
}
.rightbar .cont ul {
padding-left:15px;
margin:0
}
.grayLabel {
font-size:11px;
color:#666;
padding-right:8px
}
.offerPrice {
padding-top:3px;
font-size:14px;
font-weight:bold;
color:#900
}*/.pagination div {
/*background-color:#004F96;*/
	background-color:#22f;
	border:1px solid #22f;
	padding:3px 6px 3px 6px;
	font-size:11px;
	color:#fff;
	display:inline
}
.pagination span {
	color:#333;
	border:1px solid #e5e5e5;
	padding:1px 3px 1px 3px
}
.pagination a {
/*color:#004F96;*/
	color:#22f;
	border:1px solid #88f;
	padding:1px 3px 1px 3px
}
.pagination a.gray_link {
	color:#666;
	border:1px solid #666;
	text-decoration:none
}
.pagination a:hover {
	background-color:#bbf;
	color:#fff;
	text-decoration:none
}
.pagination a.gray_link:hover {
	color:#666;
	border:1px solid #666;
	text-decoration:none;
	background-color:#eee
}
.sort_bar .selected_link {
	color:black;
	font-weight:bold
}
/*.user_account_link {
display:inline;
font-size:14px;
font-weight:bold;
padding:8px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px
}
.selected_account_link {
background-color:#FCCE00;
color:black
}*/.black_link a {
	color:#000
}
.black_link a:hover {
	text-decoration:none
}
.user_links {
	padding:0 10px;
	text-align:left
}
/*.dialog {
background-color:#fff;
border-left:4px solid #ffce00;
border-right:4px solid #ffce00;
border-bottom:4px solid #ffce00;
padding:20px 25px 25px;
font-size:12px
}
.content2 {
font-size:12px;
padding:10px 0 10px 20px;
text-align:left
}*/
/*end base.css*/
/*common.css*/.fs {
	text-decoration:line-through
}
.fred {
	color:#f00
}
.fb {
	font-weight:bold !important
}
.fn {
	font-weight:normal
}
.small {
	font-size:small
}
.xsmall {
	font-size:x-small
}
.xxsmall {
	font-size:xx-small
}
.fblue {
	color:#00f
}
.fmaroon {
	color:#990000;
}
.fred {
	color:#ff0000
}
.fgray {
	color:#ccc
}
.flgray {
	color:#999
}
.fdgray {
	color:#666
}
.fgreen {
	color:#009900
}
.ca {
	text-align:center
}
.la {
	text-align:left
}
.ra {
	text-align:right
}
.hide_div {
	display:none
}
.show_div {
	display:block
}
.inline {
	display:inline
}
.clear {
	clear:both
}
.right {
	float:right
}
.left {
	float:left
}
.pad010 {
	padding:0px 10px
}
.marb0 {
	margin-bottom:0px!important
}
.marb10 {
	margin-bottom:10px
}
.marb5 {
	margin-bottom:5px
}
.mart5 {
	margin-top:5px
}
.mart10 {
	margin-top:10px
}
.bb {
	border-bottom:1px dotted #999
}

.error, .notice, .success {padding:2px 10px;
	margin:0px 0px 10px;}
.error {
	background:#DE2D0E;
	color:#fff;	
}
.error ul {
	padding:0px 10px
}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.bglyellow {
	background-color:#FCFCCB
}
.pad5 {
	padding:5px
}
.topr5 {
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px
}
.botr5 {
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px
}
.topr10 {
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px
}
.botr10 {
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px
}
/*end common.css*/.gray_text {
	font-size:90%;
	color:#666
}
.home_sections {
	padding:0 10px
}
.section {
	margin-bottom:10px;
	width:100%;
	padding-left:0px
}
.list_item {
	padding:5px 5px 5px 0px;
	margin-bottom:5px;
	float:none;
	width:99%;
	height:100%;
	text-align:left
}
.thumb {
	float:left;
	margin-right:5px;
	/*width:50px;*/border:1px solid #ccc;
	width:60px
}
.summary {
	float:left;
	width:75%
}
.results {
	padding:0 10px
}
.product_details {
	border-top:1px dotted #999999;
	margin-top:10px
}
.product_details h2 {
}
.breadcrumb {
	font-size:small;
	background-color:#F2F2F2;
	padding:2px 10px
}
.related_products {
	border-top:1px dotted #999999
}
.relprod {
	padding:0px 0px 5px
}
.similar_thumb {
}
.sort_bar {
}
/*my cart*/.review_cart {
	border-bottom:1px dotted #999;
	margin-bottom:5px
}
.review_cart input, input[type="text"], button {
	margin:2px 0px 0px
}
input.item_qty {
	width:20px
}
.cart {
	padding-top:5px
}
.cart_summary {
	border:1px solid #ccc
}
.total {
	margin-bottom:5px
}
/*btn*/.btn_buynow {
}
.button {
	font-size:100%;
	display:inline-block;
	vertical-align:baseline;
	margin:0 2px;
	outline:none;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	padding:.2em .5em;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .2);
	box-shadow:0 1px 2px rgba(0, 0, 0, .2)
}
.button:hover {
	text-decoration:none
}
.button:active {
	position:relative;
	top:1px
}
/* orange */

.orange {
	color:#333;
	border:solid 1px #da7c0c;
	font-weight:bold;
	background:#f78d1d;
	background:-webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background:-moz-linear-gradient(top, #faa51a, #f47a20);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')
}
.orange:hover {
	background:#f47c20 !important;
	background:-webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background:-moz-linear-gradient(top, #f88e11, #f06015);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015')
}
.orange:active {
	color:#333;
	background:-webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background:-moz-linear-gradient(top, #f47a20, #faa51a);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')
}
/*footer.css*/#footer {
	border-top:solid 0px #ccc;
	padding:0px;
	margin-top:20px
}
.stores {
	background-color:#fced67;
	padding:5px 10px;
	font-weight:bold;
	font-size:medium
}
.login {
	background-color:#F8F9C8;
	padding:3px 10px
}
.copyright {
	/*border-top:1px solid #ccc;*/padding:10px 10px;
	font-size:x-small;	
	
}
.copyright a {
	color:#666
	
}
