
.forgot_pw{padding:20px; /*border:1px solid #ddd;*/ font-size:12px;}
.forgot_pw h1{font-size:18px; padding:0px 0}
.forgot_pw p{padding-bottom:5px; font-size:12px;}
.forgot_pw .inner{padding:20px; border-top:1px solid #eee; background-color:#f4f4f4; }
.forgot_pw div input{padding: 3px; width: 200px; margin-bottom:5px; }
.forgot_pw div input[type="text"]{margin-top:0px !important}
.forgot_pw button{margin-top:5px; padding:3px 5px; }
.f16{font-size:16px;}
.forgot_pw dl{width:360px; clear:both;}
.forgot_pw dt{float:left; width:120px;}
.forgot_pw dd{margin-left:120px; width:200px; }
.submitLink {
    background-color: transparent;
    color:#0000FF;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    cursor: hand;
}

