/* menu css*/#menu {
	width:700px;
	float:right;
	background-color:#fff
}
#menu ul {
	list-style:none;
	margin:0px;
	padding:0px;
	float:right
}
#menu ul li.item {

	cursor:pointer;
	float:left;	
	display:inline;
	
	padding:0;
	position:relative;	
	text-align:left;
	margin:0px 0px 0px 6px;	
	
}
.item h4 {	
	display:block;
	margin:0;	
	background:#fcce00;
	color:#333333;
	cursor:pointer;
	padding:0.5em 25px 0.5em 0.75em;
	text-decoration:none;
	font-weight:bold;
	background-image:url('/media/images/down_arrow_ho.gif');
	background-repeat:no-repeat;
	background-position:90% 50%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border-left:1px solid #FCCE00;
	border-right:1px solid #FCCE00;
	border-top:1px solid #FCCE00;
}
.item h4 a{color:#333 !important;text-decoration:none; line-height:1.4em;
}
.item a:hover {
	text-decoration:none
}
.wide_block a {
	color:#000;
	text-decoration:none
}
.wide_block a:hover {
	color:#000;
	text-decoration:underline !important;
}
#menu li {
	position:relative;
}
#menu ul ul ul {
	position:absolute;
	top:0;
	left:100%;
}
#menu ul ul {
	position:absolute;
	z-index:500;
}

/*new style*/
div#menu ul li ul {
	display:none
}
div#menu ul li.hovering h4 {
	background-color:#FFFFFF;
	box-shadow:-1px 0px 5px #ccc;
	-moz-box-shadow:-1px 0px 5px #ccc;
	-webkit-box-shadow:-1px 0px 5px #ccc;
}
div#menu ul li.hovering ul {
	display:block;	
}
/*end*/


.sel_item {
/*background-color:#FFFFFF;
box-shadow: 2px 2px 2px #ccc;
-moz-box-shadow: 2px 2px 2px #ccc;
-webkit-box-shadow: 2px 2px 2px #ccc;*/}
/*div#menu ul li:hover ul {
	display:block
}*/

#menu ul ul.wide_block {
	width:342px;
	border:1px solid #fcce00;
	border-top:none;
	font-size:12px;	
	padding-bottom:10px;
	background-color:#fff;
	box-shadow:0px 5px 5px #ccc;	
	-moz-box-shadow: 0 5px 5px #ccc;
	-webkit-box-shadow:0px 5px 5px #ccc;		
}
#menu ul ul.wide_block li {
	width:149px;
	float:left;
	padding:2px 0px 2px 12px;
	font-weight:normal;
	background-image:url('/media/images/bullet.gif');
	background-repeat:no-repeat;
	background-position:18px 8px;
	text-indent:18px
}
#menu ul ul.wide_block li a {
	color:#0000ff
}
#menu ul ul.wide_block li.heading {
	width:320px;
	background-color:#FFFFCB;
	padding:2px 0px 2px 12px;
	text-indent:0px;
	background-image:none;
	font-weight:bold;
	margin:10px 5px;
	color:#666;
}

#menu ul ul.wide_block li.heading strong{font-weight:bold;}

.mar-top10 {
	margin-top:10px !important
}
#Books {
}

#Magazines {
}

#Mobiles {
}
#Computers {
position:absolute;
	right:0px;
}
#Electronics {
	position:absolute;
	right:0px;
}
#Toys {
	position:absolute;
	right:0px;
}
#Gifts {
	position:absolute;
	right:0px;
}
