/*pop up*/
.login_block{top: 179px; left: 520px !important;  position: absolute; padding: 0; width: 300px; overflow: hidden; box-shadow: 0px 0px 5px #666;-moz-box-shadow: 0px 0px 5px #666;-webkit-box-shadow: 0px 0px 5px #666; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border: 4px solid #eee;}

.login_title{background-color:#eee; padding:2px 10px 7px; font-weight:bold; color:#666; font-size:12px;}
.login_content{background-color:#FFFFFF;
 /*   border-bottom: 4px solid #FFCE00;
    border-left: 4px solid #FFCE00;
    border-right: 4px solid #FFCE00;*/
    font-size: 12px;
    padding: 20px 25px 25px;}
	
	.login_content input[type="text"], .login_content input[type="password"]{  background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    font-size: 14px;
    margin: 0 0 10px !important;
    padding: 2px;
    width: 242px;}
	
	.login_content input[type="submit"] {font-size:11px
}
.login_label{font-size:11px; color:#666666; margin-left:1px;}
.login_label label{font-weight:normal;}

/*address book*/
#bg {
 display:none; 
 background: none repeat scroll 50% 50% #666666;
 opacity: 0.5;
 filter:alpha(opacity=50);
 position:absolute;
 top:0px;
 left:0px;
height: 500%;
    width: 100%;
    z-index: 1001;
}
/* Lightbox panel with some content */
#address_container {
 display:none;
 position:fixed;
 top:5%;
 left:30%;
 background:#FFFFFF;
/* padding:15px;*/
 z-index:1001; 
 box-shadow: 0px 0px 5px #666;
 -moz-box-shadow: 0px 0px 5px #666;
 -webkit-box-shadow: 0px 0px 5px #666;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px; 
  border:4px solid #ccc;
}

#delivery_table{/*margin:0 15px 15px; padding-top:15px;*/}
.closeit{display:inline; margin:5px ; float:right; cursor:pointer; color:#0000FF}

.popup_title{background-color:#ccc; padding:2px 10px 7px; font-weight:bold; color:#333; font-size:12px;}


/*pop end*/
