/*.button {
	border:1px solid #fcc300;
	color: #000;
	background-color: #fcfcce;
	cursor:pointer;
}*/
.buttons {
	padding: 0 1em 0.5em 0;
	text-align: right;
}
.buttons a {
	background-color: #666;
	color: #fff;
	padding: 0.3em;
	font-weight: bold;
	text-decoration:none;
	-moz-border-radius:5px;
}
.buttons a:hover {
	background-color: #999;
	text-decoration:none;
}


/* button 
---------------------------------------------- */
.call_button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	padding:0px 5px;
	/*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* white */
.yellow {
	color: #606060;
	border: solid 1px #FCCE00;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FCED67));
	background: -moz-linear-gradient(top,  #fff,  #FCED67);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FCED67');
}
.yellow:hover {
	background: #ffc600;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FCCE00));
	background: -moz-linear-gradient(top,  #fff,  #FCCE00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FCCE00');
}
.yellow:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ffc600,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}


/* orange */
.orange {
	color:#333;	
	border: solid 1px #da7c0c;
	font-weight:bold;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color:#333;	
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* Buttons --------------------*/
.btn_c{display:inline-block; text-decoration:none;  padding:5px 10px; color:#555!important; border-width:1px; border-style:solid; border-radius:3px; -m-border-radius:3px; -webkit-border-radius:3px; -m-border-radius:3px; font-size:12px; font-family:Arial,Helvetica,sans-serif;
border-color:#bbb #bbb #aaa; color:#000!important; text-shadow:0 1px 0 #eee; box-shadow:0 1px 1px #eee,inset 0 1px 0 #e9e9e9; outline:0px none;
background:#ddd; cursor:pointer;
background-image: -ms-linear-gradient(top, #eeeeee 0%, #dddddd 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #eeeeee 0%, #dddddd 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #eeeeee), color-stop(1, #dddddd));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #eeeeee 0%, #dddddd 100%);/* Proposed W3C Markup */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#dddddd');	
}
.btn_c:hover{border-color:#aaa; color:#000!important; text-shadow:0 1px 0 #eee; box-shadow:0 1px 1px #eee,inset 0 1px 0 #d9d9d9;
background:#eee; cursor:pointer;
background-image: -ms-linear-gradient(top, #d9d9d9 0%, #eeeeee 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #d9d9d9 0%, #eeeeee 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #d9d9d9 0%, #eeeeee 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #d9d9d9), color-stop(1, #eeeeee));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #eeeeee 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #d9d9d9 0%, #eeeeee 100%);/* Proposed W3C Markup */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9',endColorstr='#eeeeee');
}

.btn_c_s{padding:3px 5px !important; font-size:12px; line-height:15px; line-height:13px\9;}
.btn_c_m{padding:5px 10px !important; font-size:12px; font-weight:bold; line-height:16px;}
.btn_c_l{padding:8px 12px !important; font-size:15px; font-weight:bold; line-height:18px;}

/* -- Orange Buttons --------------------*/
.btn_orange{border-color:#F5B74E #E5A73E #D6982F !important; color:#333 !important; text-shadow:0 1px 0 #FEDD9B;box-shadow:0 1px 1px #eee,inset 0 1px 0 #fee395;
background:#FECC5F; cursor:pointer;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71',endColorstr='#febb4a');		
background-image: -ms-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FEDA71), color-stop(1, #FEBB4A));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Proposed W3C Markup */

}
.btn_orange:hover{border-color:#D29A3A #CC9436 #C89133 !important;text-shadow:0 1px 0 #FEE1A0;box-shadow:0 1px 1px #d4d4d4,inset 0 1px 0 #fed17e;
background:#FECB5E;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354',endColorstr='#fecd61');		
background-image: -ms-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FEC354), color-stop(1, #FECD61));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Proposed W3C Markup */ 

}


/* -- OLD Orange Buttons --------------------*/
.uiButton{ border-width:1px; border-style:solid; border-color:#F5B74E #E5A73E #D6982F !important; color:#333 !important; text-shadow:0 1px 0 #FEDD9B;box-shadow:0 1px 1px #eee,inset 0 1px 0 #fee395;
background:#FECC5F; cursor:pointer;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71',endColorstr='#febb4a');		
background-image: -ms-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FEDA71), color-stop(1, #FEBB4A));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Proposed W3C Markup */
border-radius: 3px 3px 3px 3px; padding:3px 5px !important;
}
.uiButton:hover{ border-width:1px; border-style:solid; border-color:#D29A3A #CC9436 #C89133 !important; text-shadow:0 1px 0 #FEE1A0;box-shadow:0 1px 1px #d4d4d4,inset 0 1px 0 #fed17e;
background:#FECB5E;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354',endColorstr='#fecd61');		
background-image: -ms-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FEC354), color-stop(1, #FECD61));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Proposed W3C Markup */ 
border-radius: 3px 3px 3px 3px; padding: 3px 5px;
}



.futuresignin-btn {
    background: url('/media/images/futuresignin.gif') no-repeat scroll white;
    border: none !important;
    cursor: pointer;
    height: 27px;
    margin: 0;
    width: 110px !important;
}

.cart_submit-btn {
    border: none !important;
    background: none !important;
    cursor: pointer;
    padding: 0px;
    margin-top:2px;
}
.on {
    display: inline;
    float: left;
    margin: 0;
}
.off {
    display: inline;
    float: left;
    margin: 0;
}
