.content_head{margin:10px 0px 10px;}
.content_head div.header{padding:0px 0px;}
.content_head div.header h1{ font-size:24px !important;}
.content_head div.header h3{ font-size:12px; font-weight:normal;}
.content_head div.header h1 a, .content_head div.header h3 a{color:#0000ff}

.main{width:100%;}
.left_side{float:left; width:77%;}

.tbl_excel {
	border:1px solid #d0d7e5;
	border-collapse:collapse;
	width:875px;
}
.tbl_excel th{background:#ECECEC;
	background: -moz-linear-gradient(270deg, #f4f4f4, #d5ddea) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #d5ddea));
 	color: #333 !important;
	font-weight: bold;
	text-align:center;
	padding:2px;
	border:1px solid #d0d7e5;
	font-size:12px;
}
.tbl_excel td {
	border-right:1px solid #d0d7e5;
	border-bottom:1px solid #d0d7e5;
	border-left:none;
	border-top:none;
	color:#333;
	padding:4px 4px;
	font-size:12px;
}

/*response table*/
.tbl_response, .listitems {
	border: 1px solid #DDDDDD;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}
.tbl_response th, .listitems th{ 
	background: none repeat scroll 0 0 #F4F4F4;
    border-right: 1px solid #DDDDDD;
    color: #333333 !important;
    font-weight: bold;
	font-size:11px;
    height: 30px;
    text-align: center;
    padding:2px;
}
.tbl_response td {
    border: 1px solid #DDDDDD;
    color: #333333;
    padding: 4px 2px;
}
.tbl_response td.history {
	width:20px;
	text-align: center;
}
.tbl_response td.phone {
	width:60px;
	color:#333;
	font-weight:bold;
	letter-spacing:0.5px;
}
.tbl_response td.name {
	width:185px;
	font-weight:bold;
	letter-spacing:0.5px;
}
.tbl_response td.message {
}
.tbl_response td.date {
	width:185px;
	text-align:center;
}
.tbl_response td.attempts {
	width:50px;
	text-align:center;
}
.tbl_response td.conn {
	width:50px;
	text-align:center;
}
.tbl_response td.action {
	width:70px;
	text-align:center;
}
/*response table end*/

.agent_message{border:0px solid #f4f4f4; padding:5px; font-size:11px; color:#666}
.response_summary{padding:10px; background:#fff !important;}
.rah_td{background:#fff !important;}

/* home page */
.tbl_home {
	border:1px solid #ddd;
	border-collapse:collapse;
	margin-bottom: 10px;
/*	width:730px;*/
	width:100%;
	 float:left; 
}
.tbl_home th{background:#ECECEC;
	background: none repeat scroll 0 0 #F4F4F4;
 	color: #333 !important;
	font-weight: bold;
	text-align:center;
	padding:2px 0px;
	border-right:0px solid #ddd;
}
.tbl_home th div{line-height:24px;
    background-image:url(/media/rms/images/arrow3.png);
	background-position:right center;
	background-repeat:no-repeat;
}
.tbl_home th div.last{background-image:none; !important}

.tbl_home td {
	padding: 0px;
	margin: 0; width:180px;
}
.td_attempted {
	border:1px solid #CDCDCD;
}
.td_connected {
	background-color: #ededed;
}
.td_pending {
	background-color: #e6e6e6;
}
.td_order {
	background-color: #dedede;
}


.tbl_home_inner {
	border: none;
	border-collapse: collapse;
}
.tbl_home_inner td {
	padding: 3px 8px;
	color: #333;
	vertical-align: top;
	border:none;
}
/*
.tbl_home_inner td a {
	color: #333;
}*/

.col_attempted {
	background-color: #f4f4f4;
}
.col_connected {
	background-color: #ededed;
}
.col_pending_order {
	background-color: #e6e6e6;
}
.col_order {
	background-color: #dedede;
}

.home_attempted {
	background-color: #f4f4f4;width:180px;
}
.home_connected {
	background-color: #ededed;width:180px;
}
.home_pending {
	background-color: #e6e6e6;width:180px;
}
.home_order {
	background-color: #dedede;width:180px;
}

.order_search {display:inline;float:right;overflow:hidden;}

.rb {
	border-right: 1px solid #ccc;
}
.list {
	border-collapse: collapse;
	border: 1px solid #ccc;
}
.list_row {
}
.list_row td {
	border:1px solid #ccc;
}
div.actions {
	visibility: hidden;
	font-size:0.8em;
}
div.actions a {
	color: #444;
	text-decoration:none;
}
div.actions a:hover {
	color: #000;
}
div:hover.action_container div.actions {
	visibility: visible;
}
#id_comments {
	width: 300px;
	height: 100px;
}
td.spacer {
	width: 15px !important;
	border-top: none;
}
.bg_color1 {
	background-color: #fff;
}

td.heading h4 {
	margin-bottom: 0;
}
a.filter {
	padding-left: 5px;
}
a.selected_filter {
	font-weight:bold;
	padding-left: 5px;
}
.bg_color1:hover{background-color:#fffff1;}

/*table.tbl_home h5 a {
	color:#666;
}*/
#sections a {
	padding:5px 10px;
}

/*right nav*/
.nav_container{width:206px; float:left; margin:10px 0 10px 10px;}
.nav{/*float:right; width:200px;*/  width:100%;}
.nav div.nav_title {
    background-color: #00529C;
    /*border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;*/
    color: #FFFFFF;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}
.nav_summary {
	border: 1px solid #CDCDCD;
	padding: 5px;
}
.nav_summary table{width:100%;}
.nav_summary table td{padding:0px 8px;}
/*right nav end*/

/*table.tbl_home tr td {
	width:180px;
}
table.tbl_home tr td table tr td {
}*/
.list {
	width:735px;
	margin-right:15px;
}
/* response entry form*/
.tbl_response_entry {
	border-collapse:separate;
}
.tbl_response_entry td {
	padding:5px 0;
	vertical-align:top;
}
.tbl_response_entry label {
	color:#666;
}
.tbl_response_entry input[type="text"], .tbl_response_entry input[type="password"], .tbl_response_entry input.text, .tbl_response_entry input.title, .tbl_response_entry textarea {
	width:200px;
	padding:2px;
	margin:0px;
}
.tbl_response_entry select {
	width:206px;
	padding:0px;
	margin:0px;
	max-height:50px;
}
.tbl_response_entry textarea {
	height:50px;
}
.message{}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortable li {
    font-size: 1.4em;
    height: 18px;
    margin: 0 3px 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
}

.ui-state-default {
    background: #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}

#sortable li span {
    margin-left: -1.3em;
    position: absolute;
}

.tab_selected {
    color: #000 !important;
}
/* Date Range */
#dr_container{position:relative; float:right;width:402px}
.date_range{padding:0px; float:right; height:23px;border:solid 1px #b7b7b7;overflow:hidden;width:367px; width: 400px\9;}
.date_range li{ list-style:none;margin:0px; padding:4px 5px;  padding-top:2px\9; float:left; border:none; border-right:solid 1px #b7b7b7; cursor:pointer; font-size:11px;}
.date_range a{color:#333; text-decoration:none;}
.date_range li#li_dr{border-right: medium none; padding: 2px 5px; text-align: center; width: 200px;}
/*#dr{width:200px; height: 21px; border:none;
 background: url("/media/images/arr_down.gif") no-repeat scroll 96% 44% transparent;
 color:#555; font-size:11px; text-align:center;
 }*/
 
 #dr {
    border: medium none;
    font-size: 11px;
    text-align: center;
    width: 200px;
	cursor:pointer;
}

 #sr{border:1px solid #ccc;  padding:5px 5px;background-color:#fff; z-index:1000;  width:400px;  width:420px\9; position:absolute; right:0px; top:24px; }
 .tbl_sr{ /*width:100%;*/ font-size:11px;}
.tbl_sr td{padding:4px; vertical-align:middle; text-align:left;}
.tbl_sr input{font-size:11px; width:120px; padding:2px; padding:4px\9; cursor:pointer;}

.sel_dr{font-weight:bold; color:#000 !important; background:#ccc;}

.sel_menu{background:#fff; border-radius:5px 5px 0 0; color:#000 !important; height:32px; text-align:center; font-weight:bold;/* border:1px solid #eee; */border-bottom:none;}
/*reports end*/

.newcamp{}
.newcamp a {
    color: #000 !important;
    text-decoration: none;
}
.newcamp a:hover {
    color: #000 !important;
    text-decoration: none;
}

#response_list tr:hover{background:#fffff1;}

.list_header{background:#F4F4F4;border-bottom: 1px dotted #CCCCCC; padding:5px 0px;}
.list_item{padding:5px 0px;}

.action_input{margin-top:5px;} 
.action_input select{width:119px;height:21px;font-size:11px;}
.action_input input{font-size: 9px; height: 21px; margin-left: 4px; padding: 0 2px; width: 45px;}

.order_detail{/*border:1px dotted #ccc;*/margin:0px 0px 10px 0px;padding:10px 10px 0 0;width:260px;}
.status{font-size:12px;font-weight:bold;margin-right:10px;padding:2px 5px 1px 5px;background-color: #CCFFCC; border: 1px solid #339933;}
.wait-status{font-size:12px;font-weight:bold;margin-right:10px;padding:2px 5px 1px 5px;background-color: #FFCC33; border: 1px solid #FF6600;}
.alert-status{font-size:12px;font-weight:bold;margin-right:10px;padding:2px 5px 1px 5px;background-color: #FBE3E4; border: 1px solid #FBC2C4;color:#8A1F11;}
.payment_detail {
    margin: 0 0 10px 0;
    padding:10px 0 10px 0;
}
.payback{
    width:150px;
    padding:5px;
    border:1px dotted #ccc;
}
.item_info{padding-top:2px;}
#change_payment{position:relative;top:12px;}

/****************** TABLE SORTING JAVASCRIPT *************/
table.tablesorter thead tr .header {
	background-image: url("../images/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url("../images/asc.gif");
}

table.tablesorter thead tr .headerSortDown {
	background-image: url("../images/desc.gif");
}


/*Reports*/
.row1{}
.row2{ background-color:#F2F2F2;}
.row3{ background-color:#F5F5F5;}

.tbl_report{border-collapse:collapse;width:100%;font-size:10px;float:left}
.tbl_report caption{text-align:left; font-weight:bold; padding:5px 5px; font-size:12px; color:#333;}
.tbl_report th{background-color:#F2F2F2; border:1px solid #ccc; font-size:10px; padding:2px; vertical-align:top; text-align:center; font-weight:normal;}
.tbl_report td{border:1px solid #ccc; padding:2px; vertical-align:top; text-align:center; color:#333;}

.orders_msg{border:1px solid #ccc; padding:10px; margin:20px 10px; color:#333; background-color:#f4f4f4;}
.orders_msg div{background-color:#FFFFFF; padding:10px;}
.orders_msg h3{color:#666;}

.select_range{align:right; padding:3px 10px;padding-top:0px\9;color: #606060;font-weight:bold; width:175px; float:left;}
.tbl_select_range td{padding:4px;}

.home_main_tbl {
    border: 1px solid #F5F5F5;
    margin-top: 25px;
}

.report_option_main {
    float: left;
    width: 940px;
	margin: 5px 0;
}
.report_option_aa {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent; /* FF 3.6+ */  
    background: -ms-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent; /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #EDEDED)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#FFFFFF, #EDEDED); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#FFFFFF, #EDEDED); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED')"; /* IE8+ */  
    background: linear-gradient(#FFFFFF, #EDEDED); /* the standard */ 
    border: 1px solid #B7B7B7;
    color: #606060;
    float: left;
	margin-right:10px;
    padding: 1px 5px;
}
.report_option_a {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent; /* FF 3.6+ */  
    background: -ms-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent; /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #EDEDED)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#FFFFFF, #EDEDED); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#FFFFFF, #EDEDED); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED')"; /* IE8+ */  
    background: linear-gradient(#FFFFFF, #EDEDED); /* the standard */ 
    border: 1px solid #B7B7B7;
    color: #606060;
    float: left;
	margin-right:40px;
    padding: 1px 5px;
	width: 440px;
}
.report_option_b {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent; /* FF 3.6+ */  
    background: -ms-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent; /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #EDEDED)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#FFFFFF, #EDEDED); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#FFFFFF, #EDEDED); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED')"; /* IE8+ */  
    background: linear-gradient(#FFFFFF, #EDEDED); /* the standard */ 
    border: 1px solid #B7B7B7;
    color: #606060;
    float: right;
    padding:1px 5px 0;
	overflow:hidden;
}
.sku_id {
    margin-bottom:8px;
    overflow: hidden;
    width: 940px;
}
.tbl_order {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    font-size: 11px;
    width: 100%;
	margin-top:5px;
}
.tbl_order th {
    background-color: #DCDCDC;
    border: 1px solid #CCCCCC;
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    vertical-align: top;
}
.tbl_order td {
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 100%;
    padding: 3px;
    text-align: center;
    vertical-align: top;
}
.report_option_a input {
    margin: 2px 0 0 5px;
	margin: 0 0 0 5px\9;
}
.report_option_b input{margin:3px 0px 0px 5px;}

div.nobb {
    border-bottom: 1px dotted #999999;
    height: 170px;
}
div.product_grid_item {
    border-bottom: 1px dotted #999999;
    border-right: 1px dotted #999999;
    float: left;
    height: 170px;
    padding: 5px;
    text-align: center;
    width: 177px;
}
div.product_grid_item div.thumb, div.product_list_item div.thumb {
    height: 80px;
}
.thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #888888;
    padding: 8px;
}
.summary {
    height: 80px;font-size: 12px;
}
.pricing {
    border-collapse: separate;
    border-spacing: 1px;
	font-size:12px;
}
#id_role, #id_tabs, #id_accounts{font-size:11px}
div.product_grid_item h3, div.product_list_item h3 {
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin-bottom: 0;
}
.product_link {
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
}
.product_link ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.product_link ul li {
    display: inline;
    float: left;
    font-weight: bold;
    padding: 0 10px 10px 0;
    text-align: center;
}
.product_link ul li .selected-review {
    color: #666666;
}
.tbl_pay_option {
    border-collapse: collapse;
	font-size:12px;
	width: 100%;
}
.tbl_pay_option td {
    border: 1px solid #CCCCCC;
    font-size: 11px;
    text-align:center;
	padding: 5px 0;
}
.radio-confirm{padding:5px 0}
.tbl_pay_option th {
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
    text-align: center;
}
a.link {
    color: blue;
    text-decoration: none;
}
a.link:hover {
    text-decoration:underline;
}
.auth_inactive {
    cursor: pointer;
	text-decoration:none;
}
.auth_active {
    color: #000;
    cursor: text;
	text-decoration:none;
	font-weight:bold;
}
.auth_active:hover {
	color: #000;
    cursor: text;
	text-decoration:none;
	font-weight:bold;
}
.save-cancel {
    display: inline;
    float: right;
    margin-top: 15px;
    overflow: hidden;
    /*width: 355px;*/
}
.coupon {
    background-color: #FAFAFA;
    border: 1px dotted #999999;
    color: #000000;
    padding: 5px;
    width: 135px;
}
.forange2 {
    color: #990000;
}
/*  sellers - pricing*/

.tbl_price {
    border-collapse: collapse;
	font-size:12px;
}
.tbl_price th {
    background-color: #F3F3F3;
    text-align: center;
}
.tbl_price th, .tbl_price td {
    border: 1px solid #CCCCCC;
}
.tbl_price td {
    text-align: center;
}
/*  /sellers - pricing */

#userbox_outer{top:275px; right:0px; position:fixed;  _position:absolute; z-index:1000;}
.user_box{border:1px solid #ccc; border-left:none; display:block; background-color:#fff; margin-left:1px; 
border-top-right-radius:5px;border-bottom-right-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px; display:none; padding:10px; position:relative; margin-top:10px;  z-index:1000;
 }
.userbox_close {
    background: url("../images/fancy_close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    left: -16px;
    position: absolute;
    top: -14px;
    width: 30px;
}
.userbox_show {
    box-shadow:0 0 5px #01264a;
    -moz-box-shadow:0 0 5px #01264a;
    -webkit-box-shadow:0 0 5px #01264a;
    background-color: #01407d;
    color: #EEEEEE;
    cursor: pointer;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 5px 7px;
    vertical-align: middle;
    top:285px; 
    right:0px;
    position:fixed;
}
.shadow_five {
box-shadow: 1px 1px 5px #666;
-moz-box-shadow: 1px 1px 5px #666;
-webkit-box-shadow: 1px 1px 5px #666;
}
.rc5 {
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
.excel_main {
	float: right;
    height: 16px;
    margin: 5px 0 0 5px;
	margin: 4px 0 0 5px\9;
    width: 16px;
}

div.product_link h1{font-size: 12px !important; font-weight:normal}
.order_no {
    background-color: #F4F4F4;
    border: 2px solid #EEEEEE;
    margin-bottom: 10px;
    padding: 8px;
}
.orderDetail {
    border-collapse: collapse;
    float: right;
	margin-bottom: 10px;
}
.order_detail_cont {
    float: left;
    width: 700px;
}
.order_left_cont {
    float: right;
    width: 230px;
}
.orderTable th, .orderDetail th {
    background-color: #F4F4F4;
    border-bottom: 1px dotted #CCCCCC;
    padding: 5px;
    text-align: left;
    vertical-align: top;
	font-size: 12px;
}
.orderDetail td {
    border-bottom: 1px dotted #ECECEC;
    margin: 0;
    padding: 3px 0 3px 3px;
    text-align: left;
    vertical-align: top;
	font-size: 12px;
}
.cart_summary {
    border: 1px solid #EEEEEE;
}
div.cart_summary td, div.cart_summary th, div.cart_summary caption {
    padding: 0 10px;
	font-size:12px;
}
.prof_sub_head {
    margin-bottom: 10px;
    margin-top: 5px;
}
.tbl_options {
    border-collapse: collapse;
    font-size: 11px;
    position: relative;
    z-index: 10;
	width: 250px;
	margin-right: -1px;
}
.tbl_options td.selected {
    background-color: #FFFFFF;
    font-weight: bold;
	color:#000;
}
.tbl_options td {
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    padding: 5px 8px;
}
.mode_select{color:#000;}
.hide_this_option{color:#999999 !important;}
.payment-onoff {
    float: right;
    width: 50px;
	*clear:both;
}
.dbluegradient {
    background: none repeat scroll 0 0 #0066CC;
    border: 1px solid #0066CC;
    color: #FFFFFF !important;
    font-size: 10px;
    font-weight: normal !important;
    width: 22px;
}
.btn {
    box-shadow: 0 1px 3px #CCCCCC;
    color: #333333;
    display: inline;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    width: 22px;
}
.bgraysmall {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #C6C6C6 100%) repeat scroll 0 0 transparent;
    border: 1px solid #999999 !important;
    color: #666666;
    cursor: pointer;
    font-size: 10px;
    width: 22px;
}
.div_optdetails {
    border: 1px solid #CCCCCC;
    min-height: 200px;
    padding: 20px;
	width: 648px;
}
.tbl_graph {
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tbl_graph td {
    /*width: 300px;*/
}
.home_main_tbl {
    border: 1px solid #F5F5F5;
    margin-top: 25px;
}
.pad-review{padding:10px 5px;}
.search_sku{padding-top:10px\9; /*width:345px; width:320px\9;*/}
#id_measure, #id_payment_type, #id_format_option, #deal, #lob_level, #id_input_date_month, #id_input_date_day, #id_input_date_year, #id_report_format, #format_option, #id_start_date_month, #id_start_date_day, #id_start_date_year,#id_end_date_month, #id_end_date_day, #id_end_date_year, #id_types, #id_payment_type, #id_deal, #id_order_state, #id_channel{padding:0px; font-size:11px;}
.report_option_a1 {
    background: none repeat scroll 0 0 #DCDCDC;
    border: 1px solid #B7B7B7;
    border-radius: 5px 5px 5px 5px;
    color: #606060;
    float: left;
    font-weight: bold;
    margin-bottom: 8px;
    margin-right: 20px;
    padding: 5px 10px;
    width: 240px;
}
.chkbox_list {
    border: 1px solid #B7B7B7;
    color: #606060;
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 920px;
}
.top_quantity {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 450px;
}
.top_value {
    float: right;
    position: relative;
    width: 450px;
}
.left_table{
    float:left;
    width:460px;
    margin-right:10px;
    position:relative;
}
.right_table{
    float:right;
    width:460px;
    position:relative;
}
.pagination {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #FFFFFF;
	float:left;
	width:910px;
	margin-top:10px;
}
.pagination .disabled {
	border: 1px solid #AAAAAA;
	color: #AAAAAA;
	padding: 1px 7px;
}
.pagination .page_link {
	border: 1px solid #000000;
	font-size: 11px;
	padding: 2px 7px;
	margin:2px;
	display:block;
	float:left;
}
.page_link_selected {
	background-color: #666666;
	color:#FFF;
	cursor:pointer
}
.page_link_notsel {
	background-color: #F4F4F4;
	color:#000;
	cursor:pointer
}
.pagination #prev_page, #next_page {
	background-color: #F4F4F4;
	border: 1px solid #666666;
	color: #000000;
	font-size: 11px;
	padding: 2px 7px;
	float:left;
	display:block;
	margin-right:10px;
	margin-top:2px;
}
.pagination #next_page {
	margin-left:10px
}
.pagination #prev_page:hover, #next_page:hover {
	background-color: #DCDBDB;
	cursor:pointer;
}
.selected_link {
    color: #009;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.selected_linkdesc {
    background: url("/media/rms/images/down.gif") no-repeat scroll 100% 50% transparent;
    padding-right: 10px;
}

.selected_linkasc {
    background: url("/media/rms/images/up.gif") no-repeat scroll 100% 50% transparent;
    padding-right: 10px;
}

#tabs_review{float:left; margin:0; padding:0; background-color:#d6d6d6; width:100%}
#tabs_review .review_tab {color:#000099; display:block; float:left; line-height:25px; height:28px; margin-right:10px; margin-top:5px; padding:0px 10px; position:relative; text-align:center;}
#tabs_review .review_tab:hover{background:#ececec; color:#000099 !important; cursor:pointer; line-height:25px; height:28px; margin-right:10px; margin-top:5px; padding:0px 10px;}
#tabs_review .review_tab a {line-height:25px; height:28px; margin-right:10px; margin-top:5px;text-align:center;}
.review_sel_menu {background: none repeat scroll 0 0 #FFFFFF; border-bottom: medium none; line-height:25px; height:28px; margin-right:10px; margin-top:5px; padding:0px 10px;}
.review_sel_menu a {color: #000000 !important; font-weight: bold;}

.tbl_review ul {
    border-collapse: collapse;
    font-size: 12px;
	border: 1px solid #DDDDDD;
	background-color:#fff;
}
.tbl_review ul li{
    background-color:#fff;
    border-right: 1px solid #DDDDDD;
	color: #333333 !important;
    font-weight: normal;
    padding: 5px 0px;
    text-align: center;
	float:left;
}
.review_data {
    color: #333333;
    padding: 4px 2px;
}

/*  /Support */
#id_method option, #id_state option {color:#808080;font-size:11px;padding:0 10px;}
div.cart_summary {
    margin-bottom: 20px;
}
.cart_summary {
    border: 1px solid #EEEEEE;
}
.payment{float:left; width:700px;}
.leftpart{float:left; width:940px}
.address{padding:10px 10px 0 10px}
#adduser{width:100px}
.rag_red {
    background-color: #F08080;
}

.rag_amber {
    background-color: #FFA500;
}

.rag_green {
    background-color: #66CDAA;
}
.complaint{height:25px; padding:5px 0px}
.complaint-interaction{background-color:#F4F4F4; position:relative; margin-top: 10px; border:1px solid #DDDDDD;}

.tbl_complaint th{
	background: none repeat scroll 0 0 #F4F4F4;
    border-right: 0px solid #DDDDDD;
    color: #333333 !important;
    font-weight: bold;
    height: 30px;
    text-align: center;
    padding:2px 0px;
}

.tbl_complaint td {
    border: 1px solid #DDDDDD;
    color: #333333;
    padding: 4px 2px;
}

#filter_form{border:1px solid #ECECEC; border-top:0px none; padding:10px}
#filter_link_wrapper{
    background-color: #F0F0F0;
    border: 1px solid #E2E2E2;
	border-bottom:none;
    display: table-cell;
    height: 100%;
    padding:5px 0;
	margin-top:7px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

#filter_link {
    border: medium none;
}

.toggle-down-arrow {
    background: url("/media/rms/images/closed.gif") no-repeat scroll left center transparent;
    padding: 0.5em 0.5em 0.5em 15px;
}

.toggle-up-arrow {
    background: url("/media/rms/images/opened.gif") no-repeat scroll left center transparent;
    padding: 0.5em 0.5em 0.5em 15px;
}

.sort{cursor:pointer;}

 .tbl_review ul {
border-collapse: collapse;
font-size: 12px;
border: 1px solid #DDDDDD;
background-color:#fff;
}
.tbl_review ul li{
background-color:#fff;
border-right: 1px solid #DDDDDD;
color: #333333 !important;
font-weight: normal;
padding: 5px 0px;
text-align: center;
float:left;
}
.review_data {
color: #333333;
padding: 4px 2px;
}
.pad-review {
    padding: 10px 5px;
}
