.logo {
	margin-right:20px;
	margin-left:20px;
	float:left;
	height:35px;
}
.header {
	margin:0px 0px;
}
.header_right{float:right; margin-right:20px; width:550px;}

#userinfo{margin-top:5px;}

.headerlinks {
	margin-top: 20px;
	text-align: right;
	width:520px;
	float:left;
	font-size: 14px;
	font-weight: bold;
}
.yellowlinks, .greenlinks {
	-moz-border-radius:15px;
	border-radius:15px;
	-webkit-border-radius:15px;
	padding: 2px 10px;
	text-decoration:none;
}
.greenlinks {
	box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
	-moz-box-shadow: 2px 2px 2px #888;
}
a.yellowlinks:hover {
	background-color: #eee;
	/*box-shadow: 0 2px 6px white inset, 0 1px 1px rgba(0, 0, 0, 0.25);*/
	color:#000;
	text-decoration:none;
}
a.selected, a.selected:hover {
	background-color: #00529C;
    /*box-shadow: 0 1px 1px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);*/
    color: #FFFFFF;
}
a.greenlinks {
	background-color: #008800;
	color:#fff;
	text-decoration:none;
} 

#nav {
}
#nav ul {
	padding: 0;
	margin: 0;
}
#nav li {
	list-style: none;
	display: inline;
}
#nav a {
	text-decoration: none;
}
#nav a:hover {
}
#nav li a.selected_menu {
}
.search{text-align:center; background-color:#fced67; padding:5px 0px;}
.nav_item_small {float: left;}
.client_seller {float: right; overflow: hidden;}
.follow_a {
    cursor: pointer;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
	margin-top: 6px;
	padding:0px 10px;
}
.follow_a_act{background:#ececec; border-radius:5px 5px 0 0; color:#000099 !important; height:36px; text-align:center; padding:0px 10px; cursor:pointer; margin-top: 6px;}
#follow div ul {
    background-color: #FFFFFF;
    list-style-type: none;
    position: absolute;
	left:0px;
	top:42px;
}
#follow div ul select{margin:0px !important;}
.follow_us_mn {
    display: none;
    padding: 0;
}
.follow_us_mn option {cursor:pointer}
.follow_us_mn option:hover {cursor:pointer; background-color:#ececec}
#follow div {
    margin: 0;
    padding: 0;
    z-index: 100;
	position:relative;
}
.select_height {
    height: 225px; height: 175px\9;
}
.seller_div {
    display: inline;
    float: left;
    height: 26px;
    margin-top:8px;
    overflow: hidden;
	width:143px;
}
#seller_id{width:100px;}
