/*pop up*/
.login_block {
    background-color: #EEEEEE;
    border: 4px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #666666;
    left: 520px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 179px;
    width: 300px;
}
.login_title {
    background-color: #EEEEEE;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px 7px;
}
.login_content{background-color:#FFFFFF; 
    font-size: 12px;
    padding: 20px 25px 25px;}
	
	.login_content input[type="text"], .login_content input[type="password"]{  background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    font-size: 14px;
    margin: 0 0 10px !important;
    padding: 2px;
    width: 242px;}
	
.login_content input[type="submit"] {font-size:11px
}
.login_label{font-size:11px; color:#666666; margin-left:1px;}
.login_label label{font-weight:normal;}
#bg {
    background: none repeat scroll 50% 50% #666666;
    display: none;
    height: 500%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
/*pop end*/