{% extends 'rms/base.html' %}
{% load rms_tags %}
{% block content %}
<hr class="space"/>
<div class="message">
</div>
<div class="span-18">
    <div style="padding:5px">
    {% if open_responses %}
    {% response_list_header %}
        {% for response in open_responses.object_list %}
            {% response_list response %}
        {% endfor %}
    {% response_list_footer %}
    {% else %}
        <div>There are no responses assigned to you.</div>
    {% endif %}
    </div>
</div>
<div class="span-6 last">
    <div>By State</div>
    <a href="{% filter_href request "state" "" %}" class="{% filter_class request "state" "" %}">Any</a><br/>
    {% for state in states %}
    <a href="{% filter_href request "state" state %}" class="{% filter_class request "state" state %}">{{state}}</a><br/>
    {% endfor %}
    <hr class="space"/>
    <div>By Campaign</div>
    <a href="{% filter_href request "campaign" "" %}" class="{% filter_class request "campaign" "" %}">Any</a><br/>
    {% for campaign in campaigns %}
    <a href="{% filter_href request "campaign" campaign.id %}" class="{% filter_class request "campaign" campaign.id %}">{{campaign.name}}</a><br/>
    {% endfor %}

</div>

{% endblock %}
{% block script_footer %}
{{block.super}}

$('.c2c').click(function() {
    var link = this;
    var response_id = link.id.split('_')[1];
    link.innerHTML = 'Calling';
    link.disabled = true;

    var onSuccess = function(data, textStatus, xhr) { 
        link.disabled = true;
        link.innerHTML = 'Called';
        //$('.close_wip').removeClass('hide');
        //$('.c2c').addClass('hide');
    };

    var onError = function(xhr, textStatus, error) {
        link.disabled = false;
        var json = $.parseJSON(xhr.responseText);
        $('.message').html(json.msg);
    };


    $.ajax({
        url:'/api/response/call/' + response_id,
        type: 'POST',
        success: onSuccess,
        error: onError
        });
    });

    var update_attempt = function() {
        var aid = this.id.split('_')[1];
        var width = 350;
        $.get('/rms/ui/attempts/' + aid + '/close', function(data) {
            $('#dialog').html(data);
            var dialog = $('#dialog').dialog({modal:true,
                title:'Close Attempt', 
                width:width});
                $('#id_next_call').datepicker({constrainInput:false, minDate:'0d'})
                var onSubmitAlias = null;
                var onSuccess = function(data, textStatus, xhr) {
                    $('#dialog').html(data);
                    $('#form_close_attempt').submit(onSubmitAlias);
                };
                var onError = function(xhr, textStatus, error) {
                    $('#dialog').html(xhr.responseText);
                    $('#form_close_attempt').submit(onSubmitAlias);
                };
                var onSubmit = function() {
                    var form = this;
                    var action = form.action;
                    var data = $('#form_close_attempt').serialize();
                    $.ajax({ url:action,
                        data : data,
                        success : onSuccess,
                        error : onError,
                        type : 'POST'
                        });
                    return false;
                };
                onSubmitAlias = onSubmit;
                $('#form_close_attempt').submit(onSubmit);
            
        });
    };

$('.rah').click(function() {
    var div_id = this.id + '_details';
    var tr_id = this.id + '_tr';
    var that = this;
    if(this.innerHTML == '+ History') {
        $.get(this.href + '?mode=details_only', function(data) {
                $('#' + div_id).html(data);
                $('#' + div_id)[0].style.display = 'block';
                that.innerHTML = '- History';
                $('button.update_attempt').unbind('click');
                $('button.update_attempt').click(update_attempt);
                YAHOO.MediaPlayer.addTracks(div_id);
            });
    } else {
            $('#' + div_id)[0].style.display = 'none';
            this.innerHTML = '+ History';
    }
    return false;
});
{% endblock %}
