{% extends 'web/base.html' %}
{% load web_tags %}
{% block content %}
<style type="text/css">
	table {
		margin-bottom: 1.4em;
		width: 100%;
	}
	th, td, caption {
		padding: 4px 5px;
	}
	.checkout_table img {
	  border: 1px solid #D5D8DA;
	  padding: 1px;
	}
.uiButton {
    border-width: 1px;
    border-style: solid;
    border-color: #F5B74E #E5A73E #D6982F !important;
    color: #333 !important;
    text-shadow: 0 1px 0 #FEDD9B;
    box-shadow: 0 1px 1px #eee,inset 0 1px 0 #fee395;
    background: #FECC5F;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);
    background-image: linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);
    border-radius: 3px 3px 3px 3px;
}
</style>
<div class="padding_top10">
<div class="breadcrumb"><a href="/question/view/">View All Questions</a>&nbsp;&raquo;&nbsp; Question</div>
	<div class="content_head">
		<div class="header rc5">
			<div class="left">
				<h1>{{ q.question }}</h1>
    		</div>
			<div class="right content_head"> 
				<div class="left"><a href="/question/preview/{{q.id}}/" class="uiButton fblack" style="padding: 3px 8px !important;">Preview</a>
				</div>
			</div>
		</div>
    	<div class="clear bordergray"></div>
  	</div>
	</div>
	<div class="inner-content">
		<form action="" id="seller_profile_form" name="seller_profile_form">
	
			<table class="tbl_display" style="border:1px;">
			<tr>
				<td class="f11 flgray w110">Type:</td>
				<td class="f11 w145">{{q.type}}</td>
				<td class="f11 flgray w110">Answer Type:</td>
				<td class="f11 w145">{{q.answer_type}}</td>
			</tr>
			<tr>
				<td colspan="4" class="border-dotted-gray"></td>
			</tr>
			</table>
		<div class="clear mart10">&nbsp;</div>
        {%if fields%}
		    <div class="bordergray marb5">
			    <p class="f15 fb fdgray">Fields</p>
		    </div>
			<div class="left" style="width:100%">
				<table class="checkout_table">
					<tr>
						<th class="padl15 ca list_header fb" width="75" height="25">Field Label</th>
						<th class="padl5 ca list_header fb" width="75" height="25">Field Type</th>
						<th class="padl15 ca list_header fb" width="100" height="25">Field Options</th>
					</tr>
					{% for f in fields %}
					<tr> 
						<td valign="top" class="ca bordergray">
							<div class="f12 fn">{{f.field_label}}</div>
						</td>
						<td valign="top" class="ca bordergray">
							<div class="padl15 f11 fn">{{f.field_type|title}}</div>
						</td>
						<td valign="top" class="ca bordergray">
							<div class="padl15 f11 fn">{{f.field_option|linebreaks}}</div> 
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{%endif%}
        {%if options%}
		    <div class="bordergray marb5">
			    <p class="f15 fb fdgray">Options</p>
		    </div>
			<div class="left" style="width:100%">
				<table class="checkout_table">
					<tr>
						<th class="padl15 la list_header fb" width="75" height="25">Value</th>
						<th class="padl5 la list_header fb" width="75" height="25">Dependent Question</th>
					</tr>
					{% for o in options %}
					<tr> 
						<td valign="top" class="la border-dotted-gray">
							<div class="f12 fn">{{o.option_value}}</div>
						</td>
						<td valign="top" class="ca border-dotted-gray">
							<div class="padl15 f11 fn">{{o.dependent_question.question}}</div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{%endif%}
	</form>
</div>
{% endblock %}
