{% extends "web/base.html" %}
{% load question_tags %}
{% block extra_css %}
<style type="text/css">
table {width:100%; margin-bottom:0px !important;}
a { text-decoration: underline; color: #46546C; }
a:hover { text-decoration: underline; color: #4d77c3; }
</style>
{% endblock %}

{% block content %}

<div class="padding_top10">
	<div class="content_head" style="height:34px;">
		<div class="header rc5" style="width: 960px;">
            <div class="left w760">
                <h1>Questions</h1>
            </div>
			<div class="left search_element">
				<form action="" method="get" id="search_form">
				  	{% if q %}
						<input type="text" id="q" name="q" value="{{q}}" autocomplete="off" maxlength="300"/>
					{% else %}
						<input type="text" id="q" name="q" autocomplete="off" maxlength="300" placeholder="Search Question" />
					{% endif %}
				  	<button type="submit" id="go" id="ques_str_submit"></button>
				  <div class="clear"></div>				  
				</form>
			</div>
		</div>
    	<div class="clear bordergray"></div>
  	</div>

	<div class="inner-content">
		<div class="right marb10">
			<a href="/question/add/">+ Add a new Question</a>
		</div>
        <div class="clear mart10 question-list">
            {% if ques %}
                {% for key, value in ques.items %}
                    <div id="{{key.id}}v{{key.level}}">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td id="{{key.question.id}}" class="parent_question {%if value %}{%if forloop.last%}lastpq{%else%}pq{%endif%}{% else %}{%if forloop.last%}lastlq{%else%}lq{%endif%}{%endif%}"></td>
                                    <td><a href="/question/{{key.question.id}}/">{{key.question}}</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="/question/edit/{{key.question.id}}/">Edit</a> &nbsp; <a id="{{key.question.id}}_delete" class="deletebin">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                        {% for chq in value %}
                            <div id="{{chq.id}}" class="{{chq.parent_question.id}} hide">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            {% for i in chq.level|get_range %}
                                                <td class="vline"></td>
                                            {% endfor %}
                                            <td id="{{chq.question.id}}" class="{%if chq.question %} {%if chq.question.is_leaf_question %}lq{%else%}pq parent_question{%endif%}{%else%}lq{%endif%}"></td>
                                            <td>{% if chq.question %} <a href="/question/{{chq.question.id}}/">{{chq.parent_value}} - {{chq.question}}</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="/question/edit/{{chq.question.id}}/">Edit</a> &nbsp; <a id="{{chq.question.id}}_delete" class="deletebin">Delete</a>{% else %}{{chq.parent_value}} - {{chq.question}}{% endif %}</td>
                                        </tr>
                                    </tbody>
                                </table>       
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
			<div class="f15">
				<h2><strong> No questions to display</strong> </h2>
			</div>
            {% endif %}
        </div>
        {%comment%}
		<div class="clear mart10">
		<form action="" id="question_list_form" name="question_list_form">
			{% if ques %}
				<div class="mart10">
				<table class="tablesorter tbl_response" cellspacing="0" cellpadding="0" border="0" id="user_table" >
					<thead>
						<tr>
							<th class="w400"><strong>Question</strong></th>
							<th class="w100"><strong>Answer Type</strong></th>
							<th class="w400"><strong>Question Type</strong></th>
							<th class="w30"></th>
						</tr>
					</thead>
					<tbody>
					{% for q in ques %}
						<tr>
							<td class="f11 flgray w375 word-wrap vatop padl10"><a href="/question/{{q.question.id}}" class="ca f11">{{q.question.question}}</a></td>
							<td class="f11 flgray w75 word-wrap vatop padl10">{{q.question.answer_type|title}}</td>
							<td class="f11 flgray w375 word-wrap vatop padl10">{{q.question.type|title}}</td>
							<td class="ca w30"><input type='submit' class='deletebin hide' id='{{q.question.id}}' value='del' /><input type='image' class='deletebin' id='{{q.question.id}}' src="/media/images/dustbin_icon.png" /></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div class="f15">
				<h2><strong> No questions to display</strong> </h2>
			</div>
		{% endif %}
		</form>
		</div>
        {%endcomment%}
	</div>
	<div id='deletebin' style='display:none;'></div>
    <div class="clear"></div>
</div>

{% endblock %}

{% block script_footer %}
{{block.super}}

<script type="text/javascript">
$(document).ready(function(){
    $('.parent_question').toggle(
        function(){	
            var e = this.id;
            $('.'+e).show();
            if($(this).hasClass('pq')){
                $(this).removeClass('pq');
                $(this).addClass('pq-collapse');
            }
            if($(this).hasClass('lastpq')){
                $(this).removeClass('lastpq');
                $(this).addClass('lastpq-collapse');
            }
        },
        function(){
            var e = this.id;
            $('.'+e).hide();
            if($(this).hasClass('pq-collapse')){
                $(this).removeClass('pq-collapse');
                $(this).addClass('pq');
            }
            if($(this).hasClass('lastpq-collapse')){
                $(this).removeClass('lastpq-collapse');
                $(this).addClass('lastpq');
            }
        }
    );
});
$('.deletebin').click(function(){
    var k = this.id.split('_delete')[0];
    var width=650;
    var height=400;
    var onsuccess = function(data, textStatus, xhr){
        $('#deletebin').html(data);
        var dialog=$('#deletebin').dialog({modal:true, title:'Delete Confirmation',width:width, height:height, resizable:true});
    };
    var onerror=function(xhr, textStatus, error){
        $('#deletebin').html(xhr.responseText);
        var dialog = $('#deletebin').dialog({modal:true, title:'Delete Confirmation', width:width, height:height, resizable:true});
    };
    var url= "/question/delete/"+k;
    $.ajax({
        type: 'GET',
        url:url,
        data: '',
        success:onsuccess,
        error: onerror
    });
    return false;
});
        
</script>
{% endblock %}
