{% extends "web/base.html" %}
{% block content %}
<div class="breadcrumb"> <a href="#" title="Go to Chaupaati Home">Home</a>&nbsp;&raquo;&nbsp;News&nbsp;&raquo;&nbsp;Print </div>
<div class="page_right">
  <ul>
    <li><a href="/about/index.html">About Us</a></li>
    <li><a href="/about/team.html">Team</a></li>
     <li><a href="/news/index.html">News</a>
       <ul style="padding:0px 0px 5px 10px;">   
        <li><a href="/news/television.html">Television</a></li>
        <li><a href="/news/print.html" class="fb">Print</a></li>
        <li><a href="/news/web.html">Web</a></li>        
        </ul>
    </li>
    <li><a href="/about/contact.html">Contact Us</a></li>   
  </ul>
</div>
<div class="page">

<h1>Print</h2>
<ul style="padding-left:20px;">
<li>01 Nov 2009 - <a href="{{MEDIA_URL}}images/news/20091101-chaupaati-campaign-india.jpg">Campaign India</a></li>
<li>21 Aug 2009 - <a href="{{MEDIA_URL}}images/news/20090821-Chaupaati-ISB.pdf">A Study on Chaupaati</a> by G Chopra, L Vyas, M Paul and R Kumar (Indian School of Business)</li>
<li>29 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081229-chaupaati-mathrubhumi.jpg">Mathrubhumi (Malayalam)</a></li>
<li>27 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081227-chaupaati-vyapar.jpg">Vyapar (Gujrati)</a></li>
<li>25 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081225-chaupaati-prahar.jpg">Prahar (Marathi)</a></li>
<li>25 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081225-chaupaati-janmabhoomi.jpg">Janmabhoomi (Gujrati)</a></li>
<li>22 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081222-chaupaati-kalakaumudi.jpg">Kala Kaumudi (Malayalam)</a></li>
<li>16 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081216-chaupaati-financial-express.jpg">Financial Express (English)</a></li>
<li>09 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081209-chaupaati-mumbai-sandhya-hindi.jpg">Mumbai Sandhya (Hindi)</a></li>
<li>09 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081209-chaupaati-mumbai-sandhya-marathi.jpg">Mumbai Sandhya (Marathi)</a></li>
<li>09 Dec 2008 - <a href="{{MEDIA_URL}}images/news/20081209-chaupaati-vrithmanas.jpg">Vrithmanas (Marathi)</a></li>
<li>18 Nov 2008 - <a href="{{MEDIA_URL}}images/news/20081118-chaupaati-gujrat-samachar.jpg">Gujrat Samachar (Gujrati)</a></li>
<li>25 Oct 2008 - <a href="{{MEDIA_URL}}images/news/20081025-chaupaati-urdu-times.jpg">Urdu Times (Urdu)</a></li>
<li>23 Oct 2008 - <a href="{{MEDIA_URL}}images/news/20081023-chaupaati-loksatta.jpg">Loksatta (Marathi)</a></li>
<li>15 Oct 2008 - <a href="{{MEDIA_URL}}images/news/20081015-chaupaati-saamana.jpg">Saamana (Marathi)</a></li>
<li>13 Oct 2008 - <a href="{{MEDIA_URL}}images/news/20081013-chaupaati-navbharat.jpg">Navbharat (Hindi)</a></li>
</ul>

</div>
{% endblock %}
