{% comment %} {% extends "web/base.html" %} {% endcomment %}
{% block content %}
<div class="breadcrumb">&nbsp; </div>
<div class="login_block">
<div class="login_title">
Sign in
</div>
<div class="login_content bottomrc5">
<form method="post" action="/accounts/login/">
{% csrf_token %}
  {% if form.errors %}
      <div  class="error">Your username and password didn't match. Please try again.</div>
      {% endif %}      
  
 <div> <span class="login_label">{{ form.username.label_tag }}</span><br />
       {{ form.username }}  </div>  
  
 <div> <span class="login_label"{{ form.password.label_tag }}</span><br />
        {{ form.password }} </div>  
  
   <div class="margin-t5">
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="Sign in" />
   </div> 
</form>
</div>
</div>

{% endblock %} 
