
{% extends 'cs/base.html' %}
{% block content %}
        <div class="span-24 last">
            <div class="pad">
                <div class="error">
                    {{form.non_field.errors}}
                    <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{field.label}}: {{error}}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    <div class="span-24 last">
        <hr class="space"/>
    </div>
        <form method="post">
        {% for field in form %}
        <div class="span-24 last">
            <div class="span-6">
                <div class="padh">{{field.label}}{% if field.field.required %}<span class="required">*</span>{% endif %}</div>
            </div>
            <div class="span-6">
                <div class="padh">
                    {{field}}
                </div>
            </div>
            <div class="span-10">
                &nbsp;
            </div>
            <div class="span-2">&nbsp;
            </div>
        </div>
        {% endfor %}
        <div class="prepend-6 span-18 last">
            <div class="padh"><input type="submit" value="Submit"/></div>
        </div>
        <hr class="space"/>
        </form>
{% endblock %}
{%block script_footer %}
{{block.super}}
$('#id_next_call').datepicker({constrainInput:false, minDate:'0d'})
$('#id_state').change(function(){
   var onSuccess = function(data){
        var list = $.parseJSON(data);
        var statuses = list.statuses;
        var options = '';
        options += '<option value="">---------</option>';
        for(var i=0; i< statuses.length; i++){
        options += '<option value="' + statuses[i].id + '">' + statuses[i].name + '</option>';
        }
        $('#id_status').html(options);
   };
   var onError = function(){
   };
   var action='/users/get_status';
   var data= 'state=' + $('#id_state').val();
   $.ajax({url:action,
    data:data,
    success:onSuccess,
    error:onError,
    type:'POST'
    });
   return false;
});

{% endblock %}


