<style type="text/css">
.dr_container {
    position: relative;
}
#id_apply {
color:#333;
text-decoration:none;
font-weight:normal;
padding:5px 5px;
}
#dr1{
text-align:center;
border-color:#bbb;
font-size:11px;
}
#sr1{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
    position: relative;
    right: 167px;
	right: 177px\9;
    top: -1px;
    width:335px;
	width:345px\9;
    z-index: 1000;
    margin-bottom:5px;
}
#sr1 input{
width:100px !important;
margin-right:10px;
text-align:center;
}
</style>
<div class="dr_container">
	<input readonly="true" type="text" id="dr1" class="cursorp" value="{%if start_date or end_date%}{% firstof start_date ''%} - {% firstof end_date ''%}
        {%else%}Select Date{%endif%}" />
	<div id="sr1" style="display:none; float:left;">
	  <table class="tbl_sr left" style="margin-bottom:0 !important">
		<tr>
		  <td>From</td>
		  <td><input readonly="true" type="text" name="start_date" id="id_from" autocomplete="off" value="{% firstof start_date ''%}"/></td>
		  <td class="ra">To</td>
		  <td><input readonly="true" type="text" name="end_date" id="id_to" autocomplete="off" value="{% firstof end_date ''%}"/></td>
		</tr>
	  </table>
	<a style='position:relative;top:15px;font-size:11px;' id="daterange_clear" href='#'>Clear</a>
	</div>
</div>
<script type="text/javascript" language="javascript">   
$(document).ready(function(){
	$("#dr1").toggle(function() {
			$( "#sr1" ).show("fast", 0);
			return false; 
		}, function() {
			$( "#sr1" ).hide("fast", 0);
			return false;
	});
	
   $('#id_from').datepicker({dateFormat: 'dd M yy', {%if limit_from%}minDate:0,{%endif%}
        {%if limit_to%}maxDate:0,{%endif%} onSelect: function(){
            $('#id_to').datepicker("option", "minDate", $(this).val());
            $('#dr1').val($(this).val() + ' - ' + $('#id_to').val());
        }
    });
    
	$('#id_to').datepicker({dateFormat: 'dd M yy', {%if limit_from%}minDate:0,{%endif%}
        {%if limit_to%}maxDate:0,{%endif%} onSelect: function(){
            $('#id_from').datepicker("option", "maxDate", $(this).val());
            $('#dr1').val($('#id_from').val() + ' - ' + $('#id_to').val());
        }
    });

    $('#daterange_clear').click(function(){
        var from = $('#id_from');
        from.val('');
        from.datepicker("option","maxDate",0);
        var to = $('#id_to');
        to.val('');
        to.datepicker("option","minDate","");
        $('#dr1').val('Select Date');
        return false;
    });
});

</script>
