{%load rms_tags%}
<style type='text/css'>
#form input[type=text]{width:200px;margin-bottom:10px;}
#form select{width:202px;}
#form input[type=submit]{width:50px;}
#form input[type=checkbox]{width:15px;margin-right:5px;}
ul, ol { padding-left: 0px !important; }
</style>
{% if form.non_field_errors %}
<div class="error">{{form.non_field_errors}}</div>
{%endif%}
<form method='post' action='/informationflow/add' id='form'>
<div class="fieldWrapper marb5 clear">
	<span class="f11 fdgray">{{ form.name.label }}</span><br/>
	{{ form.name }}
</div>
{% if form.name.errors %}
<div class='error clear'>{{form.name.errors}}</div>
{% endif %}
<div class="fieldWrapper marb10 clear">
	<span class="f11 fdgray">{{ form.state.label }}</span><br/>
	{{ form.state }}
</div>
{% if form.state.errors %}
<div class='error clear'>{{form.state.errors}}</div>
{% endif %}
<div class="fieldWrapper marb10 clear">
	<span class="f11 fdgray">{{ form.substate.label }}</span><br/>
	{{ form.substate }}
</div>
{% if form.substate.errors %}
<div class='error clear'>{{form.substate.errors}}</div>
{% endif %}
<div class="fieldWrapper marb10 clear">
	<span class="f11 fdgray">{{ form.acting_team.label }}</span><br/>
	{{ form.acting_team }}
</div>
{% if form.acting_team.errors %}
<div class='error clear'>{{form.acting_team.errors}}</div>
{% endif %}
<div class="fieldWrapper marb10 clear">
	<span class="f11 fdgray">{{ form.receipients.label }}</span><br/>
    <ul>
        {% for team in form.receipients|checkboxiterator %}
        <li class='left w125'>{{team}}</li>
        {% endfor %}
        <li style='width:1px;line-height:0px;'>&nbsp;</li>
    </ul>
</div>
{% if form.receipients.errors %}
<div class='error clear'>{{form.receipients.errors}}</div>
{% endif %}
<div class='clear'>
    <input type="submit" name="submit" value="Add" class="uiButton" id='addinformationflow'/>
</div>
</form>

<script type="text/javascript">
var substate_list = new Array({{substate_list|length}});
{% for substates in substate_list %}
substate_list[{{forloop.counter0}}] = new Array({{substates|length}});
{% for val,name in substates %}
substate_list[{{forloop.parentloop.counter0}}][{{forloop.counter0}}] = ["{{name}}",{{val}}];
{% endfor %}
{% endfor %}
$('#id_state').change(function() {
    var index = this.selectedIndex;
    var newlist = $('#id_substate');
    newlist.get(0).options.length = 0;
    var substates = substate_list[index];
    for(i=0; i<substates.length; i++) {
        newlist.get(0).options[i] = new Option(substates[i][0],substates[i][1]);
    }
});
</script>

