{% load cc_tags %}
<ul id="menu_account">
	{% for menu_item in menu_items %}
		<li class="item order_tab {%if menu_item.selected%}sel_menu{%endif%}">
			<a style="display:block" href="{% cc_url request menu_item.url %}">{{menu_item.name}}</a>
			{%if menu_item.sub_menu%}
			<ul class="menu_account_sub">
            	{%for item in menu_item.sub_menu%}
				<li><a href="{% cc_url request item.url %}">{{item.name}}</a></li>
				{%endfor%}
        	</ul>
			{%endif%}
		</li>
	{% endfor %}
</ul>

<script type="text/javascript">
$("#menu_account li.item").hover(function(){
    if ($(this).hasClass("hovering")){
        $(this).removeClass("hovering");
    }
    else{
        $(this).addClass("hovering");
    }
});
</script>
