{% extends 'support/base.html' %}
{% load cc_url %}
{% block content %}

<style>
dl {
    margin: 0 0 1em !important;
}
dl dt {
    font-weight: normal !important;
}
ul, ol {
    padding-left: 0px !important;
}
label {
    font-weight:normal !important;
}
</style>
{% if form %}
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="{% cc_url request "user/" %}">Users</a>&nbsp;&raquo;&nbsp; <a href='{% cc_url request "user/" %}{{user.id}}'>{% firstof user.user.first_name|title user.user.username %}</a>&nbsp;&raquo;&nbsp; Edit</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1>Edit</h1>
    </div>
	<div class="clear bordergray"></div>
  </div>
  <div class="main">
  <div class='f12 fb'>{% firstof user.user.first_name|title user.user.username %}</div>
	{% if form.non_field_errors %}
    <div class="error">{{form.non_field_errors}}</div>
    {%endif%}
    <form method="post">
		<div class='row clear'>
            <div class='col1 f11 flgray left'>{{form.team.label}}</div>
		    <div class='col2 f11 left'>{{form.team}}</div>
        </div>
        <div>
            {%if form.team.errors %}
            <div class="error w440 left">
				{{form.team.errors}}
			</div>
            {%endif%}
        </div>
		<div class='row clear'>
            <div class='col1 f11 flgray left'>{{form.role.label}}</div>
		    <div class='col2 f11 left'>{{form.role}}</div>
        </div>
        <div>
            {%if form.role.errors %}
            <div class="error w440 left">
				{{form.role.errors}}
			</div>
            {%endif%}
        </div>
        {{form.username}}
	    <div class='clear mart15'>
            <input type="submit" name="submit" value="Save" class="uiButton"/>
        </div>
	</form>
    <br />
  </div>
</div>
{% else %}
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="{% cc_url request "user/" %}>Users</a>&nbsp;&raquo;&nbsp; {% firstof user.user.first_name|title user.user.username %}</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1>{% firstof user.user.first_name|title user.user.username %}</h1>
    </div>
        <div class="right content_head">
			<a href="edit" role="button" class="left uiButton" style="color:#333; text-decoration:none;"><span class="uiButtonText">+ Edit User</span></a>
		</div>
	<div class="clear bordergray"></div>
  </div>
  <div class="main">
  <div class='w110 f11 flgray left'>Team</div>
  <div class='w330 left'>{{user.team.name|title}}</div>
  <div class='clear'></div>
  <div class='w110 f11 flgray left'>Role</div>
  <div class='w330 left'>{{user.role|title}}</div>
  <div class='clear'></div>
  </div>
</div>
{% endif %}
{% endblock %}
