<style type='text/css'>
#form input[type=text]{width:200px;margin-bottom:10px;}
#form select{width:202px;}
#form input[type=submit]{width:50px;}
ul, ol { padding-left: 0px !important; }
</style>
<form method='post' id='form' action='/user/add/'>
<div class="fieldWrapper marb5 clear">
	<span class="f11 fdgray">{{ form.username.label }}</span><br/>
	{{ form.username }}
</div>
{% if form.username.errors %}
<div class='error clear'>{{form.username.errors}}</div>
{% endif %}
<div class="fieldWrapper marb10 clear">
	<span class="f11 fdgray">{{ form.team.label }}</span><br/>
    {{form.team}}
</div>
{% if form.team.errors %}
<div class='error clear'>{{form.team.errors}}</div>
{% endif %}
<div class="fieldWrapper marb10 clear">
	<span class="f11 fdgray">{{ form.role.label }}</span><br/>
    {{form.role}}
</div>
{% if form.role.errors %}
<div class='error clear'>{{form.role.errors}}</div>
{% endif %}
<div class='clear'>
<input type="submit" name="submit" value="Add" class="uiButton" id='adduser' />
</div>
</form>
