{%load cc_tags%}
<script type="text/javascript">
$(document).ready(function(){
    $(".bank").click(function(){
        var shown_provider = "#id_payment_group_member_" + this.id;
        $(".provider_member").removeClass("show");
        $(".provider_member").addClass("hide");
        $(shown_provider).removeClass("hide");
        $(shown_provider).addClass("show");
        
    });
});
</script>
<b>Select EMI Plan:</b>
<br />
<b>Credit Card Bank:</b><br />
{% for service_provider in service_providers%}
<input type="radio" id="{{forloop.counter}}" name="bank" {%if forloop.first%}checked="checked" {%endif%} class="bank" value={{service_provider}} > {{service_provider}}<br />
{% endfor %}
<input type="hidden" value="HDF" id="bank_selected">  

{% for service_provider in service_providers %}
<select id="id_payment_group_member_{{forloop.counter}}" name="payment_group_member" {%if forloop.first%} class="provider_member show" {%else%} class="provider_member hide" {%endif%}>
    {%for option in grouped_options%}
        {% ifequal option.payment_mode.service_provider service_provider%}
            <option value="{{option.payment_mode.code}}">{{option.payment_mode.name}}</option>
        {% endifequal %}
    {%endfor%}
</select>
{% endfor %}
{% include "order/payment_options/billing_info.html" %}
