{% extends request.ws_base|default:'web/base.html' %}
{% load cc_tags %}
{% block content %}
<div>
	<div class="breadcrumb">Help</div> 
	<div class="cart_left"> 
      <div class="help_cont">    
	    <div class="f12" style="margin:5px 5px 20px; border-bottom:1px dotted #ccc; padding: 2px 5px;"><strong>Ticket</strong> #123456</div>        
           <div class="comment">
             <div class="photo1">
                  <img class="shadow_four" src="../..{{MEDIA_URL}}images/test.jpg"/>      
                  <div class="ra">
                         <span class="fb">Rajendra</span><br />
                         <span class="fdgray f10">15 Nov 5pm</span>     
                  </div>
             </div>      
              <div class="comm roundcorner5 shadow_four" style="float:left; clear:right; position:relative;">
                     <img src="../..{{MEDIA_URL}}images/exm-left.gif" style="position:absolute; left:-8px; top:2px; "/>
                         Chaupaati is India's phone bazaar. Call 0-922-222-1947 to buy branded products directly from the source. We go directly to brands and exclusive  			distributors to bring products at great prices, quality and service at your doorstep. Ab karo phone pe deal!
             </div>
              <div class="clear"></div>
              </div>
             
              
               <div class="comment">    
             <div class="comm roundcorner5 shadow_four" style="float:left; clear:right; position:relative;">
              <img src="../..{{MEDIA_URL}}images/exm-right.gif" style="position:absolute; right:-8px; top:2px; "/>
                 Chaupaati is India's phone bazaar. Call 0-922-222-1947 to buy branded products directly from the source. We go directly to brands and exclusive distributors to bring products at great prices, quality and service at your doorstep. Ab karo phone pe deal!
              </div>
                <div class="photo2">
                      <img class="shadow_four" src="../..{{MEDIA_URL}}images/chaupaati.jpg"/>
                           <div class="la">
                         <span class="fb">Chaupaati</span><br />
                         <span class="fdgray f10">15 Nov 5pm</span>     
                  </div>
                 </div>
              <div class="clear"></div>
              </div>   
             <div class="roundcorner5" style="margin:5px 5px 20px; border:1px solid #ccc; padding: 2px 5px;">This  tickect is open</div>  
      </div>

 	 </div>
    <div class="cart_right">   
     
      <div class="ticket-info roundcorner5 padding10"> 
        <table cellspacing="0" cellpadding="0" style="margin:0px;">
          <tbody>
            <tr>
              <td class="f11 fdgray">Ticket:</td>
                <td>#123456</td>
            </tr>
            <tr>
              <td class="f11 fdgray">Order No.:</td>
                <td>1234567</td>
            </tr>
            <tr>
              <td class="f11 fdgray">Open:</td>
               <td>17 Nov 2010</td>
            </tr>
            <tr>
              <td class="f11 fdgray">Closed:</td>
               <td>17 Nov 2010</td>
            </tr>
            </tbody>
          </table>
      </div>
      <!--  <dl class="ticket-info roundcorner5">
      <dt>Ticket:</dt>
      <dd> #123456</dd>
      <dt>Order No.:</dt>
      <dd> 12346</dd>
      <dt>Open:</dt>
      <dd> 12 Nov 2010</dd>
      <dt>Closed:</dt>
      <dd> 17 Nov 2010</dd>
      </dl>-->
    
     
    </div>
   
    
</div>
{% endblock %}

