{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}
<div class="dialog" style="padding:20px; font-size:12px; ">
	<form method="post" action="" id="form_new_address">
		<!--<div>
        	<div id="shipping_result" class="dialog_error" style="display:none"></div>
			<span class="shipping_info">Courier:</span>
			<input type="text" id="courier" size="40" name="courier" class="input_text_box_m" value="{{shipping_details.courier}}" /><br />
			<span class="shipping_info">URL:</span>
			<input type="text" id="tracking_url" size="40" name="tracking_url" class="input_text_box_m" value="{{shipping_details.tracking_url}}" /><br />
			<span class="shipping_info">AWB Number:</span>
			<input type="text" id="tracking_no" size="40" name="tracking_no" class="input_text_box_m" value="{{shipping_details.tracking_no}}" /><br />
			<span class="shipping_info">Disptached On:</span>
            <input type="text" id="dispatched_on" size="40" name="dispatched_on" class="input_text_box_m" value="{{order_item.dispatched_on|date:"m/d/Y"}}" /><br />
            <span class="shipping_info" style="vertical-align:top; margin-top:5px;">Notes:</span>
			<textarea id="notes" name="notes" style="width:290px;" cols="40" rows="5">{{shipping_details.notes}}</textarea>
			<div style="margin-top:5px;">
           <span class="shipping_info"></span><span> <button type="submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="linkButton" id="cancel">Cancel</button><br /></span></div>
		</div>-->
	<div class="address padding10 roundcorner5 first">
                        <input type="hidden" value="" name="old_address">
                        <div>
                            <input type="radio" checked="checked" value="new" name="del_address">&nbsp;&nbsp;<span class="fb">Enter new delivery address</span><br>
                        </div>
                        <div id="delivery_address_block">
                        <div class="f11">Name <span class="mand">*</span></div>
                        <input type="text" id="id_delivery_name" value="raj" class="input_l tgd" maxlength="200" name="delivery_name" default_value="Name"><br>
                        <div class="f11">Address <span class="mand">*</span></div>
                        <textarea class="input_l tgd" cols="40" id="id_delivery_address" name="delivery_address" rows="10" default_value="Address">411 dhiraj heritage</textarea><br>
                        <div>
                            <div class="fll">
                                <div class="f11">City <span class="mand">*</span></div>
                                <input type="text" id="id_delivery_city" value="thn" class="input_m tgd" maxlength="200" name="delivery_city" default_value="City">&nbsp;&nbsp;
                            </div>
                            <div class="fll">
                                <div class="f11">Pincode <span class="mand">*</span></div>
                                <input type="text" id="id_delivery_pincode" value="400054" class="input_m tgd" maxlength="10" name="delivery_pincode" default_value="Pincode">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="fll">
                                <div class="f11">State <span class="mand">*</span></div>
                                <input type="text" id="id_delivery_state" value="Maharashtra" class="input_m tgd" maxlength="200" name="delivery_state" default_value="State">&nbsp;&nbsp;
                            </div>
                            <div class="fll">
                                <div class="f11">Country <span class="mand">*</span></div>
                                <input type="text" id="id_delivery_country" value="India" class="input_m tgd" maxlength="200" name="delivery_country" default_value="Country">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="f11">Phone <span class="mand">*</span></div>
                        <input type="text" id="id_delivery_phone" value="9870696055" class="input_m tgd" maxlength="100" name="delivery_phone" default_value="Phone">
                    </div>
                    </div>
    
    </form>
</div>
{%endblock%}
<script type="text/javascript">
    $('#cancel').click(function(){
        $('#shipping_dialog').dialog('close');
        return false;
    });
    $('#dispatched_on').datepicker();
</script>