{%extends "web/base.html"%}
<div style="width:989px; font-family: Arial,Helvetica,sans-serif; font-size: 12px;">
	<div style="width:989px;">
    	<div style="color:#5889b9; font-size:20px">
        	What people are saying about <strong>futurebazaar.com</strong>
        </div>
        <div style="background-color:#4e9fd3; height:62px; color:#ffffff; padding:10px; line-height:21px;">
        	We at futurebazaar.com believe in enhancing our services day in, day out to ensure that our customers have a delightful user experience. Our customers depend on us to provide reliable, useful products and exceptional customer service. Precisely why our focus is to provide top quality products at the most competitive rates.  We pride ourselves in the fact that our customers explore and discover new things simply because they are featured on futurebazaar.com. Here's what our customers have to say about our efforts.

        </div>
        <div style="background:url(../../../media/futurebazaar/images/testimonials-arrow.gif) no-repeat; height:31px;width:42px; position:relative; left:797px; top:0px;"></div>
    </div>
    <div style="width:989px;">
    	<div style="width:633px; float:left; ">
        	<div style="background-color: #F1F9FE; border-bottom: 5px solid #bed0e3; color: #333333; font-size: 12px; margin-bottom: 20px; padding: 8px 10px;">
                <div style="float:left; color:#5889b9; font-size:14px">
                    <strong>Testimonials</strong>
                </div>
                <div style="float:right">  <span style="color: #666666;">« prev</span> &nbsp;&nbsp;<strong>15</strong> of <strong>65</strong>&nbsp; <a href="/search/?q=&amp;page=2" title="Go next page" style="color: #05559D; text-decoration: none;">next »</a> </div>
                <div style="clear:both;"></div>
            </div>
            <div style="width:630px; height:124px; float:left; border-bottom:1px solid #c7d7e8; clear:both;">
                <div style="width:73px; float:left;">
            		<span style="padding-top:10px; padding:5px;"><img src="/media/images/cust.jpg" width="58" height="58" /></span>
                </div>
                <div style="width:470px; float:left;">
                    <div style="float:left;">March 7, 2011</span><br /><span>By <span style="color:#5889b9;">Harikrishana Panda,</span> Mumbai</div>
                    <div style="float:left; width:590px; padding-top:10px;">
                        <span style="float:left; width:32px;"><img src="/media/images/quote-start.jpg" width="42" height="35"/></span>
                        <span style="float:left; width:488px; padding-left:30px;  padding-top:10px;">It is a very valuable and useful online shopping website wherefrom one can compare and get to knvow the details of a product sitting at home or office. It is also reliable because I bought an Electric Iron, which I received in absolutely good working condition. I have placed order for more purchase just because of trust and reliability, quality & price.</span>
                    </div>
                </div>
            </div>
            
        </div>
          
          
    	<div style="float:right; width:326px; padding-left:10px;">
        	<img src="/media/images/battle-bg.gif" width="314" height="478"/>
        </div>
    </div>
    
    
</div>
{%endblock%} 