{% extends 'web/base.html' %}

{% block search_menu%}
<div>Browse for more </div>
{% endblock %}

{% block content %}

<div class="substores">
    <div class="sub_store topr5" id="sub_store">
        <ul>
        <a><img src="{{MEDIA_URL}}images/baby_care.jpeg" alt="Baby Care"><br/></a>
        <span class="name">Baby Care</span>
        <span></span>
        <li style="left:-10px">
        <div class="ss_brands">
            Brands<br/>
            <a><img src="{{MEDIA_URL}}images/baby_einstein.jpeg"></a>
        </div>
        <div style="padding:10px 0 10px 0;">
            <div class="adRect last_down">
                <img src="{{MEDIA_URL}}images/baby_care.jpeg"/><br/>
                <span class="adTitle">TAKE ALONG CATERPILLAR</span><br/>
                <span class="mrp">MRP Rs. 1,700 </span><br/>
                <span class="offerPrice">Rs.1,699 </span>
            </div>
            <div class="adRect last_down">
                <img src="{{MEDIA_URL}}images/baby_care.jpeg"/><br/>
                <span class="adTitle">TAKE ALONG CATERPILLAR</span><br/>
                <span class="mrp">MRP Rs. 1,700 </span><br/>
                <span class="offerPrice">Rs.1,699 </span>
            </div>
            <div class="adRect last_right last_down">
                <img src="{{MEDIA_URL}}images/baby_care.jpeg"/><br/>
                <span class="adTitle">TAKE ALONG CATERPILLAR</span><br/>
                <span class="mrp">MRP Rs. 1,700 </span><br/>
                <span class="offerPrice">Rs.1,699 </span>
            </div>
        </div>
        </li>
        </ul>
    </div>
    <div class="sub_store topr5" id="sub_store">
        <ul>
        <a><img src="{{MEDIA_URL}}images/books&comics.jpeg" alt="Baby Care"><br/></a>
        <span class="name">Books & Comics</span>
        <span></span>
        <li style="left:-185px">
        <div class="ss_brands">
            Brands<br/>
            <a><img src="{{MEDIA_URL}}images/ack_logo.jpg"></a>
            <a><img src="{{MEDIA_URL}}images/Macmillan-Logo.jpg"></a><br/>
            <a><img src="{{MEDIA_URL}}images/penguin-books-logo.jpg"></a>
            <a><img src="{{MEDIA_URL}}images/robinage_logo.jpg"></a><br/>
            <a><img src="{{MEDIA_URL}}images/new_tinkle_logo.gif"></a>
            <a><img src="{{MEDIA_URL}}images/archie_logo.jpg"></a>
        </div>
        </li>
        </ul>
    </div>
    <div class="sub_store topr5" id="sub_store">
        <ul>
        <a><img src="{{MEDIA_URL}}images/school.jpeg" alt="Baby Care"><br/></a>
        <span class="name">Schools</span>
        <span></span>
        <li style="left:-359px;">
        <div class="ss_brands">
            Brands<br/>
            <a><img src="{{MEDIA_URL}}images/Iken_logo.PNG"></a>
            <a><img src="{{MEDIA_URL}}images/newday_logo.jpeg"></a><br/>
        </div>
        </li>
        </ul>
    </div>
    <div class="sub_store topr5" id="sub_store">
        <ul>
        <a><img src="{{MEDIA_URL}}images/toys.jpeg" alt="Baby Care"><br/></a>
        <span class="name">Toys & Games</span>
        <span></span>
        <li style="left:-532px">
        <div class="ss_brands">
            Brands<br/>
            <a><img src="{{MEDIA_URL}}images/funskool_logo.gif"></a>
            <a><img src="{{MEDIA_URL}}images/disney_logo.gif"></a>
            <a><img src="{{MEDIA_URL}}images/fisherprice_logo.gif"></a><br/>
            <a><img src="{{MEDIA_URL}}images/leapfrog_logo.jpg"></a>
            <a><img src="{{MEDIA_URL}}images/skillofun_logo.gif"></a>
            <a><img src="{{MEDIA_URL}}images/Meccano_logo.jpg"></a>
            <a><img src="{{MEDIA_URL}}images/Playmobil_logo.gif"></a>
            <a><img src="{{MEDIA_URL}}images/hotwheels_logo.jpg"></a>
            <a><img src="{{MEDIA_URL}}images/barbie_logo.jpg"></a>
        </div>
        </li>
        </ul>
    </div>
<div style="padding:20px;width:700px;float:left;">
    <img src="{{MEDIA_URL}}images/c_store.jpeg">
</div>
</div>

<div class="rightbar topr10 botr10">
    <div class="head topr10">New to Chaupaati</div>
    <div class="cont">
        <p>How to buy?</p>
        <ul>
            <li>fvf</li>
            <li>fderfvge</li>
        </ul>
        <p>How to sell your product?</p>
        <ul>
            <li>efwfwf</li>
        </ul>
    </div>
</div>

<div class="store_links">
    <div>
        <ul>Most Popular
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
        </ul>
    </div>
    <div>
        <ul>New Products
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
        </ul>
    </div>
    <div>
        <ul>Featured
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
        </ul>
    </div>
    <div>
        <ul>Most Popular
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
            <li><a>Barbie OPP Ballerina Teresa</a></li>
        </ul>
    </div>
</div>
{% endblock %}
