{% extends 'web/ppd_base.html' %}
{% block content %}
<div class="inner-content">
  <h1 class="head1">Leading brands selling through <em>phone pe deal </em></h1>
  <div class="brands">
    <ul>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/kelvinator.gif" alt="Kelvinator"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/sansui.gif" alt="Sansui"/>
      </li>
      <li>
        <img  src="{{MEDIA_URL}}images/ppd_images/brands/videocon.gif" alt="Videocon"/>
      </li>
      <li>
        <img  src="{{MEDIA_URL}}images/ppd_images/brands/electrolux.gif" alt="Electrolux"/>
      </li>
      <li>
        <img  src="{{MEDIA_URL}}images/ppd_images/brands/jaipan.gif" alt="Electrolux"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/whirlpool.gif" alt="Electrolux"/>
      </li>   
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/ifb.gif" alt="IFB"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/kenstar.gif" alt="Kenstar"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/lava.gif" alt="Lava"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/casio.gif" alt="Casio"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/micromax.gif" alt="Micromax"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/letsbuy.gif" alt="Letsbuy"/>
      </li>   
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/digiworld.gif" alt="Digiworld"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/timtara.gif" alt="Timtara"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/fernspetals.gif" alt="Fernspetals"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/macmillan.gif" alt="Macmillan"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/penguin.gif" alt="Penguin"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/amar_chitra_katha.gif" alt="Amar Chitra Katha"/>
      </li> 
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/robinage.gif" alt="Robinage"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/bd.gif" alt="BD"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/ibh.gif" alt="IBH"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/99media.gif" alt="99media"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/infomedia.gif" alt="Infomedia"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/tinkle.gif" alt="Tinkle"/>
      </li>   
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/zee_learn.gif" alt="Zee Learn"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/natgeo.gif" alt="National Geographic"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/vodafone.gif" alt="vodafone"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/BigMusic.gif" alt="BigMusic"/>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
 </div>
{% endblock %} 
