{% extends 'ppd/user_home.html' %}
{% load ppd_tags %}
{%load cc_tags%}
{%load web_tags%}
{% block user_content %}
<style type="text/css">
	table {
    width: 100%;
}
</style>
<div class="padding_top10">
    {%comment%}  <div class="breadcrumb"><a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; <a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; Breadcrumb</div>{%endcomment%}
  <div class="content_head">
    <div class="header rc5">
      <h1>{{client_display_name|title}} - Reports</h1>
    </div>
    <div class="clear bordergray"></div>
  </div>
  {% daterange "Client Report" search_trend from_date to_date request "" client_display_name%}
  <div class="clear">&nbsp;</div>
  <div>
    <table class="clear tbl_graph">
      <tr>
        <td><img style="border:1px solid #ccc;" src="http://chart.apis.google.com/chart?&chco=FF1B11E2,224499&chxt=y,y,x&chxl=1:|Volume|2:|Booked|Confirmed&chxp=1,50|2,20,82&chs=450x325&cht=bvg&chd=t:{{data.count|join:'|'}}&chtt=Total+Orders+by+Volume&chts=000000,16&chm=N,000000,0,-1,11|N,000000,1,-1,11|h,000000,0,0:0,1&chds=0,{{max_data.max_count}}&chxr=0,0,{{max_data.max_count}}&chxs=0,000000,11.5,0,lt,000000|2,000000,11.5,0,lt,000000|1,000000,11.5,0,l,000000&chbh=30,50,23" width="450" height="325"/> </td>
        <td><img style="border:1px solid #ccc;" src="http://chart.apis.google.com/chart?&chco=FF1B11E2,224499&chxt=y,y,x&chxl=1:|{{label}}|2:|Booked|Confirmed&chxp=1,50|2,20,82&chs=450x325&cht=bvg&chd=t:{{data.values|join:'|'}}&chtt=Total+Orders+by+Value&chts=000000,16&chm=N,000000,0,-1,11|N,000000,1,-1,11|h,000000,0,0:0,1&chds=0,{{max_data.max_values}}&chxr=0,0,{{max_data.max_values}}&chxs=0,000000,11.5,0,lt,000000|2,000000,11.5,0,lt,000000|1,000000,11.5,0,l,000000&chbh=30,50,23" width="450" height="325" align="right"/> </td>
      </tr>
    </table>
    <table class="clear tbl_graph mart10">
      <tr>
        <td colspan="2"><div id="daily_volume" style="border:1px solid #ccc;"></div></td>
      </tr>
    </table>
    <table class="clear tbl_graph mart10">
      <tr>
        <td colspan="2"><div id="daily_value" style="border:1px solid #ccc;"></div></td>
      </tr>
    </table>
  </div>
</div>
<br/>
<br/>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_from').datepicker({dateFormat: 'dd M, yy', maxDate:'0'});

    $('#id_to').datepicker({dateFormat: 'dd M, yy', maxDate:'0'});
});
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart(){
         {{jscode|safe}}
         var chart = new google.visualization.AreaChart(document.getElementById('daily_volume'));
         chart.draw(jscode_data, {width: 900, height: 325, title: 'Daily Orders by Volume',lineWidth: 3,pointSize: 5,colors:['#670767','#004411']});
    }
</script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart(){
         {{jscode1|safe}}
         var chart = new google.visualization.AreaChart(document.getElementById('daily_value'));
         chart.draw(jscode_data1, {width: 900, height: 325, title: 'Daily Orders by Value',lineWidth: 3,pointSize: 5,colors:['#670767','#004411']});
    }
</script>
{%endblock%} 
