{%load cc_tags%}
{%load web_tags%}
<div class="item"> 
{% if not products %}
    NO PRODUCTS
{% else %}
{% load pagination_tags %}
{% for product in products %}
    <div id="{{ forloop.counter }}" class="product_grid_item nobb">
        <div class="thumb"> <a href="http://{{product.product.category.client.clientdomain_name}}/{{product.product.url}}" target="_blank"> {% if product.product_images.0.thumbnail_image.url %}<img src="{{product.product_images.0.get_display_url}}" title="{{product.product.title}}" height="75" width="75"/>{%else%}<img src="{{MEDIA_URL}}images/noimage.png" width="75" height="75" alt="" title="No image available for {{product.product.title}}" href="http://www.{{product.product.category.client.clientdomain_name}}/{{product.product.url}}" target="_blank"/>{% endif %}</a> </div>
    <div class="summary">
      <div class="pricing">
        <div class="left"> <span class="fmaroon f14 la"><span class="WebRupee">Rs </span><strong> {{product.rate_chart.offer_price|money}}</strong></span>                      {% if product.rate_chart.list_price > product.rate_chart.offer_price %}
            <span class="f11 fs fdgray"><span class="f11 fs fdgray"><span class="WebRupee">Rs </span>{{product.rate_chart.list_price|money}}</span>
        {% endif %} 
        </div>
        <div class="clear">
        <h3 class="la" style="font-weight:normal !important"><a title="{{product.product.title}}" href="http://www.{{product.product.category.client.clientdomain_name}}/{{product.product.url}}" target="_blank">{{product.product.title|truncate:40}}</a></h3>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="clear left mart10">
      {% include "ppd/pagination.html"%}
  </div>
{%endif%}
</div>
