{% extends 'ppd/user_home.html' %}
{% load cc_tags %}
{% load web_tags %}
{% load ppd_tags %}
{% block user_content %}
<div class="padding_top10">
	{%comment%} <div class="breadcrumb"><a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; <a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; Breadcrumb</div>{%endcomment%}
	<div class="content_head">
		<div class="header rc5">
		  <h1>{{request.client.client.name|title}} - Inventory Dashboard</h1>
		</div>
		<div class="clear bordergray"></div>
	</div>
	<div class="inner-content">
		<ul>
			<li class="f12"><a href="{{request.path}}all_inventory/"><span class="left cursorp">View Current Inventory</span><div class="clear"></div></a></li>
			<li class="f12"><a href="{{request.path}}inventory_bulk_upload/"><span class="left cursorp">Bulk Upload</span><div class="clear"></div></a></li>
		</ul>
	</div>
</div>

{%endblock%} 
