<div id="user_content">
{% extends 'ppd/user_home.html' %}
{%load cc_tags%}
{%load web_tags%}
{%block user_content%}

  <div class="padding_top10"> 
		<table align="center" width="940" cellspacing="0" cellpadding="0" border="0">
		  <tbody>
			<tr>
				<td>
					<table width="100%" cellspacing="0" cellpadding="0" border="0" class="home_main_tbl">
						<tbody>
							<tr align="left" valign="top">
								<td width="57%"><img align="left" width="480" height="265" src="/media/rms/images/sellers_home.jpg" alt=""></td>
								<td width="43%">
									<div class="hom_div_main">
										<div class="f24 fb">Future Bazaar Sellers Hub</div>
										<div class="f20 fb fdgray">Power your digital store</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		  </tbody>
		</table>
	<div class="clear"></div>
  </div>
{% endblock %} 
