{% extends 'web/ppd_base.html' %}
{% block content %}
<div class="inner-content">
  <h1 class="head1">Plans & Pricing</h1><br />
<br />

  <table class="pricing">
  <colgroup>
  <col class="col1" />
  <col class="col2"/>
  <col class="col3"/>
  <col class="col4"/>
  </colgroup>
    <tbody>
      <tr>
       <td></td>
        <td><div class="pricing_heading">Basic</div> </td>
        <td class="td_private"><div class="pricing_heading">Premium</div> </td>
        <td><div class="pricing_heading">Private</div> </td>       
      </tr>
          
       <tr>
       <td class="features">Price</td>
        <td><div class="price">Rs. 50,000</div> </td>
        <td  class="td_private"><div class="price">Rs. 1,00,000</div> </td>
        <td><div class="price">Rs. 2,00,000</div> </td>       
      </tr>  
         
       <tr>
       <td class="features"><div>Commission</div> </td>
        <td><div>Retail Margin</div> </td>
        <td class="td_private"><div>Retail Margin</div> </td>
        <td><div>Retail Margin + Distributor Margin</div> </td>       
      </tr>   
        
       <tr>
       <td class="features"><div>Customer Support</div> </td>
        <td><div>Phone Sales Support <br />
          Between 8 am - 10 pm,  365 Days<br />
        </div> </td>
        <td  class="td_private"><div>Phone Sales Support <br />
          Between 8 am - 10 pm,  365 Days</div> </td>
        <td><div>Dedicated Resource Phone Sales Support <br />
          Between 8 am - 10 pm,  365 Days </div> </td>       
      </tr>  
       <tr>
       <td class="features"><div>Payments accepted</div> </td>
        <td><div>Payment Collection By Online & Offline Modes</div> </td>
        <td  class="td_private"><div>Payment Collection By Online & Offline Modes</div> </td>
        <td><div>Payment Collection By Online & Offline Modes and Same Day Transfer</div> </td>       
      </tr>
       <tr>
       <td class="features"><div>Basic</div> </td>
        <td><div>No Logistics Support</div> </td>
        <td  class="td_private"><div>Logistics Support</div> </td>
        <td><div>Logistics Support</div> </td>       
      </tr>
       <tr>
       <td class="features"><div>Online Store (Hosted Service)</div> </td>
        <td><div>No Microsite</div> </td>
        <td  class="td_private"><div>Microsite on <a class="links" href="http://www.chaupaati.in" title="chaupaati.in" target="_blank">www.chaupaati.in</a></div> </td>
        <td><div>Microsite on Seller's Domain</div> </td>       
      </tr>  
        <tr>
       <td class="bbnone"></td>
        <td class="bbnone"><a href="#" class="button orange">Sign Up</a></td>
        <td class="bbnone"><a href="#" class="button orange">Sign Up</a></td>
          <td class="bbnone"><a href="#" class="button orange">Sign Up</a></td>
      </tr>  
    
       
    </tbody>
  </table>

</div>
{% endblock %} 
