<div class="payouts_details">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td width="200px"><b>Month, Year</b></td>
            <td width="100px">{{month}}, {{year}}</td>
        </tr>
        <tr class="row1">
            <td><b>Seller: </b></td>
            <td>{{seller}}</td>
        </tr>
        <tr class="row1">
            <td><b>Total Orders:</b></td>
            <td>{{total_orders}}</td>
        </tr>
        <tr>
            <td><b>Total Offer Price</b><td>
            <td>{{seller_payout.sale_price}}</td>
        </tr>
        <tr>
            <td><b>Total Shipping Charges</b><td>
            <td>{{seller_payout.shipping_charges}}</td>
        </tr>
        <tr>
            <td><b>Total Gateway Charges</b><td>
            <td>{{seller_payout.gateway_charges}}</td>
        </tr>
        <tr>
            <td><b>Total Chaupaati Discount</b><td>
            <td>{{seller_payout.chaupaati_discount}}</td>
        </tr>
        <tr>
            <td><b>Total Seller Discount</b><td>
            <td>{{seller_payout.seller_discount}}</td>
        </tr>
        <tr>
            <td><b>Total Collected Amount</b><td>
            <td>{{seller_payout.collected_amount}}</td>
        </tr>
        <tr>
            <td><b>Total Applicable Amount</b><td>
            <td>{{seller_payout.applicable_amount}}</td>
        </tr>
        <tr>
            <td><b>Total Commission Amount</b><td>
            <td>{{seller_payout.commission_amount}}</td>
        </tr>
        <tr>
            <td><b>Total Gross Payout</b><td>
            <td>{{seller_payout.gross_payout}}</td>
        </tr>
        <tr>
            <td><b>Total Commission Invoice Amount</b><td>
            <td>{{seller_payout.commission_invoice_amount}}</td>
        </tr>
        <tr>
            <td><b>Total Net Payout</b><td>
            <td><b>{{seller_payout.net_payout}}</b></td>
        </tr>
    </table>
</div>
