{% extends 'ppd/user_home.html' %}
{%load web_tags%}
{% block user_content %}
<div class="padding_top10">
    {%comment%}<div class="breadcrumb"><a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; <a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; Breadcrumb</div>{%endcomment%}
  <div class="content_head">
    <div class="header rc5">
      <h1>{{client_display_name|title}} - Products</h1>
    </div>
    <div class="clear bordergray"></div>
  </div>
  <div class="store_grid"></div>
  <div id="popular_products"> {% include "ppd/display_products.html" %} </div>
  <div class="clear"></div>
  </div>
{%endblock%} 	
