{% extends 'ppd/user_home.html' %}
{% load cc_tags %}
{% load web_tags %}
{% load ppd_tags %}
{% block user_content %}
{% load pagination_tags %}
{%with p=promotions.promotions%}
{% autopaginate p 5 %}
<style type="text/css">
	table {
		margin-bottom: 1.4em;
		width: 100%;
	}
	th, td, caption {
		padding: 4px 10px 4px 5px;
	}
</style>
<div class="padding_top10">
{%comment%}
<div class="breadcrumb"><a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; <a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; Breadcrumb</div>
{%endcomment%}
<div class="content_head">
  <div class="header rc5">
    <h1>{{client_display_name|title}} - Promotions</h1>
  </div>
  <div class="clear bordergray"></div>
</div>
  <div class="right">
	<a href="/create_new_promotion/{{client_name}}/{{seller_name}}/" class="uiButton fblack" title="Create New Promotion">+ Create Promotion</a>
  </div>
  <div class="clear"></div>

<form name="promotion_list_form" id="promotion_list_form" action="/save_promotion_list/{{client_name}}/{{seller_name}}/{{fromindex}}/" method="POST">
<table cellspacing="0" cellpadding="0" border="0" class="tbl_response mart10 marb10">
	<tr>
		<th width="200">Name</th>
		<th width="120">Start</th>
		<th width="120">End</th>
		<th width="150">Promotion Type</th>
		<th width="100">Applies on</th>
		<th width="90">Discount Type</th>
        <th width="90">Discount Value</th>
		<th width="130">Coupons</th>
		<th width="80">Status</th>
	</tr>

    {% for i in p %}
	<tr>
		<td valign="top" class="f11 fdblack la"><a href={{i.url}} >{{i.promotionName}}</a></td>
		<td valign="top" class="f11 fdblack ca">{{i.startDate}}</td>
		<td valign="top" class="f11 fdblack ca">{{i.endDate}}</td>
		<td valign="top" class="f11 fdblack ca">{{i.promotionType}}</td>
		<td valign="top" class="f11 fdblack ca">{{i.appliesOn}}</td>
        <td valign="top" class="f11 fdblack ca">{{i.discountType}}</td>
        <td valign="top" class="f11 fdblack ca">{{i.discountValue}}</td>

        {% if i.len <= 1 %}
        <td valign="top" class="ca">{{i.firstcoupon}}</td>
        {% else %}
		<td valign="top" class="ca"><a href="/show_coupons/{{client_name}}/{{seller_name}}/{{i.promotionId}}/" >coupons list</a></td>
        {% endif %}
        
		<td valign="top" class="ca">
			<div style="margin:0 auto; width:49px;" class="onoff">
                {% if i.active %}
				<div class="leftrc5 btn  bgreen on" name={{i.buttonname}} id={{i.onbutton}}>ON</div>
				<div class="rightrc5 btn  bgray off" name={{i.buttonname}} id={{i.onnotbutton}}>OFF</div>
                {% else %}
                <div class="leftrc5 btn  bgray on" name={{i.buttonname}} id={{i.onbutton}}>ON</div>
                <div class="rightrc5 btn  bred off" name={{i.buttonname}} id={{i.onnotbutton}}>OFF</div>
                {% endif%}
                <input type="hidden" value={{i.active}} name={{i.buttonname}} id={{i.buttonname}} />
                <input type="hidden" value={{i.buttonname}} name={{i.index}} id="" />
				<div class="clear"></div>
			</div>
		</td>
	</tr>
    {% endfor %}
</table>
{% paginate %}
{%endwith%}
<!--<div>
	<div class="left w50"><a href="/promotions_list/{{client_name}}/{{seller_name}}/{{fromindex_prev}}/">prev</a></div>
    <div class="left"><a href="/promotions_list/{{client_name}}/{{seller_name}}/{{fromindex_next}}/">next</a></div>
</div>-->

</form>

</div>
<script type="text/javascript">
    function set_order_taking_option(data){
        var onSuccess=function(){
        };
        var onError=function(){
        };
         $.ajax({
            url : '/seller/order_taking_option',
            success : onSuccess,
            error : onError,
            data : data,
            type : "POST"
        });       
    }

    $(".book_order").change(function(){
        var id = this.id;
        var opid = this.getAttribute("name");
        var data = 'opid='+opid+'&order_taking_option=book';
        set_order_taking_option(data);
    });

    $(".book_confirm_order").change(function(){
        var id = this.id;
        var opid = this.getAttribute("name");
        var data = 'opid='+opid+'&order_taking_option=book_and_confirm';
        set_order_taking_option(data)
    });


    $(".auth_on").click(function(){
        var cd_id = this.getAttribute("cd_id");
        var data = 'cd_id='+cd_id+'&second_factor_auth=On';
        $('#'+cd_id+'_on').removeClass("auth_inactive");
        $('#'+cd_id+'_on').removeClass("link");
        $('#'+cd_id+'_on').addClass("auth_active");
        $('#'+cd_id+'_off').removeClass("auth_active");
        $('#'+cd_id+'_off').addClass("auth_inactive");
        $('#'+cd_id+'_off').addClass("link");
        var onSuccess=function(){
        };
        var onError=function(){
        };

        $.ajax({
            url : '/seller/second_factor_auth',
            success : onSuccess,
            error : onError,
            data : data,
            type : "POST"
        });
    });

    $(".auth_off").click(function(){
        var cd_id = this.getAttribute("cd_id");
        var data = 'cd_id='+cd_id+'&second_factor_auth=Off';
        $('#'+cd_id+'_off').removeClass("auth_inactive");
        $('#'+cd_id+'_off').removeClass("link");
        $('#'+cd_id+'_off').addClass("auth_active");
        $('#'+cd_id+'_on').removeClass("auth_active");
        $('#'+cd_id+'_on').addClass("auth_inactive");
        $('#'+cd_id+'_on').addClass("link");
        var onSuccess=function(){
        };
        var onError=function(){
        };

        $.ajax({
            url : '/seller/second_factor_auth',
            success : onSuccess,
            error : onError,
            data : data,
            type : "POST"
        });       
    });

    $( ".on" ).click(function() {
        var on_id = this.id;
        var divname = document.getElementById(on_id);
        var name = divname.getAttribute("name");
        var off_id = name + 'onnot';
        var current_seller_id = $("#current_seller_id").val();
        $('#' + on_id).addClass( "bgreen");
        $('#' + on_id).removeClass( "bgray");
        $('#' + off_id).removeClass( "bred");
        $('#' + off_id).addClass( "bgray");
        $('#'+name+'order_taking_div').css("display","block");
        
        $('#'+name).val('1');
        

        if ($('#' + on_id).hasClass("option_is_grouped")){
            var option_grouped = "1";                                                                                                                                           }
        else{
            var option_grouped = "0";
        }
        var onSuccess=function(){

        };
        var onError=function(){

        };
        var data = 'option=' + name + '&on_or_off=on&current_seller_id=' + current_seller_id + '&option_grouped=' + option_grouped;
        $.ajax({
            url : '/seller/payment_option_on_or_off/',
            success : onSuccess,
            error : onError,
            data : data,
            type : "POST"
        });

        document.promotion_list_form.submit();
    });

    $( ".off").click(function() {
        var off_id = this.id;
        var divname = document.getElementById(off_id);
        var name = divname.getAttribute("name");
        var on_id = name + "on";
        var current_seller_id = $("#current_seller_id").val();
        $("#" + on_id).addClass( "bgray");
        $("#" + on_id).removeClass( "bgreen");
        $("#" + off_id).addClass( "bred");
        $("#" + off_id).removeClass( "bgray");
    
        $('#'+name).val('0');
        $('#'+name+'order_taking_div').css("display","none");
        if ($('#' + on_id).hasClass("option_is_grouped"))
        {
            var option_grouped = "1";
        }
        else
        {
            var option_grouped = "0";
        }
    
        var onSuccess=function(){
        };
        var onError=function(){
        };
        var data='option=' + name + '&on_or_off=off&current_seller_id=' + current_seller_id+ '&option_grouped=' + option_grouped;
        $.ajax({
            url : '/seller/payment_option_on_or_off/',
            success : onSuccess,
            error : onError,
            data : data,
            type : "POST"
        });
        document.promotion_list_form.submit();
    });

    $( "#off").click(function() {
        $( "#off" ).addClass( "bred") ;
        $( "#off" ).removeClass( "bgray");
        $( "#on" ).removeClass( "bgreen");
        $( "#on" ).addClass( "bgray");
        return false;
    });

</script>

{% endblock %}
