{% extends 'ppd/user_home.html' %}
{% load ppd_tags %}
{%load cc_tags%}
{%load web_tags%}
{% block user_content %}
<div class="padding_top10">
<div class="breadcrumb"><a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; <a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; Breadcrumb</div>
<div class="content_head">
  <div class="header rc5">
    <h1>{{client_display_name}}</h1>
  </div>
  <div class="clear bordergray"></div>
</div>
{% daterange title search_trend from_date to_date request "prices" client_display_name%}
<div class="mar10" style="width:920px; overflow:scroll; padding:10px;"><br/> {%if orderitems.object_list%}
  {%include "ppd/show_excel_link.html" %}
  <table cellspacing="0" cellpadding="0" class="orderTable" style="width:1800px;">
    <tr>
      <th width="90" class="ca">Order No</th>
      <th width="100" class="la">Article Id</th>
      <th width="100">SKU</th>
      <th width="70">Product Id</th>
      <th width="50" class="la">Quantity</th>
      <th width="100">Item Price</th>
      <th width="100">Total Amount</th>
      <th width="100">Mode of Payment</th>
      <th width="100">Order Booking Date</th>
      <th width="100">Booking Agent </th>
      <th width="100">Order Confirmation Date</th>
      <th width="100">Confirming Agent</th>
    </tr>
    {%for order in orderitems.object_list%}
    <tr valign="top">
      <td class="padl20 ca">{{order.order}}</a></td>
      <!-- <td>{{order.orderConfirmationDate|date:"M d Y"}}</td> -->
      <td>{{order.seller_rate_chart.article_id}}</td>
      <td>{{order.seller_rate_chart.sku}}</td>
      <td>{{order.seller_rate_chart.product.id}}</td>
      <td class="ca">{{order.qty}}</td>
      <td><span class="WebRupee">Rs.</span>{{order.sale_price|money}}</td>
      <td><span class="WebRupee">Rs.</span>{{order.order.payable_amount|money}}</td>
      <td>{{order.order.payment_mode}}</td>
      <td>{{order.order.timestamp|date}}</td>
      <td>{{order.order.booking_agent.name}}</td>
      <td>{{order.order.confirming_date|date}}</td>
      <td>{{order.order.confirming_agent.name}}</td>
    </tr>
    {%endfor%}
  </table>
  <div class="clear"></div>
  {%if pagination.enable_prev or pagination.enable_next%}
  <div class="pagination mart20"> {% if pagination.enable_prev %} <a href="{{pagination.base_url}}page={{pagination.prev_page}}">Prev</a> {% else %} <a class="gray_link">Prev</a> {% endif %}
    {% for page in pagination.first_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    {% if pagination.show_sep1 %} <span> ...</span> {% endif %}
    {% for page in pagination.prev_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    <div>{{pagination.cur_page}}</div>
    {% for page in pagination.next_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    {% if pagination.show_sep2 %} <span> ...</span> {% endif %}
    {% for page in pagination.last_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    {% if pagination.enable_next %} <a href="{{pagination.base_url}}page={{pagination.next_page}}">Next</a> {% else %} <a class="gray_link">Next</a> {% endif %} </div>
  {%endif%}
  {%else%}
  <tr>
    <td colspan="5" class="padl20 fred">No order found.</td>
  </tr>
  </table>
  {%endif%}
  <div class="clear"></div>
</div>
</div>
<br/>
<br/>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript">
    $('#id_source').change(function(){
        if($('#id_source').val()){
            var data = 'client=' + $('#id_source').val();
            var action = '/reports/get_seller_from_client/';
            var onSuccess = function(response) {
                $('#drop_seller').html(response);
            };
            var onError = function() {
            };
    
            $.ajax({ url:action,
                   data : data,
                   success : onSuccess,
                   error : onError,
                   type : 'POST'
                   });
            return false;
        }
        else{
        }
    });

</script>
{%endblock%} 