{% extends 'web/ppd_base.html' %}
{%load cc_tags%}
<style type="text/css">
	#client_seller_div{height:35px;float:left; overflow:hidden}
	#client_seller_div select{padding-top:1px}
	#user_sellers{width:155px}
	select{margin:0px}
</style>  
<div id="user_content">
{%block content%} 
	<div class="pad w960 over-hidden">
		<input type="hidden" id="current_seller_id" value="{{current_seller_id}}">
		<div class="inner-content">
			{% block user_content %}
			{% endblock %}
			{% block user_script %}
			{% endblock %}
		</div>
		<div class="clear"></div>
    </div>
{% block page_load %}
<script type="text/javascript">
	var img_cache = {}
    var num_cached = 0;
    var animate = false;
    var idx = 0;
    var hrefs = [];
	var num_to_cache = $('#links a').length;
    var wrapper_div = $('#slideshow');

    function selectClientOption(id, acc_section, acc_section_type)
    {
       var client_id = id; 
       var onSuccess = function(responseText){
           if(responseText)
           {
               $("#client_seller_div").html(responseText);
           }

       };
       var onError = function(){
           alert("Entered onError");
       };
       var url = "/a/sellers_from_clients/";
       var data = "client_id=" + client_id + "&acc_section=" + acc_section + "&acc_section_type=" + acc_section_type;
       $.ajax({
           url: url,
           data: data,
           success: onSuccess,
           error: onError,
           type: "GET"
       });
    }

    $('#links a').each(function() {
        var img = new Image();
        img.src = this.href;
        hrefs.push(this);
        var img_href = this.href;
        img.onload = function() {
            img_cache[img_href] = img;
            num_cached = num_cached + 1;
            if (num_cached == num_to_cache ) {
                $('#links')[0].style.display = 'block';
                animate = true;
                play();
            }
        };
    });

    function select(link_elem) {
        wrapper_div.animate({opacity:0.4}, 10, function() {
            $('#slide_container')[0].src = img_cache[link_elem.href].src;
            $('#banner')[0].innerHTML = link_elem.getAttribute('atitle') || link_elem.title;
            $('#links a').removeClass('selected');
            $(link_elem).addClass('selected');
            wrapper_div.animate({opacity:1.0}, 1500, function() {});
        });
    }

    $('#links a').click(function() {
            animate = false;
            select(this);
	        return false;
    });


    function play() {
        if(animate === false) {
            return;
        }
        select(hrefs[idx]);
        idx = idx + 1;
        if( idx == num_to_cache)
            idx = 0;
        setTimeout(play, 4000); 
    };
</script>
  {% endblock %} 
  {% endblock %} </div>
