{% extends 'support/base.html' %}
{% block content %}
{% load rms_tags %}
{% load cc_tags %}
<style>
dl {
    margin: 0 0 1em !important;
}
dl dt {
    font-weight: normal !important;
}
ul, ol {
    padding-left: 0px !important;
}
label {
    font-weight:normal !important;
}
input[type=checkbox]{width:15px;margin-right:5px;height:15px;vertical-align:-3px;}
</style>
{% if form %}
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="{% cc_url request "informationflow/" %}">Information Flows</a>&nbsp;&raquo;&nbsp; <a href='{% cc_url request "informationflow/" %}{{flow.id}}/'>{{flow.name|title}}</a>&nbsp;&raquo;&nbsp; Edit</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1>Edit</h1>
    </div>
    <div class="clear bordergray"></div>
  </div>
  <div class="main">
  {% if form.non_field_errors %}
  <div class="error">{{form.non_field_errors}}</div>
  {%endif%}
  <form method='post'>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.name.label}}</div>
        <div class='col2 left'>{{form.name}}</div>
    </div>
    <div>
        {%if form.name.errors %}
        <div class="error w440 left">
    		{{form.name.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.state.label}}</div>
        <div class='col2 left'>{{form.state}}</div>
    </div>
    <div>
        {%if form.state.errors %}
        <div class="error w440 left">
    		{{form.state.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.substate.label}}</div>
        <div class='col2 left'>{{form.substate}}</div>
    </div>
    <div>
        {%if form.substate.errors %}
        <div class="error w440 left">
    		{{form.substate.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.acting_team.label}}</div>
        <div class='col2 left'>{{form.acting_team}}</div>
    </div>
    <div>
        {%if form.acting_team.errors %}
        <div class="error w440 left">
    		{{form.acting_team.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.receipients.label}}</div>
        <div class='left'>
            <ul>
                {% for team in form.receipients|checkboxiterator %}
                <li class='left w125'>{{team}}</li>
                {% endfor %}
                <li style='width:1px;line-height:0px;'>&nbsp;</li>
            </ul>
        </div>
    </div>
    <div>
        {%if form.receipients.errors %}
        <div class="error w440 left">
    		{{form.receipients.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='clear mart15'>
        <input type="submit" name="submit" value="Save" class="uiButton"/>
    </div>
  </form><br />

<script type="text/javascript">
var substate_list = new Array({{substate_list|length}});
{% for substates in substate_list %}
substate_list[{{forloop.counter0}}] = new Array({{substates|length}});
{% for val,name in substates %}
substate_list[{{forloop.parentloop.counter0}}][{{forloop.counter0}}] = ["{{name}}",{{val}}];
{% endfor %}
{% endfor %}
$('#id_state').change(function() {
    var index = this.selectedIndex;
    var newlist = $('#id_substate');
    newlist.get(0).options.length = 0;
    var substates = substate_list[index];
    for(i=0; i<substates.length; i++) {
        newlist.get(0).options[i] = new Option(substates[i][0],substates[i][1]);
    }
});
</script>

  </div>
</div>
{% else %}
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="{% cc_url request informationflow/" %}">Information Flows</a>&nbsp;&raquo;&nbsp; {{flow.name|title}}</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1>{{flow.name|title}}</h1>
    </div>
        <div class="right content_head">
			<a href="edit" role="button" class="left uiButton" style="color:#333; text-decoration:none;"><span class="uiButtonText">+ Edit Information Flow</span></a>
		</div>
    <div class="clear bordergray"></div>
  </div>
  <div class="main">
  <div class='w125 f11 flgray left'>State</div>
  <div class='w330 left'>{{flow.state.name|title}}</div>
  <div class='clear'></div>
  <div class='w125 f11 flgray left'>Substate</div>
  <div class='w330 left'>{{flow.substate.name|title}}</div>
  <div class='clear'></div>
  <div class='w125 f11 flgray left'>Acting Team</div>
  <div class='w330 left'>{{flow.acting_team.name|title}}</div>
  <div class='clear'></div>
  <div class='w125 f11 flgray left'>Receipients</div>
  <div class='left'>
  {% if flow.receipients.all %}
  <ul>
    {% for team in flow.receipients.all %}
    <li class='left w125'>{{team.name|title}}</li>
    {% endfor %}
    <li style='line-height:0px;width:1px;'>&nbsp;</li>
  </ul>
  {% else %}
  <p>None</p>
  {% endif %}
  </div>
  <div class='clear'></div>
  </div>
</div>
{% endif %}
{% endblock %}
