{% extends 'support/base.html' %}
{% block content %}
{% load web_tags %}
{% load cc_tags %}
<style>
dl {
    margin: 0 0 1em !important;
}
dl dt {
    font-weight: normal !important;
}
ul, ol {
    padding-left: 0px !important;
}
label {
    font-weight:normal !important;
}
#id_tat input[name='tat_days']{width:50px; margin:0 17px 0 5px;}
#id_tat input[name='tat_hours']{width:50px; margin-left:5px;}
</style>
{% if form %}
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="{% cc_url request "substate/" %}">Substates</a>&nbsp;&raquo;&nbsp; <a href='{% cc_url request "substate/" %}{{substate.id}}/'>{{substate.name|title}}</a>&nbsp;&raquo;&nbsp; Edit</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1>Edit</h1>
    </div>
    <div class="clear bordergray"></div>
  </div>
  <div class="main">
  {% if form.non_field_errors %}
  <div class="error">{{form.non_field_errors}}</div>
  {%endif%}
  <form method='post'>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.name.label}}</div>
        <div class='col2 left'>{{form.name}}</div>
    </div>
    <div>
        {%if form.name.errors %}
        <div class="error w440 left">
    		{{form.name.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.state.label}}</div>
        <div class='col2 left'>{{form.state}}</div>
    </div>
    <div>
        {%if form.state.errors %}
        <div class="error w440 left">
    		{{form.state.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.acting_team.label}}</div>
        <div class='col2 left'>{{form.acting_team}}</div>
    </div>
    <div>
        {%if form.acting_team.errors %}
        <div class="error w440 left">
    		{{form.acting_team.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='row clear'>
        <div class='col1 f11 flgray left'>{{form.tat.label}}</div>
        <div class='col2 left'>{{form.tat}}</div>
    </div>
    <div>
        {%if form.tat.errors %}
        <div class="error w440 left">
    		{{form.tat.errors}}
    	</div>
        {%endif%}
    </div>
    <div class='clear mart15'>
        <input type="submit" name="submit" value="Save" class="uiButton"/>
    </div>
  </form><br />
  </div>
</div>
{% else %}
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="{% cc_url request "substate/" %}">Substates</a>&nbsp;&raquo;&nbsp; {{substate.name|title}}</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1>{{substate.name|title}}</h1>
    </div>
        <div class="right content_head">
			<a href="edit" role="button" class="left uiButton" style="color:#333; text-decoration:none;"><span class="uiButtonText">+ Edit Substate</span></a>
		</div>
    <div class="clear bordergray"></div>
  </div>
  <div class="main">
  <div class='w125 f11 flgray left'>Entity</div>
  <div class='w330 left'>{{substate.entity.name|title}}</div>
  <div class='clear'></div>
  <div class='w125 f11 flgray left'>State</div>
  <div class='w330 left'>{{substate.state.name|title}}</div>
  <div class='clear'></div>
  <div class='w125 f11 flgray left'>Acting Team</div>
  <div class='w330 left'>{{substate.acting_team.name|title}}</div>
  <div class='clear'></div>
  <div class='w125 f11 flgray left'>Turn Around Time</div>
  <div class='w330 left'>{%timedelta substate.tat%}</div>
  <div class='clear'></div>
  </div>
</div>
{% endif %}
{% endblock %}
