{% extends 'support/base.html' %}
{% block content %}
{% load web_tags %}
<style>
dl {
    margin: 0 0 1em !important;
}
dl dt {
    font-weight: normal !important;
}
ul, ol {
    padding-left: 0px !important;
}
label {
    font-weight:normal !important;
}
</style>
<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; Substates</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1>Substates</h1>
    </div>
        <div class="right content_head">
			<a id='add' role="button" class="left uiButton" style="color:#333; text-decoration:none;"><span class="uiButtonText">+ Add Substate</span></a>
		</div>
	{% if not substate_list %}
    <div class="clear bordergray"></div>
    {% endif %}
  </div>
  <div class="main clear">
    {% if substate_list %}
	<table class="tbl_response">
		<thead>
		<tr>
			<th>Name</th>
			<th>Entity</th>
			<th>State</th>
			<th>Acting Team</th>
			<th>Turn Around Time</th>
		</tr>
		</thead>
		<tbody>
		{% for substate in substate_list %}
		<tr>
			<td class="w200"><a href="{{substate.id}}">{{substate.name|title}}</a></td>
			<td>{{substate.entity.name|title}}</td>
			<td>{{substate.state.name|title}}</td>
			<td>{{substate.acting_team.name|title}}</td>
			<td>{%timedelta substate.tat%}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table><br />
    {% else %}
    <p>No substates are present in the system</p>
    {% endif %}
  </div>
</div>
<div id='add_substate'></div>
{% endblock %}

{% block script_footer %}
$('#add').click(function() {
    var width = 270;
    $.get('/substate/add/', function(data) {
        $('#add_substate').html(data);
        var dialog = $('#add_substate').dialog({modal:true, title:'Add Substate', 
            width:width, resizable:false});
    
    var onSuccess = function(data, textStatus, xhr) {
		$('#add_substate').html(data);
        $('#addsubstate').click(onSubmit);
        if (xhr.status == 200)
            setInterval('location.reload();', 2000);
	};
	var onError = function(xhr, textStatus, error) {
		$('#add_substate').html(xhr.responseText);
        $('#addsubstate').click(onSubmit);
	};
	var onSubmit = function() {
        var data = $('#form').serialize();
        $.ajax({ url:'/substate/add/',
			data : data,
			success : onSuccess,
			error : onError,
			type : 'POST'
			});
        return false; 
	};
    $('#addsubstate').click(onSubmit);
    });
});
{% endblock %}
