{%extends "web/base.html"%}
{%load web_tags%}
{%load cc_tags%}
{% block page_desc %}New categories every week with a range of products which you could select from with the most attractive prices you could get – it’s a challenge! Battleground is like walking into a specialty category store offering a wide assortment, which offers you the best prices in the market.{% endblock %}

{%block content%}
<div class="clear"></div>
<div id="breadcrumb" class="padt10"></div>
<div id="container-battle" class="battle_page">
  <div class="battle_header">
    <a href="http://{{request.client.domain}}{{navigation_url}}" title="Battleground Deals"><div class="battle_logo"></div></a>
    <div class="battle_timer">
      <div class="day"></div>
      <div class="hr"></div>
      <div class="min"></div>
      <div class="sec"></div>
    </div>
    <div class="battle_share"> <a href="http://www.facebook.com/sharer.php?u=http://{{request.client.domain}}{{navigation_url}}?t=Battleground Deals" target="_blank" class="fb" onclick="return fbs_click('http://{{request.client.domain}}{{navigation_url}}', 'Battleground Deals')" rel="nofollow"/></a> <a href="http://twitter.com/share" target="_blank" class="tw" onclick="return twit_click('http://{{request.client.domain}}{{navigation_url}}','','')" rel="nofollow"/></a> <a href="mailto:?subject=Share%20Deal&body=http://{{request.client.domain}}{{navigation_url}}"class="mail"></a> </div>
    <div class="clear"></div>
  </div>
  <div class="battle_top_nav">
    <div class="left">
      <ul class="battle_menu">
        {%for tab in navigation_filters%}
        <li class="item"> <a href="http://{{request.client.domain}}{{navigation_url}}all-offers/">{{tab.name}}{%if tab.name == "ALL OFFERS"%} ({{total_results}}){%endif%}</a>
          {% if tab.tags %}
            <ul class="battle_menu_sub">
                {%for tag in tab.tags%}
                <li> <a href="http://{{request.client.domain}}{{navigation_url}}{{tag.tag.tag}}/">{{tag.tag.display_name}} ({{tag.tag_count}})</a> </li>
                {%endfor%}
            </ul>
         {% endif %}
        </li>
        {%endfor%}
      </ul>
      <div class="clear"></div>
    </div>
  </div>
    <div class="f18 fb mar10  padl10" style="color:#fff;">Offer Types:</div>
  <div class="battle_greed_view">
    <ul class="greed">
        {%for item in collection_info%}
            <li>
            <div class="category_image ca padt5">
            <div class="category_title"><a class="tdnone" href="http://{{request.client.domain}}{{navigation_url}}{{item.name.tag}}/">{{item.name.display_name}}</a></div>
             <a href="http://{{request.client.domain}}{{navigation_url}}{{item.name.tag}}/">
              <img width="208" height="208" src="{{item.product.battle_image_url}}" title="{{item.name}}" alt="{{item.name}}">
               </a>   
             <div class="ca padtt5 padb10">
            <a href="http://{{request.client.domain}}{{navigation_url}}{{item.name.tag}}/">
            <button class="btn_viewall"></button>
            </a>
            </div>
            </div>
            </li>
        {%endfor%}
    </ul>
  </div>
  <div>
  </div>
  <div class="clear"></div>
</div>
{%endblock%}
{%block script_footer%}
{{block.super}}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      
      function addMega(){
        $(this).addClass("hovering");
        }

      function removeMega(){
        $(this).removeClass("hovering");
        }

    var megaConfig = {
         interval: 0,
         sensitivity: 4,
         over: addMega,
         timeout: 0,
         out: removeMega
    };

    $(".battle_menu li.item").hoverIntent(megaConfig);

});
</script>
<script type="text/javascript">
$(document).ready(function() {
    Timers.initBT({{battle.remaining_time.0}}, {{battle.remaining_time.1}}, {{battle.remaining_time.2}}, {{battle.remaining_time.3}});
    Timers.start();
});
</script>
{%endblock%} 
