<style type='text/css'>
#form input[type=text]{width:200px;margin-bottom:10px;}
#form input[type=submit]{width:50px;}
#id_notes {height:50px;}
ul, ol { padding-left: 0px !important; }
</style>
{% if form.non_field_errors %}
<div class="error">{{form.non_field_errors}}</div>
{%endif%}
<form method='post' action='' id='form'>
{% for field in form %}
<div class="fieldWrapper marb10 clear">
	<span class="f11 fdgray">{{field.label}}{%if field.field.required%}<span class='red'> *</span>{%endif%}</span><br/>
	{{field}}
</div>
{% if field.errors %}
<div class='error clear'>{{field.errors}}</div>
{% endif %}
{% endfor %}
<div class='clear'>
    <input type="submit" name="submit" value="Submit" class="uiButton" id='submit'/>
</div>
</form>

<script type='text/javascript'>
$('#submit').click(function() {
    var entity = '{{entity}}';
    var pk = {{pk}};
    var onSuccess = function(data, textStatus, xhr) {
        $('#apply_action').html(data);
        setInterval('location.reload();', 2000);
    };
    var onError = function(xhr, textStatus, error) {
        $('#apply_action').html(xhr.responseText);
    };
    var data = $('#form').serialize();
    $.ajax({ url:'/'+entity+'/'+pk+'/form/?state={{state}}',
		data : data,
		success : onSuccess,
		error : onError,
		type : 'POST'
	});
    return false;
});
</script>
