{% extends 'rms/base.html' %}
{% block content %}
{% load rms_tags %}

<style>
ul, ol { padding-left: 0px !important; }
label { font-weight:normal !important; text-transform:capitalize;}
</style>
<script type='text/javascript'>
var count = {{count}};

function select_all(selected, type) {
    var all_same = true;
    if (selected) {
        for (var i=0; i<count.length; i++) {
           if(!$('#'+type+'_div_'+i+' .'+type+'_lead').attr('checked')) {
                   all_same = false;
                   break;
           }
        }
        if (all_same) $('#'+type+'_selectall').attr('checked',true);
    }
    else $('#'+type+'_selectall').attr('checked',false);
}

function select_lead(selected, type, num) {
    var all_same = true;
    if (selected) {
        $('#'+type+'_div_'+num+' [name="'+type+'_agents"]').each(function(){
            if (!$(this).attr('checked')) {
                all_same = false;
                return false;
            }
        });

        if (all_same) $('#'+type+'_div_'+num+' .'+type+'_lead').attr('checked',true);
    }
    else $('#'+type+'_div_'+num+' .'+type+'_lead').attr('checked',false);
}
</script>

<div class="padding_top10">
  <div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="/campaign">Campaigns</a>&nbsp;&raquo;&nbsp; <a href="/campaign/{{campaign.id}}">{{campaign.name|title}}</a>&nbsp;&raquo;&nbsp; Assign Agents</div>
  <div class="content_head">
    <div class="header rc5">
      <h1>Assign Agents</h1>
    </div>
	<div class="bordergray"></div>
  </div>
  <div class="main">
      <form method="post">
      <div class="clear"><span class="f14 fb fdgray">Inbound</span><br />
      {% agent_list form.inbound_agents grouping 'inbound' %}
      <div class="clear border-dotted-gray">&nbsp;</div>
      </div>
      <div class="clear mart10"><span class="f14 fb fdgray">Outbound</span><br />
      {% agent_list form.outbound_agents grouping 'outbound' %}
      </div>
      <div class='clear mart20'>
          <input type="submit" name="submit" value="Assign" class="uiButton"/>
      </div>
        </form>
        <br />
	</div>
</div>
{% endblock %}
