
<div id="dr_container">
  <form method="get" name='test'>
    <ul class="date_range">
      <li class= {% if search_trend == "day" %} "sel_dr" {%else%} "white" {%endif%} id="id_day">Day</li>
      <li class= {% if search_trend == "week" %} "sel_dr" {%else%} "white" {%endif%} id="id_week">Week</li>
      <li class= {% if search_trend == "mtd" %} "sel_dr" {%else%} "white" {%endif%} id="id_mtd">MTD</li>
      <li id="li_dr">
        <input readonly=True type="text" id="dr" class="cursorp" value="{{start_date|date:'d M Y'}} - {{end_date|date:'d M Y'}}" />
      </li>
    </ul>
    <div id="sr" style="display:none;">
      <table class="tbl_sr" style="margin-bottom:0 !important">
        <tr>
          <td>From&nbsp;</td>
          <td><input readonly=True type="text" Name="from" id="id_from" Autocomplete=OFF value="{{start_date|date:'d M Y'}}"/></td>
          <td class="ra">To&nbsp;</td>
          <td><input readonly=True type="text" Name="to" id="id_to" Autocomplete=OFF value="{{end_date|date:'d M Y'}}"/></td>
          <td><button class="uiButton f11" id="id_apply" disabled="disabled">Apply</button></td>
        </tr>
      </table>
    </div>
  </form>
</div>

<style type="text/css">
#id_apply {
color:#333;
text-decoration:none;
font-weight:normal;
padding:5px 5px;
margin-left:15px;
}
</style>


<script type="text/javascript" language="javascript">   
$(document).ready(function(){
	$("#dr").toggle(function() {
			$( "#sr" ).show("fast", 0);
			return false; 
		}, function() {
			$( "#sr" ).hide("fast", 0);
			return false;
	});
	
   $('#id_from').datepicker({dateFormat: 'dd M yy', maxDate:'0',
        onSelect: function(){
            $('#id_to').datepicker('enable');
            if ($('#id_from').val() > $('#id_to').val()) {
                $('#id_to').val('');
            }
            document.getElementById('id_apply').disabled = false;
        },
    });
    
	$('#id_to').datepicker({dateFormat: 'dd M yy', minDate:$('#id_from').val(), maxDate:'0',
        beforeShow: function(){
            var newDate = $('#id_from').datepicker('getDate');
            if(newDate){
                $('#id_to').datepicker('option','minDate', newDate);                   
            }
            else{
                $('#id_to').datepicker('disable'),True;
            }
        },
    });
	
	$('#id_apply').click(function(){
        url_path = '{{url|safe}}' ;
        url_path += "from=" + $('#id_from').val() + "&to=" + $('#id_to').val();
        location.href = url_path;
    });
	$('#id_day').click(function(){
         url_path = '{{url|safe}}' + "search_trend=day";
         location.href = url_path
    });
    $('#id_week').click(function(){
        url_path = '{{url|safe}}' + "search_trend=week";
        location.href = url_path;
    });
    $('#id_mtd').click(function(){
        url_path = '{{url|safe}}' + "search_trend=mtd";
        location.href = url_path;
    });
});
</script>
