{% extends "analytics/base.html" %}
{% load order_tags %}
{% block breadcrumb %}
{%endblock%}

{% block content %}

<table width="940" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
  	<tr>
    	<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="home_main_tbl">
      			<tbody>
					<tr valign="top" align="left">
						<td width="57%"><img width="480" height="265" alt="" src="/media/rms/images/analytics_home.jpg" align="left"></td>
						<td width="43%">
							<div class="hom_div_main">
								<div class="f24 fb">Future Bazaar Analytics</div>
								<div class="f20 fb fdgray">Get a closer look</div>
							</div>
						</td>
      				</tr>
    			</tbody>
			</table>
		</td>
  	</tr>
	<tr>
    	<td>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mart20">
      			<tbody>
					<tr valign="top" align="left">
						<td class="marr10">
							<div class="f18 fb left w295">
								SALES
							</div>
							<div class="w295">
								<span class="fdgray f12">Find out what sells now to predict the future</span><br />
								<ul class="f11 flgray margin-t5">
									<li>&middot; Get a single view of where every order is</li>
									<li>&middot; Discover who the customer is, what products he &nbsp;&nbsp;wants and why</li>
									<li>&middot; View revenue from different facets</li>
								</ul>
							</div>
							<div class="w295 mart5 f11">
								<a href="/dashboards_tab/sales" >View Reports</a>
							</div>
						</td>

						<td class="marr10">
							<div class="f18 fb left w295">
								MARKETING
							</div>
							<div class="w295">
								<span class="fdgray f12">Track marketing performance to maximize effectiveness and optimize ROI</span><br />
								<ul class="f11 flgray margin-t5">
									<li>&middot; Access Campaign performance</li>
									<li>&middot; Subscription to order conversion</li>
									<li>&middot; Track Coupon distribution and returns</li>
								</ul>
							</div>
							<div class="w295 mart5 f11">
								<a href="/dashboards_tab/marketing" >View Reports</a>
							</div>
						</td>
						<td>
							<div class="f18 fb left w295">
								CATEGORY
							</div>
							<div class="w295">
								<span class="fdgray f12">Improve customer offerings with balanced inventory levels</span><br />
								<ul class="f11 flgray margin-t5">
									<li>&middot; Analyse category wise contribution</li>
									<li>&middot; Improve inventory decisions</li>
									<li>&middot; Avoid stock outs and overstocks</li>
								</ul>
							</div>
							<div class="w295 mart5 f11">
								<a href="/dashboards_tab/category" >View Reports</a>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="3"><br /> <br /></td>
					</tr>
					<tr valign="top" align="left">
						<td class="marr10">
							<div class="f18 fb left w295">
								CUSTOMER FIRST 
							</div>
							<div class="w295">
								<span class="fdgray f12">Make every contact a win&middot;win for the customer and you</span><br />
								<ul class="f11 flgray margin-t5">
									<li>&middot; Track, analyze and manage aging  and TAT for a &nbsp;&nbsp;&nbsp;service request</li>
									<li>&middot; Pinpoint callcenter bottlenecks</li>
									<li>&middot; Access agent performance</li>
								</ul>
							</div>
							<div class="w295 mart5 f11">
								<a href="/dashboards_tab/cs" >View Reports</a>
							</div>
						</td>
						<td class="marr10">
							<div class="f18 fb left w295">
								SUPPLY CHAIN
							</div>
							<div class="w295">
								<span class="fdgray f12">Track every moving part in the supply chain labyrinth</span><br />
								<ul class="f11 flgray margin-t5">
									<li>&middot; Assess Inventory performance</li>
									<li>&middot; Improve orderdelivery conversion</li>
								</ul>
							</div>
							<div class="w295 mart5 f11">
								<a href="/dashboards_tab/scm" >View Reports</a>
							</div>
						</td>
						<td>
							<div class="f18 fb left w295">
								
							</div>
							<div class="w295 mart5">
								<a href=""></a>
							</div>
						</td>
					</tr>
    			</tbody>
			</table>
		</td>
  	</tr>			
  </tbody>
</table>

{% endblock %}
