<div class="pagination">
    {% if not meta.has_previous %}
        <span class="previous disabled">
            Prev
        </span>
    {% else %}
        <span class="previous">
            <a href="{{page.previous_url}}">Prev</a>
        </span>
    {% endif %}
    {% for page in pages %}
    {% if page.is_current %}
        <span class="current">
            {{page.no}}
        </span>
    {% else %}
        <span class="page_link">
            <a href="{{page.url}}">{{page.no}}</a>
        </span>
    {% endif %}
    {% endfor %}
    {% if not meta.has_next %}
        <span class="next disabled">
            Next &raquo;
        </span>
    {% else %}
        <span class="next">
            <a href="{{page.next_url}}">Next</a>
        </span>
    {% endif %}
</div>
