{%spaceless%}
<div class="bgcolor1 rc5">
    <div class="pagination">
        <span id="prev_page">Prev</span>
        {% if not in_leading_range %}
            {% for page_no in pages_outside_trailing_range %}
                <span class="page_link page_link_notsel" id="page_link_{{page_no}}">{{page_no}}</span>
            {% endfor %}
            <span class="left marl5 marr5">...</span>
        {% endif %}

        {%for page_no in page_numbers%}
            {%ifequal page page_no%}
                 <span class="page_link page_link_selected" id="page_link_{{page_no}}">{{page_no}}</span>
            {%else%}
                 <span class="page_link page_link_notsel" id="page_link_{{page_no}}">{{page_no}}</span>
            {%endifequal%}
        {%endfor%}

        {% if not in_trailing_range %}
            <span class="left marl5 marr5">...</span>
            {% for page_no in pages_outside_leading_range reversed%}
                <span class="page_link page_link_notsel" id="page_link_{{page_no}}">{{page_no}}</span>
            {% endfor %}
        {% endif %}
        <span id="next_page">Next</span>
    </div>
</div>
{%endspaceless%}
