{% extends "analytics/base.html" %}
{% block content %}
<div class="span-24 last">
    <div class="p5">
        <h3>Pipeline report</h3>
        <!--
        <table cellpadding="2" cellspacing="2" style="border-collapse:collapse">
            <tr class="header">
                <td width="70px">Month</td>
                <td>Booked</td>
                <td>Paid</td>
                <td>Failed</td>
                <td>Approved</td>
                <td>Delivery Generated</td>
                <td>Invoiced</td>
                <td>Dispatched</td>
                <td>In Transit</td>
                <td>Delivered</td>
            </tr>
            {% for mtd in mtds %}
            <tr class="{%cycle "row1" "row2" %}">
                <td>{{mtd.mtd|date:"N Y"}}</td>
                <td>{{mtd.booked}}</td>
                <td>{{mtd.paid}}</td>
                <td>{{mtd.failed}}</td>
                <td>{{mtd.approved}}</td>
                <td>{{mtd.delivery_generated}}</td>
                <td>{{mtd.invoiced}}</td>
                <td>{{mtd.dispatched}}</td>
                <td>{{mtd.in_transit}}</td>
                <td>{{mtd.delivered}}</td>
            </tr>
            {% endfor %}
        </table>-->

        <table cellpadding="2" cellspacing="2" style="border-collapse:collapse">
            <tr class="header">
                <td width="70px">Date</td>
                <td width="60px">Booked</td>
                <td width="60px">Paid</td>
                <td width="60px">Failed</td>
                <td width="60px">Verification</td>
                <td width="60px">Approved</td>
                <td width="60px">Del. Generated</td>
                <td width="60px">Invoiced</td>
                <td width="60px">Dispatched</td>
                <td width="60px">In Transit</td>
                <td width="60px">Delivered</td>
            </tr>
            {% for day in days %}
            <tr class="{%cycle "row1" "row2" %}">
                <td>{{day.day|date:"d N Y"}}</td>
                <td>{{day.booked.count}}</td>
                <td>{{day.paid.count}}</td>
                <td>{{day.failed.count}}</td>
                <td>{{day.awaiting.count}}</td>
                <td>{{day.approved.count}}</td>
                <td>{{day.delivery_generated.count}}</td>
                <td>{{day.invoiced.count}}</td>
                <td>{{day.dispatched.count}}</td>
                <td>{{day.intransit.count}}</td>
                <td>{{day.delivered.count}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
