{% extends "analytics/base.html" %}
{% load order_tags %}
{% block content %}
<style type="text/css">
	.excel_main {margin:8px 0 0 5px !important;}
	.selected_link {font-weight:normal; text-decoration:none}
</style>
{% if errors %}
<div class="error">
	<ul style="list-style-type:disc; padding-left:10px;">		
	   <li>{{errors}}</li>
	</ul>
</div>
{% endif %}

{%show_excel_link request 'excel'%}
<form method='GET' action="">
{% daterange report_title search_trend from_date to_date request%}

</form>

<div class="clear">
    <div id="id_chart" class="mart20"></div>
</div>
<div>
<table class="tbl_response marb20">
{%for item in data%}
<tr>
    {%if forloop.first%}
        {%for i in item%}
            <th>{{i}}</th>
        {%endfor%}
    {%else%}
        {%for i in item%}
            <td {%if forloop.counter in left_ali_cols%}class="la"{%endif%}>{{i}}</td>
        {%endfor%}
    {%endif%}
</tr>
{%endfor%}
</table>

</div>

<div class="f11 fdgray mart10"> 
	<span class="left">Recent Analytics users:&nbsp;</span>
    {%for user in last_users%}
        <span class="left selected_link user_access" id="{{user.django_username}}">{{user.user}}&nbsp;</span>
    {%endfor%}
</div>
<div class="hidden">
    <form method="POST" id="user_access_form" action="/admin_dashboard/report_access_details/">
        <input name="usernames" id="usernames">
    </form>
</div>

<br>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart(){
         {{jscode|safe}}
         var chart = new google.visualization.PieChart(document.getElementById('id_chart'));
         chart.draw(jscode_data, {width: 650, height: 400, title: 'Reports Access Counts',lineWidth: 3,pointSize: 5});
    }

</script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
    $('.user_access').click(function(){
        var usernames = this.id;
        var form=$('#user_access_form');
        $("#usernames").val(usernames);
        form.submit()
    });
});
</script>
{%endblock%}
