<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block page_title %}Future Bazaar{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta content="Chaupaati is Mumbai's phone classifieds. Call 922 222 1947 to talk to our customer service executive or log on to www.chaupaati.in" name="Description"/>
		<meta content="classifieds, second hand, phone pe deal, phone, mobile, india, buy, sell, used, 9222221947" name="Keywords"/>
		<meta content="Chaupaati" name="Author"/>
		<link rel="shortcut icon" href="/assets/images/favicon.ico"/>
	</head>
    <body>
        {% block wait_message %}
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <h1>Please wait while we process your request</h1>
                </td>
            </tr>
        </table>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block script_include %}
        {% endblock %}
    </body>
</html>
