<table>
<tr>
    <td class="ra fb"><span class="label">Card Number</span></td>
    <td>{{card_form.card_no}} </td>
</tr>
<tr>
    <td class="ra fb exp_date"> <span class="label">Expiration Date</span></td>
    <td>                  
        {{card_form.exp_month}}
        {{card_form.exp_year}}
    </td>
</tr>
<tr>
    <td class="ra fb"><span class="label">Card Security Code (CVV)</span></td>
    <td> {{card_form.cvv}} &nbsp; <a class="popup" href="/info/cvv.html">What's this?</a></td>
</tr>
<tr>
    <td class="ra fb"><span class="label">Name on Credit Card </span></td>
    <td>{{card_form.name_on_card}} </td>
</tr>
</table>
<script type="text/javascript" src="/media/js/popup.js"></script>
