{% extends request.ws_base|default:"web/base.html" %}
{% load web_tags %}
{% block extra_header %}
    <META HTTP-EQUIV="expires" CONTENT="0">
    <!-- TROLLY CODE START -->
        <script type="text/javascript" charset="utf-8" src="http://assets0.trol.ly/js/trolly_client_script.v.2.0.js"></script>
        <link rel="stylesheet" href="http://assets0.trol.ly/css/trolly_client.css" type="text/css" media="screen" charset="utf-8">
    <!-- TROLLY CODE END -->

{% endblock %}
{% load cc_tags %}
{% with order_items=order.get_items_for_billing %}
{% block content %}
<div class="breadcrumb">&nbsp;</div>

    {% if insufficient_payment %}
    <div class="clear left"> Amount still pending{{insufficient_payment}}</div>
    {% else %}
    <div class="ord_conf_msg mart10 marb30">
		<div class="clear left">
        {%ifequal order.support_state "confirmed"%}
            <div class="f16 marb5 fb">Congrats on your purchase. Your Order ID is {{order.get_id}}.</div>
        {%else%}
            <div class="f16 marb5 fb">Thank you for booking the order. Your order will be confirmed after payment is received. Your Order ID is {{order.get_id}}.</div>
        {%endifequal%}

            <div class="fdgray f11"> Use this Order ID in all communication with {{order.client.name}}. We have sent your order details by
				{% if order.user.get_primary_emails%} email to <strong>{{order.user.get_primary_emails.0}}</strong>{%else%} SMS
				to <strong>{{order.user.get_primary_phones.0}}</strong>{%endif%}. You can track your order in <a href="/user/orders/">My Account</a>
								
			</div>
		</div>
		<div class="clear"></div>
   		
   	</div>

<div class="ord_conf_left">
<!-- Print this order -->
<div>
    <div class="pad10" style="background:#f6f6f6;">
	<div class="left" style="width:400">
	    {%ifequal order.support_state "confirmed"%}
                <div class="fb marb10">ORDER DETAILS</div>
            {%else%}
                <div class="fb marb10">BOOKING DETAILS</div>
            {%endifequal%}
	    
	    <table class="tbl_order_conf f11">
		<tr>
		    <td width="110" style="padding-top:0px;">Order No</td>
		    <td class="f12 fblack" style="padding-top:0px;"> {{order.get_id}}</td>
		</tr>
		<tr>
		    <td>Order Placed on</td>
		    <td class="f12 fblack"> {%ifequal order.support_state "confirmed"%}{{order.payment_realized_on|date:"d M, Y"}}{%else%}{{order.timestamp|date:"d M, Y"}}{%endifequal%}</td>
		</tr>
		<tr>
		    <td>Payment Status</td>
		    <td class="f12 fblack"> {%ifequal order.support_state "confirmed"%}Received{%else%}Pending{%endifequal%}</td>
		</tr>
		<tr>
		    <td>Payment Method</td>
		    <td class="f12 fblack"> {{order.printable_payment_mode}}</td>
		</tr>
	    </table>
	    
	    
	</div>
	
    <!-- SHIPPING ADDRESS -->
    <div id="shipping_address" class="right">
		<h3 class="f12 marb5">SHIPPING ADDRESS</h3>
		<p class="f11">
			<span>{{address_info.first_name}} {{address_info.last_name}}</span><br/>
			<span>{{address_info.address}}</span><br/>
			<span>{{address_info.city}} - {{address_info.pincode}}, </span><br/>
			{%if address_info.state%}<span>{{address_info.state}}, </span>{%endif%}
			{%if address_info.country%}<span>{{address_info.country}}</span><br/>{%endif%}                            
			{%if address_info.phone%} <span>Phone: {{address_info.phone}}</span> {%endif%} 
		</p>
		
    </div><!-- /SHIPPING ADDRESS -->
    <div class="clear"></div>
    </div>
    <div id="order_details">
        <div id="print_details"> 
            <table class="receipt la" cellpadding="0" cellspacing="0" style="width:100%;">
				<tr>
					<th>Sr.</th>
					<th>Item</th>
					<th>Price</th>
					<th>Qty</th>
					<th style="text-align:right">Amount</th>
				</tr>
			
				{% for item in order_items %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>
						{{item.seller_rate_chart.product.title}} [{{item.seller_rate_chart.sku}}]
						{%if item.gift_title %}
						 + {{item.gift_title}}
						{%endif%}
					</td>
					<td><span class="WebRupee">Rs.</span> {{item.get_unit_price|money}}</td>
					<td>{{item.qty}}</td>
					<td style="text-align:right;"><span class="WebRupee">Rs.</span> {{item.sale_price|money}}</td>
				</tr>
				{% endfor %}
			</table>
			<div class="right" style=" padding:5px 0px; width:100%; border-bottom:1px solid #DCDCDC;">
				<table class="receipt_total right la" cellpadding="0" cellspacing="0" style="width:188px;">
					<tr>
						<td>Subtotal</td> <td class="ra"><span class="WebRupee">Rs.</span> {{order.total|money}}</td>
					</tr>
					{%if order.coupon_discount %}
					<tr>
						<td>Discount (-)</td> <td class="ra"><span class="WebRupee">Rs.</span> {{order.coupon_discount|money}}</td>
					</tr>
					{%endif%}
				
					{%if order.cashback_amount_total %}
					<tr>
						<td>Cashback (-)</td> <td class="ra"><span class="WebRupee">Rs.</span> {{order.cashback_amount_total|money}}</td>
					</tr>
					{%endif%}
					
					{%if order.shipping_charges > 0 %}
					<tr>
						<td>Shipping</td> <td style="text-align:right;"><span class="WebRupee">Rs.</span> {{order.shipping_charges|money}}</td>
					</tr>
				    {%endif%}
				    <tr>
						<td class="fb" style="width:100px;">TOTAL</td> <td class="fb" style="width:80px; text-align:right;"><span class="WebRupee">Rs.</span> {{order.payable_amount|money}}</td>
					</tr>
				</table>
				<div class="clear"></div> 				
			</div>
			<div class="clear"></div>
			<div class="mart10 marb10">
			    <div class="left f11"><a href="/">&laquo Back to Homepage</a></div>
                {%comment%}
			    <div class="right ord_conf_print">Print Receipt</div>
                {%endcomment%}
			    <div class="clear"></div>
			</div>
			
			<div class="clear"></div>           
       </div>
    </div>
</div>
<!-- Print this receipt end -->


<!-- BEGIN Trolly Tracking Code -->
<div class="trolly_shell hide">
    <!-- add your invoice number -->
    <input type="hidden" value="{{order.reference_order_id}}" id="trolly_current_invoice">
    <!-- Each option tag here should contain your product url and the corresponding product name from the current checkout-->
    <select id="product_select" style="visibility:hidden;">
        {% for item in order_items %}
            <option value="http://{{request.client.domain}}/{{item.seller_rate_chart.product.url}}">{{item.seller_rate_chart.product.title}}</option>
        {% endfor %}
    </select>
    <!-- -->
</div>
<div class="clear"></div>
<!-- END Trolly Tracking Code -->


{% if products_ctxt %}
    <div class="pad10 mart30" style="border:1px solid #d3d3d3;">
        <div class="f15 fb marb10">{{products_ctxt.label}} </div>
        {% for ctxt in products_ctxt.data %}
            <div class="ord_conf_similar_item posr">
                <a href="{% cc_url request ctxt.product.url %}">
                    <img width="150" height="150" onerror_cnt="0" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='/media/images/noimage_p.jpg';}return false;" title="{{ctxt.product.title}}" alt="{{ctxt.product.title}}" src="{% media_url request ctxt.product_images.0.get_display_url %}">
                </a>
                {%if request|getDiscountPercent:ctxt.rate_chart > 10 %}
                    <div class="offer-tag {%if request|getDiscountPercent:ctxt.rate_chart > 20%}green-offer-tag{%endif%}">
                        <span>off<br><strong>{% getDiscount request ctxt.rate_chart %}%</strong></span>
                    </div>
                {% endif %}
                <div class="ca">
                    <div>
                        <a title="{{ctxt.product.title}}" href="{% cc_url request ctxt.product.url %}">{{ctxt.product.title|truncate:35}}</a>
                    </div>
                    <div class="mart5">
                    <span class="forange fb"> <span class="WebRupee">Rs.</span> {% get_price_info request ctxt.rate_chart 'offer_price' %}</span>&nbsp;&nbsp;
                    {%if request|isAnySaving:ctxt.rate_chart %}
                        <span><span class="WebRupee">Rs.</span><span class="fs"> {% get_price_info request ctxt.rate_chart 'list_price' %} </span></span>
                    {% endif %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endif %}
</div>
{% endif %}
<div class="ord_conf_right">
    <div class="customer_box pad10 marb10">
		<h3 class="cust_care_icon f12">CUSTOMER CARE</h3>
		<p class="f11">Call +91 922-222-1947</p>
		<h3 class="mart10 email_us_icon f12">EMAIL US</h3>
		<p class="f11">customerservice@futurebazaar.com</p>
    </div>
	<!-- SIGNUP -->
	{% if not password %}
    <div class="sing_up_conf marb10">
	<h2 class="f14 fblack">Sign up for an account. It takes less than 30 seconds.</h2>
		<p class="marb5 f11" style="line-height:1.2;">Signing up will help you track this order, check out faster next time and receive great offers.
</p>
		<form method="post" action="" id="form_signin" name="form_signin">
			<input type="hidden" name="next" value="{{next}}"/>
			<input type="hidden" name="action" value="signup"/>
			{% if signup_error %}
				<div id="tr_error" class="marb10 error"> <span id="errors">{{signup_error}}</span> </div>
			{% endif %}
			{%if is_email_success%}
				<div id="tr_success" class="marb10 notice"> <span id="errors">Please confirm your verification by clicking the link sent to your email address</span> </div>	
			{% endif %}
			<div class="marb5 marb10"> <span class="f11">Email or Mobile</span><br />
				<input type="text" id="username1" name="username" readonly="readonly" value="{% if username %}{{username}}{% endif %}" style="width:200px;" />
			</div>
			<div class="marb5 marb10"> <span id="lpassword" class="f11">Set a Password</span><br />
				<input type="password" id="password" name="password" style="width:212px;" />
			</div>
			<div id="lcpassword" class="marb5 marb10"> <span  class="f11">Retype Password</span><br />
				<input type="password" id="cpassword" name="cpassword" style="width:212px;" />
			</div>
			<div class="mart10">
				<input type="submit" name="sign_up" value="Sign up now" class="btn_c btn_c_s btn_orange" id="login" title="Sign up now"/>
			</div>
      </form>
	</div>
    {% endif %}
    <!-- /SIGNUP -->
	<div class="ord_conf_payback pad10 marb10">
	    <div class="ord_conf_payback_title fb marb5">NOT A PAYBACK MEMBER YET?</div>
	    <div class="marb10 ja" style="padding-right:75px;">Just fill up the enrollment form on www.payback.in and your PAYBACK card will be delivered to your registered address </div>
	   <div><a href="http://www.payback.in/pb/onlineMemberEnrollment?lmid=90012970&ecid=314149" target="_blank"><img src="/media/images/become-payback-member.png"></a></div>
	   
	</div>
	
	<div>
	    <a href="{% cc_url request "supermarket/ch/2515/"%}"><img src="/media/images/mbb-thanks-40412.jpg"></a>
	</div>
	
	
</div>

<div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009538269/?label=VUJaCNuG0gIQ3amx4QM&amp;guid=ON&amp;script=0"/>
</div>

{%if order.get_id %}
<iframe src="http://www.vizury.com/analyze/analyze.php?account_id=VIZVRM144&param=e500&orderid={{order.get_id}}&orderprice={{order.payable_amount}}{%for item in order.orderitem_set.all%}&pid{{forloop.counter}}={{item.seller_rate_chart.product.id}}&catid{{forloop.counter}}={{item.seller_rate_chart.product.category.id}}&quantity{{forloop.counter}}={{item.qty}}&price{{forloop.counter}}={{item.get_unit_price}}{% if forloop.last %}&currency=inr{%endif%}{%endfor%}&section=1&level=1" scrolling="no" width="1" height="1" marginheight="0" marginwidth="0" frameborder="0"></iframe>
{%endif%}
<script type='text/javascript'>
    var p=location.protocol=='https:'?'https://n.admagnet.net/c/js/':'http://n.admagnet.net/c/js/';
    var r=Math.floor(Math.random()*999999);
    document.write ("<" + "script language='JavaScript' ");
    document.write ("type='text/javascript' src='"+p);
    document.write ("?trackerid=562&amp;r="+r+"'><" + "/script>");
</script><noscript><div id='m3_tracker_562' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'><img src='http://n.admagnet.net/c/vi/?trackerid=562&amp;adid=&amp;cb=%%RANDOM_NUMBER%%' width='0' height='0' alt='' /></div></noscript>
<iframe id='acd4783c' name='acd4783c' src='http://n.admagnet.net/d/fr/?n=acd4783c&amp;zoneid=5929&amp;target=_blank&amp;cb=950630399&amp;z=MD81MQ%3D%3D;'framespacing='0' frameborder='no' scrolling='no' width='1' height='1'></iframe>
<div class="clear"></div>
{% endblock %}
{% block ga_extensions %}
    {% if order.support_state in ga_states %}

        {% if not order.ga_tracked %}
          _gaq.push(['_addTrans',
            '{{order.reference_order_id}}',
            '{{order.client_domain}}',
            '{{order.payable_amount}}',
            '{{order.taxes}}',
            '{{order.shipping_charges}}',
            '{{order.get_delivery_city}}',
            '{{order.get_delivery_state}}',
            '{{order.get_delivery_country}}'
          ]);

            {% for oi in order_items %}
          _gaq.push(['_addItem',
            '{{order.reference_order_id}}',           // order ID - required
            '{{oi.seller_rate_chart.sku}}',           // SKU/code - required
            '{{oi.item_title}}',        // product name
            '{{order.client_domain}}__{{oi.seller_rate_chart.product.category.name}}',   // category or variation
            '{{oi.get_unit_price}}',          // unit price - required
            '{{oi.qty}}'               // quantity - required
          ]);
            {% endfor %}
        _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

        {{ order.set_tracked }}
        {% endif %}
    {% endif %}

{% endblock %} 
{% block script_footer %}
{{block.super}}
<!-- Offer Conversion: FutureBazaar.com (All Products) -->
<img src="//futurebazaar.go2cloud.org/aff_l?offer_id=1&adv_sub={{order.reference_order_id}}&amount={{order.payable_amount}}" width="1" height="0" />
<!-- // End Offer Conversion -->
<!-- Offer Conversion: Futurebazaar.com (CPA) -->
<iframe src="//futurebazaar.go2cloud.org/SL1T?adv_sub={{order.reference_order_id}}&amount={{order.payable_amount}}&aff_sub={{dgm_sku_code}}&aff_sub2={% if order.payable_amount > 250 %}large{% else %}small{% endif %}&aff_sub3={{total_order_qty}}" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->

<!-- DGM Affiliate tracking code -->
<!-- Sales Order Tag -->
<img height="0" width="0" src="http://www.s2d6.com/x/?x=a&amp;h=51538&amp;o={{order.reference_order_id}}" alt=""/>
<!-- Product Detail Tags -->
{% for item in order_items %}
    <img height="0" width="0" src="//www.s2d6.com/x/?x=r&amp;h=51538&amp;o={{order.reference_order_id}}&amp;g={{dgm_sku_code}}&amp;s={{item.seller_rate_chart.offer_price}}&amp;q={{item.qty}}"/>
{% endfor %}
<!-- End DGM Affiliate -->
<!-- Google Code for CPA - Sale Conversion Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 989445909;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "73dbCOPykAMQlf7m1wM";
    var google_conversion_value = {{order.payable_amount}};
    /* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/989445909/?value={{order.payable_amount}}&amp;label=73dbCOPykAMQlf7m1wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- Revenue Tracking Code START -->
<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.atdmt.com/mstag/site/2922fbef-d448-411f-b926-f1f080043b19/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"1390620",type:"1",revenue:"{{order.payable_amount}}",actionid:"38755"})</script> <noscript> <iframe src="//flex.atdmt.com/mstag/tag/2922fbef-d448-411f-b926-f1f080043b19/analytics.html?dedup=1&domainId=1390620&type=1&revenue=&actionid=38755" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>
<!-- Revenue Tracking Code END -->

<!-- Advertiser 'FUTURE E-COMMERCE INFRASTRUCTURE LTD',  Conversion tracking 'FB_conversion pixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="http://ad.yieldmanager.com/pixel?id=1547133&t=2" width="1" height="1" />
<script type="text/javascript">
function printSelection(node) {
    var content = node.html();
    var pwin=window.open('','print_content','width=100,height=100');
    pwin.document.open();
    pwin.document.write('<html><body onload="window.print()">'+content+'</body></html>');
    pwin.document.close();
    setTimeout(function(){
        pwin.close();
    } ,1000);
}
$('#print_receipt').click(function(){
printSelection($('#print_details'));
});
$(document).ready(function() {
$("#printthisorder").fancybox({
'autoScale'         : false,
'transitionIn'      : 'none',
'transitionOut'     : 'none'
});
});
</script>

<!-- End of conversion tag -->

<!-- Google Code for Transactions Conversion Page for Jewellery-->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1027355146;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "xDq0CNaZvQIQiuTw6QM";
    var google_conversion_value = {{order.payable_amount}};
    /* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1027355146/?label=xDq0CNaZvQIQiuTw6QM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!--End Jewelry-->

<!-- Google Code for Transactions Conversion Page for Kitchen -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1010252353;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "ig1bCJ-2mQIQwfTc4QM";
var google_conversion_value = {{order.payable_amount}};
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1010252353/?label=ig1bCJ-2mQIQwfTc4QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End Kitchen -->


<!-- Google Code for Transactions Conversion Page for Home-->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1010323993;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "wXN7CJe3mQIQmaTh4QM";
var google_conversion_value = {{order.payable_amount}};
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1010323993/?label=wXN7CJe3mQIQmaTh4QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- End Home -->

<!-- Google Code for Transactions Conversion Page for Luggage -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1009538269;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "VUJaCNuG0gIQ3amx4QM";
    var google_conversion_value = {{order.payable_amount}};
    /* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<!-- End Luggage -->

<!-- begin Marin Software Tracking Script -->
<script type='text/javascript'>
    var _mTrack = _mTrack || [];
    _mTrack.push(['addTrans', {
        currency: 'INR',
        total: {{order.payable_amount}},
        orderId: {{order.get_id}}
    }]);
    _mTrack.push(['processOrders']);

    (function() {
        var mClientId = 'lf2uu38ua0';
        var mProto = ('https:' == document.location.protocol ? 'https://' : 'http://');
        var mHost = 'pro.marinsm.com';
        var mt = document.createElement('script'); mt.type = 'text/javascript'; mt.async = true;
        mt.src = mProto + mHost + '/tracker/async/' + mClientId + '.js';
        var fscr = document.getElementsByTagName('script')[0]; fscr.parentNode.insertBefore(mt, fscr);
    })();
</script>
<!-- end Copyright Marin Software -->
<!-- Google Code for Transaction Conversion Page -->
<!-- Conversion code for Electronics Account START-->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 951425464;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "vSoMCLCvygMQuLPWxQM";
var google_conversion_value = {{order.payable_amount}};
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/951425464/?label=vSoMCLCvygMQuLPWxQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- Conversion code for Electronics Account END-->
{% endblock %} 
{% endwith %}
