                 
                {% if card_form.errors %}
                <div>                   
                            <div class="error">
                                <ol>
                                {% for field in card_form %}
                                {% for error in field.errors %}
                                    <li>{{error}}</li>
                                {% endfor %}
                                {% endfor %}
                                </ol>
                            </div>                   
                </div>
                {% endif %}
                <table>   
                    <tr>
                        <td width="145" class="ra fb">
                            <span class="label">Credit Card Bank</span>
                        </td>
                        <td>
                            <label class="fn">
                                <input type="radio" name="bank" value="hdfc" checked="checked" class="vt">
                                <img src="/media/images/hdfc_logo.gif" height="16"/>
			                      </label>
                            <label class="fn">
                                <input type="radio" name="bank" value="icici"  class="vticici">
                                <img src="/media/images/icici_logo.gif" height="16"/>
			                     </label>
                          <!--<label class="fn">
                                <input type="radio" name="bank" value="citi"  class="vtciti">
                                <img src="{{MEDIA_URL}}images/citi_logo.gif" height="16"/>
                              </label> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="ra fb"> 
                            <span class="label">EMI Plan</span>
                        </td>
                        <td>             
                            <label class="fn">
                            <input type="radio" name="emi_plan" checked="checked" value="3" class="vt1">
                            3 months</label>
                            &nbsp;&nbsp;
                            <label class="fn">
                            <input type="radio" name="emi_plan" value="6" class="vt1">
                            6 months </label>&nbsp;&nbsp; 
                            <label class="fn9">
                            <input type="radio" name="emi_plan" value="9" class="vt1">
                            9 months</label>
                        </td>
                      </tr> 
                      <table id="card_details_web"><!-- class="hide" style="display:none;">-->
                      <tr> 
                        
                        <td class="ra fb">
                            <span class="label">Card Type</span>
                        </td>
                        <td>        
                            <label>
                            <input type="radio" name="cardtype" checked="checked" value="visa-card" class="vt">
                            <img src="/media/images/visa.gif" height="16"/> </label>
                            &nbsp;&nbsp;
                            <label>
                            <input type="radio" name="cardtype" value="master-card"  class="vt">                  
                            <img src="/media/images/master_card25.gif" height="16"/></label>  
                        </td>
                      {% include "order/card_form.html"%}
                    </tr>
                  </table>
                </table>
            <div class="notice">
                <b>Note:</b>
                <ul>
                <li>
                   Please note that currently we are unable to process credit &amp; debit cards issued by international banks.  We request international customers to use alternate payment options.</li>
                <li>
                    With effect from 1st Aug 2009, as per the RBI guidelines, an additional password would be mandatory for online credit card 
                    &amp; debit card transactions. Simply register with your card-issuing bank on their website and get your password. You may also register
                    with your bank and get your password while you make this payment.
                    </li>
                   </ul> 
            
            </div>
            
             {%include "order/payment_options/billing_info.html"%}
<script type="text/javascript">
	$(document).ready(function() {
		
		$(".fancybox").fancybox({
			'width'				: '80%',
			'height'			: '100%',
			'autoScale'			: 'false',
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'type'				: 'iframe'
      });
    $("#notice_redirect").hide();   
	});
  $(".vt").click(function() {
    $("#card_details_web").show();
    $('.fn9').show();
    $('#notice_redirect').hide();
  });
  $(".vticici").click(function() {
    $("#card_details_web").hide();
    $('#notice_redirect').show();
    $('.fn9').show();
    });
  $(".vtciti").click(function() {
    $("#card_details_web").hide();
    $('#notice_redirect').show();
    $('.fn9').hide();
  });

	</script>
             <script type="text/javascript">
               // $('#cvv_info').click(function(){
//                    $.get(this.href, function(data){
//                        $('#shipping_dialog').html(data);
//                        var dialog = $('#shipping_dialog').dialog({model:true,
//                            title:'CVV Information',
//                            width:500
//                            });
//                    });
//                    return false;
//                });
             </script>
