<html>
    <body OnLoad="OnLoadEvent();">
        <form name="form1" action="{{redirect_url}}" method="post">
            <input type="hidden" name="PaReq" value="{{pareq}}">
            <input type="hidden" name="MD" value="{{payment_id}}">

        <input type="hidden" name="TermUrl" value="{{term_url}}">

        </form>
        <script language="JavaScript">
                
            function OnLoadEvent() {
                  document.form1.submit();
                }

        </script>
    </body>
</html>

