<form>
  <label>
    <input id="payback_id" name='payback_id' type='radio' checked>Redeem your i-mint point. (<b> {{ points }} </b> points required to complete the transaction.)
  </label>
</form>
<div class="notice">
	<b>Note</b>
	<ul>
		<li>PAYBACK (imint) is a loyalty program of which FutureBazaar is also a partner.</li>
		<li>You can use your PAYBACK points to buy products from FutureBazaar. The value of product in PAYBACK points is mentioned on product page.</li>
		<li>You will also earn PAYBACK points for every shopping done on FutureBazaar which can be redeemed for future purchase.</li>
		<li>To know more about PAYBACK, please <u><a target="_blank" href="/payback"> click here</a></u></li>
		<li>For T&amp;C, please <u><a href="/info/terms_and_conditions.html#Payback" target="_blank">click here</a></u></li>
	</ul>
</div>
