{% extends "web/base.html" %}
{% block content %}
<div class="about_us_pages">
<div class="left mart30">
    <h1>ABOUT US</h1>
<img src="../media/images/aboutus-banner.jpg" width="722" height="200" style="margin-top:14px;"/>
<div class="abot_us_blocks">
<div class="abot_us_block masterminds marr10">
<div class="abot_us_block_title">Team</div>
<div class="abot_us_block_text">The driving force behind our phenomenal success is the collective effort of thought leaders from varied backgrounds. Each bringing to the table an eclectic mix of perspectives, ideas & strategies. </div>
<a href="/about/team.html">Know more &rsaquo;</a>

</div>
<div class="abot_us_block values marr10">
<div class="abot_us_block_title">Values & Culture</div>
<div class="abot_us_block_text">Our values shape the culture and define the character of our organisation. They continually guide our actions and reflect strongly in our capabilities of decision-making and interactions with our customers as well as each other. </div>
<a href="/about/values_culture.html">Know more &rsaquo;</a>

</div>
<div class="abot_us_block emp_perks">
<div class="abot_us_block_title">Employee Perks</div>
<div class="abot_us_block_text">At FutureBazaar.com, there are plenty of benefits that ensure you and your family maintain a healthy lifestyle, achieve a fine work-life balance, pursue further education, manage finances, take time out for vacations, and live a stress-free life.</div>
<a href="/about/employee_perks.html">Know more &rsaquo;</a>

</div>

<div class="clear"></div>
</div>

    <div class="mart20">
    <div class="working_with left">
        <div class="working_with_inner">
        <div>
        <img src="../media/images/fb-group-photo.jpg" class="left"/>
        <div class="left working_with_inner_right">
        <div class="f18">Fancy working with us? </div>
        <div>
        <p>Quite possibly the most sought-after jobs are at FutureBazaar.com. Over the last 6 years, we've grown like crazy - and so can you. What's helped us reach this far are the firm beliefs of a talent pool that bring with them loads of experience having been associated with top-rated firms like Yahoo!, eBay, Amazon, Geodesic, among others.  Now our future growth rests entirely on finding even more such talented, special people. </p>
     
        </div>
        <div class="read_more fb f15">
            If you want to have fun at work everyday, then check 
out our latest openings. Oh, we pay good money too. <a href="/about/jobs.html" class="btn_c btn_c_s btn_orange tdnone" >
           Read More
            </a>            
        </div>
        
        </div>
        </div>
        <div class="clear"></div>
        </div>
    </div >
</div>

</div>
<div class="right right_section" style="padding-top:0px;">
    <ul class="about_us_nav">
      <li class="sel">
        <div class="home">About Us</div>
      </li>
       <li>
        <div class="values"><a href="/about/values_culture.html">Values & Culture</a></div>
      </li>      
      <li>
        <div class="masterminds"><a href="/about/team.html">Team</a></div>
      </li>
     <li>
        <div class="careers"><a href="/about/jobs.html">Jobs</a></div>
      </li>
      <li>
        <div class="perks"><a href="/about/employee_perks.html">Employee Perks</a></div>
      </li>      
      <li><div class="i_love"><a href="/about/i_love_working_here.html">I Love Working Here</a></div></li>
      <li>
        <div class="blog" style="border-bottom:none;"><a href="http://blog.futurebazaar.com/" target="_blank">Blog</a></div>
      </li>
    </ul>
  </div>
<div class="clear"></div>
</div>

<div class="clear"></div>

{% endblock%}
