{% extends "web/base.html" %}
{% block page_title %}Futurebazaar-About Us{% endblock %}
{%block content%}
<style type="text/css" media="all">

* { border:0; margin:0 auto; padding:0; outline:none; }
body {padding:0; margin:0 auto;background:#9CF }
.abt-wrapper{margin:0 auto;font-family:Arial, Helvetica, sans-serif;width:989px;height:auto;}
.abt-wholeconatiner{margin-top:10px;width:989px;height:auto;background:#FFF;float:left;background:#FFF}
.abt-banner{float:left;width:989px;height:259px;border:none;}
.abt-container{float:left;width:989px;height:258px;background:url(/media/images/abtbg.gif) no-repeat;}

.abt-master{float:left;height:188px;width:185px;padding-top:40px;padding-left:35px;padding-bottom:30px;padding-right:12px}
.abt-master h2{font-size:18px;text-transform:uppercase;text-align:left; margin-bottom:10px}

.abt-value{float:left;height:188px;width:194px;padding-top:40px;padding-left:35px;padding-bottom:30px;padding-right:12px}
.abt-value h2{font-size:18px;text-transform:uppercase;text-align:left; margin-bottom:10px}

.abt-skill{float:left;height:188px;width:195px;padding-top:40px;padding-left:35px;padding-bottom:30px;padding-right:12px}
.abt-skill h2{font-size:18px;text-transform:uppercase;text-align:left; margin-bottom:10px}

.abt-blog{float:left;height:188px;width:200px;padding-top:40px;padding-left:35px;padding-bottom:30px;padding-right:12px}
.abt-blog h2{font-size:18px;text-transform:uppercase;text-align:left; margin-bottom:10px}

.abt-line{float:left;height:188px;width:5px;padding-top:40px;padding-bottom:30px}

.a-c1{color:#053e85;}
.a-c2{color:#000000;}
.a-c3{color:#858282;}

.common-content{color:#666666;font-size:12px;text-align:left;line-height:18px;height:150px;overflow:hidden}
 a{font-size:12px;color:#05559d;text-decoration:none}
 a:hover{text-decoration:underline}

.fancy-container{float:left;width:989px;height:auto;background:#FFF;margin-top:15px;_margin-top:5px;margin-bottom:20px}
.fancy-left{float:left;width:710px;height:auto;border:1px solid #ededed;padding:6px 0 6px 6px;}
.fancy-stuff{float:left;background:#faf7e3;width:695px;height:auto;padding-left:7px;padding-right:0px;padding-top:22px;}

.fancy-img{float:left;width:250px}
.abt-readmore{float:left;width:220px;margin-left:10px;margin-top:4px;background:url(/media/images/arow-sign1.gif) no-repeat;height:38px;padding-left:200px;padding-top:54px}
.fancy-signature{float:right;width:430px;padding-left:10px}
.fancy-signature h2{font-size:18px;margin-bottom:5px}
.fancy-signature p{font-size:12px;line-height:18px}

.fancy-right{float:right;width:254px;height:auto;background:#FFF;margin-right:4px;padding-bottom:30px;}
.main-videocontainer-wrapper{float:left;width:240px;height:auto;background:#f5f5f5;padding-top:22px;padding-left:7px;border:1px solid #ededed;margin-bottom:16px}
.main-videocontainer{float:left;width:230px;height:auto;padding-left:10px;padding-bottom:10px}
.fancy-right h2{font-size:18px;text-transform:uppercase;text-align:left;margin-bottom:10px;float:left;width:180px;overflow:hidden;}
.abt-video-container{float:left;margin-bottom:10px;width:215px;}
.abt-video{float:left;width:80px;height:51px;border:2px solid #9c9ea0;margin-right:6px;}
.abt-video-content{float:left;width:110px}
.abt-video-content span{color:#053e85;font-size:12px;font-weight:bold}
.abt-video-content p{color:#020202;font-size:11px;width:100px;margin-top:4px;}
.see-video{float:right;color:#05559d;font-size:12px;margin-right:5px}


.abt-testimonial{float:left;height:auto;width:242px;padding-top:10px;padding-left:8px;}
.abt-test-img{float:left;margin-bottom:10px;margin-bottom:8px}
.abt-test-txt{float:left;margin-bottom:11px;width:230px;overflow:hidden}
.abt-test-txt span{float:left;color:#0171b9;font-size:11px;text-transform:none;margin-top:4px;font-weight:bold}
.fancy-hiring-container{float:left;background:#faf7e3;width:678px;height:auto;padding-left:10px;padding-right:16px;padding-top:22px;padding-bottom:10px}
.fancy-hiring-container h2{font-size:18px;text-transform:uppercase;text-align:left;margin-bottom:10px}
.hiring-topic{font-weight:bold;font-size:12px;}
.hiring-headline-td{font-size:11px;color:#05559d;text-decoration:underline;padding-left:20px;font-weight:bold}
.hiring-td{font-size:11px;color:#020202;}


</style>
</head>

<body>
<div class="abt-wrapper">
<div class="abt-wholeconatiner">
	<div class="abt-banner">
    <img src="/media/images/abt-banner.gif" border="0"  width="989" height="259"/>
	</div>
    
    <div class="abt-container">
  
  		<div class="abt-master">
        	<h2><span class="a-c1">Master</span><span class="a-c2">Minds</span> </h2>
            	<div class="common-content">
            		The driving force behind our phenomenal success is the collective effort of thought leaders from varied backgrounds. Each bringing to the table an eclectic mix of perspectives, ideas & strategies. 
                </div>
                <div class="abt-link"><a href="#">Know more <img src="/media/images/abt-arrow.gif" border="0" /></a></div>
        </div>
        
        <div class="abt-line">&nbsp;</div>
        
  		<div class="abt-value">
        	<h2><span class="a-c1">Values</span><span class="a-c3">&</span><span class="a-c2">Culture</span> </h2>
        		<div class="common-content">
            	Our values shape the culture and define the character of our organisation. They continually guide our actions and reflect strongly in our capabilities of decision-making and interactions with our customers as well as each other. 
                </div>
                <div class="abt-link"><a href="#">Read more <img src="/media/images/abt-arrow.gif" border="0" /></a></div>
	    </div>
        
        <div class="abt-line">&nbsp;</div>
        
        <div class="abt-skill">
        	<h2><span class="a-c1">Employees</span><span class="a-c2">Perks</span> </h2>
        		<div class="common-content">
            		At futurebazaar, there are plenty of benefits that ensure you and your family maintain a healthy lifestyle, achieve a fine work-life balance, pursue further education, manage finances, take time out for vacations, and live a stress-free life. 
           	    </div>
                <div class="abt-link"><a href="#">Read more <img src="/media/images/abt-arrow.gif" border="0" /></a></div>
        </div>
        <div class="abt-line">&nbsp;</div>
        
        <div class="abt-blog">
        	<h2><span class="a-c1">Our</span><span class="a-c2">Blog</span> </h2>
        		<div class="common-content">
            	Our blog aims at getting the "human connection" back to the world of digital commerce. 
Follow this space to get insight, scope and inside scoop into India's foremost digital commerce company. 
           		</div>
                <div class="abt-link"><a href="#">Visit Blog <img src="/media/images/abt-arrow.gif" border="0" /></a></div>
        </div>
  
	</div>

        <div class="fancy-container">
        	<div class="fancy-left">
            	<div class="fancy-stuff">
                	<div class="fancy-img">
                    <img src="/media/images/fancy-img.gif" width="250" height="224" border="0" />
                    </div>
                	<div class="fancy-signature">
                    <h2>Fancy working with us?</h2>
                    <p>
                    Quite possibly the most sought-after jobs are at futurebazaar.com. Over the last 6 years, we've grown like crazy – and so can you. What's helped us reach this far are the firm beliefs of a talent pool that bring with them loads of experience having been associated with top-rated firms like Yahoo!, eBay, Amazon, Geodesic, among others.  Now our future growth rests entirely on finding even more such talented, special people.
                    </p>
                    
                    </div>
                    <div class="abt-readmore">
                    <a href="#"><img src="/media/images/read-more.gif" width="131" height="40" border="0" /></a>
                    </div>
            	</div>
                
                <div class="fancy-hiring-container">
                <h2>We Are Hiring!</h2>
               <table width="678" height="150" border="0" bgcolor="#FFFFFF" style="padding:4px;font-family:Arial, Helvetica, sans-serif;border-collapse:collapse;margin-bottom:12px">
                <tr style="background-color:#e5e5e5;">
                <td class="hiring-topic" style="padding-left:20px" >Job Title</td>
                <td class="hiring-topic" >Job Description</td>
                <td class="hiring-topic" >Ref. No.</td>
                </tr>
                
                <tr>
                <td class="hiring-headline-td">Senior HTML DEVELOPER</td>
                <td class="hiring-td">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
                <td class="hiring-td">291183</td>
                </tr>
                
                
                <tr>
                <td class="hiring-headline-td">Senior HTML DEVELOPER</td>
                <td class="hiring-td">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
                <td class="hiring-td">291183</td>
                </tr>
                
                
                <tr>
                <td class="hiring-headline-td">Senior HTML DEVELOPER</td>
                <td class="hiring-td">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
                <td class="hiring-td">291183</td>
                </tr>
                
                <tr>
                <td class="hiring-headline-td">Senior HTML DEVELOPER</td>
                <td class="hiring-td">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
                <td class="hiring-td">291183</td>
                </tr>
                
                
                </table>
                <div class="see-video"><a href="#">See all Opening <img src="/media/images/abt-arrow.gif" border="0" /></a></div>

                </div>
                
            </div>
        	
        
        	<div class="fancy-right">
            <div class="main-videocontainer-wrapper">
            <div class="main-videocontainer">
            	<h2><span class="a-c1">Our</span><span class="a-c2">videos</span></h2>
            
            <div class="abt-video-container">
                <div class="abt-video">
               <img src="/media/images/kb.jpg" border="0" width="80"  height="51"/>
                </div>
                <div class="abt-video-content">
                <span>Mr. Kishore Biyani</span>
                <p>lor sit amet, conslor sit amet, cons</p>
                </div>
            </div>
            
            <div class="abt-video-container">
                <div class="abt-video">
               <img src="/media/images/kb.jpg" border="0" width="80"  height="51"/>
                </div>
                <div class="abt-video-content">
                <span>Mr. Kishore Biyani</span>
                <p>lor sit amet, conslor sit amet, cons</p>
                </div>
            </div>
            
            <div class="abt-video-container">
                <div class="abt-video">
                 <img src="/media/images/kb.jpg" border="0" width="80"  height="51"/>
                </div>
                <div class="abt-video-content">
                <span>Mr. Kishore Biyani </span>
                <p>lor sit amet, conslor sit amet, cons</p>
                </div>
            </div>
            
             <div class="see-video"><a href="#">See all Videos <img src="/media/images/abt-arrow.gif" border="0" /></a></div>
             
            </div>
            </div>
                <div class="abt-testimonial">
                	<div class="abt-test-img">
                	<img src="/media/images/abt-love.gif" width="237" height="28" border="0" />
               	   </div>  
                	<div class="abt-test-txt">
                		<span style="color:#666666;font-size:11px">'Lorem ipsum dolor sit amet, consectetuer ad
ipiscing elit, sed diam '</span>
                        <span>Krish Nathan, Assistant Manager</span>
                	</div>
                    
                    <div class="abt-test-txt">
                		<span style="color:#666666;font-size:11px">'Lorem ipsum dolor sit amet, consectetuer ad
ipiscing elit, sed diam '</span>
                        <span>Krish Nathan, Assistant Manager</span>
                	</div>
                    
                     <div class="see-video"><a href="#">See all Testimonials <img src="/media/images/abt-arrow.gif" border="0" /></a></div>
                </div>
            
            </div>
        </div>	
       

</div>
</div>
{%endblock%}
