<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Discount-Water Purifier</title>
<style type="text/css" media="all">
.wrapper{ width:991px; margin:0px auto; padding-top:14px; padding-right:9px;overflow:hidden }
.banner{ width:991px;float:left}
.banner-content{ width:849px; height:52px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#666666; padding-right:138px; padding-left:11px;}

.pantaloon-content{ width:986px; height:204px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#666666; padding-left:11px;}
.fb-content{ width:986px; height:220px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#666666; padding-left:11px;}
.bb-content{ width:986px; height:220px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#666666; padding-left:11px;}
.fb-logo{ background:url(images/FB-new-logo.gif) no-repeat; float:left; overflow:hidden; width:849px; height:52px;}
.fb-coupon{float:left; overflow:hidden; width:312px; height:102px; padding-right:61px; padding-bottom:50px;}
.fb-coupon-a{ float:left; border-left:1px dashed #0d3d90;border-top:1px dashed #0d3d90;border-bottom:1px dashed #0d3d90; width:310px; height:90px;}
.fb-coupon-b{width:148px; height:82px; background-color:#0d3d90; padding-top:8px;float:left}
.fb-coupon-c{color:#0d3d90; font-family:Arial, Helvetica, sans-serif;font-size:25px; font-weight:bold; width:148px; background-color:#FFF; height:36px;}
.fb-coupon-code{color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-left:38px}
.fb-coupon-code-m{color:#0d3d90; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; width:120px; background-color:#cfebfb; height:23px; padding-left:20px; margin-left:4px}
.fb-terms{font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:13px; width:607px; float:left; height:150px; line-height:18px}

.subscribe-button{ color:#040404; font-size:15px;font-family:Arial, Helvetica, sans-serif;padding-top:5px;padding-left:11px;padding-right:16px;padding-bottom:9px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:15px; float:left; font-weight:bold;
 width:106px; height:15px; background-color:#ffb90f; overflow:hidden; margin-top:22px; margin-left:5px
}
.line{ width:969px; border-bottom:2px solid #b4b4b4; margin-left:11px; margin-bottom:25px}
.lineFB{ width:969px; border-bottom:2px solid #b4b4b4; margin-left:11px; margin-bottom:25px}

.bb-logo{ background:url(images/bigbazaar-logo.gif) no-repeat; float:left; overflow:hidden; width:849px; height:52px;}
.bb-coupon{float:left; overflow:hidden; width:312px; height:102px; padding-right:61px; padding-bottom:50px;}
.bb-coupon-a{ float:left; border-left:1px dashed #666;border-top:1px dashed #666;border-bottom:1px dashed #666; width:310px; height:90px;}
.bb-coupon-b{width:148px; height:82px; background-color:#284c8b; padding-top:8px;float:left}
.bb-coupon-c{color:#f36f24; font-family:Arial, Helvetica, sans-serif;font-size:30px; font-weight:bold; width:148px; background-color:#FFF; height:36px;}
.bb-coupon-code{color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-left:24px}
.bb-coupon-code-m{color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; width:120px; background-color:#f36f24; height:23px; padding-left:20px; margin-left:4px}
.bb-pan-terms{font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:13px; width:607px; float:left; height:150px; line-height:18px}
.pantaloon-content{ width:986px; height:204px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#666666; padding-left:11px;}
.pan-logo{ background:url(images/pantaloon.gif) no-repeat; float:left; overflow:hidden; width:849px; height:52px;}
.pan-coupon{float:left; overflow:hidden; width:312px; height:102px; padding-right:61px; padding-bottom:50px;}
.pan-coupon-a{ float:left; border-left:1px dashed #666;border-top:1px dashed #666;border-bottom:1px dashed #666; width:310px; height:90px;}
.pan-coupon-b{width:148px; height:82px; background-color:#89b600; padding-top:8px;float:left}
.pan-coupon-c{color:#407106; font-family:Arial, Helvetica, sans-serif;font-size:30px; font-weight:bold; width:148px; background-color:#FFF; height:36px;}
.coupon-code{color:#304f00; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-left:24px}
.coupon-code-m{color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; width:120px; background-color:#496100; height:23px; padding-left:20px; margin-left:4px}
.pan-terms{font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:13px; width:607px; float:left; height:150px; line-height:18px}
.t-c{color:#333333;font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:15px;font-weight:bold}
</style>
</head>

<body>
<div class="wrapper">
		<div class="banner">
		<img src="{{MEDIA_URL}}images/banner1.gif" border="0" align="left"/>
		<img src="{{MEDIA_URL}}images/UPto75.com-Logo.jpg" border="0" align="left"/>
		</div>
        
		<div class="banner-content">
        As an exclusive member of upto75.com family, you can now avail an additional discount on your purchase at futurebazaar.com   
		</div>
        
        <div class="fb-content">
        <div class="fb-logo"></div>
        <div class="fb-coupon">
                {%if already_subscribed%}
                    <div style="text-align:center"><strong>You have already subscribed earlier for Upto75 Gift coupon code</strong></div>
                {%else%}

        		<div class="fb-coupon-a">
            		<div class="fb-coupon-b">
                    	<div class="fb-coupon-c" >Rs. 100 Off*</div>
                        <div class="fb-coupon-code">Coupon Code</div>
                        <div class="fb-coupon-code-m">UP75WP100</div>
                    </div>
                    
                    <div style=" width:155px; height:90px; background-color:#FFFFFF;float:left">
                    	<img src="{{MEDIA_URL}}images/FB_discount.gif" width="162" height="90" align="left" border="0" />
                    </div>
                
                </div>
                {%endif%}
        </div>
        	<div class="pan-terms">
    
                <span class="t-c">Terms & Conditions:<br /></span>

				1.	The offer is applicable on Battle Water purifier only<br />
				2.	The offer is applicable on Water purifier above Rs. 1000 <br />
				3.	This offer will be valid till 8<sup>th</sup> June 2011.<br />
				4.	Offer Valid till stocks last.<br />
				5.	The promo code is valid for single time purchase only.<br />
		

               <div class="subscribe-button"><a href="http://www.futurebazaar.com/" target="_blank" style="text-decoration:none">Start Shopping</a></div>
        	</div>
		</div>      
        <div class="lineFB">&nbsp;</div>     
</div>
</body>
</html>
