
<div id="fb-root"></div>
<script type="text/javascript">
   $('#form').submit(function(){
    var return_flag = false;
   var data = $(this).serialize();
   var onSuccess = function(resp){
        var response_text = $.parseJSON(resp);
        if(response_text.status == 'ok')
                    {
                        $.cookie("subscribed","yes")
                        return_flag = true;
                    }
        if(response_text.status == 'failed')
                    {
                     $('#error_msg').removeClass('hidden');
                        var error_msg = '<div class = error> <ul>';
                                    //error_msg = error_msg + '<li>' + response_text.error + '</li>';
                        for(var key in response_text.error){
                            if(response_text.error[key]){
                                for (var i in response_text.error[key]){
                                    error_msg = error_msg + '<li>' + response_text.error[key][i] + '</li>';
                                }
                            }
                        }

                        error_msg = error_msg +  '</ul></div>';
                        $('#error_msg').html(error_msg);
                        return_flag=false;
   
                    }

        };

    var onError = function(){
    };
    action = '/fb/register-deals/'
    $.ajax({ 
            url:action,
            data : data,
            async:false,
            success :onSuccess ,
            error : onError,
            type : 'POST'
         });
    return return_flag;
    });
</script>
<script type="text/javascript">
    
    $(document).ready(function() {
    $('#skip').click(function(){
    $.cookie("subscribed","no")
     window.location.reload();
        return false;
    });
    });
    </script>

    <script>
         FB.init({ 
            appId: {{app_setttings.facebook_app_id}},
            cookie:true, 
            status:true,
            xfbml:true 
         });
      </script>

    <script>
   var  div    = document.getElementById('fb-root'),
  showMe = function(response) {
        $('body').append('<div style="display:none"><a href="/fb/phone_no" class="ph_no">phone_no</a></div>');
        $('a.ph_no').trigger('click');
    if (!response.session) {
    } else {
      FB.api('/me', function(response) {
                data=response
                var onSuccess = function(res) {
                if(res.indexOf("new_fb_sub") != -1)
                {
                $('#popup').html(res);
                }
                else 
                {
                    $.cookie("subscribed","yes")
                    window.location.reload();
                }
            };
            var onError = function() {
            };
        
        action="/fb/attach-fb/"
        $.ajax({ 
                    url:action,
                    data : data,
                    async:false,
                    success :onSuccess ,
                    error : onError,
                    type : 'POST'
              });


      });
    }
  };
FB.getLoginStatus(function(response) {
  showMe(response);
  FB.Event.subscribe('auth.sessionChange', showMe);
});    
    </script>
<div id="bg"> </div>
<div id="popup" class="popup" style="display:none">
  <div class="inner">
    <div class="popup_header">     
      <h1 class="f19">Get drop-dead Deals from India's Foremost Retailers</h1>
      <div class="close">Close<!-- and Regret Forever--></div>    
      <div class="clear"></div>
    </div>
    <div class="pupup_middle">
        <form method="post" id="form" action="">
        <div id="error_msg" class="hidden">
        </div>
      <div class="fields">
        <dl class="dl_sub">
          <dt>
            <label for="name">Name</label>
          </dt>
          <dd>
            <input type="text" id="name" name="name"/>
          </dd>
          <dt>
            <label for="email">Email<span class="red">*</span></label>
          </dt>
          <dd>
            <input type="text" id="email" onblur="if (value== '') {value='Send me deals in my Inbox'}" onfocus="if (value == 'Send me deals in my Inbox') {value=''}" value="Send me deals in my Inbox" name="email"/>
          </dd>
          <dt>
            <label for="mobile">Mobile<span class="red">*</span></label>
          </dt>
          <dd>
            <input type="text" id="mobile" onblur="if (value== '') {value='Send me deals by SMS'}" onfocus="if (value == 'Send me deals by SMS') {value=''}" value="Send me deals by SMS" name="mobile"/>
          </dd>
          <dt> </dt>
          <dd class="la">
           <button type="submit" class="btn_subscribe"></button>
         <!-- <input type="submit" value="Subscribe Now"/>-->
          </dd>
          
           <dt>
           
          </dt>
          <dd>Or use facebook connect to Subscribe</dd>
          <dt></dt>
          <dd>
          <fb:login-button perms="email,user_likes,friends_likes,publish_stream">Connect with Facebook</fb:login-button>
          </dd>
        </dl>
      </div>
      </form>
      <div class="clear"></div>    
    </div>
    <div class="popup_bottom">
      <div class="popup_logo"></div>
      <div class="popup_text">Our merchandizers scrape all corners of Indian markets to bring you best deals at your doorstep. <strong>Come join the gang!</strong>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){	 
	
	$(".close").click(function()
	{
    $.cookie('subpopdd','yes');	
	$("#popup").css("display","none");
	$("#bg").css("display","none");
	
	//$("#popup").hide("slow");
//	$("#bg").hide("slow");
	});
   
   });
    </script>
