{% extends "web/base.html" %}
{%load cc_tags%}
{% block content %}
<br/>
<div>

<!--<div id="bg"></div>-->
<div class="clear"></div>
<b>Please submit your feedback here. Thank you.</b><br/>
<button type="button" class="feedback_call linkButton">Submit Feedback</button>
</div>
<div id="address_container"></div>
<div class="clear"></div>

<script type="text/javascript">
$(".feedback_call").click(function(){
   var url= '/feedback_popup/';
   var dialog;
   $.get(url,function(html){
       $('#address_container').html(html);
       $('#bg,#address_container').fadeIn(100);
       var onSubmitAlias = null;
       var onSuccess = function(responseText){
           if(responseText)
           {
               var response = $.parseJSON(responseText);
               if (response.status == 'ok')
               {
                   location.reload();
               }
               if (response.status == 'error')
               {
                    $('#error_msg').removeClass('hidden');
                    var error_msg = '<ul>';
                    for(var key in response.error){
                        if(response.error[key]){
                            for (var i in response.error[key]){
                                error_msg = error_msg + '<li>' + response.error[key][i] + '</li>';
                            }
                        }
                    }
                    error_msg = error_msg +  '</ul>';
                    $('#error_msg').html(error_msg);
               }
           }
       };
        var onError = function(){
            alert("onError");
            $("#address_container").submit(onSubmitAlias);
        };
        var onSubmit = function(){
            var form = this;
            var action = form.action;
            var form_data = $('#feedback_form').serialize();
            $.ajax({
                url : action,
                data : form_data,
                success : onSuccess,
                error : onError,
                type : "POST"
            });
            return false;
        };
        onSubmitAlias = onSubmit;
        $('#feedback_form').submit(onSubmit);
        });
   });

//    $(".address_container").removeClass("hide");
</script>
{% endblock %}
