{% load web_tags cc_tags%}
{% for item in items %}
 <div class="left brd" id="grid_special_{{page_no}}">
  <div class="prod">
    <div class="prod_name fb">
    {% if item.use_uni %}
    <a href="{{item.uni_url}}" title="{{item.uni_title|title}}">{{item.uni_title|title|truncate:30}}</a> </div>
    {% else %}
    <a href="/{{item.product.url}}" title="{{tem.product.title}}">{{item.product.title|truncate:30}}</a> </div>
    {%endif%}
    <div class="prod_img ca">
        {%if item.price_info.savings %}
        <div class="save_tag"> You Save<br />
        <span class="WebRupee">Rs. </span>{{ item.price_info.savings|money}}<br />
        {% if item.price_info.discount %}
            {{item.price_info.discount}}% 
        {% endif %}
        </div>
        {%endif%}
     {%if item.use_uni %}
         <a href="{{ item.uni_url }}"> 
            <img src="{{item.image.get_large_thumb_url}}" width="150" height="150" title="{{item.uni_title|title}}"
            alt="{{item.uni_title|title}}"/>
        </a>
    {%else%}
         <a href="/{{item.product.url}}"> 
            <img src="{{item.image.get_large_thumb_url}}" width="150" height="150" title="{{item.product.title}}"
            alt="{{item.product.title}}"/>
        </a>
    {%endif%}
      
    </div>
    <div class="price ca">
      <div class="ca fb">MRP <span class="fs"><span class="WebRupee">Rs. </span>{{item.price_info.list_price|money}} </span></div>
    </div>
    <div class="shop_now">
      <div class="f18 fb left" style="padding-top:15px; padding-left:10px; color:#fff; width:100px;">
<span class="WebRupee">Rs. </span>{{item.price_info.offer_price|money}}
</div>
      {%if item.use_uni %}
      <a href="{{item.uni_url}}" class="left" style="width:100px; height:38px; display:block;"></a>
      {%else%}
      <a href="/{{item.product.url}}" class="left" style="width:100px; height:38px; display:block;"></a>
      {%endif%}
      <div class="clear"></div>
    </div>
  </div>
 </div>    
{% endfor %}

