{% extends 'ppd/user_home.html' %}
{% load ppd_tags %}
{%load web_tags%}
{% block user_content %}
<style>
	.tbl_profile select {width:250px}

</style>
<div class="inner-content">
  <h1 class="head1">Create New Promotion</h1>
  <form name="seller_profile_form" id="seller_profile_form" action="/save_promotion/{{client_name}}/{{seller_name}}/" method="POST">
    <div id="post_errors"></div>
    <table class="tbl_profile">
      <tbody>
        <tr>
          <td width="140" class=" fdgray">Name</td>
          <td><input type="text" maxlength="200" value="" name="profile-name" id="id_profile-name"></td>
        </tr>
		<tr>
          <td width="140" class="fdgray">Promotion Type</td>
          <td>
					<select class="f10 fgray" id="promotion-type" name="promotion-type">
						<option value="PROFILE_BASED_ORDER_DISCOUNT_COUPON" class="f11 fdgray option">Profile_based_order_discount_coupon</option>
						<option value="APOLOGY_COUPON" class="f11 fdgray option">Apology_coupon</option>
						<option value="ORDER_DISCOUNT_COUPON" class="f11 fdgray option">Order_discount_coupon</option>
						<option value="MIN_ORDER_VALUE_DISCOUNT_COUPON" class="f11 fdgray option">Min_order_value_discount_coupon</option>
					</select>
					<input type="hidden" value="change" name="">
		  </td>
        </tr>
        <tr>
          <td class=" fdgray">Start Date</td>
          <td><input class="f11 fdgray" type="text" maxlength="200" value="dd/mm/yyyy" name="start-date" id="id_from"></td>
        </tr>
        <tr>
          <td class=" fdgray">End Date</td>
          <td><input class="f11 fdgray" type="text" maxlength="200" value="dd/mm/yyyy" name="end-date" id="id_to"></td>
        </tr>
	<tr class="min_order_value hide">
	    <td class="fdgray">Min Order Value </td>
            <td><input type="text" maxlength="100" value="0" name="min-order-value" id=""></td>
	</tr>
      </tbody>
    </table>
    <table class="tbl_profile">
      <tbody>
      <tr>
      <td  class="fdgray" width="130">Discount Type</td>
      
      <td width="15"><input type="radio" name="discount-type" value="Percent" checked="checked" > % Off</td>
      <td width="60" ><input type="radio" name="discount-type" value="Amount" > Rs. Off</td>
      </tr>
        <tr>
        <td  class="fdgray" width="130">Discount Value</td>
			<td colspan="2" width="140"><input type="text" maxlength="100" value="" name="discount-value" id=""></td>
        </tr>
      </tbody>
    </table>

    <table class="tbl_profile">

      <tbody>
      <tr>
        <td class="fdgray" width="74" >Applies on</td>
        <td width="23"><input type="radio" name="applies-on" value="Order" checked="checked" > Order</td>
        <td width="103" ><input type="radio" name="applies-on" value="Shipping" > Shipping</td>
      </tr>
      </tbody>
    </table>
    <table class="tbl_profile">
      <tbody>
        <tr>
          <td width="140" class="fdgray">Number of coupons</td>
          <td><input type="text" maxlength="200" value="0" name="n-coupons" id="id_profile-name"></td>
        </tr>
	
      </tbody>
    </table>
    <br />
    <table>
      <tbody>
        <tr>
          <td><input type="submit" class="grayButton" value="Create Promotion" id="submit_button">
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<script type="text/javascript">
    $('#id_from').datepicker({dateFormat: 'dd/mm/yy',
        onSelect: function(){
            $('#id_to').datepicker('enable');
        },
    });
 
    $('#id_to').datepicker({dateFormat: 'dd/mm/yy', minDate:$('#id_from').val(),
        beforeShow: function(){
            var newDate = $('#id_from').datepicker('getDate');
            if(newDate){
                $('#id_to').datepicker('option','minDate', newDate);                   
            }
            else{
                $('#id_to').datepicker('disable'),True;
            }
        }
    });

$("#promotion-type").click(function(){
	if ($(this).val() == "MIN_ORDER_VALUE_DISCOUNT_COUPON"){
		$(".min_order_value").show();
	}
	else{
		$(".min_order_value").hide();
	}
});

</script>
{% endblock %} 
