{% extends 'web/ppd_base.html' %}
{% load ppd_tags %}
{% block content %}
  <style>
#content{padding:0px;}/* only for home page*/
</style>
<div class="banner">
  <div class="banner-left">
    <div class="fb" style="margin:30px 0px 30px 30px; color:#000;">
   <div class="fb f40" style="font-size:40px;line-height:50px;">Build a phone sales channel</div>      
     <div style="font-size:20px; color:#000; margin:10px 0px 25px;; font-weight:bold; line-height:28px; color:#333;">Reach customers across India through a direct phone sales channel for your brand. </div>
         
     <div><a href="offers.html" class="button green home_signup_btn">Sign Up</a></div>
      
      <div style="margin:20px 0 0 0;font-size:12px;">
       <span>Still not sure? </span><span style="padding:4px;">See <a href="solution.html">Our Solution</a></span> </div>
    </div>
  </div>
  <div class="banner-right">
    <img src="{{MEDIA_URL}}images/ppd_images/3.jpg" width="430" height="300"/>
  </div>
</div>
<div class="clear"></div>
<div class="home-soln">
  <div class="soln-block">
   <span class="f15 fblack"><strong>Build your phone store</strong></span><br />
    <span>Build scalable phone sales setup with zero fixed cost. Your customers can shop with you 8am-10pm, 365 days of the year on phone. Our flexible staffing system lets you handle response peaks due to seasonality. Our variable cost model ensures you pay only when you sell. </span> </div>
    
  <div class="soln-block">
   <span class="f15 fblack"><strong>Get more out of your marketing</strong></span><br />
    <span>Publish your phone number in your media campaigns and see an extra ROI on your marketing budget. Integrate your SMS, direct mailers, readers' offers, TV, radio and print campaigns to a phone sales line and see your orders grow.</span> </div>
    
  <div class="soln-block">
   <span class="f15 fblack"><strong>Convert response to sales</strong></span><br />
    <span>Benefit from our tailor made phone commerce platform. Your customers can discover products easily, choose from over 8 payment options, receive notifications etc. You can manage your catalog, monitor response pipeline, track sales pipeline and more. </span> </div>
    <div class="clear"></div>
</div>
<div class="home-brands" >
      <div class="brands">
      <div class="f15 fblack padding5"><strong>Leading brands selling through phone pe deal</strong></div>
      
   <ul>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/kelvinator.gif" alt="Kelvinator"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/sansui.gif" alt="Sansui"/>
      </li>
      <li>
        <img  src="{{MEDIA_URL}}images/ppd_images/brands/videocon.gif" alt="Videocon"/>
      </li>
      <li>
        <img  src="{{MEDIA_URL}}images/ppd_images/brands/electrolux.gif" alt="Electrolux"/>
      </li>
      <li>
        <img  src="{{MEDIA_URL}}images/ppd_images/brands/jaipan.gif" alt="Electrolux"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/whirlpool.gif" alt="Electrolux"/>
      </li>   
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/ifb.gif" alt="IFB"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/kenstar.gif" alt="Kenstar"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/lava.gif" alt="Lava"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/casio.gif" alt="Casio"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/micromax.gif" alt="Micromax"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/letsbuy.gif" alt="Letsbuy"/>
      </li>   
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/digiworld.gif" alt="Digiworld"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/timtara.gif" alt="Timtara"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/fernspetals.gif" alt="Fernspetals"/>
      </li>
      <li>
        <img src="{{MEDIA_URL}}images/ppd_images/brands/macmillan.gif" alt="Macmillan"/>
      </li>
   
    </ul>
   </div>
 <div class="clear"></div>
  </div>
{% endblock %}
{% block page_load %}
<script type="text/javascript">
	var img_cache = {}
    var num_cached = 0;
    var animate = false;
    var idx = 0;
    var hrefs = [];
	var num_to_cache = $('#links a').length;
    var wrapper_div = $('#slideshow');

    $('#links a').each(function() {
        var img = new Image();
        img.src = this.href;
        hrefs.push(this);
        var img_href = this.href;
        img.onload = function() {
            img_cache[img_href] = img;
            num_cached = num_cached + 1;
            if (num_cached == num_to_cache ) {
                $('#links')[0].style.display = 'block';
                animate = true;
                play();
            }
        };
    });

    function select(link_elem) {
        wrapper_div.animate({opacity:0.4}, 10, function() {
            $('#slide_container')[0].src = img_cache[link_elem.href].src;
            $('#banner')[0].innerHTML = link_elem.getAttribute('atitle') || link_elem.title;
            $('#links a').removeClass('selected');
            $(link_elem).addClass('selected');
            wrapper_div.animate({opacity:1.0}, 1500, function() {});
        });
    }

    $('#links a').click(function() {
            animate = false;
            select(this);
	        return false;
    });


    function play() {
        if(animate === false) {
            return;
        }
        select(hrefs[idx]);
        idx = idx + 1;
        if( idx == num_to_cache)
            idx = 0;
        setTimeout(play, 4000); 
    };
</script>
<div class="clear"></div>
{% endblock %} 
