{% extends 'web/ppd_base.html' %}
{% block content %}
<div class="inner-content">
  <h1 class="head1">Investors and Advisors</h1>
  <p><span class="head4">Anand Rajaraman</span>
  <br />Lead Investor</p>
  <p>Anand Rajaraman has been involved in business, venture funding, research and academia since the start of the Internet becoming a part of our daily lives. Anand was co-founder and CTO of Junglee, the first shopping search engine which was acquired by Amazon.com in 1998 for $250 million, playing a key role in developing Junglee's award-winning Virtual Database technology. As Director of Technology at Amazon.com, he led the strategic transformation of Amazon.com from a retailer into a retail platform, enabling third-party retailers to sell on Amazon.com's website. Third-party transaction account for 30% of gross merchandise sales, and represent Amazon's fastest-growing and most profitable business segment.</p>
  <p>Anand is a Founding Partner of Cambrian Ventures that has invested in Internet companies such as Efficient Frontier, Kaltix (acquired by Google), Neoteris (acquired by Juniper), Transformic (acquired by Google), TheFind, and Aster Data.</p>
  <p>Anand has extensive research and development experience at Stanford University, AT&T Bell Labs, and Xerox PARC, with numerous publications, patents, and awards at leading academic and industry forums. He obtained his Bachelor's degree in Computer Science and Engineering from the IIT Madras, where he won the President of India Gold Medal for graduating at the top of his class, and his MS and PhD in Computer Science from Stanford University. Anand has been featured in articles in Business Week, the San Francisco Chronicle, and other leading national publications. Anand serves as Consulting Assistant Professor at Stanford University's Computer Science Department, and as investor, advisor, and Board member to several Silicon Valley startups.</p>
  <p><a href="http://www.linkedin.com/in/anandrajaraman" title="Anand on LinkedIn" target="_blank"><img src="/assets/images/linkedin.png" border="0px" alt="Anand on LinkedIn"/></a>
   <a href="http://www.twitter.com/anand_raj" title="Anand on Twitter" target="_blank"><img src="/assets/images/twitter.png" border="0px" alt="Anand on Twitter"/></a></p>
  <h2 class="head4">Additional Investors</h2>
  <p>G. Adhiseshann (Parsn, private investor)
    <br />Ashok Deorah (Real Value Appliances, private investor)
    <br />Meena Srinivasan (Stratify)
    <br />Michael Fernandes (Nicholas Piramal, McKinsey India, IIM Calcutta)
    <br />Mohan Lakhamraju (Entrepreneur/Investor in Education, Stanford-GSB, IIT Bombay)
    <br />Pradip Doshi (Stock broker, private investor)
    <br />Rakesh Mathur (Webaroo, Junglee, IIT Bombay)
    <br />Venky Harinarayan (Kosmix, Junglee, Stanford, IIT Madras)
  <br />Vigyan Singhal (Elastix, Jasper, Berkeley, IIT Kanpur)</p>
  <h2 class="head4">Advisors</h2>
  <p>The advisory board includes IIT and IIM alumni with over 80 years of combined experience in strategy & marketing for Indian consumer businesses like HUL, P&G, Zee Group, Nicholas Piramal Group and Tata Group.</p>
</div>
{% endblock %}
