{% extends 'ppd/user_home.html' %}
{% block user_content %}
{% comment %}
	<div class="fb fdgray prof_sub_head">{{form}}</div>
	<table class="tbl_profile"></table>
<br />


	<tr>
		<td class="f11 fdgray" width="140">{{ form.name.label }}</td>
		<td>{{ form.name }}</td>
		{% if form.name.errors %}
			<td class="error">{{ form.name.errors }}</td>
		{% endif %}
	</tr>
{% endcomment %}


<div class="inner-content">
	<h1 class="head1">{{client_display_name}} AddItem </h1>
	<form method="POST" action="" id="list_item_form" name="list_item_form">
	<div id="post_errors"></div>
	{% if form.errors %}
  		<p style="color: red;"> Please correct the error{{ form.errors|pluralize }} below. </p>
  	{% endif %}

<tr>
	<td class="f11 fdgray" width="140">{{ form.List.label }}</td>
		<td>{{ form.List }}</td>
			{% if form.List.errors %}
				<td class="error">{{ form.List.errors }}</td>
			{% endif %}
</tr>
<br />
<br />
<tr>
	<td class="f11 fdgray" width="140">{{ form.sku.label }}</td>
		<td>{{ form.sku }}</td>
			{% if form.sku.errors %}
				<td class="error">{{ form.sku.errors }}</td>
			{% endif %}
</tr>
<a href="/itemsku/{{client_name}}/{{seller_name}}/{{pg}}" onClick="popup = window.open('/itemsku/{{client_name}}/{{seller_name}}/{{pg}}', 'PopupPage','height=300,widht=350,scrollbars=yes,resizable=yes'); return false" target="_blank">Click to see products</a>
<br />
<br />
{% comment %}
	{% for src in srcitems.object_list %}
	<tr valign="top">
<!--	<td class="padl20 ca">{{order.order}}</a></td> -->
<td>{{src.id}} </td>
<td>{{src.product}},  </td>
<td>{{order.seller_rate_chart.sku}}</td>
<td>{{order.seller_rate_chart.product.id}}</td>
<td class="ca">{{order.qty}}</td>
<td><span class="WebRupee">Rs.</span>{{order.sale_price|money}}</td>
<td><span class="WebRupee">Rs.</span>{{order.order.payable_amount|money}}</td>
<td>{{order.order.payment_mode}}</td>
<td>{{order.order.timestamp|date}}</td>
<td>{{order.order.booking_agent.name}}</td>
<td>{{order.order.confirming_date|date}}</td>
<td>{{order.order.confirming_agent.name}}</td>
{% endfor %}
<div class="clear"></div>
{%if pagination.enable_prev or pagination.enable_next%}
    <div class="pagination mart20"> 
	{% if pagination.enable_prev %} <a href="{{pagination.base_url}}page={{pagination.prev_page}}">Prev</a> {% else %} <a class="gray_link">Prev</a> {% endif %}
      {% for page in pagination.first_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
      {% if pagination.show_sep1 %} <span> ...</span> {% endif %}             
      {% for page in pagination.prev_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}                                         
      <div>{{pagination.cur_page}}</div>
      {% for page in pagination.next_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}           
      {% if pagination.show_sep2 %} <span> ...</span> {% endif %}
      {% for page in pagination.last_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
	  {% if pagination.enable_next %} <a href="{{pagination.base_url}}page={{pagination.next_page}}">Next</a> {% else %} <a class="gray_link">Next</a> {% endif %} 
      </div>  
	{% else %}
<tr>
	<td colspan="5" class="padl20 fred">No order found.</td> 
</tr>
	{% endif %}
<div class = "clear"></div>
</div>
{% endcomment %}
<tr>
<td class ="f11 fdgray" width = "140">{{ form.sequence.label }} </td>
	<td>{{ form.sequence }} </td>
	{% if form.sequence.errors %}
		<td class ="error"> {{ form.sequence.errors }} </td>
	{% endif %}
</tr>
<br />
<br />

<tr>
<td class="f11 fdgray" width="140">{{ form.user_description.label }}</td>
	<td>{{ form.user_description }}</td>
	{% if form.user_description.errors %}
		<td class ="error">{{ form.user_description.errors }}</td>
		{%endif %}
</tr>
<br />
<br />	
	
<tr>
	<td class="f11 fdgray" width="140">{{ form.user_title.label }}</td>
		<td>{{ form.user_title }}</td>
			{% if form.user_title.errors %}
				<td class="error">{{ form.user_title.errors }}</td>
			{% endif %}
</tr>
<br />
<br />

<tr>
	<td class="f11 fdgray" width="140">{{ form.user_features.label }}</td>
		<td>{{ form.user_features }}</td>
			{% if form.user_features.errors %}
				<td class="error">{{ form.user_features.errors }}</td>
			{% endif %}
</tr>
<br />
<br />

<tr>
	<td class="f11 fdgray" width="140">{{ form.starts_on.label }}</td>
		<td>{{ form.starts_on }}</td>
			{% if form.starts_on.errors %}
				<td class="error">{{ form.starts_on.errors }}</td>
			{% endif %}
</tr>
<br />


<tr>
	<td class="f11 fdgray" width="140">{{ form.ends_on.label }}</td>
		<td>{{ form.ends_on }}</td>
			{% if form.ends_on.errors %}
				<td class="error">{{ form.ends_on.errors }}</td>
			{% endif %}
</tr>
<br />

<tr>
	<td class="f11 fdgray" width="140">{{ form.status.label }}</td>
		<td>{{ form.status }}</td>
			{% if form.status.errors %}
				<td class="error">{{ form.status }}</td>
			{% endif %}
</tr>
<br />
<br />

<table>
		<tr>
		<td>
		 	<INPUT TYPE="submit" id="submit_button" VALUE="Save" class="grayButton" > 
				 &nbsp;&nbsp;&nbsp;
				<input type="reset" class="grayButton" value="Cancel">

		</td>
		</tr>
	</table>
<div class="clear"></div>
{%endblock%}

