{% extends 'ppd/user_home.html' %}
{% block user_content %}
<div class="inner-content">
	<h1 class="head1">{{client_display_name}} Item list </h1>
	
	<div class="sku_search">
	<form method="get" action="">
	<span class="f11 fgray">sku id</span>
	<input type="text" id="sku_id" name="sku_id"/> 
	<input type="submit" id="sku_id_submit" value="Search" class="gray Button mart6" />
</form>
</div>

{% comment %}
<div class="clear"></div>
{%if searchitems%}
{% for i in searchitems.object_list %}
<tr valign ="top">
<td>{{i.id}},</td>
<td>{{i.product}},</td>
<td>{{i.sku}}</td>
</tr>
<br />
<br />
{% endfor %}
{% endif %}
<div class="clear"></div>

{%if search_pagination.enable_prev or search_pagination.enable_next%}
    <div class="pagination mart20"> 
	{% if search_pagination.enable_prev %} <a href="{{search_pagination.base_url}}page={{search_pagination.prev_page}}">Prev</a> {% else %} <a class="gray_link">Prev</a> {% endif %}
      {% for page in search_pagination.first_set %} <a href="{{search_pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
      {% if search_pagination.show_sep1 %} <span> ...</span> {% endif %}             
      {% for page in search_pagination.prev_set %} <a href="{{search_pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}                                         
      <div>{{search_pagination.cur_page}}</div>
      {% for page in search_pagination.next_set %} <a href="{{search_pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}           
      {% if search_pagination.show_sep2 %} <span> ...</span> {% endif %}
      {% for page in search_pagination.last_set %} <a href="{{search_pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
	  {% if search_pagination.enable_next %} <a href="{{search_pagination.base_url}}page={{search_pagination.next_page}}">Next</a> {% else %} <a class="gray_link">Next</a> {% endif %} 
      </div>  
	{% else %}
<tr>
	<td colspan="5" class="padl20 fred">No item found.whereeeeeeeeeee</td> 
</tr>
	{% endif %}
<div class = "clear"></div>
{% endcomment %}

<form id ="sku_page">
{% if srcitems.object_list %}
{% for src in srcitems.object_list %}
	<tr valign="top">
<td>{{src.id}}, </td>
<td>{{src.product}},  </td>
<td>{{src.sku}}</td>
<br />
<br />
</tr>
{% endfor %}
{% else %}
<tr><td colspan="5" class="padl20 fred">No item</td></tr>
{% endif %}

<div class="clear"></div>
{%if pagination.enable_prev or pagination.enable_next%}
    <div class="pagination mart20"> 
	{% if pagination.enable_prev %} <a href="{{pagination.base_url}}page={{pagination.prev_page}}">Prev</a> {% else %} <a class="gray_link">Prev</a> {% endif %}
      {% for page in pagination.first_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
      {% if pagination.show_sep1 %} <span> ...</span> {% endif %}             
      {% for page in pagination.prev_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}                                         
      <div>{{pagination.cur_page}}</div>
      {% for page in pagination.next_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}           
      {% if pagination.show_sep2 %} <span> ...</span> {% endif %}
      {% for page in pagination.last_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
	  {% if pagination.enable_next %} <a href="{{pagination.base_url}}page={{pagination.next_page}}">Next</a> {% else %} <a class="gray_link">Next</a> {% endif %} 
      </div>  
	{% endif %}
<div class = "clear"></div>
</form>
</div>
{% endblock %}
