{% extends 'web/ppd_base.html' %}
{% block content %}
<div class="inner-content">  
 <h1 class="head1">Team</h1>
  <div class="page">
 
  <div>
  <h2 class="team_header rc5">Kashyap Deorah - Founder and CEO</h2>
  <p>Kashyap co-founded Righthalf, the first campus start-up as part of the IIT Bombay Business Incubator. After a successful acquisition of Righthalf by Stratify (now acquired by Iron Mountain for $160MM), he moved to the Silicon Valley in late 2000. Since then, he has worked with high-tech startups doing sales, business development and product management. In August 2005, Kashyap started the US office of Geodesic (NSE: 503699) in the capacity of VP, Business Development. He maintains a <a href="http://glob.typepad.com" target="_blank">travel blog</a> where he logs his travels and tribulations. Kashyap graduated from IIT Bombay with a B. Tech. in Computer Science and Engineering. </p>
   <p class="team_follow">
  <a href="http://in.linkedin.com/pub/kashyap-deorah/0/414/310" title="Kashyap on LinkedIn" target="_blank">
<img src="{{MEDIA_URL}}images/ppd_images/linkedin.png" border="0px" alt="Kashyap on LinkedIn"/></a>
 <a href="http://www.twitter.com/righthalf" title="Kashyap on Twitter" target="_blank">
 <img src="{{MEDIA_URL}}images/ppd_images/twitter.png" border="0px" alt="Kashyap on Twitter"/></a>
  </p> 


 </div>
 <div>
  <h2 class="team_header rc5">Zishaan Hayath - Product</h2>
  <p>Zishaan worked with ITC Limited before joining Opera Solutions, a boutique consulting firm, as their first employee in India. He has worked in India, US and UK on consulting projects for a leading publishing house, large banks and financial services companies. He has also worked extensively on firm development and set up of Opera's new office in India. Zishaan dabbles in <a href="http://www.hayath.com/pointandshoot/" title="Photoblog" target="_blank">photography,</a> loves <a href="http://www.hayath.com/travels/" title="Travel blog" target="_blank">traveling</a>, and is a keen student of world cultures and world cities. Zishaan graduated from IIT Bombay  with a B. Tech and M. Tech in Civil Engineering.</p>
<p class="team_follow">
   <a href="http://www.linkedin.com/in/zishaan" title="Zishaan on LinkedIn" target="_blank">
    <img src="{{MEDIA_URL}}images/ppd_images/linkedin.png" border="0px" alt="Zishaan on LinkedIn"/></a>
     <a href="http://www.twitter.com/zishaan" title="Zishaan on Twitter" target="_blank">
     <img src="{{MEDIA_URL}}images/ppd_images/twitter.png" border="0px" alt="Zishaan on Twitter"/></a>
     </p>

 </div>
 
 <div>    
  <h2 class="team_header rc5">Hemanth Goteti - Technology</h2>
  <p>Hemanth is a businessman in an engineer's body. Hemanth has always been with start-ups and small teams doing software development for web-based consumer products and pre-sales service engagements. Before joining Chaupaati, he was part of the 3-person India team of Qlipmedia, a VC-funded start-up based out of Silicon Valley. Hemanth is an exceptional designer, agile developer and the coolest head in the room in the face of adversity. Hemanth graduated from IIT Bombay with a B.Tech. in Aerospace Engineering.</p>
<p class="team_follow">
   <a href="http://in.linkedin.com/in/hemanthgoteti" title="Hemanth on LinkedIn" target="_blank">
   <img src="{{MEDIA_URL}}images/ppd_images/linkedin.png" border="0px" alt="Hemanth on LinkedIn"/></a> 
   </p>

   </div>
   
   <div>
  <h2 class="team_header rc5">Amit Deorukhkar - Marketing</h2>
  <p>Amit has 8 years of experience in marketing, communications and media. His understanding of brand methodologies from an agency perspective brings focus to direct-to-consumer channel creation for leading Indian consumer brands. Before joining Chaupaati, he has worked on brands like P&G, Pantaloons Retail, BookMyShow.com, Infomedia 18, Mid-day and other retail and media brands as an independent entrepreneur and as an advertising agency professional. Amit is a graduate in Physics from Mumbai University and post graduate in advertising and marketing from Wigan & Leigh college of UK.   
  </p>

  
  </div>
  
  <div>
  <h2 class="team_header rc5">Nikhil Vaity - Operations</h2>
  <p>Nikhil has over 6 years of experience in the BPO industry and is a strong people manager. His focus on achieving business objectives through people-centric processes is exemplary and provides a good balance of process and team play. Before joining Chaupaati, he managed a team of 30 executives and 2 team leads at IBM Daksh, arguably one of the leading BPO  businesses in the world. He was consistently recognized by clients for achieving key metrics and was awarded Top Talent in year 2007, and People Manager Champion in year 2007 and 2008. Nikhil is a graduate in Chemistry from Mumbai University and an MBA from NMIMS.</p>
  
 <p class="team_follow">
  <a href="http://in.linkedin.com/in/nikhilvaity" title="Nikhil on LinkedIn" target="_blank"> <img src="{{MEDIA_URL}}images/ppd_images/linkedin.png" border="0" alt="Nikhil on LinkedIn"/></a> </p> 
  </div>
  
 <!-- <p>Also see <a href="/about/investors.html">Investors and Advisors</a>.</p>-->
</div>
</div>
<div class="clear"></div>
{% endblock %}
