{%load cc_tags%}
{%load web_tags %}
    <div id="daily_deal" class="daily_deals">
        {% if page == "home" %}
        {%if deal.type == "multiple" and deal.slug and deal.slug != " "%}
            <a href="stealoftheday/{{deal.slug}}/{{deal.id}}/" class="tdnone">
        {%else%}
            <a href="stealoftheday/{{deal_product.slug}}/{{deal.id}}/" class="tdnone">
        {%endif%}
        <img src="{{deal_images.0.banner.url}}" alt="{{deal.title}}" title="{{deal.title}}" width="988" height="300"/></a>
        {% endif %}

    {%if page == "detail" %}
        {%if deal.type == "single" %}
            {% ifequal deal_product.primary_rate_chart.get_fb_stock_status "instock"%}            
                <div class="left">
                <form action="{% cc_url request "orders/mycart" %}" id="add_to_cart_{{deal_rate_chart.id}}" method="post">
                    <input type="hidden" name="rate_chart_id" value="{{deal_rate_chart.id}}"/>
                    <input type="hidden" name="product_id" value="{{deal_product.id}}"/>
                    <input type="hidden" name="action" value="add_to_cart"/>
                    <input type="image" src="{{deal_images.0.banner.url}}" title="Buy this product now"  {%if id%}id="{{id}}"{%endif%}></input>
                </form>
                </div>
            {% endifequal %}
            {% ifnotequal deal_product.primary_rate_chart.get_fb_stock_status "instock"%}            
                <div class="left">
                <form action="{% cc_url request "orders/mycart" %}" id="add_to_cart_{{deal_rate_chart.id}}" method="post">
                    <input type="image" src="{{deal_images.0.banner.url}}" title="Buy this product now"  disabled {%if id%}id="{{id}}"{%endif%}></input>
                </form>
                </div>
            {% endifnotequal %}
        {%endif%}
        {%if deal.type == "multiple"%}
            <div class="left">
                <a href="#Stealnow"><input type="image" src="{{deal_images.0.banner.url}}" title=""></input></a>
            </div>
        {%endif%}
    {%endif%}
        <div class="steal_timer sptwo fblack">
            Offers closes in <span class="f14 fb"><span class="hr"></span>hrs : <span class="min"></span>mins : <span class="sec"></span>secs</span>
        </div>
        <div class="clear"></div>
    </div>
