{%extends "web/base.html"%}
{% block page_title %} {{ deal_product.title }} {% endblock %}
{% block page_desc %}Daily Steal: Exciting new deal everyday.{% endblock %}

{%load web_tags%}
{%load cc_tags%}
{%block content%}
<div class="deals marb10 mart10">
    {%get_banner_content request deal "detail" %}

</div>
<div class="daily_deals_details">
  <div class="daily_deals_details_left mart20">
    <h1>{%if deal.title%}{{deal.title}}{%else%}{{deal_product.title}}{%endif%}</h1>
    <p>{%if deal.description%}{{deal.description|safe}}{%else%}{%if deal_product.description != "--" and deal.type == "single"%}{{deal_product.description|safe}}{%endif%}{%endif%}
    </p>
 
      <table class="mart20 marb20" >
      <tr>
      <td class="like_tw">  
     {%if deal.type == "multiple"%}
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://{{request.client.domain}}stealoftheday/{{deal.slug}}/{{deal.id}}" data-text="would love to buy this!" data-count="horizontal" data-via="futurebazaar">tweet</a>
        <td class="like_fb">
        <fb:like show_faces="no" href="http://{{request.client.domain}}stealoftheday/{{deal.slug}}/{{deal.id}}"></fb:like>    
      </td>
     {%else%}
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://{{request.client.domain}}{% cc_url request deal_product.url%}" data-text="would love to buy this!" data-count="horizontal" data-via="futurebazaar">tweet</a>
      <td class="like_fb">
        <fb:like show_faces="no" href="http://{{request.client.domain}}{%cc_url request deal_product.url%}"></fb:like>    
      </td>
     {%endif%}
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </td>

      </tr>      
      </table>   
    {%if deal.type == "multiple"%}
    <form method="post" action="">
        <a name="Stealnow"><h2 class="mart20">Select a product to continue buying</h2></a>
        <ul class="dod_grid mart10">
        {%for product in prod_list%}
        <li class="left">
            <div class="dod_item_title" style="width:120px;"><input type="checkbox" name="deal_{{product.product.id}}" {%if forloop.counter == 1 %}checked{% endif %}/> {{product.product.title|truncate:40}}</div>
            <img src="{{product.product.get_large_thumb_url}}" width="140" height="140" title="{{product.product.title}}" alt="{{product.product.title}}"/>
            
            <div>
            {%if product.sizes%}
                <div class="type left" style="vertical-align:middle;">Size &nbsp;&nbsp;</div>
                <div class="ca left">
                    <select name="selected_variants">
	            	{%for size in product.sizes%} 
                    	<option value="variant_{{product.product.id}}_{{size.variant.id}}">{{size.size}}</option> 
                    {%endfor%}
                	</select>
                </div>
            {%endif%}
        <div class="clear"></div>
            </div>
        </li>
        {%endfor%}
        </ul>
        <div class="clear"></div>
    
   {%endif%} 
        {%if deal.manufactures_warranty or in_box_content or deal.features or deal_product.productfeatures_set.all %}
            <h2> <span class="fn">Features & Description for </span>{{deal_product.title}}</h2>
        {%endif%}
      {%if deal.manufactures_warranty%}
      <div class="featuregroup">
        <h3>Warranty</h3>
        <ul>
            Manufacturer's Warranty {{deal.manufactures_warranty}} 
        </ul>
      </div>
      {%endif%}
        {%if deal.features%}
            <div class="featuregroup">
            <h3>Features</h3>
     
            <ul>
                {%for feature in deal.features|split_text:"\r\n"%}
                        <li>{{feature}}</li>    
                {%endfor%}
            </ul>
            </div>
        {%else%}
              {%feature_tag deal_product "False"%} 
        {%endif%}
          {%if in_box_content%}
              <div class="featuregroup">
                <h3>In the box</h3>
                <ul>
                    {%if deal.in_box_accessories%}
                        {%for feature in deal.in_box_accessories|split_text:"\r\n"%}
                                <li>{{feature}}</li>
                        {%endfor%}
                    {%else%}
                        {{in_box_content|safe}}
                    {%endif%}
                </ul>
              </div>
          {%endif%}

        {% if deal_product.video_embed and deal.type == "single"%}
         <div>
            <h3>Product Video</h3>
            <div class="pad10">
                <object width="500" height="250">
                <param name="movie" value="{{deal_product.video_embed}}">
                <param name="allowFullScreen" value="true">
                <param name="allowscriptaccess" value="always">
                <embed src="{{deal_product.video_embed}}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="250">
                </embed>
                </object>
            </div>
        </div>
        {% endif %}  

        {% ifequal deal_product.primary_rate_chart.get_fb_stock_status "instock"%}            
            {%if deal.type == "multiple"%}
                <button type="submit" title="Buy this product now" class="btn_steal_now mart20 cp" {%if id%}id="{{id}}"{%endif%}></button>             
            </form>
            {%else%}
            <form action="{% cc_url request "orders/mycart" %}" id="add_to_cart_{{deal_rate_chart.id}}" method="post">
                <input type="hidden" name="rate_chart_id" value="{{deal_rate_chart.id}}"/>
                <input type="hidden" name="product_id" value="{{deal_product.id}}"/>

                <input type="hidden" name="action" value="add_to_cart"/>
                <button type="submit" value="" title="Buy this product now" class="btn_steal_now mart20 cp" {%if id%}id="{{id}}"{%endif%}></button>
            </form>
            {%endif%}
        {% endifequal %}
        {% ifnotequal deal_product.primary_rate_chart.get_fb_stock_status "instock"%}            
            <div class="left">
            <form action="{% cc_url request "orders/mycart" %}" id="add_to_cart_{{deal_rate_chart.id}}" method="post">
                <input type="hidden" name="rate_chart_id" value="{{deal_rate_chart.id}}"/>
                <input type="hidden" name="product_id" value="{{deal_product.id}}"/>
                <input type="hidden" name="action" value="add_to_cart"/>
                <input type="submit" value="" class="btn_steal_now mart20 cp" title="Buy this product now"  disabled {%if id%}id="{{id}}"{%endif%}></input>
            </form>
            </div>
        {% endifnotequal %}


</div>
<div class="daily_deals_rightbar mart20">
<!--<div class="activity_members">
  <h6>Activity by Members</h6>
 
<div id="buzzez" class="buzz_scroll"> </div>
</div>
-->
</div>
<div class="clear"></div>
</div>
{%endblock%} 
{%block script_footer%}
{{block.super}}
<script type="text/javascript" >
var current_pay = 0;
var speed_pay=400;
var pages = {{total_old_pages}}
$('.steal_next').click(function(){
    if(current_pay < pages-1){
        if (current_pay < 0){
            current_pay = 0;
        }

        current_pay += 1;
        var margin = current_pay * -265;
        var marginpx = margin + 'px';
        $('#deals_slider').animate({marginLeft:margin}, speed_pay,'linear' , function(){});
        
        $('#deals_missed').html((current_pay+1)+' of '+ pages)
    }
});
$('.steal_prev').click(function(){
    if(current_pay >= 1)
{
        if(current_pay > pages){
            current_pay = pages-1;
        }

        current_pay -=1 
        var margin = current_pay * -265;
        var marginpx = margin + 'px';
        $('#deals_slider').animate({marginLeft:margin}, speed_pay,'linear' , function(){});
        
        $('#deals_missed').html((current_pay+1)+' of '+ pages)
    }
})
</script>
<script type="text/javascript">
    Timers.initST({{deal.remaining_time.0}}, {{deal.remaining_time.1}}, {{deal.remaining_time.2}}, {{deal.remaining_time.3}});
    Timers.start();
</script>
<script type="text/javascript">
    function ajaxws(aType, srcId) {
        if (srcId == "") {srcId = 0}
        var url = "/as/write-stream/"+aType+"/"+srcId+"/";        
        $.ajax({
            type: "GET",
            url: url,
            data: "",
            success: function(msg){              
            }
        });
    };
</script>
<script type="text/javascript">
    FB.Event.subscribe('edge.create', function(href) {      
        var ufid = "{{facebookid}}";
        var attch_fb = '';
        FB.api('/me', function(response) {
            if (ufid != response.id){             
                $("#pop").dialog();
                auth_check();
            };     
        ajaxws("Like", "{{deal.rate_chart.product.primary_rate_chart.id}}");
        });
    });
    function auth_check() {
        FB.Event.subscribe('auth.login', function(response) {
            FB.getLoginStatus(function(res) {
                if(res.session.uid) {
                    FB.api('/me', function(response1) {                      
                    }); 
                };
            });
        });
    };
</script>
{%endblock %} 
