{% extends "web/base.html" %}
{% load web_tags %}
{% load cc_tags %}
{%block content%}
<div class=" mart10">
<div style="position:relative; ">
    <a href="/stealoftheday/friday-deals/1" title="Steal Of The Day" class="tdnone">
        <div class="deal_timer">
                <div class="steal_timer sptwo fblack">Offers closes in 
                        <span class="f14 fb">
                        <span class="hr"></span>hrs : 
                        <span class="min"></span>mins : 
                        <span class="sec"></span>secs
                        </span>
                    </div>
        </div>
        {% if deal.banner_image%}
            <img src="{{deal.banner_image.url}}" width="988" height="300" />
        {% endif %}       
    </a>
</div>

<div class="friday_deals_nav">
    <span><a href="/freaking-friday-deals/" {%if tag_filter == 'all-offer'%}class="selected"{%endif%}>ALL DEALS</a></span>
    {%for nav_filter in navigation_filters %}
        <span>|</span>
        <span><a href="/freaking-friday-deals/{{nav_filter.tag.tag}}/"{%if tag_filter == nav_filter.tag.tag%}class="selected"{%endif%} >{{nav_filter.tag.display_name}} ({{nav_filter.tag_count}})</a></span>
    {%endfor%}
</div>
<div class="mart20 " id="special_products">
    {% show_friday_deal_products request active_products deactive_products%}
</div>

<div class="clear"></div>
</div>
  {%if pagination.enable_next%}
    <div id="ajax_loader" class="ca hide mart10"><img src="{{MEDIA_URL}}images/ajax-loader.gif" ></div>
        <div class="fb f16 mart10 pad5 rc5 " id="see_more_tab">
            <div class="ca cp see_more_deals">See More Deals</div>
        <div class="clear"></div>
    </div>
  {%endif%}
{% endblock%}
{% block script_footer%}
{{block.super}}

<script type="text/javascript">
$(document).ready(function(){
    var nxt_page_no = 2;
    var total_pages = {{total_pages}};

    if(nxt_page_no > total_pages){
        $("#see_more_tab").addClass("hide");
    };
    var status = "1 - {{pagination.result_to}} of {{total_results}} Items";
    
    $("#see_more_tab").click(function(){
        if(nxt_page_no <= total_pages){
            $("#ajax_loader").removeClass("hide");
            $("#see_more_tab").addClass("hide");
            var action = "{{pagination.base_url|safe}}" + "page=" + nxt_page_no;
            var data = "";
            var onSuccess = function(response){
                $("#special_products").append(response);
                //var OffsetTarget = "#grid_special_" + nxt_page_no;
                //$("html,body").animate({scrollTop:$(OffsetTarget).offset().top}, 1000,"linear" , function(){});
                $("#see_more_tab").removeClass("hide");
                $("#ajax_loader").addClass("hide");
                nxt_page_no += 1;
                if(nxt_page_no > total_pages){
                    $("#see_more_tab").addClass("hide");
                };
            };
            var onError = function(){};

            $.ajax({
                url : action,
                data : data,
                success : onSuccess,
                error : onError,
                type: "GET"
            });
        }
        else{
            $("#see_more_tab").addClass("hide");
        };
        return false;
    });
    var curr_page = 2;
    $(window).scroll(function(){
        var winheight = $(window).height() * (curr_page - 1);
        var scrolltop = ($(window).scrollTop());      
          
        if (scrolltop > winheight && nxt_page_no == curr_page)
        {
            curr_page += 1;
            $("#see_more_tab").trigger('click');
            
        }
    });
})
</script>
<script type="text/javascript">
$(document).ready(function(){
    Timers.initST({{deal.remaining_time.0}}, {{deal.remaining_time.1}}, {{deal.remaining_time.2}}, {{deal.remaining_time.3}});
    Timers.start();
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    {% for item in active_products %}
        Timers.friday_dealTimer{{forloop.counter}} = new DigitalTimer(
                    "div#friday_deal_timer{{forloop.counter}}" + " span.day", 
                    "div#friday_deal_timer{{forloop.counter}}" + " span.hr", 
                    "div#friday_deal_timer{{forloop.counter}}" + " span.min", 
                    "div#friday_deal_timer{{forloop.counter}}" + " span.sec", 
        {{item.deal.remaining_time.0}}, {{item.deal.remaining_time.1}}, {{item.deal.remaining_time.2}}, {{item.deal.remaining_time.3}},"steal", {{forloop.counter}})
        setInterval("Timers.friday_dealTimer{{forloop.counter}}.tick()",1000);
    {% endfor %}
});
</script>
<script type="text/javascript">
</script>
{% endblock %}
