{% load web_tags cc_tags%}

{% for item in active_products %}
  <div class="deal_item deal_offer_item">
    <div class="deal_item_name">
      <h3 title="{{item.product_title}}"><a href="{% cc_url request item.product_url %}">{{item.product_title|truncate:40}}</a></h3>
    </div>
    <div class="deal_img">
        {%if item.price_info.savings > 0.0 %}
        <div class="deal_save ca">Save <br>
            <span class="WebRupee">Rs. </span>{{item.price_info.savings|money}}<br>
            ({{item.price_info.discount}}%) 
        </div>
        {% endif %}

      <a href="{% cc_url request item.product_url %}"> <img src="{{item.product_images.0.get_large_thumb_url}}" width="150" height="150" title="{{item.product_title}}" alt="{{item.product_title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_s.jpg" %}';}return false;" onerror_cnt="0" /> </a> 
    </div>
    <div class="mrp_price">
         MRP <span class="WebRupee">Rs. </span> 
        <span class="fs">{{ item.price_info.list_price|money}}</span>
        {% if item.fixed_offer_price %}
            | Offer Price 
            <span class="WebRupee">Rs. </span> 
            <span class="fs">{{item.fixed_offer_price|money}}</span> 
        {% endif %}
    </div>
    <div class="special_price">Special Price <span class="f18"><span class="WebRupee">Rs. </span> {{ item.price_info.offer_price|money }}</span></div>
    <div class="ca" style="">
      <a href="{% cc_url request item.product_url %}" class="btn_buynow" title="Buy Now"></a>
    </div>
    <div class="deal_timer fb" id="friday_deal_timer{{forloop.counter}}">
      <div>2 Hrs Special Price Ends in </div>
      <div class="fb 18">
            <span class="hr f12"></span>hr : 
            <span class="min f12"></span>mins :
            <span class="sec f12"></span>sec
      </div>

    </div>
  </div>
{% endfor %}
{% for item in deactive_products %}
  <div class="deal_item" id="grid_special_{{pagination.cur_page}}" >
    <div class="deal_item_name">
      <h3 title="{{item.product_title|title}}"><a href="{% cc_url request item.product_url %}" title="{{item.product_title|title}}">{{item.product_title|title|truncate:40}}</a></h3>
    </div>
    <div class="deal_img">
        {%if item.price_info.savings > 0.0 %}
        <div class="deal_save ca">Save <br>
            <span class="WebRupee">Rs. </span>{{item.price_info.savings|money}}<br>
            ({{item.price_info.discount}}%) 
        </div>
        {% endif %}
      <a href="{% cc_url request item.product_url %}"><img src="{{item.product_images.0.get_large_thumb_url}}" width="150" height="150" title="{{item.product_title|title}}" alt="{{item.product_title|title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_s.jpg" %}';}return false;" onerror_cnt="0" /> </a> 
    <div class="mrp_price mart20">
         MRP <span class="WebRupee">Rs. </span> 
        <span class="fs">{{item.price_info.list_price|money}}</span> 
    </div>
    <div class="special_price">Special Price <span class="f18"><span class="WebRupee">Rs. </span>
    {{item.price_info.offer_price|money}}</span></div>
    <div class="ca">
      <a href="{% cc_url request item.product_url %}"  class="btn_buynow" title="Buy Now"></a>
    </div>
    <div> </div>
  </div>
</div>
{%endfor%}
