{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}
<script type="text/javascript">
$(document).ready(function(){
    $('.edit_address').click(function(){
        var url = '/user/popup/?id=' + this.id;
        var dialog;
        $.get(url,function(html){
            $('#address_container').html(html);
             $('#bg,#address_container').fadeIn(100);
            var onSubmitAlias = null;
            var onSuccess = function(responseText){
                if(responseText){
                    var response = $.parseJSON(responseText);
                    if(response.status == 'ok')
                    {
                        location.reload();
                    }
                    if(response.status == 'error')
                    {
              
                    	$('#error_msg').removeClass('hidden');
						var error_msg = '<ul>';
						for(var key in response.error){
							if(response.error[key]){
								for (var i in response.error[key]){
									error_msg = error_msg + '<li>' + response.error[key][i] + '</li>';
								}
							}
						}
						error_msg = error_msg +  '</ul>';
						$('#error_msg').html(error_msg);
                       
                    }
                 }//end of if response.status == error
                else
                {
                 //   alert("DONE VALID");
                //    window.location.href="/user/address/";
                    //$(dialog).dialog('close');
                   // return false;
                }
            };
            var onError = function(){
                alert("onError");
                $('#my_profile_form').submit(onSubmitAlias);
            };
            var onSubmit = function(){
        //        alert("Came in address.html's onSubmit function");
                var form =this;
                var action = form.action;
                var form_data = $('#my_profile_form').serialize();
                $.ajax({
                    url : action,
                    data : form_data,
                    success : onSuccess,
                    error : onError,
                    type : "POST"
                });
                return false;
            };
            onSubmitAlias = onSubmit;
            $('#my_profile_form').submit(onSubmit);
        }); //end of $.get(url, function(html)
        //return false;
    
    }); //end of $('.edit_address').click(function()

    $('.delete_address').click(function(){
        var r=confirm("Are you sure you want to delete this address?");
        if (r==true)
        {
            var add_id = this.id;
            var data = 'id=' + add_id;
           // alert("Delete this address that has the address id " + data)
            var onSuccess=function(){
             /*   if (responseText=='deleted')
                {
                    alert("IN DELTD"); 
                    
                }
                else
                {
                    alert("Address not deleted");
                }*/
            };
            window.location.reload();
            var onError=function(){
                alert("Error");
                };
            $.ajax({
                    url : '/user/delete_address/',
                    data : data,
                    success : onSuccess,
                    error : onError,
                    type : "POST"
                });
        }
        window.location.reload();
    });


 });
</script>

<div id="delivery_info" style="width:355px"></div>
<div style="padding:0px; margin-top:1px; margin-bottom:15px;">
<div id="bg"></div>
<div class="clear"></div>

<div style="background-color:#fff; width:590px; float:left; margin:0px 20px 10px 10px;">

{% if addresses %}
{%for address in addresses%}

<div class="ship_address rc5 shadow_four">  
       <div class="dname">{{address.first_name}}{{address.last_name}}
      </div>
       <div class="daddress" style="overflow:hidden; height:18px;">{{address.address}}</div>
       <div class="dcity">{{address.city.name}} <span class="dpincode">{{address.pincode}}</span></div>
       <div class="dstate">{{address.state.name}}, <span class="dcountry">{{address.country.name}}</span></div>
       <div class="dphone">Tel: {{address.phone}}</div>   
        <div class="dusethis"  style="visibility:visible; margin-bottom:5px;">       
            <span class="f11 fdgray">
        {% if address.defaddress %}
                (This is your default address)
            {% else %}
            <br />
       {% endif %}
        </span>  
        </div>
      <div class="la">
      <button type="button" class="linkButton edit_address" id="{{address.id}}">Edit</button>&middot;<button type="button" id="{{address.id}}" class="linkButton delete_address">Delete</button>
     {% if address.profile.default_address == address.id %}
        <div> Default Address </div>
    {% endif %}
      </div>
    </div> 

{%endfor%}
{% endif %}    	
<div class="clear"></div><br /><br />
</div>
<div class="right" style="width:220px;" >

<div class="address rc5 padding5 f11 fdgray">
<div class="f16">Address Boook</div>
Address boook helps you save your frequently used shipping addresses so you can check out faster. 
</div>
  <button type="button" class="edit_address right" id="-1" style="padding:3px; width:220px;  margin-top:10px;">Add Shipping Address</button>  
</div>
</div>
<div id="address_container"></div>
<div class="clear"></div>
{%endblock%}

