{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}

<div style="padding:0px; margin-top:1px; margin-bottom:15px; ">
<div style="width:350px;" class="left">
<fieldset>
    <legend>Change Password</legend>
<div><span class="spn_left">New Password</span><span><input type="text" name="mobile" size="25"/></span></div>
<div><span class="spn_left">Retype Password</span><span><input type="text" name="mobile" size="25"/></span></div>
 </fieldset>

</div>

<div class="clear"></div>
<div class="left">
<input type="image" src="{{MEDIA_URL}}images/save-90x25.gif" value="" class="left"/>&nbsp;
 <button id="cancel" class="linkButton" style="margin-top:5px;">CANCEL</button>
 </div>
<div class="clear"></div>
</div>
{%endblock%}
