{% extends 'web/base.html' %}
{% block content %}
<div class="breadcrumb">&nbsp;        
</div>
{% load cc_tags %}
{% load web_tags %}

<div class="forgot_pw" style="padding:20px 50px;">

<h1>Forgot your password?</h1>
<p>Chaupaati will send password reset instructions to contact details associated with your account.</p>
<div class="rc5">
{%if warn_it%}
<p class="error">Please type an existing Email / Mobile.</p>
{%endif%}
<form action="/password_info_sent/" method='POST'>
<span class="fdgray f11">Please type your <strong>Email / Mobile</strong> below.</span><br />
<input type="text"name="info" value="{{info}}" /><br />
<button type="submit">Send Instructions</button>

</form>
</div>

{%endblock%}
