{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}
    <div style="clear:both;"></div>
   <!-- <div style="float:left; margin-bottom:5px;">
        <div class="order_state no_left_border {%ifequal state 'confirmed'%}filter_selected black_link{%endifequal%}">
        <strong>Confirmed Orders</strong>
        </div>
        {% ifequal acc.section 'sales'%}
        <div class="order_state {%ifequal state 'pending'%}filter_selected black_link{%endifequal%}"><strong>Pending Orders</strong></div>{%endifequal%}
    </div>-->
        <form method="post" action="{{action}}">
        <input type="text" id="order_id" name="order_id"/>&nbsp;<input type="submit" value="Search"/>
        </form>
  <!--  </div>-->
   <!-- <div class="clear"></div>  -->
<table cellspacing="0" cellpadding="0" class="orderTable">
<tr>
    <th width="70">Order No</th>
    <th>Order Date</th>
    <th>MRP Total</th>
    <th>Discount</th>
    <th>Special Discount</th>
    <th>Shipping Charges</th>
    <th>Payable Amount</th>
</tr>
{%if orders%}
{%for order in orders%}
<tr valign="top"> 
    <td style="text-align:center;"><a href="{%cc_url request ''%}{%ifequal logged_user.buyer_or_seller "Seller"%}seller{%else%}user{%endifequal%}/orders/{{order.id}}/">{{order.id}}</a></td>
    <td>{%if order.payment_realized_on%}{{order.payment_realized_on|date}}{%else%}{{order.timestamp|date}}{%endif%}</td>
    <td>{{order.formatted_currency}} {{order.list_price_total|money}}</td>
    <td>{{order.formatted_currency}} {{order.get_discount|money}}</td>
    <td>{{order.formatted_currency}} {{order.coupon_discount|money}}</td>
    <td>{{order.formatted_currency}} {{order.shipping_charges|money}}</td>
    <td>{{order.formatted_currency}} {{order.payable_amount|money}}</td>
</tr>
{%endfor%}
{%else%}
<tr>
	<td colspan="7" style="color:#FF0000">No order found.</td>
</tr>
{%endif%}
</table>
<div class="clear"></div>
{%endblock%}
