{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}
<div style="clear:both;"></div>
<div class="order_no">
<div style="float:left;"><b>Order No:</b><br />
 {{order.id}}</div>
 <div style="float:right; margin-left:150px;"><b>Order Date:</b><br />
     {%if order.payment_realized_on%}{{order.payment_realized_on|date:"d/m/Y"}}{%else%}{{order.timestamp|date:"d/m/Y"}}{%endif%}</div>
<!--<div style="float:right; margin-left:150px;"><b>Status:</b><br />
 {{order.state}}</div>-->
<div class="clear"></div>
</div>

<div class="order_left_cont">
<div class="cart_summary roundcorner5">
    <div class="ca bglyellow padding10 bb toproundcorner5"><b>ORDER SUMMARY</b></div>
    <div class="padding10">
        <table cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td class="f11 fdgray">MRP:</td>
                <td>{{order.formatted_currency}} {{order.list_price_total|money}}</td>
            </tr>
            <tr>
                <td class="f11 fdgray">Discount:</td>
                <td>{{order.formatted_currency}} {{order.get_discount|money}}</td>
            </tr>
           {%if order.coupon_discount%}
           <tr><td class="gray_text"><strong>Spl Discount:</strong></td><td>{{order.formatted_currency}} {{order.coupon_discount|money}} </td></tr>
           {%endif%}
            <tr>
                <td class="f11 fdgray bbs">Shipping:</td>
                <td class="bbs"><span id="orderShippingCharges">{{order.formatted_currency}} {{order.shipping_charges|money}} </span></td>
            </tr>
            <tr>
                <td class="fdgray f11">Total:</td>
                <td class="fmaroon f14 fb"><span id="orderPayableAmount">{{order.formatted_currency}} {{order.payable_amount|money}} </span></td>
            </tr>
        </tbody></table>
    </div>
</div>

<div class="cart_summary roundcorner5">
    <div class="ca bglyellow padding10 bb toproundcorner5"><b>SHIPPING ADDRESS</b></div>
   <div class="padding10 marginl10">
         <div class="dname">{{delivery_info.address.first_name}} {{delivery_info.address.last_name}}</div>
         <div class="daddress">{{delivery_info.address.address}}</div>
         <div class="dcity">{{delivery_info.address.city}} <span class="dpincode">{{delivery_info.address.pincode}}</span></div>
         <div class="dstate">{{delivery_info.address.state}}, <span class="dcountry">{{delivery_info.address.country}}</span></div>
         <div class="dphone">Tel: {{delivery_info.address.phone}}</div>
    </div>
</div>
</div>

<div class="order_detail_cont">
<table cellspacing="0" cellpadding="0" class="orderDetail" >
    <tr>
        <th>Item</th>
       <!-- <th>Dispatched On</th>
        <th>Shipping Details</th>-->
        <th width="80">Price</th>
        <th width="80">Shipping</th>
        <th width="80">Qty</th>
        <th width="80">Amount</th>
    </tr>
    {%for item in order_items%}
    <tr>
        <td class="bbnone">{{item.item_title}}</td>
       <!-- <td>{{item.dispatched_on|date:"d/m/Y"}}</td>
        <td valign="top"><a href="{{item.shipping_details.0.tracking_url}}">{{item.shipping_details.0.courier}}</a><br />
            (<b>Trac:</b>{{item.shipping_details.0.tracking_no}})</td>-->
        <td class="bbnone">{{order.formatted_currency}} {{ item.sale_price|division:item.qty|money}}</td>
        <td class="bbnone">{{order.formatted_currency}} {{item.shipping_charges|division:item.qty|money}}</td>
        <td class="bbnone">{{item.qty}}</td>
        <td class="bbnone">{{order.formatted_currency}} {{item.payable_amount|money}}</td>
    </tr>
    <tr>
    <td colspan="5"><span class="left f11" style="color:#808080;">{%if item.dispatched_on%}Shipped on {{item.dispatched_on|date}} by <a href="http://{{item.shipping_details.0.tracking_url}}" target="_blank">{{item.shipping_details.0.courier}}</a> (AWB: {{item.shipping_details.0.tracking_no}}){%endif%} </span>
    </td>
   </tr>
    {%endfor%}
</table>
<div style="clear:both"></div>
</div>
<div class="clear"></div>
{% endblock %}
