<!--Pop Up-->
<script type="text/javascript">
$(document).keyup(function(e) {
    if (e.keyCode == 27)
    { $('.closeit').click(); }   // esc
});

$("#id_pincode").blur(function(){
    $('<img src="{{MEDIA_URL}}images/wait20.gif" />').prependTo("#cityname_image").attr('prepended','yes').fadeOut(2500);
    $('<img src="{{MEDIA_URL}}images/wait20.gif" />').prependTo("#statename_image").attr('prepended','yes').fadeOut(3000);
    $('<img src="{{MEDIA_URL}}images/wait20.gif" />').prependTo("#countryname_image").attr('prepended','yes').fadeOut(3500);
    var entered_pincode = $("#id_pincode").val();
    var jData=entered_pincode;
    function getLocation(jData){
        $('#id_cityname').attr('disabled','disabled');
        $('#id_statename').attr('disabled','disabled');
        $('#id_countryname').attr('disabled','disabled');
        var country = 'IN';
        var postalcode = jData;
        var requesturl = 'http://api.geonames.org/postalCodeLookupJSON?postalcode=' + postalcode  + '&country=' + country  + '&username=shagun';
        $.get(requesturl, function(data){
            $("[prepended=yes]", "#cityname_image").remove();
            $("[prepended=yes]", "#statename_image").remove();
            $("[prepended=yes]", "#countryname_image").remove();
            $('#id_cityname').removeAttr('disabled');
            $('#id_statename').removeAttr('disabled');
            $('#id_countryname').removeAttr('disabled');
            if (data.postalcodes.length)
            {
                city = data.postalcodes[0].adminName2;
                state = data.postalcodes[0].adminName1;
                country = 'India';
                $("#id_cityname").val(city);
                $("#id_statename").val(state);
                $("#id_countryname").val(country);
            }
        });
    }
    getLocation(jData);
});
$(".closeit").click(function(){
             $("#bg, #address_container").fadeOut(100);
});
</script>

<div  class="padding10" id="delivery_table">


<form method="POST" action="/user/popup/" id="my_profile_form" name="shipping_info_form">
<div id="post_errors"></div>
<div id="error_msg" class="error hidden"></div>
 {% if form.errors %}
          <p style="color: red;">
                      Please correct the error{{ form.errors|pluralize }} below.
          </p>
  {% endif %}
   
                    <div>
                            <input type="hidden" value={{idget}} name="old_address">
                         
                    </div>
                    <div class="f11" id="delivery_address_block">
                        <div class="padding_bot5">
                            {{form.name.errors}}
                            <div> {{form.name.label}} <span class="mand">*</span><div id="name_error"></div></div>
                            {{form.name}}
                        </div>
                        {{form.address.errors}}
                        <div class="padding_bot5">
                            <div>{{form.address.label}} <span class="mand">*</span><div id="address_error"></div></div>
                            {{form.address}}
                        </div>
                        <div class="padding_bot5">
                            <div class="fll">
                                {{form.pincode.errors}}
                                <div class="f11">{{form.pincode.label}} <span class="mand">*</span><div id="pincode_error"></div></div>
                                <div id="pincode_entry">
                                {{form.pincode}}
                                &nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="fll">
                                {{form.cityname.errors}}
                                <div class="f11" id="cityname_image">{{form.cityname.label}} <span class="mand">*</span><div id="cityname_error"></div></div>
                                {{form.cityname}}
                            </div>
                            <div class="clear"></div>
                        </div>
                       <div class="padding_bot5">
                            <div class="fll">
                                {{form.statename.errors}}
                                <div class="f11" id="statename_image">{{form.statename.label}} <span class="mand">*</span><div id="statename_error"></div></div>
                                {{form.statename}}
                                &nbsp;&nbsp;
                            </div>                         
                            <div class="fll">
                                {{form.countryname.errors}}
                                <div class="f11" id="countryname_image">{{form.countryname.label}} <span class="mand">*</span><div id="countryname_error"></div></div>
                                {{form.countryname}}
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="fll padding_bot5">
                                {{form.phone.errors}}
                                <div class="f11">{{form.phone.label}} <span class="mand">*</span><div id="phone_error"></div></div>
                                {{form.phone}}
                                &nbsp;&nbsp;
                            </div>
                            <div class="fll">
                                {{form.email.errors}}
                                <div class="f11">{{form.email.label}} <span class="mand">*</span><div id="email_error"></div> </div>
                                {{form.email}}
                            </div>
                            <div class="clear"></div>
                        </div>
                       
                    </div> 
                      {% if not default_addr %}
                    <div class="padding_bot5"> 
                        <input type="checkbox" value="1" name="default_addr"> Make this the default address
                    </div>
                    {% endif %}

  <INPUT TYPE="submit" class="submit_address" value="Save" />
  <INPUT TYPE="reset" VALUE="Reset">
</form>
  <div class="closeit"  style="">Close</div>   
  </div> 
