{%load cc_tags%}
{%load web_tags%}
<div class="item">
    {% for product in products %}
    <div id="{{ forloop.counter }}" class="product_grid_item nobb">
         <div class="thumb"> <a href="{%cc_url request product.product.url%}"> {% if product.product.productimage_set.all.0 %}<img src="{{product.product.productimage_set.all.0.thumbnail_image.url}}" title="{{product.product.title}}" height="75" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{{MEDIA_URL}}images/noimage.png';}return false;" onerror_cnt="0" alt="{{product.title}}"/>{%else%}<img src="{{MEDIA_URL}}images/noimage.png" width="75" height="75" alt="" title="No image available for {{product.product.title}}"/>{% endif %}</a> 
         </div>
         <div class="summary">
                    <h3><a title="{{product.product.title}}" href="{%cc_url request product.product.url%}">{{product.product.title|truncate:40}}</a></h3>
                    <div class="pricing">
                        {% if product.rateChart.list_price > product.rateChart.offer_price %}
                            <div class="f11 fs fdgray">{{product.product.formatted_currency}} {{product.rateChart.list_price|money}}
                            </div>
                        {% endif %}
                        <div class="fmaroon f14"><strong>{{product.product.formatted_currency}} {{product.rateChart.offer_price|money}}</strong>
                        </div>
                    </div> <!--end of div class = pricing -->
          </div> <!-- end of div class = summary -->
      </div> <!-- end of div id = .. -->
    {% endfor %}
</div>
