<table align="center">
    <tr>
        <td>
            <a class="{% if '/upload-template/' in request.path %}build-hupt{% else %}build-hupt1{% endif %}" href="/build-document/upload-template/">Upload Template</a>
        </td>
        <td>
            <a class="{% if '/template-details/' in request.path %}build-hupt{% else %}build-hupt1{% endif %}" href="/build-document/template-details/">Template Details</a>
        </td>
        <td>
            <a class="{% if '/create-questionnaire/' in request.path %}build-hupt{% else %}build-hupt1{% endif %}" href="/build-document/create-questionnaire/">Create Questionnaire</a>
        </td>
        <td>
            <a class="build-hupt1" href="YOUR-URL">Finalize Template</a>
        </td>
    </tr>
</table>
