{% extends 'web/base.html' %}
{% load question_tags %}
{% block content %}
<div class="padding_top10">
    <form action="" method="POST" id="final-questionnaire-form" name="final-questionnaire-form">
    <div class="question-details">
        <table>
            <tbody>
                <tr>
                    <td>{{ form.title.label }}</td>
			        <td>{{ form.title }}</td>
                    <td>{{ form.offer_price.label }}</td>
                    <td>{{ form.offer_price }}</td>
                </tr>
                <tr>
                    <td>{{ form.category.label }}</td>
			        <td>{{ form.category }}</td>
                    <td>{{ form.time_to_build.label }}</td>
                    <td>{{ form.time_to_build }}</td>
                </tr>
                <tr>
                    <td>{{ form.upload_document.label }}</td>
			        <td>{{ form.upload_document.value }}</td>
                    <td>{{ form.information.label }}</td>
		            <td>{{ form.information }}</td>
                </tr>
                <tr>
                    <td>{{ form.upload_text.label }}</td>
			        <td>{{ form.upload_text.value }}</td>
                    <td>{{ form.about.label }}</td>
		            <td>{{ form.about }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="questionnaire-details">
        <table class="tbl_response tablesorter f11" id='questions_list'>
            <thead>
                <th class="w250" id="question">Question</th>
                <th class="w100" id="field">Field</th>
                <th class="w100" id="keyword">Keyword</th>
                <th class="w30" id="sort_order">Sort Order</th>
                <th class="w30" id="mandatory">Mandatory</td>
            </thead>
            <tbody>
            {{formset.management_form}}
            {% for f in formset.forms %}
            {% if f %}
            <tr>
                <td style="display:none;visibility:hidden;">
                    {{ f.id }}
                </td>
                <td>{{f.question}}</td>
                <td>{{f.field}}</td>
                <td>{{f.keyword}}</td>
                <td>{{f.sort_order}}</td>
                <td>{{f.mandatory}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <input type="submit" id="save" name="save" value="Save"/>
    </div>
    </form>
</div>
{% endblock %}
