<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load web_tags %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block page_title %}FutureBazaar Response Management{% endblock %}</title>
    {% block blueprint_css %}
    <link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/css/cc_panel.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/media/css/jquery-ui.css" type="text/css" media="screen">
    {% endblock %}
    {% block core_css %}
    <link rel="stylesheet" href="/media/css/styles.css" type="text/css" media="screen, projection">
    <link rel="shortcut icon" href="/media/images/favicon.ico"/>
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block jquery %}
    <script src="/media/js/jq/jquery.min.js" type="text/javascript"></script>
    <script src="/media/js/jq/jquery-ui.min.js" type="text/javascript"></script>
    {% endblock %}
</head>

<body>
    {% load cs_tags %}
    {% render_cs_header request %}
    <div class="container">
        <div class="span-24 last" id="header" style='margin-top:10px;clear:both;'>
            <div class="span-3">
                <div id="logo">
                    <img src="/media/images/fb_logo.jpg" width="75px" height="75px" align="bottom"/>
                </div>
            </div>
            <div class="span-9" style="padding-top:25px;">
                {% block top_nav %} {% top_nav request %} {% endblock %}
            </div>
        </div>
        <div class="span-24 last" id="content">
            {% block content %} {% endblock %}
        </div>
        <div class="span-24 last">
            <div  id="footer">
            {% if never %}
            <div id="footer_nav">
                <ul>
                    <li><a href="/users/">Users</a></li>
                    <li><a href="/vendors/">Vendors</a></li>
                    <li><a href="/catalog/">Catalog</a></li>
                    <li><a href="/analytics/">Analytics</a></li>
                </ul>
            </div>
            {% else %}
            Response Management System &copy; Future Bazaar
            {% endif %}
            </div>
        </div>

			<div id='greeting_popup' style="background-color:#fff !important;"></div>
			<div id="call_popup"></div>


			<!--cc panel-->
			{% if request|is_cs %}
			    {% block left_panel%}
			    <div id="userbox_outer">
				<div id="user_box" class="user_box shadow_five rc5">
				    <div class="userbox_close"></div>
				    {%render_left_panel request%}
				</div>
				<div class="userbox_show">&laquo;</div>
			    </div>
			    <div class="clear"></div>
	
			    {%endblock%}
			{% endif %}
			<!--end cc panel-->
    <div id="dialog">&nbsp;</div>
    </div>
    <script type="text/javascript">
        {% block script_footer %}
        {% endblock %}
        $('#call_number_btn').click(function() {
            var onSuccess = function(data, textStatus, xhr) { 
                this.disabled = true;
                this.innerHTML = 'Called';
                //$('.close_wip').removeClass('hide');
                //$('.c2c').addClass('hide');
            };

            var onError = function(xhr, textStatus, error) {
                this.disabled = false;
                this.innerHTML = 'Call';
            };


            $.ajax({
                url:'/call/' + $('#call_number')[0].value,
                type: 'POST',
                success: onSuccess,
                error: onError
                });
    });
    </script>
    <script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script> 
<script type="text/javascript" language="javascript">
{% if request|is_cs %}
   var url = '{{request.path}}';
   var usplit = url.split('/');
   var custname = $('#custName').val();
   var style = '<style type=\'text/css\'>.ui-dialog-titlebar{background-color:#fff !important;} .ui-icon{background-image: url(media/css/jq/images/ui-icons_222222_256x240.png) !important;} .ui-state-hover{background:#eee !important;border:1px solid #000 !important;} .ui-widget-header{border: 1px solid #fff !important;}</style>';
   if (custname != ' '){
        custname = '<br /><h2 style=\'text-align:center !important;font-size:40px !important;font-weight:bold;\'>Hello '+custname+'!</h2><br />';
   }
   if (usplit.length == 3 && usplit[2] == '' && usplit[1].indexOf('-') != -1) {
       if (custname != ' ' ) {
            $('#greeting_popup').html(style+custname);
            $('#greeting_popup').dialog({modal:true, width:600, height:350});
            $('#greeting_popup').prev().removeClass('-widget-header');
            $('#greeting_popup').prev().css({'background':'#fff !important'});
       }
       
       {% if request.call.cli %}
       $("#user_box").show();
       $(".userbox_show").hide();
       {% endif %}
   }
{% endif %}

				$(function() {					
				
				$("#showFollow").toggle(function()
				{ 			
					$( ".follow_us_mn" ).show("fast");						
					return false;	 		
				},
				
				function()
				{ 					
						$( ".follow_us_mn" ).hide("fast");											
						return false;
				});		
				
				$('body').click(function() {
				$( ".follow_us_mn" ).hide("fast");	
				});		
			
				});	

</script>

<script type="text/javascript">
	$(".userbox_close").click(function(){
		 $("#user_box").hide("slide", { direction: "right" }, 500 );
		 $(".userbox_show").show();
	 });
	 $(".userbox_show").click(function(){
		$("#user_box").show("slide", { direction: "right" }, 500, function(){$("#custMobile").focus();} );
		$(".userbox_show").hide();
	 });

	getUrlVars = function () {
    		var vars = [], hash;
    		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    		for(var i = 0; i < hashes.length; i++)
    		{
        		hash = hashes[i].split('=');
        		vars.push(hash[0]);
        		vars[hash[0]] = hash[1];
    		}
    		return vars;
	}


	$(window).load(function () {
		var get_params = getUrlVars();
    	if(get_params) {
        	if(get_params['cc'] == '1') {
           			alert("Please enter the user mobile/email in the right panel");
        	}
    	} 
    });

</script>

<!--end cc box-->

</body>
</html>
