<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%load  web_tags%}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>{% block page_title %}{% page_title request %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="google-site-verification" content="qEeX_hSW6GR8wGwaKqj5QUzWV2i-rscwefvklX59oQc" />
<meta name="description" content="{%block page_desc%}India's phone bazaar. Find best deals on books, magazines, computers, mobiles, home electronics, home appliances. Call 922 222 1947 to buy directly from brands.{%endblock%}"/>
<meta name="keywords" content="{%block page_tags%}Chaupaati Bazaar, Online Shopping, Store Online, Buy Books, Subscribe Magazines, Buy Computer, Mobile, Electronics, Toys, Gifts, Low Price, Purchase On Web, Cheap product, india{%endblock%}"/>
{% block extra_header %}
        {% endblock %}
        {% block canonical %}
        {% endblock %}
		{% block blueprint_css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/bp/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/bp/print.css" type="text/css" media="print" />
{% endblock %}
		{% block core_css %}
        {% if settings.DEBUG %}
		
        {% else %}

<link rel="stylesheet" href="{{MEDIA_URL}}css/ch.v8.css" type="text/css" />

<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie7.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ie8.css" /><![endif]-->


{% endif %}
<link rel="shortcut icon" href="{%render_favicon request%}"/>
{% endblock %}
		{% block extra_css %}{% endblock %}
		{% block jquery %}
        {% if settings.DEBUG %}
{% else %}
{% endif %}
		{% endblock %}
</head>
<body>
{%load cc_tags%}
<div class="{%if not request|is_cc%}container {%else%}cc_container {%endif%} shadow_one bottomrc5">
  <div id="main">
    <div id="content">    
      {% block content %}
      {% endblock %}    
    </div>
  </div>
</div>
{%block footer%}
{%endblock%}
     
</body>
</html>
