{% extends 'web/base.html' %}
{% block content %}
<div class="h34">&nbsp;        
</div>
{% load web_tags %}
{% load cc_tags %}

<div>
    <div class="cart_left">
      
        {% checkout_tabs request "login" %}
        <form method="post" action="/orders/{{order_id}}" name="myform">
        <table cellpadding="0" cellspacing="0" class="checkout_table">
            <tr>
                <td colspan="2">
                    {% if error %}
                        <div class="error">{{error}}</div>
                    {% else %}
                        <hr class="space"/>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="label" width="200px">Enter your phone number</td>
                <td>
                    <input type="text" id="mobile" name="mobile" class="checkout_mobile"/><br/>
                    <span class="f11 fdgray">This is the 10 digit phone number you used while booking your order</span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr class="space"/></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                        <input value="Proceed" type="image" alt="Proceed" src="{{MEDIA_URL}}images/pixel.gif" class="btn_proceed"/>
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div class="cart_right">
        {% include "order/right.html" %}
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
document.myform.mobile.focus();
</script>
{%endblock%}
