{% load web_tags%}
{% load cc_tags%}
<div class="con" style="width1:841px;">
<div class="cart_page con_inner">
  <div>
    <div class="fb f18 pad10">SHOPPING CART <span class="f15 fn">({{order.get_item_count}} Items added to your Cart)</span></div>
  </div>
  <div>
  <div class="cart_tbl_outer">
<table id="cart" class="cart_tbl">
{%if item_found_msg%}
    <tr>
        <td colspan="6">
            <div class="error">
                <ul style="margin:0px;">
                    {%for msg in item_found_msg%}
                        <li>{{msg}}</li>
                    {%endfor%}
                </ul>
            </div>
        </td>
    </tr>
{%endif%}
{%if error_msg%}
    <tr>
        <td colspan="6">
            <div class="error">
                <ul style="margin:0px;">
                    {%if error_msg%}
                        <li>{{error_msg}}</li>
                    {%endif%}
                </ul>
            </div>
        </td>
    </tr>
{%endif%}
    <tr>
        {% if order.state|order_state_conf_or_mod %}
        <th class="padl20"><input type="checkbox" id="cancel_all"/></th>
        {%endif%}
        <th colspan="2" class="cart_item_details padl20">Item(s) Details</th>
        <th class="cart_qty">Qty</th>
        <th class="cart_shipping">Shipping</th>
        <th class="cart_price">Price</th>
        <th class="cart_amount padr20">Payable Amount</th>
         <th class="padr20"></th>
    </tr>
    {% if orderItems %}
    {%for item in orderItems%}
    <tr>
        {% if order.state|order_state_conf_or_mod %}
            {% if not item.state|item_state_canc_or_ref %}
                <td><input type="checkbox" class="select_for_cancel" id="{{item.id}}" name="{{item.id}}"/></td>
            {% else %}
                <td class="bb"> <span class="f11 fdgray">{{item.state}}</span></td>
            {% endif %}
        {%endif%}
        <td width="100"><img src="{{item.seller_rate_chart.product.get_default_img}}" width="78" height="78" title="{{item.item_title}}"> </td>
        <td>{{item.item_title}}<br />
            {%if request|is_future_ecom %}
              <div class="marb5 f1">FBID: {{item.seller_rate_chart.sku}}</div>
            {%endif%}
        </td>
        <td class="ra">
            {% if not order.state|order_state_conf_or_mod_or_canc %}
                <form method="post" action="" id="update_cart_qty_{{item.id}}">
                    <input type="hidden" value="update_cart_item" name="action"/>
                    <input type="hidden" value="{{item.id}}" name="itemid"/>
                    <input size="2" maxlength="4" type="text" class="item_qty" id="{{item.id}}_qty" name="{{item.id}}_qty" value="{{item.qty}}"/><br/>
                    <span class="update_qty cp" value="{{item.id}}" title="Update quantity">Update</span>
                </form>
            {%else%}
                {{item.qty}}
            {%endif%}
        </td>
        <td class="ra">{%if item.shipping_charges%}<span class="WebRupee">Rs.</span> {{item.shipping_charges|money}}{%else%}FREE{%endif%}</td>
        <td class="ra"><span class="fs"><span class="WebRupee">Rs.</span> {% get_price_info request item.seller_rate_chart 'list_price' %}</span></td>
        <td class="padr20 ra"><span class="WebRupee">Rs.</span> {{item.sale_price|money}}</td>
        <td class="f11">
            <form method="post" action="" id="remove_{{item.id}}">
                <input type="hidden" name="action" value="remove_cart_item"/>
                <input type="hidden" name="itemid" value="{{item.id}}"/>
                <span class="remove_item cp" title="Remove this item from your cart" value="{{item.id}}">X</span>
            </form>
    </td>
    </tr>
    {%endfor%}
    {% else %}
        <div>EMPTY CART</div>
    {% endif %}
    </table>
    </div>
    {%if request.session.fbapiobj and not confirmed %}
        <form method="post" action="/orders/mycart/" id="apply_coupon_form" class="hide order_promotion">
            {%if request.session.applied_coupon_msg %}
                <div id="coupon_apply_msg" class="padl10 fb" style="color:#8A1F11;">{% applied_coupon_code_message request%}</div>
            {%endif%}
                <p>
                    <div class="pad10 redeem">
                    <label>Use a coupon code to redeem deals &amp; discounts</label>
                    <input type="text" id="coupon_code" maxlength=50 name="coupon_code" />
                    <a class="btn_apply" title="Apply Discount Coupon" id="apply_fb_coupon"></a>
                    <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
                    <input type="hidden" name="action" value="apply_coupon"/>
                   {%if not confirmed %}
                        {%if order.coupon%}
                        <form method="post" action="/orders/mycart/" id="remove_coupon_form">
                          <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
                          <input type="hidden" name="action" value="remove_fb_coupon"/>
                          <div>{%if order.coupon.promo_name%} ({{order.coupon.promo_name}}) | {% endif %}<a class="cp fb" title="Remove this coupon" id="remove_coupon" >Remove coupon x</a></div>
                        </form>
                        {%endif%}
                   {%endif%}
                    </div>
                </p>
            </div>
        </form>
        <form method="post" action="/orders/mycart/" id="apply_payback_form" class="hide order_promotion">
            {%if request.session.payback_msg %}
                <div id="coupon_apply_msg" class="error pad5 marb10">{% applied_payback_message request%}</div>
            {%endif%}
            <div class="pad10 redeem">
                <label>Use i-mint/Payback ID to earn points (<a href="/payback">What is this?</a>)</label>
                <input type="text" id="payback_id" maxlength=50 name="payback_id" value={% if order.payback_id %}"{{order.payback_id}}"{% else %}"Enter i-mint/Payback ID"{% endif %}/>
                <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
                <input type="hidden" name="action" value="apply_payback"/>
                <a title="Apply and Earn Points" class="btn_apply " id="apply_payback"></a>
            </div>
        </form>
        <select id="promotion_options">
            <option value="coupon" {% if order.coupon%} selected="selected"{%endif%}>Coupon</option>
            <option value="payback" {% if order.payback_id%} selected="selected"{%endif%}>i-mint/Payback</option>
        </select> 
    {% endif %}
    <div style="padding:10px; border-top:1px solid #dccdcd; background:#f8f8f8;">
    {%if not order.state|order_state_conf_or_mod_or_canc%}
      <div class="left" style="width:430px; vertical-align:middle; margin-top:25px;">
      <div class="left" style="line-height:38px;">
       <a href="#" class="fb">Close & Continue Shopping</a>  &nbsp; <span class="f14 fb">OR</span> &nbsp;       
       </div>
       <a href="#" class="btn_proceed_to_pay"></a> </div>
    {%endif%}
    {%comment%}
    {% ifnotequal order.state 'cancelled' %}
    {% if not order.state|order_state_conf_or_mod %}
    <tr>
        <td {%if order.state|order_state_conf_or_mod %}colspan="6"{%else%} colspan="6"{%endif%} class="ra f15 bbnone">
        <span>Total amount you need to pay: &nbsp;</span>
        <span class="fb" id="oPayableAmount"><span class="WebRupee">Rs.</span> {{order.payable_amount|money}}</span>
        </td>
    </tr>
 </tr>
    {% endif %}
    <tr>
        <td {%if order.state|order_state_conf_or_mod %}colspan="6"{%else%} colspan="6"{%endif%} class="ra bbnone">
            <form method="post" action="{% cc_url request next_action %}" id="next_action">
                {%if order.state|order_state_conf_or_mod %}
                <input type="hidden" id="cancelled_items" name="cancelled_items"/>
                <div style="height:30px">
                <input type="submit" value="" id="proceed" style="display:none;" name="Proceed" class="btn_proceed_to_shipping"
                 title="Proceed to Shipping Details" />
                </div>
                {%else%}
                <input type="submit" value="" id="proceed" name="Proceed"  class="btn btn_proceed_to_shipping" title="Proceed to Shipping Details" />
                {%endif%}
            </form>
        </td>
    </tr>
    {% endifnotequal %}
    {%endcomment%}
     <div class="right" >
      <table class="amount_tbl">
        <tr>
          <td class="ra">SUB TOTAL :</td>
          <td class="ra"><span class="WebRupee">Rs.</span> {{order.list_price_total|money}}</td>
        </tr>
        <tr>
          <td  class="ra"> SHIPPING & HANDLING :</td>
          <td class="ra">{%if order.shipping_charges > 0 %}<span class="WebRupee">Rs.</span> {{order.shipping_charges|money}}{%else%}FREE{%endif%}</td>
        </tr>
        <tr>
          <td  class="ra forange fb">PROMOTIONS & DISCOUNTS :</td>
          <td class="forange fb ra"><span class="WebRupee">Rs.</span> {{order.get_discount|money}}</td>
        </tr>
        {%if order.auto_promotions_discount%}
        <tr>
          <td class="ra">SPECIAL DISCOUNT :</td>
          <td class="ra"> <span class="fb"><span class="WebRupee">Rs.</span> {{order.auto_promotions_discount|money}}
        </tr>
        {%endif%}
        {%if order.coupon_discount%}
        <tr>
          <td class="ra">COUPON DISCOUNT :</td>
          <td class="ra"> <span class="fb"><span class="WebRupee">Rs.</span> {{order.coupon_discount|money}}
       {%if not confirmed %}
            {%if order.coupon%}
            <form method="post" action="/orders/mycart/" id="remove_coupon_form">
              <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
              <input type="hidden" name="action" value="remove_fb_coupon"/>
            </form>
            {%endif%}
       {%endif%}
            </span></td>
        </tr>
        {%endif%}
        <tr>
          <td  class="fb ra"> TOTAL PAYABLE :</td>
          <td class="fb ra"><span class="WebRupee">Rs.</span> {{order.payable_amount|money}}</td>
        </tr>
      </table>
    </div>
    <div class="clear"></div>
    </div>
  </div>
</div>
</div>
