<div class="con " id="pop_header" style="width1:841px;">
    <div class="cart_page con_inner" id="cart_popup">
        {% if not dont_update_cart %}
            {{mycart_html}}
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    {% if not dont_update_cart %}
        refresh_mycart_js();
    {% endif %}
    function update_cart(form_id){
        var onError = function(response){
        };
        var action = "/orders/mycart";
        var form_data = $('#'+form_id).serialize();
        var onSuccess = function(response){
            $("#cart_popup").html(response);
            $("#pop_header").removeClass("hide")
            $(".lightbox_close").removeClass("hide");
            reset_overlay();
            refresh_mycart_js();
        }
        append_overlay();
        $.ajax({
            url : action,
            data : form_data,
            success : onSuccess,
            error : onError,
            type : "POST"
        });
        return false;
    };
    function refresh_mycart_js(){
        $(".remove_item").click(function(){
            var item_id = $(this).attr("value");
            var form_id = "remove_" + item_id;
            update_cart(form_id);
        });
        $(".update_qty").click(function(){
            var item_id = $(this).attr("value");
            var form_id = "update_cart_qty_" + item_id;
            update_cart(form_id);        
        });
        $("#remove_coupon").click(function(){
            var form_id = "remove_coupon_form";
            update_cart(form_id);        
        });
        $("#apply_fb_coupon").click(function(){
            var form_id = "apply_coupon_form";
            update_cart(form_id);        
        });
        $("#apply_payback").click(function(){
            var form_id = "apply_payback_form";
            update_cart(form_id);        
        });
    };
</script>
