{% load web_tags %}
{% load cc_tags %}
<div id="checkout_tabs">
    <ul>
        {% for t in tabs %}
        <li id="{{t.name}}" class="{% ifequal tab t.name %}selected fb{% endifequal %} {%if t.tab_click%}cp check_tabs{%endif%}"><div class="step_no">{{forloop.counter}}</div><div class="step{{forloop.counter}}">{{t.text}}</div></li>
        {% endfor %}
    </ul>
</div>
{% if tab == 'shipping' or tab == 'payment_mode' %}
    <input type="hidden" id="get_rightpanel_order" />
{% endif %}
<div class="clear"></div>
{%comment%}
{%block script_footer%}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
    $('.check_tabs').click(function(){
        var next_tab = $(this).attr('id');
        current_url = window.location.href;
        url_splitted = current_url.split("/");
        new_url = url_splitted[0];
        for(var i=1;i<url_splitted.length-1;i++){
            new_url += "/" + url_splitted[i];
        }
        new_url += "/" + next_tab;
        location.href =  new_url;
    });
});
</script>
{%endblock%}
{%endcomment%}
