<p>You need to make a cash payment for any order placed only at the time of delivery, to our Courier agent. Kindly verify your contact
number. Our customer service executive will get in touch with you on the same number to confirm your order. Post-confirmation
the order will be sent for processing. <a href="/info/cod.html" class="fancybox">Click here</a> to learn about the Terms & Conditions.
</p>
 <script type="text/javascript">
	$(document).ready(function() {
		
		$(".fancybox").fancybox({
			'width'				: '80%',
			'height'			: '100%',
			'autoScale'			: 'false',
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'type'				: 'iframe'
		});		
	
	});
	</script>