{% extends 'web/base.html' %}
{% block content %}
{% load cc_tags %}
{% load web_tags %}
<div>
<div class="breadcrumb">
  	&nbsp;  
  	</div>
    <div class="cart_left">       
        {% checkout_tabs request "payment" %}
        <form method="post" action="" name="frmConfirm">
            <table cellpadding="0" cellspacing="0" class="checkout_table" id="tbl_book_order">
                {% if payment_options_form.errors %}
                <tr>
                    <td colspan="2">
                        <div class="error">
                            <ol>
                            {% for field in payment_options_form %}
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                            {% endfor %}
                            </ol>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% if error %}
                <tr>
                    <td colspan="2">
                        <div class="error">
                           {{error}}
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td class="label" width="200">{{payment_options_form.payment_mode.label}}</td>
                    <td>
                        {{payment_options_form.payment_mode}}
                    </td>
                </tr>
                <tr>
                    <td class="label" width="200">{{payment_options_form.agents.label}}</td>
                    <td>
                        {{payment_options_form.agents}}
                    </td>
                </tr>
                <tr class="label">
                    <td class="label">{{payment_options_form.transaction_no.label}}</td>
                    <td>
                        {{payment_options_form.transaction_no}}
                    </td>
                </tr>
                <tr class="label">
                    <td class="label">{{payment_options_form.transaction_notes.label}}</td>
                    <td>
                        {{payment_options_form.transaction_notes}}
                    </td>
                </tr>             
                <tr>
                    <td></td>
                    <td>
                    <input type="image" alt="Confirm Order" title="Confirm Order" src="{{MEDIA_URL}}images/pixel.gif" class="btn_confirmorder"/>  
                       <!-- <input type="image" alt="Confirm Order" title="Confirm Order" src="{{MEDIA_URL}}images/confirmorder.gif"/>  --> 
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="cart_right">
        {% include "order/right.html" %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
{% block script_footer %}
    <script type="text/javascript">
	document.frmConfirm.payment_mode.focus();
    </script>
{% endblock %}
