 {% if card_form.errors %}
<div>
  <div class="error">
    <ol>
      {% for field in card_form %}
      {% for error in field.errors %}
      <li>{{error}}</li>
      {% endfor %}
      {% endfor %}
    </ol>
  </div>
</div>
{% endif %}
<table class="pad10">
  <tr>
    <td class="ra fb">Card Type</td>
    <td>
    <label>
      <input type="radio" name="cardtype" checked="checked" value="visa-card" class="vt">
      <img src="{{MEDIA_URL}}images/visa.gif" height="16"/> </label>
      &nbsp;&nbsp;
      <label>
      <input type="radio" name="cardtype" value="master-card" class="vt">
      <img src="{{MEDIA_URL}}images/master_card25.gif" height="16"/>
      </label>
    </td>
  </tr>
  {% include "order/card_form.html"%}
</table>
{% include "order/payment_options/billing_info.html"%}
 <script type="text/javascript">
	$(document).ready(function() {
		
		$(".fancybox").fancybox({
			'width'				: '80%',
			'height'			: '100%',
			'autoScale'			: 'false',
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'type'				: 'iframe'
		});		
	
	});
	</script>
<script type="text/javascript">
               // $('#cvv_info').click(function(){
//                    $.get(this.href, function(data){
//                        $('#shipping_dialog').html(data);
//                        var dialog = $('#shipping_dialog').dialog({model:true,
//                            title:'CVV Information',
//                            width:500
//                            });
//                    });
//                    return false;
//                });
             </script>
