{% extends "web/base.html"%}
{%block header%}
{%load cc_tags%}
{%load web_tags%}
<div id="header" style="border-bottom: 1px solid #FCED67">
  <div id="logo">
    <div><a href="{% cc_url request "" %}" title="Home"><img src="{{MEDIA_URL}}images/ppd-logo.gif" alt="Logo" width="300" height="58" /></a> </div>
  </div>
  <div class="clear"></div>
</div>
{%endblock%}
<div class="dashboard_block dashboard_row1 rc5">
<h3 class="toprc5">Reports</h3>
        <ul>          
            <li><a href="#">Orders</a></li>
            <li><a href="#">Search Trend</a></li>
            <li><a href="#">Search Score</a></li>
           
        </ul>
        </div>
{% endblock %}

