{% load web_tags %}
{% load cc_tags cache %}
<div>
{% if orderItems %}
<div class="fb f18 pad10">SHOPPING CART <span class="f12 fn">({{order.get_orderitem_count}} Items)</span></div>
</div>
<div>
<div class="cart_tbl_outer">
<table id="cart" class="cart_tbl">
{%if item_found_msg%}
    <tr>
        <td colspan="6">
            <div class="error">
                <ul style="margin:0px;">
                    {%for msg in item_found_msg%}
                        <li>{{msg}}</li>
                    {%endfor%}
                </ul>
            </div>
        </td>
    </tr>
{%endif%}
{%if error_msg%}
    <tr>
        <td colspan="6">
            <div class="error">
                <ul style="margin:0px;">
                    {%if error_msg%}
                        <li>{{error_msg}}</li>
                    {%endif%}
                </ul>
            </div>
        </td>
    </tr>
{%endif%}
    <tr>
        {% if order.state|order_state_conf_or_mod %}
        <th class="padl20"><input type="checkbox" id="cancel_all"/></th>
        {%endif%}
        <th colspan="2" class="cart_item_details padl20">Item(s) Details</th>
        <th class="cart_qty">Qty</th>
        <th class="cart_shipping">Shipping</th>
        <th class="cart_price">Price</th>
        <th class="cart_amount padr20">Payable Amount</th>
         <th class="padr20"></th>
    </tr>
   
    {%for item in orderItems%}
    <tr>
        {% if order.state|order_state_conf_or_mod %}
            {% if not item.state|item_state_canc_or_ref %}
                <td><input type="checkbox" class="select_for_cancel" id="{{item.id}}" name="{{item.id}}"/></td>
            {% else %}
                <td class="bb"> <span class="f11 fdgray">{{item.state}}</span></td>
            {% endif %}
        {%endif%}
        <td width="100"><img src="{{item.seller_rate_chart.product.get_default_img}}" width="78" height="78" title="{{item.item_title}}"> </td>
        <td>{{item.item_title}}<br />
            {%if request|is_future_ecom %}
              <div class="marb5 f1">FBID: {{item.seller_rate_chart.sku}}</div>
            {%endif%}
        </td>
        <td class="ca">
            {% if not order.state|order_state_conf_or_mod_or_canc %}
                <form method="post" action="" id="update_cart_qty_{{item.id}}">
                    <input type="hidden" value="update_cart_item" name="action"/>
                    <input type="hidden" value="{{item.id}}" name="itemid"/>
                    <input size="2" maxlength="3" type="text" class="item_qty" id="{{item.id}}_qty" name="{{item.id}}_qty" value="{{item.qty}}"/><br/>
                    <span class="update_qty cp flink f11" value="{{item.id}}" title="Update quantity">Update</span>
                </form>
            {%else%}
                {{item.qty}}
            {%endif%}
        </td>
        <td class="ca">{%if item.shipping_charges%}<span class="WebRupee">Rs.</span> {{item.shipping_charges|money}}{%else%}FREE{%endif%}</td>
        <td class="ra"><span class="fs"><span class="WebRupee">Rs.</span> {% get_price_info request item.seller_rate_chart 'list_price' %}</span></td>
        <td class="padr20 ra"><span class="WebRupee">Rs.</span> {{item.sale_price|money}}</td>
        <td class="f11 fred fb">
            <form method="post" action="" id="remove_{{item.id}}">
                <input type="hidden" name="action" value="remove_cart_item"/>
                <input type="hidden" name="itemid" value="{{item.id}}"/>
                <span class="remove_item cp" title="Remove this item from your cart" value="{{item.id}}">X</span>
            </form>
        </td>
    </tr>
    {%endfor%}
   
    </table>
    </div>
    {%if request.session.fbapiobj and not confirmed %}
     <form method="post" action="/orders/mycart/" id="apply_coupon_form" class=" order_promotion">            
    <table>       
            <tr class="pad10 redeem">
                {%if not order.coupon%}                
                <td width="284">
                    <label>Use a coupon code to redeem deals &amp; discounts</label>
                </td>
                <td>
                   <input type="text" id="coupon_code" maxlength=50 name="coupon_code" />                                
                    <a class="btn_apply" title="Apply Discount Coupon" id="apply_fb_coupon">Apply</a>
                    <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
                    <input type="hidden" name="action" value="apply_coupon"/>                
                {% else %}
                <td class="padl5">    
                {%if not confirmed %}                                        
                    <form method="post" action="/orders/mycart/" id="remove_coupon_form">
                    <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
                    <input type="hidden" name="action" value="remove_fb_coupon"/>
                    <label>Coupon Code: <span class="fb">{{order.coupon.code}}</span>{%if order.coupon.promo_name%} ({{order.coupon.promo_name}}) | {% endif %}<a class="cp fb" title="Remove this coupon" id="remove_coupon" >Remove coupon x</a></label>
                    </form>                                        
                {%endif%}                   
                {%endif%}
                {%if request.session.applied_coupon_msg %}                    
                        <label id="coupon_apply_msg" class="padl10 fb fred">{% applied_coupon_code_message request%}</label>                    
                {%endif%}                        
                </td>
            </tr>
            </table>
        </form>
        <form method="post" action="/orders/mycart/" id="apply_payback_form" class="order_promotion">            
            <table>
            <tr class="pad10 redeem">
                <td width="284">
                <label>Use i-mint/Payback ID to earn points (<a href="/payback">What is this?</a>)</label>
                </td>
                <td>
                <input type="text" id="payback_id" maxlength=50 name="payback_id"{% if order.payback_id %} value="{{order.payback_id}}"{% endif %}/>
                <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
                <input type="hidden" name="action" value="apply_payback"/>
                
                <a title="Apply and Earn Points" class="btn_apply " id="apply_payback">Go</a>
                </td>            
                {%if request.session.payback_msg %}
                    <td><label id="coupon_apply_msg" class="pad5 marb10 fred">{% applied_payback_message request%}</label></td>
                {%endif%}
            
            </tr>
                </table>
                </form>
    {% endif %}
    <div class="cart_tbl_footer">
    <div class="left" >
      <table class="amount_tbl">
        <tr>
          <td width="165">SUB TOTAL </td>
          <td>: <span class="WebRupee">Rs.</span> {{order.list_price_total|money}}</td>
        </tr>
        <tr>
          <td> SHIPPING & HANDLING</td>
          <td>: {%if order.shipping_charges > 0 %}<span class="WebRupee">Rs.</span> {{order.shipping_charges|money}}{%else%}FREE{%endif%}</td>
        </tr>
        <tr>
          <td  class="forange">PROMOTIONS & DISCOUNTS</td>
          <td class="forange">: <span class="WebRupee">Rs.</span> {{order.get_discount|money}}</td>
        </tr>
        {%if order.auto_promotions_discount%}
        <tr>
          <td>SPECIAL DISCOUNT</td>
          <td>: <span><span class="WebRupee">Rs.</span> {{order.auto_promotions_discount|money}}
        </tr>
        {%endif%}
        {%if order.coupon_discount%}
        <tr>
          <td>COUPON DISCOUNT</td>
          <td>: <span><span class="WebRupee">Rs.</span> {{order.coupon_discount|money}}
       {%if not confirmed %}
            {%if order.coupon%}
            <form method="post" action="/orders/mycart/" id="remove_coupon_form">
              <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
              <input type="hidden" name="action" value="remove_fb_coupon"/>
            </form>
            {%endif%}
       {%endif%}
            </span></td>
        </tr>
        {%endif%}
        <tr>
          <td class="fb"> TOTAL PAYABLE</td>
          <td class="fb">: <span class="WebRupee">Rs.</span> {{order.payable_amount|money}}</td>
        </tr>
      </table>
    </div>
    
    {%if not order.state|order_state_conf_or_mod_or_canc%}
      <div class="right cart_tbl_footer_right">
     
       <form method="post" action="{% cc_url request next_action %}" id="next_action">
       <table width="360">
       <tr>
       <td class="pad0"><a href={% cc_url request "" %} class="fb">Close & Continue Shopping</a>  &nbsp; <span class="f14 fb">OR</span> &nbsp;</td>
       <td class="pad0" width="171">{% ifnotequal order.state 'cancelled' %}
                {%if order.state|order_state_conf_or_mod %}
                    <input type="hidden" id="cancelled_items" name="cancelled_items"/>
                    <input type="submit" value="" id="proceed" style="display:none;" name="Proceed" class="btn_proceed_checkout"
                     title="Proceed to Shipping Details"></input>
                {%else%}
                    <input type="submit" value="PROCEED TO {% if request.user.is_authenticated %}SHIPPING{% else %}CHECKOUT {% endif %}" id="proceed" name="Proceed"  class="button orange" title="Proceed to {% if request.user.is_authenticated %}Shipping Details{%else%}Checkout{%endif%}"></input>
                {%endif%}
            {% endifnotequal %}</td>
       </tr>
       </table>
        </form>
     
      </div>
    {%endif%}
     
    <div class="clear"></div>
    </div>
    {% else %}
    <div class="pad20">
        <div class="f18 empty_cart_msg mart20">Your Shopping Cart is Empty. <span class="f12"><a href={% cc_url request "" %} >Click here</a> to continue shopping</span></div>        
        <div class="empty_cart_prod"><h4>BEST SELLING PRODUCTS</h4>        
        {% cache 21600 emptyfbcart %}
            {% empty_cart_products request %}
        {% endcache %}
        </div> 
      <div class="clear"></div>
    </div>
    
        
    {% endif %}
</div>
