<!--net banking-->
<div class="pad10">    
    <select name="bank" id="bank">
	    <option> Andhra Bank</option>
	    <option> AXIS Bank</option>
	    <option> Bank of Bahrain & Kuwait </option>
	    <option> Bank of Baroda Corporate Accounts</option>
	    <option> Bank of Baroda Retail Accounts</option>
	    <option> Bank of India</option>
	    <option> Bank of Maharashtra</option>
	    <option> Bank of Rajasthan</option>
	    <option> Citibank Bank Account Online</option>
	    <option> City Union Bank</option>
	    <option> Corporation Bank</option>

	    <option> Deutsche Bank</option>
	    <option> Federal Bank</option>
	    <option> HDFC Bank</option>
	    <option> ICICI Bank</option>
	    <option> IDBI Bank</option>
	    <option> Indian Overseas Bank</option>
	    <option> IndusInd Bank</option>
	    <option> ING Vysya Bank</option>
	    <option> Jammu & Kashmir Bank</option>
	    <option> Karnataka Bank</option>
	    <option> Karur Vysya Bank</option>

	    <option> Kotak Mahindra Bank</option>
	    <option> Lakshmi Vilas Bank NetBanking</option>
	    <option> Oriental Bank of Commerce</option>
	    <option> Punjab National Bank Corporate Accounts</option>
	    <option> Punjab National Bank Retail Accounts</option>
	    <option> South Indian Bank</option>
	    <option> Standard Chartered Bank</option>
	    <option> State Bank of India</option>
	    <option> State Bank of Mysore</option>
	    <option> State Bank of Travancore</option>

	    <option> Syndicate Bank</option>
	    <option> Tamilnad Mercantile Bank</option>
	    <option> Union Bank of India</option>
	    <option> Vijaya Bank</option>
	    <option> YES Bank</option>
    </select>
<div class="notice">
<strong>Note:</strong>
<ul><li>We will redirect you to the bank or payment partner site for your payment.</li>
</ul>
</div>
    <input type="hidden" id="state_map" value="{{state_map}}"/>
</div>
<!--net banking-->
