{% extends 'web/base.html' %}
{% block content %}
<div class="h34">&nbsp; </div>
{% load cc_tags %}
{% load web_tags %}
<div>
  <div class="cart_left">  
   {% checkout_tabs request "payment_mode" %}    

  <div class="padl20 mart20 fb">
 Select a Payment Method</div>
    <form method="post" action="/orders/payment_mode">
      <div class="checkout_div">
        <div class="payment_cont">
          <div class="payment_actions bdot">
            <!--[if IE 6]>
          <style>
          .payment_actions{height:270px;}
          </style>
		 <![endif]-->
            {% if error%}
            <div class="book_inner">
                <div class="error">
                    <ul>
                        <li>{{error}}</li>
                    </ul>
                </div>
            </div>
            {%endif%}
            {% if errors %}
            <div class="book_inner">
                <div class="error">
                    <ul>
                        {% for err in errors %}
                        <li>{{err}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
                {%if fb_error%} 
               <div class="book_inner marb0">            
                            <div class="error">
                                <ul>
                                    <li>{{fb_error}}</li>
                                </ul>
                            </div>                   
                </div>
                {%endif%}
                {% if pending_payment%}
                    <div class="error">
                        <ul>
                            <li>Your payment is in progress. Please do not try to pay again. We will send you a confirmation of your order once we get the approval about your payment from the bank. You can always reach us at 0922-222-1947. Your Order ID is {{pending_payment.order.get_id}}.
                            </li>
                        </ul>
                    </div>
                {%endif%}
                {% if price_mismatch_error%}
                    <div class="error">
                        <ul>
                            <li>Sorry! Internal Server Error. Please try after some time.
                            </li>
                        </ul>
                    </div>
                {%endif%}
            <div class="pad20" id="tbl_book">{% if payment_options_form.errors %}
              <div>
                <div class="error">
                  <ol>
                    {% for field in payment_options_form %}
                    {% for error in field.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                    {% endfor %}
                  </ol>
                </div>
              </div>
              {% endif %}
              <div id="payment_mode_container">{%if card_form%} {{payment_mode_html}}{%endif%}</div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div  class="payment_options">
            <div>
              <input type="hidden" id="id_payment_mode" name="payment_mode" value="{{payment_mode}}"/>
              <input type="hidden" id="id_order" name="order" value="{{order.id}}"/>
              {%for po in payment_options_form.payment_options%}
                <input type="hidden" id="{{po.payment_mode.code}}_validate_billing_info" value="{{po.payment_mode.validate_billing_info}}"/>
                <input type="hidden" id="po_{{po.payment_mode.code}}" value="{{po.id}}"/>
              {%endfor%}
              <ul>
                {%for k,v in payment_options_form.fields.payment_mode.choices%}
                <li class="payment_mode {% if k|make_list|slice:"7"|join:"" == 'payback' %} newpm{% endif %}{%if payment_mode == k %}selected{%endif%}" val="{{k}}">{{v}}</li>
                {%endfor%}
                <li style="background-color:#FFFFFF;border-left:none; border-bottom:none;">&nbsp;</li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="pay_action_bot clear">
          <div class="f15 ra" style="padding:5px 10px 0px; margin:10px 0px;"> <span>Total Amount you need to Pay : &nbsp;</span> <span id="oPayableAmount" class="fb f15"><span class="WebRupee">Rs. </span>{{order.payable_amount|money}} </span> </div>
          <div class="ra" style="padding-right:10px; border:1px solid #fff;">           
            <button type="submit" alt="Continue" id="proceed_to_pay" class="btn btn_make_payment" title="Make Payment"></button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="cart_right" id="rightpanel_cart"> {% include "order/right.html" %} </div>
</div>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
    {% if not card_form or fb_error%}
    var payment_mode = $('#id_payment_mode').val();
    var ls = payment_mode.split('#');
    var po_id = ls[1];
    payment_mode = ls[0];
    var url = '/orders/get_payment_page?order_id=' + $('#id_order').val() + '&payment_mode=' + payment_mode + '&po_id=' + po_id;
    $.get(url,function(html){
        $('#payment_mode_container').html(html);
    });
    {%endif%}

    $('.payment_mode').click(function(){
        var payment_mode = $(this).attr('val');
        var order_id = $('#id_order').val();
        var ls = payment_mode.split('#'); 
        $('#id_payment_mode').val(payment_mode);
        var po_id = ls[1];
        payment_mode = ls[0];
        $('.payment_mode').each(function(){
            $(this).removeClass('selected');
        });
        $(this).addClass('selected');
        var url = '/orders/get_payment_page?order_id=' + $('#id_order').val() + '&payment_mode=' + payment_mode + '&po_id=' + po_id;
        $.get(url,function(html){
            $('#payment_mode_container').html(html);
        });
    });
    $('#proceed_to_pay').click(function(){
        var payment_mode = $('#id_payment_mode').val().split('#')[0];
        var validate_billing_info = $('#' + payment_mode + '_validate_billing_info').val();
        if(validate_billing_info == 'False')
            validate_billing_info = false;
        else
            validate_billing_info = true;
        if (validate_billing_info == true)
        {
            var return_flag = false;
            var onSuccess = function(responseText){
                if(responseText){
                    var response = $.parseJSON(responseText);
                    if(response.status == 'ok')
                    {
                        return_flag = true;
                    }
                    if(response.status == 'error')
                    {
                        $('#billing_form_errors_div').removeClass('hidden');
                        var error_msg = '<ul>';
                        for(var key in response.error)
                        {
                            if(response.error[key])
                            {
                                for (var i in response.error[key])
                                {
                                    error_msg = error_msg + '<li>' + response.error[key][i] + '</li>';
                                }
                            }
                        }
                        error_msg = error_msg +  '</ul>';
                        $('#billing_form_errors_div').html(error_msg);

                    }//end of if response.status == error
                }
            };
            var onError = function(){
                return_falg = false;
            };
            var form_data = $('#billing_info_form').serialize();
            $.ajax({
                url: '/orders/validate_billing_info_form/',
                data: form_data,
                success: onSuccess,
                error: onError,
                async: false,
                type: "POST"
            });
            return return_flag;
        }
    });


    $("#id_billing_pincode").blur(function(){
        $('<img src="{{MEDIA_URL}}images/wait20.gif" />').prependTo("#cityname_image").attr('prepended','yes').fadeOut(2500);
        $('<img src="{{MEDIA_URL}}images/wait20.gif" />').prependTo("#statename_image").attr('prepended','yes').fadeOut(3000);
        $('<img src="{{MEDIA_URL}}images/wait20.gif" />').prependTo("#countryname_image").attr('prepended','yes').fadeOut(3500);
        var jData=$("#id_billing_pincode").val();
        function getLocation(jData){
            $('#id_billing_city').attr('disabled','disabled');
            $('#id_billing_state').attr('disabled','disabled');
            $('#id_billing_country').attr('disabled','disabled');
            var country = 'IN';
            var postalcode = jData;
            var requesturl = 'http://api.geonames.org/postalCodeLookupJSON?postalcode=' + postalcode  + '&country=' + country  + '&username=shagun';
            $.get(requesturl, function(data){
                $("[prepended=yes]", "#cityname_image").remove();
                $("[prepended=yes]", "#statename_image").remove();
                $("[prepended=yes]", "#countryname_image").remove();
                $('#id_billing_city').removeAttr('disabled');
                $('#id_billing_state').removeAttr('disabled');
                $('#id_billing_country').removeAttr('disabled');
                if (data.postalcodes && data.postalcodes.length)
                {
                    city = data.postalcodes[0].adminName2;
                    state = data.postalcodes[0].adminName1;
                    var state_map = $.parseJSON($('#state_map').val());
                    var state_id=0;
                    $.each(state_map, function(s,id){
                        if(s==state)
                            state_id=id;
                    });
                    country = 'India';
                    $("#id_billing_city").val(city);
                    $("#id_billing_state").val(state_id);
                    $("#id_billing_country").val(country);
                }
            });
        }
        getLocation(jData);
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.check_tabs').click(function(){
        var next_tab = $(this).attr('id');
        current_url = window.location.href;
        url_splitted = current_url.split("/");
        new_url = url_splitted[0];
        for(var i=1;i<url_splitted.length-1;i++){
            new_url += "/" + url_splitted[i];
        }
        new_url += "/" + next_tab;
        location.href =  new_url;
    });
});
</script>
{% endblock %}
