{% load cc_tags %}
{% load web_tags %}
<div {%if not confirmed%}style="padding-top:44px;"{%else%}style="padding-top:20px"{%endif%}> {% if order %}
  {% if not order.state|order_state_conf_or_mod_or_canc %}
  <div class="cart_summary">
    <div class="cart_summary_title pad10">Order Summary :</div>
    <div class="pad10">
      <table>
        <tr>
          <td>No. of Items</td>
          <td>: <span class="fb">{{order.get_item_count}} items</span></td>
        </tr>
        <tr>
          <td>Market Price</td>
          <td>: <span class="fb"><span class="WebRupee">Rs.</span> {{order.list_price_total|money}}</span></td>
        </tr>
        <tr>
          <td class="bbs padb5">Shipping Charges</td>
          <td class="bbs padb5">: <span class="fb"><span id="orderShippingCharges">{%if order.shipping_charges > 0 %}<span class="WebRupee">Rs.</span> {{order.shipping_charges|money}}{%else%}FREE{%endif%}</span></span></td>
        </tr>
        <tr>
          <td class="bbs padb5">Discount</td>
          <td class="bbs padb5">: <span class="fb"><span class="WebRupee">Rs.</span> {{order.get_discount|money}}</span></td>
        </tr>
        {%if order.auto_promotions_discount%}
        <tr>
          <td class="bbs padb5">Special Discount</td>
          <td class="bbs padb5">: <span class="fb"><span class="WebRupee">Rs.</span> {{order.auto_promotions_discount|money}}
        </tr>
        {%endif%}
        {%if order.coupon_discount%}
        <tr>
          <td class="bbs padb5">Special Discount</td>
          <td class="bbs padb5">: <span class="fb"><span class="WebRupee">Rs.</span> {{order.coupon_discount|money}}{%if order.coupon.promo_name%} ({{order.coupon.promo_name}})
        {%endif%}
	   {%if not confirmed %}
            {%if order.coupon%}
            <form method="post" action="/orders/mycart/">
              <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
              <input type="hidden" name="action" value="remove_fb_coupon"/>
              <button class="linkButton" type="submit" title="Remove this coupon">Remove coupon x</button>
            </form>
            {%endif%}
           {%endif%}
            </span></td>
        </tr>
        {%endif%}            
        {%if order.top10_discount%}
        <tr>
          <td class="bbs padb5">Top10 Special Discount</td>
          <td class="bbs padb5">: <span class="fb"> <span class="WebRupee">Rs.</span> {{order.top10_discount|money}} </span> </td>
        </tr>
        {%endif%}
        <tr>
          <td class="fb f15 padt5">Total Payable</td>
          <td class="f15 fb"><span class="fb"><span id="orderPayableAmount"><span class="WebRupee">Rs.</span> {{order.payable_amount|money}}</span></span></td>
        </tr>
      </table>
    </div>
  </div>
  {% endif %}
  
  
  <div class="need_assistance f15 marl0 spthree">
    <a class="tdnone" onclick="window.open('http://chatserver.comm100.com/ChatWindow.aspx?siteId=24850&amp;planId=597&amp;partnerId=-1&amp;visitType=1&amp;byHref=1', 'popupwindow', 'width=500,height=500,left=200,top=5,scrollbars,resizable');" style="cursor: pointer;" title="Need Assistance?">
    <span class="fb">Need Assistance?</span>
      <div class="f11 marl5 mart10"> Chat live with an</div>
       <div class="f11 marl5">online representative</div>
       <div class="f11 marl5 mart10"> 
       <strong>Chat with us &raquo;</strong>
	</div>
     </a>
    </div>
  {% endif %}
  {% if request.wstore and request.wstore.order_on_phone == "none" %}
  {% else %}

</div>
{% endif %} 
