{% extends request.ws_base|default:'web/base.html'%}
{%block content%}
<div class="h34">&nbsp;        
</div>
{% load cc_tags %}
{% load web_tags %}
<div>
    <div class="cart_left">        
        {% checkout_tabs request "login" %}
<div class="user_info h400">
  <div class="h306">
    {%if request.GET.msg %}
    <div class="marb30">
    <div class="notice"><h3>Your Session has expired. Please login again.</h3></div>
    </div>
    {%endif%}
    {{request.GET.cuf}}
    {%if request.GET.cuf %}
    <div class="marb30">
    <div class="notice"><h3>User already exists!</h3></div>
    </div>
    {%endif%}
    <div class="left bgskyblue pad20 marr10">
      <h1 id="sigin_text" class="marb20 flblue">Already a Member? Sign in Now</h1>
      <form method="post" action="/orders/signin" id="order_signin" name="myform">
        {% if error %}
        <div id="trsignin_error" class="mart10 marb10 error marb5 pad5 w254"> <span id="errors">{{error}}</span> </div>
        {% endif %}
        <div class="marb5 marb10"> <span class="f12 fdgray">Email or Mobile</span><br />
           <input type="text" maxlength=200 value="{{request.POST.mobile}}" name="mobile" id="mobileLabel" autocomplete="false" title="Enter your mobile number" class="checkout_mobile"/><br/>
        </div>
        <div class="marb5"><span id="lpassword" class="f12 fdgray">Password</span><br />
	  <input type="hidden" name="action" id="radioNewCustomer" value="sign-in"/>
          <input type="password" maxlength="1024" id="userPassword" title="Enter your password" name="password" class="checkout_password"/>
        </div>
        <div class="mart10">
          <input type="submit" value="" class="btn btn_signin" id="defaultActionButton" title="Sign in now"/>
        </div>
      </form>
    </div>
   <div class="left pad20">
    <h1 id="sigin_text" class="marb20 flblue">New Member? Sign Up Now</h1>
      <form method="post" action="/orders/signup" id="form_signin" name="form_signin">
        <input type="hidden" name="next" value="/orders/shipping"/>
        {% if signup_error %}
        <div id="tr_error" class="mart10 marb10 error marb5 pad5 w254"> <span id="errors">{{signup_error}}</span> </div>
        {% endif %}
        <div class="marb5 marb10"> <span class="f12 fdgray">Email or Mobile</span><br />
          <input type="text" id="username" name="username"/>
        </div>
        <div class="marb5 marb10"> <span id="lpassword" class="f12 fdgray">Password</span><br />
          <input type="password" id="password" name="password"/>
        </div>
        <div id="lcpassword" class="marb5 marb10"> <span class="f12 fdgray">Confirm Password</span><br />
          <input type="password" id="cpassword" name="cpassword"/>
        </div>
        <div class="mart10">
          <input type="submit" value="" class="btn btn_signup" id="login" title="Sign up now"/>
        </div>
      </form>
    </div>
  <div class="clear"></div>
  </div>
</div>
    </div>
    <div class="cart_right" id="rightpanel_cart">
        {% include "order/right.html" %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
    document.myform.mobile.focus();
    $('#continue').click(function(){
        $('#radioNewCustomer').removeAttr('checked');
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.check_tabs').click(function(){
        var next_tab = $(this).attr('id');
        current_url = window.location.href;
        url_splitted = current_url.split("/");
        new_url = url_splitted[0];
        for(var i=1;i<url_splitted.length-1;i++){
            new_url += "/" + url_splitted[i];
        }
        new_url += "/" + next_tab;
        location.href =  new_url;
    });
});
</script>
{%endblock%}
