{% load cc_tags %}
{% load web_tags %}
{% for ctxt in products_context %}
    <div class="empty_cart_prod_item ">
        <a href="{% cc_url request ctxt.product.url %}">
            <img src="{{ctxt.product_images.0.get_display_url}}" alt="{{ctxt.product.title}}" title="{{ctxt.product.title}}" width="150" height="150" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_s.jpg" %}';}return false;" onerror_cnt="0"/>
        </a>
        <div class="empty_cart_prod_desc">
            <div><a href="{% cc_url request ctxt.product.url %}" title="{{ctxt.product.title}}">{{ctxt.product.title|truncate:40}}</a></div>
            {%if request|isAnySaving:ctxt.rate_chart %}
                <div><span class="WebRupee">Rs.</span><span class="fs"> {% get_price_info request ctxt.rate_chart 'list_price' %} </span>&nbsp;&nbsp;
            {% endif %}
            <span class="f18 forange fb"> <span class="WebRupee">Rs.</span> {% get_price_info request ctxt.rate_chart 'offer_price' %}</span></div>
        </div>
        <div class="clear"></div>
    </div>
{% endfor %}
