{% extends 'web/base.html' %}
{% block content %}
<div class="breadcrumb">&nbsp;        
</div>
{% load cc_tags %}
{% load web_tags %}
<div>
    <div class="cart_left">     
        {% checkout_tabs request "payment" %}
	
    
        <form id="book_form" method="post" action="{% cc_url request "orders/book" %}">
           <div class="checkout_div">
          	<div class="payment_actions gbor min-height400" style="margin-top:10px; margin-right:10px; margin-bottom:10px; margin-left:none; width:480px; ">
                <div class="f14 mar5 pad5">
                    <span>Order Total: &nbsp;</span>
                    <span id="oPayableAmount" class="fb fmaroon f14"><span class="WebRupee">Rs.</span>  {{order.payable_amount|money}} </span>
                    
                    <span id="book_button"><div class="right"><button type="submit" name="non_instant" class="btn btn_proceed"></button> </div></span>
                </div> 
            <div class = "clear marb10"></div>     
            <div class="pay_action_bot clear"></div>
              <div class="book_inner1" id="errors" style="margin:15px;  position:relative;">      
                    {%if fb_error%}                    
                    <div class="error">
                        <ol>
                            <li>{{fb_error}}</li>
                        </ol>
                    </div>                   
                    {%endif%}
                    {% if form_errors %}
                        <div class="error">
                            <ul style="margin:0px;">
                                {% for key, value in form_errors.iteritems %}
                                    <li>{{value}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% if errors %}
                    <div class="error">
                        <ul>
                            {% for error in errors%}
                            <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                  
                  
               </div>
            <div class="pad10" id="tbl_book">
                <div id="payment_option_page"></div>
                <div class="clear"></div>
            </div>
                
          		<div class="clear"></div>
            </div>
           <div  class="payment_options" style="margin-top:10px">
           	<input type="hidden" id="order_id" value="{{order.id}}"/>
           	<input type="hidden" id="selected_payment_mode" value="none"/>
            <input type="hidden" id="id_payment_mode" name="payment_mode" value="{{payment_mode_code}}"/>
          
           <ul>
               {%for po in payment_options%}
                    <li class="payment_mode{% if po.payment_mode.code|make_list|slice:"7"|join:"" == 'payback' %} newpm{% endif %}{%if payment_mode_code == po.payment_mode.code %} selected{%endif%}" val="{{po.payment_mode.code}}#{{po.is_instant}}">{{po.payment_mode.name}}</li>
               {%endfor%}
           </ul>           
           </div>
           <div class="pay_action_bot clear">
                  <div class="clear"></div>
            </div>
            <div class="clear"></div>
            </div>
        </form>
    </div>
    <div class="cart_right">
        {% include "order/right.html" %}
    </div>
<div class="clear">
</div>
   
</div>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript">
    
$(document).ready(function(){
    $('.check_tabs').click(function(){
        var next_tab = $(this).attr('id');
        current_url = window.location.href;
        url_splitted = current_url.split("/");
        new_url = url_splitted[0];
        for(var i=1;i<url_splitted.length-1;i++){
            new_url += "/" + url_splitted[i];
        }
        new_url += "/" + next_tab;
        location.href =  new_url;
        });

    var po = "";
    $('.payment_mode').each(function(){
        if($(this).hasClass('selected')){
            po = $(this);
        };
    });
    var first_mode = $(po).attr('val').split('#');
    var is_instant = $(first_mode)[1]
    var payment_mode = $(first_mode)[0];
    var order_id = $('#order_id').val();
    $('#selected_payment_mode').val(payment_mode);
    $('#id_payment_mode').val(payment_mode);
    $.fn.get_payment_page(payment_mode,order_id);
    
});
        $.fn.get_payment_page = function(payment_mode,order_id){
            var onSuccess = function(html) {
                $('#payment_option_page').html(html);
            };
            var onError = function() {
                $('#payment_option_page').empty();
            };
            var action = '/orders/payment_option_page'
            var data = 'payment_mode_code=' + payment_mode + '&order_id=' + order_id;
            $.ajax({ url:action,
                data : data,
                success : onSuccess,
                error : onError,
                type : 'POST'
                });
        };
        $('.payment_mode').click(function(){
            $("#errors").html("");

            var po = $(this).attr('val').split('#');
            var payment_mode = po[0];
            var is_instant = po[1];
            var order_id = $('#order_id').val();
            $('#selected_payment_mode').val(payment_mode);
            $.fn.get_payment_page(payment_mode,order_id);
            $('.payment_mode').each(function(){
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
            $('#id_payment_mode').val(payment_mode);
            return false;
        });
</script>

{% endblock %}
