{% extends "web/base.html" %}
{% block content %}
<div class="breadcrumb"> <a href="#" title="Go to Chaupaati Home">Home</a>&nbsp;&raquo;&nbsp;News&nbsp;&raquo;&nbsp;Web</div>
<div class="page_right">
  <ul>
    <li><a href="/about/index.html">About Us</a></li>
    <li><a href="/about/team.html">Team</a></li>
    <li><a href="/news/index.html">News</a>
       <ul style="padding:0px 0px 5px 10px;">   
        <li><a href="/news/television.html">Television</a></li>
        <li><a href="/news/print.html">Print</a></li>
        <li><a href="/news/web.html" class="fb">Web</a></li>        
        </ul>
    </li>    
    <li><a href="/about/contact.html">Contact Us</a></li>
   
  </ul>
</div>
<div class="page">

<h1>Web</h1>
<ul style="padding-left:20px;">
<li>16 Jun 2009 - <a href="http://waternoice.com/2009/06/16/the-dysfunctions-of-angel-investing-in-india/" target="_blank">The Dysfunctions of Angel Investing in India</a> on <a href="http://www.waternoice.com" target="_blank">Water, No Ice</a>
</li>

<li>11 May 2009 - <a href="http://waternoice.com/2009/05/11/entrepreneurship-in-times-of-recession/" target="_blank">Entrepreneurship in times of Recession</a> on <a href="http://www.waternoice.com" target="_blank">Water, No Ice</a>
</li>


<li>10 Mar 2009 - <a href="http://www.sramanamitra.com/2009/03/10/chaupaati/" target="_blank">Deal Radar 2009: Chaupaati</a> on <a href="http://www.sramanamitra.com" target="_blank">Sramana Mitra's blog</a>
</li>

<li>01 Dec 2008 - <a href="http://www.yourstory.in/entrepreneurs/1023-entrepenoftheweek/1504-kashyap-deorah-founder-and-ceo-chaupaati-bazaar-pvt-ltd" target="_blank"> Entrepreneur of the Week</a> at <a href="http://www.yourstory.in" target="_blank">www.YourStory.in</a></li>

<li>08 May 2008 - <a href="http://anand.typepad.com/datawocky/2008/05/removing-fricti.html" target="_blank">Removing Friction at the Bottom of the Pyramid</a> at <a href="http://anand.typepad.com/datawocky/" target="_blank">Datawocky: Anand Rajaraman</a></li>

</ul>


</div>
{% endblock %}
