{% extends 'cs/base.html' %}
{% load cs_tags %}
{% load cc_tags %}
{% block content %}
<hr class="space"/>
<div class="message">
</div>
<div class="span-24 last">
    <form method="get">
        <input type="text" name="q" value="{{request.GET.q|default:""}}" id="q"/>&nbsp;<button>Find Users</button>
    </form>
</div>
<div class="span-24 last">
    <div style="padding:5px">

    {% if users.object_list %}
    {% user_list_header %}
        {% for user in users.object_list %}
            {% user_list user request forloop.last %}
        {% endfor %}
    {% user_list_footer %}
    {% else %}
    <div>No users found. <a href="{% cc_url request "users/add/" %}">Add user</a></div>
    {% endif %}
    </div>
</div>
{% endblock %}
