<html>
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js" charset="utf-8"></script>
<script type="text/javascript"src="http://nu.futurebazaar.com/media/js/cookie.js" charset="utf-8"></script>
<link href="/media/css/daily_deals_popup.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="fb-root"></div>
<div id="popup" class="popup">
<div id="popup_close"></div>
  <div class="inner">
    <div class="popup_header">     
      <h1>Get drop-dead deals from India's foremost retailers</h1>        
    </div>
    <div class="pad5 padl25">        
         <div class="f14 pupup_text">Our merchandizers scrape all corners of Indian markets to bring you best deals<br/> at your doorstep. Come join the gang!
         </div>
    
    </div>
    <div class="pupup_middle" style="border 1px solid green; ">

        <form method="post" action="/fb/deals_popup">
    
    <table class="fields">
{%if form.errors%}

<tr><td>
    <div class="error">
            {% for field in form %}
                {% for error in field.errors %}
                    {{error}}<br/>
                {% endfor %}
            {% endfor %}
        
    </div>
   </td></tr> {% endif %}
      <tr>
      <td> 
        <div id="error_msg" class="hidden f11" style="margin-bottom:5px"></div>
      <label for="email">Email<span class="red">*</span></label><br />
       <input type="text" id="email" maxlength=200 name="email" onblur="if (value== '') {value='Send me deals in my Inbox'}" onfocus="if (value == 'Send me deals in my Inbox') {value=''}" value="Send me deals in my Inbox"/>
      </td>
      </tr>
      <tr>
      <td>
       <label for="mobile">Mobile<span class="red">*</span></label><br />
         <input type="text" id="mobile" name="mobile" maxlength=10  onblur="if (value== '') {value='Send me deals by SMS'}" onfocus="if (value == 'Send me deals by SMS') {value=''}" value="Send me deals by SMS" />
      </td>
      </tr>
      <tr>
      <td>
      <label for="name">Name</label><br />
        <input type="text" maxlength=200 id="name" name="name"/>
      </td>
      </tr>
      <tr><td>
       <button type="submit" class="btn_subscribe"></button><a class="marl20 cp fb" id="no_will_miss" style="padding-top:20px;">No, I will miss this</a>
      </td></tr>      
       <tr><td>
       <div  class="btd marb5 mart10"></div>
       Or, use Facebook to subscribe
       </td></tr>
       <tr> <td>
          <fb:login-button perms="email,user_likes,friends_likes,publish_stream">Subscribe</fb:login-button>
          </td>
          </tr>
      </table>  
<div class="clear"></div>  
      </form>
      <div class="clear"></div>    
    </div> 
  <div class="clear"></div>    
  </div>
</div>
<script type="text/javascript">
	{%if valid%}
        setCookie('subpopdd','yes', 365);
        setCookie('subscribed','yes', 365);

		window.parent.location.href = window.parent.location.href
        {% endif %}

            FB.init({ appId: 126505110759991, cookie:true, status:true, xfbml:true });

                        

            FB.Event.subscribe('auth.login', function(response) {
              if(response.session) {
                FB.api('/me', function(res_data) {
                    var data = {
                            "id":res_data.id,
                            "first_name":res_data.first_name, 
                            "last_name":res_data.last_name,
                            "email": res_data.email
                        };
                    $.ajax({
                        type: "POST",
                        url: "/fb/subscribe_via_facebook/",
                        data: data,
                        success: function(msg){
                            if (msg=="OK"){
                                setCookie("subscribed","yes", 365);
                                setCookie("subpopdd","yes", 365);
                                window.location.href='/fb/subscribe_via_facebook'
                            };
                        }
                    });
                });
              };   
           });
    function save_cookie_reload(){
        setCookie('subpopdd','yes', 365);
        $('.close').trigger('click');
    }
    $("#no_will_miss").click(function(){
        save_cookie_reload();
    });
    $("#popup_close").click(function(){
        save_cookie_reload();
    });

</script>
</body>
</html>
