<div>
    <form id="phone_no_form"  method="post" action='/fb/facebook_register/'>
    <div>
        Mobile No: <input id ="mobile"  type="text" name="mobile_no" />
    </div>
    <input type="hidden" value="{{email}}" id="email" name="email"/>
    <input type="hidden" value="{{first_name}}" id="email" name="first_name"/>
    <input type="hidden" value="{{last_name}}" id="email" name="last_name"/>
    <input type="hidden" value="{{new_user}}" id="email" name="new"/>
    <input type="submit"/>
    </form>
</div>
