{% extends "web/base.html" %}
{%block content%}   
<style>
.page_wrapper{background:url('/media/images/signup-bg-one.gif') no-repeat 0px 0px; border1:1px solid red; width:988px; height:680px; padding-top:10px;}
.sub_fields{margin-left:370px; width:325px; margin-top:152px;}
.btn_win_subbmit{background:#fff url('/media/images/win_submit.gif') no-repeat 0 0; width:93px; height:31px;  border:none; cursor:pointer;  }
label{font-weight:bold; color:#555;}
input{width:192px;}
.fred{color:#ff0000;}
.logo_wrapper{ text-align:right; padding-right:150px;}
</style>
<div class="mart10 page_wrapper">
{% if affiliate_logo %}
<div class="logo_wrapper">
<img src="{{affiliate_logo.url}}"/>
</div>
{% endif %}
<form action="" method="POST">
 <table class="sub_fields">    
            {% for field in form %}
        <tr>
            <td width="100" style="font-weight:bold; color:#555;">
                {{field.label}}{% if field.field.required %}<span class="fred"> *</span>{% endif %}:
            </td>
            <td>
               {{field}}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class="">
           <input type="submit" value="" class="btn_win_subbmit"/> 
        </td>
    </tr>
{%if form.errors%}
    <tr>
        <td colspan="2" style="padding:0px;">
            <ul class="fred" style="margin-left:80px;" >
               {% for field in form %}
                    {% for error in field.errors %}
                            <li width="150">{{error}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </td>
    </tr>
{%endif%}
{%if errors%}
    <tr>
        <td colspan="2" style="padding:0px;">
            <ul class="fred" style="margin-left:80px;" >
               {% for error in errors %}
                    <li width="150">{{error}}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{%endif%}
 </table>
</form>
</div>
       </div>
{% endblock%}
