<html>
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" charset="utf-8"></script>
<script type="text/javascript"src="http://nu.futurebazaar.com/media/js/cookie.js" charset="utf-8"></script>
<link href="/media/css/daily_deals_popup.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="popup" class="popup">
  <div class="inner" style="height:350px;">
    <div class="thankyou_header" >     
      <h1>Thank you for subscribing</h1>        
    </div>
  </div>
</div>
<script type="text/javascript">
    setCookie('subpopdd','yes', 365);
    setCookie('subscribed','yes', 365);
</script>

</body>
</html>
