<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%load  web_tags%}
{%load cc_tags%}
{%load compressed %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        {%if request|is_rms%}Response - Future Bazaar{%endif%}
		{%if request|is_support%}Support - Future Bazaar{%endif%}
        {%if request|is_platform%}Sellers Hub - Future Bazaar{%endif%}
        {%if request|is_analytics%}Analytics - Future Bazaar{%endif%}
    </title>
<link rel="shortcut icon" href="/media/rms/images/favicon.ico"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="ygZZO-CohV6yi-jRn3MjAawO2cuZM1gCe1f_6xmHYVk" />
{% if request|is_rms or request|is_support or request|is_platform %}
<link rel="shortcut icon" href="/media/rms/images/favicon.ico"/>
<link rel="stylesheet" href="/media/rms/css/base.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/common.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/buttons.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/header.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/content.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/pop_up.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/footer.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/page.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/blueprint/screen.css" type="text/css" media="screen, projection">
{% endif %}
{% if request|is_analytics %}
<link rel="stylesheet" href="/media/rms/css/base.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/common.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/buttons.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/header.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/content.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/pop_up.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/footer.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/page.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/rms/css/blueprint/screen.css" type="text/css" media="screen, projection">
{% endif %}

<style type="text/css" media="all">
	body {background-color:#cccccc;}
	.login_container {background-color: #EEEEEE; border: 4px solid #EEEEEE; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 5px #666666; margin: 180px auto 0px auto; width: 300px;}
</style>
</head>

<body>
<div>
	<div class="login_container">
		<div class="login_title">
			Sign in to
            {%if request|is_rms%}RMS{%endif%}
            {%if request|is_support%}Support{%endif%}
            {%if request|is_analytics%}Analytics{%endif%}
            {%if request|is_platform%}Sellers Hub{%endif%}
		</div>
		<div class="login_content bottomrc5">
			<form name="ccloginform" method="post" action={%if request|is_platform%}""{%else%}"/accounts/login/"{%endif%}>
			{% csrf_token %}
                          {%if error%}
                                <div  class="error">{{error}}</div>
                          {% endif %}
			  {% if form.errors %}
			   	<div class="error">Your username and password didn't match. Please try again.</div>
			  {% endif %}      
			   <div class="mart5"> 
				<span class="login_label">{{ form.username.label_tag }}</span><br />
			        {{ form.username }} 
			   </div>   
			   <div> 
				<span class="login_label">{{ form.password.label_tag }}</span><br />
				{{ form.password }} 
			   </div>  
			   <div class="margin-t5">
				<input type="hidden" name="next" value="{{ next }}" />
				<input type="submit" id="login" class="futuresignin-btn" value="" />
			   </div> 
			</form>
		</div>
	</div>
</div>

{% block script_footer %}
<script type="text/javascript" language="JavaScript">
	document.forms['ccloginform'].elements['username'].focus();
</script>
{% endblock %}


</body>
</html>

