{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}
<div class="clear"></div>
<div class="order_no">
<div class="left"><b>Order No:</b><br />
 {{order.id}}</div>
 <div class="left" style="margin-left:150px;float:right"><b>Order Date:</b><br />
 {{order.payment_realized_on|date:"d/m/Y"}}</div>
<div class="clear"></div>
</div>

<div class="order_detail_cont">
<table cellspacing="0" cellpadding="0" class="orderDetail" >
    <tr>
        <th>Item</th>
        <th width="100">Due Date</th>
        <th width="80">Price</th>
         <th width="80">Shipping</th>
        <th width="80">Qty</th>
        <th width="80">Amount</th>
    </tr>
    {%for item in order_items%}
    <tr>
        <td class="bbnone">{{item.item_title}}</td>
        <td class="bbnone">{{item.dispatched_due_on|date:"d/m/Y"}}</td>
       <!-- <td class="bbnone">{{item.dispatched_on}}</td>-->
        <td class="bbnone">{{order.formatted_currency}} {{ item.sale_price|division:item.qty|money}}</td>
         <td class="bbnone">{{order.formatted_currency}} {{ item.shipping_charges|division:item.qty|money}}</td>
        <td class="bbnone">{{item.qty}}</td>
        <td class="bbnone">{{order.formatted_currency}} {{item.payable_amount|money}}</td>
    </tr>
    <tr>
    <td colspan="6"><span class="left f11" style="color:#808080;">{%if item.dispatched_on%}Shipped on {{item.dispatched_on|date}} by <a href="http://{{item.shipping_details.0.tracking_url}}" target="_blank">{{item.shipping_details.0.courier}}</a> (AWB: {{item.shipping_details.0.tracking_no}}){%endif%} </span>
     &nbsp;&nbsp;<span class="right f11"> <a href="{%cc_url request 'seller/update_shipping_info/'%}{{item.id}}/" title="Update Shipping Info" class="update_shipping">Update Shipping Info</a></span></td>
   </tr>
    {%endfor%}
</table>

<div  class="right">Total you need to pay: <span id="orderPayableAmount" class="fmaroon fb f14">{{order.formatted_currency}} {{order.payable_amount|money}} </span></div>
<div class="clear"></div>

</div>

<div class="order_left_cont">

<div class="cart_summary roundcorner5">
    <div class="ca bglyellow padding10 bb toproundcorner5"><b>ORDER SUMMARY</b></div>
    <div class="padding10">
        <table cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td class="f11 fdgray">MRP:</td>
                <td>{{order.formatted_currency}} {{order.list_price_total|money}}</td>
            </tr>
            <tr>
                <td class="f11 fdgray">Discount:</td>
                <td>{{order.formatted_currency}} {{order.get_discount|money}}</td>
            </tr>
          
            <tr>
                <td class="f11 fdgray bbs">Shipping:</td>
                <td class="bbs"><span id="orderShippingCharges">{{order.formatted_currency}} {{order.shipping_charges|money}} </span></td>
            </tr>
            <tr>
                <td class="fdgray f11">Total:</td>
                <td class="fmaroon f14 fb"><span id="orderPayableAmount">{{order.formatted_currency}} {{order.payable_amount|money}} </span></td>
            </tr>
        </tbody></table>
    </div>
</div>
<div class="cart_summary roundcorner5">
    <div class="ca bglyellow padding10 bb toproundcorner5"><b>SHIPPING ADDRESS</b></div>
   <div class="padding10 marginl10">
         <div class="dname">{{delivery_info.address.name}}</div>
         <div class="daddress">{{delivery_info.address.address}}</div>
         <div class="dcity">{{delivery_info.address.city}} <span class="dpincode">{{delivery_info.address.pincode}}</span></div>
         <div class="dstate">{{delivery_info.address.state}}, <span class="dcountry">{{delivery_info.address.country}}</span></div>
         <div class="dphone">Tel: {{delivery_info.address.phone}}</div>
    </div>
</div>
<div class="clear"></div>
</div>


<div class="clear"></div>
{%endblock%}
{%block user_script%}
<script type="text/javascript">

$('.update_shipping').click(function(){	
    var title_string = this.title;
    var width = 450;
    var url = this.href;
    $.get(this.href, function(data) {
        $('dialog').width(width);		
        $('#shipping_dialog').html(data);
        var dialog = $('#shipping_dialog').dialog({modal:true,
            title:title_string, 
            width:width});
        var onSubmitAlias = null;
        var onSuccess = function(responseTxt) {
            var response = $.parseJSON(responseTxt);
            if (response.status == 'updated'){
                $('#shipping_dialog').dialog('close');
                location.reload();
            }
            else{
                    $('#errors').html(response.error);
                }
        };
        var onError = function() {
            $('#form_shipping_info').submit(onSubmitAlias);
        };
        var onSubmit = function() {
            var form = this;
            var action = form.action;
            var data = $('#form_shipping_info').serialize();
            $.ajax({ url:action,
                data : data,
                success : onSuccess,
                error : onError,
                type : 'POST'
                });
            return false;
        };
        onSubmitAlias = onSubmit;
        $('#form_shipping_info').submit(onSubmit);
    });
    return false;
});
</script>
{% endblock %}
