{% extends 'web/base.html' %}
{% block content %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/styles.css" type="text/css" media="screen, projection" />
<div class="inner-content">
  <h1 class="head1">Seller Info</h1>
  <h2> View/Edit your Profile </h2>
<form method="POST" action="" id="seller_profile_form" name="seller_profile_form">
<div id="post_errors"></div>
 {% if form.errors %}
          <p style="color: red;">
                      Please correct the error{{ form.errors|pluralize }} below.
          </p>
  {% endif %}

  <div class="fb fdgray prof_sub_head">Basic Info</div>
  <table class="tbl_profile">
    <tr><td width="120">{{ form.name.label }}</td><td>{{ form.name }}</td></tr>
     <tr><td>{{ form.code.label }}</td><td>{{ form.code }}</td></tr>
      <tr><td>{{ form.website.label }}</td><td>{{ form.website }}</td></tr>
  </table>

  <div class="fb fdgray prof_sub_head">Contact</div>
  <table class="tbl_profile">
       <tr><td>{{ form.primary_email.label }}</td><td>{{ form.primary_email }}</td></tr>
       <tr><td>{{ form.secondary_email.label }}</td><td>{{ form.secondary_email }}</td></tr>
     <tr><td>{{ form.primary_phone.label }}</td><td>{{ form.primary_phone }}</td></tr>
      <tr><td>{{ form.secondary_phone.label }}</td><td>{{ form.secondary_phone }}</td></tr>
<tr><td>{{form.on_primary_email}}</td></tr>
<tr><td>{{form.on_secondary_email}}</td></tr>
<tr><td>{{form.on_primary_phone}}</td></tr>
<tr><td>{{form.on_secondary_phone}}</td></tr>
  </table>
here i am
  <div class="fb fdgray prof_sub_head">Notification</div>
  <table class="tbl_profile"  style="width:380px;">    
    <tr align="center">
      <td class="bbdr bbdb"></td>
      <td align="center" class="fdgray fb bbdr bbdb">Email</td>
      <td align="center" class="fdgray fb bbdr bbdb">Alt Email</td>
      <td align="center" class="fdgray fb bbdb">Mobile</td>
    </tr>
    <tr>
      <td width="120" class="bbdr bbdb">Payment Order</td>
      <td width="80" align="center" class="bbdr bbdb"  style="background-color:#eee;"><input type="checkbox" /></td>
      <td width="80" align="center"  class="bbdr bbdb" style="background-color:#eee;"><input type="checkbox" /></td>
      <td width="80" align="center"  class="bbdb" style="background-color:#eee;"><input type="checkbox" /></td>
    </tr>
    <tr>
      <td class="bbdr">Order</td>
      <td align="center"  class="bbdr" style="background-color:#f4f4f4;"><input type="checkbox" /></td>
      <td align="center"  class="bbdr" style="background-color:#f4f4f4;"><input type="checkbox" /></td>
      <td align="center"  class="" style="background-color:#f4f4f4;"><input type="checkbox" /></td>
    </tr>
  </table>
  
  <div class="fb fdgray prof_sub_head">Payment Options</div>
  <script>
	$(function() {
		$( "#on" ).click(function() {
			$( "#on" ).addClass( "bgreen");
			$( "#on" ).removeClass( "bgray");
			$( "#off" ).removeClass( "bred");
			$( "#off" ).addClass( "bgray");
			return false;
		});
		
		$( "#off").click(function() {
			$( "#off" ).addClass( "bred");
			$( "#off" ).removeClass( "bgray");
			$( "#on" ).removeClass( "bgreen");
			$( "#on" ).addClass( "bgray");
			return false;
		});

	});
	</script>
  <table class="tbl_profile" style="width:540px;">
    <tr>
      <td width="120">Web</td>
      <td width="170"><div class="onoff">
          <div id="on" class="leftrc5 btn bgray">ON</div>
          <div id="off" class="rightrc5 btn bgray">OFF</div>
        </div></td>    
      <td>Moto</td>
      <td width="150"><div class="onoff">
          <div id="on" class="leftrc5 btn bgray">ON</div>
          <div id="off" class="rightrc5 btn bred">OFF</div>
        </div></td>
    </tr>
    <tr>
      <td>IVR</td>
      <td width="150"><div class="onoff">
          <div id="on" class="leftrc5 btn bgreen">ON</div>
          <div id="off" class="rightrc5 btn bgray">OFF</div>
        </div></td>     
      <td>Deposit</td>
      <td width="150"><div class="onoff">
          <div class="leftrc5 btn bgreen">ON</div>
          <div class="rightrc5 btn bgray">OFF</div>
        </div></td>
    </tr>
    <tr>
      <td>Transfer</td>
      <td width="150"><div class="onoff">
          <div class="leftrc5 btn bgray">ON</div>
          <div class="rightrc5 btn bred">OFF</div>
        </div></td>
    </tr>
  </table>
  <div class="fb fdgray prof_sub_head">Payment Options Details</div>
  <script>
	$(function() {
		$( "#tbl_options td" ).click(function() {
		    $("td").removeClass( "selected");
			$( this ).addClass( "selected");	
			return false;
		});
		
		$( "#off").click(function() {
			$( "#off" ).addClass( "bred");
			$( "#off" ).removeClass( "bgray");
			$( "#on" ).removeClass( "bgreen");
			$( "#on" ).addClass( "bgray");
			return false;
		});

	});
	</script>
  <table width="500" >
    <tr>    
    <td width="100" valign="top">   
    <table id="tbl_options" class="tbl_options">
        <tr>
          <td>Credit Card</td>
        </tr>
        <tr>
          <td>IVR</td>
        </tr>
        <tr>
          <td>Deposit</td>
        </tr>
        <tr>
          <td>Transfer</td>
        </tr>
        <tr>
          <td>Cash On Delivery</td>
        </tr>
        <tr>
          <td>Cash</td>
        </tr>
        <tr>
          <td class="selected">Moto</td>
        </tr>
      </table>
      </td>
    <td width="400">
    <div class="div_optdetails">
        <table>
          <tr>
            <td width="110">Payment delivery address</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td>Branch Name</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td>Bank ac name</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td>Bank ac type</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td>Bank ac no</td>
            <td><input type="text" /></td>
          </tr>
               <tr>
            <td>Bank address</td>
            <td><input type="text" /></td>
          </tr>
           <tr>
            <td>Bank ifsc</td>
            <td><input type="text" /></td>
          </tr>         
        </table>
      </div>
      </td>
    </tr>    
  </table>
  <br />
  <br />
  <br />
  <table>
    <tr>
      <td width="180"></td>
      <td><INPUT TYPE="submit" VALUE="Save" class="button orange">
        &nbsp;	&nbsp;&nbsp;
        <INPUT TYPE="submit" VALUE="Cancel" class="button orange">
      </td>
    </tr>
  </table>
  </form>
</div>
{% endblock %} 
