
.about_us{ width:980px; margin:auto;}
.about_us_pages p{margin-bottom:10px;}
.abot_us_blocks{margin-top:20px;}
.abot_us_block{width:214px; float:left; color:#666; padding:10px; text-align:justify; line-height:1.5}
.abot_us_block_text{ height:135px;}
.abot_us_block_title{ color:#242424; font-size:18px; height:35px; line-height:35px; margin-bottom:10px; padding-left:44px;}
.masterminds .abot_us_block_title{background:url('/media/images/values.jpg') no-repeat 0px 0px;}
.values .abot_us_block_title{background:url('/media/images/values-culture.jpg') no-repeat 0px 0px; padding-left:45px;}
.emp_perks .abot_us_block_title{background:url('/media/images/emp_perks.jpg') no-repeat 0px 0px; padding-left:50px;}
.blog .abot_us_block_title{background:url('/media/images/blog.jpg') no-repeat 0px 0px; padding-left:50px; }

.working_with{width:722px;  background:#e6e6e6;}
.working_with_inner{ padding:10px 10px 10px;}
.working_with_inner img{border:1px solid #d9d9d9;}
.working_with_inner_right{width:438px; padding-left:10px; text-align:justify;}
.working_with .read_more{/*background:url('/media/images/working-with-bg.jpg') no-repeat 0 0; padding-top:50px; padding-left:208px;*/ color:#7c0000;}
.working_with .read_more img{padding:0px; }
.working_with .openings{border:1px solid #ebe38b; margin-top:20px; background-color:#fff;}
.openings table th{background-color:#98935f; color:#fff; text-align:left;padding:7px 0px 7px 20px;}
.openings table td{ padding:7px 0px 7px 20px;}

.about_us_rightbar{width:258px;}
.about_us_rightbar .videos{ border:1px solid #d9d9d9; padding:5px;}
.about_us_rightbar .videos_inner{ background-color:#f5f5f5; padding:10px;}
.about_us_rightbar .videos_title{color:#272727; background:url('/media/images/videos-icon.jpg') no-repeat 0 0; padding-left:40px; line-height:28px; margin-bottom:10px;}
.about_us_rightbar .videos_text{width:130px; margin-left:10px;}
.about_us_rightbar .i_love_working{color:#666;}
.about_us_rightbar .i_love_working_title{background:url('/media/images/i-love-working.jpg') no-repeat 0 0; height:28px; margin-bottom:10px;}
/*------------------*/

.about_us_pages{color:#333;}
.about_us_pages h1{font-size:20px; text-transform:uppercase; }
.about_us_pages .left_section{width:700px;}
.about_us_pages .right_section{width:240px; background:#f9f9f9 url('/media/images/abt-right-section-bg.png') repeat-y -1px 0 ; height:695px; margin-top:65px;}
.emp_perks_blocks{border-bottom:1px solid #e0e0e0; padding:20px 0px;}
.emp_perks_block{width:345px;}
.emp_perks_block_text{width:200px; margin-left:8px; margin-right:10px;}
.perks_title{font-size:14px; font-weight:bold;}


.about_us_nav{}
.about_us_nav li{font-size:12px ; line-height:28px;  }
.about_us_nav li.sel{background-color:#fff; color:#000; font-weight:bold;}
.about_us_nav li.sel div{}
.about_us_nav li div{border-top:1px solid #e3e3e2; padding-left:65px; background-image:url('/media/images/about-nav-sp-one.png'); background-repeat:no-repeat; }
.about_us_nav li div.home{background-position:22px 7px;}
.about_us_nav li div.careers{background-position:22px -20px;}
.about_us_nav li div.masterminds{background-position:22px -48px;}
.about_us_nav li div.values{background-position:22px -75px;}
.about_us_nav li div.perks{background-position:22px -103px;}
.about_us_nav li div.blog{background-position:22px -129px;}
.about_us_nav li div.i_love{background-position:22px -156px; }

.about_us_nav li.sel div.home{background-position:22px -183px;}
.about_us_nav li.sel div.careers{background-position:22px -209px;}
.about_us_nav li.sel div.masterminds{background-position:22px -237px;}
.about_us_nav li.sel div.values{background-position:22px -264px;}
.about_us_nav li.sel div.perks{background-position:22px -292px;}
.about_us_nav li.sel div.blog{background-position:22px -191px;}
.about_us_nav li.sel div.i_love{background-position:22px -345px; }
/*
.about_us_nav li{font-size:13px ; font-weight:bold; padding-left:20px; line-height:40px;  }
.about_us_nav li.sel{background-color:#f0eeee; background:url('/media/images/aboutus-bg-sel-item.png') repeat-y left top;}
.about_us_nav li.sel div{padding-left:51px;}
.about_us_nav li div{border-bottom:1px solid #e3e3e2; padding-left:56px; background-image:url('/media/images/about-nav-sp-one.png'); background-repeat:no-repeat; }
.about_us_nav li div.home{background-position:0px 10px;}
.about_us_nav li div.careers{background-position:0px -30px;}
.about_us_nav li div.masterminds{background-position:0px -70px;}
.about_us_nav li div.values{background-position:0px -110px;}
.about_us_nav li div.perks{background-position:0px -149px;}
.about_us_nav li div.blog{background-position:0px -191px;}
.about_us_nav li div.i_love{background-position:0px -228px; }

.about_us_nav li.sel div.home{background-position:0px -267px;}
.about_us_nav li.sel div.careers{background-position:0px -308px;}
.about_us_nav li.sel div.masterminds{background-position:0px -348px;}
.about_us_nav li.sel div.values{background-position:0px -386px;}
.about_us_nav li.sel div.perks{background-position:0px -427px;}
.about_us_nav li.sel div.blog{background-position:0px -191px;}
.about_us_nav li.sel div.i_love{background-position:0px -505px; }
*/
.openings_nav{border-top:1px solid #cdcdcd; padding-top:25px; margin-top:25px;}
.openings_nav_title{color:#2d2d2d; font-size:20px; background:url('/media/images/job-opening-icon.jpg') no-repeat 20px 0; padding-left:60px;}
.openings_nav ul{margin-left:20px; margin-top:20px;}
.openings_nav li{background:url('/media/images/arr-bul.png') no-repeat 0px 7px; padding-left:10px; line-height:20px;}


.masterminds_favorite{padding-left:10px; margin-top:20px;}
.masterminds_favorite dt{color:#457ab0; font-size:13px; font-weight:bold; background:url('/media/images/bullet-arrow.jpg') 0 3px no-repeat; padding-left:30px;}
.masterminds_favorite dd{font-style:italic; margin-bottom:20px;padding-left:30px;}


.our_values li{background:url('/media/images/bullet-arrow.jpg') 0 3px no-repeat; padding-left:15px; margin-bottom:20px;}
.our_values li strong{color:#457ab0;}

/* career*/
.opening{margin-top:1px;}
.opening_title{ background:#818181 url('/media/images/bullet-arrow-1.png') no-repeat 10px 10px; cursor:pointer;}
.opening_title h4{background1: url('/media/images/minus-sign.png') no-repeat 680px 10px; color:#fff; line-height:25px; padding:0 10px 0 20px; font-weight:bold;}
.opening_title h4.minus{background:url("/media/images/minus-sign.png") no-repeat 680px 10px !important;}
.opening_title h4.plus{background:url("/media/images/plus-sign.png") no-repeat 680px 10px !important;}

.opening_desc{border:1px solid #818181; padding:10px;}
.opening h5{font-size:12px; font-weight:bold;}
.opening_desc p{margin-bottom:10px;}
.opening ul{list-style:disc outside; margin-left:15px; }

/* end career*/
