  /*css btns*/ 
 .button{
 	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
	display:inline-block;	
	zoom:1;
	*display:inline;
	font-family:arial;	
	font-weight:bold;
	padding:4px 6px;
	text-decoration:none;
	text-transform:uppercase;
	cursor:pointer;
	/*text-shadow:1px 1px 0px #aeaeae; */
	 }
   .button.orange{
	color:#171717;
	border:1px solid #edac33;
	-moz-box-shadow:inset 0px 1px 0px 0px #ececec;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ececec;
	box-shadow:inset 0px 1px 0px 0px #ececec;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fbc530), color-stop(1, #f9a722) );
	background:-moz-linear-gradient( center top, #fbc530 5%, #f9a722 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc530', endColorstr='#f9a722');
	background-color:#fbc530;
	
	}
.button.orange:hover{text-decoration:none;
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9a722), color-stop(1, #fbc530) );
	background:-moz-linear-gradient( center top, #f9a722 5%, #fbc530 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9a722', endColorstr='#fbc530');
	background-color:#f9a722;}


/*
.btn_apply{
 border:none; cursor:pointer; display:inline-block;  padding:4px 10px; color:#fff; text-transform:uppercase; font-weight:bold;
background: #006bba; 
background: -moz-linear-gradient(top, #006bba 0%, #004b94 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006bba), color-stop(100%,#004b94)); 
background: -webkit-linear-gradient(top, #006bba 0%,#004b94 100%); 
background: -o-linear-gradient(top, #006bba 0%,#004b94 100%); 
background: -ms-linear-gradient(top, #006bba 0%,#004b94 100%); 
background: linear-gradient(top, #006bba 0%,#004b94 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006bba', endColorstr='#004b94',GradientType=0 ); }
.btn_apply:hover{text-decoration:none;}

*/
   /*css btns end*/
 
 /*old btns*/
.btn { background:url('../images/spbtns.png') no-repeat top left;  border:none; cursor:pointer;} 
.btn.btn_buynow_small { background-position: 0 0; width: 76px; height: 22px;  } 
.btn.btn_buynow { background-position: 0 -24px; width: 111px; height: 30px;  } 
.btn.btn_prod_buynow { background-position: 0 -85px; width: 126px; height: 32px;  } 
.btn.btn_buy_selected { background-position: 0 -56px; width: 139px; height: 27px;  } 
.btn.btn_apply { background-position: 0 -119px; width: 67px; height: 21px;  } 
.btn.btn_post { background-position: 0 -142px; width: 67px; height: 21px;  } 
.btn.btn_save { background-position: 0 -165px; width: 69px; height: 21px;  } 
.btn.btn_submit { background-position: 0 -188px; width: 69px; height: 21px;  } 
.btn.btn_compare { background-position: 0 -211px; width: 89px; height: 21px;  } 
.btn.btn_proceed { background-position: 0 -234px; width: 108px; height: 27px;  } 
.btn.btn_send_inst { background-position: 0 -263px; width: 147px; height: 21px;  } 
.btn.btn_change_pw { background-position: 0 -286px; width: 158px; height: 21px;  } 
.btn.btn_track_order { background-position: 0 -309px; width: 137px; height: 27px;  } 
.btn.btn_make_payment { background-position: 0 -338px; width: 148px; height: 27px;  } 
.btn.btn_proceed_to_pay { background-position: 0 -396px; width: 180px; height: 28px;  } 
.btn.btn_add_contact { background-position: 0 -426px; width: 178px; height: 27px;  } 
.btn.btn_signup { background-position: 0 -455px; width: 150px !important; height: 34px;  } 
.btn.btn_signin { background-position: 0 -491px; width: 150px !important; height: 34px;  } 
.btn.btn_proceed_to_shipping { background-position: 0 -527px; width: 235px; height: 27px;  } 

.spone.btn_home_submit { background-position: -40px -432px; width: 69px; height: 21px; border:none; } 
.spone.btn_menu_buynow { background-position: -39px -392px; width: 76px; height: 22px;  } 

.btn_buynow{display: inline-block; } 
 .btn_buy_together{ background-color:#fff; background-image:url("../images/sprite-img-two.png"); background-repeat:no-repeat; background-position:0px -107px;
 width:107px; height:27px; border:none; cursor:pointer;}

 .btn_pay_now{ background-color:#fff; background-image:url("../images/btn-pay-now.jpg"); background-repeat:no-repeat; background-position:0px 0;
 width:135px; height:33px; border:none; cursor:pointer;}
.btn_cancel{width:65px; height:26px; background:transparent url("../images/cancel.gif") no-repeat 0 0; border:none; cursor:pointer;}
.btn_change{width:69px; height:26px; background:transparent url("../images/change.gif") no-repeat 0 0; border:none; cursor:pointer;}
.btn_search{width:65px; height:26px; background:transparent url("../images/search.gif") no-repeat 0 0; border:none; cursor:pointer;}
.btn_add{width:48px; height:26px; background:transparent url("../images/add.gif") no-repeat 0 0; border:none; cursor:pointer;}


.btn_viewall{background:url("../images/btn-view-all.png") no-repeat 0 0;
 width:98px; height:27px; border:none; cursor:pointer;}
 
 /*old btns*/