/*cart.css*/
.cart_page{color:#4e4e4e;/*width:825px;*/ width:810px; border:1px solid #ccc; }
.cart_tbl_outer{height:250px; overflow-x: hidden;overflow-y: scroll;}
.cart_tbl{margin:10px; margin-top:0; width:790px; /*width:782px;*/}
.cart_tbl th{background:#f1f1f1; border-top:1px solid #dccdcd; border-bottom:1px solid #dccdcd; padding:5px;}
.cart_tbl td{padding:15px 5px 10px; vertical-align:top; border-bottom:1px dotted #dccdcd;}
.cart_tbl img{border:1px solid #d8d7d7; margin:0 10px 0 20px;}
.cart_tbl select{padding:0px; width:40px; text-align:center;}
.cart_tbl .cart_item_details{text-align:left;}
.cart_tbl .cart_qty{/*width:50px; */text-align:center;}
.cart_tbl .cart_shipping{/*width:100px;*/ text-align:center;}
.cart_tbl .cart_price{width:65px; text-align:right;}
.cart_tbl .cart_amount{width:120px; text-align:right;}
.cart_tbl input[type="text"]{width:25px; text-align:center;}
.cart_tbl_footer{padding:10px; border-top:1px solid #dccdcd; background:#f8f8f8; }
.cart_tbl_footer_right{width:360px; vertical-align:middle; margin-top:25px;  text-align:right; margin-right:5px;}

 .cart_right .need_assistance {
    background-position: 0 -123px;
    color: #000000;
    height: 96px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
    padding-top: 15px;
    width: 220px;
}


/*.btn_proceed_to_pay{background:url('/media/images/btn_proceed_to_payment.gif') 0 0 no-repeat; width:204px; height:38px; display:inline-block;}
*/
.amount_tbl {width:250px;}
.amount_tbl td{padding:3px 4px;;}
/*.btn_apply{background:url('/media/images/btn_apply.gif') 0 0 no-repeat; width:64px; height:29px; border:none; cursor:pointer; display:inline-block;}
*/.redeem{vertical-align:top;}
.redeem label{vertical-align:top; display:inline-block;padding-top:3px;}
.redeem input[type="text"]{height:16px; padding:2px; font-size:12px;vertical-align:top; width:100px;}
.redeem select{line-height:26px; height:26px; padding:0; vertical-align:top; font-size:12px;}
.redeem select option{line-height:26px; padding-top:4px;}
.cart_left{width:720px;  margin-right:20px;float:left}
.cart_right{width:240px;float:left}

.empty_cart_prod{ padding:10px; margin-top:20px;}
.empty_cart_prod h4{font-size:15px; margin-bottom:10px; border-bottom:4px solid #000; padding-bottom:4px; }
.empty_cart_prod_item{margin-bottom:10px; float:left; width:150px; margin-right:20px;}
.empty_cart_prod_item img{text-align:center}
.empty_cart_prod_item .empty_cart_prod_desc{text-align:center }

.empty_cart_msg{background:#f9f7e5 url('/media/images/info-icon.gif') 10px 10px no-repeat; border:1px solid #eee8b6; padding:10px 10px 10px 40px;}


.cart_summary_title{background-color:#FAFAFA; font-weight:bold; border-bottom:1px solid #ddd; padding:5px 10px 5px 10px;}
.cart_summary{border:1px solid #eee;}
.cart_summary td{padding:3px 0px !important;}
.cart_summary input{margin-left:30px}
.cart_summary .padb5{padding-bottom:5px;}
.cart_summary .padt5{padding-top:5px;}
.cart_summary .bbs{border-color:#faaf55;}
.btg{border-top:#eee 1px solid;}
.carttotal td{padding:2px !important;}

a.action{cursor:pointer;text-decoration:none;color:blue}
a.action:hover{text-decoration:underline}
.linkButton{color:#05559D;font-size:11px;border:0;padding:0;background-color:#fff; cursor:pointer;}
.linkButton:hover{text-decoration:underline;cursor:pointer}
.payment_options{float:left; width:188px; margin:0px; font-size:12px; line-height:12px; border-bottom:#3e3e3e 1px solid;border-right:1px solid #3e3e3e; margin-right:-1px;}
.payment_options ul{list-style-type:none;margin:0px;padding:0px;}
.payment_options ul li{cursor:pointer; color:#333; padding:12px; margin:0px; line-height:17px; border-left:1px solid #3e3e3e; border-top:1px solid #3e3e3e; background-color:#fafafa; }
.payment_options ul li:hover{background-color:#eee;}
.payment_options ul li.header{background-color:#fced67;text-align:center;border:1px solid #3e3e3e;font-weight:bold}
.payment_options ul li.selected{background-color:#fff; font-weight:bold; border-right:none 0px; margin-right:-1px; color:#000; position:relative;}
.bt{border-top:1px dotted #999999}

.payment_actions{float:right; background-color:#ffffff;min-height:350px; width:530px; margin-left:-1px; border:1px solid #3e3e3e;}


.gbor{ background-image:url("/media/images/gdot.gif"); background-repeat:repeat-y; background-position:-1px;}
.bdot{ background-image:url('/media/images/bluedot.jpg'); background-repeat:repeat-y; background-position:0px 0px;}
.payment_actions .notice{margin-top:10px; font-size:11px;}	
.payment_actions .notice ul{padding:5px 5px 5px 15px; list-style:disc;}
.payment_actions .notice ul li{padding-bottom:5px;}
.payment_actions .fmoney ol li{padding-bottom:5px; margin-left:5px; text-align:justify;}

.cash_pay_option{}
.cash_pay_option input{top:-8px; left:0px;}	
.cash_pay_option img{margin-left:-5px;}	
.payment_actions input{  font-size: 14px;
    margin-top: 0px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;}

.payment_cont{margin:10px 0px; border-top:none; border-bottom:none; border-left:none;}
.sel_state select{width:160px;}
.exp_date select{width:78px;}
.payment_actions table td{padding:7px 5px;}

.emi_bank_logo div{float: left; width: 120px;}


#book_inner{}
.book_inner{margin:20px; font-size:11px;}
.book_inner textarea{margin:0px;padding:2px; width:430px; font-size:12px;height:80px}
.book_inner input[type="text"]{margin:0px;padding:2px;width:200px}
.book_inner select{margin:0px;width:200px; font-size:12px;}

.pay_action_bot{border-top:1px solid #eee; }

#checkout_tabs {border-bottom:2px solid #3E3E3E;}
#checkout_tabs ul{padding-left:12px; float:left; width:690px;}
#checkout_tabs ul li{list-style:none; margin:0; margin-right:3px; padding:0;float:left; color:#333; font-size:12px; width:167px;background-color:#E8E7E7;}
#checkout_tabs ul li.selected{background-color:#3e3e3e; color:#fff;}
#checkout_tabs div.step1{padding-top:10px;width:138px;float:left}
#checkout_tabs div.step2{padding-top:10px;width:138px;float:left}
#checkout_tabs div.step3{padding-top:10px;width:138px;float:left}
#checkout_tabs div.step4{padding-top:10px;width:138px;float:left}

#checkout_tabs div.step_no{padding:3px 6px; font-size:22px; float:left}
.checkout_table .item_qty{padding:3px; width:26px; text-align:center;}
.checkout_table{border-collapse:collapse;}
.checkout_table img{border:1px solid #D5D8DA; padding:1px;}
.checkout_table th{background-color:#FAFAFA; border-bottom:1px solid #bbb; padding:5px 5px; text-align:left;}
.checkout_table td{border-bottom:1px solid #eee !important;  font-weight:normal;padding:7px 5px; }
.checkout_table td,.checkout_table th,.tbl_bookorder td,.tbl_bookorder th{vertical-align:top}
.wishlist_remove{width:180px; font-size:11px;}
.wishlist_remove td{width:100px; padding:0px; border:none;}
.cartbox{border:1px solid #3E3E3E; border-top:0px none; padding:10px;}


.cart_summary table{margin:0}
table.checkout_table td.label,.tbl_bookorder td.label{text-align:right;font-weight:bold}

.couponcode{}
.couponcode input{width:130px; padding:3px; font-size:11px;}

input.checkout_mobile{width:315px;padding:3px}
input.checkout_password{width:315px;padding:3px}
table.checkout_table textarea,.tbl_bookorder textarea{width:300px;height:80px;margin:0}
table.checkout_table select,.tbl_bookorder select{margin:0;border:1px solid #ccc;width:160px; padding:3px;}
#tbl_book_order select{}
div.order_snippet{padding:10px}

#password_row .linkButton{width:144px;}

.input_l{width:322px}
#delivery_table input[type="text"]{padding:4px;margin:0; font-size:14px;}
#delivery_table textarea{padding:3px;margin:0;width:323px;height:60px}
#delivery_table textarea.texta_m{width:300px;height:50px}

.ds158 select{width:158px;}
.input_m{width:152px}
.dinput_m input{width:147px;}
.address{margin:0px 0px;background-color:#fafafa;border:1px solid #ccc}
.address{margin:0px 0px;}
.gift_msg{background-color:#f4f4f4;border:1px solid #ccc}
#delivery_table div.first{margin-top:0}
.dname{font-weight:bold}

.address_title span{color: #999; padding-left: 14px;}
#delivery_table .ship_address_hover {background-color:#fffff9; border:1px solid #333; cursor: pointer; color:#333;}
#delivery_table .ship_address_hover .address_title span{color: #004F96; background: transparent url(/media/images/right_arrow_11_9.png) no-repeat 0px 2px;}
#delivery_table .selected_address{background-color:#fffff9; border:1px solid #999;}
#delivery_table div.address input[type="text"]{margin-top:0px ;font-size:14px; padding:4px;}
#delivery_table div.address textarea{margin:0px;font-size:14px; padding:4px;}
div.address address{font-style:normal;padding-left:16px;margin:0}
#delivery_table div.short_notes textarea.texta_m{width:258px;height:80px;margin:0;font-size:14px; padding:4px;}

/* order comfirmed*/
.order_booked_msg{border:1px solid #e2c822; padding:8px;  padding-left:45px; background:#fff9d7 url('/media/images/tick-sign.png') no-repeat 8px 14px; }

.tbl_order_conf{width:300px; }
.tbl_order_conf td{padding:2px 0;}
.shipping_address_icon{ background:url('/media/images/shipping-icon.png') no-repeat 0 0; padding-top:3px; padding-left:25px;}
.ord_conf_total{}

.ord_conf_similar_prod{/*border:1px solid #e0e0e0;*/ padding:10px; margin-top:20px;}
.ord_conf_similar_prod h4{font-size:15px; margin-bottom:10px; padding-bottom:5px; border-bottom:4px solid #000;;}
.ord_conf_similar_prod_item{margin-bottom:10px; float:left; width:150px; margin-right:40px;}
.ord_conf_similar_prod_item img{text-align:center}
.ord_conf_similar_prod_item .ord_conf_similar_prod_desc{text-align:center; }

.receipt th{padding:5px; background-color: #e6e4e4; color:#000;}
.receipt td{padding:10px 5px; border-bottom:1px solid #dcdcdc;}
.receipt_total th, .receipt_total td{padding:5px;}
.ord_conf_print{background:url('/media/images/printer-icon.png') no-repeat 0 0; padding-left:20px;}
.ord_conf_left{width:720px;float:left; }
.ord_conf_left #shipping_address{width:220px;}
.ord_conf_right{width:240px; float:right;}
.ord_conf_right .cust_care_icon{background:url('/media/images/phone-icon.png') no-repeat 0 0; padding-left:30px; line-height:1; padding-top:3px; padding-bottom:2px;}
.ord_conf_right .email_us_icon{background:url('/media/images/mail-icon.png') no-repeat 0 0;padding-left:30px; line-height:1; padding-top:3px; padding-bottom:2px;}
.ord_conf_right .customer_box{background:#f6f6f6;}
.ship_box{padding:10px; background-color:#fafafa;}
.ship_box h3{font-size:12px;}

.sing_up_conf{padding:10px; border:1px #FEBB4A solid; background-color:#fffff5;}
.sing_up_conf input{margin-top:2px;}
.sing_up_conf h3{font-size:12px;}

.ord_conf_payback{background:#daedff url('/media/images/payback-icon.png') 165px 32px no-repeat; color:#000;}
.ord_conf_payback_title{color:#003399;}
.ord_conf_msg{      
    background:#E6EFC2 url("/media/images/green_tick_sign.png") 10px 15px no-repeat;   
    padding:15px 15px 15px 50px;    
    border:1px solid #C6D880;    
    color:#264409;
}

.ord_conf_similar_item {
    float: left;
    margin-bottom: 10px;
    margin-right: 14px;
    width: 160px;
}

/* Guest Checkout   --------------------- */
.guest_Check{}
.guest_Check .llabel{float:left; width:210px; margin-top:20px; line-height:20px; }
.guest_Check .rcan{float:left; width:330px;margin-top:20px;}
.dbox{border:1px dashed #EEEEEE; background-color:#fffff0;}
/*cart.css end*/
