.daily_deals_details_left {	
	width:632px;
	float:left;
	color:#333;
	padding:0 4px;	
}
.daily_deals_details p{padding:0 12px;}
.daily_deals_details h1{font-size:18px; color:#457ab0; padding:0 12px;}
.daily_deals_details h2 {background-color:#e1f3fe; border-bottom:4px solid #bed0e3; color:#457ab0; font-size:15px; line-height:26px; padding:0 12px; margin-top:15px; font-weight:bold;}
.daily_deals_details h3 {	
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;	
	color:#457ab0;
	line-height:1;		
	padding:0px 12px;margin-top:15px;
}
.daily_deals_details h4 {	
	font-size:12px;
	font-weight:bold;
	padding:0px 12px;
	margin-top:10px;	
	}

.daily_deals_details_left .featuregroup{	border-bottom:1px solid #bed0e3; }
.daily_deals_details_left .featuregroup ul li{background:url('../images/bullet-one.png') no-repeat 0 4px; padding:2px 16px;}

.daily_deals_details_left ul{margin:0 14px 10px;}
.daily_deals_details_left ul li{background:url('../images/bullet-one.png') no-repeat 0 4px; padding:2px 16px; }
.daily_deals_details_left ul.bullet_none li{background:none !important; padding:2px 5px !important;}
.daily_deals_details_left ul.bullet_disc li{background:none !important; list-style:inside disc; padding:2px;}

.dod_grid{ margin-bottom:10px;float:left;}
.dod_grid li{width:150px;  float:left; margin:0px 6px 0px 0px; list-style:none !important; padding:0px !important; background-image:none;}
.dod_grid img{width:140px; height:140px; padding:4px; border:1px solid #D5D8DA;}
.dod_item_title{font-weight:bold; text-align:center; margin:0 0 10px; position:relative; padding-left:10px; height:30px; overflow:hidden;}
.dod_grid .type{color:#757575; margin:10px 0 5px;}

.daily_deals_details .like_tw{padding-right:0px;}
.daily_deals_rightbar{
width:310px;
float:right;
}
.daily_deals_details  h6{font-size:15px; color:#6EB0DA; margin-bottom:10px;}
