/*sign in*/
.dialog{background-color:#fff;border-left:4px solid #4E9FD3;border-right:4px solid #4E9FD3;border-bottom:4px solid #4E9FD3;padding:20px 25px 25px;font-size:12px}
.dialog input[type=text], .dialog input[type=password]{padding:2px;}
/*end*/

#bg {
	width:1263px;
	opacity:0.8 !important;
	background-color:#ccc !important;
	position:fixed;
    top:0px;
    left:0px;
	height: 3617px !important;
	z-index:1101;
}
.popup {
width:676px;
/*height:400px;*/
color:#242424;
font-size:12px;
position:fixed;
background-color:#fff;
left:23%;
top:100px;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#888, offX=0, offY=0, positive=true);
z-index:1300;
}
.inner {
	border:10px solid #00529c;	
	background-image: url("../images/dealspop-bg.jpg");	
	background-repeat:no-repeat;
	background-position:0px 54px;
	
	
}
.popup_header {
	background-color:#00529c !important;
	padding-bottom:10px;
}
.popup_header h1 {
	float:left;
	font-size:21px;
	color:#fed000;	
	background-color:#00529c !important;
	line-height:42px;
	padding:0 10px;
	width:514px;
}
.popup_header .close {
	/*width:90px;*/
	padding:10px;
/*	height:32px;*/
	float:right;
	color:#ffffff;
/*	background-color:#00529c !important;
	border-left:1px solid #006dcf;*/
	cursor:pointer;
	font-weight:bold;
	margin-left:10px;
	margin-top:5px;
}


.pupup_middle {
	/*background-image: url("../images/dealspop-bg.jpg");*/
	/*background-image: url("../images/popup_bg.gif");
	
	background-repeat:no-repeat;
	background-position:0px 0px;*/
	padding-top:10px;
	height:248px;
	

}
/*.popup_products {
	height:74px;
	background-image: url("../images/popup_products.gif");
	background-repeat:no-repeat;
	background-position:10px 0px;
	border-bottom:1px dotted #9abad8;
}*/
.popup .inner .dl_sub {
	float:right;
	width:300px;
	margin:20px 20px 10px;
}
.popup .inner .dl_sub dt {
	width:62px;
	float:left;
	font-weight:bold;
	padding-top:5px;
}
.popup .inner .dl_sub dd {
	width:226px;
	float:left;
	margin-bottom:10px;
}
.popup .inner .dl_sub dd input {
	width:220px;
	height:24px;
	line-height:24px;
	color:#333333;
	vertical-align:middle;	
	
}
.btn_subscribe{
background-color:#fff;
background: url("../images/btn_subscribenow.gif");
	background-position:0px 0px;
	 background-repeat:no-repeat;
	 width:113px;
	 height:27px;
	 border:none;
	 cursor:pointer;
	 
	 }


.popup_bottom{border-top:1px dotted #9abad8;}
.popup_bottom .popup_logo {
	background: url("../images/fb-small-logo.gif");
	background-position:20px 10px;
	 background-repeat:no-repeat;
	height: 85px;
	width: 262px;
	float:left;
}
.popup_text {
	font-size:13px;
	width:360px;
	border-left:1px dotted #ccc;
	height: 45px;
	margin:10px 0px 10px 10px;
	float:left;
	padding:10px 10px;
	vertical-align:middle
}
/*.popup_bottom {
	background-color:#fff;
}*/
