
.forgot_pw{padding:20px; border:4px solid #eee; font-size:12px; width:730px;}
.forgot_pw h1{font-size:18px; padding:0px 0}
.forgot_pw p{padding-bottom:5px; font-size:12px; margin-top:10px;}
.forgot_pw div input{padding:4px; width: 200px; font-size:14px;}
.forgot_pw div input[type="text"]{margin-top:0px !important}
.forgot_pw button{margin-top:5px; padding:3px 5px; }
.f16{font-size:16px;}
.forgot_pw dl{width:360px; clear:both;}
.forgot_pw dt{float:left; width:120px;}
.forgot_pw dd{margin-left:120px; width:200px; }
.submitLink {
    background-color: transparent;
    color:#0000FF;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    cursor: hand;
}

/*replace above with this*/
.user_info{padding:30px 40px;font-size:12px; }
.user_info h1{font-size:18px; padding:0px 0}
.user_info p{padding-bottom:5px; font-size:12px; margin-top:10px;}
.user_info div input{padding:4px; width: 255px; font-size:14px;}
.user_info div input[type="text"]{margin-top:0px !important}
.f16{font-size:16px;}
.user_info dl{width:360px; clear:both;}
.user_info dt{float:left; width:120px;}
.user_info dd{margin-left:120px; width:200px; }
.submitLink {
    background-color: transparent;
    color:#0000FF;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    cursor: hand;
}
