.spone { background-image: url('/media/images/sp-one.png'); background-repeat: no-repeat; background-position: top left;  } 
/*.spone.shipping_icon { background-position: 526px -64px; } */
.spone.timer .seller { background-position: 0px -446px; } 
.spone.timer-ho { background-position: 0px -485px; }


.subscribe_top{
	background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefefe 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefefe 0%,#f4f4f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fefefe 0%,#f4f4f4 100%); /* IE10+ */
background: linear-gradient(top, #fefefe 0%,#f4f4f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
width:970px; margin:0 auto; padding:5px 0 8px 10px; box-shadow:0px 1px 5px #666;-moz-box-shadow:0px 1px 5px #666;-webkit-box-shadow:0px 1px 5px #666; position:relative; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;
border-bottom:1px solid #d9d9d9; z-index:1000; }
#subscription_form{background:url('/media/images/never_miss_deal.gif') 0 0 no-repeat; padding-left:120px; width:850px;}
.subscribe_top label{font-size:11px; color:#000;}
.subscribe_top input{width:186px; height:16px; padding:2px; margin-right:15px;  -moz-box-shadow:inset 0 1px 5px #dbdbdb;  -webkit-box-shadow:inset 0 1px 5px #e4e4e4;
  box-shadow:inset 0 1px 5px #e4e4e4; 
 }
.subscribe_top button{color:#fff; border:1px solid #000; font-weight:bold; padding:0 2px; cursor:pointer; background-color:#000; 
-moz-box-shadow1:inset 0 1px 1px #ccc;  -webkit-box-shadow1:inset 0 1px 1px #ccc;
  box-shadow1:inset 0 1px 1px #ccc; font-family:Arial,Helvetica,sans-serif; font-size:12px;
vertical-align: middle;

}
.subscribe_top .sub_close{background:#cd0000; color:#fff; font-size:9px; display:inline-block; padding:1px 6px; position:absolute; right:0; bottom:0; cursor:pointer;}

.subscribe_top .info_msg{padding:15px 15px 15px 30px; color:#000;  background-position: 0px -158px; }


/* Subscription Massage Box */
.sub_info_msg{width:600px;}
.sub_info_msg h3{font-size:18px; font-weight:bold; padding:10px; background-color:#000; color:#fff;}
.sub_info_msg .sus_text{color:#db5200; font-size:20px; font-weight:bold;}
.email-mass{background:transparent url(/media/images/sub_info_msg.png) scroll no-repeat 0px -136px; padding:0px 0px 10px 45px; min-height:30px;}
.phone-mass{background:transparent url(/media/images/sub_info_msg.png) scroll no-repeat 0px -196px; padding:0px 0px 10px 45px; min-height:30px;}

.subscribe_top .info_msg{padding:15px 15px 15px 30px; color:#000;  background-position: 0px -158px; }

/**/
.header{background-color:#fff; position:relative; z-index:1000;}
.search button {
	}

.header_top {

	height:20px;
	width:100%;
}
.top_nav {	
	text-align:right;
	margin-bottom:4px;
	font-size:11px;	
	
}
.top_nav .signin {padding:2px 13px 2px 5px; border:1px solid #fff;/* display:inline-block;*/ background: url("/media/images/bul-down-1.png") 66px 7px no-repeat;	
}
.top_nav .signin.active{  border:1px solid #000; border-bottom:1px solid #fff; background-color:#fff; padding-bottom:8px; position:relative; z-index:600;
}

/*sign in*/
.signin_nav{margin-top:2px;height:28px; /* overflow:hidden;*/}
.signin_nav li{float:left; position:relative; z-index:500;}


.signin_form, .signup_form, .subscribe_form{width:230px; background-color:#fff; padding:20px 20px; /*position:absolute;   z-index:500; */text-align:left; font-size:12px;
-moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;
  border:1px solid #000;
}
.signin_form{right:0px;top:22px; position:absolute;}
.signup_form{left:-216px;top:18px;}
.subscribe_form{left:-136px; top:18px;}
.signin_form label, .signup_form label, .subscribe_form label{font-weight:bold;margin-bottom:10px; display:block;}
.signin_form input.txt, .signup_form input.txt, .subscribe_form input.txt{width:225px !important; display:block; margin-bottom:10px; padding:4px;  color:#363636; font-size:11px;}
.signin_form .signin_submit a, .signup_form .signup_submit a, .subscribe_form .subscribe_submit a{ background-color:#000; color:#fff;  border:none; padding:3px 5px; font-weight:bold; }

.signin_form .signin_submit a:hover, .signup_form .signup_submit a:hover, .subscribe_form .subscribe_submit a:hover{box-shadow:1px 1px 5px #666;-moz-box-shadow:1px 1px 5px #666;-webkit-box-shadow:1px 1px 5px #333}

.signin_form .signin_submit a:hover, .signup_form .signup_submit a:hover, .subscribe_form .subscribe_submit a:hover{text-decoration:none;}
.signin_form .or_hr{width:235px; height:14px; background:url('/media/images/or.jpg') 0 0  no-repeat;}
.signin_form a{}

.signin_form .error, .signup_form .error, .subscribe_form .error li{float:none; position:static; z-index:inherit;}
#signin_password[placeholder], #signin_password::-webkit-input-placeholder{color:#363636;}

.switch_version{margin-top:2px;}
.switch_version a{color:#CC3300;}
.myaccount_links{width:100px !important}
.myaccount_links li{float:none; text-align:left; font-size:11px; line-height:1.6;}

.mart2{margin-top:2px;}

.header_main {
	width:980px;
	margin:0px auto;
	color:#383838;
	
}
#logo {
	float:left;
	margin-right:44px;	
	margin-top:10px;
	margin-bottom:5px;	
}
.header_right{float:right; width:686px;}


.cart_outer{background:transparent;}
.cart {
	float:right;
	width:auto;
	height:20px;
	line-height:10px;
	padding:8px 10px 5px;	
	position:relative; z-index:110;	
}

.cart.active{-moz-box-shadow: 0px 5px 10px #666;
  -webkit-box-shadow: 0px 5px 10px #666;
  box-shadow: 0px 5px 10px #666;   	
  background:#fff;
  }
  
.cart .cart_icon{ background:transparent url("/media/images/new_menu.png") scroll no-repeat 0px -150px;  width:27px; height:25px; float:left; margin-right:5px;}
.cart.active .cart_icon{}

.cart .cart_items {
	float:left;
	padding:5px 13px 5px 5px;
	font-size:15px;
	font-weight:bold;
	background:url("/media/images/new_menu.png") no-repeat right -83px;
}
.cart.active .cart_items{}

.cart a{color:#000;}
.cart.active a{color:#05559D;}
.cart_menu{ width:200px; position:absolute; z-index:5px; top:33px; right:0px; background-color:#fff; display:none; padding:0 10px;
	font-size:11px;
-moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;}
  
 .cart_menu .cart_item{padding:10px 0; border-bottom:1px solid #d9d9d9}
.cart_menu .cart_item_name{width:150px; margin-left:10px;}
.cart_menu .cart_total{ padding:10px 0; border-bottom:1px solid #d9d9d9; font-size:12px; }
.cart_menu .view_cart_items{
	padding:3px 5px !important; font-size:12px; line-height:14px; text-align:center; margin:10px 0; font-weight:bold;
	border-width:1px; border-style:solid; border-color:#bbb #bbb #aaa;
	
	border-color:#F5B74E #E5A73E #D6982F; color:#333!important; text-shadow:0 1px 0 #FEDD9B;box-shadow:0 1px 1px #eee,inset 0 1px 0 #fee395;
background:#FECC5F; cursor:pointer;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71',endColorstr='#febb4a');		
background-image: -ms-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FEDA71), color-stop(1, #FEBB4A));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #FEDA71 0%, #FEBB4A 100%);/* Proposed W3C Markup */

	/*padding:5px; border:1px solid #edac33;  color:#000;  font-weight:bold; text-align:center; margin:10px 0;
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fbc530), color-stop(1, #f9a722) );
	background:-moz-linear-gradient( center top, #fbc530 5%, #f9a722 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc530', endColorstr='#f9a722');
	background-color:#fbc530;*/
}

.cart_menu .view_cart_items:hover{border-color:#D29A3A #CC9436 #C89133;text-shadow:0 1px 0 #FEE1A0;box-shadow:0 1px 1px #d4d4d4,inset 0 1px 0 #fed17e;
background:#FECB5E;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354',endColorstr='#fecd61');		
background-image: -ms-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* IE10 */ 
background-image: -moz-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Mozilla Firefox */ 
background-image: -o-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Opera */ 
background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FEC354), color-stop(1, #FECD61));/* Webkit (Safari/Chrome 10) */
background-image: -webkit-linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Webkit (Chrome 11+) */ 
background-image: linear-gradient(top, #FEC354 0%, #FECD61 100%);/* Proposed W3C Markup */}



a.cart_lightbox:hover{text-decoration:none;}

.cart .white_patch{position:absolute; background-color:transparent; z-index:10; top:30px; right:0; width:100%; height:10px;}
.cart.active .white_patch{background-color:#fff;}

.shipping_icon{background:url("/media/images/free-shipping-500.png") no-repeat right 0px;}

.search_bar {
	width:978px;
	height:34px;
	margin:0px auto;
	padding:5px;
	background-color:#004d99;
	background:url("../images/searchbar-bg.gif") repeat 0px 0px;
	border:1px solid #152a39;
}

.search{
	float:left;
	position:relative;
	
}

.search_dod {top:31px; position:absolute; background:#fff; padding:10px; width:404px;display:none; z-index:550;  -moz-box-shadow: 0px 5px 10px #666;
  -webkit-box-shadow: 0px 5px 10px #666;
  box-shadow: 0px 5px 10px #666;}
.search_dod a:hover{text-decoration:none} 
.search_dod img{float:left; margin-right:10px;}	
.search_dod_con{float:left; width:344px;}
.search_dod_name{padding:2px 0;}
a:hover .search_dod_name{text-decoration:underline;}

.nav_outer{width:100%;  background:#000; height:46px;}
.new_nav{ padding-left:0px;  z-index:550; width:980px; margin:0 auto; height:46px; zoom:1}
.new_nav_ul{float:left; height:46px; }
.new_nav_ul li{ float:left;
 position:relative; z-index:100;
 cursor:pointer; 
}



/*.new_item{display:block;padding:0px; font-size:15px; text-transform:uppercase; text-align:center; vertical-align:middle; font-weight:bold;  color:#FFFFFF; text-decoration:none !important;  z-index:15000  !important; height:46px; line-height:46px;}*/

.clearance_item{width:130px; border-left:none !important; background-color:#cd0000;}
.clearance_item:hover{background: url("../images/clearance-menu-bg.gif") repeat-x 0 0 !important;}

.clearance_item.new_item_ho{background: url("../images/clearance-menu-bg.gif") repeat-x 0 0 !important; }


.item_dod{ width:156px;}
.item_battle{width:194px;}
.item_top10{width:140px;}
.new_arrivals{width:140px;}
.item_shopby{width:114px;}
.new_item:hover{ background-color:#0171c4; }
.new_item_ho{ background-color:#0171c4 !important;}

.new_l2{display:none;   position:absolute; top:46px; left:0px; z-index:11500; padding:5px; border:1px solid #7f90a9; border-top:7px solid #0171c4; background-color:#fff; 
-moz-box-shadow: 5px 5px 5px #333;
  -webkit-box-shadow: 5px 5px 5px #333;
  box-shadow: 5px 5px 5px #333;
font-weight:normal;
text-transform:none;
}
.clearance_l2{border-top:7px solid #cd0000 !important; left:0px;}

/*.nav_da{
 background-image: url("../images/nav-da.png");
    background-position:  center center;
    background-repeat: no-repeat;
	width:12px; height:12px;
	display:inline-block;
	}*/
	
.search_new {
	float:left;
	position:relative;
	margin-top:0px;
	margin-left:12px;
    width:425px;
}
.search_new input {		
	width:380px;
	line-height:25px;
	height:25px;
	outline: none;
	font-size: 14px;
	color: #666;
	vertical-align: top;
	border: 1px solid #ccc;	
	border-right:none;
	-moz-box-shadow: inset 3px 3px 5px #ccc;
	-webkit-box-shadow: inset 3px 3px 5px #ccc;
	box-shadow: inset 3px 3px 5px #ccc;
	margin:0px;
	padding-left:4px; 
	padding-right:4px;
	float:left;
}
.search_new input [text] {
	padding:0px;
}
.search_new input:focus {
	border: 1px solid #ccc;
	border-right:none;
}

.search_new button{background: url("../images/sp-one.png") 0px -113px no-repeat; width:35px ; height:31px; border:none; cursor:pointer;
	} 
#cart_tab:hover, #view_cart_items:hover{text-decoration:none;}
#view_cart_items
		
