  /* itz */
  /*header*/
  
.top_bar_outer {
       background:#000;
    background: -moz-linear-gradient(center top , #333333 0pt, #111111 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    display: block;
    height: 21px;
    line-height: 21px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color:#ccc;
}

.top_bar_inside{ margin:auto 10px;;}
  /* /header*/
  
  /* home page*/
   .itz_home_prod_wrapper{border:1px solid #e6e5e5;}
    .itz_home_prod_left h1 {
                       font-size:18px;      
                       color:#010101;
                       padding:0px 0px;
                       line-height:18px;
                       margin-bottom:2px;
                       margin-top:20px;
                       }
    .itz_home_prod_content{width:400px;}
    .itz_home_left_wrapper{width:278px;}
    .itz_home_price{color:#606060; }
    .itz_home_price td{padding:0px;}
    .itz_home_price .price_lable{ width:120px; padding:0px 0 5px;}
    .itz_home_price .price_value{width:400px;  padding:0px 0 5px;}
    .itz_home_price .size_box li{padding:3px 5px; border:1px solid #7c7c7c; color:#7c7c7c; display:inline-block; font-weight:bold; margin-right:5px; font-size:12px; 
    zoom: 1; *display:inline;
    }
    .itz_home_price .size_box li.sel{background-color:#7c7c7c; color:#fff;}
    .itz_home_price .color_box li{ background-color:#bcb19a; width:20px; height:20px; display:inline-block;  margin-right:5px; zoom: 1; *display:inline;
    }
    .itz_home_price .color_box li.sel{outline:1px solid #ccc; border:1px solid #fff;}
    
    
    .itz_home_price .size_box .size_chart{ background:#ebebeb url('/media/images/size-chart.png') 0 0 no-repeat; padding-left:20px; font-weight:normal; margin-left:10px;}
    
    .pdp_short_features{color:#606060; border-bottom:1px solid #e1e1e1; padding-bottom:10px;}
    .pdp_short_features li{float:left; margin-left:0px; margin-right:10px; width:180px; overflow:hidden;
     background:url('/media/images/bullet-disc.png') no-repeat 0px 5px; padding-left:12px; }
    .itz_home_add_qty{border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; padding:10px 0;}
    .itz_home_buy_now{padding:10px 0; color:#606060; }
    .itz_home_buy_now .phone_no{font-size:24px; font-weight:bold;}
    .itz_home_buy_now .shop_on{}
    .itz_home_offer{border-top:1px solid #f3dd9d; border-bottom:1px solid #f3dd9d; background:#fdffcb; padding:7px 10px 7px 45px; position:relative; margin-left:10px;}
    .itz_home_offer_title{text-transform:uppercase; color:#af0202; font-size:11px; font-weight:bold;}
    .itz_home_offer_icon{background:url('/media/images/pdp-offer-icon.png') 0 0 no-repeat; width:47px; height:47px; position:absolute; left:-10px; top:-5px;}
    .itz_home_left_tbl{background:#f0f1f1; line-height:1;}
    .itz_home_left_tbl td{padding:0px; color:#000;}
    .itz_home_left_tbl th{background:#282828; font-size:23px; color:#fff; padding:8px 10px; text-transform:uppercase;}
    .f90{font-size:90px; line-height:90px;}
    .itz_home_left_thumbs img{border:1px solid #e5e5e5; margin-left:10px;}
    .itz_home_features li{float:left; width:180px; list-style:disc; margin-left:15px;}
    .f30{font-size:30px;}
    .f75{font-size:75px;}
    .itz_home_prod_wrapper .padl55{padding-left:55px !important;}
    
    .itz_home_prod_wrapper .color1{color:#282828;}

  /* /homepage*/
  
.itz_tabs{border-bottom:4px solid #3e3e3e; float:left; width:980px; padding-left:10px;}
.tab_container{margin-top:20px;}
  .itz_tabs li{float:left; background:#e6e5e5;  text-transform:uppercase; font-weight:bold; margin-right:1px;}
  .itz_tabs li.sel{background:#3e3e3e; color:#fff;}
  .tbl_itz_tabs{margin-top:20px;}
  .tbl_itz_tabs th{background:#ebeaea; padding:8px 5px; text-align:left;}
  .tbl_itz_tabs td{ padding:8px 5px;}
  .search_itz{ position:relative;}
  .search_itz input[type="text"] {padding:4px 4px; height:15px; font-size:12px; width:150px;}
  .search_itz button, .search_itz_submit{background:#000 url('/media/images/search_itz_btn.gif') no-repeat 0 0;border:none; cursor:pointer; height:25px; width:25px;}
  .itz_tabs li a {color: #000;text-decoration: none;cursor: pointer; padding:8px 10px; display:block;}
  .itz_tabs li.sel a{color: #fff;text-decoration: none;cursor: pointer;}
  .td_comm{}
  .td_comm_show{display:table-cell;}
  .tbl_cell{display:table-cell;}
  .sort_desc{padding-right:8px; background:#EBEAEA url('/media/images/sort-desc.gif') no-repeat center right  !important;}
  .sort_asc{padding-right:8px; background:#EBEAEA url('/media/images/sort-asc.gif') no-repeat center right  !important;}
   
  .add_franchise input{width:230px; padding:4px 2px;}
  
   /* Date Range */
#dr_container{position:relative; float:right; width:310px;}
.date_range{padding:0px; float:right; height:23px;border:solid 1px #b7b7b7;overflow:hidden;}
.date_range li{ list-style:none;margin:0px; padding:3px 5px; float:left; border:none; border-right:solid 1px #b7b7b7; cursor:pointer; font-size:11px; line-height:17px;}
.date_range a{color:#333; text-decoration:none;}
.date_range li#li_dr{padding:3px 5px; border-right:none;}
#dr{width:200px; height: 21px; border:none;
 background: url("/media/images/arr_down.gif") no-repeat scroll 96% 44% transparent;
 color:#555; font-size:11px; text-align:center;
 }
 
 #sr{border:1px solid #ccc;  padding:5px 5px;background-color:#fff; z-index:1000;  width:400px;  width:420px\9; position:absolute; right:0px; top:24px; }
 .tbl_sr{ /*width:100%;*/ font-size:11px;}
.tbl_sr td{padding:4px; vertical-align:middle; text-align:left;}
.tbl_sr input{font-size:11px; width:120px; padding:2px; padding:4px\9;}

.sel_dr{font-weight:bold; color:#000 !important; background:#ccc;}

.sel_menu{background:#fff; border-radius:5px 5px 0 0; color:#000 !important; height:32px; text-align:center; font-weight:bold;/* border:1px solid #eee; */border-bottom:none;}
/* end*/
.dr_container {
    position: relative;
}
#id_apply {
color:#333;
text-decoration:none;
font-weight:normal;
padding:2px 2px;
font-size:11px;
height:auto !important;
}
#dr1{
text-align:center;
border:none;
font-size:11px;
width:200px;
}
#sr1{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 25px;
    width:365px;
	width:390px\9;
    z-index: 1000;
}
#sr1 input{
width:100px !important;
margin-right:10px;
text-align:center;
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* white */

 .ui_button {
    background:transparent url('/media/rms/images/btn-bg.png') no-repeat scroll 0px -254px !important;
	border-bottom-colors: none;
    border-image: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
	border-color: #999999 #999999 #888888;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: normal !important;
    padding: 2px 6px !important;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    text-decoration:none !important;
    color:#666;
}

/* order details*/
 .order_no {
    /*background-color: #F4F4F4;
    border: 2px solid #EEEEEE;	
    padding: 8px;
   */    
margin-bottom: 10px;
    
}
.orderDetail {
    border-collapse: collapse;
    float: right;
    margin-bottom: 10px;
    width: 520px !important;
    }

.order_detail_cont {
    float: left;
     width: 520px;

}

.order_left_cont {
    float: right;
    width: 223px;
}

.orderTable th, .orderDetail th {
    background-color: #F4F4F4;
    border-bottom: 1px dotted #CCCCCC;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

.orderDetail td {
    border-bottom: 1px dotted #ECECEC;
    margin: 0;
    padding: 3px 0 3px 3px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}

.cart_summary {
    border: 1px solid #EEEEEE;
    background:#F4F4F4;
}

div.cart_summary td, div.cart_summary th, div.cart_summary caption {
    padding: 0 10px;
    font-size:12px;

}
.cart_summary .bbs{ border-bottom-color: #CBCBCB;}
/* / order details*/
