


/*
.like_us_fb{background:url('/media/images/facebook-icon.png') 0px 0px no-repeat !important;
 padding:0px 6px !important; width:34px !important;  display:block; z-index:15000  !important; height:42px !important; line-height:42px !important;} 
*/
.like_us_fb_outer .t1_l2_wrapper.w310{ width:310px !important;}
.like_us_fb_outer{position:relative;}
.like_us_fb_outer .t1_l2_wrapper{width:310px !important;}
.like_us_fb{background:url('/media/images/facebook-icon.png') 5px 5px no-repeat !important;
 padding:6px 6px !important; width:20px !important;  display:block; z-index:15000  !important; height:20px !important; line-height:20px !important;} 
.like_us_fb.item_sel{background-color:#fff !important;}


.nav_t1_outer{background-color:#000000;height:28px; color:#4E4E4E; /* border-bottom:#6b6b6b 1px solid;*/}
.nav_t1 {width:980px;margin:0px auto;color:#4e4e4e;}
.t1_l1{float:left; margin-right:30px; position:relative; z-index:90; }
.t1_l1 a:hover{text-decoration:none;}
.t1_l1_item{/*background:url("/media/images/sp-one.png") no-repeat left center;*/ background:url("/media/images/nav-icons.png") no-repeat left center; color:#fff;  font-size:11px;  text-transform:uppercase;  cursor:pointer; height:28px; line-height:28px; text-decoration:none;}
.t1_l1 .t1_l1_item div{line-height:1;}
.menu_ul .item_sel, .clearance_item .item{background-color:#0171c4 !important;}
.nav_da{background:url('/media/images/sp-one.png') -5px -1365px no-repeat; width:13px; height:6px; margin-bottom:3px; display:inline-block;}
.dod_addtocart{width:90px;}

.t1_l2_wrapper{display:none;  border:1px solid #ccc;  border-top:5px solid #0171c4; text-align:left;z-index:500; position:absolute;top:28px;  background-color:#fff;  font-size:12px;  
  -moz-box-shadow: 0px 6px 5px #666;  -webkit-box-shadow: 0px 6px 5px #666;  box-shadow: 0px 6px 5px #666;}
/*.t1_l2_wrapper{overflow:hidden; width:789px;}*/
.t1_l2_inner, .t1_l2_inner_clearance{margin:14px 5px 14px 14px; }
.t1_l2_inner ul {line-height:1.7; font-size:13px;  width:175px;}
.t1_l2_inner_clearance ul{line-height:1.7; font-size:13px;  width:151px;}

.t1_l2_inner ul a.t1_l2_item{color:#4e4e4e; display:block; text-decoration:none; }
.t1_l2_inner ul a.t1_l2_item:hover, .t1_l2_inner ul a.t1_l2_item_hover{color:#e3630c; background:url('/media/images/sp-one.png') no-repeat 150px -1403px;  /*background:url('/media/images/menu_ra.gif') no-repeat 97% 5px;*/ font-weight:bold;}

.t1_l3_wrapper{display:none; position:absolute; left:170px; top:0px;/* width:242px;*/  height:auto; overflow:hidden; float:left;  background:#f8fcff; border-left:1px solid #d8dadd}



.t1_l1_item.dod{ padding-left:24px; padding-right:7px; background-position:5px 8px;}
.t1_l1_item.popular{ padding-left:30px; padding-right:7px; background-position:6px -26px; }
.t1_l1_item.deals_for_you{ padding-left:25px; padding-right:5px;  background-position:0px -65px; }
.t1_l1_item.concepts{ padding-left:20px; padding-right:7px;  background-position:6px -90px;}
.t1_l1_item.bulk_order{ padding-left:24px; padding-right:7px; background-position:6px -122px;}
.t1_l1_item.arrivals{ padding-left:40px; padding-right:7px; background-position:6px -57px; }
.t1_l1_item.clearance{ padding-left:27px; padding-right:7px;  background-position:6px -154px; /* background-color:#cd0000; */}
.t1_l1_item.gifts{ padding-left:25px; padding-right:7px;  background-position:6px -177px;}

.t1_l1_item.home_mela{padding-left:30px; padding-right:7px; background-color:#df007e; background-image:url('/media/images/homemela-icon.png');
background-position:7px 7px;}



.t1_l2_wrapper_dod{width:620px !important;}
.menu_dod_wrapper{width:620px !important;}
.menu_dod{width:620px; height:240px; overflow:hidden;}

.menu_dod_left{width:580px; /*width:560px;*/}
.menu_dod_inner_left{width:210px;}
.menu_dod_inner_right{/*width:350px;*/ width:370px;}
.time_left_to_buy{background:url("/media/images/dod-banner-clock.png") no-repeat 0 5px; padding:5px 0 5px 16px;}

.menu_dod_right{width:177px; height:400px; padding:10px;  background:#f8fcff;}
.menu_dod_right ul li{line-height:1.7;}
.menu_dod_left ul{padding-left:15px; list-style-type:disc;}

.menu_dod_wrapper .menu_separator{border-left:1px solid #dfe1e4; border-right:1px solid #eef1f4; background-color:#e7eaed; width:1px;height:240px;   float:left;}


.clearance_item{position:relative;}
.t1_l1 .t1_l1_item{ } 



.clearance_item .item{background-color:#cd0000; line-height:35px;}

 
.t1_l1_wrapper{display:none;  border:1px solid #ccc; border-top:5px solid #0171c4; 
z-index:500; position:absolute;top:42px;  background-color:#fff;  font-size:14px;  
  -moz-box-shadow: 0px 1px 10px #666;
  -webkit-box-shadow: 0px 1px 10px #666;
  box-shadow: 0px 1px 10px #666;

}


.sub_menu_disc{height:105px;left:0px;}
.sub_menu_clearance{right:0px !important; border-top:5px solid #cd0000; }


/*.t1_l2_inner ul a.cat_item{color:#4e4e4e; display:block; text-decoration:none; }
.t1_l2_inner ul a.cat_item:hover, .t1_l2_inner ul a.cat_item_hover{color:#e3630c; background:url('/media/images/menu_ra.gif') no-repeat 97% 7px; font-weight:bold;}
*/


.clearance_cat_item{}
.clearancel1{margin:14px;}
.clearancel1 ul{line-height:1.7; font-weight:bold; font-size:15px;  width:208px;height:230px; }
.clearancel1 ul a.clearance_cat_item{color:#4e4e4e; display:block; text-decoration:none; }
.clearancel1 ul a.clearance_cat_item:hover{color:#e3630c; }

.clearance_cnt{right:-157px !important; width:831px !important;}
.gifts_cnt{left:0px !important; width:505px !important;}
.clearance_list{float:left; font-size:13px;}
.clearance_list h5{font-size:13px; font-weight:bold;}
.clearance_list ul{width:164px;}

.discountl1{margin:14px; text-transform:none;}
.discountl1 ul{line-height:1.7; font-size:14px;font-weight:normal;  width:150px;height:230px; }
.discountl1 ul a.discount_item{color:#4e4e4e; display:block; text-decoration:none;  }
.discountl1 ul a.discount_item:hover{color:#e3630c;font-weight:bold; }


.item_separator{border-bottom:1px solid #d9d9d9; margin:5px 0;}
.t1_menu_sep{border-left:1px solid #dfe1e4; border-right:1px solid #eef1f4; background-color:#e7eaed; width:1px;height:auto;   float:left;}
.menu_separator{border-left:1px solid #dfe1e4; border-right:1px solid #eef1f4; background-color:#e7eaed; width:1px;/*height:415px;*/   float:left;}

/*.t1_l3_wrapper ul{padding:14px 5px 14px 20px; font-size:12px; line-height:1.7; }
.t1_l3_wrapper ul a{display:block; padding-left:2px; font-weight:normal;  color:#004f96;}
.t1_l3_wrapper ul a:hover{color:#004f96}*/
.menu_cat_title{font-size:13px; line-height:1.2; margin-top:5px; font-weight:bold; margin-bottom:3px;}
.menu_brands_title{ font-size:13px; line-height:1.2; font-weight:bold;   margin-bottom:3px; margin-top:5px;}
.menu_retailers_title{font-size:13px; line-height:1.2; margin-top:10px; font-weight:bold; border-top:1px solid #f2f2f2; padding-top:10px; margin-bottom:3px;}

/* nav 1 */
.nav_c4{padding-left:10px; background:url('/media/images/arr-bul.png') no-repeat 0px 7px;}

.t1_l3_wrapper_inner{/*width:372px;*/ width:315px;}
.t1_l2_wrapper a:hover{text-decoration:underline;}
.t1_l3_wrapper ul{padding:14px 5px 14px 20px; font-size:12px; line-height:1.7; font-weight:normal; width:130px; /*width:150px;*/ float:left;}
.t1_l3_wrapper ul a{display:block; padding-left:2px; font-weight:normal; color:#00529c;}
.t1_l3_wrapper ul a:hover{/*color:#004f96*/}


/*end*/


/* nav 2*/
.nav_t2_outer{background-color:#e0e0e0; border-top:1px solid #d4d4d4; border-bottom:1px solid #bababa;}
.nav_t2{width:980px; margin:0 auto; border-left:1px solid #C3C3C3;}
.nav_t2 li.t2_l1{ height:33px; line-height:33px; float:left; color:#5f5f5f; font-weight:bold; text-align:center; float:left;  position:relative;  z-index:100; border-right:#c3c3c3 1px solid; border-left:#e7e7e7 1px solid;}
.nav_t2 li.t2_l1 a:hover{text-decoration:none;}

.nav_t2 li.t2_l1 .t2_l1_item{color:#333333 !important; text-decoration:none; text-transform:uppercase; font-size:14px; padding:0px 16px;}
.t2_l1_item.item_sel{background-color:#fff; /*margin-bottom:-5px;*/ }

.t2_l2_wrapper{display:none;  border:1px solid #ccc;  border-top:none; text-align:left;z-index:500; position:absolute;top:33px;  background-color:#fff;  font-size:12px; left:-1px; /* width:228px;*/ width:170px;
  -moz-box-shadow: 0px 6px 5px #666;
  -webkit-box-shadow: 0px 6px 5px #666;
  box-shadow: 0px 6px 5px #666;

}
.t2_l2_inner{margin:14px 5px 14px 14px;/* width:210px;*/  width:auto; }
.t2_l2_inner_ul{/*width:210px;*/ width:175px;}
.t2_l2{line-height:1.8; height:22px;}
a.t2_l2_item{color: #4E4E4E;display: block; text-decoration: none;font-weight:normal; font-size:13px; line-height:1.7; }
.t2_l2_item:hover, .t2_l2_item_ho, .t1_l2_item_ho{color:#e3630c !important;  background:url('/media/images/sp-one.png') no-repeat 130px -1403px;font-weight:bold !important;}
.t2_l3_wrapper{display:none; position:absolute; left:170px; top:0px; width:335px; /*width:374px;*/  /*height:415px;*/ overflow:hidden; float:left;  background:#f8fcff; border-left:1px solid #d8dadd; }
.t2_l3_wrapper_inner{/*width:355px;*/ width:315px;}
.t2_l3_wrapper ul{padding:14px 5px 14px 20px; font-size:12px; line-height:1.7; font-weight:normal; /*width:150px;*/ width:130px; float:left;}
.t2_l3_wrapper ul a{display:block; padding-left:2px; font-weight:normal; /*color:#4E4E4E;*/}
.t2_l3_wrapper ul a:hover{color:#004f96; text-decoration:underline !important;}

.t1_l2_wrapper.w190, .t2_l2_wrapper.w190{width:170px !important;}

/* bulk orders*/
.bulk_orders{ color:#242424; padding:30px;}
.bulk_orders label{margin-bottom:5px; display:block;}
.bulk_orders input{width:260px; height:22px; margin-bottom:20px; border:1px solid #c0c0c0; padding:2px; box-shadow: 2px 2px 5px #CCCCCC inset;}
.bulk_orders textarea{display:block; width:565px; height:100px; margin-bottom:20px;  border:1px solid #c0c0c0; box-shadow: 2px 2px 5px #CCCCCC inset;}
.bulk_orders_left{width:270px; margin-right:40px;}
.bulk_orders_right{width:270px;}

.bulk_orders button{color:#fff; border:1px solid #000; font-weight:bold; padding:3px 2px 4px; height:28px; cursor:pointer; background-color:#000; 
-moz-box-shadow:inset 0 1px 1px #ccc;  -webkit-box-shadow:inset 0 1px 1px #ccc;
  box-shadow:inset 0 1px 1px #ccc; font-family:Arial, Helvetica, sans-serif
}


.deals_for_you_1{color:#242424; background-color:#f1f1f1; border-top:2px solid #f1f1f1; border-bottom:2px solid #f1f1f1; padding:10px; }
.deals_for_you_2{color:#242424; background-color:#ffffcd; border-top:2px solid #fbce9a; border-bottom:2px solid #fbce9a; padding:10px; }


