.spthree {
	background: url('../images/spthree.png') no-repeat top left;
}
/*--------new--------*/
.pdp_prev_next{position:absolute; text-align:right;top:-30px; right:0;  font-size:11px;}
.pdp_prev_next div{ background-color:#f0f0ed;}
.pdp_prev_next .prev{height:24px; line-height:24px; float:left; padding:0 10px; margin-right:5px;  background:#f0f0ed url('/media/images/prev-arr.png') no-repeat 0 7px;}
.pdp_prev_next .next{ height:24px; line-height:24px; float:left; padding:0 10px;  background:#f0f0ed url('/media/images/next-arr.png') no-repeat right 7px;}
.pdp_prev_next .tri_left{display:inline-block; width: 0; height: 0; border-top: 12px solid #fff;
 border-right:10px solid #f0f0ed; border-bottom:12px solid #fff; float:left;}
 .pdp_prev_next .tri_right{display:inline-block; width: 0; height: 0; border-top: 12px solid #fff;
 border-left:10px solid #f0f0ed; border-bottom:12px solid #fff; float:left;}

.pdp_price{color:#606060; }
.pdp_price td{padding:0px;}
.pdp_price .price_lable{ width:120px; padding:0px 0 5px;}
.pdp_price .price_value{width:400px;  padding:0px 0 5px;}
.pdp_price .size_box li{padding:3px 5px; border:1px solid #7c7c7c; color:#7c7c7c; display:inline-block; font-weight:bold; margin-right:5px; font-size:12px; 
zoom: 1; *display:inline;
}
.pdp_price .size_box li.sel{background-color:#7c7c7c; color:#fff;}
.pdp_price .color_box li{ background-color:#bcb19a; width:20px; height:20px; display:inline-block;  margin-right:5px; zoom: 1; *display:inline;
}
.pdp_price .color_box li.sel{outline:1px solid #ccc; border:1px solid #fff;}


.pdp_price .size_box .size_chart{ background:#ebebeb url('/media/images/size-chart.png') 0 0 no-repeat; padding-left:20px; font-weight:normal; margin-left:10px;}

.pdp_short_features{color:#606060; border-bottom:1px solid #e1e1e1; padding-bottom:10px;}
.pdp_short_features li{float:left; margin-left:0px; margin-right:10px; width:180px; overflow:hidden;
 background:url('/media/images/bullet-disc.png') no-repeat 0px 5px; padding-left:12px; }
.pdp_add_qty{border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; padding:10px 0;}
.pdp_buy_now{padding:10px 0; color:#606060; }
.pdp_buy_now .phone_no{font-size:24px; font-weight:bold;}
.pdp_buy_now .shop_on{}
.pdp_offer{border-top:1px solid #f3dd9d; border-bottom:1px solid #f3dd9d; background:#fdffcb; padding:7px 10px 7px 45px; position:relative; margin-left:10px;}
.pdp_offer_title{text-transform:uppercase; color:#af0202; font-size:11px; font-weight:bold;}
.pdp_offer_icon{background:url('/media/images/pdp-offer-icon.png') 0 0 no-repeat; width:47px; height:47px; position:absolute; left:-10px; top:-5px;}

/*
.buy_now_box{background-color:#f9f7e5; border-top:1px solid #eee8b6;  border-bottom:1px solid #eee8b6; padding:10px; width:460px; margin-top:10px;}
.buy_now_box_left{float:left; width:230px;}
.buy_now_box_left div{padding:5px 0;}
.payback_whats_this{background:url('/media/images/payback-icon.jpg') 0 0 no-repeat; padding-left:60px !important; font-size:11px;}

.buy_now_box_right{float:left; width:202px; padding-left:25px; border-left:1px solid #e2e0d1;}
*/

.pdp_btn_buy_now{
	font-size:23px;
}
	
.pdp_btn_buy_now span{width:25px; height:18px; display:inline-block;
 background:url('/media/images/cart-btn.png') 0 0  no-repeat; 
 } 

/* v2 */
.similar_prod{ margin-top:20px; padding-top:10px;}
/*.similar_prod h4{font-size:15px; margin-bottom:10px; padding-bottom:5px; border-bottom:2px solid #000;}*/
.similar_prod_item{margin-bottom:10px; float:left; width:150px; margin-right:40px;}
.similar_prod_item img{text-align:center}
.similar_prod_item .similar_prod_desc{text-align:center }


/* end v2 */
.img_wrapper {	
        width:360px;
	float:left;
	
}
.prod_img {
	border:1px solid #f0f0ed;
	text-align:center;
}
.prod_img_link{width:270px; margin:0px auto;}
.product_desc {        
	width:430px;
	float:left;
	margin-left:30px;
	color:#343434;
}
.product_desc table {
}
.product_details h1 {
	font-size:18px;
	text-shadow: 0 1px 2px #fff;	
	color:#343434;
	padding:0px 0px;
        line-height:18px;
        margin-bottom:2px;

}
.product_details .offer_price {
	text-shadow: 0 1px #666;
}
.product_desc_details {
width:100%;	
color:#343434;	
}
.pdp_subtitle{background-color:#fcebdc; margin-top:20px; height:30px;}
.product_desc_details h2 {	
	font-size:15px;
	line-height:30px;
	padding:0 0 0 18px;	
	float:left;
	width:880px;
	text-transform:uppercase;
	color:#707070;
}
.pdp_subtitle a {
font-size:11px; float:right; width:70px; display:block; line-height:30px; margin-right:5px;
background:url('/media/images/up.png') no-repeat 95% center;

}
.product_desc_details br {
	margin:8px;
}
.product_details {
	
	color:#343434;
}

.pdp_rightbar{width:140px; float:right; overflow:hidden;}
.pdp_rightbar_inner{background:#edebeb; padding:5px;}
.pdp_cod{border-bottom:1px solid #cccbcb;}
.pdp_payback{border-bottom:1px solid #cccbcb; border-top:1px solid #ffffff;}
.pdp_payback_icon{/*background:url('/media/images/payback-icon.png') 0 0 no-repeat; width:61px; height:34px; */
    background:url('/media/images/payback-icon-1.png') 0 0 no-repeat; width:91px; height:50px;}
.pdp_chat{border-top:1px solid #ffffff;}
.learn_more_sign{background:#d1cccc;  padding:0px 2px;  line-height:11px;}
.roll_over{background:url('/media/images/zoom_in_image.png') right center no-repeat; color:#9a9898; font-size:11px; text-align:right; padding-right:25px; margin-top:5px;}

.fmaroon{color:#af0202}
/*--------*/
.brand_row {	
	width:445px;
}
.avg_stars{border-left:1px solid #8fcbef; border-right:1px solid #8fcbef;}

.offer_price_row {
	margin-left:15px;
	width:445px;
	line-height:40px;
	padding:10px 0px;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
}

.emi_box {
	background-color:#003768;
	color:#fbc330;
	padding:0px 4px;
}

.mrp_price_row {
	font-size:15px;
	font-weight:bold;
	overflow:auto;
	/*border-top:1px solid #eee8b6;
	border-bottom:1px solid #eee8b6;*/
	width:450px;
	margin-left:15px;
/*	background-color:#F9F7E5;*/
	padding:8px 0;
}
.mrp_price_row li {
	float:left;
	text-align:center;	
	padding:0px 10px 0 0;
	text-transform:uppercase;	
	vertical-align:middle;	
	
}
.mrp_price_row li div {	
line-height:20px;	
}

.mrp_price_row li.mrp {	
/*	width:124px;*/border-right:1px solid #e8e8e8;
}

.mrp_price_row li.save {
/*width:168px;*/
padding-left:10px;
	
	
}
/*.mrp_price_row li.save div {border-right:1px solid #e8e8e8;
	border-left1:1px solid #e8e8e8;
	
}
.mrp_price_row li.discounts {	width:158px;
}
.mrp_price_row li.discounts div{
}
*/
.product_details .special_offer {
	margin-left:10px;
	background-color:#f0f0ed;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	height:40px;
	padding:12px 0px;
}
.product_details .offer_text {
	text-align:justify;
	padding:0px 38px 0px 72px;
	vertical-align:bottom;
	font-style:italic;
	line-height:1.2;
}
.product_details .offer_left_ribbon {
	background:url('/media/images/special-offer.gif') no-repeat 0 0;
	width:66px;
	height:67px;
	position:absolute;
	left:-2px;
	top:-5px;
	z-index:10;
}
.product_details .offer_right_ribbon {
	background:url('/media/images/ribbon.gif') no-repeat 0 0;
	width:66px;
	height:67px;
	position:absolute;
	right:-15px;
	top:18px;
}

.you_may_like h4{font-size:18px; padding-bottom:5px; border-bottom:4px solid #343434; margin-bottom:10px;}
.you_may_like ul{overflow:hidden;}
.you_may_like ul li{width:196px; height:225px; float:left; text-align:center; margin-bottom:20px;}
/*--------*/

.product_img_thumb {
	padding-top:5px;
}
.product_img_thumb img {
	padding:4px;
	background-color:#fff;
	margin-right:5px;
}
.product_details .zoom_in_wrapper {
	padding:5px 5px 5px;
	background-color:#F0F0ED;
	border-bottom1:5px solid #F0F0ED;
}
.product_details .zoom_in_wrapper:hover {
	background-color:#e0e0e0;
}
.product_details .zoom_in {
	width:110px;
	cursor:pointer;
	margin:0 auto;
	padding-left:14px;
}
.product_details .zoom_in:hover {}
.prod_tabs {	
	border-bottom:2px solid #3e3e3e;
	overflow:auto;
	font-size:13px;	
	color:#4e4e4e;
	float:left;
	width:100%;
        padding-left:10px;
}
.prod_tabs li {
	float:left;
	padding:8px 10px;		
	font-weight:bold;
	background-color:#e8e7e7;	
        border-right:1px solid #d1d0d0;
        border-left:1px solid #f3f2f2;
        cursor:pointer;
		
}
.prod_tabs li:hover {	
	
}
.prod_tabs li.sel_tab {
	color:#fff;	
	background-color:#3e3e3e;	
	border:none !important;
}

/*links*/
/*.prod_tabs {	
	border-top:1px solid #eaddb1;
	overflow:auto;
	font-size:15px;
	
	color:#004f96;
	background-color:#fae4d1;
	padding-left:5px;
}
.prod_tabs li {
	float:left;
	padding:10px 22px 10px 10px;	
	background:url('/media/images/down.png') no-repeat 95% center;
	font-weight:bold;
	border-left:1px solid #e6c6aa;
	border-right:1px solid #fff;	
}
.prod_tabs li:hover {
	background-color:#FAF4C3;
}
.prod_tabs li.sel {
	color:#4e4e4e;	
	background-image:none;	
	background:#fff url('/media/images/down-gray.png') no-repeat 95% center;
	border:none !important;
}*/
.pro_fbid{position:absolute; right:0px; font-size:12px; font-weight:normal; }	
.size_chart {
	display:inline;
	width:auto;
}
.size_chart a{text-decoration:underline;}
.size_chart span {
	background-color:#fff;
	padding:3px 8px;
	margin-right:2px;
	font-weight:bold;
	color:#333;
	cursor:pointer;
	display:inline-block;
	border:1px solid #ccc;
}
.size_chart span.sel, .size_chart span.sel:hover {
	background-color:#FF871E;
	color:#fff;
	cursor:auto;
    }
.size_chart span.sel {
	border:1px solid #FF871E;
}
.size_chart span:hover {
	background-color:#FF871E;
	color:#fff;
	border:1px solid #FF871E;
}
.color_chart span {
	background-color:#343434;
	width:27px; 
	height:23px;
	margin-right:2px;
	cursor:pointer;
	display:inline-block;
}
.color_chart .red {
	background-color:#ff0000;
}
.color_chart .green {
	background-color:#00ff00;
}
.color_chart .blue {
	background-color:#0000ff;
}
.color_chart .orange {
	background-color:#ff871e;
}
.color_chart span.sel, .color_chart span.sel:hover {
	cursor:auto;border:1px solid #555;	
}

.color_chart span.sel{border:1px solid #555;}
.buy_now_wrapper select {
	padding:0px;
	border:1px solid #bad7de;
	width:40px;
	text-align:center;
}
.buy_now_wrapper label {
	width:90px;
	color1:#ccc;
	padding-top:2px;
}

.buy_now_outer {
}
.buy_now_wrapper {
	border-top:1px solid #e7e9cf;
	border-bottom:1px solid #e7e9cf;
	background-color:#f9f7e5;
}
.qty_size {
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
	color:#343434;
}

	.prod_btn_buynow {
	background:url('/media/images/pdp-buy-now.gif') no-repeat 0 0;
	width:180px;
	height:73px;
	border:none;
	float:left;
	margin-left:-10px;
	outline:none;
    cursor:pointer;
}
	.prod_btn_notify {
	background:#fff url('/media/images/pdp-notify.gif') no-repeat 0 0;
	width:144px;
	height:57px;
	border:none;
	float:left;
	margin-left:-10px;
	outline:none;
    cursor:pointer;
}
.prod_cod {
	color:#970912;
	padding:15px 10px;
}
.prod_nitify_msg {	
	padding:0px 10px 0 20px;
}
.prod_nitify_msg input{width:210px; padding:3px; margin-top:5px; border:1px solid #b0b0b0;}

.call_us_at {
	margin:0px 0 7px 15px;
	color:#343434;
	padding-left:14px;
	line-height:23px;
	background:url('/media/images/phone-icon-one.gif') no-repeat 0 0;
}
.pdp_dod {
	margin-left:12px;
}


 .product_desc_details .bgcolor_one{background-color:#fff8f2;}
 
/*--------*/
.like_buttons {
	width:190px; margin-left:10px;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
	display: none !important;
}
.like_buttons td {
	padding:5px 0px;
}
.like_buttons .like_g #___plusone_0 {
	width:75px !important;
}
.like_buttons td.like_tw, .like_buttons td.like_fb {
	overflow:auto;
	vertical-align:top;
}
.like_buttons .like_tw {
}
.like_buttons .like_fb iframe {
	width:200px !important;
}
/*--------*/
.pdp_tab1_desc, .pdp_tab2_desc{text-align:justify;}
.pdp_tab1_desc li, .pdp_tab2_desc li{margin-left:14px;}
.product_features h3 {
	font-size:12px;
	text-transform:uppercase;
	color:#707070;
	padding-left:18px;
	border-bottom:1px solid #e1e1e1;
	line-height:25px;
        background:#f7f7f7;
}
.product_features .featuregroup {
	border:1px solid #e1e1e1;
	margin-bottom:10px;
}
.product_features .feature_label {
	padding-left:18px;
	width:136px;
}

.featuregroup .feature .featurelabel{font-weight:bold; /*color:#000;*/}
/*.featuregroup .feature{margin-left:14px;}*/
.featuregroup .feature td{padding-left:18px;}

.prod_pad {
	padding:10px;
}
.prod_pad li{list-style-position:outside; margin-left:13px;}
.product_features .feature td {
	vertical-align:top;
}

/*--------*/
.review_tabs {
	margin-top:40px;
}
.tabs_wrapper .tabs {
	font-size:14px;
	color:#000;
	clear:both;
	float:left;
	padding-left:25px;
	border-bottom:1px solid #457ab0;
	width:960px;
}
.tabs_wrapper .tabs li {
	float:left;
	padding:0px 10px;
	line-height:30px;
	background-color:#e1f3fe;
	margin-left:2px;
	font-weight:normal;
	cursor:pointer;

	border:1px solid #e1f3fe;
	border-top:3px solid #fff;
	border-bottom:1px solid #fff;;
}
.tabs_wrapper .tabs li.sel_tab {
	background-color:#fff;
	color:#457ab0;
	border-color:#457ab0;
	border-left:1px solid #457ab0;
	border-right:1px solid #457ab0;
	border-top:3px solid #457ab0;
	
	border-bottom:2px solid #fff;
	margin-bottom:-1px;	
	font-weight:bold;
}

.tabs_wrapper .all_reviews {
	margin-top:-20px;
}
.review_tabs .tab {
	padding:20px 0px 10px 0px;
}
.tabs_wrapper .tab1 {
	display:block;
}
.tabs_wrapper .tab2 {
	display:none;
}
.tabs_wrapper .tab3 {
	display:none;
}
/*.hide {
	display:none;
}
.show {
	display:block;
}*/
.rating li {
	width:16px;
	height:16px;
	background:url('../images/star-gray.png') no-repeat 0 0;
	float:left;
	margin-right:8px;
}
.rating li.sel {
	width:16px;
	height:16px;
	background:url('../images/star.png') no-repeat 0 0;
	float:left;
	margin-right:8px;
}
.review_tabs .review {
	border-bottom:1px solid #bed0e3;
	padding-bottom:10px;
	padding-left:30px;
	margin-bottom:20px;
	width:900px;
}
.review_tabs .write_review td {
	padding:6px 5px;
	vertical-align:top;
}
.review_tabs  input {
	width:350px;
	padding:3px;
}
.review_tabs  textarea {
	width:350px;
	height:110px;
	padding:3px;
}
/*.greed_view ul.greed {
	float:left;
}
.related_products .similar_prod li {
	width:168px;
	height:255px;
	float:left;
	border:1px solid #ccc;
	border-left:none;
	border-top:none;
	padding:10px;
	position:relative;
}
.related_products .similar_prod h3 {
	height:28px;
	font-size:12px;
	padding:1px 5px;
	font-weight:bold;
}
.related_products .similar_prod_price {
	margin-top:5px;
	float:left;
}
.related_products .similar_prod_price li {
	height:14px;
	padding:1px 5px;
	border:none;
}
.prod_info_popup {
	width:656px;
	height:1138px;
	border-left:9px solid #4f9fd4;
	border-right:9px solid #4f9fd4;
	border-top:22px solid #4f9fd4;
	border-bottom:9px solid #4f9fd4;
*height:1158px;
}
.top_10 {
	width:609px;
	padding-left:9px;
	padding-right:37px;
	padding-top:15px;
	padding-bottom:10px;
	height:30px;
	background:#edf6fc
}
.top_txt {
	color:#000;
	font-size:29px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/top-10.gif) no-repeat;
	display:block;
	float:left;
	width:100px;
	height:50px
}
.top_prod {
	color:#000;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif
}
.fash {
	color:#000;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif
}
.add_info {
	width:656px;
	height:82px
}
.add_info1 {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	width:650px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold
}
.add_info2 {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	width:600px;
	padding-left:22px;
	padding-right:34px;
	padding-bottom:16px
}
.local_pro {
	width:656px;
}
.local_pro_container {
	padding-left:23px;
	height:74px;
	padding-top:10px
}
.local_one {
	float:left;
}
.local_det {
	float:left
}
.local_cont {
	padding-left:10px;
	padding-right:15px;
	margin-bottom:10px;
	vertical-align:10px;
	font-weight:700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px
}
.local_content_a {
	padding-left:36px;
	padding-right:28px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	width:590px;
	float:left
}
.stock {
	width:588px;
	padding-left:68px;
	float:left;
	padding-top:10px
}
.sto_img {
	float:left
}
.sto_content {
	float:left;
	padding-left:25px;
}
.sto_content_a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold
}
.sto_content_b {
	color:#eb9255;
	font-size:27px;
	font-weight:600;
	font-family:Arial, Helvetica, sans-serif;
}
.sto_content_c {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#656565;
}
.sto_content_d {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	background-color:#5b913d;
	padding:2px;
	font-weight:bold
}
.sto_content_e {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	background-color:#ff0000;
	padding:2px;
	font-weight:bold
}*/
/*.pin_code {
	width:444px;
	height:165px;
	position:relative;
	padding-left:180px;
	top:20px;
	border-bottom:1px dotted #999;
*height:60px;
	margin-left:10px
}
.pin_code a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0435b3
}
.color_image {
	float:left;
	padding-left:45px;
	width:130px;
}
.color_content {
	float:left;
	padding-left:13px;
	width:170px;
}*/

/*---quick view---*/
.product_quick_view{}
.product_quick_view .image_wrapper{float:left; width:302px;}
.product_quick_view .prod_image img{border:1px solid #F0F0ED;}
.qv_product_img_thumb {
	padding-top:5px;
}
.qv_product_img_thumb img {
	padding:4px;
	background-color:#fff;
	margin-right:5px;
}
.product_quick_view .qv_zoom_in_wrapper {
	padding:5px 5px 5px;
	background-color:#F0F0ED;
	border-bottom1:5px solid #F0F0ED;
}
.product_quick_view .qv_zoom_in_wrapper:hover {
	background-color:#e0e0e0;
}
.product_quick_view .qv_zoom_in {
	width:110px;
	cursor:pointer;
	margin:0 auto;
	background:url('/media/images/zoominicon.gif') no-repeat 0 2px;
	padding-left:14px;
}
.product_quick_view .qv_zoom_in:hover{background-image:url('/media/images/zoomicon.png')}


.product_quick_view .prod_details{float:left; width:454px; margin-left:20px; padding-top:10px; }
.product_quick_view .prod_details h3{width:360px; font-size:15px;}

.qv_buy_now{
        text-transform:uppercase;
	-moz-box-shadow:inset 0px 1px 0px 0px #ececec;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ececec;
	box-shadow:inset 0px 1px 0px 0px #ececec;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fbc530), color-stop(1, #f9a722) );
	background:-moz-linear-gradient( center top, #fbc530 5%, #f9a722 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc530', endColorstr='#f9a722');
	background-color:#fbc530;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #edac33;
	display:inline-block;
	color:#171717;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #966d20;
        cursor:pointer;
}
.qv_buy_now:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9a722), color-stop(1, #fbc530) );
	background:-moz-linear-gradient( center top, #f9a722 5%, #fbc530 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9a722', endColorstr='#fbc530');
	background-color:#f9a722;
	text-decoration:none; 
}

.qv_buy_now_icon{width:30px; height:20px; float:right;
 background:url('/media/images/cart-btn.png') 5px 2px no-repeat !important; 
 }
 
/*.qv_buy_now:hover{text-decoration:none;  box-shadow:1px 1px 2px #333;-moz-box-shadow:1px 1px 2px #333;-webkit-box-shadow:1px 1px 2px #333}
*/

.qv_buy_now_box{/*background-color:#f9f7e5; border-top:1px solid #eee8b6;  border-bottom:1px solid #eee8b6;*/ padding:10px 0; width:460px; margin-top:10px;}
.qv_buy_now_box_left{float:left; width:220px;}
.qv_buy_now_box_left div{padding:5px 0;}

.qv_buy_now_box_right{float:left; width:202px; padding-left:20px; border-left:1px solid #e2e0d1; /*height:120px;*/}
.qv_buy_now_box .phone_no{font-size:22px; font-weight:bold; margin-top:10px;}
.qv_buy_now_box .shop_on{color:#8a8a8a;}

/*.btn_buy_now{width:183px; height:45px; display:inline-block; background:url('/media/images/btn-buy-now.gif');}
*/




/*---quick view end---*/

.chat_now_btn{background-color:#535353; color:#ffffff; padding:5px 5px 5px 25px; background:#535353 url(/media/images/chat-icon.png) scroll no-repeat 5px 4px; border:#000 1px solid; box-shadow:0 1px 0 0 #999 inset; font-weight:bold; cursor:pointer;}
.chat_now_btn:hover{text-decoration:none !important;}
.c666{color:#666;}

/*---Reviews---*/
/*---all reviews---*/
.all_reviews_img{width:150px;height:150px;}
		.all_reviews_prod{width:299px;height:135px;margin-top:16px;margin-bottom:23px;border-right:1px solid #e0e0e0;}
		.all_reviews_user_ratings{width:179px;height:135px;margin-top:16px;margin-bottom:23px;border-right:1px solid #e0e0e0;}
		.all_review_stars{width:350px;height:135px;margin-top:10px;margin-bottom:23px;}
		.all_review_stars_inner{width:350px;margin-top:13px;}
		.w100{width:100px;}
		.all_review_bar_outer{width:160px;margin-top:4px;padding-left:10px;}
		/*.all_review_bar{width:160px;height:15px;border-radius:5px;box-shadow:0 0 2px #999999 inset; background:#f5f5f5;}
		.all_review_bar_inner{background-color:silver;height:13px;border-radius:5px;background: #ffffff; 
								background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 0%, #e1e1e1 41%, #e1e1e1 53%); 
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#ffffff), color-stop(41%,#e1e1e1), color-stop(53%,#e1e1e1)); 
								background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%); 
								background: -o-linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%); 
								background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%);
								background: linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%); 
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
                                                                
                                                                }*/
/*---/ all reviews---*/
/*--- review thank you---*/
                .review_thank_you{color:#343434;}
		.review_thank_you_msg{
                    /*background-color:#fcfce1; margin-top:20px; border-top:2px solid #ffcc00; border-bottom:2px solid #ffcc00;
		background:url('/media/images/tick-icon.png') no-repeat 15px 18px; padding-left:50px;*/
                    margin-top:20px;
                    background:#E6EFC2 url('/media/images/tick-icon.png') no-repeat 15px 18px; padding-left:50px;
                    border:1px solid #C6D880;color: #264409;
		}
		.review_thank_you_left{width:150px; word-wrap:break-word;}
		.review_thank_you_right{width:830px; word-wrap:break-word;}
		.review_like{color:#666; background:url('/media/images/like.png') no-repeat 0 0px; padding:5px 0 0 20px;}
		.review_dislike{color:#666; background:url('/media/images/dislike.png') no-repeat 0 4px; padding:5px 0 5px 20px;}
/*---/ review thank you---*/
/* enter review*/
#product_reviews{word-wrap:break-word;}
.review_title1{ background-color:#f6f6f6;height:56px; border-bottom:2px solid #FFF;}
	.img_tag{background:url('/media/images/tag-sign.png') no-repeat 0 0; margin-left:20px; width:33px; height:21px; line-height:21px; color:#fff; padding-left:10px; font-weight:bold;}
	.review_label{color:#343434;font-weight:bold; line-height:21px;}
	.title_text, .review_text{ }
	.review_text_note{color:#8c8c8c;}
	.review_srars{}
	
	.tbl_write_review td{background:#f6f6f6;  border-bottom:2px solid #FFF; padding:10px 0px;}
	.how_to_write_review{width:248px;padding-left:30px;color:#666666;}
	

.review_text textarea{height:220px;width:390px; box-shadow:2px 2px 2px #cccccc inset ;overflow:auto; }
.review_text textarea:focus{box-shadow:none ;}

.title_text input{height:20px;width:394px; box-shadow:2px 2px 2px #cccccc inset;}
.title_text input:focus{box-shadow:none ;}

.name_text {height:20px;width:394px; box-shadow: 2px 2px 2px #cccccc inset;}
.name_text:focus{box-shadow:none;}
.review_sub {
    background: -moz-linear-gradient(center top , #EEEEEE 0pt, #DDDDDD 100%) repeat scroll 0 0 #DDDDDD;
    border-color: #BBBBBB #BBBBBB #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #EEEEEE, 0 1px 0 #E9E9E9 inset;
    color: #000000 !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    outline: 0 none;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #EEEEEE;
}

.review_sub:hover{
    background: -moz-linear-gradient(center top , #D9D9D9 0pt, #EEEEEE 100%) repeat scroll 0 0 #EEEEEE;
    border-color: #AAAAAA;
    box-shadow: 0 1px 1px #EEEEEE, 0 1px 0 #D9D9D9 inset;
    color: #000000 !important;
    cursor: pointer;
    text-shadow: 0 1px 0 #EEEEEE;
}

/* / enter review*/

	.id_help_yes{color:#666; background:url('/media/images/like.png') no-repeat 0 0px; padding:5px 0 0 20px;}
	.id_help_no{color:#666; background:url('/media/images/dislike.png') no-repeat 0 4px; padding:5px 0 5px 20px;}

.marb40{margin-bottom:40px;}

.header_title{
    border-bottom: #c6c6c6 solid 2px;
    color:#343434;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top:40px;
    padding-bottom: 4px;
}

.avg_user_rating_col{width:180px;height:135px;margin-bottom:23px;border-right:1px solid #e0e0e0; padding-top:15px;}
.rating_star_col{width:400px;height:135px; margin-bottom:23px;border-right:1px solid #e0e0e0; padding-top:15px;}
.stardisp{width:100px;}
.rating_star_col_inner{width:373px;margin-left:26px;}
.rating_graph{width:160px;margin-top:4px;}
.rating_graph_outer, .all_review_bar{width:160px;height:15px;border-radius:5px;box-shadow:0 0 2px #999999 inset; background-color:#f5f5f5;}
.rating_graph_inner, .all_review_bar_inner{background-color:silver;height:15px;border-radius:5px;background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #EDC500 53%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(53%,#EDC500)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%, #EDC500 53%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #FFFFFF 0%, #EDC500 53%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF 0%, #EDC500 53%); /* IE10+ */
		background: linear-gradient(top, #FFFFFF 0%, #EDC500 53%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#EDC500',GradientType=0 ); /* IE6-9 */}

.rate_this_col{width:150px;height:100px;padding-left:58px;padding-top:41px;}

.btn_write_review,.review_sub {
    background:no-repeat scroll 5px 4px #535353;
    border: 1px solid #000000;
    box-shadow: 0 1px 0 0 #999999 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
}
.btn_write_review:hover,.review_sub:hover {
    text-decoration: none !important;
}

.showing_reviews{width:180px;border-right:1px solid #e0e0e0;}
.mart40{margin-top:40px;}
.marb40{margin-bottom:40px;}
.review_row_left{width:150px; word-wrap:break-word;}
.review_row_right{width:830px;word-wrap:break-word;}

.lh25{line-height:25px;}
	
#review_count_cnt{float:right; margin:-20px 10px 0px 0px; padding-bottom:10px;}
#review_count{color:#000;}
/*

.review_title{background-color:#f7f7f7; line-height:30px; }
.avg_user_rating_col{width:180px;height:135px;margin-bottom:23px;border-right:1px solid #e0e0e0; padding-top:15px;}
.rating_star_col{width:400px;height:135px; margin-bottom:23px;border-right:1px solid #e0e0e0; padding-top:15px;}
.stardisp{width:100px;}
.rating_star_col_inner{width:373px;margin-left:26px;}
.rating_graph{width:160px;margin-top:4px;}
.rating_graph_outer{width:160px;height:15px;border-radius:5px;box-shadow:0px -2px 2px #ccc;}
.rating_graph_inner{background-color:silver;height:13px;border-radius:5px;background: #ffffff; 
						background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 0%, #e1e1e1 41%, #e1e1e1 53%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#ffffff), color-stop(41%,#e1e1e1), color-stop(53%,#e1e1e1)); 
		background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%); 
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%); 
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%); 
		background: linear-gradient(top, #ffffff 0%,#ffffff 0%,#e1e1e1 41%,#e1e1e1 53%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); }
.rate_this_col{width:150px;height:100px;padding-left:48px;padding-top:56px;}

.btn_write_review,.review_sub {
    background:no-repeat scroll 5px 4px #535353;
    border: 1px solid #000000;
    box-shadow: 0 1px 0 0 #999999 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
}
.btn_write_review:hover,.review_sub:hover {
    text-decoration: none !important;
}

.showing_reviews{width:180px; border-right:1px solid #e0e0e0;}
.mart40{margin-top:40px;}
.marb40{margin-bottom:40px;}
.review_row_left{width:150px;}
.review_row_right{width:830px;}

.like{color:#666; background:url('/media/images/like.png') no-repeat 0 0px; padding:5px 0 0 20px;}
.dislike{color:#666; background:url('/media/images/dislike.png') no-repeat 0 4px; padding:5px 0 5px 20px;}

.id_help_yes{color:#666; background:url('/media/images/like.png') no-repeat 0 0px; padding:5px 0 0 20px;}
.id_help_no{color:#666; background:url('/media/images/dislike.png') no-repeat 0 4px; padding:5px 0 5px 20px;}
.lh25{line-height:25px;}
*/
        					
/*---/Reviews---*/

/* Product title bar --- */
.prdt_bar_pdp{position: fixed; top: -75px; z-index: 101; background-color: #fff; width: 958px; padding:10px 10px 5px 10px; border: 1px solid #ccc; box-shadow: 0px 0px 3px #000;
opacity: 0; 
-webkit-transition:0.1s linear;
-moz-transition:0.1s linear;
-o-transition:0.1s linear;
-ms-transition:0.1s linear;
transition:0.1s linear;


}
.show-pdp-bar{display: block; opacity: 100; top:0px;
-webkit-transition:0.1s linear;
-moz-transition:0.1s linear;
-o-transition:0.1s linear;
-ms-transition:0.1s linear;
transition:0.1s linear;
}














>>>>>>> Stashed changes
