<style>
.ui-widget select {
    width: 149px;
}
#id_communication{width:314px;}
#id_call_status{width:314px;}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222 !important; }
.ui-widget-content a { color: #222222 !important; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }
.ui-widget textarea { height: 100px; padding: 5px; width: 300px; }
.ui-widget select{ width: 149px; }
.ui-widget input{width:310px; float:left}
.ui-widget .checkbtn{width:150px !important}
.ui-widget .checkbtn input{width:10px !important }

.ui-icon { width: 16px; height: 16px; background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png) !important; }
.ui-state-active .ui-icon {background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/media/css/jq/images/ui-icons_222222_256x240.png); }

.ui-datepicker { width: 16.6em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.1em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .4em .4em !important; margin: -3px -1px !important; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* Datetime picker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.ui-state-default {
background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6 !important;
border: 1px solid #D3D3D3 !important;
color: #555555 !important;
font-weight: normal !important;
}

.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #999999 !important; background: #dadada url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x !important; font-weight: normal; color: #000 !important; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555 !important; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999 !important; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x !important; font-weight: normal; color: #212121 !important; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121 !important; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #FED22F !important; background: #FCED67 url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x !important; font-weight: normal; color: #212121 !important; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121 !important; text-decoration: none; }
.ui-widget :active { outline: none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #aaa; background: #fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x !important; color: #363636 !important; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636 !important;}

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .5em; }
.ui-slider-horizontal .ui-slider-handle { top: -.35em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-dialog-titlebar {background-color:#ccc !important; padding:5px 10px !important;}
.ui-dialog-title{color:#000 !important;}
.ui-dialog-content {padding:0 !important;}
#form_add_interaction {margin:5px 0 35px 12px;}
</style>

{% if error %}
<div class="error">{{error}}</div>
{% endif %}
{% if form %}
<form id="form_add_interaction" method="post" action="user/callclose">
	<div class="fieldWrapper marb10">
		<div class="left marb10 marr15">
			<span class="f11 fdgray">{{ form.state.label }}</span><br/>
			{{ form.state }}
		</div>
		<div class="left marl15 marb10">
			<span class="f11 fdgray">{{ form.substate.label }}</span><br/>
			{{ form.substate }}
		</div>
	</div>
	<div class="clear fieldWrapper marb10">
		<span class="f11 fdgray">{{ form.notes.label }}</span><br/>
		{{ form.notes }}
	</div>
	<div class="fieldWrapper marb10">
		<span class="f11 fdgray">{{ form.followup_on.label }}</span><br/>
        <script>$(function(){$("#id_followup_on").datetimepicker({dateFormat:'yy-mm-dd', timeFormat:'hh:mm:00', stepMinute:15});});</script>
		{{ form.followup_on }}
	</div>
	<div style="display:block; height:10px;"></div>
    <div class="fieldWrapper"><br />
		<input id='closecall' type='button' value="Close Interaction" class="checkbtn" style="margin-right:10px" />
        {% if type == 'outgoing' %}
        <input id='hold' type='button' value="Hold" class="checkbtn" />
        {% endif %}
	</div>
</form>

<script type="text/javascript">
var substate_list = new Array({{substate_list|length}});
{% for substates in substate_list %}
substate_list[{{forloop.counter0}}] = new Array({{substates|length}});
{% for val,name in substates %}
substate_list[{{forloop.parentloop.counter0}}][{{forloop.counter0}}] = ["{{name}}",{{val}}];
{% endfor %}
{% endfor %}
$('#id_state').change(function() {
    var index = this.selectedIndex;
    var newlist = $('#id_substate');
    newlist.get(0).options.length = 0;
    var substates = substate_list[index];
    for(i=0; i<substates.length; i++) {
        newlist.get(0).options[i] = new Option(substates[i][0],substates[i][1]);
    }
});
</script>
{% endif %}
