<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block page_title %}Response - Future Bazaar{% endblock %}</title>
    {% block blueprint_css %}
    <link rel="stylesheet" href="/media/rms/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/rms/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/media/rms/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/media/rms/css/jquery-ui.css" type="text/css" media="screen">
    {% endblock %}
        {% block core_css %}
        <link rel="stylesheet" href="/media/rms/css/base.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/rms/css/common.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/rms/css/buttons.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/rms/css/header.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/rms/css/content.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/rms/css/pop_up.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/rms/css/footer.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/rms/css/page.css" type="text/css" media="screen, projection">
        <link rel="shortcut icon" href="/media/rms/images/favicon.ico"/>
        {% endblock %}
        {% block extra_css %}{% endblock %}
        {% block jquery %}
    <script src="/media/rms/js/jq/jquery.min.js" type="text/javascript"></script>
	<script src="/media/rms/js/jq/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="/media/rms/js/jq/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/media/rms/js/jq/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    {% endblock %}
</head>
<body>

{% load rms_tags %}
<body>
<div class="container shadow_one bottomroundcorner5">
 
  <div>
    <div class="logo"> <a href="/" title="Response Management System"> <img src="{{MEDIA_URL}}rms/images/fblogo.png" style='margin:5px 0px;height:24px;' alt="RMS"></a> </div>
    <div class="header_right">
      <div id="userinfo" class="f11 fn ra">
      	{% if user.is_authenticated %}
        	Hi {% filter force_escape %}{% firstof user.first_name|title user.username|title %}{% endfilter %} | <a href="/auth/signout/">Sign out</a>
        {% endif %}
      </div>
    </div>
    <div class="clear"></div>
  </div>
  {%if user.is_authenticated%}
  <div class="bbg">
  </div>
  {%endif%}
  <div id="wrapper">
      <div class="user_account_tabs" id="user_account_tabs">
          <div class="left">{% top_nav request %}</div>
      </div>
      <div class="bbg"></div>
      <div id="content">
        {% block content %} {% endblock %}
      </div>
	  <div class="poweredby" id="footer">
	  	 <a style="color:#009 !important;" target="_blank" href="http://response.futurebazaar.com">Response</a> &middot; <a style="color:#009 !important;" target="_blank" href="http://sellers.futurebazaar.com">Sellers Hub</a> &middot; <a style="color:#009 !important;" target="_blank" href="http://support.futurebazaar.com">Support</a> &middot; <a style="color:#009 !important;" target="_blank" href="http://analytics.futurebazaar.com">Analytics</a>
		  <div class="padt5">&copy; 2012 Response &middot; <a href="http://www.futurebazaar.com" target="_blank">Future Bazaar</a></div>
	  </div>
	</div>
</div>
<div id="call_popup"></div>
<script language="javascript">
{% block script_footer %} 

{% endblock %}
</script>
</body>
</html>
