{% extends 'rms/base.html' %}

{% block content %}
<script type="text/javascript">
var add_substate = function (id) {
    var elem = document.createElement('li');
    elem.innerHTML = "<input type='text' name='state_" + id +"'>";
    elem.className = 'ui-state-default';
    document.getElementById('new_'+id).appendChild(elem);
}
</script>

<style type="text/css">
.sortable li{
    width: 185px;
    padding: 5px;
    margin: 0 0 5px -14px;
}
.sortable li input[type='checkbox'] {
    margin: -2px 5px 0px 0px;
    vertical-align: middle;
}
</style>

<div class="padding_top10">
	<div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="/campaign">Campaigns</a>&nbsp;&raquo;&nbsp; Edit Campaign Substates</div>
    <div class="content_head">
    <div class="header rc5">
	  <h1>Edit Campaign Substates</h1>
    </div>
	  <div class="clear bordergray"></div>
  	</div>
  <div class="main clear">
        <div>
        <span class="f12 fdgray">Funnel:</span> {{funnel.name}}<br />
        <form method="post">
            {% for state in funnel.states %}
                <div style="float:left;margin:10px 30px 30px 0">  
                <span class="f12 fdgray">State:</span> {{state.name}}<br />
                <span class="f12 fdgray">Substates</span><br />
                <ul id="new_{{forloop.counter0}}" class="sortable">
                {% for substate in state.substates %}
                    <li class="ui-state-default">
                        <input type="checkbox" name="state_{{forloop.parentloop.counter0}}" value="{{substate.name}}" checked>{{substate.name}}
                    </li>
                {% endfor %}
                </ul>
                <input type="button" value="Add Substate" class="uiButton" onClick="add_substate({{forloop.counter0}});">
                </div>
            {% endfor %}
           <div class="clear"></div>
           <input type="submit" value="Submit" class="uiButton"/>
       </form>
        <br />
		
		<script>
			$(function() {
				$( ".sortable" ).sortable();
				$( ".sortable" ).disableSelection();
			});
		</script>
    </div>
    </div>
</div>
{% endblock %}
