<table cellpadding="0" cellspacing="0" width="100%" border="0">
{% if not interaction_list %}
<tr id="history_1100_tr" class="list_row rah_td">
	<td style="padding:0px 10px; border-width:0px 0px 0px;">
		<div class="attempt_summary roundcorner5">
			No interactions are present for this response
		</div>
	</td>
</tr>
{% else %}
{% for interaction in interaction_list %}
<tr id="history_1100_tr">
	<td style="padding:0px 0px; border-width:0px 0px 0px;">
	  <div style="margin:0px;" id="history_1100_details">
		 <div id="response_{{response_id}}" class="response_summary {%if not forloop.last %}bblightgray{%endif%}">
			<div class="left" style="position:relative;">
				<div class="left" style="width:750px;">
					<div class="left" style="width:100px;">
						<span class="f11 flgray">Interacted By</span>
					</div>
					<div class="left" style="width:650px;">
						<span class="f11">{{interaction.agent.name|title}} at {{interaction.timestamp|date:"h:i A o\n D, d M y"}}</span>
					</div>
					<div class="left" style="width:100px;">
						<span class="f11 flgray">Activity</span>
					</div>
					<div class="left" style="width:650px;">
						<span class="f11">{{interaction.pre_funnel_state}} ({{interaction.pre_funnel_sub_state}}) &rarr; {{interaction.post_funnel_state}} ({{interaction.post_funnel_sub_state}})</span>
					</div>
					{% if interaction.notes %}
                    <div class="left" style="width:100px;">
						<span class="f11 flgray">Notes</span>
					</div>
					<div class="left" style="width:650px;">
						<span class="f11">{{interaction.notes}}</span>
					</div>
                    {% endif %}
                    {% if interaction.followup_on %}
					<div class="left" style="width:100px;">
						<span class="f11 flgray">Next Call</span>
					</div>
					<div class="left" style="width:650px;">
						<span class="f11">{{interaction.followup_on|date:"h:i A o\n D, d M y"}}</span>
					</div>
                    {% endif %}
				</div>
				{% if interaction.callid %}
                <div class="left" style="width:150px">
					 <div  style="position:absolute; left:810px; top:0px;">
					 	<a class="uiButton" href="http://10.114.61.2/recordings/{{interaction.callid}}.wav" target="_blank" style="color:#333; text-decoration:none;">Play</a>
					 </div>
				</div>
                {% endif %}
			</div>
			<div class="clear"></div>
		</div>
	  </div>
	</td>
</tr>
{% endfor %}
</table>
{% endif %}
