{% extends "rms/base.html" %}
{% block content %}
{% load pagination_tags %}
{% autopaginate response_list 20 %}
<div class="padding_top10">
<div class="breadcrumb"><a href="/">Home</a>&nbsp;&raquo;&nbsp; <a href="/campaign">Campaigns</a>&nbsp;&raquo;&nbsp; <a href="/campaign/{{campaign.id}}">{{campaign.name|title}}</a>&nbsp;&raquo;&nbsp; Untagged Responses</div>
  <div class="content_head">
    <div class="header rc5 left">
      <h1 class="padb10">Untagged Responses</h1>
    </div>
	<div class="clear bordergray"></div>
  </div>
  {% if not response_list %}
    <div class="clear message">
    <p>There are no untagged responses for this campaign</p><br />
    </div>
  {% else %}
  <div class="main">
	<table class="clear tbl_response" id="response_list">
		<tr>
			<th>Phone</th>
			<th>Name</th>
			<th>Follow Up</th>
			<th>Assigned To</th>
		</tr>
        	{% for response in response_list %}
			<tr class="rah show cursorp" id="{{response.id}}">
				<td class="phone">{{ response.phone }}</td>
				<td class="w185"><span style="letter-spacing: 0.5px; font-weight:bold">{{ response.phone.user.full_name|title }}</span></td>
				<td class="date">{{ response.followup_on|date:"h:i A o\n D, d M y" }}</td>
				<td class="w150">{{ response.assigned_to|title }}</td>
			</tr>
			<tr class="list_row rah_td tr_hide" id="{{response.id}}_tr">
    	        <td colspan="10" style="padding:0px 10px; border-width:0px 0px 1px;">
            		<div id="{{response.id}}_details" style="margin:0px;"></div>
        		</td>
    		</tr>
			{% endfor %}
	</table>
	{% endif %}
  </div>
</div>
<div class="clear"></div>
{% paginate %}
{% endblock %}

{% block script_footer %}
{{block.super}}

$('display').toggleClass('tr_show', $('body').hasClass('tr_hide') );

$('.rah').click(function() {
    var div_id = this.id + '_details';
    var tr_id = this.id + '_tr';
    var that = this;
 
    if($(this).hasClass('show')) {
		var url = '/response/' + this.id
        $.get(url + '?mode=details_only', function(data) {
                $('#' + div_id).html(data);
                $('#' + tr_id).removeClass('tr_hide');
                $(that).removeClass('show');
                $('#head_1100 td').each(function(){ $(this).css('border-bottom','1px dotted #DDDDDD')});
            });
    } else {
            $(that).addClass('show');
            $('#' + tr_id).addClass('tr_hide');
            $('#head_1100 td').each(function(){ $(this).css('border-bottom','1px solid #DDDDDD')});
    }
    return false;
});

{% endblock %}
