@charset "UTF-8";
body { behavior:url("/media/css/MenuBar/csshover.htc"); }

#stores{float:right;}
#menubar{width:700px;}
ul.MenuBarHor
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;	
	float:right;	
}

.heading{width:460px !important; color:#000; border-right:none !important; }
.menu_hr{
background-color:#fff;
border-color:#ccc;
/*border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;*/
border-right:medium none;
border-style:dotted none none;
border-width:1px medium medium;
color:#CCCCCC;
height:0px;
margin:0;
}

ul.MenuBarActive
{
	z-index: 1000;
}

ul.MenuBarHor li
{
	margin:0px 3px;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;	
	float: left;	
}
ul.MenuBarHor ul
{
	margin: 0;
	padding: 0;	
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;	
	position: absolute;
	left: -1000em;
	background-color:#fff;
}

ul.MenuBarHor ul.MenuBarSubmenuVisible
{
	left: auto;
}

ul.MenuBarHor ul ul
{
	position: absolute;
	margin: -5% 0 0 95%;
}
ul.MenuBarHor ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}

/********************************************************************************/


ul.MenuBarHor ul
{
	width:460px;	
	padding:12px 6px 12px 8px;		
	border:1px solid #ffcc00;	 
	border-top:none;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;	 
	 box-shadow: 0px 5px 5px #666;
    -moz-box-shadow: 0px 5px 5px #666;
    -webkit-box-shadow: 0px 5px 5px #666;	
}
ul.MenuBarHor a
{
	display: block;
	cursor: pointer;	
	background-color: #FCCE00;
	padding: 0.5em 0.75em;
	padding-right:25px;		
	color: #333;
	text-decoration: none;
	border-top: 1px solid #FCCE00;
    border-left: 1px solid #FCCE00;
    border-right: 1px solid #FCCE00;	
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;	
}
ul.MenuBarHor a:hover, ul.MenuBarHor a:focus
{	
	background-color: #fff;
	color: #000;		
	border-top: 1px solid #FCCE00;
    border-left: 1px solid #FCCE00;
    border-right: 1px solid #FCCE00;	
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;	
	 box-shadow: 0px 5px 5px #666;
    -moz-box-shadow: 0px 5px 5px #666;
    -webkit-box-shadow: 0px 5px 5px #666;
}

ul.MenuBarHor ul a
{
display: block;
	cursor: pointer;	
	padding: 2px;
	background-color:#fff;
	color: #3333FF;
	text-decoration: none;	
	border: 0px solid #FCCE00;	
	border-radius: 0px;
	-moz-border-radius: 0px;    
}

ul.MenuBarHor ul li{
	border-right: 1px solid #FCCE00;	
	margin:0px 4px 0px 0px;		
	width:150px;
	height:20px;
	overflow:hidden;
}

.li_rgt{border-right: none !important; margin-right:0px !important; }

ul.MenuBarHor ul a:hover, ul.MenuBarHor ul a:focus
{	
	/*color: #6699FF;*/
	color:#0000ff;	
	text-decoration:underline;	
	border: 0px solid #FCCE00;
	border-radius: 0px;
	-moz-border-radius:0px;		
}

.MenuBarItem ul li a:hover,.MenuBarItem ul li a:focus
{
	color: #FFF;	
	border-top: 1px solid #FCCE00;
    border-left: 1px solid #FCCE00;
    border-right: 1px solid #FCCE00;	
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
}


ul.MenuBarHor a.MenuBarItemHover, ul.MenuBarHor a.MenuBarItemHover, ul.MenuBarHor a.MenuBarSubmenuVisible
{
	background-color: #ffffff;
	color: #000;
}

#Books{background:url("/media/images/orange_rtl.jpg") no-repeat scroll 100px 0px #fff;}
#Magazines{background:url("/media/images/orange_rtl.jpg") no-repeat scroll 100px 0px #fff;}
#Computers{right:0px; background:url("/media/images/orange_ltr.jpg") no-repeat scroll 0 0 #fff;}
#Mobiles{right:0px; background:url("/media/images/orange_ltr.jpg") no-repeat scroll 0 0 #fff;}
#Electronics{right:0px; background:url("/media/images/orange_ltr.jpg") no-repeat scroll 0 0 #fff;}
#Toys{right:0px; background:url("/media/images/orange_ltr.jpg") no-repeat scroll 0 0 #fff;}
#Gifts{right:0px; background:url("/media/images/orange_ltr.jpg") no-repeat scroll 0 0 #fff;}

/********************************************************************************/

ul.MenuBarHor a.MenuBarItem
{
	background-image: url(MenuBarDown.gif);
	background-repeat: no-repeat;
	background-position: 88% 50%;
}
ul.MenuBarHor ul a.MenuBarItem
{
	background-image: url(MenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 88% 50%;
}

ul.MenuBarHor a.MenuBarItemHover
{
	background-image: url(MenuBarDownHover.gif);
	background-repeat: no-repeat;
	background-position: 88% 50%;
}

ul.MenuBarHor ul a.MenuBarItemHover
{
	background-image: url(MenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 88% 50%;
}


/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHor iframe
{
	position: absolute;
	z-index: 1010;
}


/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHor li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
		
	}
}
