{% extends 'web/base.html' %}
{% block content %}
{% load cc_tags %}
{% load web_tags %}
<div>
    <div class="cart_left">
        <hr class="space"/>
        {% checkout_tabs request "cancellation" %}

    <table cellpadding="0" cellspacing="0" id="cart" class="checkout_table">
   <!--             <tr> <h2><b>The following items have been selected to be cancelled</b></h2> </tr> -->
                <tr>
                    <th width="5%"></th>
                    <th width="35%">Item</th>
                    <th width="15%">Price</th>
                    <th width="15%">Shipping</th>
                    <th width="10%">Qty</th>
                    <th width="15%" class="ra">Amount</th>
                </tr>
                {%for item in order_items%}

                <tr>
                    <td class="bb"> {{forloop.counter}} </td>
                    <td class="bb">{{item.item_title}}<br />
                    {%if request|is_exclusive_seller %}
                    <b>FBID:</b>{{item.seller_rate_chart.sku}}
                    {%endif%}
                    </td>

                    <td class="bb">
                        <span class="f12">{{item.seller_rate_chart.product.formatted_currency}} {{item.seller_rate_chart.offer_price|money}}</span>
                        {%if item.seller_rate_chart.list_price > item.seller_rate_chart.offerPrice %}<br/><span class="f11 fdgray">MRP <strike>{{item.seller_rate_chart.product.formatted_currency}} {{item.seller_rate_chart.list_price|money}}</strike></span>{%endif%}
                    </td>
                    <td class="bb">{%if item.shipping_charges%}Rs. {{item.shipping_charges|money}}{%else%}{{item.seller_rate_chart.product.formatted_currency}} 0<br/><span class="f11 fdgray">Free shipping</span>{%endif%}</td>
                    <td class="bb">
                            <span>{{item.qty}}</span>
                    </td>
                    <td valign="top" class="bb ra"><span class="fb f12">{{item.seller_rate_chart.product.formatted_currency}} {{item.sale_price|money}}</span></td>
                </tr>
                {%endfor%}

                <tr>
                    <td colspan="2"><hr class="space"/></td>
                </tr>

        <form method="post" action="">
            <input type="hidden" id="cancelled_items" name="cancelled_items" value="{{cancelled_items|join:", "}}"/>
                {% if order_cancellation_form.errors %}
                <tr>
                    <td colspan="2">
                        <div class="error">
                            <ol>
                            {% for field in order_cancellation_form %}
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                            {% endfor %}
                            </ol>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% if error %}
                <tr>
                    <td colspan="2">
                        <div class="error">
                           {{error}}
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td width="200" colspan="2">
                        <style>ul{list-style:none;padding:0 0 0 7px} </style>
                        {{order_cancellation_form.next_action}}<br />
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2">{{order_cancellation_form.cancellation_notes.label}}<span class="fred">*</span><br />
                        {{order_cancellation_form.cancellation_notes}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr class="space"/><hr class="space"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="">
                        <input type="image" alt="Cancel Now" title="Cancel Now" src="{{MEDIA_URL}}images/cancelorder.gif"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="cart_right">
        {% include "order/right.html" %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
{% block script_footer %}
    <script type="text/javascript">
    </script>
{% endblock %}
