{% extends request.ws_base|default:"web/base.html" %}
{% block extra_header %}
<META HTTP-EQUIV="expires" CONTENT="0">
{% endblock %}
{% load web_tags %}
{% load cc_tags %}
{% block content %}
<div class="breadcrumb"> &nbsp;       
</div>
<div class="checkout_table">
    
{% load web_tags %}
{% load cc_tags %}
{% ifequal  order.support_state "confirmed" %}
<div class="alertg">
    <div class="fb f16">Your payment is successful</div>
    <div class="f14">
        Your order number is {{order.get_id}}. The order details have been sent to you by email/sms. Please call us at 970-222-1947 for any queries.
    </div>
</div>
{% endifequal %}
{% ifequal order.support_state "booked" %}
<div class="success">
    <div class="fb f16">Order booked</div>
    <div class="f14">
        Order number is {{order.get_id}}.
    </div>
</div>
{% endifequal %}
{% if order.state|order_state_canc_or_mod %}
<div class="alertg">
    <div class="fb f16">Order{%ifequal order.state 'cancelled'%} Cancelled {%else%} Modified {%endifequal%}</div>
    <div class="f14">
        Order number is {{order.get_id}}. The details of cancellation have been sent to you by email/sms.<br />
        Click <a href = '/orders/refund_dashboard'>here</a> to view the refund dashboard.
    </div>
</div>
{% endif %}    <div class="clear"></div>
</div>
{% endblock %}
{% block ga_extensions %}

{% ifequal order.state "confirmed" %}
{% if not order.ga_tracked %}
  _gaq.push(['_addTrans',
    '{{order.id}}',
    '{{request.client.type}}',
    '{{order.payable_amount}}',
    '{{order.taxes}}',
    '{{order.shipping_charges}}',
    '{{order.get_delivery_city}}',
    '{{order.get_delivery_state}}',
    '{{order.get_delivery_country}}'
  ]);

    {% for oi in order.orderitem_set.all %}
  _gaq.push(['_addItem',
    '{{order.id}}',           // order ID - required
    '{{oi.seller_rate_chart.id}}',           // SKU/code - required
    '{{oi.item_title}}',        // product name
    '{{request.client.type}}__{{oi.seller_rate_chart.product.category.name}}',   // category or variation
    '{{oi.sale_price}}',          // unit price - required
    '{{oi.qty}}'               // quantity - required
  ]);
    {% endfor %}
_gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

{{ order.set_tracked }}
{% endif %}

{% endifequal %}
{% endblock %}

{% block script_footer %}
<!-- Google Code for Order Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1038112569;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "LG5qCMfLogIQua6B7wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1038112569/?label=LG5qCMfLogIQua6B7wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endblock %}
