{% load cc_tags %}
{% load web_tags %}
<div style="padding-top:52px;">
{% if order %}
{% if not order.state|order_state_conf_or_mod_or_canc %}
<div class="cart_summary">
    <div class="bglyellow padding5 bb"><b>Order Summary</b>
    </div>
    <div class="padding5">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td class="f11 fdgray">MRP:</td>
                <td>{{order.formatted_currency}} {{order.list_price_total|money}}</td>
            </tr>
            <tr>
                <td class="f11 fdgray">Discount:</td>
                <td>{{order.formatted_currency}} {{order.get_discount|money}}</td>
            </tr>
            {%if order.coupon_discount%}
            <tr>
                <td class="f11 fdgray">Special Discount:</td>
                <td>{{order.formatted_currency}} {{order.coupon_discount|money}} ({{order.coupon.code}})</td>
            </tr>
            {%if not confirmed%}
            {%if order.coupon%}
            <tr><td></td>
                <td>
                <form method="post" action={% cc_url request "orders/mycart/" %}>
                    <input type="hidden" id="redirect_to" name="redirect_to" value="{{request.path}}"/>
                    <input type="hidden" name="action" value="remove_fb_coupon"/>
                    <button class="linkButton" type="submit" title="Remove this coupon">Remove coupon x</button>
                </form>
                </td>
            </tr>
            {%endif%}
            {%endif%}
            {%endif%}
            <tr>
                <td class="f11 fdgray bbs">Shipping:</td>
                <td class="bbs"><span id="orderShippingCharges">{{order.formatted_currency}} {{order.shipping_charges|money}}</span></td>
            </tr>
            <tr>
                <td class="fdgray f11">Total:</td>
                <td class="fmaroon f14 fb"><span id="orderPayableAmount">{{order.formatted_currency}} {{order.payable_amount|money}}</span></td>
            </tr>
        </table>
    </div>
</div>
{% endif %}
<!--
<div class="cart_summary">
    <div class="bglyellow padding5 bb"><b>Delivery Address</b></div>
   <div class="padding5 marginl10 f11">
         <div class="dname">Rajendra</div>
         <div class="daddress">411 dhiraj heritage</div>
         <div class="dcity">Mumbai <span class="dpincode">400054</span></div>
         <div class="dstate">Maharashtra, <span class="dcountry">India</span></div>
         <div class="dphone">Tel: 9870696051</div>
    </div>
</div>-->


{%if request|is_cc %}
{% if apply_coupon %}
<div class="couponcode roundcorner5 padding10">
<form method="post" action="">
<div>
    <label class="f11 fdgray" for="coupon_code" style="margin-right:2px;">Coupon Code</label>
   <input type="text" id="coupon_code" name="coupon_code" size="10"/>
    <input type="hidden" name="action" value="apply_coupon"/>
    <!--  <span style="margin-left:82px;"><button type="submit" title="Apply Discount Coupon"></button></span>-->
      <input type="submit" value="Apply" title="Apply Discount Coupon" style=""/>
<!--  <span style="margin-left:82px;"><button class="linkButton btn_apply" title="Apply Discount Coupon"></button></span>-->
    </div>
</form>
</div>
{%endif%}
{%endif%}
{% endif %}
{% if request.wstore and request.wstore.order_on_phone == "none" %}
{% else %}
<div class="order_on_phone f11 roundcorner5 ca">
    <div class="bglgray fb padding5 toproundcorner5 ca f12">Order on Phone</div>
    <div class="padding5">
        We also accept payments by Cheque, DD and IVR. To order, call us between 8am to 10pm, 365 days of the year on <br/>{% if request|is_future_ecom %}<h2>0970-222-1947</h2>{%else%}<span class="phone_no"></span> {%endif%}
    </div>
</div>
</div>
{% endif %}
