{% extends request.ws_base|default:'web/base.html'%}
{%block content%}
<div class="breadcrumb">&nbsp;        
</div>
{% load cc_tags %}
{% load web_tags %}
<div>
    <div class="cart_left">        
        {% checkout_tabs request "login" %}
               <form method="post" action="" name="myform" id="guest_checkout_form">
            <table width="100%" cellspacing="0" cellpadding="4" border="0" class="checkout_table">
                <tr>
                    <td colspan="2">
                        {% if error %}
                            <div class="error">{{error}}</div>
                        {% else %}
                            <hr class="space"/>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="label" width="200">
                        Enter your mobile number
                    </td>
                    <td>
                                                       <p><input type="text" value="{% if username %}{{username}}{% endif %}" name="username" id="mobileLabel" autocomplete="false" title="Enter your Email/Mobile number" class="checkout_mobile"/><br/>
                        <span class="f11 fdgray">Your order details will be sent by sms on this number.</span>
                    </td>
                </tr>
                {% if not request.wstore %}
                <tr>
                    <td valign="top" align="right">&nbsp;
                    </td>
                    <td>
                        <input type="checkbox" name="have_account" id="AlreadyCustomer" value="sign-in"/>
                        I have a Chaupaati account and password
                    </td>
                </tr>
                <tr id="password_row" class="hidden">
                    <td class="label">Enter your password</td>
                    <td>
                        <input type="password" maxlength="1024" id="userPassword" title="Enter your password" name="password" class="checkout_password"/>
                        <br/>
                        <div class="f11 fdgray la">Forgot password? No worries. <input id="continue" value="Continue with your order now" type="submit" class="linkButton" style="padding:0px; margin:0px;"/> and we will help you reset your password later.</div>
                    </td>
                </tr>
                {% endif %}             
                <tr>
                    <td> </td>
                    <td>
                        <input value="Proceed" type="image" type="submit" alt="Proceed" src="{{MEDIA_URL}}images/pixel.gif" class="btn_proceed"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="cart_right">
        {% include "order/right.html" %}
    </div>
    <div class="clear"></div>
<script type="text/javascript">
  $(document).ready(function() {  
    
    $('#AlreadyCustomer').removeAttr('checked');
    
    $('#continue').click(function(){
        $('#AlreadyCustomer').removeAttr('checked');
        $('#userPassword').val('');
    });
    
    $('#guest_checkout_form').submit(function(){
        if(!$('#AlreadyCustomer').attr('checked')) {
            $('#userPassword').val('');
            $('#password_row').addClass('hide');
        }
        
    });

    $('#AlreadyCustomer').click(function() {
        if($(this).attr('checked')) {
            $('#password_row').show();
            $('#userPassword').focus();
        } else {
            $('#userPassword').val('');
            $('#password_row').hide();
        }
    });
   
    $('*').keypress(function (e){
        if (e.keyCode == 13){
            $('#guest_checkout_form').submit();
        }
    });

  });
</script>
{%endblock%}
