
{% load web_tags %}
{% load cc_tags %}
{% ifequal  order.state "confirmed" %}
<div class="alertg">
    <div class="fb f16">Your payment is successful</div>
    <div class="f14">
        Your order number is {{order.get_id}}. The order details have been sent to you by email/sms. Please call us at 970-222-1947 for any queries.
    </div>
</div>
{% endifequal %}
{% ifequal order.state "pending_order" %}
<div class="success">
    <div class="fb f16">Order booked</div>
    <div class="f14">
        Order number is {{order.get_id}}.
    </div>
</div>
{% endifequal %}
{% if order.state|order_state_canc_or_mod %}
<div class="alertg">
    <div class="fb f16">Order{%ifequal order.state 'cancelled'%} Cancelled {%else%} Modified {%endifequal%}</div>
    <div class="f14">
        Order number is {{order.get_id}}. The details of cancellation have been sent to you by email/sms.<br />
        Click <a href = '/orders/refund_dashboard'>here</a> to view the refund dashboard.
    </div>
</div>
{% endif %}
