/*search.css*/
#search_bar{text-align:center; vertical-align:middle; background-color:#fced67; padding:4px; }
#search{}
#search input, #search input[type="text"], #search select, #search select option, #search button, #search button[type="submit"]{padding:0px; margin:0px; font-size:13px;border:none;}
#search input:focus 
{ 
    outline:none; 
}
#search input[type="text"]{font-size:12px; width:300px; padding-right:2px; padding-left:2px; vertical-align:middle; border-right:1px dotted #bbb;}
#search select {border:none; padding:0 2px;}
#search select option{ width:150px; padding:1px; vertical-align:bottom;}
#search button{padding:1px 1px; vertical-align:middle;}
#search button[type="submit"]{padding:3px 10px; font-family:'lucida grande',arial,verdana,sans-serif
color:#333;	
	font-weight:bold;	

	background: -moz-linear-gradient(top, #FCCE00 0%, #FF9D00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCCE00), color-stop(100%,#FF9D00));

cursor:pointer;
/*border: 1px solid #edac53;*/
font-size:13px; vertical-align:middle;

}

.tbl_searchbar{background-color:#fff; width:500px; float:left; margin-left:200px; padding-left:4px; border:1px solid #fcce00; border-collapse:seperate;}
.tbl_searchbar td{padding:0px;}

/*cart button*/
.cart_button{
/*background: #fefcea; */
/*background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
*/

background: #ffd65e; /* old browsers */

background: -moz-linear-gradient(top, #ffd65e 45%, #febf04 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#ffd65e), color-stop(100%,#febf04)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* ie */


float:right;
border:1px solid #fcce00; 
font-size:11px;
padding:3px 5px;
text-shadow:none;
cursor:pointer;
display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 10px 0 2px;
	outline: none;	
	text-align: center;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px #bbbbbb;
	-moz-box-shadow: 0 1px 2px #bbbbbb;
	box-shadow: 0 1px 2px #bbbbbb;		
	font-weight:bold;
	}
	.cart_button a{color:#000 !important}
.cart_items{color:#333; font-weight:normal;}

/*search.css end*/
