{% extends 'admin/base_site.html' %}
{% block content %}
{% for key, value in queues.items %}

<table width="100%">
    <tr>
        <td colspan="10" class="header">
            <table width="100%" cellspacing="0" cellpadding="2">
                <tr>
                    <td style="border-bottom: none;">
                        Queue: {{key}}
                    </td>
                    <td align="right" style="border-bottom: none;">
                        Taken: {{value.info.Completed}}
                    </td>
                    <td align="right" style="border-bottom: none;">
                        Abandoned: {{value.info.Abandoned}}
                    </td>
                    <td align="right" style="border-bottom: none;">
                        Waiting: {{value.waiting}}
                    </td>
            </table>
        </td>
    </tr>
    <tr>
        {% for member in value.members %}
        <td class="{{member.css}}">
            {{member.agent_name}}<br/>
            Calls: {{member.CallsTaken}}<br/>
            Status: {{member.verbose_status}}<br/>
            Last: {{member.LastCall|time_span}}<br/>
        </td>
        {% if not forloop.counter|mod:10 %}
        </tr><tr>
        {% endif %}
        {% endfor %}
    </tr>
</table>
{% endfor %}
{% endblock %}
