{% extends 'ppd/user_home.html' %}
{% load ppd_tags %}
{% load web_tags %}
{% block user_content %}
        <div class="f18 fb">
            <h1>{{client_display_name}} - Bulk Upload using Excel</h1>
        </div>

<div>
    {% if errors %}
        <div class="orders_msg rc5">
	        <div class="rc5 error">       
                {% for error in errors %}
                    {{error}}<br/>
                {% endfor %}   
	        </div>
        </div>   
    {% endif %}
<style>
.tbl_price{border-collapse:collapse; width:960px;}
.tbl_price th,.tbl_price td{border:1px solid #ccc; verticle-align:top;}
.tbl_price th{background-color:#f3f3f3; text-align:center;}
.tbl_price td{text-align:center; width:20px; padding:0px;}
</style>

  <div style="padding:0px; margin:0px; width:960px; overflow:auto;">
    <form method="post" enctype="multipart/form-data">
        {% if flag == 'show_details' %}
            {% if all_prices.update %}
                <h2 class="f18">Updates/Additions</h2>
                <table class="tbl_price">
                <tr>
                    <th rowspan="2"> Product Name </th>
                    <!-- <th rowspan="2"> SKU </th> -->
                    <th rowspan="2"> Article Id </th>
                    <th rowspan="2"> Catalog </th>
                    <th colspan="2"> List Price </th>
                    <th colspan="2"> Sale Price </th>
                    <th colspan="2"> Cashback Amount </th>
                    <th colspan="2"> Start Time </th>
                    <th colspan="2"> End Time </th>
                    <th rowspan="2"> Action </th>
                </tr>
                <tr>
                    <th>Was</th>
                    <th>New</th>
                    <th>Was</th>
                    <th>New</th>
                    <th>Was</th>
                    <th>New</th>
                    <th>Was</th>
                    <th>New</th>
                    <th>Was</th>
                    <th>New</th>
                </tr>
                {% for price in all_prices.update %}
                    {% if price.price_list.name|is_timed_pricelist %}
                        <tr {%if price.action == 'Add' %} style="background-color:green" {%endif%}>
                            <td class="la"> {{price.price.rate_chart.product.title}} </td> 
                            {%comment%} <td> {{price.price.rate_chart.sku}} </td> {%endcomment%}
                            <td> {{price.price.rate_chart.article_id}} </td>
                            <td> {{price.price.price_list.name}} </td>
                            <td class="ra" {%if not price.price.list_price|compare_prices:price.list_price %} style="background-color:orange" {%endif%}> {{price.price.list_price}} </td>
                            <td {%if price.list_price%}class="ra"{%endif%} {%if not price.price.list_price|compare_prices:price.list_price %} style="background-color:orange" {%endif%}> {%if price.list_price%} {{price.list_price}} {%else%} -- {%endif%} </td>
                            <td class="ra" {%if not price.price.offer_price|compare_prices:price.offer_price %} style="background-color:orange" {%endif%}> {{price.price.offer_price}} </td>
                            <td {%if price.offer_price%}class="ra"{%endif%} {%if not price.price.offer_price|compare_prices:price.offer_price %} style="background-color:orange" {%endif%}> {%if price.offer_price%} {{price.offer_price}} {%else%} -- {%endif%} </td>
                            <td class="ra" {%if price.price.cashback_amount != price.cashback_amount %} style="background-color:orange" {%endif%}> {{price.price.cashback_amount}} </td>
                            <td {%if price.cashback_amount%}class="ra"{%endif%} {%if price.price.cashback_amount != price.cashback_amount %} style="background-color:orange" {%endif%}> {{price.cashback_amount}} </td>
                            <td> -- </td>
                            <td> -- </td>
                            <td> -- </td>
                            <td> -- </td>
                            <td> {{price.action}} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for price in all_prices.update %}
                    {% if not price.price_list.name|is_timed_pricelist %}
                        <tr {%if price.action == 'Add' %} style="background-color:green" {%endif%}>
                            <td class="la"> {{price.price.rate_chart.product.title}} </td> 
                            {%comment%} <td> {{price.price.rate_chart.sku}} </td> {%endcomment%}
                            <td> {{price.price.rate_chart.article_id}} </td>
                            <td> {{price.price.price_list.name}} </td>
                            <td class="ra" {%if not price.price.list_price|compare_prices:price.list_price %} style="background-color:orange" {%endif%}> {{price.price.list_price}} </td>
                            <td {%if price.list_price%}class="ra"{%endif%} {%if not price.price.list_price|compare_prices:price.list_price %} style="background-color:orange" {%endif%}> {{price.list_price}} </td>
                            <td {%if price.offer_price%}class="ra"{%endif%} {%if not price.price.offer_price|compare_prices:price.offer_price %} style="background-color:orange" {%endif%}> {{price.price.offer_price}} </td>
                            <td {%if price.offer_price%}class="ra"{%endif%} {%if not price.price.offer_price|compare_prices:price.offer_price %} style="background-color:orange" {%endif%}> {{price.offer_price}} </td>
                            <td class="ra" {%if price.price.cashback_amount != price.cashback_amount %} style="background-color:orange" {%endif%}> {{price.price.cashback_amount}} </td>
                            <td {%if price.cashback_amount%}class="ra"{%endif%} {%if price.price.cashback_amount != price.cashback_amount %} style="background-color:orange" {%endif%}> {{price.cashback_amount}} </td>
                            <td {%if price.price.start_time != price.start_time %} style="background-color:orange" {%endif%}> {{price.price.start_time}} </td>
                            <td {%if price.price.start_time != price.start_time %} style="background-color:orange" {%endif%}> {{price.start_time}} </td>
                            <td {%if price.price.end_time != price.end_time %} style="background-color:orange" {%endif%}> {{price.price.end_time}} </td>
                            <td {%if price.price.end_time != price.end_time %} style="background-color:orange" {%endif%}> {{price.end_time}} </td>
                            <td> {{price.action}} </td>
                        </tr>
                    {% endif %}
               {% endfor %}
               </table>
            {% endif %}
<br/>
            {% if all_prices.skip %}
                <h2 class="f18">Skip</h2>
                <table class="tbl_price">
                <tr>
                    <th> Article Id </th>
                    <th> Catalog </th>
                    <th> List Price </th>
                    <th> Sale Price </th>
                    <th> Cashback Amount </th>
                    <th> Start Time </th>
                    <th> End Time </th>
                    <th> Action </th>
                </tr>
                {% for price in all_prices.skip %}
                    <tr>
                        <td> {{price.article_id}} </td>
                        <td> {{price.catalog}} </td>
                        <td class="ra"> {{price.list_price}} </td>
                        <td class="ra"> {{price.offer_price}} </td>
                        <td class="ra"> {{price.casback_amount}} </td>
                        <td> {%if price.start_time%} {{price.start_time}} {%else%}--{%endif%} </td>
                        <td> {%if price.end_time%} {{price.end_time}} {%else%}--{%endif%} </td>
                        <td> {{price.action}} </td>
                    </tr>
                    {% for conflict in price.conflicts %}
		                <tr><td colspan="2" rowspan="{{rowspan}}" style="color:red">Conflicting Entries</td>
                            <td class="ra" style="background-color:#dddddd"> {{conflict.new_list_price}} </td>
                            <td class="ra" style="background-color:#dddddd"> {{conflict.new_offer_price}} </td>
                            <td class="ra" style="background-color:#dddddd"> {{conflict.new_cashback_amount}} </td>
                            <td style="background-color:#dddddd"> {{conflict.new_start_time}} </td>
                            <td style="background-color:#dddddd"> {{conflict.new_end_time}} </td>
                            <td style="background-color:#dddddd">&nbsp;  </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
               </table>
            {% endif %}
            {% if all_prices.update or all_prices.skip %}
            <input type="hidden" name="path_to_save" value="{{path_to_save}}" id="path_to_save" />
            <input type="hidden" name="all_prices_json" value="{{all_prices_json}}"/>
            <input type="submit" value="Update" name="update" id="update" class="button orange"/>
            <INPUT TYPE="button" VALUE="Back" id="back_button" class="button orange" />
            {% else %}
            <h2 class="f18">Excel sheet does not contain appropriate data!!!</h2>
            {% endif %}
        {% else %} 
            {% if flag == 'updated' %}
                <!-- <h2 class="f18">Prices are uploaded successfully!!!</h2> -->
                {% if prices_approved %}
                    <div class="orders_msg rc5">
                        <div class="rc5 success">       
                            Prices updated successfully for Articleids -&nbsp;
                            {% for i in prices_approved %}
                                {{i}},&nbsp;
                            {% endfor %}   
                        </div>
                    </div>   
                {% endif %}

                {% if prices_rejected %}
                    <div class="orders_msg rc5">
                        <div class="rc5 error">       
                            Could not update prices for Articleids -&nbsp;
                            {% for i in prices_rejected %}
                                {{i}},&nbsp;
                            {% endfor %}   
                        </div>
                    </div>   
                {% endif %}

                {% if failed_to_update_in_atg %}
                    <div class="orders_msg rc5">
                        <div class="rc5 error">       
                            Failed to update price in ATG for Articleids -&nbsp;
                            {% for i in failed_to_update_in_atg %}
                                {{i}},&nbsp;
                            {% endfor %}   
                        </div>
                    </div>   
                {% endif %}

                {{forms}}
                <input type="submit" value="Upload" name="upload" id="uplaod" class="grayButton" style="padding: 2px 6px;"/>
            {% else %}
                {% if flag == 'new' %}
                {{forms}}
                <input type="submit" value="Upload" name="upload" id="uplaod" class="grayButton" style="padding: 2px 6px;"/>
                {% endif %}
            {% endif %}
        {% endif %}
    </form>
    </div>
</div>
{% endblock %}

{% block script_footer %}
    <script type="text/javascript">
        $("#back_button").click(function(){
            history.go(-1);
            return true;
        })
    </script>
{% endblock %}
