<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%load web_tags%}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{% block page_title %}{% page_title request %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--
    <meta name="description" content="{%block page_desc%}India's phone bazaar. Find best deals on books, magazines, computers, mobiles, home electronics, home appliances. Call 922 222 1947 to buy directly from brands.{%endblock%}"/>
    <meta name="keywords" content="{%block page_tags%}Chaupaati Bazaar, Online Shopping, Store Online, Buy Books, Subscribe Magazines, Buy Computer, Mobile, Electronics, Toys, Gifts, Low Price, Purchase On Web, Cheap product, india{%endblock%}"/>
    -->

            
        {% block core_css %}
        <link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/header.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/footer.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/home.css" type="text/css" media="screen, projection" />
        <link rel="shortcut icon" href="{%render_favicon request%}"/>
        {% endblock %}

        {% block extra_css %}{% endblock %}

        {% block jquery %}
        {% endblock %}
    </head>

    <body>
        <div id="header">
            {% block header %}
                {% render_header request %}
            {% endblock %}
        </div>
        <div id="main-content" style="width:963px; height:auto; margin:auto;">
            {% block content %}
            {% endblock %} 
        </div>
        <div id="footer" style="width:963px; height:auto; margin:auto;">
            {% block footer %}
                {% render_footer request %}
            {% endblock %}
        </div>
        {% block script_footer %}
        {% endblock %}
    </body>
</html>
