{% extends 'ppd/user_home.html' %}
{% load ppd_tags %}
{% load web_tags %}
{% load cc_tags %}
{% block user_content %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/styles.css" type="text/css" media="screen, projection" />
<style>
.tbl_price{border-collapse:collapse;}
.tbl_price th,.tbl_price td{border:1px solid #ccc; verticle-align:top;}
.tbl_price th{background-color:#f3f3f3; text-align:center;}
.tbl_price td{text-align:center;}
</style>
<div class="inner-content">
  <form method="POST" action="" id="search_by_sku_form" name="search_by_sku_form">
    {% if flag == 'searched' %}
        {% if searched_by == 'skuid'%}
            <h2 class="f18">Search Results for SKU:&nbsp;{{sku}} </h2>
        {% else %}
            {% if searched_by == 'article_id' %}
                <h2 class="f18">Search Results for Article Id:&nbsp;{{article_id}} </h2>
            {% endif %}
        {% endif %}
        
        <input type="hidden" name="articleid" value="{{article_id}}" />
        <input type="hidden" name="dc_id" value="{{dc_id}}" />
        <input type="hidden" name="sku" value="{{sku}}" />

        <div>
            <img class="left" src="{{product_image.get_large_thumb_url}}" width="150" height="150" title="{{rate_chart.product.title}}" alt="{{rate_chart.product.title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_s.jpg" %}';}return false;" onerror_cnt="0" />
            <div class="left" style="padding:15px;">
            <div><strong>Product Name:</strong> {{rate_chart.product.title}}</div>
            <div><strong>Article Id:</strong> {{article_id}}</div>
            <div><strong>DC:</strong> {{inventory.dc.code}}</div>
        </div>
        <div class="clear"></div>
        {% if errors %}
            {% for error in errors %}
                <h2 class="f18">{{error}}</h2>
                <br/>
            {% endfor %}
        {% else %}
            {% if inventory %}
            {% comment%} {% if catalog_specific_prices %} {% endcomment %}
                <!-- <h4 class="f15">Catalog Specific Prices</h4> -->
                <table class="tbl_price">
                    <tr>
                        <th> Physical Stock </th>
                        {% if is_global_dc_supported %}
                            <th> Delivery Time </th>
                        {% else %}
                            <th>Virtual Stock</th>
                            <th>Expires On</th>
                            <th>Expected On</th>
                            <th>Threshold Stock</th>
                        {% endif %}
                        <!-- <th> Over the counter </th> -->
                        <th> Ship local only </th>
                        <th> COD </th>
                        {% if is_global_dc_supported %}
                            <th> Clearance </th>
                        {% endif %}
                    </tr>
                            <tr> 
                                <td> <input type="text" size="4" id="stock" name="stock" value="{{inventory.stock}}" /> </td>
                                {% if is_global_dc_supported %}
                                    <td> <input type="text" size="1" id="delivery_time" name="delivery_time" value="{% if rate_chart.shipping_duration %} {{rate_chart.shipping_duration}} {% else %} 0 {% endif %}" /> </td>
                                {% else %}
                                <td> <input type="text" size="4" id="virtual_stock" name="virtual_stock" value="{%if inventory.expires_on|is_valid_date %}{{inventory.virtual_stock}}{%endif%}" /> </td>
                                <td> 
                                    <input class="date ca" maxlength="10" type="text" size="6" id="expires_on" name="expires_on" value="{%if inventory.expires_on|is_valid_date %}{{inventory.expires_on|date:'d-m-Y'}}{%endif%}" /> 
                                    <select name="expires_on#hr" size="1">
                                        <option value="" selected>&nbsp;</option>
                                            {% for i in 12|get_range_from_zero %}
                                                <option value="{{i}}">{{i}}</option>
                                            {%endfor%}
                                    </select>
                                    {%comment%} 
                                    <input class="ca" maxlength="2" size="1" type="text" id="expires_on#hr" value="{%if inventory.expires_on|is_valid_date %}{{inventory.expires_on|date:'H'}}{%endif%}" name="expires_on#hr" /> 
                                    {%endcomment%}
                                    <select name="expires_on#min" size="1">
                                        <option value="" selected>&nbsp;</option>
                                            {% for i in 59|get_range_from_zero %}
                                                <option value="{{i}}">{{i}}</option>
                                            {%endfor%}
                                    </select>
                                    {%comment%}
                                    <input class="ca" maxlength="2" size="1" type="text" id="expires_on#min" value="{%if inventory.expires_on|is_valid_date %}{{inventory.expires_on|date:'i'}}{%endif%}" name="expires_on#min" /> 
                                    {%endcomment%}
                                </td>
                                <td> 
                                    <input class="date ca" maxlength="10" type="text" size="6" id="expected_on" name="expected_on" value="{%if inventory.expires_on|is_valid_date %}{{inventory.expected_on|date:'d-m-Y'}}{%endif%}" /> 
                                    <select name="expected_on#hr" size="1">
                                        <option value="" selected>&nbsp;</option>
                                            {% for i in 12|get_range_from_zero %}
                                                <option value="{{i}}">{{i}}</option>
                                            {%endfor%}
                                    </select>
                                    <select name="expected_on#min" size="1">
                                        <option value="" selected>&nbsp;</option>
                                            {% for i in 59|get_range_from_zero %}
                                                <option value="{{i}}">{{i}}</option>
                                            {%endfor%}
                                    </select>
                                    {%comment%}
                                    <input class="ca" maxlength="2" size="1" type="text" id="expected_on#hr" value="{%if inventory.expires_on|is_valid_date %}{{inventory.expected_on|date:'H'}}{%endif%}" name="expected_on#hr" /> 
                                    <input class="ca" maxlength="2" size="1" type="text" id="expected_on#min" value="{%if inventory.expires_on|is_valid_date %}{{inventory.expected_on|date:'i'}}{%endif%}" name="expected_on#min" /> 
                                    {%endcomment%}

                                </td>
                                <td> <input type="text" size="4" id="threshold_stock" name="threshold_stock" value="{%if inventory.threshold_stock%}{{inventory.threshold_stock}}{%endif%}" /> </td>
                                {% endif %}
                                <!-- <td> <input type="checkbox" id="otc" name="otc" {%if rate_chart.otc%}checked{%endif%} value="selected" /> </td> -->
                                <td> <input type="checkbox" id="so" name="so" {%if rate_chart.ship_local_only%}checked{%endif%} value="selected" /> </td>
                                <td> <input type="checkbox" id="cod" name="cod" {%if rate_chart.is_cod_available%}checked{%endif%} value="selected" /> </td>
                                {% if is_global_dc_supported %}
                                    <td> <input type="checkbox" id="clearance" name="clearance" {%if is_clearance_item%}checked{%endif%} value="selected" /> </td>
                                {% endif %}
                            </tr> 
                </table>
            {% comment %} {% endif %} {% endcomment %}
           <div class="ca">
                    <INPUT TYPE="submit" id="update" VALUE="Update" class="button orange" name="update">
                    <!-- <INPUT TYPE="button" VALUE="Back" id="back_button" class="button orange" /> -->
                    <INPUT class="button orange" TYPE="button" VALUE="Back" onClick="history.go(-1);return true;">
            </div>

            {% else %}
                No results found.
            {% endif %}
        {% endif %}
    {% else %}
        {% if flag == 'updated' %}
    {% if errors %}
        <div class="orders_msg rc5">
	        <div class="rc5 error">       
                {% for error in errors %}
                    {{error}}<br/>
                {% endfor %}   
	        </div>
        </div>   
    {% endif %}
        <div class="clear"></div>
        <div>
            <img class="left" src="{{product_image.get_large_thumb_url}}" width="150" height="150" title="{{rate_chart.product.title}}" alt="{{rate_chartproduct.title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_s.jpg" %}';}return false;" onerror_cnt="0" />
            <div class="left" style="padding:15px;">
            <div><strong>Product Name:</strong> {{rate_chart.product.title}}</div>
            <div><strong>Article Id:</strong> {{article_id}}</div>
            <div><strong>DC:</strong> {{inventory.dc.code}}</div>

        </div>
        <input type="hidden" name="articleid" value="{{article_id}}" />
        <input type="hidden" name="dc_id" value="{{dc_id}}" />
        <input type="hidden" name="sku" value="{{sku}}" />

        <div class="clear"></div>
                <table class="tbl_price">
                    <tr>
                        <th colspan="2"> Physical Stock </th>
                        {%if is_global_dc_supported %}
                            <th colspan="2"> Delivery Time </th>
                        {%else%}
                            <th colspan="2">Virtual Stock</th>
                            <th colspan="2">Expires On</th>
                            <th colspan="2">Expected On</th>
                            <th colspan="2">Threshold Stock</th>
                        {%endif%}
                        <!-- <th colspan="2"> Over the counter </th> -->
                        <th colspan="2"> Ship local only </th>
                        <th colspan="2"> COD </th>
                        {% if is_global_dc_supported %}
                            <th colspan="2"> Clearance </th>
                        {% endif %}
                    </tr>

                    <tr>
                        <th> Was </th>
                        <th> New </th>
                        {%if is_global_dc_supported %}
                            <th> Was </th>
                            <th> New </th>
                        {% else %}
                            <th> Was </th>
                            <th> New </th>
                            <th> Was </th>
                            <th> New </th>
                            <th> Was </th>
                            <th> New </th>
                            <th> Was </th>
                            <th> New </th>
                        {% endif %}
                        <!-- <th> Was </th>
                        <th> New </th> -->
                        <th> Was </th>
                        <th> New </th>
                        <th> Was </th>
                        <th> New </th>
                        {% if is_global_dc_supported %}
                            <th> Was </th>
                            <th> New </th>
                        {% endif %}
                   </tr>
                    <tr>
                        <td {%if inventory.stock != updates.stock%} style="background-color:orange" {%endif%}> {{inventory.stock|floatformat}} </td>
                        <td {%if inventory.stock != updates.stock%} style="background-color:orange" {%endif%}> {{updates.stock|floatformat}} </td>
                        {% if is_global_dc_supported %}
                            <td {%if rate_chart.shipping_duration != updates.delivery_time%} style="background-color:orange" {%endif%}>{% if rate_chart.shipping_duration %} {{rate_chart.shipping_duration}} {% else %} -- {% endif %} </td>
                            <td {%if rate_chart.shipping_duration != updates.delivery_time%} style="background-color:orange" {%endif%}> {{updates.delivery_time}} </td>
                        {%else%}
                            <td {%if inventory.virtual_stock != updates.virtual_stock%} style="background-color:orange" {%endif%}>{%if inventory.expires_on|is_valid_date %} {{inventory.virtual_stock|floatformat}} {% else %} -- {%endif%} </td>
                            <td {%if inventory.virtual_stock != updates.virtual_stock%} style="background-color:orange" {%endif%}>{% if updates.virtual_stock%} {{updates.virtual_stock|floatformat}} {% else %} -- {% endif %} </td>
                            <td {%if inventory.expires_on != updates.expires_on%} style="background-color:orange" {%endif%}>{%if inventory.expires_on|is_valid_date %} {{inventory.expires_on|date:'d-m-Y H:i:s'}}{%else%} -- {%endif%} </td>
                            <td {%if inventory.expires_on != updates.expires_on%} style="background-color:orange" {%endif%}>{%if updates.expires_on%}{{updates.expires_on|date:'d-m-Y H:i:s'}}{%else%} -- {%endif%}</td>
                            <td {%if inventory.expected_on != updates.expected_on%} style="background-color:orange" {%endif%}>{%if inventory.expires_on|is_valid_date %} {{inventory.expected_on|date:'d-m-Y H:i:s'}} {%else%} -- {%endif%} </td>
                            <td {%if inventory.expected_on != updates.expected_on%} style="background-color:orange" {%endif%}>{%if updates.expected_on%}{{updates.expected_on|date:'d-m-Y H:i:s'}}{%else%} -- {%endif%}</td>
                            <td {%if inventory.threshold_stock != updates.threshold_stock%} style="background-color:orange" {%endif%}>{%if inventory.threshold_stock%} {{inventory.threshold_stock|floatformat}} {%else%} -- {%endif%} </td>
                            <td {%if inventory.threshold_stock != updates.threshold_stock%} style="background-color:orange" {%endif%}>{%if updates.threshold_stock%} {{updates.threshold_stock|floatformat}} {%else%} -- {%endif%} </td>

                        {%endif%}
                        {% comment %}
                        <td {%if rate_chart.otc != updates.otc%} style="background-color:orange" {%endif%}> {%if rate_chart.otc%} YES {%else%} NO {%endif%} </td>
                        <td {%if rate_chart.otc != updates.otc%} style="background-color:orange" {%endif%}> {%if updates.otc%} YES {%else%} NO {%endif%} </td>
                        {% endcomment %}
                        <td {%if rate_chart.ship_local_only != updates.so%} style="background-color:orange" {%endif%}> {%if rate_chart.ship_local_only%} YES {%else%} NO {%endif%} </td>
                        <td {%if rate_chart.ship_local_only != updates.so%} style="background-color:orange" {%endif%}> {%if updates.so%} YES {%else%} NO {%endif%} </td>
                        <td {%if rate_chart.is_cod_available != updates.cod%} style="background-color:orange" {%endif%}> {%if rate_chart.is_cod_available%} YES {%else%} NO {%endif%} </td>
                        <td {%if rate_chart.is_cod_available != updates.cod%} style="background-color:orange" {%endif%}> {%if updates.cod%} YES {%else%} NO {%endif%} </td>
                        {% if is_global_dc_supported %}
                            <td {%if is_clearance_item != updates.clearance%} style="background-color:orange" {%endif%}> {%if is_clearance_item%} YES {%else%} NO {%endif%} </td>
                            <td {%if is_clearance_item != updates.clearance%} style="background-color:orange" {%endif%}> {%if updates.clearance%} YES {%else%} NO {%endif%} </td>
                        {%endif%}

                        <input type="hidden" name="stock" value="{{updates.stock}}" />
                        {% if is_global_dc_supported %}
                            <input type="hidden" name="delivery_time" value="{{updates.delivery_time}}" />
                            <input type="hidden" name="clearance" value="{%if updates.clearance%}selected{%endif%}" />
                        {%else%}
                            <input type="hidden" name="virtual_stock" value="{{updates.virtual_stock}}" />
                            <input type="hidden" name="expected_on" value="{{updates.expected_on|date:'Y-m-d H:i:s'}}" />
                            <input type="hidden" name="expires_on" value="{{updates.expires_on|date:'Y-m-d H:i:s'}}" />
                            <input type="hidden" name="threshold_stock" value="{{updates.threshold_stock}}" />
                        {%endif%}
                        <!-- <input type="hidden" name="otc" value="{%if updates.otc%}selected{%endif%}" /> -->
                        <input type="hidden" name="hd" value="{%if updates.hd%}selected{%endif%}" />
                        <input type="hidden" name="so" value="{%if updates.so%}selected{%endif%}" />
                        <input type="hidden" name="cod" value="{%if updates.cod%}selected{%endif%}" />
                    </tr>
                </table>
            <div class="ca">
                {% if not errors %}
                <INPUT TYPE="submit" id="confirm_button" VALUE="Confirm" class="button orange" name="confirm">
                {% endif %}
                <!-- <INPUT TYPE="button" VALUE="Back" id="back_button" class="button orange" /> -->
                <INPUT class="button orange" TYPE="button" VALUE="Back" onClick="history.go(-1);return true;">
            </div>

        {% else %}
    {% if errors %}
        <div class="orders_msg rc5">
	        <div class="rc5 error">       
                {% for error in errors %}
                    {{error}}<br/>
                {% endfor %}   
	        </div>
        </div>   
    {% endif %}
            {% if flag == 'confirmed' %}
                <h2 class="f20"> Inventory updated successfully for {%if sku%}SKU: {{sku}}{%else%} {%if article_id%} Article Id:{{article_id}}{%endif%} {%endif%}!!!</h2> 
                <br/>
            {% endif %}
            <strong>Article Id :</strong> <input type="text" name="articleid" value=""></input>&nbsp; <INPUT TYPE="submit" id="submit_button" VALUE="Search" class="button orange" name="search">
	<table class="tbl_price">
		<tr>
			<th>Product Name</th>
			<th>Article Id</th>
			<th>SKU</th>
            <th>DC</th>
			<th>Physical Stock </th>
            {% if is_global_dc_supported %}
               <th> Delivery Time </th>
            {% else %}
                <th>Virtual Stock</th>
                <th>Expires On</th>
                <th>Expected On</th>
                <th>Treshold Stock</th>
            {% endif %}
            <th> Ship local only </th>
			<th>COD</th>
            <!-- <th> Clearance </th> -->
			<th>Edit</th>
		</tr>
		{% for item in all_inventory %}
		<tr>
			<td class="la">{{ item.rate_chart.product.title }}</td>
			<td>{{ item.rate_chart.article_id }}</td>
			<td>{{ item.rate_chart.sku }}</td>
            <td>{{item.dc.code}}</td>
			<td>{{ item.stock|floatformat }}</td>
            {% if is_global_dc_supported %}
			    <td> {% if item.rate_chart.shipping_duration %} {{item.rate_chart.shipping_duration}} {% else %} -- {% endif %}</td>
            {% else %}
                {%if item.expires_on|is_valid_date %}
                    <td>{{item.virtual_stock|floatformat}}</td>
                    <td>{{item.expires_on|date:'d-m-Y H:i:s'}}</td>
                    <td>{{item.expected_on|date:'d-m-Y H:i:s'}}</td>
                {%else%}
                    <td> -- </td>
                    <td> -- </td>
                    <td> -- </td>
                {%endif%}
                <td>{% if item.threshold_stock %}{{item.threshold_stock|floatformat}}{%else%}--{%endif%}</td>
            {% endif %}
			<td>{% if item.rate_chart.ship_local_only %} Yes {%else%} No {%endif%}</td>
			<td>{% if item.rate_chart.is_cod_available %} Yes {%else%} No {%endif%}</td>
            <!-- <td>&nbsp;</td> -->
            <td><a href="{{request.client.name}}/inventory/{{client_name}}/{{seller_name}}/all_inventory?articleid={{item.rate_chart.article_id}}&dc_id={{item.dc.id}}" class="button orange"> Edit </a></td>
		</tr>
		{% endfor %}
	</table>

        {% endif %}
    {% endif %}
  </form>
</div>


<div class="clear"></div>

{% endblock %} 

{% block script_footer %}

<script type="text/javascript">
    $('.date').datepicker({dateFormat: 'dd-m-yy'});
/*
$(document).ready(function(){

$('#update').click(function checknumber(){
    var x=document.search_by_sku_form.stock.value
    var y=document.search_by_sku_form.delivery_time.value
    var anum=/(^\d+$)|(^\d+\.\d+$)/
    if (anum.test(x)){
        testresult1=true
    }else{
            testresult1=false
    }

    if (anum.test(y))
        testresult2=true
    else{
            testresult2=false
    }

    if(!testresult1 && !testresult2){
        alert("Please enter a valid stock and delivery time!!!");
    }else if(!testresult1 && testresult2){
        alert("Please enter a valid stock!!!");
    }else if(testresult1 && !testresult2){
        alert("Please enter a valid delivery time!!!");
    }
    return (testresult1 && testresult2)
})

});
*/
</script>
{% endblock %}
