{% extends 'ppd/user_home.html' %}
{% load ppd_tags %}
{% block user_content %}
<div>
    {% if errors %}
        <div class="orders_msg rc5">
	        <div class="rc5 error">       
                {% for error in errors %}
                    {{error}}<br/>
                {% endfor %}   
	        </div>
        </div>   
    {% endif %}
<style>
.tbl_price{border-collapse:collapse;}
.tbl_price th,.tbl_price td{border:1px solid #ccc; verticle-align:top;}
.tbl_price th{background-color:#f3f3f3; text-align:center;}
.tbl_price td{text-align:center;}
</style>

  <div style="padding:0px; margin-top:10px;">
    <form method="post" enctype="multipart/form-data">
        {% if flag == 'show_details' %}
            {% if consolidated_so_updates %}
                <table class="tbl_price">
                <tr>
                    <th> Pincode </th>
                    <th> Currently Covered under SO </th>
                    <th> Action </th>
                </tr>

                {% for item in consolidated_so_updates %}
                    <tr {% if item.action == 'DELETE' %} style="background-color:grey;"{%endif%}>
                        <td> {{item.pincode}} </td> 
                        <td> {{item.current_status}} </td>
                        <td> {{item.action}} </td>
                    </tr>
                {% endfor %}
               </table>
            {% endif %}
<br/> <br/>

            {% if consolidated_otc_updates %}
                <table class="tbl_price">
                <tr>
                    <th> Pincode </th>
                    <th> Currently Covered under OTC </th>
                    <th> Action </th>
                </tr>

                {% for item in consolidated_otc_updates %}
                    <tr {% if item.action == 'DELETE' %} style="background-color:grey;"{%endif%}>
                        <td> {{item.pincode}} </td> 
                        <td> {{item.current_status}} </td>
                        <td> {{item.action}} </td>
                    </tr>
                {% endfor %}
               </table>
            {% endif %}

<br/>            
            <input type="hidden" name="path_to_save" value="{{path_to_save}}" id="path_to_save" />
            <input type="hidden" name="to_update_json" value="{{to_update_json}}" />
            {% if not errors %}
                <input type="submit" value="Update" name="update" id="update" class="button orange"/>
                <!-- <INPUT TYPE="button" VALUE="Back" id="back_button" class="button orange" /> -->
                <INPUT class="button orange" TYPE="button" VALUE="Back" onClick="history.go(-1);return true;">
            {% else%} 
                {{forms}}
                <input type="submit" value="Upload" name="upload" id="uplaod" class="grayButton" style="padding: 2px 6px;"/>
            {% endif %}
        {% else %} 
            {% if flag == 'updated' %}
                <h2 class="f18">List of pincodes is updated successfully!!!</h2>
                {{forms}}
                <input type="submit" value="Upload" name="upload" id="uplaod" class="grayButton" style="padding: 2px 6px;"/>
            {% else %}
                {% if flag == 'new' %}
                {{forms}}
                <input type="submit" value="Upload" name="upload" id="uplaod" class="grayButton" style="padding: 2px 6px;"/>
                {% endif %}
            {% endif %}
        {% endif %}
    </form>
    </div>
</div>

{% endblock %}
{% block script_footer %}
    <script type="text/javascript">
        $("#back_button").click(function(){
            history.go(-1);
            return true;
        })
    </script>
{% endblock %}
