{% extends "web/base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/build_document.css" type="text/css" media="screen, projection" />
{% endblock %}

{%block jquery%}
{{block.super}}
<script type="text/javascript" src="/adminmedia/js/tiny_mce/tiny_mce.js"></script>
{% endblock %}
{% block content %}
<div align="center">
    <table width="650px" style="background:no-repeat url(bg.jpg); border-radius: 7px; -webkit-border-radius:7px; -moz-border-radius: 7px; -o-border-radius: 7px; border:2px #999 solid">
    <tr>
        <td align="center">
            {% include "build_document/base.html" %} 
        </td>
    </tr>
    {% if errors %}
    <tr>
        <td align="center">
        <div class="error">
            {% for error in errors %}
                {{error}}
            {% endfor %}
        </div>
        </td>
        <td></td>
    </tr>
    {% endif %}
    <tr>
        <td align="center">
            <form action="" method="POST" id="template_details" name="template_details" enctype="multipart/form-data">
            <table class="table-form" width="600px">
                <tr class="head">
                    <th colspan="2">Enter Template Details</th>
                </tr>
                <tr>
                    <td>{{form.title.label}}</td>
                    <td>{{form.title}}</td>
                </tr>
                <tr>
                    <td>{{form.offer_price.label}}</td>
                    <td>{{form.offer_price}}</td>
                </tr>
                <tr>
                    <td>{{form.time_to_build.label}}</td>
                    <td>{{form.time_to_build}}</td>
                </tr>
                <tr>
                    <td>Information about how to use the Document</td>
                    <td>{{form.information}}</td>
                </tr>
                <tr>
                    <td>What is in the Document?</td>
                    <td>{{form.about}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="tdaligncenter">
                        <input type="submit" id="proceed" name="proceed" value="Proceed"/>
                    </td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
</table>
 </div>
{% endblock %}
