{% extends "analytics/base.html" %}
{% load order_tags %}
{% block content %}
<style type="text/css">
	.report_option_aa {width:475px;}
	label{font-weight:normal;}
	input[type="radio"]{margin-top:2px;}
	.uiButton{padding:0px 6px;}
	.sku_id {width:275px; float:left;}
	.excel_main {margin:8px 0 0 5px !important;}
</style>
<form method="POST" id="report_form" name="report_form" action="">
  {% show_export_link request form 'excel' %}
  {% form_daterange request form title%}
  <div class="report_option_main">
    <div class="report_option_a"> <span>Order State:</span>{{form.order_state}}&nbsp; &nbsp; </div>
	<div class="sku_id floating_container">
    <tr>
      <td>Top selling by</td>
      <td>{{form.sort_by}}</td>
      <input type="submit" value="Go!" class="uiButton" style="width:50px\9; padding:5px;">
    </tr>
  	</div>
    <div class="report_option_b"> <span style="vertical-align:top;">Show top</span><span>{{form.show_top}}</span> </div>
  </div>
</form>
<div>
    <b>Note:</b> This analysis only considers orders with number of order-items > 1. It also excludes bulk orders (medium = 'support').
</div>
<div class="clear">&nbsp;</div>
<div>
  <table class="tbl_report">
    {%for item in data_list%}
    <tr> 
    {%if forloop.first%}
          {%for i in item%}
          <th>{{i}}</th>
          {%endfor%}
      {%else%}
          {%for i in item%}
          <td>{{i}}</td>
          {%endfor%}
      {%endif%} </tr>
    {%endfor%}
  </table>
</div>

{% endblock %}

