{%load cc_tags%}
<div id="crm_snippet" class="crm_snippet f11">
    {% if request.call.cli %}
    <div class="cc_caller_id_wrapper">
        <div class="f11 fdgray">Caller ID</div>
       <!-- <input type="text" name="callerid" id="callerid" readonly="readonly" value="{{request.call.cli}}" class="marb5 width90"/>-->
	<label class="f24"  id="callerid">{{request.call.cli}}</label>
	 <img title="{{cli_status}} User" src="/media/images/icon-{{cli_status}}.png" />
	    <div class="mart10">
<!--            <a href={% cc_url request "user/signout" %}><button class="linkButtonMaroon cursor closeCall" title="{% if request|is_franchise %}Close{%else%}Close this call{%endif%}" type="submit">{% if request|is_franchise %}Close{%else%}Close this call x{%endif%}</button></a>-->
	    <a class="closeCall btn_c btn_c_s tdnone btn_red" title="Close this call">Close this call x</a>
	    </div>
    </div>
    {% endif %}
{%if user %}
    <div class="padt10 padr20 padb10 padl20 panel3">
    <form onsubmit="return false;" action="javascript:void();" name="frmCC">
         <input type="hidden" id="callid" name="callid" value="{{callid}}"/>
           
	    
	    <div class="">
		{%if profile%}
		    <div>
			<div class="fll fdgray marb5">Mobile</div>
			    <input type="text" name="custMobile" id="custMobile" autocomplete="on" readonly="readonly" value="{{profile.get_primary_phones.0.phone}}" class="marb5 width160"/>
		    </div>
		    <div>
			<div class="f11 fdgray change marb5" style="display:none">Mobile2</div>
			<input type="text" name="changeMobile" class="change" style="display:none" id="changeMobile" autocomplete="on" class="marb5 width160"/>
		    </div>
		{%else%}
		    <div>
			<div class="f11 fdgray marb5">Mobile</div>
			<input type="text" name="custMobile" id="custMobile" autocomplete="on" value="{{profile.get_primary_phones.0.phone}}" class="marb5 width160"/>
		    </div>
		{%endif%}
		   
		    <div>
			<div class="f11 fdgray marb5">Email</div>
			<input type="text" name="user_email" id="user_email" autocomplete="off" value="{{profile.get_primary_emails.0.email}}" class="marb5 width160"/>
		    </div>
		    <div>
			<div class="f11 fdgray marb5">Name</div>
			<input type="text" name="custName" id="custName" autocomplete="off" value="{{profile.full_name}}" class="marb5 width160"/>
		    </div>
		     {% ifequal cli_status 'Unverified' %}
             {% ifequal request.call.cli profile.get_primary_phones.0.phone %}
                <div>
                    <!--<a class="linkButton flink cursor ccVerify" title="Verify this user">Verify</a>-->
		    <button class="btn_c btn_c_s btn_orange pad2 mart5 ccVerify" title="Verify this user">Verify This User</button>
                </div>
            {% endifequal %}
            {% endifequal %}
	    </div>
    </form>		
    </div>
{% else %}
  
            <div id="cc_signup" class="cc_signup panel1">
                <div>
                    <div class="f11 fdgray marb5">Mobile</div>
                    <input type="text" name="custMobile" id="custMobile" readonly="readonly" value="{{request.call.cli}}" class="marb5 width160"/>
                </div>
                <div>
                    <div class="f11 fdgray marb5">Email</div>
                    <input type="text" name="user_email" id="user_email" value="" class="marb5 width160"/>
                </div>
                <div>
                    <div class="f11 fdgray marb5">Name</div>
                    <input type="text" name="custName" id="custName" value="" class="marb5 width160"/>
                </div>
        		<button class="btn_c btn_c_s btn_orange mart5 ccSignup">Sign up</button>
            </div>
           
           <!-- <div>
            <div class="cc_new_user panel2 hide">
                <form onsubmit="return false;" action="javascript:void();" name="frmCC">
                    <input type="hidden" id="callid" name="callid" value="{{callid}}"/>
                    <div id="usererror" class="error hide marb10"></div>
                     <div class="newuser marb10">
                        <div class="fll fdgray marb5">User ID</div>
                        <input type="text" name="custNewUser" id="custNewUser" autocomplete="on" class="marb5 width160"/>
			<button class="btn_c btn_c_s btn_orange pad2 mart5">Apply</button>
			 
                     </div>
                </form>		
            </div>
            </div>-->
   

{%endif%}
    <div class="panel2">
	<div id="usererror" class="error hide"></div>
	<div class="cc_newuser">
	   <div class="fll fdgray marb5">User ID</div>
	   <input type="text" name="custNewUser" id="custNewUser" autocomplete="on" class="marb5 width160"/>
	</div>
	<button class="btn_c btn_c_s btn_orange pad2 mart5 marb5" id="cc_login">Login</button>
    </div>
    <!--tabs-->
    <div>		
        <ul class="cc_change_tabs">
            <li class="left tab_change_user li_change_user_bor">
            <!--<button class="linkButton flink cursor changeUser btn_change_user" title="Change User" type="submit">Change User</button>-->
                Change User
            </li>
        {% if not user %}
            <li class="left tab_signup">
            <!-- <a class="linkButton flink cursor ccSignup" title="Sign Up New User">Sign Up</a>-->
            Sign up
            </li>
        {% endif %}
	{% if user %}
            <li class="left tab_user_info">
            User Info
            </li>
	{% endif %}

        </ul>
    <div class="clear"></div>
    </div>
    <!--End tabs-->
</div>
<script type="text/javascript">
    
     $('.tab_change_user').click(function(){
      $('.panel1').hide();
       $('.panel3').hide();
      $('.panel2').show();
      $(this).removeClass('li_change_user_bor');
      $('.tab_signup').addClass('li_signup_bor');
       $('.tab_user_info').addClass('li_user_info_bor');
     });
     
     $('.tab_signup').click(function(){
      $('.panel2').hide();
       $('.panel3').hide();
      $('.panel1').show();
      $(this).removeClass('li_signup_bor');
      $('.tab_change_user').addClass('li_change_user_bor');
     });
          
     
      $('.tab_user_info').click(function(){
      $('.panel1').hide();
      $('.panel2').hide();
      $('.panel3').show();
      $(this).removeClass('li_user_info_bor');
      $('.tab_change_user').addClass('li_change_user_bor');
     });
        $('#logoutUser').click(function() {
            var next_call_calendar = '';
            var next_call_calendar_is_visible = false;
            var onSuccess = function(response) {
                $('response_dialog').width(500);
                if (response == 'Not attached to a call'){
                    document.location.href = "{%cc_url request 'user/signout'%}";
                }
                $('#response_dialog').html(response);
                var dialog = $('#response_dialog').dialog({modal:true,title:'Close Call',width:500,resizable:false});
                var today = new Date();
                var minDate = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();
                $('#next_call').datepicker({minDate:minDate,maxDate:'+1M +10D'});
                next_call_calendar_is_visible = false;
            };
            var onError = function() {
            };
            var action = "{% cc_url request 'user/close_call'%}";
            var data = "callId=" + {{request.call.id}}
            $.ajax({ url :action,
            data : data,
            success : onSuccess,
            error : onError,
            type : 'POST'
            });
            return false;
    });

    $('#custMobiletemp').blur(function() {
        onSuccess = function(data){
            $('#left_nav').html(data);
        };
        onError = function(){
        };
        var action = "{% cc_url request 'user/get_user_context'%}";
        var data = "mobile=" + $('#custMobile').val();
        $.ajax({ url :action,
        data : data,
        success : onSuccess,
        error : onError,

        type : 'POST'
        });
        return false;
    });
    

    $('#custMobile').change(function() {
        readOnly = $('#custMobile').attr('readonly');
        if(! readOnly){
            var cli = $("#custMobile");
            if(!cli.isMobileValid()){
                alert("Please enter valid phone number.");
                return;
            }
            cli = $("#custMobile").val();
            var dni = '{% default_dni request%}';
            var type = '9';
            var id = $('#callid').val();
            var url = "/" + cli + '-' + dni + '-' + type + '-' + id + '/';
            if(cli){
                window.location.href = url;
            }
        }
    });

    $('#custName').change(function() {
        $('#custName').attr('disabled','disabled');
        onSuccess = function(data){
            $('#custName').removeAttr('disabled');
        };
        onError = function(){
        };
        var action = "{% cc_url request 'user/update_user_profile'%}";
        var data = "full_name=" + $('#custName').val();
        $.ajax({ url :action,
        data : data,
        success : onSuccess,
        error : onError,
        type : 'POST'
        });
        return false;
    });
    
    $('#user_email').change(function() {
        $('#user_email').attr('disabled','disabled');
        onSuccess = function(data){
            $('#user_email').removeAttr('disabled');
        };
        onError = function(){
        };
        var action = "{% cc_url request 'user/update_user_profile'%}";
        var data = "email=" + $('#user_email').val();
        $.ajax({ url :action,
        data : data,
        success : onSuccess,
        error : onError,
        type : 'POST'
        });
        return false;
    });

    $('.closeCall').click(function() {
	    var width = 340;
	    $(this).unbind('click');
        $(this).css('cursor','default')
        $.get("{% cc_url request 'user/callclose'%}", function(data) {
            $('#call_popup').html(data);
	    	var dialog = $('#call_popup').dialog({modal:true,
	    		title:'Close Interaction', 
	    		width:width});
			var onSuccess = function(data, textStatus, xhr) {
                $('#call_popup').html(data);
                setTimeout(function(){
                    $('#call_popup').dialog('close');
                    var url = "{% cc_url request 'user/signout' %}";
                    window.location.href = url;
                    }, 2000);
			};
			var onError = function(xhr, textStatus, error) {
                $('#call_popup').html(xhr.responseText);
                setTimeout(function(){$('#call_popup').dialog('close');}, 4000);
			};
			var onSubmit = function() {
                var data = $('#form_add_interaction').serialize()+"&submit="+this.id;
                $.ajax({ url:"{% cc_url request 'user/callclose'%}",
					data : data,
					success : onSuccess,
					error : onError,
					type : 'POST'
					});
                return false; 
			};
            $('#closecall').click(onSubmit);
            $('#hold').click(onSubmit);
	    });
    });
    
    $('#changeBtn').click(function(){
        //$('.change').css('display','block');
        $('#changeMobile')[0].value = $('#custMobile')[0].value;
        $('#custMobile')[0].value = '';
        $('#changeMobile').attr('disabled',true);
        $('#custName').attr('disabled',true);
        $('#user_email').attr('disabled',true);
        $('#custName')[0].value = '';
        $('#user_email')[0].value = '';
        $('#custMobile').removeAttr('disabled');
        $('#custMobile').blur(function() {
            if ($('#changeMobile').val() == '' || $('#custMobile').val() == '')
                return;
            $('#custMobile').attr('disabled',true);
            onSuccess = function(url){
                $('#custMobile').removeAttr('disabled');
                if(url){
                    window.location.href = url;
                }
            };
            onError = function(){
                $('#custMobile').removeAttr('disabled');
            };
            var action = "{% cc_url request 'user/change_user'%}";
            var data = "changemobile=" + $('#custMobile').val();
            $.ajax({ url :action,
            data : data,
            success : onSuccess,
            error : onError,
            type : 'POST'
            });
            return false;
        });
    });
    
    $('.ccSignup').click(function(){
        var email = $('#user_email').val();
        var name = $('#custName').val();
        var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        var mobilePattern = /^\d{10}$/;
        if(email !='' && !emailPattern.test(email)){
            $('#usererror').removeClass('hide');
            $('#usererror').html('Enter valid email');
            return false;
        }
        var url = "{% cc_url request 'user/cc_signup'%}";
        var data = {'username':"{{request.call.cli}}", 'email':email, 'name':name};
        width = 350;
        var Onerror = function(){
            $('#call_popup').html('Sorry, can not signup now.');
            var dialog = $('#call_popup').dialog({modal:true,
                title:'User Sign up', 
                width:width});
            setTimeout(function(){
                $('#call_popup').dialog('close');
                window.location.reload();
                }, 2000);
        }
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            error: Onerror,
            success: function(msg){
                var response = $.parseJSON(msg);
                if(response.status == 'ok'){
                    $('#call_popup').html(response.user + "<br />" + response.email);
                    var dialog = $('#call_popup').dialog({modal:true,
                        title:'User Sign up', 
                        width:width});
                    setTimeout(function(){
                        $('#call_popup').dialog('close');
                        window.location.reload();
                        }, 2000);
                    }
                }
            });
    });
    $('.ccVerify').click(function(){
        width = 350;
        var url = "{% cc_url request 'user/cc_verify'%}";
        var data = {'phone':"{{request.call.cli}}"};
        var Onerror = function(){
            $('#call_popup').html('Sorry, can not verify.');
            var dialog = $('#call_popup').dialog({modal:true,
                title:'User Verification', 
                width:width});
            setTimeout(function(){
                $('#call_popup').dialog('close');
                window.location.reload();
                }, 2000);
        }
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            error: Onerror,
            success: function(msg){
                var response = $.parseJSON(msg);
                if(response.status == 'ok'){
                    $('#call_popup').html('User Phone verify.');
                    var dialog = $('#call_popup').dialog({modal:true,
                        title:'User Verification', 
                        width:width});
                    setTimeout(function(){
                        $('#call_popup').dialog('close');
                        window.location.reload();
                        }, 2000);
                }
            }
        });
    });
    $.fn.isMobileValid = function(){

        var data  = $(this).val();

        var mobilePattern = /^[0-9]{10}$/;

        if(data) {
            return mobilePattern.test(data);
        }
        return false
    };
    $.fn.isEmailValid = function(){
        var data  = $(this).val();
        if(data){
            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return emailPattern.test(data);
        }
        return false
    };

	$('#cc_login').click(function() {
        var cli = $("#custNewUser");
        if(!cli.isMobileValid() && !cli.isEmailValid()){
            var err = $("#usererror");
            err.removeClass('hide');
            err.html('Enter valid email/mobile no.');
            document.frmCC.custNewUser.focus();
            return;
        }
		$('#custMobile').attr('disabled',true);
		onSuccess = function(url){
            if (url=='invalid_user'){
                var err = $("#usererror");
                err.removeClass('hide');
                err.html('User does not exist.');
                document.frmCC.custNewUser.focus();
                return;
                }
            else{ 
                $('#custMobile').removeAttr('disabled');
                if(url){
                    window.location.href = url;
                }
            }
		};
		onError = function(){
			$('#custMobile').removeAttr('disabled');
		};
		var action = "{% cc_url request 'user/change_user'%}";
		var data = "changeuser=" + $('#custNewUser').val();
		$.ajax({ url :action,
			data : data,
			success : onSuccess,
			error : onError,
			type : 'POST'
		});
		return false;
	});
</script>
