{% extends 'web/ppd_base.html' %}
{% load ppd_tags %}

{% block content %}

{% if loggedin %}
     <div class="user_account_tabs" id="user_account_tabs">
                  <div class="left menu">
                         {%include "ppd/acc_section_display.html"%}
                  </div>
     </div>
{% endif %}
Welcome to the IFS Update Interface. Please choose the Table and the Action to be performed on it
<style type="text/css">
	#user_clients{width:130px}
	#user_sellers {width: 130px}
</style>


    <div class="seller_div">
        <form name="ifs_table_display" id="table_form" action="blank" method="POST">
            <span style="padding-left:10px;" class="f10 fgray">Tables</span>
                    <select name="table" id="tables_id" class="f10 fgray">
                      {%for table,action in table_dict.iteritems%}
                         <option class="f11 fdgray option" {%ifequal table selected_table %} selected="selected"{%endifequal%} value="{{table}}">{{table}}</option>
                       {%endfor%}
                    </select>
                <span style="padding-left:10px;" class="f10 fgray">Actions</span>
                <select name="action" id="actions_id" class="f10 fgray">
                </select>
                <input type='submit' name='submit' value='Submit' />
        </form>
    </div>

<script type="text/javascript">
var table_list = new Array({{table_dict.keys|length}});

{%for table in table_dict.keys%}
    table_list[{{forloop.counter0}}] = ['{{table}}','{{table}}'];
{%endfor%}

var actions = new Array({{table_dict.keys|length}});

{%for table, actions in table_dict.iteritems%}
    actions[{{forloop.counter0}}] = new Array({{actions|length}});
    {%for action in actions%}
        actions[{{forloop.parentloop.counter0}}][{{forloop.counter0}}] = ['{{action}}','{{action}}'];
    {%endfor%}
{%endfor%}

var action_input = $('#actions_id');
for(i=0; i<actions[0].length; i++) {
    action_input.get(0).options[i] = new Option(actions[0][i][0],actions[0][i][1]);
}

$('#tables_id').change(function() {
    var index = this.selectedIndex;
    action_input.get(0).options.length = 0;
    var new_actions = actions[index];
    for(i=0; i<new_actions.length; i++) {
        action_input.get(0).options[i] = new Option(new_actions[i][0],new_actions[i][1]);
    }
});

</script>


{% endblock %}
{% block script_footer %}
    <script type="text/javascript">
        $("#back_button").click(function(){
            history.go(-1);
            return true;
        })
    </script>
{% endblock %}

