{% extends 'web/ppd_base.html' %}
{% load ppd_tags %}

{% block content %}

{% if loggedin %}
     <div class="user_account_tabs" id="user_account_tabs">
                  <div class="left menu">
                         {%include "ppd/acc_section_display.html"%}
                  </div>
     </div>
     Welcome to IFS Admin, please select what action you want to take from the Top Menu.
{% endif %}

{% endblock %}
{% block script_footer %}
    <script type="text/javascript">
        $("#back_button").click(function(){
            history.go(-1);
            return true;
        })
    </script>
{% endblock %}

