{% extends 'riba-admin/base.html' %}
{% load question_tags %}

{% block extra_css %}
<style>
    .aligned label {
        display: block;
        padding: 0px 10px 0 0;
        float: left;
        width: 300px;
    }

    .module table td {
        border-bottom: 0px;
        vertical-align: middle;
    }

    fieldset table {
        border-right: 0px;
    }

    .field input, textarea, select {
        width: 400px;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <a href="/admin/">Home</a>&nbsp;&raquo;&nbsp; <a href="/admin/question/view/">Questions</a>&nbsp;&raquo;&nbsp; <a href="/admin/question/{{q.id}}/">{{q.question}}</a>&nbsp;&raquo;&nbsp; Preview
    </div>
    <!-- END Breadcrumbs -->
{% endblock %}


{% block content %}
<div class="preview-details">
    <h1>Preview Question</h1>
    <form id="preview_question_form" method="POST" action="">
        <fieldset class="module aligned">
            {% for qh in parents %}
                <div class="form-row">
                    <div>
                        <label style="valign:top">{{qh.parent_question}}</label>
                        <div>{{qh.parent_value}}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="form-row">
                <div class="f12">
                    <strong>{{q.question}}</strong>
                </div>
                <input type="hidden" name="fields-TOTAL_FORMS" id="id_fields-TOTAL_FORMS" value="1">
                <input type="hidden" name="fields-MAX_FORMS" id="id_fields-MAX_FORMS" value="{{q.recurring_times}}">
                <div class="question">
                    {% if q.is_recurring %}
                    <div id="id_fields-0-recurring_label" name="fields-0-recurring_label" class="mart10">{{q.recurring_label}} 1</div>
                    {% endif %}
                    <table class="mart10">
                        <tbody>
                            {% for f in fields %}
                                {% for key, value in f.iteritems %}
                                <tr>
                                    {% if value.label %}
                                    <td class="f11 w400">{{value.label}}</td>
                                    <td class="w10">:</td>
                                    {% endif %}
                                    <td class="field">
                                        {%ifequal value.field_type "text"%}
                                            <input id="id_fields-0-field" type="text" name="fields-0-field">
                                        {% endifequal %}
                                        {% ifequal value.field_type "textarea" %}
                                            <textarea id="id_fields-0-field" name="fields-0-field" class="w250 h50" style="height:50px !important;"></textarea>
                                        {% endifequal %}
                                        {% ifequal value.field_type "dropdown" %}
                                            <select id="id_fields-0-field" name="fields-0-field">
                                                {% for o in value.field_option %}
                                                    <option value="{{o}}">{{o}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endifequal %}
                                        {% ifequal value.field_type "radio" %}
                                            {% for o in value.field_option %}
                                                <div><input class="w100" type="radio" value="{{o|slugify}}" id="id_fields-0-{{forloop.counter0}}-field" name="fields-0-field"/>{{o}}</div>
                                            {% endfor %}
                                        {% endifequal %}
                                        {% ifequal value.field_type "check" %}
                                            {% for o in value.field_option %}
                                                <div><input class="w100" type="checkbox" value="{{o|slugify}}" id="id_fields-0-{{forloop.counter0}}-field" name="fields-0-field"/>{{o}}</div>
                                            {% endfor %}
                                        {% endifequal %}
                                        {% ifequal value.field_type "datetime" %}
                                            <input readonly="true" type="text" placeholder="Select a Date" name="current_question_val" class="hasdatepicker" id="id_fields-0-field" name="fields-0-field"/>
                                        {% endifequal%}
                                        {% ifequal value.field_type "imagefield"%}
                                            <input type="file" size="40" id="id_fields-0-field" name="fields-0-field"/>
                                        {% endifequal %}                            
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-row">
                {% if preview_complete %}
                    <div class="mart5">
                        <h3>Your preview is complete !</h3>
                    </div>
                    <div class="content_head"> 
                        <div class="left marl10 mart10 marb10"><a href="/admin/question/view/" class="uiButton fblack" style="padding: 3px 8px !important;">View All Questions</a></div>    
                        {% comment %}
                        <div class="left marl10 mart10 marb10"><a href="/admin/question/preview/{{q.id}}/" class="uiButton fblack" style="padding: 3px 8px !important;">Preview Again</a></div>
                        <div class="left marl10 mart10 marb10"><a href="/admin/question/{{q.id}}/" class="uiButton fblack" style="padding: 3px 8px !important;">Back</a></div>
                        {% endcomment %}
                    </div>
                {% else %}
                    {% if q.is_recurring %}
                         <div id="add_another_div" class="marl10 left">
                            <input type="hidden" id="id_{{q.id}}" value="{{q.id}}"></input>
                            <input class="w100" type="button" id="add_another" value="Add Another" name="add_another"></input>
                        </div>   
                    {% endif %}
	                <div class="marl10 left">
                        <input type="hidden" id="id_{{q.id}}" value="{{q.id}}" name="current_question_id"></input>
                        <input class="w100" type="submit" id="continue" value="Continue" name="continue"></input>
                    </div>
                {% endif %}
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}

{% block script_footer %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
     $('.hasdatepicker').datepicker({dateFormat: 'dd-mm-yy',
          onSelect: function(){
             $('.hasdatepicker').datepicker('enable');
         },
     });
});

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, type, recurring_label) {
        var newElement = $(selector).clone();
        var total = parseInt($('#id_' + type + '-TOTAL_FORMS').val());
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('');
        });
        /*newElement.find(':select').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('');
        });*/
        newElement.find('div').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('');
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        var max_forms = parseInt($('#id_' + type + '-MAX_FORMS').val());
        var total_forms = parseInt($('#id_' + type + '-TOTAL_FORMS').val());
        if(max_forms == total_forms){
            $("#add_another_div").hide();
        }
        $(selector).after(newElement);
        document.getElementById('id_'+ type + '-' + (total - 1) + '-recurring_label').innerHTML = recurring_label + ' ' + total;
    }

    // Event handlers for Field
    $("#add_another").click(function() {
        cloneMore('div.question:last', 'fields', '{{q.recurring_label}}');
    });

</script>
{% endblock %}
