{% load cc_tags %}
{% load web_tags %}
<div id="filter_panel" class="filter_panel filters">
<div class="ca fb pad10">
<span class="f12">YOUR SEARCH RETURNED</span><br />
  <span class="f15 forange">{{total_results}} RESULTS</span> </div>
    <form action="" method="get" id="filter_form"> 
        {% for d in hidden_data %}
            <input type="hidden" name="{{d.0}}" value="{{d.1}}" />
        {% endfor %}
        {{filter_form.q}}
        {% if request.wstore and request.wstore.brand_filter == "hide" %}
        {% else %}
        <div id="cat" class="show_filter filter_option fb f12" >
            {{filter_form.c.label}}
        </div>
        <div id="cat_filter" class="filter_content f11">        
	    <div class="padb10 filter_scroll">
            {% if filter_form.fields.c.choices %}
                <ul>
                    {%if filter_form.fields.hc.choices %}
                        {%if not is_category_page and not clearance_category%}
                            <li>
                                 {% if is_brand_page %}
                                    <a id="-1" class="f11 padb5" href="{% category_href_seo request "" "" %}">&lsaquo; All Categories</a>
                                {% else %}
                                    <a id="-1" class="f11 padb5" href="{% category_href request "" "" %}">&lsaquo; All Categories</a>
                                {% endif %}
  
                           </li>
                        {% endif %}
                        {% for cat in filter_form.fields.hc.choices %}
                                
                                <li class="padl{% getmultiplication forloop.counter0 10 %}">
                                {%if category == cat.0 or cat.0.id|is_int_equal:request.GET.c%}
                                	<span class="cat_selected fb" id="{{cat.0.id}}">{{cat.1}}</span>
                                {%else%}
                                    {% if is_brand_page %}
                                 	<a id="{{cat.0.id}}" href={% if not is_category_page %}"{% category_href_seo request "c" cat.0.id %}"{%else%}"{% cc_url request cat.0.url %}"{%endif%}>&lsaquo; {{cat.1}}</a>
                                    {% else %}
                                        <a id="{{cat.0.id}}" href={% if not is_category_page %}"{% category_href request "c" cat.0.id %}"{%else%}"{% cc_url request cat.0.url %}"{%endif%}>&lsaquo; {{cat.1}}</a>
                                    {% endif%}
                                 {%endif%}
                               </li>
                                 
                        {% endfor %}
                    {% endif %}
                    {% for cat in filter_form.fields.c.choices %}                        
                        {% if cat.0 in filter_form.fields.c.initial %}
                        <li {%if filter_form.fields.hc.choices %}class="padl{% getmultiplication hc_count 10 %}"{%endif%}>
                        	{%if category.id != cat.0 and is_category_page %}                          
                            	    <a href="{% category_url request cat.0 %}" id="{{cat.0}}">{{cat.1}}</a>
                                {%else%}
                                    {% if not is_category_page and not request.GET.c %}
                                        {% if is_brand_page %}
                                            <a id="{{cat.0}}" href="{% category_href_seo request "c" cat.0 %}">{{cat.1}}</a>
                                        {% else %}
                                            <a id="{{cat.0}}" href="{% category_href request "c" cat.0 %}">{{cat.1}}</a>
                                        {% endif %}
                                    {% else %}    
                                        {% if not is_category_page and not cat.0|is_int_equal:request.GET.c %}
                                            {% if is_brand_page %}
                                                <a id="{{cat.0}}" href="{% category_href_seo request "c" cat.0 %}">{{cat.1}}</a>
                                            {% else %}
                                                <a id="{{cat.0}}" href="{% category_href request "c" cat.0 %}">{{cat.1}}</a>
                                            {% endif %}
                                        {% else %}
                                            <span id="{{cat.0}}" class="fb">{{cat.1}}</span>
                                        {% endif %}
                                    {% endif %}
                                {%endif%}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
	    </div>
        {% if request.GET.c %}
            <input id="selected_category" value="{{request.GET.c}}" name="c" type="hidden"/>
        {% endif %}
        </div>
        {% endif %}
        {% if show_price_filter%}
            <div id="price" class="show_filter filter_option filter_bt">Price</div>
            <div id="price_filter" class="filter_content f11">
                <div class="amount f11"></div>
               <!-- <span id="amount" class="f11"></span>-->
                <input type="hidden" name="min" value="{{filter_form.gmin}}" id="id_min" />
                <input type="hidden" name="max" value="{{filter_form.gmax}}" id="id_max" />
                <div class="slider-range"></div>
                <div class="price_range">
                    <div class="gmin f11"><span class="WebRupee">Rs.</span> {{filter_form.gmin|money}}</div>
                    <div class="gmax f11"><span class="WebRupee">Rs.</span> {{filter_form.gmax|money}}</div>
                    <div class="clear"></div>
                </div>
            </div>
        {% endif %}
        {% if request.wstore and request.wstore.brand_filter == "hide" %}
        {% else %}
        <div id="brands" class="show_filter filter_option filter_bt">
            {{filter_form.b.label}}
        </div>
        <div id="brands_filter" class="filter_content filter_bb f11">
           <div class="filter_scroll">
            {{filter_form.b}}
            </div>
        </div>
        {% endif %}
        {% if filter_form.t.field.choices %}
        <div id="tags" class="show_filter filter_option f11 filter_bt">
            {{filter_form.t.label}}
        </div>
        <div id="tags_filter" class="filter_content filter_tt f11">
           <div class="filter_scroll">
            {{filter_form.t}}
            </div>
        </div>
        {% endif %}
        <input type="hidden" name="sort" id="form_sort" value="{{sort}}" />
        <input type="hidden" name="perpage" id="form_perpage" value="{{pagination.items_per_page}}" />
		
    </form>
</div>
