{% if show_remarketing_code %}
    <!-- Google Code for Re-Marketing Code -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 989445909;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "666666";
        var google_conversion_label = "{{conversion_label}}";
        var google_conversion_value = 0;
        /* ]]> */
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/989445909/?label={{conversion_label}}&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endif %}
