{%extends "web/base.html"%}
{%load web_tags%}
{%load cc_tags%}
{%block content%}
<div id="top10_deals" class="mart10">
<div class="top_deals_content">
<div class="top10_title">
<h1 class="top10_title_inner">
Products for your Travel Kit by Vibhash Tiwari, Fashion Photographer
</h1>
<div class="clear"></div>
</div>


<div class="top10_comment left">
<div class="top10_comment_photo">
<img src="{{MEDIA_URL}}images/vibhash.jpg" alt="" title="" />
<div class="ca" style="height:80px;">
Vibhas Tiwari<br />
Fashion Photographer
<div class="top10_comment_followme"></div>
</div>
</div>
<div class="top10_comment_text">
<p>A fashion photographer's life epitomizes the phrase "living out of a suitcase". My profession has me traveling 363 days in a year, one day I could be shooting in Greece and the next day you might find me snapping away in another part of the world. For such a lifestyle, I keep with myself a list of things that any traveler anywhere in this world must have. From my trusty Lonely Planet book to a can of deodorant and most importantly a Universal Mobile Charger. So, I suggest, if you are caught by the travel bug like me, you keep these things handy.</p>
</div>
<div class="top10_comment_offer">
<div class="marb20 fb f16" style="color:#6e8f27;">BUY ALL 10 PRODUCTS <br />
AND GET ADDITIONAL<br />
<span class="f48">15%</span> <span class="f24">OFF</span>
</div>

<div class="f15 fb" style="color:#445917;">BUY ATLEAST 3 PRODUCTS <br/>
AND GET ADDITIONAL <br />
<span class="f48">5%</span> <span class="f24">OFF</span>
</div>

</div>
</div>
<div class="clear"></div>
<div class="rc5 selectbar">
<div><a href="#">Select All</a>&nbsp;&nbsp;&nbsp; <a href="#">Unselect All</a>&nbsp;&nbsp;&nbsp;<button class="buy_selected"></button>
</div>
</div>
<div class="top10_item rc5" style="vertical-align:top;">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1><a href="#">Apple 2.66GHz MacBook Pro - MB604LL/A</a></h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>

<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1><a href="#">Apple 2.66GHz MacBook Pro - MB604LL/A</a></h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>
<div class="top10_item rc5">
<input type="checkbox"/>
<img src="{{MEDIA_URL}}images/item1.jpg" width="148" height="148" alt="" title="" class="top10_item_img"/>
<div class="left top10_item_desc">
<h1>Apple 2.66GHz MacBook Pro - MB604LL/A</h1>
<p>This laptop comes with Intel 2.1GHz Core2 Duo Processor, 1GB RAM which is upgradeable upto 4GB and 120GB HDD. It has a DVD Combo Drive, 13.3-inch display with a resolution of 1280 x 800 dpi. The laptop also has an integrated Intel Graphics Media Accelerator X3100 video card, Wi-Fi, integrated sound .<br />
<a href="#">Read More &rsaquo;</a>
</p>
</div>
<div class="top10_price">
<div class="deal_price"><span class="WebRupee">Rs. </span> 2,500</div>
<div class="mp">Market Price :   <span class="WebRupee">R </span>4000</div>
<div class="save">You Save :  <span class="fred"><span class="WebRupee">Rs.</span>1,500 (20%)</span></div>

<a href="#" class="f11">View Product Details &rsaquo;</a>


</div>
<div class="clear"></div>
</div>

<div class="rc5 selectbar">
<span><a href="#">Select All</a></span>&nbsp;&nbsp;&nbsp; <span><a href="#">Unselect All</a></span>&nbsp;&nbsp;&nbsp;<button class="buy_selected"></button>
</div>
</div>

<div class="top_deals_rightbar">
<div class="top10_rightbar_inner">
<div class="top10-tag"></div>
<h3>More TOP 10 Deals</h3>
<h4 class="fn f12"><a href="#">Top 10 products for a vacation with kids</a></h4>
<img src="{{MEDIA_URL}}images/top10-small-banner.gif" class="marb20"/>
<h4 class="fn f12"><a href="#">Top 10 products for a weekend break</a></h4>
<img src="{{MEDIA_URL}}images/top10-small-banner.gif" class="marb20"/>

<h4 class="fn f12"><a href="#">Top 10 products to be in vogue this summer</a></h4>
<img src="{{MEDIA_URL}}images/top10-small-banner.gif" class="marb20"/>

<h4 class="fn f12"><a href="#">Top 10 birthday gifts this summer</a></h4>
<img src="{{MEDIA_URL}}images/top10-small-banner.gif" class="marb20"/>

<h4 class="fn f12"><a href="#">Top 10 products to beat the heat this summer</a></h4>

<h4 class="fn f12"><a href="#">Top 10 products to beat the heat this summer</a></h4>

<h4 class="fn f12"><a href="#">Top 10 products to beat the heat this summer</a></h4>

<h4 class="fn f12"><a href="#">Top 10 products to beat the heat this summer</a></h4>









</div>
</div>
<div class="clear"></div>
</div>
{%endblock%} 
