{%extends "web/base.html"%}
{%load web_tags%}
{%load cc_tags%}
{%block content%}
<div id="breadcrumb" class="fdgray"><a href="/">Home</a><span></span>
    {%if clearance_sale%}
        Clearance Sale
    {%else%}
        {%if filter_form.fields.hc.choices %}
            {% for cat in filter_form.fields.hc.choices %}
                {% if not leaf_category and forloop.last %}
                    <div>{{cat.1}}</div>
                {% else %}
                    <a href="{% cc_url request cat.0.url %}">{{cat.1}}</a> <span></span>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>Search Results</div>
        {%endif%}
        {% if leaf_category and category %}
            <div>{{category.name}}</div>
        {% endif %}
    {%endif%}
</div>
{%if products%}
{%include "categories/filters.html"%}
<div id="srp_content" class="srp_content">  
  <div class="sort_bar">
    <div class="left">
    	<span>Sort by: </span>
    	{%for k,v in filters.items%}
            {%if k == "popular"%} 
                <a title="Sort product by {{k|title}}" href="{%filter_href request "sort" v.original%}" class="{%if request|has_param:"sort"%}{%filter_class "" request "sort"  v.original%} {%else%} selected_link {%endif%}">{{k|title}}</a> 
            {%else%} 
                <a title="Sort products by {{k|title}}" href="{%filter_href request "sort" v.opposite%}" class=" {%filter_class "" request  "sort" v.original%}{{v.original}} {%filter_class "" request  "sort" v.original%}">{{k|title}}</a>
            {%endif%}
            {%if not forloop.last%} &middot; {% endif %}
        {%endfor%}
	</div> 

      <div class="right">
      <span class="fb">Show deals per page : </span> 
        <a value="15" {%if pagination.items_per_page != 15 %} href="{%filter_href request "perpage" 15 %}"{%else%}class="fb"{%endif%}>15</a>{% if total_results > 15 %} | 
        <a value="30" {%if pagination.items_per_page != 30 %} href="{%filter_href request "perpage" 30 %}"{%else%}class="fb"{%endif%}>30</a>{% if total_results > 30 %} | 
        <a value="60" {%if pagination.items_per_page != 60 %} href="{%filter_href request "perpage" 60 %}"{%else%}class="fb"{%endif%}>60</a>{% endif %}{% endif %}
      </div>
    <div class="clear"></div>
  </div>
  <div class="srp_greed_view">
  <ul class="srp_greed" id="greed_products">
        {% get_grid_products request products show_compare pagination "True" %}
  </ul>    
     <div id="go_top" class="go_top mart20"><a href="#">Go Back to Top</a></div>
  </div>
  <div class="clear"></div>   
      <div class="pagination">
     <!--   <div class=" right">-->
         {% if pagination.enable_prev %} <a href="{{pagination.base_url}}page={{pagination.prev_page}}">Prev</a> {% else %} <a class="gray_link">Prev</a> {% endif %}
          {% for page in pagination.first_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
          {% if pagination.show_sep1 %} <span> ...</span> {% endif %}
          {% for page in pagination.prev_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
          <div>{{pagination.cur_page}}</div>
          {% for page in pagination.next_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
          {% if pagination.show_sep2 %} <span> ...</span> {% endif %}
          {% for page in pagination.last_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
          {% if pagination.enable_next %} <a href="{{pagination.base_url}}page={{pagination.next_page}}">Next</a> {% else %} <a class="gray_link">Next</a> {% endif %} 
       <!-- </div>-->
      </div>
</div>
<div class="clear"></div> 
{%else%}
<div class="padl200">
  <div class="f14 ca"> <strong>Your search <span class="forange">{%if request.GET.q%}"{{request.GET.q}}"{%endif%}</span> did not match any products on FutureBazaar.</strong> </div>
  <br />
  <div>
   <strong>Suggestions :</strong><br />
    <ul>
      <li>Make sure all words are spelled correctly.</li>
      <li>Make sure you have selected correct category.</li>
    </ul>
    <div> <a href="/">Click here</a> to go to Home </div>
  </div>
</div>
{%endif%}
{%endblock%}
{%block script_footer%}
{{block.super}}
<script language="javascript" type="text/javascript">
$(document).ready(function(){
        
	$('.filter_title').click(function(){
		var div_name = $(this).attr('id') + '_filter';
		var div = $('#' + div_name);
		if(div.hasClass('hide')){
			div.removeClass('hide');
			$(this).removeClass('hide_filter');
			$(this).addClass('show_filter');
		}
		else{
			div.addClass('hide');
			$(this).removeClass('show_filter');
			$(this).addClass('hide_filter');
		}	
	});
});	
</script>  
<script type="text/javascript">
$(document).ready(function(){
    var nxt_page_no = 2;
    var total_pages = "{{total_pages}}";
    if(nxt_page_no > total_pages){
        $("#see_more_tab").addClass("hide");
    };
    var status = "1 - {{pagination.result_to}} of {{total_results}} Items";
    $(".see_more_deals").html("Click Here to See More Deals (" + status + ")");
    $(".top_nav_status").html(status);
    $("#see_more_tab").click(function(){
        var items_per_page = "{{pagination.items_per_page}}";
        $("#ajax_loader").removeClass("hide");
        $("#see_more_tab").addClass("hide");
        var action = "{{pagination.base_url|safe}}" + "page=" + nxt_page_no;
        var data = "";
        var onSuccess = function(response){
            $("#greed_products").append(response);
            var OffsetTarget = "#grid_page_" + nxt_page_no;
            $("html,body").animate({scrollTop:$(OffsetTarget).offset().top}, 1000,"linear" , function(){});
            
            $("#see_more_tab").removeClass("hide");
            $("#ajax_loader").addClass("hide");
            nxt_page_no += 1;
            if(nxt_page_no > total_pages){
                $("#see_more_tab").addClass("hide");
            }
        };
        var onError = function(){};

        $.ajax({
            url : action,
            data : data,
            success : onSuccess,
            error : onError,
            type: "GET"
        });
        return false;
    });
    
    //go back to top
  /*  $(window).scroll(function(){
      var winheight= ($(window).height());
      var scrolltop=($(window).scrollTop());      
        
        if (scrolltop > winheight)
        {
            $('.go_top').css('display','block').fadeIn(500);
        }
        else
        {
            $('.go_top').css('display','none').fadeOut(500);
        }       
    });*/
})
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.sort').change(function(){
        var url = $(this).val();
        var p = $('#' + url).val();
        location.href=p;
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    {%if products%}
    var slider_discount = $("#slider-range-discount").slider({
            range: true,
            min:{{filter_form.dmin}},
            max:{{filter_form.dmax}},
            values: [{{filter_form.dlmin}},{{filter_form.dlmax}} ],
            slide: function(event, ui) {
                $("#discount-slide").html(ui.values[0] + '%' + ' - ' + ui.values[1] + '%');
                $("#id_min_discount").val(ui.values[0]);
                $("#id_max_discount").val(ui.values[1]);
                var step = 10;
                if (ui.values[0] >= 0 && ui.values[1] <= 100)
                    step = 10;
                if (ui.values[0] >= 100 && ui.values[1] < 1000)
                    step = 100;
                if (ui.values[0] >= 1000)
                    step = 500;
                slider.slider('option','step',step);
            },
            stop : function(event, ui) {
                $('#filter_form').submit();
            }
    });
    $("#discount-slide").html({{filter_form.dlmin}} + " % - " + {{filter_form.dlmax}} + " %" );
    $("#id_min_discount").val($("#slider-range-discount").slider("values", 0));
    $("#id_max_discount").val($("#slider-range-discount").slider("values", 1));
    
    var slider = $(".slider-range").slider({
            range: true,
            min:{{filter_form.gmin}},
            max:{{filter_form.gmax}},
            values: [{{filter_form.cmin}},{{filter_form.cmax}} ],
            slide: function(event, ui) {
                $(".points-slide").html(ui.values[0]*4 + ' - ' + ui.values[1]*4);
                $(".amount").html('Rs ' + ui.values[0] + ' - Rs ' + ui.values[1]);
                $("#id_min").val(ui.values[0]);
                $("#id_max").val(ui.values[1]);
                var step = 10;
                if (ui.values[0] >= 0 && ui.values[1] <= 100)
                    step = 10;
                if (ui.values[0] >= 100 && ui.values[1] < 1000)
                    step = 100;
                if (ui.values[0] >= 1000)
                    step = 500;
                slider.slider('option','step',step);
            },
            stop : function(event, ui) {
                $('#filter_form').submit();
            }
    });
    $(".points-slide").html( $(".slider-range").slider("values", 0)*4 + " - " + $(".slider-range").slider("values", 1)*4);
    $(".amount").html("<span class='WebRupee'>Rs.</span> " + $(".slider-range").slider("values", 0) + " - <span class='WebRupee'>Rs.</span> " + $(".slider-range").slider("values", 1));
    $("#id_min").val($(".slider-range").slider("values", 0));
    $("#id_max").val($(".slider-range").slider("values", 1));
    
    {%endif%}
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $(".filters a").click(function() {
        if ($(this).attr("t") == 'hide'){
            elems = $('input[name=' + $(this).attr("field") + ']');
            for(var i=0; i<elems.length; i++){
                elems[i].checked = false;
            }
        }
        if($(this).attr("t") == 'show'){
            elems = $("input[name="+ $(this).attr("field") + "]");
            for(var i=0; i<elems.length; i++){
                elems[i].checked = true;
            }
            $('#filter_form').submit();
        }
    });

    $(".filters input[type=checkbox]").click(function() {
        $('#filter_form').submit();
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_compare").click(function(){
        var url = window.location.pathname;
        var flag = 0;
        url += 'compare/';
        jQuery.each($('.selected'),function(){
                if($(this).attr('checked')){
                    flag += 1;
                    url += $(this).val() + '/';
                }
            });
        if(flag > 1){
            location.href = url;
        }
        else{
            alert("Please Select minimum 2 Products to compare.");
        }
    });
    $('.selected').click(function(){
        var flag = 0;
        jQuery.each($('.selected'),function(){
                if($(this).attr('checked')){
                    flag += 1;
                }
            });
        if(flag == 4){
            $(this).removeAttr("checked");
            alert("You can select Maximum 3 Products to compare.");
        }
    });
});
</script>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
	$('.filter_option').click(function(){
		var div_name = $(this).attr('id') + '_filter';
		var div = $('#' + div_name);
		if(div.hasClass('hide')){
			div.removeClass('hide');
			$(this).removeClass('hide_filter');
			$(this).addClass('show_filter');
		}
		else{
			div.addClass('hide');
			$(this).removeClass('show_filter');
			$(this).addClass('hide_filter');
		}	
	});
});	
</script>   
<script language="javascript" type="text/javascript">
$(document).ready(function(){
	$('.filter_option_discount').click(function(){
		var div_name = $(this).attr('id') + '_filter';
		var div = $('#' + div_name);
		if(div.hasClass('hide')){
			div.removeClass('hide');
			$(this).removeClass('hide_filter');
			$(this).addClass('show_filter');
		}
		else{
			div.addClass('hide');
			$(this).removeClass('show_filter');
			$(this).addClass('hide_filter');
		}	
	});
});
</script>  
{% if not is_category_page %} 
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    $(".select_category").click(function(){
        var cat_id = $(this).attr("id");
        if(document.getElementById("selected_category") != null){
            var current_cat_id = $("#selected_category").attr("value");
            if(current_cat_id == cat_id){
                return false;
            }
            $("#selected_category").val(cat_id);
        }
        else{
            //Assign different attributes to the element.
            var element = document.createElement("input");
            element.setAttribute("type", "hidden");
            element.setAttribute("value", cat_id);
            element.setAttribute("name", "c");
            element.setAttribute("id", "selected_category");
         
            var category = document.getElementById("cat_filter");
            category.appendChild(element) 
        };
        $("#filter_form").submit();
    });
});
</script>
{% endif %}  
{%endblock%} 
