{%load web_tags%}
{%load cc_tags%}
{%for product in products%}
<li {%if forloop.counter == 1 and pagination %}id="grid_page_{{pagination.cur_page}}" {%endif%}>
        <div class="greed_inner">
          <h3><a href="{% cc_url request product.product.url %}" title="{{product.product.title}}">{{product.product.title|truncate:40}}</a></h3>          
          <div class="item_img"> 
            <a href="{% cc_url request product.product.url %}"> 
                <img src="{{product.product_images.0.get_display_url}}" width="230" height="230" title="{{product.product.title}}" alt="{{product.product.title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{% media_url request "images/noimage_s.jpg" %}';}return false;" onerror_cnt="0" /></a>            
             <a href="{% cc_url request  product.product.quick_look_url %}" class="lightbox lightbox_overlay product_quick_look" style="position:static !important;">
                <span class="btn_qv">Quick View</span></a>
            {%if request|isAnySaving:product.rateChart %}
            <div class="save ca fb"> <span class="fwhite"> SAVE</span><br />
              <span class="fwhite"><span class="WebRupee">Rs. </span>{% getSavings request product.rateChart %}</span><br />
              <span>{% getDiscount request product.rateChart%}%</span>              
            </div>
            {% endif %}
          </div>            
         <!-- <div class="brand"> <img src="/media/images/4.jpg"/> </div>-->
         <div class="timer_outer">
            <div class="timer left">
             <a class="time">
             	 <div> <span><strong class="fcolor1">Time Left to buy:</strong> 24 Hr : 59 Min : 55 Sec</span></div>
             </a> 
              <a class="qty">
             	 <div><span><strong class="fcolor1">Qty left:</strong> 5</span> </div>
              </a>
              <a class="seller">
             	 <div><span><strong class="fcolor1">Hot Seller</strong></span> </div>
              </a>
            </div>
             <div class="retailer right">
             <a class="retailer_icon">
             	 <div> <span></span></div>
             </a>
             </div>
             <div class="clear"></div>
          </div>
          <div class="pad10">
            <div class="price left">
                {%if request|isAnySaving:product.rateChart %}
                    <div class="mrp f18 fb"><span class="WebRupee">Rs.</span> <span class="fs">{% get_price_info request product.rateChart 'list_price' %}</span></div>
                {% endif %}
                <div class="offer_price f24 fb"><span class="WebRupee">Rs.</span> <span>{% get_price_info request product.rateChart 'offer_price' %}</span></div>
            </div>
            <form action="{% cc_url request "orders/mycart" %}" id="add_product_to_cart_form_{{product.product.id}}" method="post">
            <input type="hidden" name="rate_chart_id" value="{{product.rateChart.id}}"/>
            <input type="hidden" name="product_id" value="{{product.product.id}}"/>
            <input type="hidden" name="action" value="add_to_cart"/>
            <a class="add_product_to_cart button orange right mart8" value={{product.product.id}} title="Add To Cart">Add To Cart</a>
            </form>            
            <div class="clear"></div>
          </div>
        </div>        
</li>
{% endfor %}

