@charset "utf-8";
/* CSS Document */
ul.MenuBarHor a{text-decoration:none !important; color:#333 !important;}
.MenuBarHor{float:right;}
.MenuBarHor li{position:relative !important;}
.MenuBarHor li ul{position:absolute !important; top:31px; right:-2px;}
.MenuBarItem{ float:left; }
#Books{right:-410px; }
#Magazines{right:-382px;}

#search {line-height:32px; height:30px; padding-top:3px;}
#search button{ padding:0px; margin:0px; display:inline; font-size:11px;}

/*Small menu -f0llow*/
.follow_us_mn li{display:block; clear:both;}
.shadow_one {filter: progid:DXImageTransform.Microsoft.dropShadow(color=#dcdcdc, offX=1, offY=1, positive=true); border:1px solid #ccc;}
ul.MenuBarHor ul a, ul.MenuBarHor ul a{color:#33F !important; }
ul.MenuBarHor ul a:hover, ul.MenuBarHor ul a:focus{color: #6699FF !important; text-decoration:underline !important;	}