{% load cc_tags %}
{% load web_tags %}
<div class="product_list_item">
    <div class="thumb">
        <a href="{%cc_url request product.product.url%}">
            {% if product.image %}<img src="{{product.product_images.0.get_display_url}}" width="75" height="75" title="{{product.product.title}}" onerror="if(this.getAttribute('onerror_cnt')==0) { this.setAttribute('onerror_cnt',1);this.src='{{MEDIA_URL}}images/noimage.png';this.alt='no image';}return false;" onerror_cnt="0" />{%else%}<img src="{{MEDIA_URL}}images/noimage.png" width="75" height="75" title="No image available for {{product.product.title}}" alt="No image available"/>{% endif %}</a>
    </div>
    <div class="summary">
        <h3><a href="{%cc_url request product.product.url%}" title="{{product.title}}">{{product.product.title}}</a></h3>
       <!-- {% if request.wstore and request.wstore.sold_by == "hide"%}{% else %}
        <div class="f11">sold by <a href="/{{product.product.brand.url}}">{{product.rateChart.seller}}</a></div>
        {%endif%}-->
        {% product_key_features_inline product.product %} 
        {% ifequal  product.rateChart.stock_status "instock" %}
        <div>
            <span class="f12 fgreen"><strong>In Stock</strong></span>. This item ships in <strong>{{product.rateChart.shipping_duration}}</strong>
        </div>
        {% endifequal %}
    </div>
    <div class="fll">
        {% if product.rateChart.list_price > product.rateChart.offer_price %}
        <div class="f11 fs fdgray"><span class="WebRupee">Rs.</span> {{product.rateChart.list_price|money}}</div>
        {% endif %}
        <div class="fmaroon f14"><strong><span class="WebRupee">Rs.</span> {{product.rateChart.offer_price|money}}</strong></div>
        {%if not product.rateChart.shipping_charges%}<span class="f11 fdgray">FREE shipping in India</span>{% else %} {{product.product.formatted_currency}} <span class="f11 fdgray">+ {{product.rateChart.shipping_charges|money}} shipping</span>{%endif%}<br/>
    </div>
    <div class="flr margin-r20 margin-t15">
        {% add_to_cart request product.product product.rateChart %}
        {%if request|is_cc%}
        <br /><a  href="{%cc_url request 'share/'%}{{product.product.id}}" title="Share Product" class="share_product">Share</a><br/>
        {%endif%}
    </div>
    <div class="clear"></div>
</div>
