{%load web_tags%}
{%load cc_tags%}
{%if variants%}
<hr class="space"/>
<div>
<!--<hr class="space"/>-->
<table cellspacing="0" cellpadding="0" class="f11 variants roundcorner5">
<tbody>
    <tr>
        <td class="fb"></td>
         <td class="fb">Options</td>
        <td class="fb">Price </td>
       <!-- <td class="fb bb">Gifts</td>-->
    </tr>
    {%for variant in variants%}
        <tr {%ifequal product.id variant.variant.id %}class="selected_variant"{%endifequal%}>
            <td width="20" class="bt vatop la"><input type="radio" name="group" url="{% cc_url request variant.variant.url %}" id="{{variant.variant.id}}" {%ifequal product.id variant.variant.id %} checked="checked"{%endifequal%}></td>
            <td class="bt vatop"><a href="{% cc_url request variant.variant.url %}">{{variant.variant.title}}</a><br />
			{% if variant.variant.primary_rate_chart.gift_title %}<span class="fn">+ {{variant.variant.primary_rate_chart.gift_title}}</span>{%endif%}</td>
            <td class="bt vatop" width="40" align="right">{%if variant.variant.primary_rate_chart.list_price > variant.variant.primary_rate_chart.offer_price %}{{product.product.formatted_currency}} <strike>{{variant.variant.primary_rate_chart.list_price|money}}</strike> <br/>{%endif%}<span class="fmaroon fb">{{product.product.formatted_currency}} {{variant.variant.primary_rate_chart.offer_price|money}}</span></td>
          <!--  <td class="bb vatop">{% if variant.variant.primary_rate_chart.gift_title %}{{variant.variant.primary_rate_chart.gift_title}}{%endif%}</td>-->
        </tr>
    {%endfor%}
    </tbody>
</table>
</div>
<script type="text/javascript">
    $("input[name=group]").change(function() {
        var url = $(this).attr("url");
        location.href = url;
    });
</script>
{% endif %}
