.btn_proceed_l {
    background:url('/media/images/proceed-165x35.png') no-repeat;
    width:165px;
    height:35px;
}

.btn_proceed {
    background:url('/media/images/proceed-90x25.png') no-repeat;
    width:90px;
    height:25px;
}

.btn_proceed_topay_l {
    background:url('/media/images/proceedtopay-165x35.png') no-repeat;
    width:165px;
    height:35px;
}

.btn_buynow {
    background:url('/media/images/buynow-90x25.png') no-repeat;
    width:90px;
    height:25px;
}

.btn_buynow_l {
    background:url('/media/images/buynow-165x35.png') no-repeat;
    width:165px;
    height:35px;
}

.btn_confirm {
    background:url('/media/images/confirmnow-90x25.png') no-repeat;
    width:90px;
    height:25px;
}

.btn_confirm_l {
    background:url('/media/images/confirmnow-165x35.png') no-repeat;
    width:165px;
    height:35px;
}

.btn_bookorder {
    background:url('/media/images/bookorder-90x25.png') no-repeat;
    width:90px;
    height:25px;
}

.btn_bookorder_l {
    background:url('/media/images/bookorder-165x35.png') no-repeat;
    width:165px;
    height:35px;
}

.btn_save {
    background:url('/media/images/save-60x25.png') no-repeat;
    width:60px;
    height:25px;
}
