#cart th, #cart td {
    vertical-align: top;
}

#cart th {
    background-color: #fcfccb;
    border-bottom: 1px dotted #999;
}

.cart_left {
    width: 700px;
    margin-right: 20px;
    float: left;
}

.cart_right {
    padding-top: 70px;
    width: 240px;
    float: right;
}

.cart_summary {
    border: 1px solid #FFCE00;
}

div.cart_summary td, div.cart_summary th, div.cart_summary caption { padding: 0px 10px; }
div.cart_summary input { margin-left: 30px; }

#cart input[type="text"] {
    margin: 0; 
    padding: 0 5px 0 5px;
    width: 15px;
    text-align: center;
}

a.action { cursor:pointer; text-decoration: none; color: blue; }
a.action:hover { text-decoration: underline; }
.linkButton {
    color:blue;
    font-size:11px;
    border:0px;
    padding:0px;
    background-color:#fff;
}
.linkButton:hover {
    color:#E47911;
    cursor:pointer;
}
