.input_l {
    width: 320px;
}
#delivery_table input[type="text"] {
    padding: 3px;
    margin: 0;
}
#delivery_table textarea {
    padding: 3px;
    margin: 0;
    width: 320px;
    height: 60px;
}

#delivery_table textarea.texta_m {
    width: 300px;
    height: 50px;
}

.input_m {
    width: 152px;
}

.address {
    margin: 10px 0;
    background-color: #f4f4f4;
    border: 1px solid #ccc; 
}

#delivery_table div.first { margin-top: 0; }

.daddress {}
.dname {font-weight: bold;}
.dcity{}
.dpincode{}
.dstate{}
.dcountry{}
.dphone{}

#delivery_table div.selected_address { background-color: #fcfccb; }

#delivery_table div.address input[type="text"] { margin: 4px 0; }
#delivery_table div.address textarea { margin: 2px 0; }

div.address address {
    font-style: normal;
    padding-left: 16px;
    margin: 0;
}

#delivery_table div.short_notes textarea.texta_m {
    width: 250px;
    height: 80px;
    margin: 0;
}
