ul#menu {
    color: #000;
    margin: 0;
}


ul#menu li {
    background: #FCCE00;
    display: inline;
    margin: 0 3px 0px 3px;
    padding: 8px 10px;
    position: relative;
    border-top: 1px solid #FCCE00;
    border-left: 1px solid #FCCE00;
    border-right: 1px solid #FCCE00;
    cursor:pointer;
    z-index: 25;
}

ul#menu h2, ul#menu h3 {
    font-size: 100%;
    font-weight: normal;
    display: inline;
}


ul#menu li h2 a {
    color: #000;
    text-decoration: none;
}

ul#menu li h2 a:hover {
    text-decoration: none;
}

ul#menu li.mega h2 a:hover {
    text-decoration: none;
}

ul#menu div {
    display: none;
    background: #fff;
}

ul#menu li.mega div {
    padding-top: 10px;
    border-left: 1px solid #FCCE00;
    border-right: 1px solid #FCCE00;
    border-bottom: 1px solid #FCCE00;
    width: 480px;
    position: absolute;
}

ul#menu li.rtl div {
    top: 30px;
    left: -1px;
    background: #fff url('/media/images/orange_ltr.png') no-repeat 100px 0px;
}

ul#menu li.ltr div {
    top: 30px;
    right: -1px;
    background: #fff url('/media/images/orange_rtl.png') no-repeat;
}

ul#menu li.hovering {
    background-color: #fff;
    box-shadow: 0px 5px 5px #666;
    -moz-box-shadow: 0px 5px 5px #666;
    -webkit-box-shadow: 0px 5px 5px #666;

}
ul#menu li.hovering div {
    display: block;
}

ul#menu li.mega div a {
    padding: 0;
    background-image: none;
}

ul#menu li div a.more {
    color: #390;
    font-weight: bold;
}


ul#menu div h3 {
    color: #f70;
    font-weight: bold;
    font-size: 1.1em;
}
ul#menu div p {
    margin: 0 0 0.8em 0;
    padding: 0;
}

ul#menu td.submenu_heading {
    font-weight: bold;
}

ul#menu td { padding: 1px 10px; }
ul#menu li.mega td.border {
    border-right: 1px solid #fcce00;
}

ul#menu li.mega tr td {
    width: 100px;
}

ul#menu li.mega tr.border td hr {
    border: none;
    border-top: 1px dotted #ccc;
    height:0px;
    color: #ccc;
    margin: 0;
    background-color: #fff;
}
