{% extends 'web/ppd_base.html' %}
{% load ppd_tags %}

{% block content %}
<style>
.tbl_price{border-collapse:collapse;}
.tbl_price th,.tbl_price td{border:1px solid #ccc; verticle-align:top;}
.tbl_price th{background-color:#f3f3f3; text-align:center;}
.tbl_price td{text-align:center;}
</style>


<div class="padding_top10">
{%comment%}
<div class="breadcrumb"><a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; <a href="#">Breadcrumb</a>&nbsp;&raquo;&nbsp; Breadcrumb</div>
{%endcomment%}
<div class="content_head">
  <div class="header rc5">
    <h1>{{request.client.client.name|title}} - Fulfillment View Interface</h1>
  </div>
  <div class="clear bordergray"></div>
</div>
  <div class="clear"> {% if errors %}
	<div class="orders_msg">
	  <div class="error"> 
	  {% for error in errors %}
	  	{% for err in error %}
			{{err}}<br/>
		{% endfor %} 
	  {% endfor %} 	
	  </div>
	</div>
	{% endif %} 
  </div>
  
</div>

<div class="mart20"> Please upload file in Excel (.xls) format with the following columns and headers. </div>
<div class="clear mart20">
  <div class="box-shadow pad20">
    <center>
      <table class="tbl_excel">
        <tr>
          <th style="padding:0px !important;"><img src="/media/rms/images/excel.gif" width="25" height="19"/></th>
          <th>DC CODE</th>
          <th style="background-color:#f4ca78 !important; background-image:none !important; border:1px solid #f29536 !important">ZIP GROUP</th>
          <th>LSP CODE</th>
          <th>TRANSPORT</th>
          <th>TRANSIT TIME</th>
        </tr>
        <tr>
          <td style="background-color:#e4ecf7; text-align:center">1</td>
          <td class="ca">8780</td>
          <td>100</td>
          <td>300413</td>
          <td>Air</td>
          <td>3</td>
        </tr>
        <tr>
          <td style="background-color:#f4ca78; border:1px solid #f29536; text-align:center">2</td>
          <td>8780</td>
          <td>108</td>
          <td>300413</td>
          <td>Air</td>
          <td>21</td>
        </tr>
        <tr>
          <td style="background-color:#e4ecf7; text-align:center">3</td>
          <td>8780</td>
          <td>105</td>
          <td>300413</td>
          <td>Air</td>
          <td>5</td>
        </tr>
      </table>
    </center>
  </div>
</div>
<div class="mart20">
  	<form method="post" enctype="multipart/form-data">
    {% if flag == 'upload_errors'%} 
		<div class="clear">
			<div class="orders_msg">
			  <div class="error">
				{{title_table}} could not be uploaded succcessfully. Refer the errors as mentioned above.<br/>
			  </div>
			</div>
		</div>
    {% else %}
        {% if flag == 'updated' %}
            <h2 class="f18">{{title_table}} has been updated successfully!</h2>
        {% else %}
            {% if flag == 'new' %}
            Choose the appropriate file for upload.<br />
			<input type="file" id="id_status_file" name="status_file">
			<div class="mart5">
			  <input type="submit" style="padding: 2px 6px;" class="uiButton" id="uplaod" name="upload" value="Upload">
			</div>
            {% endif %}
        {% endif %}
    {% endif %}
  </form>
  </div>
</div>  
{% endblock %}
{% block script_footer %}
    <script type="text/javascript">
        $("#back_button").click(function(){
            history.go(-1);
            return true;
        })
    </script>
{% endblock %}

