
/* Common Style */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
body {
    background-color:#fafafa;;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

header, nav, article, footer, address {display:block;}

fieldset, img {border: 0 none;}
ol, ul {list-style: none outside none;}
:focus {outline: 0 none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
a {color: #000000;text-decoration: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

.dn{display:none !important;}
.db{display:block !important;}
.dib{display:inline-block !important;}
.di{display:inline !important;}

.fl {float: left;}
.fr {float: right;}
.fn {float:none;}

.wauto{width:auto;}
.w25{width:25%;}
.w40{width:40%;}
.w50{width:50%;}
.w75{width:75%;}
.w95{width:95%;}
.w100{width:100%;}

.fb{font-weight:bold;}
.fn{font-weight:normal;}

.fs10 {font-size: 10px;}
.fs11 {font-size: 11px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}
.fs18 {font-size: 18px;}
.fs20 {font-size: 20px;}
.fs22 {font-size: 22px;}

.tal {text-align: left;}
.tar {text-align: right;}
.tac {text-align: center;}
.taj {text-align:justify;}

.mt0{margin-top:0px !important;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.mb15{margin-bottom:15px;}
.mt15{margin-top:15px;}
.mt25{margin-top:25px;}
.mtb5{margin:5px 0px;}
.mtb15{margin:15px 0px;}
.mtb25{margin:25px 0px;}
.mb15{margin-bottom:15px;}
.mlr-15{margin:0px -15px;}
.mr10{margin-right:10px;}
.mr30{margin-right:30px;}
.mlra{margin:0px auto;}

.p10{padding:10px;}
.pt10{padding-top:10px;}

.br5{border-radius:5px !important;}

.pr{position:relative;}
.pa{position:absolute;}

.cl {clear: both !important;float: none !important;height: 0 !important;overflow: hidden;}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], .inp-text{
    border: 1px solid #999999;
    border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
    font-size: 100%;
    box-shadow:0 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow:0 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
    background: none repeat scroll 0 0 transparent;
    display: block;
    margin: 0;
    outline: 0 none !important;
    padding: 7px;
    width: 97%;
    font-size:16px;
	font-family: Helvetica, Arial, sans-serif;
}

input[type="radio"], input[type="checkbox"]{background:transparent !important;}

textarea{font-family: Helvetica, Arial, sans-serif;}
input {font-size: 100%;}
select {font-size: 100%;}

@font-face {
    font-family: "WebRupee";
    font-style: normal;
    font-weight: normal;
	src: local("WebRupee"), url("http://www.futurebazaar.com/media/css/rupee/WebRupee.V2.0.ttf") format("truetype"), url("http://www.futurebazaar.com/media/css/rupee/WebRupee.V2.0.woff") format("woff"), url("http://www.futurebazaar.com/media/css/rupee/WebRupee.V2.0.svg") format("svg");
}
.WebRupee{font-family: 'WebRupee';}
.td-lt{text-decoration: line-through;}

.page{
	color:#333333;
	text-shadow: 0px 1px 0px #fff;
	background-color: #ffffff;
}
/* Header, Footer & Content ----------------*/

/* TOp Header ------------------------*/
.top-header{ position:relative; background-color:#fafafa;}
.top-header-can{border-bottom:#00529C 3px solid; padding:5px 15px; background-color:#fafafa;position:relative; z-index: 3; min-height:23px;}
.top-header h1{display:inline-block;}
.top-header .thtab{position:absolute; right:15px; top:5px;}



/*.top-header .thtab a{-webkit-transition: all 0.3s ease-in-out; background: url("../images/icons-18-black.png") no-repeat scroll 0 0 transparent;height: 29px;width: 29px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; -o-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px; display:inline-block; text-indent:-9889px;}*/
.top-header .thtab a{-webkit-transition: all 0.3s ease-in-out; background: url("../images/menu-icons-black.png") no-repeat scroll 0 0 transparent;height: 29px;width: 29px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; -o-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px; display:inline-block; text-indent:-9889px;}



.top-header .thtab a.act{background-color:#00529C; background-image:url("../images/menu-icons-white.png");}

.top-header .thtab a.searchtab{background-position: 8px  7px;}
.top-header .thtab a.carttab{background-position: -36px 7px;}
.top-header .thtab a.actab{background-position: -73px 7px;}

.top-header .thtab a.searchtab{background-position: 8px  7px;}
.top-header .thtab a.carttab{background-position: -36px 7px;}
.top-header .thtab a.actab{background-position: -73px 7px;}


header, footer {width:auto; clear:both;position: relative;}

.header{}
.header-title{color:#00529C; font-weight: bold;min-height: 17px; text-align: center; font-size: 16px; display: block; margin: 8px 20px 0px 20px;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; }

.content{padding: 15px;border-bottom: 1px solid #E9E9E9;}

.footer{padding:0px 15px 5px 15px; font-size:12px; color:#666666; border-top:#ccc 1px solid; line-height:10px; overflow:hidden; background-color:#fafafa;}
.footer a{text-decoration:none; color:#1833CC !important;}
.footer p{margin:8px 0px;}


/* Common Style ---------------*/
.bbs {border: 1px solid #FFFFFF; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);}
.co{color: #DB5200;}
.cg{color:#008000;}
.cb{color:#017FD6;}
.c000{color:#000;}

.mw-80{min-width:80px;display: inline-block;}
.tex-ell {overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}

.error{background-color: #ff0000; text-shadow:0px 0px 1px #ff0000;}
.success{background-color: #008000; text-shadow:0px 0px 1px #008000;}
.note{background-color: #FBB117; text-shadow:0px 0px 1px #FBB117;}

.error, .success, .note{padding:10px; margin:15px -15px; color:#ffffff;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) inset;
background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, 0.1)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, 0.1)), color-stop(.75, rgba(255, 255, 255, 0.1)),
color-stop(.75, transparent),to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
-webkit-background-size: 20px 20px;
-moz-background-size: 20px 20px;
background-size: 20px 20px; /* Controls the size of the stripes */
} 

.tbg{background:transparent !important;}

/* Home Page*/
.btb{border-top:#00529C 3px solid;}

.search-box{position:relative; padding:0px 15px 0px 28px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;border-radius: 20px;
    background-color: #fafafa;
    border: 1px solid #B3B3B3;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: none;
}
.search-box:after{
    background: url("../images/icons-18-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    background-position: -612px 50%;
    border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
    content: "";
    height: 18px;
    left: 7px;
    margin-top: -9px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    width: 18px;
}
.search-box input{background:none; border:none; box-shadow:none; border-radius:0px; -moz-border-radius:0px;	-webkit-border-radius:0px; -o-border-radius:0px; padding:7px 0px 7px 0px; width:100%;}
.search-box-act{background-color: #ffffff;}
.clear-search-btn{
	background:rgba(0,0,0, 0.4) url("../images/icons-18-white.png") no-repeat scroll -72px 0px;
	position: absolute;
	right:7px;
	border-radius: 50% 50% 50% 50%;
	height: 18px;
	margin-top: -9px;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	width: 18px;
	cursor: pointer;
}


/* List view ----------------------------*/
.list-inset{border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);}
.list-inset li{
    border: 1px solid #ccc;
	border-bottom: 0px none;
	background: #eee;
	font-weight: bold;
	font-size:16px;
	text-align:left;
	color: #444;
	position:relative;
	text-shadow: 0px 1px 1px #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f5f5f5 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* IE10 */
	background-image:      -o-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fdfdfd, #f5f5f5 );
}
.list-inset li:first-of-type{border-radius:10px 10px 0px 0px;-moz-border-radius:10px 10px 0px 0px; -webkit-border-radius:10px 10px 0px 0px; -o-border-radius:10px 10px 0px 0px;}
.list-inset li:last-of-type{border-radius:0px 0px 10px 10px; -moz-border-radius:0px 0px 10px 10px; -webkit-border-radius:0px 0px 10px 10px;	-o-border-radius:0px 0px 10px 10px; border-bottom: 1px solid #ccc;}

.list-inset li a{padding:12px 35px 12px 15px; display:block; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color:#333;}
.list-inset .heading{padding:12px 35px 12px 15px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;
	text-shadow: 0px 1px 1px #999;
	background: 			#5e87b0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#81a8ce /*{b-bar-background-start}*/), to(#5e87b0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/);
}

.list-inset li:active {
	text-shadow: 0px 1px 1px #999;
    background: 			#5e87b0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#81a8ce /*{b-bar-background-start}*/), to(#5e87b0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #81a8ce /*{b-bar-background-start}*/, #5e87b0 /*{b-bar-background-end}*/);
}
.list-inset li a:active {color:#fff;text-shadow: 0 -1px 1px #254F7A;}

/* List with Images ------*/

.list-img{border-radius:10px;  -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;  box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);}
.list-img li{
	display:block;
    border: 1px solid #ccc;
	border-bottom: 0px none;
	background: #eee;
	text-align:left;
	color: #444;
	position:relative;
	text-shadow: 0px 1px 1px #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f5f5f5 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* IE10 */
	background-image:      -o-linear-gradient(top, #fdfdfd, #f5f5f5 ); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fdfdfd, #f5f5f5 );
}
.list-img li div{vertical-align:top;}
.list-img li a{padding:12px 35px 12px 15px; display:block; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color:#333;}
.list-img-heading{display: block;font-size: 14px;font-weight: bold; margin:0px 0px 5px 0px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}

.list-img p{line-height:20px;}
.list-img .dib > img {margin-right: 10px;max-height: 80px;max-width: 80px;}


/*  Icons --------------*/
.icon-bg{background: url("../images/icons-18-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.4);border-radius:50%;  -moz-border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%;}
.icon{right: 10px;margin-top: -9px; position: absolute; top: 50%;height: 18px;width: 18px;}

/* icon Buttons*/
.icon-left{left: 10px;margin-top: -9px; position: absolute; top: 50%;height: 18px;width: 18px;}
.icon-right{right: 10px;margin-top: -9px; position: absolute; top: 50%;height: 18px;width: 18px;}
.arrow-left{background-position: -144px 50%;}
.arrow-right{background-position: -108px 50%;}
.pluse-icon{background-position: 0px 50%;}

.btn-icon-left, .btn-icon-right{
	border: 1px solid #ccc;
	border-radius:10px;
	-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;
	background: #eee;
	font-weight: bold;
	font-size:14px;
	text-align:left;
	color: #444;
	position:relative;
	text-shadow: 0px 1px 1px #f6f6f6;
	font-family: Helvetica, Arial, sans-serif;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fdfdfd, #eee ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fdfdfd, #eee ); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fdfdfd, #eee ); /* IE10 */
	background-image:      -o-linear-gradient(top, #fdfdfd, #eee ); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fdfdfd, #eee );
}
.btn-icon-left a, .btn-icon-right a{ display:block; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color:#333;}
.btn-icon-left a{padding:7px 15px 7px 35px;}
.btn-icon-right a{padding:7px 35px 7px 15px;}

.btn-icon-right-pad{padding:6px 35px 6px 10px !important;}
/* Tab ------------*/
.tab{display:block}
.tab > a:first-of-type{border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; -webkit-border-radius:5px 0px 0px 5px; -o-border-radius:5px 0px 0px 5px;}
.tab > a:last-of-type{border-radius:0px 5px 5px 0px; -moz-border-radius:0px 5px 5px 0px; -webkit-border-radius:0px 5px 5px 0px; -o-border-radius:0px 5px 5px 0px; border-width:1px !important;}
.tab a{
	display:inline-block; margin-right:-5px; border-width:1px 0px 1px 1px; border-color:#bbb; border-style:solid;
	display:inline-block; padding:10px;
	background: #f0f0f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ddd)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ddd); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #f9f9f9, #ddd); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #f9f9f9, #ddd); /* IE10 */
	background-image:      -o-linear-gradient(top, #f9f9f9, #ddd); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #f9f9f9, #ddd);
}
.tab a.act{
	display:inline-block; margin-right:-5px; border-width:1px 0px 1px 1px; border-color:#bbb; border-style:solid;
	display:inline-block; padding:10px;
	background: #f0f0f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#f9f9f9)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ddd, #f9f9f9); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #ddd, #f9f9f9); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #ddd, #f9f9f9); /* IE10 */
	background-image:      -o-linear-gradient(top, #ddd, #f9f9f9); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #ddd, #f9f9f9);
}


/* Button ---------------------*/
.btn{display:inline-block; font-weight:bold; font-size:14px; border-radius: 5px;-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; position:relative; border:#db7a09 1px solid;
color:#fff !important; text-decoration:none;padding:5px 10px;text-shadow: 0 1px 0 #999999;text-align: center;font-family: Helvetica, Arial, sans-serif;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FBC530), to(#f9a825)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #FBC530, #f9a825); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(top, #FBC530, #f9a825); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #FBC530, #f9a825); /* IE10 */
background-image:      -o-linear-gradient(top, #FBC530, #f9a825); /* Opera 11.10+ */
background-image:         linear-gradient(top, #FBC530, #f9a825);
}

.btn-s{padding:0px 5px;font-size:12px;}
.btn-m{padding:5px 10px;font-size:14px;}
.btn-l{padding:10px 15px;font-size:16px;}

.btn-gr{
 border:#ccc 1px solid;
font-weight: bold;
text-align: center;
color:#444 !important;
text-shadow: 0 1px 1px #f6f6f6;
background:#eee;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #fdfdfd, #eee); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(top, #fdfdfd, #eee); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #fdfdfd, #eee); /* IE10 */
background-image:      -o-linear-gradient(top, #fdfdfd, #eee); /* Opera 11.10+ */
background-image:         linear-gradient(top, #fdfdfd, #eee);
}
.btn-blue{
border:#01284B 1px solid;
font-weight: bold;
text-align: center;
color:#fff !important;
text-shadow: 0 1px 1px #00529C;
background:#eee;
background-image: -webkit-gradient(linear, left top, left bottom, from(#6492BA), to(#00529C)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #6492BA, #00529C); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(top, #6492BA, #00529C); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #6492BA, #00529C); /* IE10 */
background-image:      -o-linear-gradient(top, #6492BA, #00529C); /* Opera 11.10+ */
background-image:         linear-gradient(top, #6492BA, #00529C);
}
.btn-call{
color: black;
font-size: 14px;
border: 1px solid white;
padding: 5px 5px 5px 5px;
text-shadow: 0 1px 0px #fff;
-webkit-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: #999 0px 1px 1px,#CCC 0px -1px 1px;
box-shadow: #999 0px 1px 1px,#CCC 0px -1px 1px;
line-height: 17px;
text-decoration: none;
font-weight: bold;
display: inline-block;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#EEE)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #F9F9F9, #EEE); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(top, #F9F9F9, #EEE); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #F9F9F9, #EEE); /* IE10 */
background-image:      -o-linear-gradient(top, #F9F9F9, #EEE); /* Opera 11.10+ */
background-image:         linear-gradient(top, #F9F9F9, #EEE);
}
.btn-right-icon{padding-right:35px;}

/* Back Button ----------*/
.btn-back{
	margin-left:10px;
	background:#000;
	color:#fff;
	text-shadow:0px 0px 0px #000;
	padding:3px 8px;
	border-radius:3px;
	-moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
	position:relative;
	display:inline-block;
	height:17px;
}
.btn-back:before{
	content:"";
	width:19px;
	height:19px;
	border-radius:5px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;
	position:absolute;
	left:-7px;
	top:2px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	-o-transform: rotate(-45deg); /* Opera */
	-moz-transform: rotate(-45deg); /* Firefox */
	background: -moz-linear-gradient(-45deg,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(51%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}



/* Group Button*/
.group-btn{}
.gbtn{display:inline-block; font-weight:bold; font-size:14px; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; position:relative; text-decoration:none;
border-width:1px 0px 1px 1px; border-color:#ccc; border-style:solid;
margin:0px -5px 0px 0px;
padding:5px 10px;
background:#eee;
font-weight: bold;
color:#444 !important;
text-shadow: 0 1px 1px #f6f6f6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(top, #fdfdfd, #eee); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(top, #fdfdfd, #eee); /* FF3.6 */
background-image:     -ms-linear-gradient(top, #fdfdfd, #eee); /* IE10 */
background-image:      -o-linear-gradient(top, #fdfdfd, #eee); /* Opera 11.10+ */
background-image:         linear-gradient(top, #fdfdfd, #eee);
}


.group-btn .gbtn:first-of-type{border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; -webkit-border-radius:5px 0px 0px 5px; -o-border-radius:5px 0px 0px 5px;}
.group-btn .gbtn:last-of-type{border-radius:0px 5px 5px 0px; -moz-border-radius:0px 5px 5px 0px; -webkit-border-radius:0px 5px 5px 0px; -o-border-radius:0px 5px 5px 0px; border-width:1px;}

/* Sign in -------------------*/
.in-sign-top, .in-sign-bot, .in-sign-cen{margin:0px; outline:0px;}
.in-sign-top{border-radius:10px 10px 0px 0px !important; -moz-border-radius:10px 10px 0px 0px !important; -webkit-border-radius:10px 10px 0px 0px !important; -o-border-radius:10px 10px 0px 0px !important; box-shadow:0 1px 2px 0px rgba(0, 0, 0, 0.2) inset; border-bottom:0px none !important;}
.in-sign-bot{border-radius:0px 0px 10px 10px !important; -moz-border-radius:0px 0px 10px 10px !important; -webkit-border-radius:0px 0px 10px 10px !important; -o-border-radius:0px 0px 10px 10px !important; box-shadow:0 -1px 2px 0px rgba(0, 0, 0, 0.2) inset !important; }
.in-sign-cen{border-radius:0px 0px 0px 0px !important; -moz-border-radius:0px 0px 0px 0px !important; -webkit-border-radius:0px 0px 0px 0px !important; -o-border-radius:0px 0px 0px 0px !important;  box-shadow:0px 0px 1px -1px rgba(0, 0, 0, 0.2) inset, 0px 0px 1px 0px rgba(0, 0, 0, 0.2) inset !important; border-bottom:0px none !important;}

/* Product Info */
.prod-info{font-size:14px;}
.prod-info .block-a, .prod-info .block-b{display:inline-block; vertical-align:top;}
.prod-info .block-a{width:120px; margin:2px;}
.prod-info .block-b{width:auto;}
.prod-info .block-b p{margin-bottom: 10px;}

.call-us-box{background-color:#f5f5f5; padding:0px 15px; margin:2px -15px 0px -15px; box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4); position:relative;
border-bottom:#fff 1px solid;border-top:#fff 1px solid; text-align:center;
}
.call-us-box:before{content:""; background-color:#f5f5f5; width:10px; height:10px; 
position:absolute;left:175px; top:-6px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg);
box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.1);
border-bottom:#fff 1px solid;border-left:#fff 1px solid;
}
.call-us-box p{margin:5px 0px;}
/*  -------------------/>*/

/* FB Form Style*/
.fb-form{border:#ffffff 1px solid; border-radius:5px;  -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5); font-size:16px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #f9f9f9 0%, #f9f9f9 40%, #ffffff 40%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(40%,#f9f9f9), color-stop(40%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* IE10+ */
background: linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* W3C */
}
.fb-form ul, .fb-formli{margin:0px; padding:0px; list-style:none;}
.fb-form li{border-bottom:1px solid #DDD; border-top:1px solid #FFF;}
.fb-form li:last-of-type{border-bottom:0px none;}
.fb-form li:first-of-type{border-top:0px none;}

.fb-form li .dlabel{display:inline-block; width:40%; vertical-align:top; background-color:#f9f9f9; height:100%;}
.fb-form li .fbf-dcant{display:inline-block; width:58%; background-color:#fff;}
.fb-form li .dlabel > span,.fb-form li .fbf-dcant > span{display:block; vertical-align:top; padding:10px;}

.fb-form li input, .fb-form li textarea{background: none repeat scroll 0 0 #fff; background-image: none;box-shadow:0px 0px 0px; border: 0px none;border-radius:0px;  -moz-border-radius:0px; -webkit-border-radius:0px; -o-border-radius:0px; display: block; font-size: 16px; padding: 5px;margin:0px;outline:0px;min-height:30px;width: 94%;}
.fb-form-hd{margin:5px 10px; font-size:16px; font-weight:bold;}


.fb-form-ro{
background: #fdfdfd; /* Old browsers */
background: -moz-linear-gradient(left, #f9f9f9 0%, #f9f9f9 40%, #fdfdfd 40%, #fdfdfd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(40%,#fdfdfd), color-stop(40%,#fdfdfd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#fdfdfd 40%,#fdfdfd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#fdfdfd 40%,#fdfdfd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#fdfdfd 40%,#fdfdfd 100%); /* IE10+ */
background: linear-gradient(left, #f9f9f9 0%,#f9f9f9 40%,#fdfdfd 40%,#fdfdfd 100%); /* W3C */
}
.fb-form-ro .fbf-dcant{background-color:transparent !important;}

.fb-form-s{font-size:14px;}
.fb-form-s li .dlabel > span, .fb-form-s li .fbf-dcant > span{padding: 5px 10px;}

.fb-form-select{border:#017FD6 3px solid;box-shadow:0px 0px 10px rgba(20, 20, 20, 0.4) inset;}
.fb-form-select .dlabel{background-color:transparent !important;}




/* My Cart  ------*/
.mycart{font-size:12px;}
.cen-box-shadow{ box-shadow:0px 20px 10px -20px rgba(0,0,0, 0.5); border-bottom-left-radius:20%; border-bottom-right-radius:20%;}
.cart-block{margin-bottom:20px; border:#ffffff 1px solid; border-radius:5px;  -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5); background-color:#f9f9f9; position:relative; }

.mycart .block-a, .mycart .block-b{display:inline-block; vertical-align:top;}
.mycart .block-a{width:110px; margin:10px;}
.mycart .block-b{width:auto;}

.bbs{border:#ffffff 1px solid;box-shadow:0px 0px 2px rgba(0, 0, 0, 0.2);}

.mycart h3{margin:0px;}
.mycart p{margin:10px 0px;}

.cart-block h3{padding:5px 10px; border-bottom:#e0e0e0 1px solid; font-weight:normal; color:#000;}
.cart-block .ui-grid-a{border-top:#ffffff 1px solid; padding:10px;}

.remove-btn{position:absolute; right:-10px; top:-10px;
font-size: 16px; font-weight: normal !important; color:#ffffff !important; text-decoration: none;text-indent: -9999px;
padding:0px; height: 20px; width: 20px;
background: #b80000 url("../images/icons-18-white.png") no-repeat scroll -72px 0px;
border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%;
border: 1px solid rgba(0,0,0,0.3); box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
z-index: 1;
}
.mycart .ui-icon {right:5px !important; margin-top:-10px !important;}
.mycart .ui-btn-inner{padding-right:35px !important;}

/* My Account ------------ */
.view-pro-tot li .label{display:inline-block; width:40%; vertical-align:top; height:100%;}
.view-pro-tot li .dcant{display:inline-block; width:58%;}
.view-pro-tot li .label > span, .view-pro-tot li .dcant > span{display:block; vertical-align:top; padding:5px 10px;}

/* Payment Page --*/ 
.pay-same-shipp{background-color:#999;border-radius: 5px 5px 0px 0px;  -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; -o-border-radius:5px 5px 0px 0px; color:#fff;  text-shadow: 0 -1px 1px #aaa;}
.pay-same-shipp input{width:40px !important; display: inline-block !important; min-height: 0px !important; padding: 0px !important; }

.pay-notice{border:#fff 1px solid; padding:5px; box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5); background-color:#eee; font-size:12px;}
.pay-notice li{list-style:circle; margin-left:17px; list-style-position:outside; padding-bottom:5px;}

/* Pagination ---------------------*/

.pagination a{
	border:#bbb 1px solid;
	border-radius:5px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;
	display:inline-block;
	padding:3px 7px;
	background: #f0f0f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ddd)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ddd); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #f9f9f9, #ddd); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #f9f9f9, #ddd); /* IE10 */
	background-image:      -o-linear-gradient(top, #f9f9f9, #ddd); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #f9f9f9, #ddd);
}
.pagination div{
	border:#ccc 1px solid;
	border-radius:5px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;
	padding:3px 7px;
	display:inline-block;
    color:#666;
    background: #f0f0f0; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#f9f9f9)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ddd, #f9f9f9); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #ddd, #f9f9f9); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #ddd, #f9f9f9); /* IE10 */
	background-image:      -o-linear-gradient(top, #ddd, #f9f9f9); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #ddd, #f9f9f9);
	}
	

.ccrb{border: 1px solid #ffffff;border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; padding: 2px;}
.ccrb-act{border: 1px solid #00529C !important;}
	

/* Shipping Info*/
.ship-new-add{background-color:#999;border-radius: 5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; -o-border-radius:5px 5px 0px 0px; color:#fff;  text-shadow: 0 -1px 1px #aaa;}
.ship-new-add input{width:30px !important; display: inline-block !important; min-height: 0px !important; padding: 0px !important; background-color:transparent !important; }

.ship-address{border:#ffffff 1px solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5); font-size:16px;
background: #fafafa; padding:10px; position:relative;}
.sa-title{ padding:10px; font-weight:bold;}
.sa-btn-radio{position:absolute; background:transparent; opacity:0.0; visibility:hidden;}

.ship-address-select{ border: 3px solid #017FD6 !important; box-shadow: 0 0 10px rgba(20, 20, 20, 0.4) inset !important; padding: 8px !important;}

.sw80 select{width:80px;}
.sw150 select{width:150px;}
.sw180 select{width:180px;}
.sw160 select{width:160px;}
.sw-auto select{width:auto !important;}
.textarea100 textarea{height:100px;}

/* Confirmed page -------------*/
.conf-title{
	color: #666666;
    font-size: 15px;
    letter-spacing: 4px;
    margin: 0 0 5px;
    text-align: center;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.7), 0 2px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.line{height:0px; border-top:#ddd 1px solid; border-bottom:#fff 1px solid; line-height:0px; text-indent:-9999px;}
.conf-mass-can {
    border-radius:3px;
	-moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #FFFFFF, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #FFFFFF, 0 7px 0 rgba(0, 0, 0, 0.2);
	position:relative;
    padding: 15px;
    z-index: 0;
	background: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #FFFFFF, #EEEEEE); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #FFFFFF, #EEEEEE); /* IE10 */
	background-image:      -o-linear-gradient(top, #FFFFFF, #EEEEEE); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #FFFFFF, #EEEEEE);
}
.conf-mass-can:before {
    border: 1px dashed #CCCCCC;
    bottom: 5px;
    box-shadow: 0 0 0 1px #FFFFFF;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -1;
}


.infobox{ 
   border:#ffffff 1px solid;
   border-radius:5px;
   -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;
   box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5);
   background-color:#f9f9f9;
   position:relative;
}
.infobox h3{padding:5px; border-bottom:#DDDDDD 1px solid; font-weight:bold;}
.infobox > div{padding:5px;}
.btw{border-top:#fff 1px solid;}
.wbox{
	border:#ffffff 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	box-shadow:0px 0px 2px rgba(0, 0, 0, 0.5);
	background-color:#f9f9f9;
	position:relative;
	padding:10px;
}

/* product Details*/
.pro-details{font-size:12px;}
.pro-details h3{font-weight:bold; font-size:14px;}

/* Loader -----------------*/
ul#progress {
	list-style:none;
	width:125px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:50px;
}

ul#progress li { /* Style your list */
	float:left;
	position:relative;
	width:15px;
	height:15px;
	border:1px solid #fff;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-o-border-radius:50px;
	margin-left:10px;
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	background:rgba(0,0,0, 0.4);
	box-shadow:0px 0px 3px rgba(0,0,0, 0.5) inset;
}

ul#progress li:first-child { margin-left:0; } /* Remove the margin first li element */

.ball { /* Style your ball and set the animation */
	background-color:#2187e7; 
	background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff); 

	width:15px;
	height:15px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-o-border-radius:50px;
	-moz-transform:scale(0);
	-webkit-transform:scale(0);
	
	-moz-animation:loading 3s linear infinite;
	-webkit-animation:loading 3s linear infinite;
}

.pulse { /* Style your second ball to create the amazing effects */
	width:15px;
	height:15px;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	-o-border-radius:30px;
	border:1px solid #00c6ff;
	box-shadow: 0 0 5px #00c6ff;
	position:absolute;
	top:-1px;
	left:-1px;
	-moz-transform:scale(0);
	-webkit-transform:scale(0);
	
	-webkit-animation:pulse 3s linear infinite;
	-moz-animation:pulse 3s linear infinite;
}

/* Control Layers */
#layer1 { -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }
#layer2 { -moz-animation-delay:1s; -webkit-animation-delay:1s; }
#layer3 { -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#layer4 { -moz-animation-delay:2s; -webkit-animation-delay:2s; }
#layer5 { -moz-animation-delay:2.5s; -webkit-animation-delay:2.5s; }

#layer7 { -moz-animation-delay:0.5s; -webkit-animation-delay:1.5s; }
#layer8 { -moz-animation-delay:1s; -webkit-animation-delay:2s; }
#layer9 { -moz-animation-delay:1.5s; -webkit-animation-delay:2.5s; }
#layer10 { -moz-animation-delay:2s; -webkit-animation-delay:3s; }
#layer11 { -moz-animation-delay:2.5s; -webkit-animation-delay:3.5s; }

@-moz-keyframes loading {
    0%{-moz-transform:scale(0,0);}
    30%{-moz-transform:scale(1,1);}
	35%{-moz-transform:scale(1,1);}
	36%{-moz-transform:scale(0,0);}
	100%{-moz-transform:scale(0,0);}	
}

@-webkit-keyframes loading {
    0%{-webkit-transform:scale(0,0);}
    30%{-webkit-transform:scale(1,1);}
	35%{-webkit-transform:scale(1,1);}
	36%{-webkit-transform:scale(0,0);}
	100%{-webkit-transform:scale(0,0);}	
}

@-moz-keyframes pulse {
    0%   {-moz-transform: scale(0);opacity: 0;}
	30%  {-moz-transform: scale(1);opacity: 0.5;}
    40%  {-moz-transform: scale(1.75);opacity: 0;}
    42% {-moz-transform: scale(1.75);opacity: 0;}
	100% {-moz-transform: scale(0);opacity: 0;}
	  
}

@-webkit-keyframes pulse {
    0%   {-webkit-transform: scale(0);opacity: 0;}
    20%  {-webkit-transform: scale(1);opacity: 0.5;}
    30%  {-webkit-transform: scale(1.75);opacity: 0;}
	32%  {-webkit-transform: scale(1.75);opacity: 0;}
    100% {-webkit-transform: scale(0);opacity: 0;}    
}
