<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%load  web_tags%}
{%load cc_tags%}
{%load compressed %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>{% block page_title %}{% page_title request %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="google-site-verification" content="JdO76y1DrPn_Y-F91jjyewqXakhINXXXW3EevIcFHoE" />
<meta name="description" content="{%block page_desc%}FutureBazaar.com: Discover great deals in Laptops, Mobiles, Computers, Electronics, Home Fashion and Clothing from India's foremost retailers.{%endblock%}"/>
<meta name="keywords" content="{%block page_tags%}Future Bazaar, Online Shopping, Store Online, Buy Books, Subscribe Magazines, Buy Computer, Mobile, Electronics, Toys, Gifts, Low Price, Purchase On Web, Cheap product, india{%endblock%}"/>
{% block extra_header %}
{% endblock %}
{% block canonical %}
{% endblock %}

{%block css%}
{% compressed_css 'all' request %}
<!--[if IE 6]>{% compressed_css 'ie6' request %}<![endif]-->
<!--[if IE 7]>{% compressed_css 'ie7' request %}<![endif]-->
<!--[if IE 8]>{% compressed_css 'ie8' request %}<![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{%endblock%}
<link rel="shortcut icon" href="{%render_favicon request%}"/>
</head>
<body>
   {%block header%}
 		 {% render_header request %}
   {%endblock%}    
  <!-- <div id="lightbox"></div>-->
        <div id="wrapper">       
              <div id="main">
                <div id="content">
                  {% block content %}
                  {% endblock %}
                 </div>
               </div>     
              <div id="lightbox"></div>
         </div> 

    {%block footer%}
        {% render_footer request %}
    {%endblock%} 
{% if not offer_fb %}
<div id="dialog" title="Sign in" class="bottomrc5"></div>
<div id="fb-root"></div>
<!--cc panel-->
{% if request|is_cc %}
    {% block left_panel%}
    <div id="userbox_outer">
        <div id="user_box" class="user_box shadow_five rc5">
            <div class="userbox_close"></div>
                {%render_left_panel request%}
            </div>
            <div class="userbox_show">&laquo;</div>
        </div>
        <div class="clear"></div>
    </div>
    {%endblock%}
{% endif %}
<!--end cc panel-->
{% endif %}
</body>
{%block js%}
    {% compressed_js 'all' request %}
{%endblock%}
{% block script_footer %}
<script type="text/javascript">
$(document).ready(function() {      
    {%if request.session.show_fbcart %}
        view_fbcart();
        {% flush_fbcart_flag request %}
    {% endif %}
});
function view_fbcart(){
    open_popup("{% cc_url request "orders/cart_popup/" %}");
    $("#header_view_cart").removeClass("active");
    $("#header_show_cart").css("display","none");
};
if( $.cookie("fbsubscribed") == "yes"){
    $("#header_subscribe").html("");
    $("#footer_subscribe").html("");
}
else{
    $("#header_subscribe").removeClass("hide");
    $("#footer_subscribe").removeClass("hide");
}
</script>

<script type="text/javascript">
$(document).ready(function(){
    function fbs_click(u, t) {
        if (u=="") { u=location.href; };
        if (t=="") { t=document.title; };
        var finalurl = "http://www.facebook.com/sharer.php?t="+encodeURIComponent(t)+"&u="+encodeURIComponent(u);
        window.open(finalurl,'sharer','toolbar=0,status=0,width=626,height=436');return false;};

    function twit_click(url, text, via) {
        if (url=="") { url=location.href; };
        if (text=="") { text="Would love to buy this!"; };
        if (via=="") { via="futurebazaar"; };
        var finalurl = "http://twitter.com/share?url="+encodeURIComponent(url)+"&text="+encodeURIComponent(text)+"&via="+encodeURIComponent(via);
        window.open(finalurl,'share','toolbar=0,status=0,width=626,height=436');return false;};
       
       
});
</script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {      
      function showDown(){     	 	 
		  $(this).find('.sub_menu').css('display','block'); 
		   $(this).find('.item').addClass('item_sel'); 
        }
      function showUp(){  
		  $(this).find('.sub_menu').css('display','none');  
		   $(this).find('.item').removeClass('item_sel'); 	
        }
		//----------------------
		
	  function show_l2(){   
	 		 $(this).find('.menu_l2').css('display','block');  
			  $(this).find('.cat_item').addClass('cat_item_hover'); 		 
        }
      function hide_l2(){       
		  $(this).find('.menu_l2').css('display','none');  
		   $(this).find('.cat_item').removeClass('cat_item_hover'); 		 
        }
    var megaConfig = {
         interval:80,
         sensitivity: 4,
         over: showDown,
         timeout: 100,
         out: showUp
    };
	
	 var megaL2 = {
         interval:0,
         sensitivity: 4,
         over: show_l2,
         timeout: 50,
         out: hide_l2
    };	
    $(".menu_ul li").hoverIntent(megaConfig);  
	$(".menu_l1_li").hoverIntent(megaL2);  
	
				$(".menu_l1").mouseenter(function(){	 
						 $('li').find('.sub_menu_cat').animate({width: '470px'},200);  	  
				})
			   $(".menu_l1").mouseleave(function(){	 
						  $('li').find('.sub_menu_cat').css('width', '228px');  	    
			   })	   
    refresh_header_cart();	   
});  
function refresh_header_cart(){	   
    $("#header_view_cart").hover(function(){	
       $(this).toggleClass("active");
       $("#header_show_cart").toggle();
    })
};
	
	$("#id_q").focus( function(){
		$(".search_dod").show();	
	})
	/*$("#id_q").blur( function(){
		$(".search_dod").hide();	
	})*/
	$('body').click( function(){
		$(".search_dod").hide();	
	})
	
	$("#id_q").click( function(){
	 return false;
	
	})
	
	
	//sign in
	 $(".signin").click(function(){	
       //$(this).toggleClass("active");
       $(".signin_more").toggle();
    })

    //qv
   // $(".item_img").hover(function(){	        
//          $(this).find(".btn_qv").toggle();
//    })
	
	$(".item_img").mouseenter(function(){	 
						 $(this).find(".btn_qv").show(); 	  
				})
			   $(".item_img").mouseleave(function(){	 
						 $(this).find(".btn_qv").hide(); 	    
			   })				   

    $(".item_img .btn_qv").hover(function(){	
         $(this).toggleClass("active");
    })
</script>
{% if not request|is_user_authenticated %}

<script type="text/javascript">
var signin_form='';
var signup_form='';
var subscribe_form='';
refresh_form_signin();		   
refresh_form_signup();	   
refresh_form_subscribe();
function refresh_form_signin(){		   
    signin_form=$(".signin_form");
    $(".signin").click(function(){		    	
        signup_form.addClass('hide');
        subscribe_form.addClass('hide');
        $(".signup").removeClass("active");
        $(".subscribe").removeClass("active");
        if(signin_form.hasClass('hide'))
        {
            signin_form.removeClass('hide',20, "easeInExpo");
            $(this).addClass("active",20, "easeInExpo");
            return false;
        } 
        else
        {
            signin_form.addClass('hide');		 
            $(this).removeClass("active");
        }
    });
    $('body').click(function(){	
        $(".signin_form").addClass('hide');
        $(".signin").removeClass("active");
    });	
    $('.signin_form').click(function(){	
        return false;
    });
    refresh_signin_submit();
}
/*---------*/
function refresh_form_signup(){		   
    signup_form=$(".signup_form");
    $(".signup").click(function(){
        signin_form.addClass('hide');			
        subscribe_form.addClass('hide');		
        $(".signin").removeClass("active");			
        $(".subscribe").removeClass("active");
        if (signup_form.hasClass('hide'))
        {
            signup_form.removeClass('hide',200, "easeInExpo");
            $(this).addClass("active",200, "easeInExpo");
            return false;
        } 
        else
        {         
            signup_form.addClass('hide');		  
            $(this).removeClass("active");
        }
    });
    $('body').click(function(){	
        $(".signup_form").addClass('hide');
        $(".signup").removeClass("active");
    });	
    $('.signup_form').click(function(){	
        return false;
    });
    refresh_signup_submit();
};
/*---------------*/
function refresh_form_subscribe(){		   
    subscribe_form=$(".subscribe_form");
    $(".subscribe").click(function(){
        signin_form.addClass('hide');
        signup_form.addClass('hide');					
        $(".signin").removeClass("active");
        $(".signup").removeClass("active");			
               
        if (subscribe_form.hasClass('hide'))
        {
            subscribe_form.removeClass('hide',200, "easeInExpo");
            $(this).addClass("active",200, "easeInExpo");
            return false;
        } 
        else
        {
            subscribe_form.addClass('hide');
            $(this).removeClass("active");
        }
    });	
    $('body').click(function(){	
        $(".subscribe_form").addClass('hide');
        $(".subscribe").removeClass("active");
    });	
    $('.subscribe_form').click(function(){	
        return false;
    });
    refresh_subscribe_submit();
};
</script>
{% endif %}
<script type="text/javascript">
function isMobilePattern(data){
    var mobilePattern = /^[0-9]{10}$/;
    return mobilePattern.test(data);
}
function isEmailPattern(data){
    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    return emailPattern.test(data);
}
</script>
<script type="text/javascript">
$(document).ready(function() {		
$('#deal_subscription').click(function(){
    var name = $('#deal_name').val();
    var mobile = $('#deal_mobile').val();
    var email = $('#deal_email').val();
    var bool = 'true';
    var errMsg = "Following errors while submit: \n";

    var mobilePattern = /^[0-9]{10}$/;
    if(!mobilePattern.test(mobile)){
        $('#deal_mobile').addClass('error');
        $('#deal_mobile').val("Enter a valid mobile no.");
        bool = 'false';
    } else {
        $('#deal_mobile').removeClass('error');
    }
    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    if(!emailPattern.test(email)){
        $('#deal_email').addClass('error');
        $('#deal_email').val("Enter a valid email.");
        bool = 'false';
    } else {
        $('#deal_email').removeClass('error');
    }
    if(bool == 'true') {
        var url = "/fb/register-deals/";
        var data = {'name':name, 'mobile':mobile, 'email':email};
        
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(msg){
                var response_text = $.parseJSON(msg);
                if(response_text.status == 'ok'){
                    $('#subscription_errors').addClass('hide');
                    $.cookie("fbsubscribed","yes")
                    $('#deal_name').val('');
                    $('#deal_mobile').val('');
                    $('#deal_email').val('');
                    $('#deal_registration').addClass('hide');
                    $('#home_subscribe').removeClass('hide');
                    $('#subscription_error').addClass('hide');
                    $('#subscription_title').html('Welcome!');
                    $('#subscription_title').addClass('ca');
                };
                if(response_text.status == 'failed'){
                    $('#subscription_error').removeClass('hide');
                    var error_msg = '<ul>';
                    for(var key in response_text.error){
                        error_msg = error_msg + '<li>' + response_text.error[key] + '</li>';
                    }
                    error_msg = error_msg +  '</ul>';
                    $('#subscription_error').html(error_msg);
                };
                return false;
            }
        });
    }else{
    };
});
});
</script>
<script type="text/javascript">
function header_user_actions(user_action){
    var form_id = "#form_" + user_action;
    var form_data = $(form_id).serialize();
    var onError = function(response){
    };
    var action = $(form_id).attr("action");
    var onSuccess = function(ajax_response){
        var response = $.parseJSON(ajax_response);
        if(user_action == 'subscribe'){
            if(response.status == 'ok'){
                //set cookie for subscribe
                $.cookie("fbsubscribed","yes");
                $("#header_subscribe").html("");
                $("#footer_subscribe").html("");
            }
            if(response.status == 'failed'){
                $('#header_subscribe_error').removeClass('hide');
                var error_msg = '<ul>';
                for(var key in response.error){
                    error_msg = error_msg + '<li>' + response.error[key] + '</li>';
                }
                error_msg = error_msg +  '</ul>';
                $('#header_subscribe_error').html(error_msg);
            };
            return false;
        }
        if(response.status == 'ok'){
            location.reload();
        }
        $("#header_"+user_action).html(response.html);
        var form_refresh = "refresh_form_"+user_action;
        window[form_refresh]();
        $("."+user_action).trigger("click");
    }
    $.ajax({
        url : action,
        data : form_data,
        success : onSuccess,
        error : onError,
        type : "POST"
    });
    return false;
}
</script>
<script src="/media/js/social.js"></script>
<webengage license="~716809d1"><script id="_webengage_script_tag" type="text/javascript">(function(){var _we = document.createElement('script');_we.type = 'text/javascript';_we.async = true;_we.src = "//widgets.webengage.com/js/widget/webengage-min-v-2.0.js";var _sNode = document.getElementById('_webengage_script_tag');_sNode.parentNode.insertBefore(_we, _sNode);})();</script></webengage>

{% endblock %}
{% if not conf.DONT_SHOW_GOOGLE_ANALYTICS %}
<script type="text/javascript">	
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6628622-16']);
        _gaq.push(['_setDomainName', '.futurebazaar.com']);
        _gaq.push(['_setAllowHash', false]);

        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);
        {% block ga_extensions %}
        {% endblock %}

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
</script>
{% endif %}
</html>
