        <div class="steal_timer toprc5">
       
          <div class="steal_timer_clk"><!-- <span class="steal_timer_msg"><strong>Hurry!</strong> Limited time left to buy...</span>-->
            <div class="steal_timer_digits">
             <span class="fb marr10" >{{hours}}<span class="steal_timer_unit"> Hr</span></span> <span class="fb marr10">{{minutes}}<span class="steal_timer_unit"> Min</span></span> <span class="fb">{{seconds}}<span class="steal_timer_unit"> Sec</span></span>
             </div>
          </div>
        </div>
