{%extends "web/base.html"%}
{%load cc_tags%}
{%load web_tags%}

{% block extra_header %}
{% if product.meta_description %}
<meta content="{{product.meta_description}}" name="Description"/>
{% endif %}
<link rel="canonical" href="http://{{request.client.domain}}{{request.path}}"/>
{% endblock %}
{% block content %}
<style>
.kg_prod_wrapper{background:url('/media/images/kg-bg.gif') repeat-x right bottom; border:1px solid #dfe0e0; padding:10px 15px;}
.kg_prod_img{border:1px solid #e7eaed; padding:5px; background:#fff; width:280px;}
.kg_prod_desc{padding:30px; width:600px;}
.kg_prod_desc ul li{background:url('/media/images/right.gif') no-repeat 0 5px; padding-left:15px;}
.btn_kg_buynow{background:url('/media/images/btn-kg-buynow.png') no-repeat 0 0; width:178px; height:37px; border:none;}
</style>
<img src="/media/images/kg-banner.gif" width="988" height="51" />
<div class="kg_prod_wrapper">
<div class="rc5 left kg_prod_img">
<img src="http://futurebazaar.scene7.com/is/image/Futurebazaar/3000000304?wid=270&hei=340&fmt=jpeg&qlt=85,0&op_sharpen=0&resMode=sharp2&op_usm=1.0," width="270" height="340" />
</div>
<div class="left kg_prod_desc">
<h1 class="f22 marb10"><a href="#">Maxx MX128i Dual Sim (GSM + GSM) Handset </a></h1>
<ul class="mart5 marb20">
<li>A handy torch for all emergencies</li>
<li>A handy torch for all emergencies</li>
<li>A handy torch for all emergencies</li>
<li>A handy torch for all emergencies</li>
<li>A handy torch for all emergencies</li>
</ul>

<div class="f18 fb marb5">
MRP <span class="WebRupee">Rs. </span>80,888
</div>
<div>
<div class="left forange fb ttu f18 padr20" style="border-right:1px solid #cfe1d2;">Khojguru Special Price<br />
<span class="f40"><span class="WebRupee">Rs. </span>88,888</span>
</div>
<div class="left padl20 ttu fb f18">
You Save<br />
<span class="f26"><span class="WebRupee">Rs. </span>88,888 (50%)</span>
</div>
<div class="clear"></div>
</div>
<div class="mart5">
<button class="btn_kg_buynow">
</button>
</div>
</div>
<div class="clear"></div>
</div>
{%endblock%} 
