{%load cc_tags%}
{%load web_tags%}
<nav class="nav">
  <div id="menu" class="menu">
    <ul class="menu_ul">
      <li class="menu_item">
        <div class="item">
        <div class="f11 fn">Deals by</div>
        <div>Category <span class="nav_da"></span></div></div>
        <div class="sub_menu sub_menu_cat">
          <div class="menu_l1">          
            <ul>           
            {% for menu_item in mega_items %}
                <li class="menu_l1_li"><a href="{% cc_url request menu_item.item.category.url %}" class="cat_item">{{menu_item.item.category.name}}</a>
                  <div class="menu_l2">
                  <div class="menu_separator"></div>
                      <ul>
                        <li class="menu_cat_title">{{menu_item.item.category.name}}</li>
                        {% for child_item in menu_item.active_cats%}                                
                            <li><a href="{% cc_url request child_item.category.url %}">{{child_item.category.name}}</a></li>
                        {% endfor %}
                        {% if menu_item.brands %}
                            <li class="menu_brands_title">Brands</li>
                            {% for brand in menu_item.brands %}                                
                                <li><a href="{% cc_url request brand.url %}">{{brand.name}}</a></li>
                            {% endfor %}
                        {% endif %}
                      </ul>
                  </div>
                </li>
            {% endfor %}            
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </li>
      <li class="menu_item">
        <div class="item">
        <div class="f11 fn">Deals by</div>
        <div>Popularity <span class="nav_da"></span></div>
        <div class="sub_menu sub_menu_disc">
          <div class="discountl1" >
            <ul>
                <li class="menu_l1_li"><a href={% cc_url request "popularity/most-viewed/" %} class="discount_item">Most Viewed</a></li>
                <li class="menu_l1_li"><a href={% cc_url request "popularity/most-bought/" %} class="discount_item">Most Bought</a></li>
                <li class="menu_l1_li"><a href={% cc_url request "popularity/recently-bought/" %} class="discount_item">Recently Bought</a></li>
                {%comment%}
                <li class="menu_l1_li"><a href={% cc_url request "shop-by-discount/?min_d=50" %} class="discount_item">Above 50%</a></li>
                <li class="menu_l1_li"><a href={% cc_url request "shop-by-discount/?min_d=25&max_d=50" %} class="discount_item">25% - 50%</a></li>
                <li class="menu_l1_li"><a href={% cc_url request "shop-by-discount/?min_d=10&max_d=25" %} class="discount_item">10% - 25%</a></li>
                <li class="menu_l1_li"><a href={% cc_url request "shop-by-discount/?min_d=0&max_d=10" %} class="discount_item">Less than 10%</a></li>
                {%endcomment%}
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </li>
      {% if ending_soon %}
      <li class="menu_item">
      <a href="{% cc_url request ending_soon.url %}" title="{{ending_soon.title}}">
        <div class="item">
        <div class="f11 fn">Deals</div>
        <div>Ending Soon</div>
        </div></a>
      </li>
      {% endif %}
    </ul>
    {%if clearance_sale %}   
    <ul class="menu_ul right">
      <li class="clearance_item">
        <a href={% cc_url request "clearance/" %}><div class="item">Clearance <span class="nav_da"></span></div></a>
        <div class="sub_menu sub_menu_clearance" style="width:416px;">
            <div class="clearancel1 left" style="border-right:1px solid #d9d9d9; width:200px">
            <ul>
                {% for item in clearance_sale.category_items %}
                  <li class="menu_l1_li"><a href="{% cc_url request item.url %}" class="clearance_cat_item">{{item.name}}</a> </li>
                {% endfor %}
            </ul>
            </div>
            <div class="left" style="overflow:hidden; margin:14px 14px 14px 0;"> 
            {% for item in clearance_sale.format_tags %}
                <a href="{%cc_url request item.url %}" title="{{item.tag.display_name}}"><img src="/media/images/{{item.tag.tag}}-small-logo.gif" /></a> 
                {% if not forloop.last%}<div class="item_separator"></div>{% endif %}
            {% endfor %}
            </div>
          <div class="clear"></div>
        </div>
      </li>
    </ul>
    {% endif %}
    <div class="clear"></div>
  </div>
</nav>
