.product_thumb {
    padding:20px 10px 10px 10px;
    text-align:center;
    height:190px;
    width:165px;
    float:left;
    border-bottom:dotted 1px #ccc;
    border-right:dotted 1px #ccc;
}

.last_down{
    border-bottom:0px;}

.last_right{
    border-right:0px;
}

#refine {
    width:190px;
    float:left;
}



.cat_path{
    color:black;
    padding:2px;
    margin:5px;}

.cat_bar_head{
    padding:10px;
    font-size:110%;
    font-weight:bold;
    background-color:#eabf00;
}


#refine ul{
    margin: 0;
    padding:5px 10px;
    list-style-type:none;
}

#refine ul li{
    padding-left:10px;
    color:black;
    margin-left: -20px;
}

.cat_path{
    color:black;
}

.sort_bar, .pagination{
    background-color:#eee;
    padding:5px;
    margin:5px 0;
}
.pagination {
    background-color:#fff;
}

.cat{
}
.cat_grid{
    padding:10px 0 10px 0;
}

div.refine_heading{
    padding: 5px;
}

.filter {
    border-top: 1px solid #fff;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    background-color: #DEDEDE; 
    padding: 5px;
}

div.filter label { font-weight: bold; }

.filter_options {
    background-color: #F4F4F4;
    padding: 5px;
    border-bottom: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
}

div.filter_options label { font-weight: normal; }

#price_filter {
    padding: 8px;
}

div.results {
    width: 760px;
    padding: 0 0 0 10px;
    float: left;
}

div.cc_results {
    padding: 0 10px 0 0;
}

.filter_options a { cursor: pointer; }

div.gmin { float: left; }
div.gmax { float: right; }
a.selected_linkrelasc {
    padding-right: 10px;
    background: url('/media/images/up.gif') no-repeat scroll 100% 50%;
}
a.selected_linkreldesc {
    padding-right: 10px;
    background: url('/media/images/down.gif') no-repeat scroll 100% 50%;
}
a.selected_linkpriceasc {
    padding-right: 10px;
    background: url('/media/images/up.gif') no-repeat scroll 100% 50%;
}
a.selected_linkpricedesc {
    padding-right: 10px;
    background: url('/media/images/down.gif') no-repeat scroll 100% 50%;
}

a.grid {
    background: url('/media/images/grid_icon.png') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

a.list {
    background: url('/media/images/list_icon.png') no-repeat;
    width: 16px;
    height: 16px;
}

a.selected_linkgrid {
    background: url('/media/images/grid_icon_2.png') no-repeat;
}

a.selected_linklist {
    background: url('/media/images/list_icon_2.png') no-repeat;
}
