/*common.css*/.shadow_one{box-shadow:0 0 5px #666;-moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666}
.shadow_two{box-shadow:0 0 5px #333;-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333}
.shadow_three{box-shadow:0 5px 5px #666;-moz-box-shadow:0 5px 5px #666;-webkit-box-shadow:0 5px 5px #666}
.shadow_four{box-shadow:2px 2px 5px #ddd;-moz-box-shadow:2px 2px 5px #ddd;-webkit-box-shadow:2px 2px 5px #ddd}
.rc10{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px}
.rc5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.toprc10{border-top-left-radius:10px;border-top-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px}
.toprc5{border-top-left-radius:5px;border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px}
.bottomrc10{border-bottom-left-radius:10px;border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px}
.bottomrc5{border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}
.margin-r20{margin-right:20px}
.margin-t20{margin-top:20px}
.margin-t5{margin-top:5px}
.margin-t15{margin-top:20px}
.margin_b5{margin-bottom:5px}
ul,li{margin:0; padding:0; list-style:none}
a {
	color:#0000ff;
	text-decoration:none;
}
a:hover {
	color:#0000ff;
	text-decoration:underline;
}

.fs{text-decoration:line-through}
.f10{font-size:10px}
.f11{font-size:11px}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f24{font-size:24px}
.fred{color:#f00}
.fb{font-weight:bold !important}
.fn{font-weight:normal}
.fgreen{color:green}
.fblue{color:#00f}
.forange{color:#E47911}
.fmaroon{color:#900}
.fgray{color:#ccc}
.flgray{color:#999}
.fdgray{color:#666}
.fblack{color:#000}
.bgred{background-color:#F00}
.bggreen{background-color:green}
.bgorange{background-color:#E47911}
.bglgray{background-color:#f4f4f4}
.bggray{background-color:#dedede}
.bgdgray{background-color:#cdcdcd}
.bgdyellow{background-color:#fcce00}
.bglyellow{background-color:#fcfccb}

.bgwhite{background-color:#fff}
.padding5{padding:5px}
.padding8{padding:8px}
.padding10{padding:10px}
.padding_bot5{padding-bottom:5px}
.ca{text-align:center}
.la{text-align:left}
.ra{text-align:right}
/*.bb{border-bottom:1px dotted #999}*/
.bbs{border-bottom:1px solid #ccc}
.bbo{border-bottom:1px solid #EEEEEE;}
.hidden{display:none}
.flr{float:right}
.fll{float:left}
.nobb{bottom-border:none}
.nobr{border-right:none}
.bnone{border:none !important;}
td.vatop{vertical-align:top}
div.errors h3{margin-bottom:5px}
.alertg{background-color:#aea;border:2px solid #0a0;padding:5px}
.hide_div{display:none}
.show_div{display:block}
.clear{clear:both}
.right{float:right}
.left{float:left}
.la {
	text-align:left !important;
}
.ra {
	text-align:right !important;
}
.ca {
	text-align:center !important;
}
.tr_show {
	display:table-row;	
}

.tr_hide {
	display:none;
}

.button {
font-size:100%;
	display: inline-block;
	/*zoom: 1;
	*display: inline;*/
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;	
	padding: .2em .5em;
/*	text-shadow: 0 1px 1px #bbb;*/
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* orange */
.orange {
color:#333;	
	/*color: #fef4e9 !important;*/
	border: solid 1px #da7c0c;
	font-weight:bold;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
color:#333;	
/*	color: #fcd3a5 !important;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.linkbutton{background:#fff; border:none; color:#666;padding:0; cursor:pointer; font-size:11px}
.linkbutton:hover{color:#0000C6; text-decoration:underline}
.marl5{margin-left:5px;}
.marr5{margin-right:5px;}
/*end common.css*/
