.login{background-color:#fff; width:350px; position:relative; top:80px; left:250px;}
.login_block{border: 4px solid #fcce00; border-top:none; padding:10px; }

#login_tbl {
	width: 100%;
	align:center;	
	border-collapse: collapse;	
}
#login_tbl td{padding:5px; margin:0px;}
#login_tbl input[type="text"], #login_tbl input[type="password"]{
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
	width:200px;
	color:#666;
}
#login_tbl label{color:#666;}

.login_header {
	background-color: #fcce00;
	color: #333;
	padding: 5px;
	font-size: 18px;
	text-align: center;
}

.breadcrumb {
    font-size: 11px;
    margin: 5px 0;
}

.content_head{margin:1px 0px 2px;}
.content_head div.header{ padding:8px 10px;  border-bottom:1px solid #fff;}
.content_head div.header h3{ /*padding-left:5px;*/ }

.download_excel{width:135px;background-image:url("http://images.futurebazaar.com/catalog/fb_new/futurebazaar-new/images/home/excel-16.gif"); background-position:left center; background-repeat:no-repeat;font-size:13px; border:1px solid #666;color:#00529C;font-weight:bold;padding-left:25px;background-color:#EDEDED;height:25px;padding-top:5px;-moz-border-radius:5px;-webkit-border-radius:5px}

.bgcolor1{background-color:#fff; }
.bgcolor2{background-color:#EDEDED;}
.rag_notat {
    background-color: #fcfccb; 
}

.rag_red {
    background-color: #fe7b75;
}

.rag_amber {
    background-color: #ffdc84;
}

.rag_green {
    background-color: #a0d4a4;
}



.tbl_order{border:1px solid #ccc; border-collapse:collapse; width:100%;  font-size:11px;}
.tbl_order th{background-color:#dcdcdc; border:1px solid #ccc; padding:3px 3px; vertical-align:top; text-align:center; font-weight:bold; font-size:11px;}
.tbl_order td{border:1px solid #ccc; padding:3px 3px; vertical-align:top; text-align:center; color:#333; font-size:100%;}

.tbl_order td.chk{width:20px;}
.tbl_order td.date{color:#666666; width:65px;}
.tbl_order td.id{ width:65px;}
.tbl_order td.prod{width:10%; text-align:left;}
.tbl_order td.total{width:65px; font-size:11px;}
.tbl_order td.city{width:65px;}
.tbl_order td.qty{width:20px;}
.tbl_order td.lob{width:10%; text-align:left;}
.tbl_order td.status{width:*%; text-align:left;}
.tbl_order td.name{width:10% ;text-align:left;}
.tbl_order td.desc{width:10%; text-align:left;}
.tbl_order td.phone{}
.tbl_order td.no{width:65px;}

/*.tbl_order td.chk{width:20px;}
.tbl_order td.date{color:#666666; width:60px;}
.tbl_order td.id{ width:65px;}
.tbl_order td.prod{width:95px;}
.tbl_order td.total{width:55px; font-size:11px;}
.tbl_order td.city{width:55px;}
.tbl_order td.qty{width:20px;}
.tbl_order td.lob{width:60px;}
.tbl_order td.status{}
.tbl_order td.name{}
.tbl_order td.desc{}
.tbl_order td.phone{}
.tbl_order td.no{width:65px;}*/

.row1{}
.row2{ background-color:#F2F2F2;}
.row3{ background-color:#F5F5F5;}

/* item details*/
.tbl_item_details{border:1px solid #ccc; border-collapse:collapse; width:100%;  font-size:12px; }

/*.tbl_item_details th{background-color:#B8E4FD; border:1px solid #EFF7FE; color:#00529C;  padding:3px 3px; vertical-align:top; text-align:center;}
*/
.tbl_item_details td{border:1px solid #ccc; padding:5px 10px; vertical-align:top; text-align:left; color:#333;}
.tbl_item_details td.title{width:100px; background-color:#f4f4f4; font-weight:bold; padding:3px 10px;}
.tbl_item_details td.value{width:150px;}

/*update history*/
.tbl_update_history{border:1px solid #ccc; border-collapse:collapse; width:100%;  font-size:12px;}
.tbl_update_history th{background-color:#dcdcdc; border:1px solid #ccc; padding:5px 10px; vertical-align:top; text-align:left;}
.tbl_update_history td{border:1px solid #ccc; padding:5px 10px; vertical-align:top; text-align:left; color:#333;}

/*update status*/
.tbl_update_status{ border-collapse:separate; width:100%;  font-size:12px; border:1px solid #ccc;}
.tbl_update_status td{ padding:5px 10px; vertical-align:top; text-align:left; color:#333;}
.tbl_update_status td textarea {width:600px; height:120px; padding:5px;}
.tbl_update_status td input[type="text"], input.text{ width:300px;}

/*Reports*/
.tbl_report{border-collapse:collapse;width:100%;font-size:11px;float:left}
.tbl_report caption{text-align:left; font-weight:bold; padding:5px 5px; font-size:12px; color:#333;}
.tbl_report th{background-color:#dcdcdc; border:1px solid #ccc; font-size:11px; padding:3px 3px;text-align:center; font-weight:normal;height:40px;}
.tbl_report td{border:1px solid #ccc; padding:3px 3px; vertical-align:top; text-align:center; color:#333;}

.orders_msg{border:1px solid #ccc; padding:10px; margin:20px 10px; color:#333; background-color:#f4f4f4;}
.orders_msg div{background-color:#FFFFFF; padding:10px;}
.orders_msg h3{color:#666;}

.select_range{border:1px solid #B7B7B7; align:right; padding:5px 10px;color: #606060;font-weight:bold; width:175px;background:#DCDCDC;-moz-border-radius:5px;-webkit-border-radius:5px;margin-bottom:8px}
.tbl_select_range td{padding:4px;}
/*dashboard home*/
.dashboard{text-align:left; color:#333; margin:20px 0px;}
.dashboard_row1{height:295px;}
.dashboard_row2{height:550px;}
.dashboard_block{float:left}
.dashboard_block h3{}
.dashboard_block ul{padding:3px 0px; list-style:inside; color:#666;}
.fblack{color:#000}
.fi{font-style:italic;}

.selected_link {
    color: #009;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.selected_linkdesc {
    background: url("/media/systems/images/down.gif") no-repeat scroll 100% 50% transparent;
    padding-right: 10px;
}

.selected_linkasc {
    background: url("/media/systems/images/up.gif") no-repeat scroll 100% 50% transparent;
    padding-right: 10px;
}

/* Date Range */
#dr_container{width:920px;float:right;width:400px}
.date_range{padding:0px; margin:5px 0px;  float:right; border-left: solid 1px #b7b7b7; border: solid 1px #b7b7b7;list-style:none}
.date_range li{margin:0px; padding:3px 5px; color: #606060;  float:left;  font-weight:bold;
	  border:none;
	 }
.date_range a{color:#333; text-decoration:none;}
.date_range li#li_dr{padding:0px;}
#dr{margin:2px; width:200px;  border:1px solid #fff; height:16px;
 background: url("/media/images/arr_down.gif") no-repeat scroll 99% 50% transparent;
 color:#555; font-size:11px;
 }
 
 #sr{border:1px solid #ccc;  padding:5px 5px;background-color:#fff; z-index:1000;  width:400px;  position:absolute; right:0px; top:230px;left:690px }
 .tbl_sr{ width:100%; font-size:11px;}
.tbl_sr td{padding:4px; vertical-align:top; text-align:left;}
.tbl_sr input{font-size:11px; width:120px; padding:2px;}

.sel_dr{background-color:#FFF;color:#000!important}

.bgwhite{background-color:#FFF;}
.bcolor_one{background-color:#F0F0F0;}
.fi{font-style:italic;}
.hide{display:none;}
.show{display:block;}
.top_quantity{float:left;width:450px;margin-right:10px;position:relative;}
.top_value{float:right;width:450px;position:relative;}
.left_table{float:left;width:460px;margin-right:10px;position:relative;}
.right_table{float:right;width:460px;position:relative;}
.top_bar{background: #666; color:#FFF !important;}
