#footer {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
	padding:4px 2px 2px;
	width:976px;
	float:left;
	margin-top:6px;
}

#footer_nav {
	background-color: #FFFFFF;
    clear: both;
    color: #666666;
    font-size: 11px;
    padding: 20px;
}
#footer_nav ul {
	padding: 0;
	margin-bottom: 10px;
}
#footer_nav li {
	
	margin: 0;
	font-size: 11px;

}
#footer_nav ul li {
	display: inline
}
#footer_nav ul li a {
	text-decoration: none
}