.header {
	/* border-bottom:1px solid #00529C;*/
	 padding: 0 10px;

}
.logo {
	width:350px;
	margin-right:15px;	
	float:left
}

.headerlinks {
	margin-top: 20px;
	text-align: right;
	width:520px;
	float:left;
	font-size: 14px;
	font-weight: bold;
}

#nav{margin-top:10px;}

#nav ul {padding: 0;margin: 0;}
#nav li {list-style: none;display: inline;}
#nav a {text-decoration: none;}
#nav a:hover {text-decoration: none;}
#nav li a.selected_menu {}

.yellowlinks, .greenlinks {
    border-radius: 15px 15px 15px 15px;
    padding: 3px 10px;
    text-decoration: none;
	font-size:12px;
	font-weight:normal;
}
a.yellowlinks:hover{background-color:#EEEEEE;color:#000;text-decoration:none}
a.selected, a.selected:hover {background-color:#00529C;color:#FFFFFF;text-decoration:none}


.search{padding:5px 20px; text-align:center; background-color:#fced67;}
.search input{margin:0px 1px 0px 5px;}
.search label{font-size:12px; font-weight:normal;}
.search input[type="text"]{width:250px; padding:3px;}

a{color:#000099;text-decoration:none}