{% extends 'web/ppd_base.html' %}
{% block content %}
<div class="inner-content">
  <h1 class="head1">About Us</h1>
  <p><b><i>phone pe deal</i></b> is a service offered by Chaupaati Bazaar Private Limited, headquartered in Mumbai. Over the last two years, we have handled over 300,000 calls from consumers across India and have closed thousands of orders for appliances, children's products, magazines and several other categories. We have shipped orders to over 100 Indian cities through our network of brands and logistics providers. We are a young company, believe in making money only when our customers make money, and are growing fast.</p>
  <p><b><i>phone pe deal</i></b> is run by a <a href="/team.html">team</a> of repeat entrepreneurs and IIT Bombay alumni with over 30 years of combined experience in Indian start-ups and operational roles in companies such as ITC, IBM-Daksh, and Infomedia 18. This initiative is financially backed by a group of angel investors</a> out of Silicon Valley and India, led by Anand Rajaraman. The advisory board includes IIT and IIM alumni with over 80 years of combined experience in strategy & marketing for Indian consumer businesses like HUL, P&G, Zee Group, Nicholas Piramal Group and Tata Group.</p>
  <p>Also see <a href="/team.html">Team</a></p>
</div>
{% endblock %}
