{% load ppd_tags %} <!-- 123 ppd_tags? -->
{% if clients|length != 1%}
<div class="nav_item_small" id="follow">
    <div class="noborder txtleft"> <a class="follow_a" id="showFollow"> <img alt="Logo" src="/media/images/ppd_images/gear.gif" alt="Clients" title="Clients" style="vertical-align: middle"></a>
        <ul id="follow_us_mn" class="follow_us_mn" style="display: none;">
        {% if clients|length != 1 %}
                {% include "ppd/client_account_display.html" %}
        {% endif %}
            </ul>
	</div>
    </div>
{% endif %}
<ul id="menu_account">
   {% if request|role == 'Sellers Admin' or request|role == 'Sellers Client' %}
    <li class="item order_tab {% if "products" in url or "reviews" in url%} sel_dr {%endif%}"> Catalog
    	<ul class="menu_account_sub">
            <li class="confirmed"><a href="/products/{{client_name}}/{{seller_name}}">Products</a> </li>
            <li class="pending"><a href="/reviews/{{client_name}}/{{seller_name}}/?status=pending&search_trend=day&source=url">Product Reviews</a>
           </li>
    	</ul>
        </li>
    {%endif%}
    {% if request|role == 'Sellers Admin' or request|role == 'Sellers Client' or request|role == 'Sellers Agent' %}
    <li class="item order_tab {% if "orders" in url%} sel_dr{% else %} {%endif%}"> Orders
        <ul class="menu_account_sub">
            <li class="confirmed"><a href="/orders/confirmed/{{client_name}}/{{seller_name}}/?search_trend=day&source=url">Confirmed Orders</a> </li>
              <li class="pending"><a href="/orders/pending_order/{{client_name}}/{{seller_name}}/?search_trend=day&source=url">Pending Orders</a> </li>
              <li class="pending"><a href="/orders/cancelled/{{client_name}}/{{seller_name}}/?search_trend=day&source=url">Cancelled Orders</a> </li>
        </ul>
        </li>
    {%endif%}
    {% if request|role == 'Sellers Admin' %}
    <li class="item order_tab {% if "profile" in url or "notification" in url %} sel_dr  {%endif%}"> Profile
    <ul class="menu_account_sub">
        <li class="confirmed"><a href="/profile/{{client_name}}/{{seller_name}}">Profile</a></li>
        <li class="pending "><a href="/notification/{{client_name}}/{{seller_name}}">Notification</a></li>
  </ul>
  </li>
    {%endif%}
    {% if request|role == 'Sellers Admin'%}
   <li class="item order_tab {%if "payment" in url or "payouts" in url%} sel_dr {% endif %}">Payment
   <ul class="menu_account_sub">
        <li class="confirmed"><a href="/payment/settings/{{client_name}}/{{seller_name}}">Settings</a> </li>
        <li class="pending"><a href="/payment/options/{{client_name}}/{{seller_name}}">Options</a> </li>
        <li class="pending"><a href="/payouts/{{client_name}}/{{seller_name}}">Payouts</a> </li>
    </ul>
    </li>
    {% endif %}
    {% if request|role == 'Sellers Admin' or request|role == 'Sellers Client' or request|role == 'Sellers Agent' %}
 <li class="item order_tab{%if "report" in url%} sel_dr {%else%} {% endif %}"> Reports
<ul class="menu_account_sub">

    <li class="seller_report"><a href="/reports/{{client_name}}/{{seller_name}}/best_performing_sellers/?search_trend=day&source=url">Best Performing Sellers</a> </li>
    <li class="seller_report"><a href="/reports/{{client_name}}/{{seller_name}}/seller_report/?search_trend=day&source=url">Seller Report</a> </li>
    <li class="seller_report"><a href="/reports/{{client_name}}/{{seller_name}}/client_report/?search_trend=day&source=url">Client Report</a> </li>
    <!-- <li class="seller_report"><a href="/reports/{{client_name}}/{{seller_name}}/store_report/?search_trend=day&source=url">Sales by Store</a> </li>-->
    <li class="seller_report"><a href="/reports/{{client_name}}/{{seller_name}}/channel/?search_trend=day&source=url">Sales by Channel</a> </li>
    <li class="seller_report"><a href="/reports/{{client_name}}/{{seller_name}}/category/?search_trend=day&source=url">Sales by Category</a></li>
    <li class="seller_report"><a href="/reports/{{client_name}}/{{seller_name}}/geography/?search_trend=day&source=url">Sales by Geography</a></li>
    <li class="seller_report"><!--<a href="/reports/{{client_name}}/{{seller_name}}/fulfillment/?search_trend=day&source=url">BY Fulfillment</a>--></li>

</ul>
</li>
{%endif%}
    {% if request|role == 'Sellers Admin' or request|role == 'Sellers Client' %}
<li class="item order_tab{%if "prices" in url%} sel_dr {%else%} {% endif %}"><a style="margin-top:5px;display:block" href="/prices/{{client_name}}/{{seller_name}}/all_prices/"> Pricing</a>
    <ul class="menu_account_sub">
    {%comment %}
        <li class="seller_report"><a href="/prices/{{client_name}}/{{seller_name}}/search_by_sku/">Search by SKU/Article Id</a> </li>
    {% endcomment %}
        <li class="seller_report"><a href="/prices/{{client_name}}/{{seller_name}}/upload_xls/">Update Prices</a> </li>
    {%comment %}
        <li class="seller_report"><a href="/prices/{{client_name}}/{{seller_name}}/approve_pricing_job/">Approve Updated Price</a> </li>
        <li class="seller_report"><a href="/prices/{{client_name}}/{{seller_name}}/gen_reprt">Generate Report</a> </li>
    {% endcomment %}
    </ul>
    </li>
    {%endif%}
    {% if request|role == 'Sellers Admin' or request|role == 'Sellers Client'%}
<li class="item order_tab{%if "inventory" in url%} sel_dr {%else%} {% endif %}"> <a style="margin-top:5px;display:block" href="/inventory/{{client_name}}/{{seller_name}}/all_inventory">Inventory</a>
    <ul class="menu_account_sub">
        <li class="inventory"><a href="/inventory/{{client_name}}/{{seller_name}}/inventory_bulk_upload">Update Inventory Levels</a> </li>
{% comment %}
        <li class="inventory"><a href="/inventory/{{client_name}}/{{seller_name}}/inventory_articlelevel_update">Update Article-level Inventory</a> </li>
<li class="inventory"><a href="/inventory/{{client_name}}/{{seller_name}}/otc_upload">Upload OTC Pincodes</a> </li>
<li class="inventory"><a href="/inventory/{{client_name}}/{{seller_name}}/slo_upload">Upload Ship-local-only Pincodes</a> </li>
        <li class="inventory"><a href="/inventory/{{client_name}}/{{seller_name}}/gen_reprt">Check Inventory Levels</a> </li>
{% endcomment %}
        <li class="inventory"><a href="/inventory/{{client_name}}/{{seller_name}}/slo_upload">Update SO/OTC Pincodes</a> </li>
    </ul>
    </li>
{%endif%}
{% comment %}
<li class="item order_tab {% if "ifs" in url or "fulfillment" in url %} sel_dr  {%endif%}"> IFS
    <ul class="menu_account_sub">
        <li class="confirmed"><a href="/ifs/upload">IFS Upload</a></li>
        <li class="pending "><a href="/ifs/fulfillment">Check Fulfillment</a></li>
    </ul>
</li>
{% endcomment %}
{% if request|role == 'Sellers Admin' or request|role == 'Sellers Client'%}
{%if client_name ==  'holii' or client_name == 'world-holii' or client_name == 'us-holii'%}
<li class="item order_tab {% if "subscribers" in url%} sel_dr {%endif%}"> Subscribers
    <ul class="menu_account_sub">
        <li class="pending"><a href="/subscribers/{{client_name}}/{{seller_name}}/?search_trend=day&source=url">Subscribers of Newsletter</a>
       </li>
    </ul>
    </li>
{%endif%}
{%endif%}
</ul>

<script type="text/javascript">
$("#menu_account li.item").hover(function(){
    if ($(this).hasClass("hovering")){
        $(this).removeClass("hovering");
    }
    else{
        $(this).addClass("hovering");
    }
//    $(".order_list").toggle();
});

</script>
<script type="text/javascript" charset="utf-8">
$(function() {                                                                                                                                    
    $("#showFollow").toggle(function()
    {                                             
        $( ".follow_us_mn" ).show("fast");
        document.getElementById('cid').size=12;
        return false;                                     
    },
    function()
    {                                                                             
        $( ".follow_us_mn" ).hide("fast"); 
        return false;
    });                          
    $('body').click(function()
    {
        $( ".follow_us_mn" ).hide("fast");          

    });                          
});
</script>
