{% extends 'web/ppd_base.html' %}
{% block content %}
<div class="inner-content">
  <h1 class="head1">Amar Chitra Katha - A Case Study</h1>
  <div>  
      <div class="blurb">
        Customers called from over 120 cities, with inquiries ranging from "Wow, are you guys really <i>the</i> Amar Chitra Katha!" to "How can I subscribe to Tinkle in Assam?"        </div>
	      
	 
	    <h2 class="head2">India's #1 children's media company</h2>
		  
		<p><a href="http://www.ack-media.com" target="_blank">ACK Media</a> is India's #1 children's media company and owns some of India's most loved brands <a href="http://www.amarchitrakatha.com" target="_blank">Amar Chitra Katha</a>, <a href="http://www.tinkleonline.com" target="_blank">Tinkle</a> and <a href="http://www.karaditales.com" target="_blank">Karadi Tales</a>. Their products include print, home video, broadcast television, films, mobile and online services. ACK receives regular phone inquiries from customers as a response to the toll-free number on their books, magazines, website and advertising campaigns. Customers call from over 120 cities, with inquiries ranging from "Wow, are you guys really <i>the</i> Amar Chitra Katha!" to "how can I subscribe to Tinkle in Assam?"</p>
        		  
		<p>When these calls started increasing in volume, ACK dedicated a company employee to take these calls from 9:30a to 5p Monday through Friday. The representative guided customers through browsing the catalog and information on <a href="http://www.amarchitrakatha.com" target="_blank">www.amarchitrakatha.com</a>, then assisted customers in purchasing through the website. In case of simple orders, customers could mail a cheque to the company address and receive their order after payment was cleared. ACK was able to achieve good sales to justify investing in more people and process to develop this channel further.</p>
	  
 
    <p>When <i>phone pe deal</i> and ACK Media first spoke about the situation, our apprehension was that more than 80% of the 1,000+ titles were under Rs. 50 and the fastest moving subscriptions were under Rs. 500. Since the business model of <i>phone pe deal</i> is commission based, low ticket sizes might not justify a phone commerce process at scale regardless of margins. We decided to run additional promotions for collections ranging for Rs. 2,000+ and bundled subscription packs for Rs. 1,000+ in order to balance the average ticket sizes, but remained apprehensive. The process would run 8a to 10p, 365 days a year and would involve incoming calls on the sales extension of 1-800-233-9125 as well as SMS backs to 575758 with keyword "ACK BUY".</p>
    <br />

  
      <h2 class="head2">The <strong><i>phone pe deal</i></strong> solution</h2>
		  
		<p>In the first month of being live with <i>phone pe deal</i>, sales jumped to 5x despite number of responses being 2x of the previous month. For the last 6 months, average order size has consistently been in the thousands of Rupees, with orders ranging from Rs. 40 (Jataka Tales) to Rs. 70,000 (thousands of copies of stories of Sikh gurus on the occasion of Guru Nanak Jayanti). The top three reasons identified by us for a jump in sales are:</p>
		  
		<ol />
	    <li><b>Being there on weekends</b>. Response volumes are highest from Friday evening to Saturday night. These calls were missed earlier and it was not practical for ACK Media to have employees available at all times.	    </li>
	    <li><b>Multiple payment methods</b>. Customers prefer payment methods that they know and love. ACK Media was able to informally offer offline payments for single SKU orders. With <i>phone pe deal</i>, we could now map complex multi-item orders with a unique phone inquiry and easily track the order throughout the fulfillment process.	    </li>
	    <li><b>No one needs to call back</b>. When agents have all information at their fingertips: customer history, pricing, stock availability, product details, location-wise shipping duration, payment instructions, etc. then they never have to "call you back". Reduction in drop-offs led to increase in conversions.	    </li>
	    </ol>
    
	    <div class=" blurb">
	      In the first month of being live with <i>phone pe deal</i>, sales jumped to 5x despite number of responses being 2x of the previous month.	      </div>
	 
    <br />

    <h2 class="head2">A new sales channel</h2>
	  <p>In the months after ACK Media started using <i>phone pe deal</i> to power its phone store, the channel has been used for closing responses from:
	 
	    <ul>
	      <li>Inbound international calls</li>
		    <li> Thematic SMS campaigns</li>
		    <li> Special offers to existing customers</li>
		    <li> Bundling and barter deals with complementary brands</li>
		 <!-- </ul>
	  </div>
	  <div>
	    <ul>-->
	      <li> Direct mailers to school libraries</li>
		    <li> Books and packaging</li>
		    <li> Mall, flyer and BTL promotions</li>
		    <li> Online campaigns</li>
		 <!-- </ul>
	  </div>
	  <div>
	    <ul>-->
	      <li> Websites</li>
		    <li> Abandoned carts</li>
		    <li> Subscription renewals</li>
		    <li> Online traffic through search</li>
		  </ul>
          </p>
	

    <p>At this time, <strong><i>phone pe deal</i></strong> is the largest e-commerce affiliate of ACK Media. Business is growing at a healthy pace from the time it started and <i>phone pe deal</i> sales are likely to exceed 10% of retail sales in the next 12 months. ACK Media has been able to create a promising alternate channel which is commission driven like all other channels. Not surprisingly, the total cost of this channel is a fraction of what ACK Media would have incurred had they built the capabilities in-house or hired a BPO service.</p>
	  
<!--	<div class="head4">For an assessment of how you can build an alternate channel using <i>phone pe deal</i>, please <a href="./activate.html">contact us</a>.	  </div>
-->  </div>
  <!--
<div class="span-22">
	<p />
	<br /><br />
	<div class="head4">
		<b>About <i>phone pe deal</i>:</b>
	</div>
	<p />
	<div class="gray">
		<i>phone pe deal</i> is a service offering for exclusive brands who wish to create a direct sales channel across India over the phone and web. While brand reach through media and word-of-mouth is widespread, market reach is limited because of limitations of brick-and-mortar retail and distribution channels. <i>phone pe deal</i> is a way to fill that gap and acquire new customers in a risk-free and profitable way. Leading brands offering children's products, magazine subscriptions and appliances are using <i>phone pe deal</i> to provide customers with a more convenient and accessible way to purchase their products from the comfort of their home.
	</div>
</div>
-->
</div>
{% endblock %}
