{% extends 'ppd/user_home.html' %}
{% block user_content %}


<div class="inner-content" %>

	<form action="" id="seller_profile_form" name="seller_profile_form">
	<div id="post_errors"></div>

	{% comment %}
	{% if form.errors %}
  		<p style="color: red;"> Please correct the error{{ form.errors|pluralize }} below. </p>
  	{% endif %}
	{% endcomment %}

	<h1 class="head1">{{client_display_name}} - Seller Lists  <li class="f11 fdgray{%if "addlists" in url%} sel_dr {%else%} {%endif%}"><a href="/addlists/{{client_name}}/{{seller_name}}">Add a new list</a>
</li></h1>
<br />
<br />

{% if list_objects %}
<table border="1">
<tr>
<th></th>
<th>List Name</th>
<th>Start Time</th>
<th>End Time</th>
<th>Type</th>
</tr>
<!--	<form name='abcd' id='abcd' value='abcd' action='' method =''>-->
<input type="checkbox" name="select_all" id="select_all" class="select_all" />Select All
<!--<a class="select_all">Select all</a>-->
<tr>
	{% for i in list_objects %}
		{% if i.title %}
		<form name="myform" id="myform" value="myform" action="" method="">
		<td width="10"><input type="checkbox" class= "listdel" name="listdel" id="{{i.id}}" value="{{i.id}}" /></td>
		</form>
<!--		<td width="40"> -->
<!--		<a href="/edit/{{client_name}}/{{seller_name}}/{{i.id}}">Edit</a></td>-->
		<td class="f11 fdblack" width="140">
		<a href="/edit/{{client_name}}/{{seller_name}}/{{i.id}}">{{i.title}}</a>
		</td>
		{% if i.starts_on %}<td class="f11 fdblack" width="140">{{i.starts_on}}</td>{% else %}<td class="f11 fdblack" width="140"> </td>{% endif %}
		{% if i.ends_on %}<td class="f11 fdblack" width="140">{{i.ends_on}}</td>{% else %}<td class="f11 fdblack" width="140">{{i.ends_on}}</td>{% endif %}
		{% if i.Type %}<td class="f11 fdblack" width="140">{{i.Type}}</td>{% else %}<td class="f11 fdblack" width="140"></td>{% endif %}
		</tr>
		
		{% comment %}
		{% if "additems" in url %} {%else %} {%endif%}<a href="/additems/{{client_name}}/{{seller_name}}/{{i.id}}">Add Items</a>
		<br />
		{% if "displayitems" in url %} {%else%} {%endif%}<a href = "/displayitems/{{client_name}}/{{seller_name}}/{{i.id}}">Display Items</a>
		<br />
		<br />
		{% endcomment %}
		{% endif %}
	{% endfor %}
</table>
<!--<a href="/delconfirm/{{client_name}}/{{seller_name}}">Delete</a>-->
<input type="button" name="delete" id="delete" value="Delete" class="delete" />

{% else %}
<h2> No lists to display </h2>
{% endif %}
</form>


{% comment %}
<script type="text/javascript">
/*
function toggle(source) {
	checkboxes=document.getElementsByName('listdel');
	for each(var i in checkboxes)
		checkboxes[i].checked=source.checked;
}*/
/*
$('#select-all').click(function(event) {
	if (this.checked) {
		$(':checkbox').each(function(){
			this.checked=true;
		}});
}
});
*/
/*
function checkAll(){
	for (var i=0; i<document.forms[0].elements.length; i++)
	{
		var e=document.forms[0].elements[i];
		if((e.name!= 'allbox') && (e.type=='checkbox'))
		{
			e.checked=document.forms[0].allbox.checked;
		}
	}
}*/

/*checked=false;
function checkedAll() {
	if (checked==false) {checked=true} else {checked=false}
//	for(var i=0; i<document.getElementById('abcd').elements.length; i++)
	for (var i=0; i<{{len}}; i++)
		{document.getElementById('abcd').elements[i].checked =checked;
		*/
</script>
{% endcomment %}

<script type="text/javascript">

$("[name='listdel']").click(function() {    
	if ($(this).attr('checked')) {
		if ($("[name='listdel']:not(:checked)").length == 0)
			$('#select_all').attr('checked',true);
		}
		else {
			$('#select_all').attr('checked',false);
		}
})

$('#select_all').click(function(){
	var val = $(this).attr('checked');    
	$('.listdel').each(function(){
		$(this).attr('checked',val); 
	});
});

$('.delete').click(function(){
	var d =new Array();
	var count=0;
	$('.listdel').each(function(){
		var v = $(this).attr('checked');
	//	alert(v);
		if (v==true)
		{
			var idv = $(this).attr('id');
			d[count]=idv;
			count=count+1;
//			alert (idv);
		}
	});
	alert(d);
	var data="id="+d;
//	alert(data);
		var onsuccess = function(response){
		//	alert("success")
			window.location.reload();
		};
		var onerror=function(){};
		var method="{{request.method}}";
		var url="/mdel/{{client_name}}/{{seller_name}}";

	$.ajax({
	type: method,
	url:url,
	data: data,
	success:onsuccess,
	error: onerror, });

//	alert({{len}});
});
//	for (i in {{list_objects}}){}

/*	var abc = myform.getElementsByTagName('input');
	alert(abc)
	for(var i=0; i<abc.length; i=i+1){
		var s=abc[i];
		alert("before if")
		if (s.type && s.type == 'checkbox' && s.checked)
			{alert(s);}		}
*/
	//$.each(abc, function(){
//		alert("abc")
//	})
	//alert("{{ client_name }}")
//	for (var i in {{list_objects}}){ i.id, }

	//{
	//	alert(i)
//	}

</script>
</div>
{% endblock %}

