{% extends 'ppd/user_home.html' %}
{% load cc_tags %}
{% load web_tags %}
{% load ppd_tags %}
{% block user_content %}
		<div style="overflow:hidden; width:960px; float:left">
            {%ifequal order_state "confirmed"%}
                    {% daterange "Confirmed Orders"  search_trend from_date to_date request '' client_display_name%}
            {%endifequal%}
            {% ifequal order_state "pending_order"%}
                    {% daterange "Pending Orders"  search_trend from_date to_date request '' client_display_name%}
            {%endifequal%}
            {% ifequal order_state "cancelled"%}
                    {% daterange "Cancelled Orders"  search_trend from_date to_date request '' client_display_name%}
            {%endifequal%}
		<div class="order_search">
          <form method="get" action="">
         <span class="f11 fgray">order id</span>
          <input type="text" id="order_id" name="order_id"/>
          <input type="button" id="order_id_submit" value="Search" class="grayButton mart6" />
        </form>
        </div>
        <div class="clear"></div>
{%if orders%}
{%include "ppd/show_excel_link.html" %}
<table cellspacing="0" cellpadding="0" border="0" class="orderTable left" style="background:#fff">
<tr>
    {% if sortby == 'id_dsc' %}
    <th class="ca" width="150"><a href = "{{url}}&sortby=id_asc">Order ID&nbsp;&nbsp;<img src="/media/images/up.gif" border="0" alt="up" height="7" width="5"></a>
    {% else %}
    <th class="ca" width="150"><a href = "{{url}}&sortby=id_dsc">Order ID&nbsp;&nbsp;{% if sortby == "id_asc" %}<img src="/media/images/down.gif" border="0" alt="up" height="7" width="5">{% endif %}</a>
    {% endif %}
 
 {% if sortby == 'date_asc' %}
    <th class="la" width="150"><a href = "{{url}}&sortby=date_dsc">&nbsp;&nbsp;Order Date&nbsp;&nbsp;<img src="/media/images/down.gif" border="0" alt="up" height="7" width="5"></a>
    {% else %}
    <th class="la" width="150"><a href = "{{url}}&sortby=date_asc">&nbsp;&nbsp;Order Date&nbsp;&nbsp;{%if sortby == "date_dsc" %}<img  src="/media/images/up.gif" border="0" alt="up" height="7" width="5">{% endif %}</a>
    {% endif %}
 
    {% if sortby == 'amt_dsc' %}
    <th class="la" width="150"><a href = "{{url}}&sortby=amt_asc">Payable Amount&nbsp;&nbsp;<img src="/media/images/up.gif" border="0" alt="up" height="7" width="5"></a>
    {% else %}
    <th class="la" width="150"><a  href = "{{url}}&sortby=amt_dsc">Payable Amount&nbsp;&nbsp;{% if sortby == "amt_asc"%}<img src="/media/images/down.gif" border="0" alt="up" height="7" width="5">{% endif %}</a>
    {% endif %}
  
    <th class="la" width="550">Address</th>
    <th class="la" width="120">Order Location</th>

</tr>


{%for order in orders%}

<tr>{% if client_type %} 
    <td class="ca" width="150" valign="top" id="order_display_{{order.get_id}}" style="text-align:center;"><a href="{%cc_url request ''%}{%ifequal logged_user.buyer_or_seller "User"%}user{%else%}seller{%endifequal%}/orders/{{order.id}}/{{client_name}}/{{order.orderitem_set.all.0.seller_rate_chart.seller.name|slugify}}">{{order.reference_order_id}}</a></td>
    {%else%}
    <td class="ca" width="150" valign="top" id="order_display_{{order.get_id}}" style="text-align:center;"><a href="{%cc_url request ''%}{%ifequal logged_user.buyer_or_seller "User"%}user{%else%}seller{%endifequal%}/orders/{{order.id}}/{{client_name}}/{{order.orderitem_set.all.0.seller_rate_chart.seller.name|slugify}}">{{order.id}}</a></td>
    {%endif%}
    {%if order.state == "confirmed"%}
    {% ifequal order.payment_realized_on "Null" %}
    <td class="la" width="150" valign="top">&nbsp;&nbsp;&nbsp;{{order.timestamp|date}}</td>
    {% else %}
    <td class ="la" width="150" valign="top">&nbsp;&nbsp;&nbsp;{{order.payment_realized_on|date}}</td>
    {% endifequal %}
    {% else %}
    <td valign="top">{{order.timestamp|date}}</td>
    {%endif%}
    <td class="la" width="150" valign="top">&nbsp;&nbsp;<span class="WebRupee"> Rs. </span>{{order.payable_amount|money}}</td>
    <td class="la" valign="top"><span>{{order.get_delivery_info.address.first_name}} {{order.get_delivery_info.address.last_name}}</span>
                <span>{{order.get_delivery_info.address.address}}</span>
                <span>{% if order.get_delivery_info.address.city %} {{order.get_delivery_info.address.city}}{% endif %} - {% if order.get_delivery_info.address.pincode%}{{order.get_delivery_info.address.pincode}}{%endif%}</span></td>
            {% ifequal order.medium "cc" %}
            <td class="ca">Phone</td>
            {% endifequal %}
            {% ifequal order.medium "web" %}
            <td class="ca">Web</td>
            {% endifequal %}
            {% ifequal order.medium "store" %}
            <td class="ca">Store</td>
            {% endifequal %}

   <!--<td class="la">{{order.get_delivery_info.address}}</td>-->
  </tr>
  <tr class="hidden items_display" id="items_display_{{order.get_id}}">
    <td colspan="7"><table cellspacing="0" cellpadding="0" class="orderDetail" >
        <tr>
          <th>Item</th>
          <!-- <th>Dispatched On</th>
        <th>Shipping Details</th>-->
          <th width="80">Price</th>
          <th width="80">Shipping</th>
          <th width="40">Qty</th>
          <th width="80">Amount</th>
          <th width="80">Item-status</th>
        </tr>
        {%for item in order.items%}
        <tr>
          <td class="bbnone">{{item.item_title}}</td>
          <!-- <td>{{item.dispatched_on|date:"d/m/Y"}}</td>
        <td valign="top"><a href="{{item.shipping_details.0.tracking_url}}">{{item.shipping_details.0.courier}}</a><br />
            (<b>Trac:</b>{{item.shipping_details.0.tracking_no}})</td>-->
          <td class="bbnone">{{order.formatted_currency}} {{ item.sale_price|division:item.qty|money}}</td>
          <td class="bbnone">{{order.formatted_currency}} {{item.shipping_charges|division:item.qty|money}}</td>
          <td class="bbnone">{{item.qty}}</td>
          <td class="bbnone">{{order.formatted_currency}} {{item.payable_amount|money}}</td>
          <td class="bbnone">{{item.state}}</td>
        </tr>
        <tr>
          <td colspan="5"><span class="left f11" style="color:#808080;">{%if item.dispatched_on%}Shipped on {{item.dispatched_on|date}} by <a href="http://{{item.shipping_details.0.tracking_url}}" target="_blank">{{item.shipping_details.0.courier}}</a> (AWB: {{item.shipping_details.0.tracking_no}}){%endif%} </span> </td>
        </tr>
        {%endfor%}
      </table></td>
  </tr>
  {%endfor%}
</table>
{%else%}
<table>
  <tr> {%ifequal request.method "POST"%}
    {%if valid_query_or_no_query%}
    <td colspan="7" style="color:#FF0000">Order with order id '{{requested_order_id}}' not found. Click <a href="{{request.path}}">here</a> to see all the orders for {{selected_account.name}}</td>
    {%else%}
    <td colspan="7" style="color:#FF0000">'{{requested_order_id}}' is not a valid search query. Please enter a valid search id. Click <a href="{{request.path}}">here</a> to see all the orders for {{selected_account.name}}</td>
    {%endif%}
    {%else%}
    </br><td colspan="7" style="color:#FF0000">No orders found.<!-- Click <a href="{{request.path}}">here</a> to see all the orders for {{selected_account.name}}--></td>
    {%endifequal%} </tr>
</table>
{%endif%}
<!-- pagination begins here -->
{% if pagination.enable_next or pagination.enable_prev %}
<div class="clear">
<div class="pagination">
  {% if pagination.enable_prev %} <a href="{{pagination.base_url}}page={{pagination.prev_page}}">Prev</a> {% else %} <a class="gray_link">Prev</a> {% endif %}
    {% for page in pagination.first_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    {% if pagination.show_sep1 %} <span> ...</span> {% endif %}
    {% for page in pagination.prev_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    <div>{{pagination.cur_page}}</div>
    {% for page in pagination.next_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    {% if pagination.show_sep2 %} <span> ...</span> {% endif %}
    {% for page in pagination.last_set %} <a href="{{pagination.base_url}}page={{page}}">{{page}}</a> {% endfor %}
    {% if pagination.enable_next %} <a href="{{pagination.base_url}}page={{pagination.next_page}}">Next</a> {% else %} <a class="gray_link">Next</a> {%     endif %} </div>
{% endif %}
{%comment%}
<div class="pagination"> <span class="step-links"> {% if page_range|length > 1 %}
  
  {% if page_range|length > 8 %} <a href="?page=1">1</a> <a href="?page=2">2</a> <a href="?page=3">3</a>. . . . . . <a href="?page={{mid}}">{{mid}}</a>. . . . . <a href="?page={{order_page_list.paginator.num_pages}}">{{order_page_list.paginator.num_pages}}</a> {% endif %}
  {% if page_range|length <= 8 %}        
  {% for i in page_range %} <a href="?page={{i}}">{{i}}</a> {% endfor %} 
  {% endif %}
  {% endif %}
  
  {% if order_page_list.has_previous %} <a href="?page={{ order_page_list.previous_page_number }}">previous</a> {% endif %} <span class="current"> Page {{ order_page_list.number }} of {{ order_page_list.paginator.num_pages }}. </span> {% if order_page_list.has_next %} <a href="?page={{ order_page_list.next_page_number }}">next</a> {% endif %} </span> </div>
{% endcomment %}
<div class="clear"></div>
<script type="text/javascript">
$('.order_display').click(function(){
    var id = this.id;
    var order_id = id.split("order_display_")[1];
    var showndiv = "#items_display_" + order_id;
    if ($(this).hasClass("hide_filter"))
    {
        $('.order_display').removeClass("show_filter");
        $('.order_display').addClass("hide_filter");
        $(this).removeClass("hide_filter");
        $(this).addClass("show_filter");
        $('.items_display').addClass("hidden");
        $(showndiv).removeClass("hidden")
    }
    else
    {
        $(this).removeClass("show_filter");
        $(this).addClass("hide_filter");
        $(showndiv).addClass("hidden");
    }
});
</script>

<script type="text/javascript">
    $('#order_id_submit').click(function(){
        url_path = '{{url|safe}}';
        var order_id = document.getElementById('order_id').value;
        url_path += "&order_id=" + order_id + "&";
        location.href = url_path;
    });
</script>

{%endblock%} 
