{% extends 'web/ppd_base.html' %}
{% block content %}
<div class="inner-content">
  <h1 class="head1">Platform</h1>
  <p>Consumption growth and phone penetration has led several brands to build in-house capabilities to address the phone commerce opportunity. However, most systems and processes end up as support systems for existing channels, thus limiting the potential of phone commerce. At <i>phone pe deal</i>, we are in the phone commerce business and have created a platform specifically for converting consumer responses by phone, so that you can focus on your core business of taking unique brands and products to market.</p>
  <p>Here is a sneak peak of what's under the hood.</p>
  <div class="span-19 last largebox">	
  <div class="head3">Response Management System</div>
  <div class="span-6 box">
  <div class="head4">Telecom infrastructure</div>
  <ul>
  <li>Inbound/Outbound campaigns</li>
  <li>SMS-back integration</li>
  <li>Custom greeting by campaign</li>
  <li>Rules-based call routing</li>
  </div>
      <div class="span-6 box">
          <div class="head4">Manpower capability</div>
		  <ul>
		    <li> Variable capacity 8a-10p x365</li>
			  <li> Local language support</li>
			  <li> Custom product training</li>
			  <li> Success driven incentives</li>
		  </ul>
	          </div>
  <div class="span-6 box last">
    <div class="head4">Management tools</div>
	  <ul>
	      <li> Real-time call logs & recording </li>
		  <li> Response funnel view</li>
		  <li>  Abandoned/missed call backs</li>
		  <li>  Campaign success reports</li>
	  </ul>
	          </div>
  <div class="span-19 last">
    <p />
	  <div class="head3">Commerce System</div>
	  <div class="span-6 box">
	    <div class="head4">Product discovery</div>
		  <ul>
		    <li>Automatic XML/XLS sync</li>
			  <li>Location-wise stock availability</li>
			  <li>Extensive search, browse, filter</li>
			  <li>Product images & features		      </li>
		  </ul>
	  </div>
	  <div class="span-6 box">
	    <div class="head4">Order processing</div>
		  <ul>
		    <li>Integrated shopping cart</li>
			  <li>Integrated phone/web pay</li>
			  <li> Integrated offline payments</li>
			  <li> Voucher/discount redemption</li>
		  </ul>
	  </div>
	  <div class="span-6 box last">
	    <div class="head4">Customer relationship mgmt</div>
		  <ul>
		    <li>Seamless profile & history</li>
			  <li> Integrated follow-up process</li>
			  <li> E-mail/SMS notifications</li>
			  <li> Payment notifications</li>
		  </ul>
	  </div>
              </div>
  <div class="span-19 last">
    <p />
	  <div class="head3">Fulfillment System</div>
	  <div class="span-6 box">
	    <div class="head4">Account management</div>
		  <ul>
		    <li> Real-time order notifications</li>
			  <li> Web-based vendor panel</li>
			  <li> Order invoicing and tracking</li>
			  <li> Catalog edit and management</li>
		  </ul>
	  </div>
	  <div class="span-6 box">
	    <div class="head4">Logistics integration</div>
		  <ul>
		    <li> Auto-tracking of shipment</li>
			  <li> Local & central co-ordination</li>
			  <li> Out-of-stock handling	</li>
			  <li> Multi-item/seller shipping</li>
		  </ul>
	  </div>
	  <div class="span-6 box last">
	    <div class="head4">Customer service</div>
		  <ul>
		    <li> Order/shipping notification</li>
			  <li> Returns/refund management</li>
			  <li> 24-hr reply, 72-hr resolution</li>
			  <li> Feedback & post-sales touch</li>
		  </ul>
	  </div>
              </div>
  </div>
  <div class="span-22">	<br />
                
      <div class="head4">See case studies on <a href="./casestudy-ack.html">Amar Chitra Katha</a>, <a href="./casestudy-infomedia18.html">Infomedia 18</a> and <a href="./casestudies.html">other brands</a>.</div>
	          </div>
</div>
<div class="clear"></div>
{% endblock %}
