{% extends 'ppd/user_home.html' %}
{% block user_content %}
<div class="inner-content">
    <h1 class="head1">{{client_display_name}} - Seller Profile</h1>
  <form method="POST" action="" id="seller_profile_form" name="seller_profile_form">
  <div id="post_errors"></div>
  {% if form.errors %}
  <p style="color: red;"> Please correct the error{{ form.errors|pluralize }} below. </p>
  {% endif %}
  
  <div class="fb fdgray prof_sub_head">Basic Info</div>
  <table class="tbl_profile">
    <tr>
      <td class="f11 fdgray" width="140">{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
      {% if form.name.errors %}
      <td class="error">{{ form.name.errors }}</td>
      {% endif %}

    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.code.label }}</td>
      <td>{{ form.code }}</td>
      {% if form.code.errors %}
      <td class="error">{{ form.code.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray" >{{ form.website.label }}</td>
      <td>{{ form.website }}</td>
      {% if form.website.errors %}
      <td class="error">{{ form.website.errors }}</td>
      {% endif %}
    </tr>
  </table>
  
  {%if login_form_error%}
  <div class="error">{{login_form_error}}</div>
  {%endif%}
  {%if profile_exists%}
  <div class="fb fdgray prof_sub_head">Login Details</div>
  <table class="tbl_profile">
    <tr>
      <td width="140" class="f11 fdgray">Login Email Id/ Mobile no.</td>
      <td>{{ login_form.username }}</td>
      {% if login_form.username.errors %}
      <td class="error">{{ login_form.username.errors }}</td>
      {% endif %}

    </tr>
    <tr>
      <td width="140" class="f11 fdgray">Current Password</td>
      <td>{{ login_form.password }}</td>
      {% if login_form.password.errors %}
      <td class="error">{{ login_form.password.errors }}</td>
      {% endif %}

    </tr>
    <tr>
      <td class="f11 fdgray">New Password</td>
      <td>{{ login_form.new_password }}</td>
      {% if login_form.new_password.errors %}
      <td class="error">{{ login_form.new_password.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">Confirm Password</td>
      <td>{{ login_form.confirm_password }}</td>
      {% if login_form.confirm_password.errors %}
      <td class="error">{{ login_form.confirm_password.errors }}</td>
      {% endif %}
    </tr>
  </table>

  {%else%}

  <div class="fb fdgray prof_sub_head">Login Details</div>
  <table class="tbl_profile">
    <tr>
      <td width="140" class="f11 fdgray">Login Email Id/ Mobile no.</td>
      <td>{{ login_form.username }}</td>
      {% if login_form.username.errors %}
      <td class="error">{{ login_form.username.errors }}</td>
      {% endif %}

    </tr>
    <tr>
      <td width="140" class="f11 fdgray">Password</td>
      <td>{{ login_form.password }}</td>
      {% if login_form.password.errors %}
      <td class="error">{{ login_form.password.errors }}</td>
      {% endif %}

    </tr>
    <tr>
      <td class="f11 fdgray">Confirm Password</td>
      <td>{{ login_form.confirm_password }}</td>
      {% if login_form.confirm_password.errors %}
      <td class="error">{{ login_form.confirm_password.errors }}</td>
      {% endif %}
    </tr>
  </table>
    {%endif%} 

  <div class="fb fdgray prof_sub_head">Order Email Settings</div>
  <table class="tbl_profile">
    <tr>
      <td width="140" class="f11 fdgray">{{ form.confirmed_order_email.label }}</td>
      <td>{{ form.confirmed_order_email }}</td>
      {% if form.confirmed_order_email.errors %}
      <td class="error">{{ form.confirmed_order_email.errors }}</td>
      {% endif %}

    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.pending_order_email.label }}</td>
      <td>{{ form.pending_order_email }}</td>
      {% if form.pending_order_email.errors %}
      <td class="error">{{ form.pending_order_email.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.share_product_email.label }}</td>
      <td>{{ form.share_product_email }}</td>
      {% if form.share_product_email.errors %}
      <td class="error">{{ form.share_product_email.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.signature.label }}</td>
      <td>{{ form.signature }}</td>
      {% if form.signature.errors %}
      <td class="error">{{ form.signature.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.pending_order_helpline.label }}</td>
      <td>{{ form.pending_order_helpline }}</td>
      {% if form.pending_order_helpline.errors %}
      <td class="error">{{ form.pending_order_helpline.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.confirmed_order_helpline.label }}</td>
      <td>{{ form.confirmed_order_helpline }}</td>
      {% if form.confirmed_order_helpline.errors %}
      <td class="error">{{ form.confirmed_order_helpline.errors }}</td>
      {% endif %}
    </tr>
  </table>

  <div class="fb fdgray prof_sub_head">Smtp and sms settings</div>
  <table class="tbl_profile">
    <tr>
      <td width="140" class="f11 fdgray">{{ form.sms_mask.label }}</td>
      <td>{{ form.sms_mask }}</td>
      {% if form.sms_mask.errors %}
      <td class="error">{{ form.sms_mask.errors }}</td>
      {% endif %}
    </tr>
  </table>

  <div class="fb fdgray prof_sub_head">Account type</div>
  <table class="tbl_profile">
    <tr>
      <td width="140" class="f11 fdgray">{{ form.type.label }}</td>
      <td>{{ form.type }}</td>
      {% if form.type.errors %}
      <td class="error">{{ form.type.errors }}</td>
      {% endif %}
    </tr>
  </table>

  <div class="fb fdgray prof_sub_head">Contact</div>
  <table class="tbl_profile">
    <tr>
      <td width="140" class="f11 fdgray">{{ form.customer_support_no.label }}</td>
      <td>{{ form.customer_support_no }}</td>
      {% if form.customer_support_no.errors %}
        <td class="error">{{ form.customer_support_no.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td width="140" class="f11 fdgray">{{ form.primary_email.label }}</td>
      <td>{{ form.primary_email }}</td>
      {% if form.primary_email.errors %}
        <td class="error">{{ form.primary_email.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.secondary_email.label }}</td>
      <td>{{ form.secondary_email }}</td>
      {% if form.secondary_email.errors %}
         <td class="error">{{ form.secondary_email.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.primary_phone.label }}</td>
      <td>{{ form.primary_phone }}</td>
      {% if form.primary_phone.errors %}
          <td class="error">{{ form.primary_phone.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray">{{ form.secondary_phone.label }}</td>
      <td>{{ form.secondary_phone }}</td>
      {% if form.secondary_phone.errors %}
          <td class="error">{{ form.secondary_phone.errors }}</td>
      {% endif %}
    </tr>
  </table>

  <div class="fb fdgray prof_sub_head">Policies</div>
  <table class="tbl_profile">
    <tr>
      <td width="140" class="f11 fdgray">{{ form.shipping_policy.label }}</td>
      <td ><style>textarea{overflow:hidden; height:58px; font-size:12px;}</style>{{ form.shipping_policy }}</td>
      {% if form.shipping_policy.errors %}
      <td class="error">{{ form.shipping_policy.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td width="140" class="f11 fdgray" >{{ form.returns_policy.label }}</td>
      <td>{{ form.returns_policy }}</td>
      {% if form.returns_policy.errors %}
      <td class="error">{{ form.returns_policy.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td width="140" class="f11 fdgray">{{ form.tos.label }}</td>
      <td>{{ form.tos }}</td>
      {% if form.tos.errors %}
      <td class="error">{{ form.tos.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td width="140" class="f11 fdgray">{{ form.dni.label }}</td>
      <td>{{ form.dni }}</td>
      {% if form.dni.errors %}
      <td class="error">{{ form.dni.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td width="140" class="f11 fdgray">{{ form.greeting_title.label }}</td>
      <td>{{ form.greeting_title }}</td>
      {% if form.greeting_title.errors %}
      <td class="error">{{ form.greeting_title.errors }}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="f11 fdgray" width="140">{{ form.greeting_text.label }}</td>
      <td>{{ form.greeting_text }}</td>
      {% if form.greeting_text.errors %}
      <td class="error">{{ form.greeting_text.errors }}</td>
      {% endif %}
    </tr>
  </table>

  <br />
  <table>
    <tr>
      <td><INPUT TYPE="submit" id="submit_button" VALUE="Save" class="grayButton">
        &nbsp;	&nbsp;&nbsp;
        <input type="reset" class="grayButton" value="Cancel">
      </td>
    </tr>
  </table>
  </form>
</div>

<div class="clear"></div>

{% endblock %} 
