{%load web_tags%}
{%load cc_tags%}
{%for item in products%}
    <li>
    <div class="greed_prod">                  
    {%for earmark in earmark_tags%}
        {%if earmark.product == item.sku.product%}
            {%if earmark.tag.tag == 'limited-stock'%}
                <div class="tag_limited_stock"> </div>
            {%else%}{%if earmark.tag.tag == 'hot-seller'%}
                <div class="tag_most_stolen"> </div>
            {%endif%}{%endif%}
        {%endif%}
    {%endfor%}
     <a href="{%cc_url request item.sku.product.url%}" class="tdnone">
      <img width="208" height="262" src="{{item.sku.product.battle_image_url}}" title="{{item.get_item_title}}" alt="{{item.get_item_title}}">
       <div class="battle_you_save fblack">Save<br>
                <span class="WebRupee">Rs.</span> {%getSavings request item.sku%}               
              </div>
       </a>
          <h3><a href="{%cc_url request item.sku.product.url%}" title="{{item.get_item_title}}">{{item.get_item_title|truncate:45}}</a></h3>
          <div class="ca f11 padb10 prod_features" title="{{item.get_features|join:"&middot;"|safe}}">
               {{item.get_features|join:"&middot;"|safe|truncate:100}} 
	  </div>
   <!-- <div class="battle_you_save spthree">You Steal <span class="battle_save_value"><span class="WebRupee">Rs.</span> {%getSavings request item.sku%}</span></div>-->
    <div class="price ca">
    {%if item.sku.product.brand.name != 'Sony'  or item.sku.product.brand.name != 'Dell' %}
    <div class="marb5">{% get_price_info request item.sku 'list_price_label' %} <span class="WebRupee">Rs.</span> {% get_price_info request item.sku 'list_price' %}</div>
    {%else%}
    <br />
    {%endif%}
    <div class="fb forange marb5 f18">Battle Price: <span class="WebRupee">Rs.</span> {% get_price_info request item.sku 'offer_price' %}</div>
    <div class="ca">
    <a href="{%cc_url request item.sku.product.url%}">
    <button class="btn btn_buynow"></button></a>
    </div>
    
    </div>
    </li>
{%endfor%}
