{%extends "web/base.html"%}
{%load web_tags%}
{%load cc_tags%}
{%block content%}

  {%if promotion and promotion.detail_page_banner %}
      <div class="deals marb10 mart10">
            <div id="promotion_deal" class="promotion_detail_banner">
                <img src="{{promotion.detail_page_banner.url}}" width="988" height="232"/> 
            </div>
      </div>
  {%endif%}
<div id="breadcrumb" class="fdgray"><a href="/">Home</a> &raquo; {{promotion.title}}</div>
{%if products%}
{%include "categories/filters.html"%}
<div id="content_area">
  <div class="search_header">
    <h1>{{promotion.title}}</h1>
    </div>
  <div class="sort_bar">
    <div class="f12 left fb"> Sort by&nbsp;
    <select id="sort_by" class="pad0 f12">
        <option id="reldesc" value="{%filter_href request "sort" "reldesc" %}" {% if sort == 'popular'%} selected="selected" {% endif %} >Popularity</option>
        <option id="discountdesc" value="{%filter_href request "sort" "discountdesc" %}" {% if sort == 'discountdesc'%} selected="selected" {% endif %}>Discount</option>
        <option id="priceasc" value="{%filter_href request "sort" "priceasc" %}" {% if sort == 'priceasc'%} selected="selected" {% endif %}>Price: Low to High</option>
        <option id="pricedesc" value="{%filter_href request "sort" "pricedesc" %}" {% if sort == 'pricedesc'%} selected="selected" {% endif %}>Price: High to Low</option>
    </select>
    <select id="perpage" class="pad0 f12">
        <option value="15" {% if perpage == 15 %} selected="selected" {% endif %} >15 deals per page</option>
        <option value="30" {% if perpage == 30 %} selected="selected" {% endif %} >30 deals per page</option>
        <option value="45" {% if perpage == 45 %} selected="selected" {% endif %} >45 deals per page</option>
    </select>
      </div>
      
      <div class="right f12 top_nav_status fb"></div>
    <div class="clear"></div>
  </div>
  <div class="greed_view">
    <ul class="greed" id="greed_products">
        {#get_grid_products request products show_compare pagination#}
    </ul>
     <div id="go_top" class="go_top mart20"><a href="#">Go Back to Top</a></div>
  </div>
  <div class="clear"></div>
  <div id="ajax_loader" class="ca mart10"><img src="{{MEDIA_URL}}images/ajax-loader.gif" ></div>
  {%if pagination.enable_next%}
  <div class="fb f16 mart10 pad5 rc5 hide" id="see_more_tab">
    <div class="ca cp see_more_deals" >See More Deals</div>
    <div class="clear"></div>
  </div>
  {%endif%}
  <input type="hidden" id="items_per_page" value="{{pagination.items_per_page}}" />
  <input type="hidden" id="total_pages" value="{{total_pages}}" />
</div>
{%else%}
<div class="padl200">
  <div class="f14 ca"> <strong>Your search <span class="forange">{%if request.GET.q%}"{{request.GET.q}}"{%endif%}</span> did not match any products on FutureBazaar.</strong> </div>
  <br />
  <div>
   <strong>Suggestions :</strong><br />
    <ul>
      <li>Make sure all words are spelled correctly.</li>
      <li>Make sure you have selected correct category.</li>
    </ul>
    <div> <a href="/">Click here</a> to go to Home </div>
  </div>
</div>
{%endif%}
{%endblock%}
{%block script_footer%}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
    var per_page = $("#perpage").val();
    var action = "{{pagination.base_url|safe}}" + "page=1&perpage=" + per_page;
    var data = "";
    $("#ajax_loader").removeClass("hide");
    $("#see_more_tab").addClass("hide");
    var onSuccess = function(response){
        $("#greed_products").html(response);
        $("#ajax_loader").addClass("hide");
        $("#see_more_tab").removeClass("hide");
    };
    var onError = function(){};

    $.ajax({
        url : action,
        data : data,
        success : onSuccess,
        error : onError,
        type: "GET"
    });
    return false;
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#sort_by").change(function(){
        var url = $("#sort_by").val();
        var path = "{{request.path}}";
        var option_id = $(this).find("option:selected").attr("id");
        $("#form_sort").val(option_id);
        if(path != url ){
            location.href = url;
        }
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    var nxt_page_no = 2;
    var total_pages = $("#total_pages").val();
    if(nxt_page_no > total_pages){
        $("#see_more_tab").addClass("hide");
    };
    var status = "1 - {{pagination.result_to}} of {{total_results}} Items";
    $(".see_more_deals").html("Click Here to See More Deals (" + status + ")");
    $(".top_nav_status").html(status);
    $("#perpage").change(function(){
        $("#form_perpage").val($("#perpage").val());
        $("#see_more_tab").click();
    })
    $("#see_more_tab").click(function(){
        total_pages = $("#total_pages").val();
        var items_per_page = $("#items_per_page").val();
        $("#ajax_loader").removeClass("hide");
        $("#see_more_tab").addClass("hide");
        var per_page = $("#perpage").val();
        if(items_per_page == per_page){
            var action = "{{pagination.base_url|safe}}" + "page=" + nxt_page_no + "&perpage=" + per_page;
            var is_perpage_changed = false;
        }
        else{
            nxt_page_no = 1;
            var action = "{{pagination.base_url|safe}}" + "page=" + nxt_page_no + "&perpage=" + per_page;
            var is_perpage_changed = true;
        }
        var data = "";
        var onSuccess = function(response){
            if(is_perpage_changed){
                $("#greed_products").html(response);
                location.href = "#";
            }
            else{
                $("#greed_products").append(response);
                var OffsetTarget = "#grid_page_" + nxt_page_no;
                $("html,body").animate({scrollTop:$(OffsetTarget).offset().top}, 1000,"linear" , function(){});
            }
            $("#see_more_tab").removeClass("hide");
            $("#ajax_loader").addClass("hide");
            nxt_page_no += 1;
            total_pages = $("#total_pages").val();
            if(nxt_page_no > total_pages){
                $("#see_more_tab").addClass("hide");
            }
        };
        var onError = function(){};

        $.ajax({
            url : action,
            data : data,
            success : onSuccess,
            error : onError,
            type: "GET"
        });
        return false;
    });
    
    //go back to top
    $(window).scroll(function(){
      var winheight= ($(window).height());
      var scrolltop=($(window).scrollTop());      
        
        if (scrolltop > winheight)
        {
            $('.go_top').css('display','block').fadeIn(500);
        }
        else
        {
            $('.go_top').css('display','none').fadeOut(500);
        }       
    });
})
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.sort').change(function(){
        var url = $(this).val();
        var p = $('#' + url).val();
        location.href=p;
    });
    $('.per_page').change(function(){
        var items = $(this).val();
        var url = $('#perpage').val();
	var re = new RegExp('perpage=[0-9]+');
        url = url.replace(re,'perpage=' + items);
        location.href = url;
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    {%if products%}
    var slider_discount = $("#slider-range-discount").slider({
            range: true,
            min:{{filter_form.dmin}},
            max:{{filter_form.dmax}},
            values: [{{filter_form.dlmin}},{{filter_form.dlmax}} ],
            slide: function(event, ui) {
                $("#discount-slide").html(ui.values[0] + '%' + ' - ' + ui.values[1] + '%');
                $("#id_min_discount").val(ui.values[0]);
                $("#id_max_discount").val(ui.values[1]);
                var step = 10;
                if (ui.values[0] >= 0 && ui.values[1] <= 100)
                    step = 10;
                if (ui.values[0] >= 100 && ui.values[1] < 1000)
                    step = 100;
                if (ui.values[0] >= 1000)
                    step = 500;
                slider.slider('option','step',step);
            },
            stop : function(event, ui) {
                $('#filter_form').submit();
            }
    });
    $("#discount-slide").html({{filter_form.dlmin}} + " % - " + {{filter_form.dlmax}} + " %" );
    $("#id_min_discount").val($("#slider-range-discount").slider("values", 0));
    $("#id_max_discount").val($("#slider-range-discount").slider("values", 1));
    var slider = $(".slider-range").slider({
            range: true,
            min:{{filter_form.gmin}},
            max:{{filter_form.gmax}},
            values: [{{filter_form.cmin}},{{filter_form.cmax}} ],
            slide: function(event, ui) {
                $(".points-slide").html(ui.values[0]*4 + ' - ' + ui.values[1]*4);
                $(".amount").html('Rs ' + ui.values[0] + ' - Rs ' + ui.values[1]);
                $("#id_min").val(ui.values[0]);
                $("#id_max").val(ui.values[1]);
                var step = 10;
                if (ui.values[0] >= 0 && ui.values[1] <= 100)
                    step = 10;
                if (ui.values[0] >= 100 && ui.values[1] < 1000)
                    step = 100;
                if (ui.values[0] >= 1000)
                    step = 500;
                slider.slider('option','step',step);
            },
            stop : function(event, ui) {
                $('#filter_form').submit();
            }
    });
    $(".points-slide").html( $(".slider-range").slider("values", 0)*4 + " - " + $(".slider-range").slider("values", 1)*4);
    $(".amount").html("<span class='WebRupee'>Rs.</span> " + $(".slider-range").slider("values", 0) + " - <span class='WebRupee'>Rs.</span> " + $(".slider-range").slider("values", 1));
    $("#id_min").val($(".slider-range").slider("values", 0));
    $("#id_max").val($(".slider-range").slider("values", 1));
    
    {%endif%}
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $(".filters a").click(function() {
        if ($(this).attr("t") == 'hide'){
            elems = $('input[name=' + $(this).attr("field") + ']');
            for(var i=0; i<elems.length; i++){
                elems[i].checked = false;
            }
        }
        if($(this).attr("t") == 'show'){
            elems = $("input[name="+ $(this).attr("field") + "]");
            for(var i=0; i<elems.length; i++){
                elems[i].checked = true;
            }
            $('#filter_form').submit();
        }
    });

    $(".filters input[type=checkbox]").click(function() {
        $('#filter_form').submit();
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_compare").click(function(){
        var url = window.location.pathname;
        var flag = 0;
        url += 'compare/';
        jQuery.each($('.selected'),function(){
                if($(this).attr('checked')){
                    flag += 1;
                    url += $(this).val() + '/';
                }
            });
        if(flag > 1){
            location.href = url;
        }
        else{
            alert("Please Select minimum 2 Products to compare.");
        }
    });
    $('.selected').click(function(){
        var flag = 0;
        jQuery.each($('.selected'),function(){
                if($(this).attr('checked')){
                    flag += 1;
                }
            });
        if(flag == 4){
            $(this).removeAttr("checked");
            alert("You can select Maximum 3 Products to compare.");
        }
    });
});
</script>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
	$('.filter_option').click(function(){
		var div_name = $(this).attr('id') + '_filter';
		var div = $('#' + div_name);
		if(div.hasClass('hide')){
			div.removeClass('hide');
			$(this).removeClass('hide_filter');
			$(this).addClass('show_filter');
		}
		else{
			div.addClass('hide');
			$(this).removeClass('show_filter');
			$(this).addClass('hide_filter');
		}	
	});
});	
</script>   
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    var option_id = $("#sort_by").find("option:selected").attr("id");
    $("#form_sort").val(option_id);
    $("#form_perpage").val($("#perpage").val());
	$('.filter_option_discount').click(function(){
		var div_name = $(this).attr('id') + '_filter';
		var div = $('#' + div_name);
		if(div.hasClass('hide')){
			div.removeClass('hide');
			$(this).removeClass('hide_filter');
			$(this).addClass('show_filter');
		}
		else{
			div.addClass('hide');
			$(this).removeClass('show_filter');
			$(this).addClass('hide_filter');
		}	
	});
});
</script>   
{%endblock%} 
