{%extends "web/base.html"%}
{%load web_tags%}
{%load cc_tags%}
{% block page_desc %}A Top10 list of products meant to cater to your needs at various stages in life. Futurebazaar is taking ideas from subject experts to create a list of products that would help you best tide over requirements in life{% endblock %}

{%block content%}
<div id="top10_deals" class="mart10">
<div class="top_deals_content">
<div class="top10_title">
  <h1 class="top10_title_inner left"> {{list.title}}</h1>
  <div class="top10deals_share left">
      <div class="share_text left">Tell your friends</div>
      <div class="left">
      <a href="http://www.facebook.com/sharer.php?u=http://{{request.client.domain}}/{{list.get_url}}&t=Top10 Picks" target="_blank" class="facebook" onclick="return fbs_click('http://{{request.client.domain}}/{{list.get_url}}', 'Top10 Picks')" rel="nofollow"/></a> <a href="http://twitter.com/share" target="_blank" class="twitter" onclick="return twit_click('http://{{request.client.domain}}/{{list.get_url}}','','')" rel="nofollow"/></a> <a href="mailto:?subject=Share%20Deal&body=http://{{request.client.domain}}/{{list.get_url}}"class="mail"></a>
      </div>
      <div class="clear"></div> 
  </div>
  <div class="clear"></div>
</div>
{% if list.detail_page_banner%}
<div class="top10_inner_banner">
<img src="{{list.detail_page_banner.url}}"/>
{%if list.curator.twitter%}
 <a target="_blank" href="http://twitter.com/{{list.curator.twitter}}">
   <div class="top10_comment_followme1" style="width:180px; height:20px; position:absolute; left:145px; bottom:84px;"> 
    </div>
    </a>     
{%endif%}
</div>
{%endif%}
<div class="clear"></div>
<form method="post" action="{{request.path}}" name="items_buy_form" id="items_buy_form">
  <div class="rc5 selectbar">
    <div>
    <div class="left marr10"><a href="JavaScript:void()" class="select_all" title="Select All">Select All</a></div> <div class="left marr10"><a href="JavaScript:void()" class="unselect_all" title="Unselect All">Unselect All</a></div>
   <div class="left marr10"><button type="submit" class="btn btn_buy_selected mar7" title="Buy selected items"></button></div>
      {%if show_buy_msg%}&nbsp;&nbsp;&nbsp;<span class="buy_msg error pad5">Please select at least one item to buy.</span>{%endif%} 
      </div>
      <div class="clear"></div>
  </div>
  {% for item in list.get_active_items %}
  <div class="{%add_class "top10_item" forloop.counter %} top10_item rc5" {%if forloop.counter == 1 %} style="vertical-align:top;"{%endif%}>
  <div class="top10_sr">{{forloop.counter}}</div>
  <input type="checkbox" class="top10_item_checkbox" name="item_{{item.sku.id}}"/>
  <a href="{%cc_url request item.sku.product.url%}"><img src="{{item.get_thumb_image}}" width="140" height="140" alt="{{item.get_item_title}}" title="{{item.get_item_title}}" class="top10_item_img"/></a>
  <div class="left top10_item_desc">
    <h1><a href="{%cc_url request item.sku.product.url%}" title="{{item.get_item_title}}">{{item.get_item_title}}</a></h1>
    <p class="f11">{{item.get_desc|truncatewords:70|striptags}}
      {%if item.get_desc|wordcount > 70 %} <a href="{%cc_url request item.sku.product.url%}" title="Read More">Read More &rsaquo;</a> {%endif%} </p>
  </div>
  <div class="top10_price">
    <div class="deal_price"><span class="WebRupee">Rs. </span>{% get_price_info request item.sku 'offer_price' %}</div>
    <div class="mp">{% get_price_info request item.sku 'list_price_label' %} <span class="WebRupee">Rs. </span>{% get_price_info request item.sku 'list_price' %}</div>
    {%if request|isAnySaving:item.sku %}
    <div class="save">You Steal : <span class="fred"><span class="WebRupee">Rs. </span>{%getSavings request item.sku%} ({% getDiscount request item.sku %}%)</span></div>
    {%endif%}
    <a href="{%cc_url request item.sku.product.url%}" class="f11" title="View Product Details">View Product Details &rsaquo;</a> </div>
  <div class="clear"></div>
  </div>
  {%endfor%}
  <div class="rc5 selectbar">
    <div>
    <div class="left marr10"><a href="JavaScript:void()" class="select_all" title="Select All">Select All</a></div> <div class="left marr10"><a href="JavaScript:void()" class="unselect_all" title="Unselect All">Unselect All</a></div>
   <div class="left marr10"><button type="submit" class="btn btn_buy_selected mar7" title="Buy selected items"></button></div>
      {%if show_buy_msg%}&nbsp;&nbsp;&nbsp;<span class="buy_msg error pad5">Please select at least one item to buy.</span>{%endif%} 
      </div>
      <div class="clear"></div>
  </div>
  
  </div>
</form>
<div class="top_deals_rightbar">
  <div class="top10_rightbar_inner">
    <div class="top10-tag"></div>
    <h3>More TOP 10 Deals</h3>  
    {%for list in more_lists%}
        <h4 class="fn f12"><a href="{%cc_url request list.url %}" title="Top 10 {{list.title}}">Top 10 {{list.title}}</a></h4>  
        {%if list.detail_page_thumb_banner %}    
             <a href="{%cc_url request list.url %}" title="Top 10 {{list.title}}"><img width="260" height="136" src="{{list.detail_page_thumb_banner.url}}" class="marb20" title="Top 10 {{list.title}}" alt="Top 10 {{list.title}}"/></a>
        {%endif%}
    {%endfor%} </div>
</div>
<div class="clear"></div>
</div>
{% endblock %}
{% block script_footer %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
    $(".select_all").click(function(){
        elems = $("input[type='checkbox']");
        for(var i=0; i<elems.length; i++){
            elems[i].checked = true;
        }
    });

    $(".unselect_all").click(function(){
        elems = $("input[type='checkbox']");
        for(var i=0; i<elems.length; i++){
            elems[i].checked = false;
        }
    });

    $(".top10_item_checkbox").click(function(){
        $(".buy_msg").addClass("hidden");
    });
});
</script>
{%endblock%} 
