{% extends 'web/ppd_base.html' %}
{% load ppd_tags %}

{% block content %}

{% if loggedin %}
     <div class="user_account_tabs" id="user_account_tabs">
                  <div class="left menu">
                         {%include "ppd/acc_section_display.html"%}
                  </div>
     </div>
{% endif %}
<form name="fulfillment" id="fulfillment_form" action="blank" method="POST">
Pincode: <input type="text" name="pincode" value="{{pincode}}" /><br />
SAP Article ID: <input type="text" name="article_id" value="{{article_id}}" /><br />
SKU ID: <input type="text" name="skuId" value="{{skuId}}" /><br />
Quantity: <input type="text" name="quantity" value="{{quantity}}" /><br />
Paytype: <select name="paytype" id="paytype_id" class="f10 fgray">
<option class="f11 fdgray option" {%ifequal "ppd" paytype %} selected="selected"{%endifequal%} value="ppd">Prepaid</option>
<option class="f11 fdgray option" {%ifequal "cod" paytype %} selected="selected"{%endifequal%} value="cod">COD</option>
</select>
</br>
Client: {{client}} </br>
<input type="submit" value="Submit" />
</form>

{%if flag == 'submitted' %}
    
{% if errors %}
    <div class="orders_msg rc5">
        <div class="rc5 error">       
            {% for error in errors %}
                     {{error}}</br>
            {% endfor %}   
        </div>
    </div>   
{% endif %}
{% if not errors%}
    <strong>This order can be fulfilled!</strong></br>
    Product fulfillment Information</br>
    Pincode belongs to ZipGroups : </br>
    {%for zipgroup in zipgroups%}
        <strong>{{zipgroup}}</strong></br>
    {% endfor %}
    Inventory availability time (Only mentioned for primary DC) :<strong> {{inventoryTime}} days</strong></br>
    Total Delivery Time is : <strong>{{totalDeliveryTime}} days</strong></br>
    Quantity found in all DCs : <strong>{{totalQuantityFound}}</strong></br>
    Primary DC and LSP are : <strong>{{primaryDCLsp.0.0}} - {{primaryDCLsp.0.1}}</strong></br>
    Fulfillment Messages : <strong>{{flfMessages}}</strong></br>
    Ship Local Only flag : <strong>{{isShipLocalOnly}}</strong></br>
    High Value flag : <strong>{{isHighValue}}</strong></br>
    Inventory Check tag : <strong>{{isInvCheck}}</strong></br>
    Ordered Sequence of DC-LSP for this fulfillment inputs:</br> 
    {%for dclsp in dcLspSequence%}
        <strong>{{dclsp.0}} - {{dclsp.1}} </strong></br> 
    {% endfor %}
    Stock availability for DCs(Physical+Virtual):</br>
    {%for dcstock in dcStockString%}
        <strong>{{dcstock.0}} - {{dcstock.1}} </strong></br> 
    {% endfor %}
    Physical Stock available for each DC:</br>
    {%for dcstock in dcPhysicalStockString%}
        <strong>{{dcstock.0}} - {{dcstock.1}} </strong></br> 
    {% endfor %}
    Mode of transport (Only for selected Primary DC-LSP combination):<strong> {{modeOfTransport}}</strong></br>
    Can all Quantity be fulfilled from primary DC? :<strong> {{isAllQuantityFulfilled}}</strong></br>
{% endif %}    
{% endif %}    
{% endblock %}
{% block script_footer %}
    <script type="text/javascript">
        $("#back_button").click(function(){
            history.go(-1);
            return true;
        })
    </script>
{% endblock %}

