			<div class="question_details_container"><!-- div web module details container -->
				<div style="background-color:#f9f9f9"><!-- div gray background -->
					<div class="question_details"> <!-- div web_module_details -->
						<div class="separator-bottom f18 fb fdgray">Nested Question Details</div>
						<div class="divider-top"><!-- div divider top -->
							<div class="mart20"> <!-- div main -->
								<div class="details left"><!-- div left part -->
									<div class="left f11 w110 marb5">{{ form.question.label }}<span class="red">*</span></div>
									<div class="left w350 marb5">{{ form.question }}</div>									
								</div><!-- /div left part -->
								<div class="details left"><!-- div right part -->
									<div class="marl100 left f11 w110 marb5">{{ form.answer_type.label }}<span class="red">*</span></div>
									<div class="left w250 marb5">{{ form.answer_type }}</div>
									<div class="marl100 left f11 w110 marb5">{{ form.type.label }}<span class="red">*</span></div>
									<div class="left w250 marb5">{{ form.type }}</div>
								</div><!-- /div right part -->
								<div class="clear"></div>
							</div><!-- /div main -->
						</div><!-- /div divider top -->
						<div class="clear">&nbsp;</div>
					</div><!-- /div web_module_details -->
				</div><!-- /div gray background -->
                <div class="clear">&nbsp;</div>

				<!--************ FIELD FORM **************-->
				<div id="item_wrapper f11" class="marl10"><!-- div item wrapper -->
                	<a class="toggle-down-arrow arrow-right item_link" id="field_options_{{count}}" title="Click here to add fields" href="#">Add Fields</a>
                </div><!-- /div item wrapper -->
				<div id="field_options_{{count}}_div" class="hide clear"> <!-- div option_details -->
					<div class="divider-top"><!-- div divider top -->
						<div class="mart5"> <!-- option form div-->
							{{field_formset.management_form}}
							{% for i in field_formset.forms %}
								<div class="formgroup">
									{% if i %}
										<div class="padb5 padt5 marb5 left seller-rate-chart" style="background-color:#fefefe; width:100%"><!-- div list part -->
											<div class="left flgray f11 w110 marl10 ">{{ i.field_label.label }}</div>
											<div class="left w250">{{ i.field_label }}</div>
											<div class="left flgray f11 w110 marl10 ca">{{ i.field_type.label }}</div>
                                            <div class="left w250 seller-dropdown">{{ i.field_type }}</div>
										</div><!-- /div list part -->
										<div class="clear"></div>
									{% endif %}
								</div>
							{% endfor %}
						</div><!-- /div option form -->
						<div class="left">
							<input title='Add new field' type='submit' name='addfield' id='addfield' value='+ Add Field' class="btn_c btn_c_s" />
						</div>
						<div class="clear or_hr marb10">&nbsp;</div>

					</div><!-- /div divider top -->
				</div><!-- /div option_details -->
				<!-- ********** FIELD OPTIONS FORM **************** -->
				<div class="clear border-dotted-gray"></div>
				<!--************ OPTIONS FORM **************-->
				<div id="item_wrapper f11" class="marl10"><!-- div item wrapper -->
                	<a class="toggle-down-arrow arrow-right item_link" id="add_options_{{count}}" title="Click here to add options" href="#">Add Options</a>
                </div><!-- /div item wrapper -->
				<div id="add_options_{{count}}_div" class="hide clear"> <!-- div option_details -->
					<div class="divider-top"><!-- div divider top -->
						<div> <!-- option form div-->
							{{option_formset.management_form}}
							{% for i in option_formset.forms %}
								<div class="formgroup">
									{% if i %}
										<div class="padb5 padt5 marb5 left seller-rate-chart" style="background-color:#fefefe; width:100%"><!-- div list part -->
											<div class="left flgray f11 w110 marl10 ">{{ i.value.label }}</div>
											<div class="left w250">{{ i.value }}</div>
                                            <div id="item_wrapper f11" class="marl10"><!-- div item wrapper -->
                                                <input type="checkbox" value="Has nested question" class="nested_check" id="nested_{{forloop.counter0}}_{{count}}">Has Nested Question</input>
                                            </div><!-- /div item wrapper -->
                                            <div id ="nested_{{forloop.counter0}}_{{count}}_div" class="hide clear padt10"></div><!-- Nested question div -->
										</div><!-- /div list part -->
										<div class="clear"></div>
									{% endif %}
								</div>
							{% endfor %}
						</div><!-- /div option form -->
						<div class="left">
							<input title='Add new option' type='submit' name='addoption' id='addoption' value='+ Add Option' class="btn_c btn_c_s" />
						</div>
						<div class="clear or_hr marb10">&nbsp;</div>
					</div><!-- /div divider top -->
				</div><!-- /div option_details -->
				<!-- ********** END OPTIONS FORM **************** -->

			<div class="clear">&nbsp;</div>
			<div class="right">
				<INPUT TYPE="submit" id="save" VALUE="Save" class="btn_c btn_c_s btn_orange" name="save" />
			</div>
			</div><!-- /div web_container -->
<script type="text/javascript">

$('.item_link').toggle(
    function(){	
		var e = this.id;
		var k = e+"_div";
        //$('#item_form').show();
		$('#'+k).slideDown();
		$(this).removeClass('toggle-down-arrow');
		$(this).addClass('toggle-up-arrow');
    },
    function(){
		var e = this.id;
		$('#'+e+'_div').slideUp();
//		$('#'+e+'_item').removeclass('hide');
        //$('#item_form').hide();
		$(this).removeClass('toggle-up-arrow');
		$(this).addClass('toggle-down-arrow');
    }
);

$('.nested_check').toggle(
    function(){	
		var e = this.id;
		var k = e+"_div";
		$('#'+k).slideDown();

        var url = '/question/add_nested_question/';
        
        var onsuccess = function(data, textstatus, xhr) {
            $('#'+k).html(data);
        };
        var onerror = function(xhr, textstatus, error) {
            $('#'+k).html(xhr.responsetext);
        };
        var data = 'count='+e;
        $.ajax({ url: url,
            data : data,
            success : onsuccess,
            error : onerror,
            type : 'GET'
        });
        
        return false;
    },
    function(){
		var e = this.id;
		$('#'+e+'_div').slideUp();
    }
);
</script>
