{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}
<form action="" method="post">
{% csrf_token %}
<div class="change_pw pad10">
 <div class="marb20"> Use the form below to change your password for your futurebazaar.com account.</div>

   {% if form.errors %}
        <div class="error">
            <ul style="margin:0px;">
                {% for field in form %}
                {% for error in field.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
   {% endif %}

  <div> <label>Old Password<span class="fred">*</span></label><br />
    {{form.old_password}} 
  </div>
  <div> <label>New Password<span class="fred">*</span></label><br />
    {{form.new_password1}} 
  </div>
  <div> <label>Retype Password<span class="fred">*</span></label><br />
    {{form.new_password2}}
  
  </div>
  <div>
    <input type="submit" value="" class="btn btn_change_pw"/>
  </div>
</div>
</form>
{%endblock%} 
