{% extends 'web/base.html' %}
{%load cc_tags%}
{% block content %}
<div id="my_account">
    {%block account_head %}
   <h1>My Account</h1>
   {%endblock%}
     {% if request.user.is_authenticated %}
   <div class="tabs_wrapper">
        <ul class="tabs">
          <li id="tab_my_orders" {% ifequal acc.section 'orders'%}class="sel_tab"{%endifequal%}><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/orders/'%}"{%endifequal%}>My Orders</a></li>
          <li id="tab_wishlist" {% ifequal acc.section 'wishlist'%}class="sel_tab"{%endifequal%}><a href="{%cc_url request 'user/wishlist/'%}">Wishlist</a></li>    
       <li {% ifequal acc.section 'notification'%}class="sel_tab"{%endifequal%}><a href="{%cc_url request 'user/notification/'%}" >My Subcriptions</a></li>
        <li {% ifequal acc.section 'profile'%} class="sel_tab"{%endifequal%}><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/profile/'%}"{%endifequal%}>My Profile</a></li>
         <li {% ifequal acc.section 'address'%}class="sel_tab"{%endifequal%}><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/address/'%}"{%endifequal%}>Address Book</a></li>
          <li {% ifequal request.path '/user/change_password/' %}class="sel_tab"{%endifequal%}><a href={%ifequal logged_user.buyer_or_seller "Seller"%}"{%cc_url request 'seller/orders/'%}"{%else%}"{%cc_url request 'user/change_password/'%}"{%endifequal%}>Manage Password</a></li>
        </ul>      
        <div class="clear"></div>
      </div>  
      {%endif%} 

<div>
  
        <div class="user_account_content">
            {% block user_content %}
            {% endblock %}
            {% block user_script %}
                <script type="text/javascript">
                    
                </script>
            {% endblock %}
        </div>
    </div>
</div>
</div>
<!--<script language="javascript" type="text/javascript">

    	$('#wishlist').click(function(){
		$(this).addClass('sel_tab');
		$('#my_orders').removeClass('sel_tab');
		$('.wishlist').removeClass('sel_tab');
		$('.wishlist').removeClass('sel_tab');
		$('.wishlist').removeClass('sel_tab');
		$('.wishlist').removeClass('sel_tab');
		$('.wishlist').removeClass('sel_tab');
		
				
			$('.tab1').removeClass('hide');
			$('.tab1').addClass('show');
			$('.tab2').addClass('hide');
			$('.tab3').addClass('hide');			
			$('.tab2').removeClass('show');
			$('.tab3').removeClass('show');		
		
	});
	
	$('.tab_spec').click(function(){		
		$(this).addClass('sel_tab');
		$('.tab_overview').removeClass('sel_tab');
		$('.tab_acc').removeClass('sel_tab');		
			$('.tab2').removeClass('hide');
			$('.tab1').addClass('hide');
			$('.tab2').addClass('show');
			$('.tab3').addClass('hide');	
			
			$('.tab1').removeClass('show');
			$('.tab3').removeClass('show');		
		
	});
	
	$('.tab_acc').click(function(){		
		$(this).addClass('sel_tab');
		$('.tab_overview').removeClass('sel_tab');
		$('.tab_spec').removeClass('sel_tab');		
			$('.tab3').removeClass('hide');
			$('.tab1').addClass('hide');
			$('.tab2').addClass('hide');
			$('.tab3').addClass('show');			
			$('.tab2').removeClass('show');
			$('.tab2').removeClass('show');			
		
	});
	
  </script>-->
{% endblock %}
