{% extends 'web/base.html' %}
{% block content %}
{% load cc_tags %}
{% load web_tags %}
<div class="user_info">
<div class="bgskyblue pad20">
<h1 class="flblue marb10">Check your email and mobile</h1>

<p>Aww, how could you! No worries, we've sent the instructions to your email and mobile. Go check it! And you can keep this page open while you check.
</p>

<form action='/password_info_sent/' method='POST'>
<input style="display:none" type="text" id="id" name="profile" value="{{profile.id}}" />

{%if errors%}
<div class="marb10 error w200">{{errors}}</div>
{%endif%}
<div id="tr_error" class="hide_div error">{{error}}</div>
<div class="fdgray">Enter password reset code</div>
<div><input type="text" id="code" name="code" value="{{code}}" /></div>
<div class="mart10"><button type="submit" id="submit" class="btn btn_submit" title="Submit"></button></div>


</form>
</div>
</div>
<script type="text/javascript" language="javascript">   
    $('#submit').click(function(){

        var url = "/user/checkcode/";
        var data = 'profile_id=' + {{profile.id}} + '&code=' + $('#code').val();
        var onSuccess = function(response) {
            var response = $.parseJSON(response); 
            if(response.status == 'ok'){
                $('#tr_error').removeClass('show_div');
                $('#tr_error').addClass('hide_div');
            }
            else{
                $('#tr_error').addClass('show_div');
                $('#tr_error').removeClass('hide_div');
                $('#errors').html(response.error);
                return False;
            }
        };
        var onError = function() {
        };

        $.ajax({ url:url,
               data : data,
               success : onSuccess,
               error : onError,
               type : 'POST'
               });
        //return false;
    });

    $('#code').keyup(function(e)
    {  
        var change = 1;
        if(e.which == '36' || e.which == '35' || e.which == '37' || e.which == '39' || e.which == '46' || e.which == '8'){
            change = 0;
        }
        var onSuccess = function(responseText){
           if(responseText){
                if(change){
                  $('#code').val(responseText);
                }
           }
           else{
               $('#code').val('');
           }
        };
        var onError = function(){
        };
        var action = '/get_numeric/';
        var data = 'data=' + $('#code').val();

        $.ajax({
            url : action,
            data : data,
            success : onSuccess,
            error : onError,
            type : "GET"
        });
        return false;
    });
</script>
{%endblock%}
