{% extends 'user/home.html' %}
{%load cc_tags%}
{% block user_content %}
<div class="profile">
  <div>
    <form method="post" action="" id="my_profile_form" name="shipping_info_form">
    <table class="tbl_profile">
    {% if form.errors %}
    <tr><td colspan="2">
     <div class="error w350">
        <ul style="margin:0px;">
            {% for field in form %}
            {% for error in field.errors %}
                <li>{{error}}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
     {% endif %}
      <div id="error_after" class="error hidden">
      </div>
    <tr><td width="110">{{ form.full_name.label }}</td><td>{{ form.full_name }}</td></tr>
     <tr><td>{{ form.primary_phone.label }}</td><td>{{ form.primary_phone }}
     {%for error in errors%}{%if error == 'primary_phone'%}<span class="fred" width='300'>&nbsp; Phone No. already exists for another user.</span>{%endif%}{%endfor%}</td></tr>
      <tr><td>{{ form.secondary_phone.label }}</td><td>{{ form.secondary_phone }}
     {%for error in errors%}{%if error == 'secondary_phone'%} <span class="fred" width='300'>&nbsp; Alternate Phone No. already exists for another user.</span>{%endif%}{%endfor%}</td></tr>
       <tr><td>{{ form.primary_email.label }}</td><td>{{ form.primary_email }}
       {%for error in errors%}{%if error == 'email'%}<span class="fred">&nbsp; Email ID already exists for another user.</span>{%endif%}{%endfor%}</td></tr>
        <tr><td>{{ form.webpage.label }}</td><td>{{ form.webpage }}</td></tr>
        <tr><td>{{ form.twitter.label }}</td><td>{{ form.twitter }}</td></tr>
        <tr><td>{{ form.facebook.label }}</td><td>{{ form.facebook }}</td></tr>
        <tr><td>{{ form.date_of_birth.label }}</td><td>{{ form.date_of_birth }}</td></tr>
        <tr><td>{{ form.gender.label }}</td><td class="select_gender">{{ form.gender }}</td></tr>
        <tr><td></td>
        <td><input type="submit" value="" class="btn btn_save"></td>
        </tr>
    </table>

    </form>
  </div>
</div>
{%endblock%} 
