{% extends 'web/base.html' %}
{% block content %}
<!--<div class="breadcrumb">&nbsp;        
</div>-->
{% load cc_tags %}
{% load web_tags %}
<div class="user_info">
<div class="bgskyblue pad20">
<h1 class="flblue marb10">Change your password</h1>
<div class="mart10">
<form action="/user/resetpassword/" method='POST'>
{%if warn_it%}<div class="error" style="margin-top:5px;margin-bottom:10px;width:300px;">{{error}}</div>{%endif%}
<p>Please change your password for <strong>{{profile}}</strong>.</p>

<div><label for="set_pw" class="fdgray f11">Set Password</label><br />
<input type="password" id="password" name="password" value="{{password}}" />
</div>
<div><label for="con_pw" class="fdgray f11">Confirm Password</label><br />
<input type="password" id="cpassword" name="cpassword" value="{{cpassword}}" /></div>
<div><input style="display:none;" type="password" id="profile" name="profile" value="{{profile.id}}" /></div>

<div class="mart10"><button type="submit" class="btn btn_change_pw"></button></div>
<div><input style="display:none" type="text" id="code" name="code" value="{{profile.verify_code}}" /></div>
<div><input style="display:none" type="text" id="id" name="id" value="{{profile.id}}" /></div>

</form>
</div> 
  </div>  
</div>
{%endblock%}
