{% extends 'web/base.html' %}
{% block content %}
<!--<div class="breadcrumb">&nbsp; </div>-->
{% load cc_tags %}
{% load web_tags %}
<div class="user_info">
<div class="bgskyblue pad20">
  <h1 class="marb10 flblue">Order Status</h1>
  <p>You can track your individual order with your Order number and email/phone number used while booking.</p>
  <div class="mart10">  
    <div class="left padr20 w300">
     {%if errors%}
      <div class="error marb5 w250">
       {%for error in errors%}
        {{error}}<br/>
        {%endfor%}
        </div>
      {%endif%}
      <form action="/order/track_order" method='POST'>
        <div class="marb10"> <span class="fdgray">Order ID <span class="fred">*</span></span><br />
          <input type="text" name="order_id" />
        </div>
        {%if not request.user.is_authenticated%}
        <div class="marb5"> <span class="fdgray">Email or Mobile number<span class="fred">*</span></span><br />
          <input type="text" name="username"  />
        </div>
        {%endif%}
        <button type="submit" class="btn btn_track_order"></button>
      </form>
     </div>
    <div class="left padl20">
     {%if order_status%}
      <div class="success f18">Status of your Order is: {{order_status}}</div>
       {%endif%}
    </div>
    <div class="clear"></div>
  </div>
</div>
</div>
{%endblock%} 
