{% extends 'user/home.html' %}
{%load cc_tags%}
{%load web_tags%}
{%block user_content %}

<table cellpadding="0" cellspacing="0" border="0" style="border:none !important;">
    {%if wishlist%}
    
    <tr>
	<td style="width:67%;">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="bb"></td>
				<td class="bb"><b>Item</b></td>
				<td class="bb"><b>Price</b></td>
				<td class="bb"></td>
			</tr>
			{%for item in list_items%}
			<tr>
			     	<td style="border-bottom:1px dotted #999999;">
					<a href="{%cc_url request item.sku.product.url%}"><img src="{{item.sku.product.get_default_img}}" width="50px" height="50px"></a>
				</td>
				<td style="border-bottom:1px dotted #999999; max-width:200px">
					<b>{{item.sku.product.title}}</b><br />
					{% ifequal item.sku.stock_status 'instock' %}
						<span class="fgreen">IN STOCK</span>
					{% else %}
						<span class="fred">Out of STOCK</span>
					{% endifequal %}
					<br />
				</td>
				<td style="border-bottom:1px dotted #999999;">
					<span class="f12"><span class="WebRupee">Rs. </span>{% get_price_info request item.sku 'offer_price' %}</span><br />
					<span class="f11 fdgray">{% get_price_info request item.sku 'list_price_label' %} <s><span class="WebRupee">Rs. </span>{% get_price_info request item.sku 'list_price' %}</s><br />
					
				</td>
				<td style="border-bottom:1px dotted #999999;">
					<form method="post" action="{%cc_url request "orders/mycart" %}" id="add_to_cart_{{item.sku.id}}">
						<input type="hidden" name="rate_chart_id" value="{{item.sku.id}}"/>
						<input type="hidden" name="product_id" value="{{item.sku.product.id}}"/>
						<input type="hidden" name="action" value="add_to_cart"/>
						<button class="linkButton" type="submit" title="Add this item to my cart">Add to Cart</button>
					</form>	
				</td>
		        </tr>
			{%endfor%}
		</table>
	</td>

	<td style="width:33%;">
		<div style="float:left; padding-left:40px; width:250px;">
			<div style="width:38px; padding-top:2px;">
                <img class="left" height="38" width="37"
                {%if wishlist.curator.facebook%} 
                        src="http://graph.facebook.com/{{wishlist.curator.facebook}}/picture"
                {%else%}
                    src="{{MEDIA_URL}}images/user.jpeg"
                {%endif%} />
			</div>
		
			<div style="float:left; padding-left:10px; width:150px; overflow:hidden;">
				<div>
					<span style="vertical-align:top;"><B>{{wishlist.curator.full_name}}</B></span>
				</div>
			</div>
		</div>
    </td>
</tr>
    {%endif%}
</table>
<!--script>
    FB.api('/me', function(res1) {
        alert(res1.first_name);
        $.each(res1, function(key, value) { 
              alert(key + ': ' + value); 
          });
    }); 
</script-->
{%endblock%}
