<tr class="list_row">
    <td>
        <div class="action_container">
            <a href="/rms/ui/campaigns/{{campaign.id}}">{{campaign.name}}</a>
            <div class="actions">
                    <a href="/rms/ui/campaigns/{{campaign.id}}/responses/">Add Response</a>&nbsp;|&nbsp;
                    <a href="/rms/ui/campaigns/{{campaign.id}}/responses/upload">Upload Response</a>&nbsp;|&nbsp;
                    <a href="/rms/ui/campaigns/{{campaign.id}}/response_status">Add Response Status</a>
            </div>
        </div>
    </td>
    <td>{{campaign.brand}}</td>
    <td>{{campaign.status}}</td>
    <td>{{response_counts.closed}}</td>
    <td>{{response_counts.open}}</td>
</tr>

