<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block page_title %}Chaupaati Response Management{% endblock %}</title>
    {% block blueprint_css %}
    <link rel="stylesheet" href="{{MEDIA_URL}}rms/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{MEDIA_URL}}rms/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{MEDIA_URL}}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="{{MEDIA_URL}}rms/css/jquery-ui.css" type="text/css" media="screen">
    {% endblock %}
    {% block core_css %}
    <link rel="stylesheet" href="{{MEDIA_URL}}rms/css/styles.css" type="text/css" media="screen, projection">
    <link rel="shortcut icon" href="{{MEDIA_URL}}rms/images/favicon.ico"/>
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block jquery %}
    <script src="{{MEDIA_URL}}rms/js/jq/jquery.min.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}rms/js/jq/jquery-ui.min.js" type="text/javascript"></script>
    {% endblock %}
</head>

<body>
    {% load rms_tags %}
    <div class="container">
        <div class="span-24 last" id="header">
            <div class="span-3">
                <div id="logo">
                    <img src="{{MEDIA_URL}}rms/images/logo.gif" width="77px" height="40px" align="bottom"/>
                </div>
            </div>
            <div class="span-9" style="padding-top:25px;">
                {% block top_nav %} {% top_nav request %} {% endblock %}
            </div>
            <div class="span-12 last">
                <div id="login_logout">
                    {% if user.is_authenticated %}
                    Welcome {{user.first_name}} {{user.last_name}}<br/>
                    <a href="/accounts/change_password/">Change Password</a> | <a href="/accounts/logout/">Logout</a>
                    <input type="text" id="call_number" name="call_number"/><button type="submit" id="call_number_btn">Call</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span-24 last" id="content">
            {% block content %} {% endblock %}
        </div>
        <div class="span-24 last">
            <div  id="footer">
            {% if never %}
            <div id="footer_nav">
                <ul>
                    <li><a href="/ui/users/">Users</a></li>
                    <li><a href="/ui/vendors/">Vendors</a></li>
                    <li><a href="/ui/catalog/">Catalog</a></li>
                    <li><a href="/ui/analytics/">Analytics</a></li>
                </ul>
            </div>
            {% else %}
            Response Management System &copy; Chaupaati Bazaar
            {% endif %}
            </div>
        </div>
    </div>
    <div id="dialog">&nbsp;</div>
    <script type="text/javascript">
        {% block script_footer %}
        {% endblock %}
        $('#call_number_btn').click(function() {
            var onSuccess = function(data, textStatus, xhr) { 
                this.disabled = true;
                this.innerHTML = 'Called';
                //$('.close_wip').removeClass('hide');
                //$('.c2c').addClass('hide');
            };

            var onError = function(xhr, textStatus, error) {
                this.disabled = false;
                this.innerHTML = 'Call';
            };


            $.ajax({
                url:'/ui/call/' + $('#call_number')[0].value,
                type: 'POST',
                success: onSuccess,
                error: onError
                });
    });
    </script>
    <script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script> 
</body>
</html>
