{%load cc_tags%}
{%load web_tags%}
{% checkout_tabs request "cart" %}
<table cellpadding="0" cellspacing="0" id="cart" class="checkout_table">
{%if item_found_msg%}
    <tr>
        <td colspan="5">
            <div class="error">
                <ul style="margin:0px;">
                    {%for msg in item_found_msg%}
                        <li>{{msg}}</li>
                    {%endfor%}
                </ul>
            </div>
        </td>
    </tr>
{%endif%}
    <tr>
        {% if order.state|order_state_conf_or_mod %}
        <th><input type="checkbox" id="cancel_all"/></th>
        {%endif%}
        <th width="40%">Item</th>
        <th width="15%">Price</th>
        <th width="15%">Shipping</th>
        <th width="10%">Qty</th>
        <th width="15%" class="ra">Amount</th>
    </tr>
    {%for item in orderItems%}
    <tr> 
        {% if order.state|order_state_conf_or_mod %}
            {% if not item.state|item_state_canc_or_ref %}
                <td class="bb"><input type="checkbox" class="select_for_cancel" id="{{item.id}}" name="{{item.id}}"/></td>
            {% else %}
                <td class="bb"> <span class="f11 fdgray">{{item.state}}</span></td>
            {% endif %}
        {%endif%}
        <td class="bb">{{item.item_title}}<br />
        {% if not order.state|order_state_conf_or_mod_or_canc and not request.client.domain == 'phone.futurebazaar.com'%}
            <form method="post" action="">
                <input type="hidden" name="action" value="remove_cart_item"/>
                <input type="hidden" name="itemid" value="{{item.id}}"/>
                <button class="linkButton" title="Remove this item from your cart">remove</button>
            </form>
        {%endif%}
        {% if not request|is_cc and not request|is_future_ecom and request.user.is_authenticated and not order.state|order_state_conf_or_mod_or_canc %}
            <form method="post" action="/user/wishlist/">
                <input type="hidden" name="action" value="add_to_wishlist"/>
                <input type="hidden" name="itemid" value="{{item.id}}"/>
                <input type="hidden" name="next" value="{{request.path}}"/>
                 <button class="linkButton" type="submit" title="Move this item to your wishlist and buy later">Move to wishlist</button>&middot;
            </form>
        {%endif%}
        {%if request|is_future_ecom %}
        <b>FBID:</b>{{item.seller_rate_chart.sku}}
        {%endif%}
            
        </td>
        <td class="bb">
            <span class="f12">{{item.seller_rate_chart.product.formatted_currency}} {{item.seller_rate_chart.offer_price|money}}</span>
            {%if item.seller_rate_chart.list_price > item.seller_rate_chart.offerPrice %}<br/><span class="f11 fdgray">MRP <strike>{{item.seller_rate_chart.product.formatted_currency}} {{item.seller_rate_chart.list_price|money}}</strike></span>{%endif%}
        </td>
        <td class="bb">{%if item.shipping_charges%}Rs. {{item.shipping_charges|money}}{%else%}{{item.seller_rate_chart.product.formatted_currency}} 0<br/><span class="f11 fdgray">Free shipping</span>{%endif%}</td>
        <td class="bb">
            {% if not order.state|order_state_conf_or_mod_or_canc and not request.client.domain == 'phone.futurebazaar.com'%}
                <form method="post" action="">
                <input type="hidden" value="update_cart_item" name="action"/>
                <input type="hidden" value="{{item.id}}" name="itemid"/>
                <input size="2" type="text" class="item_qty" id="{{item.id}}_qty" name="{{item.id}}_qty" value="{{item.qty}}"/><br/>
                <button type="submit" class="linkButton update_qty" title="Update quantity">update</button>
            </form>
            {%else%}
                <span>{{item.qty}}</span>   
            {%endif%}
        </td>
        <td valign="top" class="bb ra"><span class="fb f12">{{item.seller_rate_chart.product.formatted_currency}} {{item.sale_price|money}}</span></td>
    </tr>
    {%endfor%}
    {% ifnotequal order.state 'cancelled' %}
    {% if not order.state|order_state_conf_or_mod %}
    <tr class="total">
        <td {%if order.state|order_state_conf_or_mod %}colspan="6"{%else%} colspan="5"{%endif%} class="ra"><span class="f14">Total amount you need to pay: &nbsp;</span><span class="fb fmaroon f14" id="oPayableAmount">Rs. {{order.payable_amount|money}}</span></td>
    </tr>
    {% endif %}
    <tr>
        <td {%if order.state|order_state_conf_or_mod %}colspan="6"{%else%} colspan="5"{%endif%} class="ra">
            <form method="post" action="{% cc_url request next_action %}" id="next_action">
                {%if order.state|order_state_conf_or_mod %}
                <input type="hidden" id="cancelled_items" name="cancelled_items"/>
                <div style="height:30px">
                <input type="image" id="proceed" style="display:none;"  name="Proceed" src="{{MEDIA_URL}}images/pixel.gif" class="btn_proceed right"
                 title="Proceed to Shipping" />
                </div>
                {%else%}
                <input type="image" id="proceed" name="Proceed" src="{{MEDIA_URL}}images/pixel.gif" class="btn_proceed" title="Proceed to Shipping" />
                {%endif%}
            </form>
        </td>
    </tr>
    {% endifnotequal %}
</table>

{%if not order.state|order_state_conf_or_mod_or_canc and not request.client.domain == 'phone.futurebazaar.com'%}
<div class="f14 fb" style="padding-left:5px;">
    <img src="{{MEDIA_URL}}images/plus-12x12.gif" alt=""/> <a href="{% cc_url request "" %}" title="Continue shopping, add more items to your cart">Add more items</a> to your cart
</div>
{%endif%}

{% block script_footer %}
<script type="text/javascript">
    $('#cart_proceed_to_shipping').click(function () {
            $('#next_action').submit();
            return false;
            });
    $('#cancel_all').click(function(){
        $('.select_for_cancel').each(function(){
            if($('#cancel_all').attr('checked') == true)
            {
                this.checked=true;
                $('#proceed').css('display','block');
            }
            else
            {
                this.checked=false;
                $('#proceed').css('display','none');
            }
        });
    });
    $('#proceed').click(function(){
        var items =[]
        $('.select_for_cancel').each(function(){
            if(this.checked == true){
                items.push(this.id);
            }
            $('#cancelled_items').val(items);
        });
         
    });
    $('.select_for_cancel').click(function(){
        if(!this.checked){
            $('#cancel_all').attr('checked',false);
        }
        var all_checked = true;
        var atleast_one_checked = false;
        $('.select_for_cancel').each(function(){
            if(!this.checked)
                all_checked = false;
            else
                atleast_one_checked = true;
        });
        if(all_checked)
            $('#cancel_all').attr('checked',true);
        if(atleast_one_checked)
            $('#proceed').css('display','block');
        else
            $('#proceed').css('display','none');
    });
</script>
{% endblock %}
