                 
                {% if card_form.errors %}
                <div>                   
                            <div class="error">
                                <ol>
                                {% for field in card_form %}
                                {% for error in field.errors %}
                                    <li>{{error}}</li>
                                {% endfor %}
                                {% endfor %}
                                </ol>
                            </div>                   
                </div>
                {% endif %}
                <table>   
                    <tr>
                        <td width="142" class="ra fb">
                            <span class="label">Credit Card Bank</span>
                        </td>
                        <td>
                            <label style="font-weight:normal;">
                            <input type="radio" name="bank" value="hdfc" checked="checked" style="vertical-align:top;">
                            <img src="{{MEDIA_URL}}images/hdfc_logo.gif" height="16"/> </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="ra fb"> 
                            <span class="label">EMI Plan</span>
                        </td>
                        <td>             
                            <label style="font-weight:normal;">
                            <input type="radio" name="emi_plan" checked="checked" value="3" style="vertical-align:top; ">
                            3 months</label>
                            &nbsp;&nbsp;
                            <label style="font-weight:normal;">
                            <input type="radio" name="emi_plan" value="6" style="vertical-align:top;">
                            6 months </label>&nbsp;&nbsp; 
                            <label style="font-weight:normal;">
                            <input type="radio" name="emi_plan" value="9" style="vertical-align:top;">
                            9 months</label>
                        </td>
                    </tr>   
                    <tr>
                        <td class="ra fb">
                            <span class="label">Card Type</span>
                        </td>
                        <td>        
                            <label>
                            <input type="radio" name="cardtype" checked="checked" value="visa-card" style="vertical-align:top;">
                            <img src="{{MEDIA_URL}}images/visa.gif" height="16"/> </label>
                            &nbsp;&nbsp;
                            <label>
                            <input type="radio" name="cardtype" value="master-card" style="vertical-align:top;">                  
                            <img src="{{MEDIA_URL}}images/master_card25.gif" height="16"/></label>  
                        </td>
                    </tr>
                {% include "order/card_form.html"%}
             </table>
             <script type="text/javascript">
                $('#cvv_info').click(function(){
                    $.get(this.href, function(data){
                        $('#shipping_dialog').html(data);
                        var dialog = $('#shipping_dialog').dialog({model:true,
                            title:'CVV Information',
                            width:500
                            });
                    });
                    return false;
                });
             </script>
