              <!--debit card-->
                {% if card_form.errors %}
                <div>                   
                            <div class="error">
                                <ol>
                                {% for field in card_form %}
                                {% for error in field.errors %}
                                    <li>{{error}}</li>
                                {% endfor %}
                                {% endfor %}
                                </ol>
                            </div>                   
                </div>
                {% endif %}
                 <table>  
                    <tr><td class="ra fb"><span class="label">Issuing Bank</span></td>
                        <td>
                        <select title="Issuing bank" class="required" name="issuing_bank" id="id_issuingBank">
                                        <option value="0">Select your issuing bank</option>
                                        <optgroup label="Popular banks">
                                            <option value="5">HDFC</option>
                                            <option value="6">ICICI Bank</option>
                                            <option value="9">Axis Bank</option>
                                            <option value="8">Standard Chartered</option>
                                            <option value="15">Canara Bank</option>
                                            <option value="39">SBI ATM-cum-DEBIT Card</option>
                                            <option value="1">ABN Amro</option>
                                    </optgroup>
                                    <optgroup label="All banks">
                                            <option value="10">Andhra Bank</option>
                                            <option value="3">Barclays</option>
                                            <option value="4">CitiBank</option>
                                            <option value="207">City Union Bank</option>
                                            <option value="131">Corporation Bank</option>
                                            <option value="212">Cosmos Coop Bank Visa cards</option>
                                            <option value="32">Deutsche Bank</option>
                                            <option value="132">GE Countrywide</option>
                                            <option value="31">HSBC</option>
                                            <option value="171">IDBI Bank</option>
                                            <option value="172">Indian Overseas Bank</option>
                                            <option value="195">IndusInd Bank</option>
                                            <option value="151">Karur Vyasa Bank</option>
                                            <option value="211">Kotak bank</option>
                                            <option value="71">State Bank of India</option>
                                            <option value="91">Syndicate Bank</option>
                                            <option value="111">Union Bank of India</option>
                                            <option value="198">United Bank of India</option>
                                            <option value="271">Yes Bank</option>
                                    </optgroup>
                            </select>
                        </td>
                    </tr>
                    {%include "order/card_form.html" %}
             </table>
             <script type="text/javascript">
                $('#cvv_info').click(function(){
                    $.get(this.href, function(data){
                        $('#shipping_dialog').html(data);
                        var dialog = $('#shipping_dialog').dialog({model:true,
                            title:'CVV Information',
                            width:500
                            });
                    });
                    return false;
                });
             </script>
              <!--end debit card-->
